<div class="row" ng-repeat="group in source.groups">
	<h2 ng-if="group.users.length">[[group.translatedName]]</h2>
	<div class="dominos centered-text">
		<div class="item" ng-repeat="user in group.users | orderBy: 'displayName'">
			<section class="domino overflow-hd" ng-class="colorFromType(user.profile != null ? user.profile : user.type)" ng-click="viewUserInfos(user.id)">
				<div class="top">
					<img ng-src="/userbook/avatar/[[user.id]]?thumbnail=290x290" class="ten cell" />
				</div>
			
				<div class="center">
					<span translate content="directory.[[getType(user.profile != null ? user.profile : user.type).toLowerCase()]]"></span>
				</div>
			
				<div class="bottom">
					<div class="content">
						<div class="multiline-ellipsis-three">
							<span>[[user.displayName]]</span>
						</div>
						<div class="bottom-locked">
							<i class="[[user.mood]]" ng-if="user.mood != 'default'"></i>
							<a ng-href="/conversation/conversation#/write-mail/[[user.id]]"
								ng-if="classView == true">
								<i class="send-mail"></i>
							</a>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
