<div class="row" ng-repeat="group in source.groups">
	<h2 ng-if="group.users.length">[[group.translatedName]]</h2>
	<div class="dominos">
		<div class="item" ng-repeat="user in group.users">
			<section class="domino" ng-class="colorFromType(user.profile)">
				<div class="top" ng-click="viewUserInfos(user.id)">
					<img ng-src="/userbook/avatar/[[user.id]]?thumbnail=290x290" class="fixed twelve cell" />
				</div>
				<div class="bottom">
					<div class="content">
						<a ng-click="viewUserInfos(user.id)">[[user.displayName]]</a>
						<br /><span class="medium-text" translate content="directory.[[user.type.toLowerCase()]]"></span>
						<div class="mood three">
							<i class="liquid [[user.mood]]"></i>
						</div>
						<div class="bottom-locked">
							<a ng-href="/conversation/conversation#/write-mail/[[user.id]]"><i class="send-mail"></i></a>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
