<div class="schedule">
	<legend class="timeslots">
		<div ng-repeat="timeslot in calendar.timeSlots.all" class="timeslot">
			[[timeslot.beginning]]h00 - [[timeslot.end]]h00
		</div>
	</legend>
	<div class="days">
		<div ng-repeat="day in calendar.days.all" class="day">
			<legend>[[day.name]]</legend>
			<div class="timeslots">
				<div ng-repeat="timeslot in day.timeSlots.all" class="timeslot"></div>
			</div>

			<div class="schedule-items">
				<div ng-repeat="scheduleItem in day.scheduleItems.all" class="schedule-item" ng-style="{ top: ((scheduleItem.startTime - 7) * 40) + 'px',
				height: ((scheduleItem.endTime - scheduleItem.startTime) * 40) + 'px' }">
					<container template="schedule-display-template"></container>
				</div>
			</div>
		</div>
	</div>


	<lightbox>
		<container template="schedule-edit-template"></container>
	</lightbox>
	<lightbox>
		<container template="schedule-create-template"></container>
	</lightbox>
</div>