<div class="week-switcher">
	<date-picker-icon ng-model="calendar.dayForWeek" ng-change="updateCalendarWeek()" class="cell"></date-picker-icon>
	<div class="cell">[[calendar.firstDay.format('DD/MM')]] au [[moment(calendar.firstDay).add(6, 'days').format('DD/MM')]]</div>
</div>
<div class="schedule" drawing-zone>
	<legend class="timeslots">
		<div ng-repeat="timeslot in calendar.timeSlots.all" class="timeslot">
			[[timeslot.beginning]]h00 - [[timeslot.end]]h00
		</div>
	</legend>
	<div class="days">
		<div ng-repeat="day in calendar.days.all" class="day">
			<legend translate content="[[day.name]]"></legend>
			<div class="timeslots">
				<div ng-repeat="timeslot in day.timeSlots.all" class="timeslot" ng-click="createItem(day, timeslot)"></div>
			</div>

			<div class="schedule-items">
				<div ng-repeat="item in day.scheduleItems.all">
					<schedule-item item="scheduleItem" day="day"></schedule-item>
				</div>
			</div>
		</div>
	</div>
	<div class="row"></div>

	<lightbox show="display.editItem" on-close="display.editItem = false;">
		<container template="schedule-edit-template"></container>
	</lightbox>
	<lightbox show="display.createItem" on-close="display.createItem = false;">
		<container template="schedule-create-template"></container>
	</lightbox>
</div>