<section class="row media-library" ng-controller="MediaLibrary">
	<h2>Recherche de documents</h2>
	<section class="twelve cell tabs row">
		<header ng-class="{ selected: display.show === 'upload' }"
				ng-click="show('upload')">
			Charger un document
		</header>
		<header
			ng-class="{ selected: display.show === 'browse' }"
			ng-click="show('browse')">
			Parcourir mon espace personnel
		</header>
		<section class="medium-text" ng-include="'/infra/public/template/media-library-' + display.show + '.html'">

		</section>
	</section>
</section>