		<div ng-controller="Share" class="share">
			<div class="row line">
				<h3>[[translate('share.title')]]</h3>
				<div class="block">
					<div class="warning" ng-if="varyingRights">
						[[translate('share.varyingrights')]]
					</div>
				</div>

				<table>
					<thead>
						<th></th>
						<th ng-repeat="action in actions | orderBy:'priority'">[[translate(action.displayName)]]</th>
						<th></th>
					</thead>
					<tbody>
						<tr>
							<td>moi</td>
							<td ng-repeat="action in actions | orderBy:'priority'">
								<label class="checkbox"><input type="checkbox" checked disabled /><span></span></label>
							</td>
							<td></td>
						</tr>
						<tr ng-repeat="item in sharingModel.edited | orderBy:'index':true | limitTo:maxEdit">
							<td>[[item.name]][[item.firstName]] [[item.lastName]]</td>
							<td ng-repeat="action in actions | orderBy:'priority'">
								<label class="checkbox">
								<input type="checkbox" ng-model="item.actions[action.displayName]" ng-change="saveRights(item, action)" />
								<span></span>
								</label>
							</td>
							<td class="drop-line" ng-click="remove(item)"></td>
						</tr>
					</tbody>
				</table>
				<a ng-click="displayMore()" ng-if="sharingModel.edited.length > maxEdit" class="display-more">[[translate('share.more')]]</a>
			</div>
			<div class="row">
				<h3>[[translate('share.search.title')]]</h3>
				<input type="text" ng-model="search" ng-change="findUserOrGroup()" translate-attr="placeholder" placeholder="share.search.placeholder" />
				<div>
					<div ng-repeat="item in found | limitTo:maxResults | orderBy:'lastName'" class="row autocomplete">
						<em ng-click="addEdit(item)">[[item.name]][[item.lastName]] [[item.firstName]]</em>
					</div>
					<h3 ng-if="found.length > maxResults">
						<a ng-click="addResults()">[[translate('seemore')]]</a>
					</h3>
				</div>
				<hr />
			</div>
		</div>