<!--

 -->

<div class="share">
	<div class="row line">
		<h2><i18n>share.title</i18n></h2>
		<div class="block" ng-if="varyingRights">
			<div class="warning">
				<i18n>share.varyingrights</i18n>
			</div>
		</div>

		<div class="groups-list">

			<div>
				<ng-include src="shareTable"></ng-include>
			</div>

			<a ng-click="displayMore()" ng-if="sharingModel.edited.length > maxEdit" class="display-more"><i18n>share.more</i18n></a>
		</div>
	</div>



	<div class="row">
		<h2>[[translate('share.search.title')]]</h2>
		<search-user class="twelve cell" 
			ng-model="search"
			clear-list="clearSearch()"
			on-send="findUserOrGroup()">
		</search-user>
		<div class="found-users-list">
			<div ng-repeat="item in found | limitTo:maxResults | orderBy:'lastName'" class="row autocomplete">
				<em ng-click="addEdit(item)" class="row">
					<span class="cell reduce-block-two">[[item.name]][[item.lastName]] [[item.firstName]]</span>
					<em class="low-importance cell">[[translate(item.profile)]] </em>
					<em class="low-importance cell"> [[item.login]]</em>
					<div class="row"></div>
				</em>
			</div>
			<div class="row">
				<a ng-click="addResults()" ng-if="found.length > maxResults" class="right-magnet reduce-block-four">
					<i18n>seemore</i18n>
				</a>
			</div>
		</div>
	</div>
</div>
