		<div ng-controller="Share" class="share">
			<div class="row line">
				<h3>[[translate('share.title')]]</h3>
				<table>
					<thead>
						<th></th>
						<th ng-repeat="action in sharing.actions">[[translate(action.displayName)]]</th>
						<th></th>
					</thead>
					<tbody>
						<tr ng-repeat="item in edited | limitTo:maxEdit | orderBy:'index':true">
							<td>[[item.name]][[item.firstName]] [[item.lastName]]</td>
							<td ng-repeat="action in sharing.actions">
								<label>
								<input type="checkbox" ng-model="item.actions[action.displayName]" ng-change="saveRights(item)" />
								<span></span>
								</label>
							</td>
							<td class="drop-line" ng-click="remove(item)"></td>
						</tr>
					</tbody>
				</table>
				<a ng-click="displayMore()" ng-if="edited.length > maxEdit" class="display-more">[[translate('share.more')]]</a>
			</div>
			<div class="row">
				<h3>[[translate('share.search.title')]]</h3>
				<input type="text" ng-model="search" ng-change="findUserOrGroup()" translate-attr="placeholder" placeholder="share.search.placeholder" />
				<div>
					<div ng-repeat="item in found | limitTo:5" class="row autocomplete">
						<em ng-click="addEdit(item)">[[item.name]][[item.firstName]] [[item.lastName]]</em>
					</div>
				</div>
				<hr />
			</div>
		</div>