<div class="nextcloud" ng-if="userInfo">
    <!-- nextcloud folder tree -->
    <folder-tree
        id="nextcloud-folder-tree"
        tree-props="folderTree"
        dragdrop="droppable.dragDropHandler($originalEvent)"
    >
    </folder-tree>

    <!-- nextcloud navigation contents -->
    <!-- Triggers moved to the page header; these popups stay here since that's what the header buttons actually open. -->
    <div class="nextcloud-content">
        <div id="nextcloud-folder-create" ng-show="selectedFolder">
            <div
                ng-include="'/workspace/public/template/nextcloud/folder/folder-creation.html'"
            ></div>
            <div
                ng-include="'/workspace/public/template/nextcloud/folder/empty-trash.html'"
            ></div>
        </div>
    </div>
    <!-- Mobile footer moved to workspace.html: its CSS "order: 999" only works as a direct child of nav.vertical[side-nav]. -->
</div>
