<ode-panel-section section-title="users.connection.section.infos" [folded]="false">
  <div class="message is-info" *ngIf="isForbidden">
    <div class="message-body">&nbsp;<s5l>notify.user.email.info</s5l></div>
  </div>
  
  <form #loginForm="ngForm">
    <fieldset>
      <ode-form-field label="login">
        <span *ngIf="isAdmc == false">{{ details.login }}</span>
        <div *ngIf="isAdmc">
          <input
            type="text"
            [(ngModel)]="details.login"
            name="login"
            [pattern]="loginAliasPattern"
            #loginInput="ngModel"
            (ngModelChange)="isUpdateLoginSaved = false"
            maxlength="64"
          />
          <button
            type="button"
            (click)="showChangeLoginConfirmation = true"
            [disabled]="
              isUpdateLoginSaved ||
              loginForm.pristine ||
              loginForm.invalid ||
              spinner.isLoading('portal-content')
            "
          >
            <s5l>login.update</s5l>
            <i class="fa fa-floppy-o"></i>
          </button>
          <ode-form-errors
            [control]="loginInput"
            [expectedPatternMsg]="'form.user.alias.pattern' | translate"
          >
          </ode-form-errors>
          <ode-lightbox-confirm
            [show]="showChangeLoginConfirmation"
            [lightboxTitle]="'warning'"
            (onConfirm)="updateLogin(); showChangeLoginConfirmation = false"
            (onCancel)="showChangeLoginConfirmation = false"
          >
            <p>
              <s5l>user.change.login.disclaimer.confirm</s5l>
            </p>
          </ode-lightbox-confirm>
        </div>
      </ode-form-field>
    </fieldset>
  </form>

  <form #mailForm="ngForm">
    <fieldset>
      <ode-form-field label="email">
        <div>
          <input 
            type="email" 
            [(ngModel)]="email" 
            name="email" 
            [disabled]="isForbidden || isMyAdmlAccount"
            #emailInput="ngModel" 
            [pattern]="emailPattern" 
            (ngModelChange)="isUpdateMailSaved = false"
          />
          <ode-form-errors [control]="emailInput"></ode-form-errors>
          <button
            type="button"
            (click)="updateMail()"
            [disabled]="
              (isUpdateMailSaved ||
              mailForm.pristine ||
              mailForm.invalid ||
              spinner.isLoading('portal-content') ||
              isForbidden) 
              && !isMyAdmlAccount
            ">
            <s5l *ngIf="!isMyAdmlAccount">save</s5l>
            <s5l *ngIf="isMyAdmlAccount">edit</s5l>
            <i *ngIf="!isMyAdmlAccount" class="fa fa-floppy-o"></i>
            <i *ngIf="isMyAdmlAccount" class="fa fa-pencil"></i>
          </button>
        </div>
      </ode-form-field>
    </fieldset>
  </form>

  <form #connectionForm="ngForm">
    <fieldset>
      <ode-form-field label="loginAlias">
        <div>
          <input
            type="text"
            [(ngModel)]="details.loginAlias"
            name="loginAlias"
            [pattern]="loginAliasPattern"
            #loginAliasInput="ngModel"
            [disabled]="isForbidden"
            maxlength="64"
          />
          <button
            type="button"
            (click)="updateLoginAlias()"
            [disabled]="
              connectionForm.pristine ||
              connectionForm.invalid ||
              spinner.isLoading('portal-content')
            "
          >
            <s5l>login.update</s5l>
            <i class="fa fa-floppy-o"></i>
          </button>
          <ode-form-errors
            [control]="loginAliasInput"
            [expectedPatternMsg]="'form.user.alias.pattern' | translate"
          >
          </ode-form-errors>
        </div>
      </ode-form-field>
    </fieldset>
  </form>

  <form>
    <fieldset>
      <ode-form-field label="activation.code" *ngIf="details.activationCode">
        <span>{{ details.activationCode }}</span>
      </ode-form-field>
      <ode-form-field label="mergeKey" *ngIf="user.type === 'Relative'">
        <div>
          <span *ngIf="details.mergeKey">{{ details.mergeKey }}</span>
          <button
            type="button"
            class="noflex"
            *ngIf="!details.mergeKey"
            (click)="generateMergeKey()"
            [disabled]="user.deleteDate != null"
          >
            <s5l>generate</s5l>
            <i class="fa fa-cog"></i>
          </button>
        </div>
      </ode-form-field>
      <ode-form-field label="mergedLogins" *ngIf="details.mergedLogins && details.mergedLogins.length" >
        <div>
          <button type="button" class="noflex"
                  (click)="showMergedLogins = true">
            <s5l>mergedLogins.view</s5l>
            <i class="fa fa-eye"></i>
          </button>

          <ode-lightbox class="merge-info" [show]="showMergedLogins" (onClose)="showMergedLogins = false">
            <h2><s5l [s5l-params]="{displayName: details.displayName}">mergedLogins.box.title</s5l></h2>
            <div>
              <div *ngIf="isAdmc" class="message is-info">
                <div class="message-body">&nbsp;<s5l>mergedLogins.box.content</s5l></div>
              </div>
              <ul>
                <li *ngFor="let item of details.mergedLogins">
                  <div class="is-display-flex has-space-between has-align-items-center">
                    <div>{{ item }}</div>
                    <button type="button" class="button is-primary" *ngIf="isAdmc" (click)="unmerge(item)">
                      <s5l>mergedLogins.unmerge</s5l>
                      <i class="fa fa-scissors"></i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </ode-lightbox>
        </div>
      </ode-form-field>
    </fieldset>
  </form>
  <form>
    <fieldset>
      <ode-form-field
        label="send.reset.password"
        *ngIf="!details.activationCode"
      >
        <div>
          <div class="sendPassword">
            <input
              type="email"
              [(ngModel)]="passwordResetMail"
              name="passwordResetMail"
              [attr.placeholder]="
                'send.reset.password.email.placeholder' | translate
              "
              #passwordMailInput="ngModel"
              [pattern]="emailPattern"
              [disabled]="isForbidden"
            />
            <button
              type="button"
              (click)="sendResetPasswordMail(passwordResetMail)"
              [disabled]="!passwordResetMail || passwordMailInput.errors || isForbidden"
            >
              <span><s5l>send.reset.password.button</s5l></span>
              <i class="fa fa-envelope"></i>
            </button>
          </div>

          <div class="sendPassword" *ngIf="smsModule">
            <input
              type="tel"
              [(ngModel)]="passwordResetMobile"
              name="passwordResetMobile"
              [attr.placeholder]="
                'send.reset.password.mobile.placeholder' | translate
              "
              #passwordMobileInput="ngModel"
              [disabled]="isForbidden"
            />
            <button
              type="button"
              class="mobile"
              (click)="sendResetPasswordMobile(passwordResetMobile)"
              [disabled]="!passwordResetMobile || passwordMobileInput.errors || isForbidden"
            >
              <span><s5l>send.reset.password.button</s5l></span>
              <i class="fa fa-mobile"></i>
            </button>
          </div>
        </div>
      </ode-form-field>
    </fieldset>
  </form>

  <form #homePhoneForm="ngForm">
    <fieldset>
      <ode-form-field label="homePhone" *ngIf="!config['hide-personal-data']">
        <div>
          <input type="tel" [(ngModel)]="details.homePhone" name="homePhone" [disabled]="isForbidden" (ngModelChange)="isHomePhoneSaved = false" />
          <button
            type="button"
            (click)="updateHomePhone()"
            [disabled]="
              isHomePhoneSaved ||
              homePhoneForm.pristine ||
              homePhoneForm.invalid ||
              isForbidden ||
              spinner.isLoading('portal-content')
            "
          >
            <s5l>save</s5l>
            <i class="fa fa-floppy-o"></i>
          </button>
        </div>
      </ode-form-field>
    </fieldset>
  </form>

  <form #mobileForm="ngForm">
    <fieldset>
      <ode-form-field label="mobilePhone" *ngIf="!config['hide-personal-data']">
        <div>
          <input type="tel" 
            [(ngModel)]="details.mobile" 
            name="mobile" 
            [disabled]="isForbidden || isMyAdmlAccount" 
            (ngModelChange)="isMobileSaved = false"/>
          <button
            type="button"
            (click)="updateMobile()"
            [disabled]="
              (isMobileSaved ||
              mobileForm.pristine ||
              mobileForm.invalid ||
              isForbidden ||
              spinner.isLoading('portal-content'))
              && !isMyAdmlAccount
            "
          >
            <s5l *ngIf="!isMyAdmlAccount">save</s5l>
            <s5l *ngIf="isMyAdmlAccount">edit</s5l>
            <i *ngIf="!isMyAdmlAccount" class="fa fa-floppy-o"></i>
            <i *ngIf="isMyAdmlAccount" class="fa fa-pencil"></i>
          </button>
        </div>
      </ode-form-field>
    </fieldset>
  </form>

  <form>
    <fieldset>
      <ode-form-field
        label="password.renewal.code"
        *ngIf="!details.activationCode"
      >
        <div>
          <button type="button" (click)="clickOnGenerateRenewalCode()" [disabled]="isForbidden">
            <span><s5l>generate.password.renewal.code</s5l></span>
          </button>
          <span *ngIf="renewalCode">
            <s5l
              *ngIf="
                config['reset-code-delay'] && config['reset-code-delay'] > 0
              "
              [s5l-params]="{
                numberOfDays: millisecondToDays(config['reset-code-delay'])
              }"
              >generated.password.renewal.code.with.lifespan</s5l
            >
            <s5l *ngIf="config['reset-code-delay'] == 0"
              >generated.password.renewal.code</s5l
            >
            : {{ renewalCode }}</span
          >
        </div>
      </ode-form-field>

      <ode-form-field label="massmail">
        <div>
          <button type="button" (click)="sendIndividualMassMail('pdf')">
            <span><s5l>individual.massmail.pdf</s5l></span>
            <i class="fa fa-file-pdf-o"></i>
          </button>
          <button
            type="button"
            (click)="showMassMailConfirmation = true"
            [disabled]="!details.email"
          >
            <span><s5l>individual.massmail.mail</s5l></span>
            <i class="fa fa-envelope"></i>
          </button>
          <ode-lightbox-confirm
            [show]="showMassMailConfirmation"
            [lightboxTitle]="'warning'"
            (onConfirm)="sendIndividualMassMail('mail')"
            (onCancel)="showMassMailConfirmation = false"
          >
            <s5l>individual.massmail.confirm</s5l>
          </ode-lightbox-confirm>
        </div>
      </ode-form-field>
    </fieldset>
  </form>
</ode-panel-section>
