{
    "name": "{{ entcoreFeederVersion }}",
    "priority": 59,
    "worker": true,
    "config": {
        "mode": "{{ modeFeeder|default('prod') }}",
        {% if oldMailer is defined and oldMailer %}
        "emailConfig":{
            "email": "{{fromEmail}}",
            "host": "https://{{ host }}",
            "type": "SendInBlue",
            "api-key": "{{sendInBlueApiKey}}",
            "uri": "https://api.sendinblue.com:443",
            "split-recipients" : true,
            "ip": "{{sendInBlueApiIp}}"
        },
        {% endif %}
        {% if csrfToken %}"csrf-token": true,{% endif %}
        "neo4j-address": "wse.neo4j.persistor",
        "apply-communication-rules": true,
        "aafNeo4jPlugin": false,
        "store-delete-user-event": {{ storeDeleteUserEvent | default('false') }},
        "exclude-mark-duplicates-by-source" : ["CSV"],
        "import-files": "{{ importAAF }}",
        "execute-merge-ine": {{ executeMergeIne | default('true') }},
		"support-perseducnat-1d-2d": {{ supportPerseducnat1d2d | default('false') }},
        {% if feederCsvConfig is defined %}
        "csv" : {{feederCsvConfig}},
        "feeder" : "BE1D",
        {% else %}
        "feeder": "AAF",
            {% if feederImport is defined and feederImport %}
        "imports":{
                {% if aafCron is defined %}
            "AAF": {
                "files" : "{{aafHome}}",
                "auto-export": false,
                "cron" : "{{ aafCron }}"
            }
                {% endif %}
            {% if aafCron is defined and aaf1dCron is defined %},{% endif %}
                {% if aaf1dCron is defined %}
            "AAF1D": {
                "files" : "{{aaf1dHome}}",
                "cron" : "{{ aaf1dCron }}"
            }
                {% endif %}
        },
            {% endif %}
            {% if ha and wsCallAfterImport is defined %}
        "ws-call-after-import": {{ wsCallAfterImport }},
            {% endif %}
            {% if edtKey is defined %}
        "edt" : {
            "pronote-private-key" : "{{ edtKey }}"
        },
            {% endif %}
            {% if udtAutoImport is defined %}
        "udt": {{ udtAutoImport }},
            {% endif %}
		    {% if crossSourceFunctionalGroup is defined %}
        "cross-source-functional-group-match": {{ crossSourceFunctionalGroup }},
            {% endif %}
            {% if not(ha) or item == 'jobs' %}
        "ignore-empty-statements-error": true,
        "timetable-report-erase-cron": "0 45 0 * * ? *",
        "timetable-report-erase-after-seconds": 7776000,
		"log-details": {{ feederLogDetails | default('false') }},
                {% if preDeleteByProfile is defined %}
        "pre-delete" : {{ preDeleteByProfile }},
                {% else %}
        "pre-delete-cron" : "0 0 5 * * ? *",
                    {% if deleteUserDelay is defined %}
        "delete-user-delay": {{ deleteUserDelay }},
                    {% endif %}
                {% endif %}
        "delete-cron" : "{{ deleteCron|default('0 30 5 * * ? *') }}",
            {% else %}
        "pre-delete-cron" : "0 0 3 11 11 ? 2099",
        "delete-cron" : "0 30 5 * * ? 2099",
            {% endif %}
        {% endif %}
        "mongodb": true,
        {% if sendReport is defined %}"sendReport": {{ sendReport }},{% endif %}
        {% if vieScolaireVersion is defined %}"publish-classes-update":["AAF"],{% endif %}
        {% if importPersonInCharge is defined %}"import-person-in-charge": {{ importPersonInCharge }},{% endif %}
        "auto-export": false,
        {% if activeUserFromOldPlatform is defined %}"active-user-from-old-platform": {{ activeUserFromOldPlatform }},{% endif %}
        "udt-user-creation" : false,
        "exporter": "ELIOT",
        "export-path": "/tmp",
        "delete-export" : {{ eliotDeleteExport|default('false') }},
        "export-destination": ""
    }
}