{
    "name": "{{ entcorePortalVersion }}",
    "priority": 57,
    "config": {
        "port": 8017,
        "auto-redeploy": false,
        {% if ha and portalInstance is defined %}
        "instances": {{ portalInstance }},
        {% endif %}
        {% if portalNeo4jCheck is defined and portalNeo4jCheck %}
        "neo4jConfigOverride":{
            "email-alerts-subject": "{{ portalNeo4jCheckEmailSubject | default('[NEO4J] Noeuds down: ') }}",
            "notification-enable": true,
            "optimized-check-active": true
            {% if ha and portalNeo4jCheckEmails is defined %},
            "email-alerts-dest": {{ portalNeo4jCheckEmails | default('[]') }}
            {% endif %}
        },
        {% endif %}
        "ssl": true,
        "app-type" : "SYSTEM",
        {% if overrideTheme %} "override-theme": {}, {% endif %}
        {% if smartBanner is defined %} "smartBanner": {{ smartBanner }}, {% endif %}
        {% if csrfToken %}"csrf-token": true,{% endif %}
        "mode": "prod",
        "assets-path": "{{ assetsPath|default('/srv/vertx/entcore') }}",
        "path-prefix": "",
        "root-page": "{{ rootPage | default('/timeline/timeline') }}",
        "urls": {
          "userbook": "/userbook",
          "auth": "/auth",
          "portal": "/",
          "logoutCallback": "{{ logoutCallback|default('') }}"
        },
        "admin-urls": [
        {
          "name": "directory",
          "url": "/directory/admin-console"
        },
        {
          "name": "appRegistry",
          "url": "/appregistry/admin-console"
        },
        {
          "name": "communication",
          "url": "/communication/admin-console"
        },
        {
          "name": "wizard",
          "url": "/directory/wizard"
        },
        {
          "name": "timeline.history",
          "url": "/timeline/admin-history"
        },
        {
          "name": "timeline",
          "url": "/timeline/admin-console",
          "allowed": [
            "SUPER_ADMIN"
          ]
        },
        {
          "name": "welcomeMessage",
          "url": "/auth/admin-welcome-message",
          "allowed": [
            "SUPER_ADMIN"
          ]
        },
        {
          "name": "embed",
          "url": "/infra/embed/admin",
          "allowed": [
            "SUPER_ADMIN"
          ]
        },
        {% if xitiVersion is defined %}
        {
            "name": "xiti",
            "url": "/xiti/admin-console",
            "allowed": [
                "SUPER_ADMIN"
            ]
        },
        {% endif %}
        {% if edtKey is defined %}
        {
            "name": "edtudt",
            "url": "/directory/timetable",
            "allowed": [
                "SUPER_ADMIN"
            ]
        },
        {% endif %}
        {% if zimbraVersion is defined and zimbraConsole == 'True'  %}
        {
            "name": "zimbra",
            "url": "/zimbra/admin-console"
        },
        {% endif %}
        {
            "name": "calendar",
            "url": "/directory/calendar"
        },
        {% if keyring is defined and keyring %}
        {
            "name": "keyring",
            "url": "/sso/keyring/admin-console",
            "allowed": [
                "SUPER_ADMIN"
            ]
        },
        {% endif %}
        {
            "name": "flashMessage",
            "url": "/timeline/flashmsg/admin",
            "allowed": [
                "SUPER_ADMIN"
            ]
        }],
        "widgets": [
        {
          "name": "recorder",
          "path": "/public/template/record-me.html",
          "js": "/public/js/record-me.js"
        },
        {
          "name": "calendar",
          "path": "/public/template/calendar.html",
          "js": "/public/js/calendar.js"
        },
        {% if actualitesVersion is defined %}
        {
            "name": "actualites",
            "path": "/actualites/public/template/last-infos-widget.html",
            "js": "/actualites/public/js/last-infos-widget.js",
            "i18n": "/actualites/i18n"
        },
        {% endif %}
        {% if rssVersion is defined %}
        {
            "name": "rss",
            "path": "/rss/public/template/rss-widget.html",
            "js": "/rss/public/js/rss-widget.js",
            "i18n": "/rss/i18n"
        },
        {% endif %}
        {% if skinLevels is defined %}
        {
            "name": "school-widget",
            "path": "/public/template/school-widget.html",
            "js": "/public/template/school-widget.html" 
        },
        {% endif %}
        {% if dicoDeLaZone is defined %}
        {
            "name": "dicoDeLaZone",
            "path": "/public/template/dicodelazone-widget.html",
            "js": "/public/js/dicodelazone-widget.js"
        },
        {% endif %}
        {
            "name": "notes",
            "path": "/public/template/notes.html",
            "js": "/public/js/notes.js"
        }],
        "resources-applications": [
            "workspace",
            "blog",
            "actualites",
            "wiki",
            "pages",
            "poll",
            "timelinegenerator",
            "community",
            "mindmap",
            "forum",
            "homeworks",
            "scrapbook",
            "collaborativewall",
            "formulaire" {{ resourcesApplicationExt|default('') }}
        ]
        {% if matomoODEEnabled is defined and matomoODEEnabled %},
        "tracker":{
            "type":"matomo",
            "matomo":{
                "url":"{{matomoUrl}}",
                "siteId":{{ matomoSiteId }},
                "detailApps":true,
                "doNotTrack":{{ matomoEventBlackList|default('["*.edit"]') }}
            },
            "internal":{
                "doNotTrack": [
                    "*.edit"
                ],
                "trackOnly":[]
            }
        }
        {% endif %},
        "publicConf": {
            "my-apps-connectors-threshold": {{ myAppsConnectorsThreshold|default('6') }},
            "xiti": {
                "LIBELLE_SERVICE": {
                    "default": "PAGE_ENT"
                }
            }
        },
        "my-apps-force-as-application": [
            {"field": "address", "fullMatch": false, "caseSensitive": true, "pattern": "library\\.opendigitaleducation\\.com" }
        ],
        "my-apps-force-as-connector": [
            {"field": "name", "fullMatch": true, "caseSensitive": false, "pattern": "cns" }
        ]
    }
}