<!DOCTYPE html>
<!--

 -->
<html>
	<head>
		<title>{{#i18n}}archive.title{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript" src="/archive/public/dist/entcore/ng-app.js" id="context"></script>
		<script type="text/javascript" src="/archive/public/dist/application.js"></script>
	</head>
	<script type="text/ng-template" id="empty"></script>
	<body >
		<div data-ng-controller="ArchiveController">
			<portal>
				<app-title>
					<h1 data-reload>
						<i class="archive"></i><span translate content="archive.title"></span>
					</h1>
				</app-title>
				<div class="row twelve cell tabs" style="min-height: 60px;">
					<div class="cell">
						<header class="horizontal-spacing"
								ng-click="switchTab('export')"
								ng-class="{ selected: currentTab === 'export' }">
							<i18n>archive.export</i18n>
						</header>
						<header class="horizontal-spacing"
								ng-click="switchTab('import')"
								ng-class="{ selected: currentTab === 'import' }">
							<i18n>archive.import</i18n>
						</header>
					</div>
				</div>
				<container template="main"></container>
			</portal>
		</div>
	</body>
</html>
