<!DOCTYPE html>
<!--

 -->
<html>
<head>
	<title>{{#i18n}}archive.title{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="/archive/public/dist/entcore/ng-app.js" id="context"></script>
	<script type="text/javascript" src="/archive/public/dist/application.js"></script>
</head>
<script type="text/ng-template" id="empty"></script>
<body >
<portal>
	<section class="twelve cell" ng-controller="ArchiveController">
		<app-title>
			<h1 data-reload>
				<i class="archive"></i><span translate content="archive.title"></span>
			</h1>
		</app-title>

		<div class="row">
			<div class="twelve cell reduce-block-eight">
				<div class="twelve cell info vertical-spacing-twice">
					<i18n>archive.info</i18n>
				</div>
				<div class="row centered" ng-if="!loading">
					<button ng-click="initiateExport()">
						<i18n>export</i18n>
					</button>
				</div>
				<div class="row centered" ng-if="loading">
					<i18n>archive.waiting</i18n>
				</div>
			</div>

		</div>
	</section>
</portal>
</body>
</html>
