<div class="choose-class horizontal-spacing-twice">
    <h2 translate content="classAdmin.class.not.affected"></h2>
    <div class="row">
        <div class="step-hint mt-12 mb-16">
            <span ng-if="!chooseClassModel.selectedSchoolId" translate content="classAdmin.class.select.structure"></span>
            <span ng-if="chooseClassModel.selectedSchoolId" translate content="classAdmin.class.select.classes"></span>
        </div>
        <div class="row mb-24" ng-hide="chooseClassModel.classrooms.length">
            <select class="vertical-spacing-twice" 
                    ng-change="chooseClassModel.listClassrooms()"
                    ng-model="chooseClassModel.selectedSchool"
                    ng-options="school as school.name for school in chooseClassModel.schools track by school.id">
                <option value="">[['classAdmin.class.select.structure.placeholder'|i18n]]</option>
              </select>
        </div>
        <div class="row mb-24 has-vertical-padding is-display-flex" 
                ng-show="chooseClassModel.classrooms.length">
            <div class="checkbox six cell" 
                    ng-repeat="class in chooseClassModel.classrooms | orderBy:'name' as results track by class.id">
                <div class="class-card cell-ellipsis"
                     ng-class="chooseClassModel.ckCSS(class)"
                     ng-click="chooseClassModel.toggleChoice(class)">
                    [[class.name]]
                </div>
            </div>
        </div>
    </div>
    <div class="lightbox-buttons fluid">
        <button class="right-magnet" 
                ng-if="!chooseClassModel.selectedSchoolId" 
                ng-click="chooseClassModel.next(1)">
            <i18n>next</i18n>
            <i class="left-spacing open-right"></i>
        </button>
        <button class="right-magnet" 
                ng-if="chooseClassModel.selectedSchoolId" 
                ng-disabled="!chooseClassModel.chosen.length"
                ng-click="chooseClassModel.next(2)">
            <i class="right-spacing check"></i>
            <i18n>directory.params.validate</i18n>
        </button>
        <button class="right-magnet" 
                ng-if="chooseClassModel.selectedSchoolId && chooseClassModel.schools.length!==1" 
                ng-click="chooseClassModel.previous()">
            <i class="right-spacing left-open"></i>
            <i18n>previous</i18n>
        </button>
    </div>
</div>