<div class="horizontal-spacing-twice">
    <h2 translate content="classAdmin.class.not.affected"></h2>
    <div class="row">
        <div class="mb-24">
            <span ng-if="!chooseClassModel.selectedSchoolId" translate content="classAdmin.class.select.structure"></span>
            <span ng-if="chooseClassModel.selectedSchoolId" translate content="classAdmin.class.select.classes"></span>
        </div>
        <div class="row" ng-hide="chooseClassModel.classrooms.length">
            <select class="vertical-spacing-twice" 
                    i18n-placeholder="classAdmin.class.select.structure.placeholder"
                    ng-change="chooseClassModel.listClassrooms()"
                    ng-model="chooseClassModel.selectedSchoolId">
                <!--option value="-1" translate content="classAdmin.userFind.userWithoutClass"></option -->
                <option ng-repeat="school in chooseClassModel.schools track by school.id" value="[[school.id]]"
                        ng-selected="[[chooseClassModel.selectedSchoolId==school.id]]">[[school.name]]</option>
              </select>
        </div>
        <div class="row has-vertical-padding is-display-flex" 
                ng-show="chooseClassModel.classrooms.length">
            <div class="checkbox six cell" 
                    ng-repeat="class in chooseClassModel.classrooms track by class.id">
                <div style="border-radius: 4px; border: 1px solid currentColor; padding: 8px 12px; margin: 4px;"
                     class="cell-ellipsis"
                     ng-class="chooseClassModel.ckCSS(class)"
                     ng-click="chooseClassModel.toggleChoice(class)">
                    [[class.name]]
                </div>
            </div>
        </div>
    </div>
    <div class="lightbox-buttons fluid">
        <button class="right-magnet" 
                ng-if="!chooseClassModel.selectedSchoolId" 
                ng-enable="chooseClassModel.chosen.length === 0"
                ng-click="chooseClassModel.next(1)">
            <i18n>next</i18n>
            <i class="left-spacing open-right"></i>
        </button>
        <button class="right-magnet" 
                ng-if="chooseClassModel.selectedSchoolId" 
                ng-enable="chooseClassModel.chosen.length > 0"
                ng-click="chooseClassModel.next(2)">
            <span class="right-spacing" style="font-family:'generic-icons' !important;">&#xe871;</span>
            <i18n>directory.params.validate</i18n>
        </button>
        <button class="right-magnet" 
                ng-if="chooseClassModel.selectedSchoolId" 
                ng-click="chooseClassModel.previous()">
            <i class="right-spacing left-open"></i>
            <i18n>previous</i18n>
        </button>
    </div>
</div>