<html class="app">
	<head>
		<title>{{#i18n}}userBook.title{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="{{#infra}}css/original.css{{/infra}}" rel='stylesheet' type='text/css'>
		<link href="{{#static}}css/index.css{{/static}}" rel="stylesheet" type="text/css">
		<script src="{{#infra}}js/jquery-1.9.1.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/underscore-min-1.4.4.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/mustache.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/humane.min.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/one-app.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/one.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#static}}js/account.js{{/static}}" type="text/javascript"></script>
		<script src="{{#infra}}js/iframe.js{{/infra}}" type="text/javascript"></script>
	</head>
	<body>
		<h1><i role="orange-user"></i>{{#i18n}}userBook.header{{/i18n}}</h1>
		<div id="person"></div>
		<div class="clear"></div>
	</body>
</html>
