{
    "name": "{{ entcoreAppRegistryVersion }}",
    "priority": 51,
    "waitDeploy" : true,
    "config": {
        "main": "org.entcore.registry.AppRegistry",
        "auto-redeploy": false,
        "app-type" : "SYSTEM",
        {% if csrfToken %}"csrf-token": true,{% endif %}
        "mode": "{{ envMode|default('prod') }}",
        "ssl": {{ enableSsl|default(true) }},
        {% if briefmeEnabled is defined and briefmeEnabled  %}
          "widget-external-cache": [
           {
            "id": "briefme",
            "widget-name": "briefme-widget",
            "url": "https://www.brief.me/api/gar/latest_issues/?format=json",
            "ttl": 43200
           },
           {
            "id": "briefeco",
            "widget-name": "briefme-widget",
            "url": "https://www.brief.eco/api/gar/latest_issues/?format=json",
            "ttl": 43200
           },
           {
            "id": "briefscience",
            "widget-name": "briefme-widget",
            "url": "https://www.brief.science/api/gar/latest_issues/?format=json",
            "ttl": 43200
           }
          ],
        {% endif %}
        {% if bprEnabled is defined %}
        "library-enabled": true,
        "library-api-url": "{{ bprUrl }}",
        "library-token": "{{ bprToken }}",
        "library-structures-blacklist": {{ libraryStructuresBlacklist|default([]) }},
        {% endif %}
        {% if overrideTheme %} "override-theme": {}, {% endif %}
        "port": 8012,
        {% if fileAnalyzerOn %}
        "fileAnalyzer": {
          "enabled": true,
          "messaging": {
            "type": "redis",
            "stream": "xss-analyzer",
            "tags": ["xss-analyzer", "app-registry"],
            "metrics": {
              "enabled": true
            }
          }
        },
        {% endif %}
        "publicConf": {
            "xiti": {
                "ID_SERVICE": {
                    "default": "",
                    "/admin-console": ""
                },
                "LIBELLE_SERVICE": {
                    "default": "PAGE_ENT"
                }
            }
        }
    }
}