ode-list {
  min-height: 60vh;
  max-height: 60vh;
  flex: 1;
  div.user-toolbar {
    padding: 12px 16px;
    background: #fafafa;
    box-sizing: border-box;

    > i {
      cursor: pointer;
      margin: 0 2px;
      color: #a9a9a9;

      &.selected {
        color: #4a4a4a;
      }
    }
    .toolbar-right {
      font-size: 1.2em;
      float: right;
    }
    button {
      display: none;
      &.select-all {
        padding: 10px 5px;
        margin: 5px 2px;
      }
      &.deselect-all {
        padding: 10px 5px;
        margin: 5px 2px;
      }
    }
  }
}

.group-input-container {
  border: 1px solid #ddd;
}

.title {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #212121;
  font-family: Arial;
}
