<html>
	<head>
		<title>{{#i18n}}sync.admin.title{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="{{#static}}js/jquery-1.9.1.js{{/static}}" type="text/javascript"></script>
		<script src="{{#static}}js/admin.js{{/static}}" type="text/javascript"></script>
	</head>
	<body>
		<h1>{{#i18n}}sync.admin.header{{/i18n}}</h1>
		<div id="main">
			<a call="test" href="/admin/aaf/test">{{#i18n}}sync.action.aafTest{{/i18n}}</a>
			<div id="test"></div>
		</div>
	</body>
</html>
