<!DOCTYPE html>
<html>

	<head>
		<title>{{#i18n}}admin.timeline{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
		<script src="/timeline/public/js/admin/model.js" type="text/javascript"></script>
		<script src="/timeline/public/js/admin/controller.js" type="text/javascript"></script>
		<script type="text/ng-template" id="empty"></script>
	</head>

	<body ng-controller="TimelineAdminController">
		<admin-portal>
            <h1><i18n>admin.timeline.header</i18n></h1>
            <p><i18n>admin.timeline.intro</i18n></p>
            <div ng-repeat="type in types | orderBy: orderTypes">
                <h3 translate content="[[type.type.toLowerCase()]]"></h3>
                <div ng-repeat="notif in type.notifs | orderBy: orderNotifs" class="row vertical-spacing-twice horizontal-spacing-twice">
                    <i class="slide-arrow horizontal-spacing" ng-class="{'slided': slided}"></i>
                    <strong class="vertical-spacing-twice" translate content="[[notif.key]]" ng-click="slided = !slided"></strong>
                    <div class="horizontal-spacing-twice" slide="slided">
                        <div class="row vertical-spacing">
                            <label class="four cell" translate content="timeline.restriction"></label>
                            <select
                            ng-model="notif.config.restriction"
                            ng-options="item.label as lang.translate(item.label) for item in constants.restriction"
                            ng-change="saveConfig(notif)"
                            class="three cell"
                            ></select>
                        </div>
                        <div class="row vertical-spacing"
                             ng-show="notif.config.restriction === 'EXTERNAL' || notif.config.restriction === 'NONE'">
                            <label class="four cell" translate content="timeline.defaultFrequency"></label>
                            <select
                            ng-model="notif.config.defaultFrequency"
                            ng-options="item.label as lang.translate(item.label) for item in constants.defaultFrequency"
                            ng-change="saveConfig(notif)"
                            class="three cell"
                            ></select>
                        </div>
                    </div>
                </div>
            </div>

		</admin-portal>
	</body>

</html>
