.widget-card {
  display: flex;
  flex-direction: column;
  gap: var(--edifice-spacer-16);
  border-radius: var(--edifice-border-radius-2xl);
  padding: var(--edifice-spacer-16);
  background-color: var(--widget-card-bg, var(--edifice-white));
  box-shadow: var(--edifice-box-shadow);
}

.widget-card-body {
  display: flex;
  flex-direction: column;
  gap: var(--edifice-spacer-16);
}

.widget-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.widget-card-title {
  margin: 0;
  color: var(--edifice-grey-900);
  font-family: var(--edifice-font-family-urbanist);
  font-size: var(--edifice-font-size-s);
  font-style: normal;
  font-weight: var(--edifice-font-weight-bold);
  line-height: var(--edifice-font-lineheight-s);
}

.widget-card-action {
  flex-shrink: 0;
}

.widget-card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--edifice-spacer-16);
  height: 70px;
  margin: 0 calc(-1 * var(--edifice-spacer-16)) calc(-1 * var(--edifice-spacer-16));
  padding: var(--edifice-spacer-32) var(--edifice-spacer-16) var(--edifice-spacer-16);
  border-bottom-right-radius: var(--edifice-border-radius-2xl);
  border-bottom-left-radius: var(--edifice-border-radius-2xl);
  border-top: 2px solid transparent;
}
