<form data-ng-submit="createPost()">
	<input type="text" data-ng-model="create.post.title" placeholder="Entrez le titre de votre billet" autofocus required class="twelve cell" />
	<html-editor
		ng-model="create.post.content"
		file-upload-path="'/workspace/document?application=blog-' + currentBlog.id + '&protected=true'"></html-editor>
	<input type="submit" class="button right-magnet" value="Valider">
	<input type="button" class="button right-magnet cancel" data-ng-click="currentBlogView()" value="Annuler">
</form>
<div class="clear"></div>
<hr class="solid">