<form class="row text-container">
	<div class="row text-container">
		<div class="two cell clip fixed-block height-two">
			<img ng-src="[[blogThumbnail(create.blog)]]" />
		</div>
		<div class="nine cell text-container">
			<input type="text" data-ng-model="create.blog.title" required translate-attr="placeholder" placeholder="blog.title.placeholder" class="twelve cell" />
			<div class="row">
				<hr class="row" />
			</div>
			<form id="upload-form" method="post" enctype="multipart/form-data">
				<!-- styling file inputs is currently impossible, so we hide them and display a replacement. -->
				<div class="hidden-content">
					<input type="file" name="file"  id="avatar" file-input-change="updateBlogImage(create.blog)" data-ng-model="photo.file"/>
				</div>
				<button class="file-button file-selector" data-linked="avatar" translate key="blog.changeimage"></button>
			</form>
		</div>


	</div>
	<div class="row text-container">
		<input type="submit" data-ng-click="createBlog()" translate-attr="value" class="button right-magnet" value="blog.save">
		<input type="button" class="button right-magnet cancel" translate-attr="value" ng-click="defaultView()" value="cancel">
		<div class="clear"></div>
	</div>
</form>