<form data-ng-submit="updatePost()">
	<input type="text" data-ng-model="currentPost.title" class="twelve cell" required />
	<html-editor
		file-upload-path="'/workspace/document?application=blog-' + currentBlog._id + '&protected=true'"
		ng-model="currentPost.content"></html-editor>
	<input type="submit" class="button right-magnet" value="Valider">
	<input type="button" class="button right-magnet cancel" data-ng-click="displayBlog(currentBlog._id)" value="Annuler">
</form>
<div class="clear"></div>
<hr class="solid">