<form data-ng-submit="updatePost()">
	<input type="text" data-ng-model="currentPost.title" class="twelve cell" required />
	<html-editor
		file-upload-path="'/workspace/document?application=blog-' + currentBlog._id + '&protected=true'"
		ng-model="currentPost.content"></html-editor>

	<input type="button" class="right-magnet" value="Publier" ng-if="currentPost.state === 'DRAFT'" ng-click="saveAndSubmit(currentPost)" />
	<input type="submit" class="right-magnet" value="Enregistrer" />
	<input type="button" class="right-magnet cancel" data-ng-click="currentBlogView()" value="Annuler" />
</form>
<div class="row"><hr /></div>