<share-panel resources="sharedResources"></share-panel>
	<div class="share">
		<h3>Circuit de publication</h3>
		<div class="row sharing-option">
			<label>
				<input type="radio" name="publish-type" ng-model="currentBlog['publish-type']" ng-change="updatePublishType()" value="IMMEDIATE" />
				<span>Publication immédiate</span>
			</label>
			<label>
				<input type="radio" name="publish-type" ng-model="currentBlog['publish-type']" ng-change="updatePublishType()" value="RESTRAINT" />
				<span>Billet à soumettre</span>
			</label>
		</div>
	</div>
