<div class="row">
	<h2 class="seven cell upper-title">
		<span class="warning-text-badge" ng-if="post.state === 'DRAFT'">(Brouillon)</span>
		<span class="warning-text-badge" ng-if="post.state === 'SUBMITTED'">(Billet soumis)</span>
		[[post.title]]
	</h2>

	<button class="right-magnet" data-ng-click="showEditPost(post)" data-ng-disabled="isCurrentView('editPost')" ng-if="currentBlog.myRights.post.edit">[[translate('blog.edit.post')]]</button>
	<button class="right-magnet" data-ng-click="openConfirmView(removePost, post)" ng-if="currentBlog.myRights.post.remove">
		[[translate('blog.delete.post')]]
	</button>
	<h5 class="seven cell subtitle">
		[[translate('blog.by')]] <a href="/userbook/annuaire#[[post.author.userId]]">[[post.author.username]]</a> [[translate('blog.on.date')]] [[formatDate(post.created.$date)]]
						<span data-ng-if="isCurrentView('lastPosts')">
							[[translate('blog.on.blog')]] <a data-ng-click="displayBlog(currentBlog)">[[currentBlog.title]]</a>
						</span>
	</h5>
</div>
<div class="row"><hr></div>

<div class="row" bind-html-unsafe="post.content"></div>
<div class="row"><hr></div>
<div class="row">
	<button ng-click="publish(post)" ng-if="currentBlog.myRights.post.publish || post.state === 'DRAFT'">Publier</button>
</div>