<div class="row">
	<h2 class="six cell upper-title">[[post.title]]</h2>
	<button class="right-magnet" data-ng-click="openConfirmView(removePost, post)" ng-if="(currentBlog.myRights.post.remove && post.author.userId === me.userId) || currentBlog.myRights.manager">
		[[translate('blog.delete.post')]]
	</button>
	<button class="right-magnet" data-ng-click="showEditPost(post)" data-ng-disabled="isCurrentView('editPost')" ng-if="(currentBlog.myRights.post.edit && post.author.userId === me.userId) || currentBlog.myRights.manager">[[translate('blog.edit.post')]]</button>

</div>

<h5 class="six cell subtitle">
	[[translate('blog.by')]] <a href="/userbook/annuaire#[[post.author.userId]]">[[post.author.username]]</a> [[translate('blog.on.date')]] [[formatDate(post.created.$date)]]
						<span data-ng-if="isCurrentView('lastPosts')">
							[[translate('blog.on.blog')]] <a data-ng-click="displayBlog(currentBlog)">[[currentBlog.title]]</a>
						</span>
</h5>
<div class="row"><hr></div>
<div class="row" bind-html-unsafe="post.content"></div>
<div class="row"><hr></div>
<div class="row content-line">
	<div class="two cell">
		<button data-ng-click="showCommentPost(post)"
		   data-ng-disabled="(commentFormPath !== '') && (currentPost === post)" ng-if="currentBlog.myRights.comment.post">
			[[translate('blog.comment.post')]]
		</button>
	</div>
	<div class="five cell right-magnet">
		<a ng-click="switchComments(post)" class="medium-text right-magnet">
			<span ng-if="!post.showComments && nbComments(post) > 0" translate key="comments.show"></span>
			<span ng-if="post.showComments && nbComments(post) > 0" translate key="comments.hide"></span>
		</a>
	</div>
	<div class="clear"></div>
</div>
<div class="row">
	<div data-ng-include="commentFormPath" data-ng-if="currentPost === post"></div>
</div>
<div class="row" ng-if="post.showComments">
	<div class="row" ng-repeat="comment in post.comments">
		<div class="twelve cell content-line">
			<article class="comment text-container">
				<a href="/userbook/annuaire#[[comment.author.userId]]">[[comment.author.username]]</a>
				<em>[[formatDate(comment.created.$date)]]</em>
				<a class="cell right-magnet"
				   ng-click="removeComment(post, comment)"
				   ng-if="currentBlog.myRights.comment.remove && (comment.author.userId === me.userId || currentBlog.myRights.manager)">
					<span translate key="blog.delete.post"></span>
				</a>
				<p>[[comment.comment]]</p>
			</article>
		</div>
	</div>
</div>

<div class="clear"></div>