.lightbox-confirm__header {
  margin-bottom: 0;
}
.lightbox-confirm-content {
  font-size: 16px;
  padding: 20px 0;
}
.lightbox-confirm-action button {
  float: right;
  text-align: center;
  margin-left: 5px;
  margin-bottom: 20px;
}
