<!DOCTYPE html>
<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

<html>
	<head>
		<title>{{#i18n}}workspace.title{{/i18n}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
		<script src="{{#static}}js/model.js{{/static}}" type="text/javascript"></script>
		<script src="{{#static}}js/controller.js{{/static}}" type="text/javascript"></script>

		<script type="text/ng-template" id="folder-content">
			<a ng-class="{ selected: openedFolder.folder === folder, opened: containsCurrentFolder(folder) && folder.name !== 'trash' }" ng-click="openFolder(folder)" ng-if="folder.name !== undefined"
			   class="folder-list-item"
			   dragdrop="dropTo(folder, $originalEvent)"
			   dropcondition="dropCondition(folder)">
				<i class="arrow" ng-if="folder.children.length"></i> [[translate(folder.name)]]
			</a>
			<ul data-ng-class="{ selected: containsCurrentFolder(folder), closed: !containsCurrentFolder(folder) }" ng-if="containsCurrentFolder(folder) && folder.name !== 'trash'">
				<li data-ng-repeat="folder in folder.children"
					data-ng-include="'folder-content'"
				></li>
			</ul>
		</script>
		<script type="text/ng-template" id="folder-management">
			<a ng-class="{ selected: isTargetFolder(folder)}" ng-click="addTargetFolder(folder)" ng-if="!isInSelectedFolder(folder) && folder.name">
				[[translate(folder.name || 'documents')]]
			</a>
			<ul class="row" ng-if="!isInSelectedFolder(folder)">
				<li data-ng-repeat="folder in folder.children"
					data-ng-include="'folder-management'"
				></li>
			</ul>
		</script>
	</head>
	<body data-ng-controller="Workspace" bottom-scroll="display.nbFiles = display.nbFiles + 30">
	<portal>
		<div class="row">
			<app-title>
				<h1 data-reload><i class="storage"></i><i18n>workspace.header</i18n></h1>
			</app-title>
		</div>
		<div class="row rigid-grid">
			<section class="four twelve-mobile cell">

				<nav class="vertical mobile-navigation" side-nav>
					<div data-ng-include="folderTreeTemplate"></div>
					<a ng-click="openNewFolderView()" ng-if="currentFolderTree.name === 'documents'" class="classic-link"><i18n>folder.new</i18n></a>
					<a ng-click="emptyTrash()" ng-if="currentFolderTree.name === 'trash'" class="classic-link"><i18n>workspace.empty.trash</i18n></a>
					<div class="row">
						<hr class="row" />
						<h2><i18n>quota.title</i18n><span ng-if="quota.isStructureQuota"><i18n>quota.isStructureQuota</i18n></span></h2>

						<progress-bar max="quota.max" filled="quota.used" unit="[[quota.unit]]"></progress-bar>
						<hr class="row" />
					</div>
				</nav>


			</section>
			<section class="margin-four">
				<h3 whereami></h3>
				<nav class="twelve cell">
					<div class="cell">
						<div class="cell" ng-repeat="button in currentTree.buttons"><button
								ng-click="button.action(button.url)"
								workflow="[[button.workflow]]">
							<i class="add" ng-if="button.icon"></i> [[translate(button.text)]]
						</button></div>
					</div>
					<div class="cell right-magnet">
						<i class="show-list"
						   ng-class="{ selected: template.contains('documents', 'list') }"
						   ng-click="template.open('documents', 'list')"></i>
						<i class="show-icons"
							ng-class="{ selected: template.contains('documents', 'icons') }"
							ng-click="template.open('documents', 'icons')"></i>
						<i class="show-carousel"
						   ng-class="{ selected: template.contains('documents', 'carousel') }"
						   ng-click="template.open('documents', 'carousel')"></i>
					</div>
				</nav>

				<div ng-include="template.containers.documents" class="twelve cell toggle-buttons-spacer"></div>
			</section>
		</div>
	</portal>
	<lightbox show="!template.isEmpty('lightbox')" on-close="template.close('lightbox')">
		<container template="lightbox"></container>
	</lightbox>
	<lightbox show="display.share" on-close="display.share = false;">
		<container template="share"></container>
	</lightbox>
	<section class="toggle-buttons" ng-class="{ hide: selectedDocuments().length + selectedFolders().length === 0 }">
		<div class="toggle">
			<div class="row">
                <button ng-if="selectedFolders().length === 0 && selectedDocuments().length === 1"
                        ng-click="viewFile(selectedDocuments()[0])"
                        class="cell zero-mobile">
                    <i18n>workspace.open</i18n>
                </button>
                <button ng-if="selectedFolders().length === 1 && selectedDocuments().length === 0"
                        ng-click="openFolder(selectedFolders()[0])"
                        class="cell">
                    <i18n>workspace.open</i18n>
                </button>
                <button ng-if="selectedFolders().length === 0 && selectedDocuments().length === 1"
                        ng-click="downloadFile(selectedDocuments()[0])"
                        class="cell">
                    <i18n>workspace.download</i18n>
                </button>

                <resource-right resource="selectedItems()" name="commentDocument">
					<button ng-click="openCommentView(selectedDocuments()[0])"
							ng-if="selectedFolders().length === 0 && selectedDocuments().length === 1 && (currentTree.name === 'shared' || currentTree.name === 'documents')"
							class="cell">
						<i18n>workspace.document.comment</i18n>
					</button>
				</resource-right>
				<resource-right resource="selectedItems()" name="commentFolder">
					<button ng-click="openCommentFolderView(selectedFolders()[0])"
							ng-if="selectedDocuments().length === 0 && selectedFolders().length === 1 && (currentTree.name === 'shared' || currentTree.name === 'documents')"
							class="cell">
						<i18n>workspace.document.comment</i18n>
					</button>
				</resource-right>
				<resource-right resource="selectedItems()" name="share">
					<button ng-click="openShareView(selectedDocuments()[0])"
							ng-if="selectedFolders().length === 0 && (currentTree.name === 'documents' || currentTree.name === 'shared')"
							ng-class="cell">
						<i18n>workspace.share</i18n>
					</button>
				</resource-right>
				<resource-right resource="selectedItems()" name="share">
					<button ng-click="openShareFolderView(selectedFolders()[0])"
							ng-if="selectedDocuments().length === 0 && (currentTree.name === 'shared' || currentTree.name === 'documents')"
							class="cell">
						<i18n>workspace.share</i18n>
					</button>
				</resource-right>
				<resource-right resource="selectedItems()" name="renameFolder">
					<button ng-click="openRenameView(selectedFolders()[0])"
							ng-if="selectedDocuments().length === 0 && selectedFolders().length == 1 && currentTree.name === 'documents'"
							class="cell">
						<i18n>workspace.rename</i18n>
					</button>
				</resource-right>
				<resource-right resource="selectedItems()" name="renameDocument">
					<button ng-click="openRenameView(selectedDocuments()[0])"
							ng-if="selectedFolders().length === 0 && selectedDocuments().length == 1 && (currentTree.name === 'documents' || currentTree.name === 'appDocuments')"
							class="cell">
						<i18n>workspace.rename</i18n>
					</button>
				</resource-right>
				<resource-right resource="selectedItems()" name="showRevisions" class="zero-mobile">
					<button ng-if="selectedFolders().length === 0 && selectedDocuments().length === 1 && (currentTree.name === 'shared' || currentTree.name === 'documents')"
						    ng-click="openHistory(selectedDocuments()[0])"
							class="cell">
						<i18n>workspace.versions.list</i18n>
					</button>
				</resource-right>

				<div class="cell" ng-repeat="button in currentTree.contextualButtons">
					<resource-right resource="selectedItems()" name="[[button.right]]">
						<button ng-if="button.allow ? button.allow() : true" ng-click="button.action(button.url)">
							[[translate(button.text)]]
						</button>
					</resource-right>
				</div>

				<span class="contextual-link zero-mobile"
					  ng-if="selectedDocuments().length === 1 && selectedFolders().length === 0 && selectedDocuments()[0].comments.length > 0 &&  currentTree.name !== 'trash'">
					<a ng-if="!selectedDocuments()[0].showComments" data-ng-click="toggleComments(selectedDocuments()[0])">
						<i18n>workspace.document.comment.show</i18n> ([[selectedDocuments()[0].comments.length]])
					</a>
					<a ng-if="selectedDocuments()[0].showComments" data-ng-click="toggleComments(selectedDocuments()[0])">
						<i18n>workspace.document.comment.hide</i18n>
					</a>
				</span>

				<span class="contextual-link zero-mobile"
					  ng-if="selectedFolders().length === 1 && selectedDocuments().length === 0 && selectedFolders()[0].comments.length > 0 &&  currentTree.name !== 'trash'">
					<a ng-if="!selectedFolders()[0].showComments" data-ng-click="toggleComments(selectedFolders()[0])">
						<i18n>workspace.document.comment.show</i18n> ([[selectedFolders()[0].comments.length]])
					</a>
					<a ng-if="selectedFolders()[0].showComments" data-ng-click="toggleComments(selectedFolders()[0])">
						<i18n>workspace.document.comment.hide</i18n>
					</a>
				</span>

			</div>
			</div>

		</div>
	</section>
	</body>
</html>
