<!DOCTYPE html>
<html class="app">
	<head>
		<title>{{#i18n}}workspace.title{{/i18n}}</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{{#infra}}css/original.css{{/infra}}" type="text/css" />
		<script src="{{#infra}}js/jquery-1.9.1.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/underscore-min-1.4.4.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/mustache.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/humane.min.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/one-app.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/one.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#static}}js/workspace.js{{/static}}" type="text/javascript"></script>

		<script type="text/javascript" src="{{#infra}}js/iframe.js{{/infra}}"></script>
	</head>
	<body>
		<section class="lightbox-backdrop"></section>
		<div class="row" id="main">
			<section class="four cell">
				<a href="" call="refresh"><h1><i role="storage"></i>{{#i18n}}workspace.header{{/i18n}}</h1></a>
				<nav class="vertical">
					<ul>
						<li>
							<a call="documents" href="documents?hierarchical=true&filter=owner">{{#i18n}}workspace.documents{{/i18n}}</a>
							<ul data-folder="undefined" data-filter="owner">
							</ul>
						</li><li>
							<a href="documents?hierarchical=true&filter=shared" call="documents">{{#i18n}}workspace.shared.documents{{/i18n}}</a>
							<ul data-folder="undefined" data-filter="shared">
							</ul>
						</li><li>
							<a call="rack" href="rack/documents">{{#i18n}}workspace.rack{{/i18n}}</a></li><li>
							<a call="trash" href="documents/trash">{{#i18n}}workspace.trash{{/i18n}}</a>
						</li>
					</ul>
				</nav>
			</section>
			<section class="eight cell list-view list">
				<nav class="contextual-buttons row">
					<div class="action-buttons">
					</div>
					<div class="display-buttons">
						<i call="listView" role="show-list" class="selected"></i>
						<i call="iconsView" role="show-icons"></i>
					</div>
				</nav>
				<div class="workspace row">
					<div class="mod">

						<section class="lightbox-window">
							<div id="form-window" class="twelve cell"></div>
							<div class="close-lightbox">
								<i role="close-2x"></i>
							</div>
							<div class="clear"></div>
						</section>
						<article id="list">

						</article>
					</div>
				</div>
			</section>
		</div>
		<div class="clear"></div>
	</body>
</html>
