<!DOCTYPE html>
<html class="app">
	<head>
		<title>{{#i18n}}workspace.title{{/i18n}}</title>
		<meta charset="utf-8" />
		<script src="{{#infra}}js/one-loader.js{{/infra}}" type="text/javascript" id="context"></script>
		<script src="{{#static}}js/workspace.js{{/static}}" type="text/javascript"></script>

		<script type="text/ng-template" id="folder-content">
			<a data-ng-class="{ selected: openedFolder.folder === value }" data-ng-click="openFolder(value, key)">[[translate(key)]]</a>
			<ul data-ng-class="{ selected: containsCurrentFolder(value), closed: !containsCurrentFolder(value) }" ng-if="containsCurrentFolder(value)">
				<li data-ng-repeat="(key, value) in value"
					data-ng-include="'folder-content'"
				></li>
			</ul>
		</script>
		<script type="text/ng-template" id="folder-management">
			<input type="radio" name="folder" ng-if="key !== undefined && editMode === 'single'" ng-model="selectedFolder.name" ng-value="key" ng-change="setFolder(key, value)" />
			<input type="checkbox" ng-if="key !== undefined && editMode === 'multiple'" ng-checked="isTargetFolder(key, value)" ng-value="key" ng-click="switchTargetFolder(key, value)" />
			<span ng-if="key !== undefined">
				<a ng-click="openEditView(value)"><strong>+</strong></a>[[translate(key)]]</span>
			<ul class="row">
				<li class="row" ng-if="isEditViewOpened(value)">
					<input type="radio" name="folder" ng-click="startEditing(value)" ng-if="editMode === 'single'" />
					<input type="checkbox" ng-click="startEditing(value)" ng-if="editMode === 'multiple'" />
					<em ng-if="!editStarted(value)">Nouveau dossier</em>
					<em class="editable" ng-if="editStarted(value)">
						<input type="text" class="inline-editing" ng-model="temp" complete-change="addFolder(value, temp)" />
					</em>
				</li>
				<li data-ng-repeat="(key, value) in value"
					data-ng-include="'folder-management'"
				></li>
			</ul>
		</script>
	</head>
	<body data-ng-controller="Workspace">
		<div class="row">
			<section class="four cell">
				<h1><i role="storage"></i>{{#i18n}}workspace.header{{/i18n}}</h1>
				<nav class="vertical" ng-init="value=folders">
					<ul data-ng-include="'folder-content'"></ul>
				</nav>
			</section>
			<section class="eight cell">
				<nav class="contextual-buttons row">
					<div class="action-buttons">
						<button
								ng-repeat="button in currentTree.buttons"
								ng-disabled="button.contextual && selectedDocuments().length === 0"
								ng-click="button.action(button.url)">
							<i role="add" ng-if="button.icon"></i> [[translate(button.text)]]
						</button>
					</div>
					<div class="display-buttons">
						<i role="show-list"
						   ng-class="{ selected: currentViews.documents === views.documents.list }"
						   ng-click="switchView('documents', 'list')"></i>
						<i role="show-icons"
							ng-class="{ selected: currentViews.documents === views.documents.icons }"
							ng-click="switchView('documents', 'icons')"></i>
					</div>
				</nav>
				<section class="lightbox-window eight cell">
					<div class="twelve cell" ng-include="currentViews.lightbox"></div>
					<div class="close-lightbox">
						<i role="close-2x"></i>
					</div>
					<div class="clear"></div>
				</section>
				<article data-ng-include="currentViews.documents" class="row"></article>
			</section>
		</div>
		<section class="lightbox-backdrop"></section>
		<div class="clear"></div>
	</body>
</html>
