<html>
	<head>
		<title>{{#i18n}}history.admin.title{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="{{#static}}js/jquery-1.9.1.js{{/static}}" type="text/javascript"></script>
		<script src="{{#static}}js/admin.js{{/static}}" type="text/javascript"></script>
	</head>
	<body>
		<h1>{{#i18n}}history.admin.header{{/i18n}}</h1>
		<div id="historique">
			<div id="main">
			{{#traceFiles}}
				<a call="logs" href="/admin/logs?app={{name}}">{{#i18n}}{{name}}{{/i18n}}</a> | 
			{{/traceFiles}}
			</div>
			<ul id="log"></ul>
		</div>
	</body>
</html>
