ode-list {
  min-height: 60vh;
  max-height: 60vh;
  flex: 1;

  div.user-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 12px 8px;
    background: #fafafa;
    box-sizing: border-box;
    i {
      cursor: pointer;
      margin: 0 2px;
      color: #a9a9a9;

      &.selected {
        color: #4a4a4a;
      }
    }

    .toolbar-right {
      font-size: 1.2em;
      float: right;
    }

    button {
      &.check-all {
        padding: 0;
        color: #000;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        border: 0;
        background-color: transparent;

        i {
          color: #4a4a4a;
        }
        &:hover {
          i {
            color: #4a4a4a !important;
          }
        }
      }
      &.users-checked {
        .group-input-icon {
          &::before {
            content: "\e853";
          }
        }
      }
    }
  }
}

.group-output-container {
  border: 1px solid #ddd;
}

.title {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #212121;
  font-family: Arial;
}