<div class="horizontal-spacing-twice">
    <div ng-if="!copyingForShare">
        <h2 translate content="workspace.files.warning.title"></h2>
        <div class="row">
            <span translate content="workspace.files.warning.content"></span>
            <hr />
        </div>
        <div class="lightbox-buttons fluid">           
            <button class="right-magnet" ng-click="onShareAndNotCopy()"><i18n>workspace.warning.notcopy</i18n></button>
            <button class="cancel right-magnet" ng-click="onShareAndCopy()"><i18n>workspace.warning.copy</i18n></button>
            <button class="cancel right-magnet" ng-click="onCancelShare()"><i18n>workspace.warning.cancel</i18n></button>
        </div>
    </div>
    <div ng-if="copyingForShare">
        <div class="flex-row vertical-spacing-four">
            <div class="centered vertical-spacing-four">
                <div class="vertical-spacing-four primary-color">
                    <h2 translate content="workspace.copy.window.processing"></h2><i class="loading loadingCopy"></i>
                </div>
            </div>
        </div>
    </div>
</div>
