<div style="min-height: 18%;">
    <h2 fxFlex="80" fxLayoutAlign="start center"><s5l>alerts.list.treated</s5l></h2>
    <mat-dialog-actions fxLayoutAlign="end start" fxFlex="20" style="text-align: end">
        <button (click)="close()" class="mat-raised-button">X</button>
    </mat-dialog-actions>
</div>
<div class="alertes-traitees-list-modal-list" *ngIf="(this.$doneAlertes | async)?.length !== 0; else elseBlock">
    <ode-alerte *ngFor="let alerte of this.$doneAlertes | async"
        [alerte]="alerte" 
        [structure]="data.structure" 
        [subject]="$updateSubject">
    </ode-alerte>
</div>
<ng-template #elseBlock>
    <div class="no-alert-text">Aucun  signalement</div>
</ng-template>
