<!DOCTYPE html>
<html>
	<head>
		<title>{{#i18n}}datadictionary.title{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="{{#static}}js/jquery-1.9.1.js{{/static}}"></script>
		<script src="{{#static}}js/admin.js{{/static}}"></script>
		<style>
			td[contenteditable]:hover { background: yellow; }
		</style>
	</head>
	<body>
		<h1>{{#i18n}}datadictionary.header{{/i18n}}</h1>
		<div id="menu">
			<a call="dictionary" href="/dictionary/one">One</a>
			| <a call="dictionary" href="/dictionary/aaf">AAF</a>
		</div>
		<div id="datas">
		</div>
	</body>
</html>
