<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

<form method="post" id="changePassword" name="changePassword" data-ng-submit="resetPassword('/auth/reset')" class="twelve cell fluid">
	<div class="twelve cell fluid">
		<h1>{{#i18n}}auth.reset.header{{/i18n}}</h1>
		{{#error}}<p style="color:red">{{message}}</p>{{/error}}

		<input type="hidden" name="login" value="{{login}}" />
		<input type="hidden" name="callback" value="{{callback}}" />
		<p>
			<label class="twelve">{{#i18n}}auth.old.password{{/i18n}}</label>
			<input-password type="password" name="oldPassword" required ng-model="account.oldPassword" ng-trim="false" tabindex="1"></input-password>
			<p class="input-errors" ng-if="changePassword.oldPassword.$invalid && changePassword.oldPassword.$dirty">
				<span ng-repeat="(key, value) in changePassword.oldPassword.$error">
					<label ng-if="value">[[lang.translate(key)]]</label>
				</span>
			</p>
		</p>
		<p>
			<label>{{#i18n}}auth.activation.password{{/i18n}}</label>
			<input-password required ng-pattern="/[[passwordRegex]]/" ng-model="account.password"
				ng-change="refreshInput(changePassword, 'confirmPassword')" name="password" ng-trim="false" tabindex="2"></input-password>
			<p class="input-errors" ng-if="changePassword.password.$invalid && changePassword.password.$dirty">
				<i18n>password.errors</i18n><br/>
				<span ng-repeat="(key, value) in changePassword.password.$error">
					<label ng-if="value">[[lang.translate(key)]]</label>
				</span>
			</p>
			<label>{{#i18n}}auth.activation.confirm.password{{/i18n}}</label>
			<input-password required ng-pattern="identicalRegex(account.password)" ng-model="account.confirmPassword"
				name="confirmPassword" ng-trim="false" tabindex="3"></input-password>
			<p class="input-errors" ng-if="changePassword.confirmPassword.$viewValue && changePassword.confirmPassword.$invalid && changePassword.confirmPassword.$dirty">
				<i18n>password.identical</i18n>
			</p>
		</p>
		<div class="complexity">
			<small><i18n>complexity</i18n> : [[ translateComplexity(changePassword['password'].$viewValue) ]]</small>
			<div class="fill-bar">
				<div style="width: [[ (passwordComplexity(changePassword['password'].$viewValue) / 20) * 100 ]]%"
					ng-class="{
						'weak': passwordComplexity(account.password) < 12,
						'normal': passwordComplexity(account.password) < 20 && passwordComplexity(changePassword['password'].$viewValue) >= 12,
						'strong': passwordComplexity(account.password) >= 20 }"
				></div>
			</div>
		</div>
		<p class="input-errors" ng-if="passwordComplexity(account.password) < 20">
			<i18n>password.recommandations</i18n>
		</p>
		<p>
			<input type="submit" class="submit right-magnet cell" ng-disabled="changePassword.$invalid" value="{{#i18n}}auth.reset{{/i18n}}" />
			<input type="button" class="cancel right-magnet cell" value="{{#i18n}}cancel{{/i18n}}" ng-click="display.password = false;" />
		</p>
	</div>
</form>
