<!doctype html>
<!--

 -->

<html>
<head>
	<script type="text/javascript">
			window.login = '{{login}}';
			window.callback = '{{callback}}';
		</script>
	{{#notLoggedIn}}
	<script type="text/javascript">var notLoggedIn = true;</script>
	{{/notLoggedIn}}
	<title>{{#i18n}}auth.reset.title{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="/auth/public/dist/entcore/ng-app.js" id="context"></script>
	<script type="text/javascript" src="/auth/public/dist/application.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body ng-controller="ResetController"
	  ng-init='user.login = "{{login}}"'>
<default-styles>
	<div class="centered container row">
		<section class="main">
			<div class="panel activation">
				<h1 translate content="auth.force.change.pw.header"></h1>
				<p class="warning" translate content="[[error]]" ng-if="error"></p>
				<form method="post" id="changePassword" name="changePassword" ng-submit="resetForce()">
					<input type="hidden" name="login" value="{{login}}" />
					<input type="hidden" name="callback" value="{{callback}}" />
					<p class="input-errors" ng-if="me.federated">
						<i18n>password.warning.federated</i18n>
					</p>
					<p>
						<label class="twelve"><i18n>auth.old.password</i18n></label>
						<input-password type="password" name="oldPassword" required ng-model="user.oldPassword" ng-trim="false" tabindex="1"></input-password>
					<p class="input-errors" ng-if="changePassword.oldPassword.$invalid && changePassword.oldPassword.$dirty">
				<span ng-repeat="(key, value) in changePassword.oldPassword.$error">
					<label ng-if="value">[[lang.translate(key)]]</label>
				</span>
					</p>
					</p>
					<p>
						<label><i18n>auth.activation.password</i18n></label>
						<input-password required ng-pattern="passwordRegex" ng-model="user.password"
										ng-change="refreshInput(changePassword, 'confirmPassword')" name="password" ng-trim="false" tabindex="2"></input-password>
					<p class="input-errors" ng-if="changePassword.password.$invalid && changePassword.password.$dirty">
						<i18n>password.errors</i18n><br/>
						<span ng-repeat="(key, value) in changePassword.password.$error">
					<label ng-if="value">[[lang.translate(key)]]</label>
				</span>
					</p>
					<label><i18n>auth.activation.confirm.password</i18n></label>
					<input-password required ng-model="user.confirmPassword"
									name="confirmPassword" ng-trim="false" tabindex="3"></input-password>
					<p class="input-errors" ng-if="user.password !== '' && user.confirmPassword && user.confirmPassword !== '' && user.confirmPassword !== user.password">
						<i18n>password.identical</i18n>
					</p>
					</p>
					<div class="complexity">
						<small><i18n>complexity</i18n> : [[ translateComplexity(changePassword['password'].$viewValue) ]]</small>
						<div class="fill-bar">
							<div style="width: [[ (passwordComplexity(changePassword['password'].$viewValue) / 20) * 100 ]]%"
								 ng-class="{
						'weak': passwordComplexity(user.password) < 12,
						'normal': passwordComplexity(user.password) < 20 && passwordComplexity(changePassword['password'].$viewValue) >= 12,
						'strong': passwordComplexity(user.password) >= 20 }"
							></div>
						</div>
					</div>
					<p class="input-errors" ng-if="passwordComplexity(user.password) < 20">
						<i18n>password.recommandations</i18n>
					</p>
					<p>
						<input type="submit" translate attr="value" value="auth.reset" ng-disabled="changePassword.$invalid" tabindex="4"/>
					</p>
					<p>&nbsp;</p>
				</form>
			</div>
		</section>
	</div>
</default-styles>
</body>
</html>
