:host {
  position: relative;
}
.${css.toggle} {
  min-width: 210px;
  outline: none;
  background-color: #f2f2f2;
}
.${css.toggle}:after {
                content: '▼';
                float: right;
                margin-left: 10px;
                transition: transform 0.25s, color 0.25s;
              }
.${css.toggle}:hover:after {
                color: white;
              }
.${css.toggle}:hover,
              .${css.toggle}.${css.toggleActive} {
  background-color: #ff8352;
  color: white;
}
.${css.toggle}.${css.toggleActive}:after {
                                    transform: rotate(180deg);
                                    color: white;
                                  }
.${css.container} {
  display: none;
  position: absolute;
  z-index: 2;
  left: 1px;
  top: 31px;
  overflow: hidden;
  background:white;
  border: 1px solid #ddd;
  padding: 0 10px 0 20px;
  min-width: 160px;
}
.${css.container}.${css.containerActive} {
  display: block;
}
.${css.options} {
  list-style: none;
  padding: 0;
  overflow-y: scroll;
  max-height: 200px;
  margin-bottom: 10px;
}
.${css.optionsItem} {
  white-space: nowrap;
  cursor: pointer;
  line-height: 25px;
  font-size: 13px;
  transition: background-color 0.25s, color 0.25s;
  margin-bottom: 5px;
  padding: 0 10px;
}
.${css.optionsItem}.${css.optionsItemSelected} {
  color: white;
  background-color: #217b9e;
}
.${css.preview} {
  color: white;
  margin: 10px 0;
}
.${css.previewItem} {
  border: 1px solid #217b9e;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 10px;
  cursor: pointer;
  transition: all 0.25s;
  border-radius: 3px;
  background-color: #217b9e;
  line-height: 1.5em;
  color: white;
}
.${css.previewItem}:hover {
                     background-color: #61bbde;
                     border-color: white;
                   }
.${css.previewItemDeleteIcon} {
  opacity: 0;
  transition: opacity 0.25s;
  float: right;
  padding-left: 10px;
}
.${css.previewItem}:hover .${css.previewItemDeleteIcon} {
  opacity: 1;
}
.${css.actions} {
  margin-top: 10px;
}
.${css.actionsItem}:hover {
                     background: #ffccb8;
                   }
