.DS_Store
.gradle
.idea
.classpath
.project
.settings
.yardoc
.yardopts
bin
build
*/build
target
out
*.iml
*.ipr
*.iws
*.log
test-output
test-results
test-tmp
*.class
mods
*/mods
**/temp
**/dist
**/ts/entcore
**/template/entcore
data
developer.id
*.mod.json
.jshintrc
Thumbs.db
copy.sh
bower_components
**/rev-manifest.json
node_modules
auth/src/main/resources/view/*
auth/src/main/resources/public/js
auth/src/main/resources/public/temp
conversation/src/main/resources/view/*
conversation/src/main/resources/public/js
conversation/src/main/resources/public/ts/entcore
conversation/src/main/resources/public/temp
conversation/src/main/resources/public/template/entcore
workspace/src/main/resources/view/*
workspace/src/main/resources/public/js
workspace/src/main/resources/public/temp
portal/src/main/resources/view/*
portal/src/main/resources/public/js
portal/src/main/resources/public/temp
directory/src/main/resources/view/*
directory/src/main/resources/public/js
directory/src/main/resources/public/temp
archive/src/main/resources/view
timeline/src/main/resources/view
sample-*/
vertx_classpath.txt
.tern-project
.htmlhintrc
javaconfig.json
classpath.txt
.vscode/
bower_components/
admin/src/main/resources/public/js
admin/src/main/resources/public/templates
admin/src/main/resources/view
admin/src/main/resources/public/styles/admin.css
admin/src/main/resources/public/styles/admin.*.css
admin/src/main/resources/public/styles/admin.*.css.map
admin/src/main/resources/public/styles/flatpickr-confetti.css
admin/src/main/resources/public/styles/generic-icons-1.0.0.woff
archive/src/main/resources/view/*
directory/src/main/resources/view/*
portal/src/main/resources/view/*
timeline/src/main/resources/view/*
workspace/src/main/resources/view/*
