.DS_Store
.gradle
.idea
.classpath
.project
.settings
.yardoc
.yardopts
bin
build
*/build
target
out
*.iml
*.ipr
*.iws
test-output
test-results
test-tmp
*.class
mods
*/mods
**/temp
**/dist
**/ts/entcore
**/template/entcore
**/entcore-css-lib
data
developer.id
*.mod.json
.jshintrc
Thumbs.db
bower_components
**/rev-manifest.json
node_modules
auth/src/main/resources/view/*
auth/src/main/resources/public/js
auth/src/main/resources/public/temp
conversation/src/main/resources/view/*
conversation/src/main/resources/public/js
conversation/src/main/resources/public/temp
workspace/src/main/resources/view/*
workspace/src/main/resources/public/js
workspace/src/main/resources/public/temp
directory/src/main/resources/view/*
directory/src/main/resources/public/js
directory/src/main/resources/public/temp
