version: "3"
services:
  gradle:
    image: opendigitaleducation/gradle:4.5.1
    working_dir: /home/gradle/project
    volumes:
      - $PWD:$PWD
      - ./:/home/gradle/project
      - ~/.m2:/home/gradle/.m2
      - ~/.gradle:/home/gradle/.gradle
      - /var/run/docker.sock:/var/run/docker.sock

  node:
    image: opendigitaleducation/node:16-alpine-pnpm
    working_dir: /home/node/app
    volumes:
      - ./:/home/node/app
      - ~/.npm:/.npm
      - ../recette:/home/node/recette # TODO : rendre générique pour appliquer à tous les springboards
      - ../infra-front:/home/node/infra-front

  node16:
    image: opendigitaleducation/node:16-alpine-pnpm
    working_dir: /home/node/app
    volumes:
      - ./admin/src/main/ts:/home/node/app
      - ./admin:/home/node/base
      - ~/.npm:/.npm
      - ../recette:/home/node/recette # TODO : rendre générique pour appliquer à tous les springboards
    environment:
      - NG_CLI_ANALYTICS=false
  load-tester:
    image: grafana/k6:master
    volumes:
      - ./tests/src/test/js/stresstest:/home/k6/src
      - ./tests/src/test/resources/data:/home/k6/data
    environment:
      ROOT_URL: http://172.17.0.1:8090
      DATA_ROOT_PATH: /home/k6/data
      DURATION: 61s
      VUS: 100
      ADMC_LOGIN: tom.mate
      ADMC_PASSWORD: password