services:
  maven:
    image: maven.opendigitaleducation.com/docker/repository/sre-docker-hosted/mvn-java8-node22:1.2.5
    user: "$DEFAULT_DOCKER_USER"
    working_dir: /usr/src/maven
    volumes:
      - ./:/usr/src/maven
      - ~/.m2:/var/maven/.m2
    environment:
      MAVEN_CONFIG: /var/maven/.m2
  maven21:
    image: maven:3.9.9-eclipse-temurin-21-alpine
    user: "$DEFAULT_DOCKER_USER"
    working_dir: /usr/src/maven
    volumes:
      - ./:/usr/src/maven
      - ~/.m2:/var/maven/.m2
    environment:
      MAVEN_CONFIG: /var/maven/.m2

  node:
    image: opendigitaleducation/node:16-alpine-pnpm
    working_dir: /home/node/app
    volumes:
      - ./:/home/node/app
      - ~/.npm:/.npm
      - ../recette:/home/node/recette # TODO : rendre générique pour appliquer à tous les springboards
      - ../infra-front:/home/node/infra-front

  node16:
    image: opendigitaleducation/node:16-alpine-pnpm
    working_dir: /home/node/app
    volumes:
      - ./admin/src/main/ts:/home/node/app
      - ./admin:/home/node/base
      - ~/.npm:/.npm
      - ../recette:/home/node/recette # TODO : rendre générique pour appliquer à tous les springboards
    environment:
      - NG_CLI_ANALYTICS=false

  node22:
    image: opendigitaleducation/node:22-alpine-pnpm
    working_dir: /home/node/app
    volumes:
      - ./broker-parent/broker-client/nest:/home/node/app
      - ~/.npm:/.npm
      - ../recette:/home/node/recette # TODO : rendre générique pour appliquer à tous les springboards
    environment:
      - NG_CLI_ANALYTICS=false
