<div class="top-spacing-twice horizontal-spacing-twice">
    <h2 translate content="classAdmin.delete.title"></h2>
    <div class="row">
        <span ng-bind-html="deleteTextAction()"></span>
        <hr />
    </div>
    <div class="lightbox-buttons fluid">
        <button class="right-magnet" ng-click="confirmRemove()"><i18n>remove</i18n></button>
        <button class="right-magnet" ng-click="unlinkSelectedUsers()" workflow="directory.allowClassAdminUnlinkUsers"><i18n>classAdmin.unlink.class</i18n></button>
        <button class="cancel right-magnet" ng-click="template.close('lightbox')"><i18n>cancel</i18n></button>
    </div>
</div>