
@font-face {
    font-family: 'OpenSansLight';
    src: url('http://localhost:8008/public/css/font/OpenSans-Light-webfont.eot');
    src: url('http://localhost:8008/public/css/font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://localhost:8008/public/css/font/OpenSans-Light-webfont.woff') format('woff'),
         url('http://localhost:8008/public/css/font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('http://localhost:8008/public/css/font/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('http://localhost:8008/public/css/font/OpenSans-Regular-webfont.eot');
    src: url('http://localhost:8008/public/css/font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://localhost:8008/public/css/font/OpenSans-Regular-webfont.woff') format('woff'),
         url('http://localhost:8008/public/css/font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('http://localhost:8008/public/css/font/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('http://localhost:8008/public/css/font/OpenSans-Bold-webfont.eot');
    src: url('http://localhost:8008/public/css/font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://localhost:8008/public/css/font/OpenSans-Bold-webfont.woff') format('woff'),
         url('http://localhost:8008/public/css/font/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('http://localhost:8008/public/css/font/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: 'OpenSansRegular', sans-serif;
	color: #3b3b41;
	background-color: white;
	margin: 20px;
	font-size: 14px;
	line-height: 20px;
}

h1 {
    font-family: 'OpenSansLight', sans-serif;
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
    margin: 0;
    padding: 5px 0 20px 0;
}

li {
	line-height: 20px;
}

.label {
	color: white;
	white-space: nowrap;
	vertical-align: baseline;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.15);
	font-family: 'OpenSansRegular', sans-serif;
	font-size: 12px;
	padding: 3px 6px;
}

/* ------------- History -------------- */

#select {
	border: 1px solid #ccc;
	color: #555;
	font-size: 1em;
}

#log {
	list-style: none;
	margin: 20px 0;
	font-size: 12px;
	padding: 0;
}

#log li {
	margin: 0;
	border-radius: 4px;
	padding: 5px 10px;
	cursor: pointer;
}

#log li:nth-child(2n+1){
	background-color: #f9f9f9;
}

#log li .title {
	font-weight: bold;
    font-family: 'OpenSansBold', sans-serif;
}

#log li .history-level {
	display: inline-block;
	width: 9%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#log li .history-message {
	display: inline-block;
	width: 70%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#log li .history-date {
	display: inline-block;
	width: 20%;
	white-space: nowrap;
	text-align: right;
}

#log li .history-badge-warning {
	border-radius: 5px;
	margin: 5px;
	border-color: #F4A506;
	background-color: #FABB3D;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(40, 95%, 76%)), color-stop(100%, hsl(40, 95%, 61%)));
	background-image: -webkit-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
	background-image: -moz-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
	background-image: -ms-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
	background-image: -o-linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
	background-image: linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
}


/*
#log table {
	border: 1px solid #ddd;
	border-radius: 5px;
	width: 100%;
	border-collapse: collapse;
	margin : 10px 0;
	font-size: 1em;
}

#log thead {
	font-weight: bold;
    font-family: 'OpenSansBold', sans-serif;
}

#log thead:first-child tr:first-child > th:first-child {
	border-top-left-radius: 5px;
}

#log thead:last-child tr:last-child > th:last-child {
	border-top-right-radius: 5px;
}

#log th, #log td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	border: 1px solid #ddd;
}
*/









