@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300);

body {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	padding: 10px;
}

h1 {
	color: red;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
}