.wayf-welcome {
  border-radius: var(--border-radius-24);
  background: var(--primitives-white);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.wayf-welcome__scroll {
  padding: var(--spacer-24);
  overflow-y: auto;
  overflow-wrap: break-word;
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.wayf-welcome__scroll::-webkit-scrollbar {
  width: 4px;
}

.wayf-welcome__scroll::-webkit-scrollbar-track {
  background: transparent;
}

.wayf-welcome__scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.wayf-welcome img,
.wayf-welcome table {
  max-width: 100%;
  height: auto;
}
