{ 
  "name": "org.entcore~infra",
  "waitDeploy" : true,
  "config" : {
    "main": "org.entcore.infra.Starter",
    "port": 8001,
    "mode": "prod",
    "probes": [
      "org.entcore.common.http.health.Neo4jProbe",
      "org.entcore.common.http.health.MongoProbe",
      "org.entcore.common.http.health.RedisProbe",
      "fr.wseduc.webutils.metrics.EventBusProbe"
    ],
    "neo4jMetricsEnable": {{ neo4jMetricsEnable  | default('true') }},
    {% if checkMonitoringEvents is defined %}
      "check-monitoring-events" : {
    		"session-min-delay": {{ checkMEminDelay | default(1000) }},
    		"session-threshold": {{ checkMEthreshold | default(1000) }},
    		"session-window-duration": {{ checkMEduration | default(300000) }},
    		"period": {{ checkMEperiod | default(300000) }}
    	},
    {% endif %}
    {% if infraNeo4jCheck is defined %}
      "neo4jConfigOverride": {
        "optimized-check-active": true
      },
    {% endif %}
    {% if ha is defined and ha and inventory_hostname_short is defined and inventory_hostname_short != 'jobs' and infraInstance is defined %}
      "instances": {{ infraInstance }},
    {% endif %}
    "auto-redeploy": false,
    "path-prefix": "infra",
    "ssl": true,
    "antivirus": {{ antivirus  | default('false') }},
    {% if csp is defined %}"content-security-policy": "{{ csp }}",{% endif %}
    "csrf-token": {{ csrfToken | default('true') }},
    "sql": true,
    {% if ha is defined and ha and inventory_hostname_short is defined and inventory_hostname_short != 'jobs' %}
      "hard-bounces-cron" : "0 0 1 * * ? 2099",
    {% else %}
      "hard-bounces-cron" : "{{ hardBouncesCron | default('0 0 6 * * ? *') }}",
    {% endif %}
    "sharedConf": {
      "smsProvider": "{{ smsProvider | default('Sinch') }}",
      "ent-version": "{{ maven_artifact_version | default('') }}",
      "forced-mfa-profiles": "{{ forcedMfaProfiles | default('') }}",
      "findVisiblesTimeout": {{ findVisiblesTimeout | default(60000) }},
      "sharesPartitionSize": {{ sharesPartitionSize | default(50) }},
      "sharesMaxCheckSize": {{ sharesMaxCheckSize | default('1000') }}
    }
  }
}