ul {
  margin: 0;
  padding: 0px;
  font-size: 0.9em;
}

ul li {
  cursor: pointer;
  border-top: 1px solid #ddd;
  padding: 10px 10px;

  &.no-results {
    padding: 50px;
    text-align: center;
    font-style: italic;
    &:hover {
      cursor: default !important;
      background-color: inherit !important;
    }
  }

  &.placeholder {
    color: #aaa;
    padding: 2rem;
    text-align: left;
    &:hover {
      cursor: default !important;
      background-color: inherit !important;
    }
  }
}

ul li.disabled {
  pointer-events: none;
}