@dark-blue: #074e68;
@mid-blue: #085a78;
@light-blue: #008cba;
@black: #2A2829;
@bright-blue: #008cba;

@nav-width: 200px;

@font-face {
	font-family: Walkway;
	src: url(../fonts/WalkwaySemiBold.ttf);
}

@font-face {
	font-family: Clemente;
	src: url(../fonts/ClementePDaa-Hairline.ttf);
	font-weight: 100;
}