@light-green: #CFF09E;
@mid-green: #A8DBA8;
@dark-green: #3B8686;
@dark-blue: #0B486B;
@light-blue: #4A9FCF;
@black: #2A2829;
@bright-blue: #008cba;

@nav-width: 200px;

@font-face {
	font-family: Walkway;
	src: url(../fonts/WalkwaySemiBold.ttf);
}

@font-face {
	font-family: Clemente;
	src: url(../fonts/ClementePDaa-Hairline.ttf);
	font-weight: 100;
}