<ode-groups-communication *ngIf="!!group && !!groupsSendingCommunicationRules"
                      [title]="titleLabel | translate:{name: group.name}"
                      [backButtonLabel]="backButtonLabel | translate"
                      [sendingSectionTitle]="sendingSectionTitle"
                      [receivingSectionTitle]="receivingSectionTitle"
                      [sendingSectionSendingColumnLabel]="'group.communication.current-group' | translate"
                      [sendingSectionReceivingColumnLabel]="'group.communication.groups-that-group-can-communicate-with' | translate"
                      [receivingSectionSendingColumnLabel]="receivingSectionSendingColumnLabel | translate"
                      [receivingSectionReceivingColumnLabel]="receivingSectionReceivingColumnLabel | translate"
                      [activeStructure]="activeStructure"
                      [manageableStructuresId]="manageableStructuresId"
                      [sendingCommunicationRules]="groupsSendingCommunicationRules | async"
                      [receivingCommunicationRules]="groupsReceivingCommunicationRules | async"
                      [addCommunicationPickableGroups]="addCommunicationPickableGroups"
                      [structures]="globalStore.structures.data"
                      (groupClose)="openGroupDetails()"
                      (groupPickerStructureChange)="onGroupPickerStructureChange($event)">
</ode-groups-communication>
