<!DOCTYPE html>
<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

<html>
<head>
	<script>
		var appPrefix = 'communication';
		var routes = {
			define: function(routing){
				this.routing = routing;
			}
		};

		function Model(){}
		Model.prototype.build = function(){};
		var model = new Model();
	</script>
	<title>{{#i18n}}directory.admin.title{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="{{#infra}}js/jquery-1.10.2.min.js{{/infra}}" type="text/javascript"></script>
	<script src="{{#infra}}js/angular.min.js{{/infra}}" type="text/javascript"></script>
	<script src="{{#infra}}js/angular-sanitize.min.js{{/infra}}" type="text/javascript"></script>
	<script src="{{#infra}}js/angular-route.min.js{{/infra}}" type="text/javascript"></script>
	<script src="{{#infra}}js/underscore-min-1.4.4.js{{/infra}}" type="text/javascript"></script>
	<script src="{{#infra}}js/lib.js{{/infra}}" type="text/javascript"></script>
	<script src="{{#infra}}js/ui.js{{/infra}}" type="text/javascript"></script>
	<script src="{{#infra}}js/mustache.js{{/infra}}" type="text/javascript"></script>
	<script src="{{#infra}}js/humane.min.js{{/infra}}" type="text/javascript"></script>
	<script src="{{#infra}}js/angular-app.js{{/infra}}" type="text/javascript"></script>
	<script src="{{#static}}js/communication.js{{/static}}" type="text/javascript"></script>
</head>
<body>
<admin-portal>
		<header>
			<h1>{{#i18n}}communication.header{{/i18n}}</h1>
		</header>
		<section id="main">
			<div class="communication">
				<nav>
					<ul>
						{{#schools}}
						<li><span class="school-menu">{{name}}</span>
						<li><a call="confProfils" href="groups/profils?schoolId={{id}}">{{#i18n}}communication.conf.profils{{/i18n}}</a>
						<li><a call="confParentsEnfants" href="groups/parents/enfants?schoolId={{id}}">{{#i18n}}communication.conf.parents{{/i18n}}</a>
						<li></li>
						{{/schools}}
					</ul>
				</nav>
				<div class="mod">
					<div id="list"></div>
					<div id="form-window"></div>
				</div>
			</div>
		</section>
	</admin-portal>
</body>
</html>
