<html>
    <head>
        <title>{{#i18n}}communication.title{{/i18n}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
        <script src="{{#static}}js/model.js{{/static}}" type="text/javascript"></script>
        <script src="{{#static}}js/controller.js{{/static}}" type="text/javascript"></script>
    </head>
</html>
<body ng-controller="CommunicationAdminController">
    <admin-portal>
        <article class="twelve cell list-view">


            <div class="twelve leaf-menu-container">
                <div class="leaf-menu" ng-class="{ selected: selected === 0 }">
                    <a ng-click="selected=0">[[lang.translate("communication.customRules")]]</a>
                    <loading-icon request="load-group-comm" only-loading-icon class="inline-middle"></loading-icon>
                </div>
                <div class="leaf-menu" ng-class="{ selected: selected === 1 }">
                    <a ng-click="selected=1">[[lang.translate("communication.defaultRules")]]</a>
                </div>
            </div>

            <script type="text/ng-template" id="structure-tree">
                <nav class="three cell recursive-list">
                    <input type="text" placeholder="[[lang.translate('communication.search')]]" ng-model="structureFilteringInput" />
                    <ul ng-if="!structureFilteringInput">
                        <li ng-repeat="struct in levelStructures = structures.all | filter: filterTopStructures | orderBy: 'name'" ng-click="viewStructure(struct); selectOnly(struct, levelStructures)" ng-class="{ selected: struct.selected }">
                            [[struct.name]] <i class="right-magnet folded-icon" ng-if="struct.children" ng-class="{ folded: !struct.selected }"></i>
                            <span ng-include="struct.selected ? 'structure-tree-sub-levels' : null"></span>
                        </li>
                    </ul>
                    <ul ng-if="structureFilteringInput">
                        <li ng-repeat="struct in allStructures = structures.all | filter: {name: structureFilteringInput} | orderBy: 'name'" ng-click="viewStructure(struct); selectOnly(struct, allStructures)" ng-class="{ selected: struct.selected }">
                            [[struct.name]]
                        </li>
                    </ul>
                </nav>
            </script>
            <script type="text/ng-template" id="structure-tree-sub-levels">
                <ul ng-if="struct.children">
                    <li ng-repeat="struct in levelStructures = struct.children | orderBy: 'name'" ng-click="$event.stopPropagation(); viewStructure(struct); selectOnly(struct, levelStructures)" ng-class="{ selected: struct.selected }">
                        [[struct.name]] <i class="right-magnet folded-icon" ng-if="struct.children" ng-class="{ folded: !struct.selected }"></i>
                        <span ng-include="struct.selected ? 'structure-tree-sub-levels' : null"></span>
                    </li>
                </ul>
            </script>

            <!--
                |||||||||||||||||||||
                ||| CUSTOM RULES  |||
                |||||||||||||||||||||
            -->
            <div ng-if="selected === 0" class="twelve">

                <!-- Left side menu : structures -->
                <div ng-include="'structure-tree'"></div>

                <!-- Right side container -->
                <article class="side-tabs-content content-flex unpadded nine cell" ng-if="structure">

                    <!-- Group selection menu -->
                    <nav class="vertical cell search-container-left">
                        <input type="text" placeholder="[[lang.translate('communication.search')]]" ng-model="$parent.filterGroups"/>
                        <ul>
                            <li ng-repeat="group in structure.groups.all | filter: filterGroupsFunction(filterGroups) | orderBy: 'name'" ng-click="group.sync(); $root.group = group;" style="padding-left: 0">
                                <span>[[groupTranslation(group.name)]]</span>
                            </li>
                        </ul>
                    </nav>

                    <!-- Group data container -->
                    <div ng-if="group" class="search-container-view">
                        <div class="row"><h1 style="margin-bottom: 0; text-align:center;">[[groupTranslation(group.name)]]</h1></div>
                        <hr class="separator">
                        <div style="text-align: center;">
                            <strong style="margin-right: 20;">[[lang.translate("communication.id")]]</strong><span>[[group.id]]</span>
                        </div>
                        <hr class="separator">
                        <div class="row accordions">

                            <!-- Group users -->
                            <article class="accordion" ng-class="{ opened: section === 1 }" style="padding: 0">
                                <h2 ng-click="accordionClick(1)">
                                    [[lang.translate("communication.accordion.groupUsers")+" ("+group.users.length()+")"]]
                                </h2>
                                <div class="toggle">
                                    <div class="content" style="overflow-y: scroll; height: 100%">
                                        <ul style="font-family: Lato; list-style-type: none; margin-top: 0; padding-left: 0;">
                                            <li ng-repeat="user in group.users.all | orderBy: 'lastName'" style="float: left; display: inline; width: 48%; margin-right: 1%">
                                                <a href="[['/directory/admin-console#/structureUser/'+structure.id+'/'+user.id]]" target="_blank">[[user.lastName]] [[user.firstName]]</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </article>

                            <!-- Custom group communication rules -->
                            <article class="accordion" ng-class="{ opened: section === 2 }" style="padding: 0">
                                <h2 ng-click="accordionClick(2)">
                                    [[lang.translate("communication.accordion.customRules")]]
                                </h2>
                                <div class="toggle">
                                    <div class="content" style="overflow-y: scroll; height: 100%; padding-top: 0">
                                        <select class="large-dark-input"
                                                ng-model="commStructure"
                                                ng-init="commStructure = structure"
                                                ng-options="structure as structure.name for structure in structures.all | orderBy: 'name'"
                                                ng-change="commStructure.groups.sync()">
                                        </select>
                                        <input class="large-dark-input" type="text" ng-model="filterAccordionGroups" placeholder="[[lang.translate('communication.search')]]"/>
                                        <ul style="font-family: Lato; list-style-type: none; margin-top: 0; padding-left: 0;">
                                            <li ng-repeat="listedGroup in filterAllOtherGroups(commStructure.groups.all, group) | filter: filterGroupsFunction(filterAccordionGroups) | orderBy: 'name'"
                                                ng-style="groupStyling(group, listedGroup)"
                                                ng-click="toggleGroupCommunication(group, listedGroup)"
                                                style="float: left; display: inline; width: 27%; margin-right: 1%;border-left: 10px solid gray;padding-left: 10; margin-bottom: 5px; transition: border-color 250ms ease;">
                                                [[groupTranslation(listedGroup.name)]]
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </article>

                            <!-- Intra group policy -->
                            <article class="accordion" ng-class="{ opened: section === 3 }" style="padding: 0">
                                <h2 ng-click="accordionClick(3)">
                                    [[lang.translate("communication.accordion.groupPolicy")]]
                                </h2>
                                <div class="toggle">
                                    <div class="content" style="overflow-y: scroll; height: 100%; padding-top: 0">
                                        <h3 class="twelve cell" translate content="communication.innerGroupRule" style="color: #AAA; margin-bottom:5px; margin-top: 0"></h3>
                                        <div ng-if="!group.communiqueUsers">
                                            <label style="display: inline-block; margin: 0 20 0 20; padding: 5; background: inherit; font-family: Lato;" translate content="communication.defaultRules"></label>
                                            <button ng-click="group.communiqueUsers = 'INCOMING'" style="display: inline-block; vertical-align: middle" translate content="communication.create"></button>
                                        </div>
                                        <div class="twelve cell" ng-if="group.communiqueUsers">
                                            <select ng-model="group.communiqueUsers" class="seven cell" style="height: 28px; margin-right: 10px">
                                                <option value="INCOMING">[[lang.translate("communication.incoming")]]</option>
                                                <option value="OUTGOING">[[lang.translate("communication.outgoing")]]</option>
                                                <option value="BOTH">[[lang.translate("communication.both")]]</option>
                                            </select>
                                            <button translate content="communication.modify" ng-click="modifyInnerGroupRules(group)" style="display: inline-block; vertical-align: middle"></button>
                                            <button translate content="communication.delete" ng-click="deleteInnerGroupRules(group)" style="display: inline-block; vertical-align: middle"></button>
                                        </div>
                                        <div ng-if="group.name.indexOf('Relative') >= 0">
                                            <div>
                                            <hr class="separator">
                                            <h3 class="twelve cell" translate content="communication.relativeRule" style="color: #AAA; margin-bottom:5px; margin-top: 0"></h3>
                                            <div ng-if="!group.relativeCommuniqueStudent">
                                                <label style="display: inline-block; margin: 0 20 0 20; padding: 5; background: inherit; font-family: Lato;" translate content="communication.defaultRules"></label>
                                                <button ng-click="group.relativeCommuniqueStudent = 'INCOMING'" style="display: inline-block; vertical-align: middle" translate content="communication.create"></button>
                                            </div>
                                            <div class="twelve cell" ng-if="group.relativeCommuniqueStudent">
                                                <select ng-model="group.relativeCommuniqueStudent" class="seven cell" style="height: 28px; margin-right: 10px">
                                                    <option value="INCOMING">[[lang.translate("Communication des enfants vers les parents")]]</option>
                                                    <option value="OUTGOING">[[lang.translate("communication.parentsToChildren")]]</option>
                                                    <option value="BOTH">[[lang.translate("communication.table.both")]]</option>
                                                </select>
                                                <button translate content="communication.modify" ng-click="modifyRelativeGroupRules(group)" style="display: inline-block; vertical-align: middle"></button>
                                                <button translate content="communication.delete" ng-click="deleteRelativeGroupRules(group)" style="display: inline-block; vertical-align: middle"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>

                        </div>
                    </div>
                </article>
            </div>

            <!--
                ||||||||||||||||||||||
                ||| DEFAULT RULES  |||
                ||||||||||||||||||||||
            -->
            <div ng-if="selected === 1" class="twelve">

                <h2 style="width: 100%; text-align: center;font-family: Lato; font-size: 20px;">[[ lang.translate("communication.table.title") ]]</h2>

                <table class="comm-table">
                    <thead>
                        <tr>
                            <th><!--Name--></th>
                            <th>[[ lang.translate("communication.innerRelationships") ]]</th>
                            <th>[[ lang.translate("communication.relativesRelationships") ]]</th>
                            <th ng-repeat="header in defaultRules">[[ groupTranslation(header.name) ]]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="line in defaultRules">
                            <td>
                                [[ groupTranslation(line.name) ]]
                            </td>
                            <td>
                                [[ line.users ? lang.translate("communication.table."+line.users.toLowerCase()) : "" ]]
                            </td>
                            <td>
                                [[ getRelativeStudentProp(line) ? lang.translate("communication.table.parents."+getRelativeStudentProp(line).toLowerCase()) : "" ]]
                            </td>
                            <td ng-repeat="column in defaultRules" ng-style="column.name === line.name ? { 'background-color': '#444' } : commStyling(line, column)"></td>
                        </tr>
                    </tbody>
                </table>

                <div>
                    <h3><i18n>communication.legend</i18n></h3>
                    <div style="width:100%">
                        <div style="background-color: crimson; width:30px; height: 30px; display: inline-block; vertical-align: middle"></div>
                        <label style="display: inline-block; vertical-align: middle; font-family: Lato" translate content="communication.legend.oneWay"></label>
                    </div>
                    <div style="width:100%; margin-top: 5px">
                        <div style="background-color: darkgreen; width:30px; height: 30px; display: inline-block; vertical-align: middle"></div>
                        <label style="display: inline-block; vertical-align: middle; font-family: Lato" translate content="communication.legend.both"></label>
                    </div>
                </div>

            </div>

        </article>
    </admin-portal>
</doby>
