<!DOCTYPE html>
<html>
<head>
	<title>{{#i18n}}directory.admin.title{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
	<script src="{{#static}}js/model.js{{/static}}" type="text/javascript"></script>
	<script src="{{#static}}js/controller.js{{/static}}" type="text/javascript"></script>
</head>
<body>
<admin-portal>
	<article ng-controller="CommunicationAdmin">
		<div ng-include="containers.main"></div>
	</article>
</admin-portal>
</body>
</html>