<html>
    <head>
        <title>{{#i18n}}admin.title{{/i18n}}</title>
        <meta charset="UTF-8">
        <base href="/">
        <link rel="stylesheet" type="text/css" href="{{#static}}styles/font-awesome-4.7.0/css/font-awesome.min.css{{/static}}">
    </head>

    <body>
        <admin-app>...</admin-app>
    </body>
</html>