.widget-card {
  display: flex;
  flex-direction: column;
  gap: var(--primitive-spacer-16);
  border-radius: var(--primitive-border-radius-2xl);
  padding: var(--primitive-spacer-16);
  background-color: var(--widget-card-bg, var(--primitive-white));
  box-shadow: var(--primitive-box-shadow);
}

.widget-card-body {
  display: flex;
  flex-direction: column;
  gap: var(--primitive-spacer-16);
}

.widget-card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--primitive-spacer-16);
  height: 70px;
  margin: 0 calc(-1 * var(--primitive-spacer-16)) calc(-1 * var(--primitive-spacer-16));
  padding: var(--primitive-spacer-32) var(--primitive-spacer-16) var(--primitive-spacer-16);
  border-bottom-right-radius: var(--primitive-border-radius-2xl);
  border-bottom-left-radius: var(--primitive-border-radius-2xl);
  border-top: 2px solid transparent;
}
