<div class="message is-info has-margin-10">
    <div class="message-body">
        <s5l>services.widget.myapps.message.info</s5l>
    </div>
</div>

<ode-panel-section section-title="services.widget.myapps.parameters.apps" [folded]="false">
    <ul class="param-list">
        <li class="bookmarks" *ngFor="let appKeyVal of bookmarksView | keyvalue">
            <div class="label">
                <s5l>{{appKeyVal.key}}</s5l>
                <span class="applies-to" *ngFor="let profile of appKeyVal.value; let isFirst = first">
                    <span *ngIf="isFirst"> - </span><span *ngIf="!isFirst">, </span>
                    <s5l>{{profile}}</s5l>
                </span>
            </div>
            <div class="actions">
                <i class="fa fa-pencil action" (click)="onEdit(appKeyVal.key)" ></i>
                <i class="fa fa-times action" (click)="onDelete(appKeyVal.key)"></i>
            </div>
        </li>
    </ul>

    <button (click)="showAppLightbox = true" class="bt-add">
        <s5l>services.widget.myapps.choose.app</s5l>
        <i class="fa fa-plus-circle is-size-5"></i>
    </button>

    <button (click)="showConnectorLightbox = true" class="bt-add">
        <s5l>services.widget.myapps.choose.connector</s5l>
        <i class="fa fa-plus-circle is-size-5"></i>
    </button>

</ode-panel-section>

<ode-lightbox class="app-params" [show]="showAppLightbox" (onClose)="showAppLightbox = false">
    <form class="form__add-app" [formGroup]="addApplicationForm" (ngSubmit)="addApplication()">
        <div class="form-content">
            <header><i class="fa fa-plus is-size-6"></i>&nbsp;<s5l>services.widget.myapps.add.app</s5l></header>

            <ode-form-field label="services.widget.myapps.choose.app">
                <ode-mono-select
                    name="application" 
                    formControlName="selectedApp"
                    [options]="applicationOptions"
                    placeholder="services.widget.myapps.choose.in_list"
                    (ngModelChange)="onApplicationChange($event)">
                </ode-mono-select>
            </ode-form-field>

            <ode-form-field label="services.widget.myapps.choose.profiles">
                <ode-multi-select 
                    class="lct-profiles-select"
                    formControlName="profiles"
                    label="services.widget.myapps.select.profiles"
                    [options]="profileOptions" 
                    [trackByFn]="profileTrackByFn" 
                    [preview]="true">
                </ode-multi-select>
            </ode-form-field>
        </div>

        <div class="action">
            <button type="button" class="cancel" (click)="reset()">
                <s5l>cancel</s5l>
            </button>
            <button type="button"
                    class="create confirm"
                    [disabled]="addApplicationForm.pristine || addApplicationForm.invalid"
                    (click)="addApplication()">
                <s5l>save</s5l>
            </button>
        </div>
    </form>
</ode-lightbox>

<ode-lightbox class="connector-params" [show]="showConnectorLightbox" (onClose)="showConnectorLightbox = false">
    <form class="form__add-connector" [formGroup]="addConnectorForm" (ngSubmit)="addConnector()">
        <div class="form-content">
            <header><i class="fa fa-plus is-size-6"></i>&nbsp;<s5l>services.widget.myapps.add.connector</s5l></header>

            <ode-form-field label="services.widget.myapps.choose.connector">
                <ode-mono-select
                    name="connector" 
                    formControlName="selectedConnector"
                    [options]="connectorOptions"
                    placeholder="services.widget.myapps.choose.in_list"
                    (ngModelChange)="onConnectorChange($event)">
                </ode-mono-select>
            </ode-form-field>

            <ode-form-field label="services.widget.myapps.choose.profiles">
                <ode-multi-select 
                    class="lct-profiles-select"
                    formControlName="profiles"
                    label="services.widget.myapps.select.profiles"
                    [options]="profileOptions" 
                    [trackByFn]="profileTrackByFn" 
                    [preview]="true">
                </ode-multi-select>
            </ode-form-field>
        </div>

        <div class="action">
            <button type="button" class="cancel" (click)="reset()">
                <s5l>cancel</s5l>
            </button>
            <button type="button"
                    class="create confirm"
                    [disabled]="addConnectorForm.pristine || addConnectorForm.invalid"
                    (click)="addConnector()">
                <s5l>save</s5l>
            </button>
        </div>
    </form>
</ode-lightbox>
