/* Font */
@import url('https://fonts.googleapis.com/css?family=Oxygen');

/* Variables */
// $main: rgb(0, 200, 248);
$main: rgb(42, 156, 200);
// $main-light: rgb(99, 218, 247);
// $main-dark: darken($main, 5%);
$main-light: lighten($main, 15%);
$main-dark: darken($main, 10%);

$accent: rgb(255, 131, 82);
$accent-light: lighten($accent, 20%);
$accent-dark: darken($accent, 10%);

$nuance: rgba(255, 255, 255, 0.9);
$contrast: crimson;
$button-bg: #f2f2f2;
$user-li-hover: #ffccb8;
$user-profile-img-width: 200px;
$fontawesome-size: 1.5em;

/* Elements */
body {
    padding: 0;
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    background-color: #F2F2F2;
}

a {
    color: black;
    text-decoration: none;
}
a:visited { color: initial; }
a:active { color: initial; }
a:hover { color: initial; }

h1 {
    margin: 0;
    padding: 1em 0;
    color: $main-dark;
    font-weight: normal;
}

button {
    text-align: left;
    padding: 10px 10px;
    background-color: $button-bg;
    border: 1px solid $button-bg;
    border-radius: 3px;
    transition: background 0.25s, color 0.25s;
    line-height: 1.5em;

    &.thin {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    &.input-inline {
        margin-left: 10px;
    }

    &:not(:disabled) { 
        cursor: pointer;
        color: $accent;
    }

    &:hover:not(:disabled) {
        background-color: $accent;
        color: white;
    }

    i {
        padding-left: 10px;
        float: right;
        color: #444;
    }
}

input[type="search"] {
    width: 100%;
    font-size: 0.8em;
    display: block;
    padding: 20px 10px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    transition: border-color 0.25s;

    &:focus {
        border-color: $accent;
    }

    &::-webkit-input-placeholder{ color:rgba(0,0,0,0.4); }
    &::placeholder{ color:rgba(0,0,0,0.4); }
    &:-ms-input-placeholder{ color:rgba(0,0,0,0.4); }
    &::-moz-placeholder { color:rgba(0,0,0,0.4); }
}

input[type="text"], input[type="tel"], input[type="email"], input[type="date"] {
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    transition: border-color 0.25s;
    padding: 0;

    &:focus { border-color: $accent; }

    &.ng-invalid.ng-dirty {
        border-color: $contrast;
        background-color: rgba(255,0,0,0.1);
    }
}

input:invalid {
  box-shadow: none
}

form-errors {
    flex: none !important;

    > .form-errors {
        margin-right: 10px;
    }
}

ul {
    list-style: none;
    padding-left: 20px;

    &.actions-list {
        display: table;
        border-spacing: 10px 5px;
        text-align: center;

        li {
            display: table-row;
            > * { display: table-cell; }
            > *:first-child { text-align: left; }
        }
    }
}

/* UX */

.badge {
    font-size: 0.8em;
    padding: 0.2em 10px;
    border-radius: 5px;

    &.alert {
        background-color: $contrast;
        color: white;
    }

    &.info {
        background-color: $main;
        color: white;
    }
}

.tabs {
    margin-bottom: 30px;

    > .tab {
        display: inline-block;
        padding: 1em 2em;
        font-size: 1em;
        background-color: white;
        color: $main;
        transition: all 0.25s;
        border-bottom: 3px solid $main;
        margin: 0px;
        outline: none;
        box-shadow: 2px 2px 1px #CCC;

        &:first-child{
            border-left: 1px solid #DDD;
        }

        &:hover {
            background-color: $main-light;
            color: white;
        }

        &.active {
            background-color: $nuance;
            color: $accent;
            font-weight: bold;
            border-bottom-color: $accent;
        }
    }
}

.card {
    box-shadow: 1px 1px 5px #AAA;
}

button.leaf-button {
    padding: 10px 20px;
    font-size: 1.1em;

     i {
        float: right;
        font-size: 1.2em;
        width: 1.2em;
        color: #444;
    }

    &:hover {
        background-color: $accent;

        i {
            color: white;
        }
    }
}

.card-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.9em;

    > * {
        flex: 0.5 0 calc(33% - 40px);
        display: flex;
        flex-wrap: wrap;
        min-width: 400px;
        &.align-start {
            align-content: flex-start;
        }

        @extend .card;
        margin: 20px;
        padding: 10px 20px 0px 20px;
        box-sizing: border-box;
    }

    .card-header {
        flex: 1 0 100%;
        font-size: 1.5em;
        line-height: 1.5em;

        i {
            margin-right: 15px;
        }
    }

    .card-body {
        flex: 1;
        padding: 25px 5%;

        button {
            @extend .leaf-button;
            display: block;
            width: 100%;
            margin: 10px 0px;
        }

        .card-list ul {
            padding: 0px;
            li {
                border-bottom: 1px solid #CCC;
                transition: background 0.25s;

                a {
                    padding: 5px;
                    display: block;
                }

                &:hover {
                    background-color: $accent;
                    color: white;
                    a { color: white; }
                }
            }
        }

        .card-big-margin {
            margin: 50px;
        }
    }
}

i.top-right {
    position: absolute;
    top: 1em;
    right: 1em;
}

.action {
    transition: color 0.25s;
    cursor: pointer;

    &:hover {
        color: $accent;
    }

    &.selected {
        color: $accent-dark;
    }
}

i.disabled {
    pointer-events: none;
    color: #AAA !important;
}

i.opener {
    cursor: pointer;
    font-style: normal;
    font-family: "FontAwesome";
    float: right;

    transition: color 0.25s;

    &:hover {
        color: $accent;
    }

    &::after{
        content: '\f105';
        display: inline-block;
        margin-right: 15px;
        transition: transform 0.25s;
    }

    &.opened {
        &::after {
            transform: rotate(90deg);
        }
    }
}

.round-button {
    position: absolute;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    box-shadow: 0px 0px 5px #444;
    cursor: pointer;
    background: $nuance;
    color: $accent;
    transition: all 0.25s;

    &.top-right-button {
        top: -20px;
        right: -20px;
    }

    &:hover {
        background: $accent-light;
        box-shadow: 0px 0px 3px #444;
    }

    &.selected {
        background: $accent-dark;
        color: $nuance;
        box-shadow: 0px 0px 1px #444;
    }
}

.padded {
    padding: 20px;
}

.relative {
    position: relative;
}

a.old-console {
    background-color: $contrast;
    color: white !important;
    transition: all 0.25s;

    &:hover{
        background-color: $accent;
    }
    i:hover {
        color: black !important;
    }
}

.error-tech {
    font-size: 0.7em;
    font-style: italic;
    border-left: 5px solid $contrast;
    margin: 15px 20px;
    padding-left: 20px;
}

/* Light boxes */
light-box {
    div[content] {
        border-radius: 10px;
        box-shadow: 0px 0px 5px white;
    }

    &.inner-list {
        max-height: 95vh;
        overflow-y: hidden;

        .padded {
            padding-top: 0px;
        }

        list-component {
            ul {
                max-height: 50vh;
                overflow-y: scroll;
            }
        }
    }
}

/* Tooltips */
body > div.tooltip {
    padding: 2px 10px;
    font-size: 11px;
    border-radius: 5px;
    background-color: opacify($accent, 0.7);
    color: #EEE;
    opacity: 0;
    transition: opacity 0.35s;
}
body > div.tooltip.shown {
    opacity: 1;
}

/* Portal */
ux-portal {
    > header {
        color: white;
        position: fixed !important;
        z-index: 9;
        background-color: $main;
        padding: 15px;
        box-sizing: border-box;
        height: 50px;
        box-shadow: 0px 0px 2px black;
        padding-right: 0px;

        span {
            font-size: 1.5em;
        }
    }

    side-panel {
        > div {
            left: -400px !important;
            width: 400px !important;
            top: 50px !important;
            height: calc(100% - 50px);
            border-right: 2px solid #AAA;
            box-sizing: border-box;
        }

        input[type="search"] {
            border-bottom: 1px solid white;
            color: white;

            &::-webkit-input-placeholder{ color:rgba(250,250,250,0.4); }
            &::placeholder{ color:rgba(250,250,250,0.4); }
            &:-ms-input-placeholder{ color:rgba(250,250,250,0.4); }
            &::-moz-placeholder { color:rgba(250,250,250,0.4); }
        }
    }

    div[header-left] > * {
        margin-right: 20px;
    }
    div[header-right] > * {
        margin-left: 20px;
    }
    div[header-left], div[header-right] {
        a {
            color: white;
            // &:visited, &:active { color: initial; }
        }
        i {
            font-size: 1.5em;
            cursor: pointer;
            padding: 13px 10px;
            transition: color 0.25s, background-color 0.25s;

            &:hover {
                color: $accent;
            }

            &.active {
                background-color: $main-light;
                color: $accent;
            }
        }
        span.link {
            cursor: pointer;
        }
    }
    div[section] {
        position: relative;
        left: 0px;
        top: 50px;
    }
    div[section] div.portal-body {
        padding: 0px 5%;
    }

    div[section] div.welcome-message {
        background-color: rgba(crimson, 0.7);
        color: white;
        padding: 10px 5%;

        a.old-console {
            background-color: rgba(crimson, 0.7);
            padding: 13px 0px;

            &:hover {
                background-color: $accent;
            }

            i {
                font-size: 1.5em;
                padding: 10px 10px;
            }
        }
    }
}

/* Admin Home */
admin-home {
    h3 {
        font-weight: normal;

        i {
            padding: 10px;
            background-color: $main;
            color: white;
        }
    }
}

/* Home Cards */
quick-actions-card {
    background-color: white;
}

user-search-card {
    background-color: white;
}

structure-card {
    background-color: white;
}

imports-exports-card {
    background-color: white;
}

/* Side panel */

side-panel {
    > div { background-color: $main; }

    > div > item-tree > ul {
        padding-left: 0px;
    }
}

/* Item tree */
item-tree {

    ul {
        li {
            padding: 0px;

            > a {
                color: white;
                padding: 10px 5px;
                display: block;
                text-decoration: none;
                transition: all 0.25s;

                &:hover {
                    background-color: $main-light;
                    color: white;
                }
            }

            &.root {
                > a {
                    font-weight: bolder;
                    border-bottom: 2px solid $main-light;
                }
            }

            &.selected > a {
                background-color: $accent;
                color: $nuance;

                &:hover i {
                    color: white;
                }
            }
        }
    }

    ul li.parent.unfolded>a>i.opener::after {
        transform: rotate(90deg);
    }
}

/* "Spinners" */
div.spinner-wrapper{
    z-index: 2;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3), transparent);

    div.sk-cube {
        background-color: $accent;
    }
}

spinner-cube.portal-spinner {
    div.spinner-wrapper {
        z-index: 100;
        top: 50px !important;
        height: calc(100% - 50px) !important;
    }
}

spinner-cube.component-spinner {
    div.spinner-wrapper {
        position: absolute;
        background: rgba(235,235,235,0.6);
        top: 0px !important;
        left: 0px !important;
    }
}

spinner-cube.button-spinner {
    div.spinner-wrapper {
        position: absolute;
        background: rgba(235,235,235,0.6);
        top: 0px !important;
        left: 0px !important;

        .spinner-cube {
            width: 100%;
            height: 100%;
            opacity: 0.8;
        }
    }
}

/* Two panels - list & companion */
.side-layout {

    .side-card {
        @extend .card;
        background-color: white;
    }

    .side-companion {
        @extend .card;

        div[side-companion] {
            background-color: white;
        }

        .panel-header {
            font-size: 1.6em;
            color: $main-dark;
            padding: 10px 15px;

            div {
                padding: 5px 0;
            }

            img {
                width: $user-profile-img-width;
            }
        }
    }
}

/* Panel message */
div.panel-message {
    background-color: $contrast;
    padding: 5px 5px;
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 0.7em;
    margin: 20px 0;
    line-height: 20px;
    text-align: center;

    button.goto-duplicate {
        padding: 1px 5px;
        width: auto;
        color: crimson;

        &:hover {
            background-color: lighten(crimson, 10%);
            color: white;
        }
    }
}

/* Panel sections */
.panel-section-header {
    color: white;
    background: $main;
    border-bottom: 1px solid $main-light;

    i.opener{ font-size: 1.3em }
}
.panel-section-content {
    font-size: 0.9em;
}

/* Forms */
.form-field {
    margin: 15px 0px;

    button.thin.input-line {
        flex: 0 0 auto;
    }
}

.form-row {
    display: flex;

    > * {
        flex: 1;
        margin: 10px;
    }
}

/*** Lists ***/

/* Generic lists */
list-component {
    li {
        &:hover {
            background-color: $accent-light;
        }

        &.selected {
            background-color: $accent;
            color: white;
        }

        &.disabled {
            color: #CCC;
        }
    }
}

/* Users root */
users-root {
    div.flex-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        button {
            background-color: $accent;
            color: white;
            padding: 10px 10px;

            &:hover {
                background-color: $accent-dark;
            }

            &.hidden {
                display: none;
            }
        }
    }
}

/* User list */
user-list {
    .user-toolbar {
        > i { @extend .action; }

        .toolbar-right {
            font-size: 1.2em;
            float: right;
        }
    }

    li {
        transition: background-color 0.25s, color 0.25s;
        position: relative;

        &.blocked::after {
            content: "\f05e";
            font-family: fontAwesome;
            float: right;
            font-size: 1.3em;
        }
        &.duplicates::after {
            content: "\f0c0";
            font-family: fontAwesome;
            float: right;
            font-size: 1.3em;
        }
    }
}

/* Group users list */
group-users-list list-component {
    div.toolbar {
        border-bottom: 1px solid #ccc;
        padding: 15px;
        margin-bottom: 10px;

        i { @extend .action; }

        .toolbar-right {
            font-size: 1.2em;
            float: right;
        }
    }

    ul > li:first-child{
        border-top: none !important;
    }
}

/* Groups root */
groups-root {
    div.flex-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        button {
            background-color: $accent;
            color: white;
            padding: 10px 10px;

            &:hover {
                background-color: $accent-dark;
            }

            &.hidden {
                display: none;
            }
        }
    }
}

/* User detail */
user-detail {
    .panel-header {
        button {
            width: $user-profile-img-width;
        }

        .panel-header-content {
            display: flex;
            align-items: center;

            .right {
                flex: 1;
                text-align: center;
            }

            button.big {
                background-color: $main-light;
                color: white;
                padding: 30px;
                width: 90%;
                font-size: 0.7em;

                i {
                    color: white;
                }
            }
        }
    }

    .fa {
        font-size: $fontawesome-size;
    }
}

/* User Filters */
user-filters {
    .fa {
        font-size: $fontawesome-size;
    }
}

/* User create */
user-create {
    panel-section {
        form {
            margin-bottom: 0px;
        }

        div.children-container {
            display: flex;

            div.empty {
                flex: 0 0 200px;
            }

            div.search {
                flex: 1;

                margin-right: 50px;
                
                ul {
                    overflow-y: scroll; 
                    height: 150px;

                    li {
                        cursor: pointer;
                        transition: background-color 0.25s;
                        
                        &:hover {
                            background: $user-li-hover;
                        }
                    }
                }
            }
            div.children-list {
                flex: 2;
                
                h3 {
                    line-height: 40px;
                    margin-top: 5px;
                }

                ul {
                    display: table;
                    border-spacing: 10px 5px;
                    text-align: center;

                    li {
                        display: table-row;

                        span {
                            text-align: left;
                            display: table-cell;
                        }

                        i {
                            display: table-cell;
                        }
                    }
                }
            }
        }
        button {
            padding: 10px 10px;
            margin-top: 20px;
            min-width: 100px;
            font-size: 1.2em;
            text-align: center;

            &:not([disabled]) {
                background-color: $accent;
                color: white;
            }

            &:not([disabled]):hover {
                background-color: $accent-dark;
            }
        }
    }

    div.panel-header {
        padding: 10px 15px !important;
    }

    .panel-section-header {
        background: none;
        border-bottom: none;
    }

    .fa {
        font-size: $fontawesome-size;
    }
}

group-create {
    panel-section {
        button {
            padding: 10px 10px;
            margin-top: 20px;
            min-width: 100px;
            font-size: 1.2em;
            text-align: center;

            &:not([disabled]) {
                background-color: $accent;
                color: white;
            }

            &:not([disabled]):hover {
                background-color: $accent-dark;
            }
        }
    }

    .panel-section-header {
        background: none;
        border-bottom: none;
        padding: 0 !important;
    }
}

/* Multi-combo */
multi-combo {
    >button {
        min-width: 200px !important;
        outline: none;
        font-weight: bolder;

        &:not([disabled]) {
            background-color: $button-bg;
        }

        &::after {
            content: '▼';
            float: right;
            margin-left: 10px;
            transition: transform 0.25s, color 0.25s;
        }

        &:hover::after {
            color: white;
        }

        &.opened::after {
            transform: rotate(180deg);
        }
    }

    >div {
        padding: 0px 10px;
        margin-top: -2px;
        
        &:not(.hidden) {
            border: 1px solid #ddd !important;
        }

        >div.options {
            margin-top: 10px;

            >button {
                border: 1px solid #444;
                background: #EEE;
                border: 0;
                transition: all 0.25s;
                margin: 2px 0px;
                width: 100%;
                padding-top: 5px;
                padding-bottom: 5px;

                &:hover {
                    background: $accent-light;
                    border: none;
                }
            }
        }

        >div.filter {
            input {
                width: 100%;
                line-height: 25px;
                border: none;
                border-bottom: 1px solid black;
                transition: border 0.25s ease-in-out;
                outline: none;
                padding: 0px 5px;

                &:focus {
                    border-bottom: 1px solid $accent;
                }
            }
        }

        >ul {
            list-style: none;
            padding: 0px;
            margin-bottom: 10px;

            >li {
                line-height: 25px;
                font-size: 13px;
                transition: background-color 0.25s, color 0.25s;
                margin-bottom: 5px;
                padding: 0px 10px;

                &.selected {
                    color: white;
                    background-color: $main-dark;
                }

                &:not(.selected):not([disabled]):hover {
                    background-color: transparentize($main, 0.5);
                }

                &:not(.selected)[disabled="true"] {
                    background-color: #CCC;
                }
            }
        }
    }
}

.multi-combo-companion {
    color: white;
    margin: 10px 0px;

    > div {
        border: 1px solid $main-dark;
        display: inline-block;
        font-size: 0.8em;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 10px 10px;
        cursor: pointer;
        transition: all 0.25s;
        border-radius: 3px;
        background-color: $main-dark;
        min-width: 150px;

        i {
            opacity: 0;
            transition: opacity 0.25s;
            float: right;
        }

        &:hover {
            background-color: $main-light;
            border-color: white;

            i {
                opacity: 1;
            }
        }
    }
}

/* Notifications */

.notification {
    div.notify-title {
        margin-bottom: 1em;
        font-size: 0.9em;
    }
    div.notify-content {
        font-size: 0.8em;
    }
    div.notify-footer {
        font-size: 0.7em;
        margin-top: 1em;
        padding-top: 1em;
        border-top: 1px solid white;
    }
}

/* Datepicker */
div.flatpickr {
    a {
        cursor: pointer;
        
        i:hover {
            color: $accent;
        }
    }
    input.cursor-default {
        cursor: default;
    }
}

.flatpickr-calendar {

    &.arrowTop:after {
        border-bottom-color: $accent !important;
    }

    .flatpickr-month {
        background-color: $accent;
    }

    .flatpickr-weekdays {
        background-color: $accent;
        .flatpickr-weekday {
            background-color: $accent;
        }
    }

    .flatpickr-days {
        .flatpickr-day.selected {
            background-color: $accent;
            border-color: $accent;
        }
    }
}