/* Google Font */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@import "icons";

/* Variables */
// COLOR PALETTE
$grey-light:              #eaedf2;
$grey-dark:               #5b6472;

$main:                    rgb(42, 156, 200);
$main-light:              lighten($main, 10%);
$main-dark:               darken($main, 5%);

$accent:                  rgb(255, 131, 82);
$accent-light:            lighten($accent, 10%);
$accent-dark:             darken($accent, 5%);

$contrast:                indianred;
$contrast-hover:          darken($contrast, 5%);

$validate:                mediumseagreen;
$validate-hover:          darken($validate, 5%);

$button-bg:               rgba($grey-light, 0.1);
$button-bg-hover:         rgba($grey-light, 0.1);

// SHADOW
$shadow-light:            rgba(0,0,0,0.1);
$shadow-dark:             rgba(0,0,0,0.5);
$white-transparent:       rgba(255,255,255,0.75);

// STATUS COLOR
$info:                    $main;
$info-dark:               darken($info, 5%);

$success:                 $validate;
$success-dark:            darken($success, 5%);

$warning:                 #ffdf76;
$warning-dark:            darken($warning, 5%);

$danger:                  darken($contrast, 5%);
$danger-dark:             darken($danger, 5%);

// PROFIL COLOR
$cyan:                    #46afe6;      // PARENT
$green:                   #6fbe2e;      // TEACHER
$orange:                  #ff8500;      // STUDENT
$purple:                  #a348c0;      // RELATIVE
$pink:                    #ff3a55;      // GUEST

// VARIABLE SIZE
$user-profile-img-width:  220px;
$fontawesome-size:        1.5em;

/* Elements */
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: $grey-light;
  color: $grey-dark;
}

a {
  color: mix($grey-light, $grey-dark, 20%);
  text-decoration: none;
}
a:visited { color: initial; }
a:active { color: initial; }
a:hover { color: initial; }

h1 {
  margin: 0;
  padding: 50px 20px 20px;
  color: mix($grey-light, $grey-dark, 10%);
  font-size: 30px;
  font-weight: normal;
}

h2 {
  font-size: 1.6em;
  font-weight: normal;
  color: $grey-dark;
}

button {
  text-align: left;
  padding: 10px 15px;
  background-color: rgba($grey-light, 0.1);
  border: 1px solid $grey-light;
  border-radius: 3px;
  transition: background 0.25s, color 0.25s, border 0.25s;
  line-height: 1.5em;
  color: $grey-dark;
  &.input-inline {
    margin-left: 10px;
  }
  &:not(:disabled) {
    cursor: pointer;
    color: $accent;
  }
  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }
  &.active, &:hover:not(:disabled) {
    background-color: $accent;
    color: white;
    border-color: $accent;
    i { color: white!important; }
  }
  &.selected {
    background-color: $accent-dark;
    color: white;
    &:hover {
      background-color: $accent-dark;
    }
    i::before {
      color: white!important;
    }
  }
  &.confirm {
    background-color: $accent;
    color: white;
    &:hover {
      background-color: $accent-dark !important;
    }
  }
  &.cancel {
    background-color: $button-bg;
    color: $accent;
    &:hover {
      background-color: $button-bg-hover;
      color: $accent;
    }
  }
  i {
    padding-left: 10px;
    float: right;
  }

  &.is-info {
    background-color: $info;
    color: #fff;
    &:hover:not(:disabled) {
      background-color: $info-dark;
      border-color: $info-dark;
    }
  }

  &.is-success {
    background-color: $success;
    color: #fff;
    &:hover:not(:disabled) {
      background-color: $success-dark;
      border-color: $success-dark;
    }
  }

  &.is-warning {
    background-color: $warning;
    color: #fff;
    &:hover:not(:disabled) {
      background-color: $warning-dark;
      border-color: $warning-dark;
    }
  }
  &.is-danger {
    background-color: $danger;
    color: #fff;
    &:hover:not(:disabled) {
      background-color: $danger-dark;
      border-color: $danger-dark;
    }
  }
}

input[type="search"] {
  width: 100%;
  color: $grey-dark;
  font-size: 1em;
  display: block;
  padding: 20px 10px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid $shadow-light;
  transition: border-color 0.25s;
  -webkit-appearance: textfield;
  &:focus {
      border-color: $accent;
  }
  &::-webkit-input-placeholder{color:rgba(0,0,0,0.4);}
  &::placeholder{color:rgba(0,0,0,0.4);}
  &:-ms-input-placeholder{color:rgba(0,0,0,0.4);}
  &::-moz-placeholder {color:rgba(0,0,0,0.4);}
}

input[type="text"], input[type="tel"], input[type="email"], input[type="date"] {
  color: $grey-dark;
  border: none;
  border-bottom: 1px solid mix($grey-light, $grey-dark);
  background-color: white;
  outline: none;
  transition: border-color 0.25s;
  padding: 5px;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  -webkit-appearance: textfield;
  &:focus { border-color: $accent; }
  &.ng-invalid.ng-dirty {
    border-color: $contrast;
    background-color: rgba($contrast,0.1);
  }
  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }
}

input[type="checkbox"]:disabled {
  cursor: not-allowed;
}

select:disabled {
  cursor: not-allowed;
}

input:invalid {box-shadow: none}

// STYLING SELECT
mono-select {
  display: inline-block;
  &.is-block .form-select__options--selected {
    @extend .is-block;
  }
  &.has-min-width .form-select__options--selected {
    width: 100%;
  }
}
.form-select {
  font-size: 14px;
  background-color: white;
  color: $grey-dark;
  position: relative;
  > ul {
    margin: 0 0 0 -20px;
  }
  &__list {
    cursor: pointer;
    display: none;
    background-color: white;
    margin: 0;
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
    right: 0;
    box-shadow: 1px 1px 10px $shadow-light;
  }
  &__options {
    padding: 10px 15px;
    margin-left: -20px;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    &:hover {
      background-color: rgba($accent, 0.85);
      color: white;
      -webkit-transition: all 0.2s ease 0s;
      -o-transition: all 0.2s ease 0s;
      transition: all 0.2s ease 0s;
    }
    &:active {
      background-color: $accent;
      color: white;
      -webkit-transition: all 0.2s ease 0s;
      -o-transition: all 0.2s ease 0s;
      transition: all 0.2s ease 0s;
    }
    & + & {
      border-top: 1px solid $shadow-light;
    }
    &--selected {
      position: relative;
      display: inline-block;
      border-radius: 3px;
      padding: 10px 30px 10px 20px;
      background-color: rgba($grey-light, 0.1);
      border: 1px solid $grey-light;
      cursor: pointer;
      &:after {
        content: '▼';
        color: mix($grey-light, $grey-dark);
        font-size: 12px;
        display: inline-block;
        position: absolute;
        top: 12px;
        right: 15px;
      }
    }
  }
  &--opened {
    .form-select__list {
      display: block;
    }
  }

  &--disabled {
    opacity: 0.5;
  }
}

form-errors {
  flex: none !important;
  line-height: 1.5em;
  > .form-errors {
    margin: 0 10px;
  }
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;

  form-field:first-child div.form-field {
    margin-top: 5px;
  }
  form-field:last-child div.form-field {
    margin-bottom: 5px;
  }
  form-field div.form-field label {
    font-weight: bold;
  }
}

table {
  width: 100%;
  table-layout: fixed;
  word-break: break-word;
  font-size: 0.9em;
  border-collapse: collapse;
  th {
    text-align: left;
    input {
      max-width: 100%;
      padding: 10px !important;
    }
  }
  tr {
    &:hover {
      cursor: pointer;
    }
  }
  tbody {
    tr {
      &:hover {
        background-color: $accent-light;
      }
      td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  td {
    border: 1px solid #dbdbdb;
    border-width: 0 0 1px;
    padding: 15px 5px;
  }

  &.is-bordered {
    border: 1px solid #dbdbdb;
  }
}

ul {
  list-style: none;
  padding-left: 20px;
  &.actions-list {
    li {
      padding: 5px 0;
      i.action {
        font-size: 1.5em;
      }
    }
  }
}

i.group_add {
    &:before {
        content: '\e91d';
    }
}

/* generic style
* TODO : replace by using a css framework
* here a bulma.io semantic is used
*/
.button {
  cursor: pointer;
  text-align: left;
  padding: 10px 10px;
  border-radius: 3px;
  transition: background 0.25s, color 0.25s, border 0.25s;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85rem;
  &.is-primary {
    color: $accent;
    border: 1px solid $accent;
    &:hover:not(:disabled) {
      color: white;
      background-color: $accent;
    }
  }
  &.is-active {
    color: white;
    background-color: $accent;
    box-shadow: 0 0 10px rgba($accent, 1);
  }

  &.is-selected {
    color: white;
    background-color: $accent;
    cursor: default;
    i {
      cursor: default !important;
    }
  }

  &.is-clickable {
    cursor: pointer;
  }

  &.is-info {
    background-color: $info;
    color: #fff;
    &:hover:not(:disabled) {
      background-color: $info-dark;
      border-color: $info-dark;
    }
  }

  &.is-success {
    background-color: $success;
    color: #fff;
    &:hover:not(:disabled) {
      background-color: $success-dark;
      border-color: $success-dark;
    }
  }

  &.is-warning {
    background-color: $warning;
    color: #fff;
    &:hover:not(:disabled) {
      background-color: $warning-dark;
      border-color: $warning-dark;
    }
  }
  &.is-danger {
    background-color: $danger;
    color: #fff;
    &:hover:not(:disabled) {
      background-color: $danger-dark;
      border-color: $danger-dark;
    }
  }
}

.container {
  background-color: white;
  padding: 10px 30px 40px 30px;
  margin-bottom: 40px;
}

.message {
  margin: 15px 0px;
  p {margin: 10px 0;}
  .message-header {
    padding: 10px 20px;
    background: black;
    color:white;
    font-size: 1.1em;
    font-weight: bold;
  }
  .message-body {
    padding: 10px 20px !important;
    font-size: 0.9em;
    font-weight: initial;
    &::before {
      font-family: "FontAwesome";
      display: inline-block;
      padding: 0;
      font-size: 20px;
      vertical-align: middle;
    }
    ul {list-style: initial;}
  }
  &.is-success {
    color: $success;
    background-color: lighten($success, 45%);
    border-color: $success;
    .message-body::before {
      content: "\f058";
    }
  }
  &.is-info {
    color: $info;
    background-color: lighten($info, 45%);
    border-color: $info;
    .message-body::before {
      content: "\f05a";
    }
  }
  &.is-danger {
    color: $danger;
    background-color: lighten($danger, 40%);
    border-color: $danger;
    .message-body::before {
      content: "\f071";
    }
  }
  &.is-warning {
    color: darken($warning, 40%);
    background-color: lighten($warning, 20%);
    border-color: $warning;
    .message-body::before {
      content: "\f06a";
    }
  }
  &.is-success .message-header {background: $success;}
  &.is-info .message-header {background: $info;}
  &.is-danger .message-header {background: $danger;}
  &.is-warning .message-header {background: $warning;}
}

.is-size-1 {font-size: 3rem;}
.is-size-2 {font-size: 2.5rem;}
.is-size-3 {font-size: 2rem;}
.is-size-4 {font-size: 1.5rem;}
.is-size-5 {font-size: 1.25rem;}
.is-size-6 {font-size: 1rem;}
.is-size-7 {font-size: 0.75rem;}

.has-accent-color {color: $accent;}
.has-shadow {box-shadow: 2px 2px 10px $shadow-light;}

.has-text-centered {text-align: center !important;}
.has-text-right {text-align: right;}

.has-no-padding {padding: 0;}

.has-padding-5 {padding: 5px;}
.has-vertical-padding-5 {padding: 5px 0px;}
.has-horizontal-padding-5 {padding: 0 5px;}
.has-top-padding-5 {padding-top: 5px;}
.has-bottom-padding-5 {padding-bottom: 5px;}
.has-left-padding-5 {padding-left: 5px;}
.has-right-padding-5 {padding-right: 5px;}

.has-padding-10 {padding: 10px;}
.has-vertical-padding-10 {padding: 10px 0px;}
.has-horizontal-padding-10 {padding: 0 10px;}
.has-top-padding-10 {padding-top: 10px;}
.has-bottom-padding-10 {padding-bottom: 10px;}
.has-left-padding-10 {padding-left: 10px;}
.has-right-padding-10 {padding-right: 10px;}

.has-no-margin {margin: 0;}

.has-margin-5 {margin: 5px;}
.has-vertical-margin-5 {margin: 5px 0px;}
.has-horizontal-margin-5 {margin: 0 5px;}
.has-top-margin-5 {margin-top: 5px;}
.has-bottom-margin-5 {margin-bottom: 5px;}
.has-left-margin-5 {margin-left: 5px;}
.has-right-margin-5 {margin-right: 5px;}

.has-margin-10 {margin: 10px;}
.has-vertical-margin-10 {margin: 10px 0px;}
.has-horizontal-margin-10 {margin: 0 10px;}
.has-top-margin-10 {margin-top: 10px;}
.has-bottom-margin-10 {margin-bottom: 10px;}
.has-left-margin-10 {margin-left: 10px;}
.has-right-margin-10 {margin-right: 10px;}

.has-margin-40 {margin: 40px;}
.has-vertical-margin-40 {margin: 40px 0px;}
.has-horizontal-margin-40 {margin: 0 40px;}
.has-top-margin-40 {margin-top: 40px;}
.has-bottom-margin-40 {margin-bottom: 40px;}
.has-left-margin-40 {margin-left: 40px;}
.has-right-margin-40 {margin-right: 40px;}

.has-left-margin-auto {margin-left: auto;}
.has-min-width {min-width: 200px;}

.is-pulled-left {float: left;}
.is-pulled-right {float: right;}
.is-clearfix::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.is-hidden {display: none !important;}
.is-block {display: block;}

.is-display-flex {display: flex;}
.has-space-between {justify-content: space-between;}
.has-flex-end {justify-content: flex-end;}
.has-align-items-baseline {align-items: baseline;}
.has-align-items-center {align-items: center;}
.is-flex-none {flex: none !important;}

@mixin grid-cell-width($cell-size: 1) {
	width: (100% / 12 * $cell-size);
}

.one{@include grid-cell-width(1);}
.two{@include grid-cell-width(2);}
.three{@include grid-cell-width(3);}
.four{@include grid-cell-width(4);}
.five{@include grid-cell-width(5);}
.six{@include grid-cell-width(6);}
.seven{@include grid-cell-width(7);}
.eight{@include grid-cell-width(8);}
.nine{@include grid-cell-width(9);}
.ten{@include grid-cell-width(10);}
.eleven{@include grid-cell-width(11);}
.twelve{@include grid-cell-width(12);}
/* UX */
.badge {
  font-size: 0.8em;
  padding: 0.2em 10px;
  border-radius: 5px;
  &.alert {
    background-color: $danger;
    color: white;
  }
  &.info {
    background-color: $info;
    color: white;
  }
}

.tabs {
  margin-bottom: 30px;
  > .tab {
    display: inline-block;
    padding: 1em 2em;
    font-size: 1em;
    background-color: white;
    color: mix($grey-light, $grey-dark, 10%);
    transition: all 0.25s;
    border: 1px solid $grey-light;
    border-bottom: 5px solid mix($grey-light, $grey-dark, 10%);
    margin: 0px;
    outline: none;
    box-shadow: 1px 1px 5px $shadow-light;
    &:first-child{
      border-radius: 5px 0 0 0;
    }
    &:last-child {
      border-radius: 0 5px 0 0;
    }
    &:hover {
      background-color: $accent;
      color: white;
      border-bottom-color: white;
    }
    &.active {
      font-weight: bold;
      background-color: white;
      color: $accent;
      border-bottom-color: $accent;
    }
    &[disabled] {
      opacity: .5;
      color: $grey-dark;
      cursor: not-allowed;
      border-bottom-color: $grey-light;
      &:hover {
        background-color: white;
        opacity: .25;
      }
    }
  }
}

.card {box-shadow: 2px 2px 10px $shadow-light;}

button.card-button {
  padding: 10px 20px;
  font-size: 1.1em;
  i {
    float: right;
    font-size: 1.2em;
    width: 1.2em;
  }
  &:not([disabled]):hover {
    background-color: $accent;
    i {
        color: white;
    }
  }
}

.card-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.9em;
  > * {
    @extend .card;
    margin: 20px;
    padding: 10px 20px 0px 20px;
    box-sizing: border-box;
    flex: 0.5 0 calc(33% - 40px);
    display: flex;
    flex-wrap: wrap;
    min-width: 400px;
    &.align-start {
        align-content: flex-start;
    }
    @media screen and (max-width: 860px) {
      flex: 100%;
    }
  }
  .card-header {
    flex: 1 0 100%;
    font-size: 1.5em;
    line-height: 1.5em;
    i {
      margin-right: 15px;
    }
  }
  .card-body {
    flex: 1;
    padding: 25px 5%;
    button {
      @extend .card-button;
      display: block;
      width: 100%;
      margin: 10px 0px;
    }
    .card-list {
      max-height: 170px;
      overflow-y: auto;
      ul {
        margin-top: 0px;
        padding: 0px;
        li {
          border-bottom: 1px solid #CCC;
          transition: background 0.25s;
          a {
            padding: 5px;
            display: block;
          }
          &:hover {
            background-color: $accent-light;
          }
        }
      }
    }
    .card-big-margin {margin: 50px;}
  }
}

i.top-right {
  position: absolute;
  top: 0em;
  right: 1em;
}

.action {
  transition: color 0.25s;
  cursor: pointer;
  padding: 0 5px;
  color: $grey-dark;
  &:hover {
    color: $accent;
  }
  &.selected {
    color: $accent-dark;
  }
}

i.disabled, tr.disabled {
  pointer-events: none;
  color: #AAA !important;
}

i.fa-toggle-on::before {
  color: $validate;
}

i.opener {
  cursor: pointer;
  font-style: normal;
  font-family: "FontAwesome";
  transition: color 0.25s;
  &:hover {
    color: $accent;
  }
  &::after{
    content: '\f105';
    display: inline-block;
    margin-right: 15px;
    transition: transform 0.25s;
  }
  &.opened {
    &::after {
      transform: rotate(90deg);
    }
  }
}

i.fa-times {
  color: $contrast;
  text-decoration: none;
}

.round-button {
  position: absolute;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  font-size: 25px;
  line-height: 37px;
  text-align: center;
  box-shadow: 0px 0px 5px $shadow-light;
  cursor: pointer;
  background: $white-transparent;
  color: $accent;
  transition: all 0.25s;
  &.top-right-button {
    top: -20px;
    right: -20px;
  }
  &:hover {
    background: $accent-light;
    box-shadow: 0px 0px 3px $shadow-light;
  }
  &.selected {
    background: $accent-dark;
    color: $white-transparent;
    box-shadow: 0px 0px 1px $shadow-light;
  }
}

.padded {
  padding: 20px;
}

.relative {
  position: relative;
}

a.old-console {
  background-color: $contrast;
  color: white !important;
  transition: all 0.25s;
  i:hover {
    background-color: $contrast-hover !important;
  }
}

.error-tech {
  font-size: 0.7em;
  font-style: italic;
  border-left: 5px solid $contrast;
  margin: 15px 20px;
  padding-left: 20px;
}

/* Lightbox component */
lightbox {
  font-size: 16px;
  div[content] {
    padding: 20px 40px!important;
    border-radius: 3px;
    box-shadow: 2px 2px 10px $shadow-dark;
    max-height: 800px !important;
    overflow: auto !important;
    & > i {
      &::after {
        content: '\f00d';
        font-family: "FontAwesome";
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        font-size: 20px;
        font-style: normal;
        transition: transform 0.25s, color 0.25s;
        cursor: pointer;
      }
      &:hover::after {
        color: $accent;
      }
    }
  }
  h2 {
    margin-bottom: 0;
  }
  button {
    text-align: center;
  }
  &.inner-list {
    max-height: 95vh;
    overflow-y: hidden;
    .padded {
      padding-top: 0px;
    }
    list {
      ul {
          max-height: 46vh;
          overflow-y: auto;
      }
    }
  }
}

/* Tooltips */
body > div.tooltip {
  padding: 2px 10px;
  font-size: 11px;
  border-radius: 5px;
  background-color: opacify($accent, 0.7);
  color: #EEE;
  opacity: 0;
  transition: opacity 0.35s;
}
body > div.tooltip.shown {
  opacity: 1;
}

/* Side panel component */
side-panel {
  > div {
    background-color: $grey-dark;
    overflow-y: auto !important;
  }
  > div > item-tree > ul {
    padding-left: 0px;
  }
}

/* Item tree component */
item-tree {
  ul {
    li {
      padding: 0px;
      > a {
        color: white;
        padding: 15px 10px 15px 20px;
        display: block;
        text-decoration: none;
        transition: all 0.25s;
        &:hover {
          background-color: $main-light;
          color: white;
        }
      }
      &.root {
        > a {
          font-weight: bolder;
          border-bottom: 1px solid $shadow-light;
        }
      }
      &.selected > a {
        background-color: $accent;
        color: white;
        &:hover i {
          color: white;
        }
      }
    }
  }
  ul li.parent.unfolded>a>i.opener::after {
    transform: rotate(90deg);
  }
}

/* "Spinners" */
div.spinner-wrapper {
  z-index: 2;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3), transparent);
  div.sk-cube {
    background-color: $accent;
  }
}

spinner-cube.portal-spinner {
  div.spinner-wrapper {
    z-index: 101;
    top: 50px !important;
    height: calc(100% - 50px) !important;
  }
}

spinner-cube.component-spinner {
  div.spinner-wrapper {
    position: absolute;
    background: rgba(235,235,235,0.6);
    top: 0px !important;
    left: 0px !important;
  }
}

spinner-cube.button-spinner {
  div.spinner-wrapper {
    position: absolute;
    background: rgba(235,235,235,0.6);
    top: 0px !important;
    left: 0px !important;
    .spinner-cube {
      width: 100%;
      height: 100%;
      opacity: 0.8;
    }
  }
}

/* Two panels - list & companion */
.side-layout {
  .side-card {
    @extend .card;
    position: sticky!important;
    top: 75px;
    background-color: white;
    & div.toolbar {
      box-shadow: 0 2px 5px $shadow-light;
    }
  }
  .side-companion {
    @extend .card;
    background-color: white;
    margin-bottom: 60px;
    .panel-header {
      font-size: 1.6em;
      color: mix($grey-light, $grey-dark, 10%);
      padding: 20px;
      div {
        padding: 5px 0;
      }
      img {
        width: $user-profile-img-width;
        border: 1px solid $grey-light;
      }
    }
  }
}

/* Panel message */
div.panel-message {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $contrast;
  padding: 5px 5px;
  color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-size: 0.6em;
  margin-top: 10px;
  line-height: 20px;
  i {
    padding-right: 5px;
    font-size: 1.1em;
    &.duplicates {
      font-size: 1.5em;
      color: #fff;
      &::before {
        content: '\e7fb';
      }
    }
  }
  button.action {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    margin-left: 10px;
    color: $contrast;
    transition: none;
    text-decoration: none;
    background-color: white;
    border-color: $contrast;
    &:hover {
      background-color: $contrast-hover;
      color: white;
      i {
        color: white;
      }
    }
    i {
      color: $contrast;
    }
  }
  &.yellow {
    background-color: rgba(255, 165, 0, 0.2);
    padding: 10px 0 !important;
    color: #666;
    i.waiting-predelete {
      font-size: 1.5em;
      &::before {
        content: '\e936';
      }
    }
  }
}

/* Panel sections */
.panel-section {
  @extend .is-clearfix;
}
.panel-section-header {
  color: white;
  background: $grey-dark;
  border-bottom: 1px solid $shadow-light;
  i.opener { font-size: 1.3em }
}
.panel-section-content {
  font-size: 0.9em;
  a.action {
    text-decoration: underline;
  }
  i.fa-time {
    font-size: 16px;
  }
}

/* Forms */
.form-field {
  margin: 25px 0px;
}
.form-row {
  display: flex;
  > * {
    flex: 1;
    margin: 10px;
  }
}

/* Generic lists component */
list {
  li {
    &:hover {
      background-color: $grey-light;
    }
    &.selected {
      background-color: $accent;
      color: white;
      i::before {
        color: white;
      }
    }
    &.disabled {
      color: #CCC;
    }
    &.no-results {
      text-align: center;
      font-style: italic;
      &:hover {
        cursor: default !important;
        background-color: inherit !important;
      }
    }
  }
}

user-list,
group-users-list,
group-input-users,
group-output-users {
  list {
      li {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        span.display-name {
          flex: 1;
          padding-right: 5px;
        }
        i {
          &.profile {
            color: $grey-dark;
            border: 1px solid $shadow-light;
            background-color: $white-transparent;
            font-size: 1em;
            font-style: normal;
            border-radius: 3px;
            padding: 5px 15px;
            text-align: center;
            &::before {
              content: " ";
              display: inline-block;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              margin-right: 5px;
            }
          }
          &.Student.profile::before {background-color: $orange;}
          &.Teacher.profile::before {background-color: $green;}
          &.Relative.profile::before {background-color: $cyan;}
          &.Personnel.profile::before {background-color: $purple;}
          &.Guest.profile::before {background-color: $pink;}
          &.fa {
            font-size: 1.3em;
            padding-right: 5px;
            &.fa-lock {
              color: #aaa;
            }
            &.fa-times-circle, &.fa-ban {
              color: $contrast;
            }
          }
          &.duplicates {
            padding-right: 5px;
            font-size: 1.8em;
            color: $accent;
            &::before {
              content: '\e7fb';
            }
          }
          &.waiting-predelete {
            padding-right: 5px;
            font-size: 1.5em;
            color: $contrast;
            &::before {
              content: '\e936';
            }
          }
        }
      &.selected {
        i.duplicates {
            color: $accent-light;
        }
      }
    }
  }
}

/* User list */
user-list {
  .user-toolbar {
    display: flex;
    align-items: center;
    > i {
      @extend .action;
      color: mix($grey-light, $grey-dark, 20%);
      padding-right: 5px;
      text-decoration: none;
    }
    .is-pulled-right {
      margin-left: auto;
    }
  }
  .list-wrapper {
    max-height: 60vh;
    overflow-y: auto;
    clear: both;
  }
}

services-list {
  .panel-section {
      min-height: 50px;
  }

  .side-card {
    flex-basis: 250px !important;
    .list-wrapper {
      max-height: 60vh;
      overflow-y: auto;
      li {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding: 20px !important;
        min-height: 80px;
        text-align: center;
        i {
          font-size: 3.5em;
        }
      }
    }
  }
  .service-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-bottom: 15px;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .service-badges {
    display: inherit;
    margin-left: 150px;
    font-size: 0.4em;
  }

  .service-badges__locked {
    margin-left: 5px;
  }
}

/* Portal component */
portal {
  > header {
    color: white;
    position: fixed !important;
    z-index: 100;
    background-color: $grey-dark;
    padding: 15px 0;
    box-sizing: border-box;
    height: 50px;
    box-shadow: 0px 0px 20px $shadow-light;
    span {
      font-size: 1.5em;
    }
  }
  side-panel {
    > div {
      left: -400px !important;
      width: 400px !important;
      top: 50px !important;
      height: calc(100% - 50px);
      box-shadow: 1px 1px 25px $shadow-light;
      box-sizing: border-box;
    }
    input[type="search"] {
      color: white;
      &::-webkit-input-placeholder{ color:rgba(250,250,250,0.4);}
      &::placeholder{color:rgba(250,250,250,0.4);}
      &:-ms-input-placeholder{color:rgba(250,250,250,0.4);}
      &::-moz-placeholder {color:rgba(250,250,250,0.4);}
    }
  }
  div[header-left] > * {
    margin-right: 20px;
  }
  div[header-left], div[header-right] {
    a {
      color: white;
    }
    i {
      font-size: 1.5em;
      height: 50px;
      width: 60px;
      line-height: 50px;
      cursor: pointer;
      transition: color 0.25s, background-color 0.25s;
      text-align: center;
      &:not([disabled]):hover {
        background-color: $main-light;
        color: white;
      }
      &[disabled]:hover {
        background-color: #666;
        cursor: not-allowed;
      }
      &.active {
        background-color: $accent;
        &:hover {
          background-color: $accent;
        }
      }
    }
    span.link {
      cursor: pointer;
    }
  }
  div[section] {
    position: relative;
    left: 0px;
    top: 50px;
  }
  div[section] div.portal-body {
    padding: 0px 5%;
    max-width: 1600px;
    margin: 0 auto;
  }
  div[section] div.welcome-message {
    background-color: lighten($contrast, 10%);
    color: white;
    padding: 10px 5%;
    a.old-console {
      background-color: rgba($contrast, 0.7);
      padding: 5px 0px;
      i {
        background-color: rgba($contrast, 1);
        font-size: 1em;
        padding: 5px 10px;
      }
    }
  }
}

/*** App components ***/

/* App Home component */
app-home {
  h3 {
    font-weight: normal;
    i {
      padding: 5px;
      background-color: $grey-dark;
      color: white;
    }
  }
}

/* Home Cards components */
quick-actions-card {
  background-color: white;
}

user-search-card {
  background-color: white;
}

services-card {
  background-color: white;
}

imports-exports-card {
  background-color: white;
}

/* Users component */
users-root {
  div.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    button {
      border-color: $accent;
      background-color: $accent;
      color: white;
      padding: 10px 10px;
      display: flex;
      align-items: center;
      &:hover {
        border-color: $accent-dark;
        background-color: $accent-dark;
      }
      &.hidden {
        display: none;
      }
    }
  }
}

user-detail {
  .panel-header {
    div.panel-header-sub {
      padding-top: 0px !important;
      font-size: 0.7em;
      & > span {
        i {
          font-size: 0.9em;
        }
        &.user-admin {
            color: $accent;
        }
        &.user-inactive {
          color: darkgrey;
        }
      }
    }
    div.login-date {
      font-size: 0.6em;
      font-style: italic;
      color: $grey-dark;
    }
    .panel-header-content {
      display: flex;
      align-items: center;
      .left {
        button {
        width: $user-profile-img-width;
          &:hover {
            i.fa-check, i.fa-upload {
              color: $validate-hover;
            }
          }
        }
        i.fa-ban, i.fa-times-circle {
          color: $contrast;
        }

        i.fa-check, i.fa-upload {
          color: $validate;
        }
      }
      .right {
        flex: 1;
        flex-flow: column wrap;
        display: flex;
        button {
          margin-left: 5px;
          min-width: 185px;
        }
      }
      button.big {
        flex: 0 1 90%;
        align-items: center;
        justify-content: space-between;
        display: flex;
        font-size: 0.7em;
        margin: 5px;
        padding: 20px;
      }
    }
  }
  .fa {
    font-size: $fontawesome-size;
  }
}

user-info-section {
  panel-section {
    form-field {
      div.sendPassword {
        display: flex;
        flex-flow: row wrap;
        padding-bottom: 5px;
        & > input {
          flex: 0 1 300px;
          margin-right: 5px;
        }
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 110px;
          & > span {
            flex: 1;
          }
          &.mobile {
            padding: 2px 10px;
            i.fa-mobile {
              font-size: 2.5em;
              padding-right: 3px;
            }
          }
        }
      }
    }
  }
}

user-create {
  panel-section {
    form {
      margin-bottom: 0px;
    }
    div.children-container {
      display: flex;
      div.empty {
        flex: 0 0 200px;
      }
      div.search {
        flex: 1;
        margin-right: 50px;
        ul {
          overflow-y: scroll;
          height: 150px;
          li {
            cursor: pointer;
            transition: background-color 0.25s;
            &:hover {
              background: $accent-light;
            }
          }
        }
      }
      div.children-list {
        flex: 2;
        h3 {
          line-height: 40px;
          margin-top: 5px;
        }
        ul {
          display: table;
          border-spacing: 10px 5px;
          text-align: center;
          li {
            display: table-row;
            span {
              text-align: left;
              display: table-cell;
            }
            i {
              display: table-cell;
            }
          }
        }
      }
    }
  div.action {
      display: flex;
      justify-content: flex-end;
      button {
        margin: 20px 0 0 5px;
        min-width: 80px;
        font-size: 1em;
        text-align: center;
        &.create:not([disabled]) {
          background-color: $accent;
          color: white;
        }
        &.create:not([disabled]):hover {
          background-color: $accent-dark;
        }
        &.cancel {
          background-color: $button-bg;
          color: $accent;
          &:hover {
              background-color: $button-bg-hover;
          }
        }
      }
    }
  }
  div.panel-header {
    padding: 10px 15px !important;
  }
  .panel-section-header {
    background: none;
    border-bottom: none;
  }
  .fa {
    font-size: $fontawesome-size;
  }
}

/* Groups components */
groups-root {
  div.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  button {
      background-color: $accent;
      color: white;
      padding: 10px 10px;
      display: flex;
      align-items: center;
      &:hover {
        background-color: $accent-dark;
      }
      &.hidden {
        display: none;
      }
    }
  }
}

groups-type-view {
  div.side-card {
    list {
      .list-wrapper {
        max-height: 40vh;
        overflow-y: auto;
      }
    }
  }
}

group-users-list {
  list {
    div.toolbar {
      border-bottom: 1px solid $shadow-light;
      padding: 15px;
      position: relative;
      z-index: 10;
      i { @extend .action; }
      .toolbar-right {
        font-size: 1.2em;
        float: right;
      }
    }
    ul {
      & > li:first-child {
        border-top: none !important;
      }
    }
    span.structures {
      ul {
        border: 1px solid $grey-light;
        border-radius: 3px;
        padding: 5px 5px;
        margin: 0 5px;
        background-color: $white-transparent;
        min-width: 160px;
        li:hover {
          background-color: transparent;
        }
      }
    }
  }
}

group-create {
  panel-section {
    div.action {
      display: flex;
      justify-content: flex-end;
      button {
        margin: 20px 0 0 5px;
        min-width: 80px;
        font-size: 1em;
        text-align: center;
        &.create:not([disabled]) {
          background-color: $accent;
          color: white;
        }
        &.create:not([disabled]):hover {
          background-color: $accent-dark;
        }
        &.cancel {
            background-color: $button-bg;
            color: $accent;
          &:hover {
              background-color: $button-bg-hover;
          }
        }
      }
    }
  }
  .panel-section-header {
    background: none;
    border-bottom: none;
    padding: 0 !important;
  }
}

group-manage-users {
    h2 {
      padding: 10px 0;
    }
    div.container {
      display: flex;
      align-items: baseline;
      & > * {
        flex: 1 50%;
        padding: 0 5px;
      }
      div.flex-row-wrap {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        list {
          min-height: 60vh;
          max-height: 60vh;
          flex: 1;
          div.user-toolbar {
            > i { @extend .action; }
            .toolbar-right {
              font-size: 1.2em;
              float: right;
            }
            button {
              &.select-all {
                padding: 5px 5px;
                margin: 5px 0 5px 5px;
              }
              &.deselect-all {
                padding: 5px 5px;
                margin: 5px 0;
              }
            }
          }
        }
      }

    group-input-users {
      div.filters {
        flex: 1 100%;
        position: relative;
      }
      button.add {
        text-align: center;
        border-radius: 25px;
        width: 50px;
        height: 50px;
        padding: 0px 0px;
        margin-left: 5px;
        font-size: 1.5em;
        &:not(:disabled) {
          background-color: $accent;
          color: #fff;
          &:hover {
            background-color: $accent-dark;
          }
        }
      }
      group-input-filters-users {
        & > i {
          font-size: 1.5em;
          padding-left: 20px;
          &:hover {
            cursor: pointer;
            color: $accent;
          }
        }
        & > div {
          position: absolute;
          z-index: 2;
          top: 40px;
          border: 1px solid $grey-light;
          background: white;
          padding: 15px 15px;
          min-width: 550px;
          box-shadow: 2px 2px 10px $shadow-light;
        }
      }
    }
    group-output-users {
      .header {
        flex: 1 100%;
        font-size: 1.3em;
      }
      button.remove {
        text-align: center;
        border-radius: 25px;
        width: 50px;
        height: 50px;
        padding: 0px 0px;
        margin-right: 5px;
        font-size: 1.5em;
        &:not(:disabled) {
          background-color: $main;
          color: #fff;
          &:hover {
            background-color: $main-dark;
          }
        }
      }
      list {
        li {
          &:hover {
            background-color: $main-light;
          }
          &.selected {
            background-color: $main;
            color: white;
          }
        }
      }
    }
  }
}

/* Services */
services-root {
  div.flex-header {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      button {
          background-color: $accent;
          color: white;
          padding: 10px 10px;
          display: flex;
          align-items: center;

          &:hover {
              background-color: $accent-dark;
          }
      }
  }

  app-details {
    .flex-container {
      display: flex;
      >.flex-item {
        flex: none;
        margin: 5px 10px 5px 10px;
      }
    }
  }
}

mass-mail {
  button:hover {
    i.filters-toggle {
      color: white;
    }
  }
  .filters-toggle {
      font-size: 1.5em;
  }
  .filters {
    position: absolute;
    z-index: 2;
    border: 1px solid $grey-light;
    background: white;
    padding: 15px;
    min-width: 550px;
    box-shadow: 2px 2px 10px $shadow-light;
  }
  .close {
    display: flex;
    justify-content: flex-end;
    &:hover {
      cursor: pointer;
    }
  }
}

export {
  button.action {
    background-color: $accent;
    border-color: $accent;
    padding: 10px 20px;
    color: white ! important;
    text-decoration: none;
    &:hover {
      background-color: $accent-dark;
      border-color: $accent-dark;
    }
  }
}

/* Multi-combo component */
multi-combo {
  >button {
    min-width: 250px !important;
    outline: none;
    &::after {
      content: '▼';
      float: right;
      margin-left: 10px;
      transition: transform 0.25s;
    }
    &:hover::after {
      color: white;
    }
    &.opened::after {
      transform: rotate(180deg);
    }
  }
  > div {
    padding: 0px 10px;
    margin-top: -2px;
    min-width: 400px;
    max-width: 800px;
    &:not(.hidden) {
      border: 1px solid $shadow-light!important;
    }
    >div.options {
      margin-top: 10px;
      >button {
        border: 1px solid #444;
        background: #EEE;
        border: 0;
        transition: all 0.25s;
        margin: 2px 0px;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        &:hover {
          background: $accent-light;
          border: none;
        }
      }
    }
    >div.filter {
      input {
        width: 100%;
        line-height: 25px;
        border: none;
        border-bottom: 1px solid mix($grey-light, $grey-dark);
        transition: border 0.25s ease-in-out;
        outline: none;
        padding: 0px 5px;
        &:focus {
          border-bottom: 1px solid $accent;
        }
      }
    }
    > ul {
      list-style: none;
      padding: 0px;
      margin-bottom: 10px;
      > li {
        line-height: 25px;
        font-size: 13px;
        transition: background-color 0.25s, color 0.25s;
        margin-bottom: 5px;
        padding: 0px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.selected {
          color: white;
          background-color: $accent;
        }
        &:not(.selected):not([disabled]):hover {
          background-color: transparentize($main, 0.5);
        }
        &:not(.selected)[disabled="true"] {
          background-color: #CCC;
        }
      }
    }
  }
}

.multi-combo-companion {
  color: white;
  margin: 10px 0px;
  > div {
    border: 1px solid $main-dark;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    cursor: pointer;
    transition: all 0.25s;
    border-radius: 3px;
    background-color: $main-dark;
    line-height: 1.5em;
    i {
      opacity: 0;
      transition: opacity 0.25s;
      float: right;
      padding-left: 10px;
    }
    &:hover {
      background-color: $main-light;
      border-color: white;
      i {
        opacity: 1;
      }
    }
  }
}

/* Notifications */
.notification {
  div.notify-title {
    margin-bottom: 1em;
    font-size: 0.9em;
  }
  div.notify-content {
    font-size: 0.8em;
  }
  div.notify-footer {
    font-size: 0.7em;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid white;
  }
}

/* Datepicker component */
date-picker {
  flex: none !important;
}

div.flatpickr {
  a {
    cursor: pointer;
    i:hover {
        color: $accent;
    }
  }
  input.cursor-default {
    cursor: default;
  }
}

.flatpickr-calendar {
  &.arrowTop:after {
    border-bottom-color: $accent !important;
  }
  .flatpickr-month {
    background-color: $accent;
  }
  .flatpickr-weekdays {
    background-color: $accent;
    .flatpickr-weekday {
      background-color: $accent;
    }
  }
  .flatpickr-days {
    .flatpickr-day.selected {
      background-color: $accent;
      border-color: $accent;
    }
  }
}

/* reset */
div:focus { outline: 0; }

@media screen and (max-width: 860px) {
  .card-layout > *,
  .side-companion,
  .side-card
  {
    flex: 100%;
  }
}

i.fa {
  &.is-succcess { color: $success; }
  &.is-info { color: $info; }
  &.is-danger { color: $danger; }
  &.is-warning { color: $warning; }
}

@media screen and (max-width: 860px) {
  .card-layout > *,
  .side-companion,
  .side-card {
    flex: 100%;
  }
}

// QUOTA
.quota-container {
  display: flex;
}
.quota-numbers {
  padding: 10px 0px;
}
.quota-bar {
  display: flex;
  border: 1px solid mix($grey-light, $grey-dark, 80%);
  border-radius: 2px;
  height: 25px;
  margin: 10px 0px;
}
.quota-bar__used-space {
  background-color: $validate;
  &--warning {
    background-color: $accent;
  }
  &--full {
    background-color: $contrast;
  }
}
.quota-bar__unused-space {
  background-color: #fff;
}
.quota-form {
  margin-left: 20px;
  padding-left: 20px;
  border-left: solid 1px $grey-light;
}
.quota-form-title {
  padding: 10px 0px;
}
.quota-form-body__input {
  width: 100px;
  margin: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.quota-form-footer {
  font-size: 12px;
}

/* TABLE COMPONENT */
.table {
  border: 1px solid $grey-light;
  margin: 10px 0;
  thead {
    background-color: $grey-dark;
    color: $grey-light;
    th {
      &:hover {
        background-color: darken($grey-dark, 10%);
      }
    }
  }
  th, td {
    padding: 10px;
  }
  tr {
    &:nth-of-type(even) {
      background-color: mix($grey-light, white, 50%);
    }
    &:not(:first-of-type):hover {
      background-color: lighten($accent, 15%);
    }
    &:active {
      background-color: lighten($accent, 5%);
      color: white;
    }
  }
  &__checkbox {
    width: 20px;
  }
}

/* CHECKBOXES COMPONENT */
.checkbox {
  &__item {
    margin: 10px;
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: absolute;
      left: -9999px;
    }

    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
      position: relative;
      padding-left: 25px;
      cursor: pointer;
    }

    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
      content: '';
      position: absolute;
      left:0; top: 0;
      width: 17px; height: 17px;
      border: 1px solid mix($grey-light, $grey-dark, 85%);
      background: white;
      box-shadow: inset 0 1px 2px $shadow-light;
    }

    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
      content: '✔';
      position: absolute;
      top: -2px; left: 4px;
      font-size: 16px;
      color: $accent;
      transition: all .2s;
    }
    [type="checkbox"]:not(:checked) + label:after {
      opacity: 0;
      transform: scale(0);
    }
    [type="checkbox"]:checked + label:after {
      opacity: 1;
      transform: scale(1);
    }
  }
}

// SQUARE COMPONENT

div.legend-square {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;
}
div.legend-square.green {
  background-color: green;
}
div.legend-square.red {
  background-color: red;
}
div.legend-square.orange {
  background-color: orange;
}
div.legend-square.blue {
  background-color: blue;
}
div.legend-square.outlined, input.outlined {
  box-shadow: 0px 0px 5px 3px #444;
}

// Trumbowyg editor
.trumbowyg-box {
  z-index: 0;
}

/* <table> 
* TODO : manage fix header style
*/
table {
    border-collapse: collapse;
    thead
    {
        color: white;
        background: $main;
        font-weight: bolder;
        th {
            padding: 10px;
        }
    }
    tbody
    {
        tr > td {
            padding: 6px;
            font-size: 0.95em;
            border-bottom: 1px solid grey;
            text-align: left;
        }
    }
}

/* <wizard> */
wizard {
    background: $main-light !important;
    button {
        background-color: $button-bg;
        padding: 10px 10px;
        &:hover {
            background-color: $button-bg-hover ;
        }
    }
    nav.steps-progress-menu {
        font-size: 1.05em;
        font-weight: bold;
        color: $main-light;
        li { 
            padding: 5px 0;
            &.active { 
                color : white; 
            }
        }
    }
    nav.steps-nav-button {
        padding : 10px;
    }
    step {
        min-height: 300px;
        padding: 10px;
        h2 {
            margin-top: 5px;
            font-size : 1.6em;
            font-weight : bold;
            color: $main-dark;
        }
    }
}