<ul [ngClass]="{ flattened: isFlattened() }">
  <li *ngFor="let item of (items | flattenObjArray: flatten | filter: filter | orderBy: order:reverse)"
      [ngClass]="{ selected: isSelected(item), unfolded: !isFolded(item), parent: hasChildren(item), root: _depth === 0 }">
    <a href="javascript:void(0)" (click)="selectItem(item)" *ngIf="!checkboxMode">
      <i class="opener" (click)="toggleFold($event, item)"
         *ngIf="!isFlattened() && hasChildren(item) && !disableOpener"></i>
      {{ display(item) }}
    </a>
    <div class="checkbox__item" *ngIf="checkboxMode">
      <input id="all" type="checkbox" [(ngModel)]="item.check" ngDefaultControl>
      <label for="all" (click)="checkItem(item)">{{display(item)}}</label>
    </div>
    <ode-item-tree
      [items]="getChildren(item)"
      [children]="childrenProperty"
      [display]="displayProperty"
      [filter]="filter"
      [order]="order"
      [reverse]="reverse"
      [lastSelected]="_lastSelectedItem"
      [depth]="_depth + 1"
      [disableOpener]="disableOpener"
      [checkboxMode]="checkboxMode"
      (onSelect)="bubbleSelect($event)"
      (onCheck)="checkItem($event)"
      *ngIf="(checkboxMode && hasChildren(item)) || (!isFlattened() && hasChildren(item) && !isFolded(item))">
    </ode-item-tree>
  </li>
</ul>
