<panel-section section-title="users.details.section.infos">
    <form-field label="profile">
        <span>{{ user.type | translate }}</span>
        <div>
            <button (click)="toggleUserBlock()" [disabled]="ls.isLoading('user.block', 1)" class="relative">
                    <spinner-cube class="button-spinner" waitingFor="user.block"></spinner-cube>
                    <i class="fa fa-ban"></i>
                    <s5l [s5l-params]="[details.blocked]">toggle.account</s5l>
                </button>
        </div>
    </form-field>
    <form-field label="login">
        <span>{{ user.login }}</span>
        <div><button>
                <i class="fa fa-trash"></i>
                <s5l>delete.account</s5l>
            </button></div>
    </form-field>
    <form-field label="activation.code" *ngIf="user.code">
        <input type="text" [(ngModel)]="details.activationCode" #codeInput="ngModel" [attr.placeholder]="'activation.code.placeholder' | translate"
            required minlength="4">
        <form-errors [control]="codeInput"></form-errors>
        <div>
            <button [disabled]="codeInput.invalid"><s5l>change.activation.code</s5l></button>
        </div>
    </form-field>
    <form-field label="id">
        <span>{{ user.id }}</span>
    </form-field>
    <form-field label="source">
        <span>{{ user.source }}</span>
    </form-field>
    <form-field label="administration" *ngIf="details.functions && details.functions[0] && details.functions[0][0]">
        <div *ngFor="let function of details.functions">
                {{ function[0] | translate }}
                <span *ngIf="function[1].length > 0 && getStructure(function[1][0])">
                    ({{ 'structure.or.more' | translate:{ head: getStructure(function[1][0]).name, rest: function[1].length - 1 } }})
                </span>
                <span *ngIf="function[1].length > 0 && !getStructure(function[1][0])">
                    ({{ 'member.of.n.structures' | translate:{ count: function[1].length } }})
                </span>
        </div>
    </form-field>
    <div class="form-row" *ngIf="!user.code">
        <button class="relative" (click)="wrap(details.sendResetPassword, 'user.password.mail', null, passwordResetMail)" [disabled]="!passwordResetMail || passwordMailInput.errors">
                <spinner-cube class="button-spinner" waitingFor="user.password.mail"></spinner-cube>
                <s5l>send.reset.password</s5l>
                <i class="fa fa-envelope"></i>
            </button>
        <input type="email" [(ngModel)]="passwordResetMail" name="passwordResetMail" [attr.placeholder]="'send.reset.password.placeholder' | translate"
            #passwordMailInput="ngModel" [pattern]="emailPattern">
        <form-errors [control]="passwordMailInput"></form-errors>
    </div>
</panel-section>