<h1>Configuration de l'école</h1>

<table>
	<thead>
	<tr>
		<th></th>
		<th>Enseignants</th>
		<th>Enfants</th>
		<th>Parents</th>
		<th>Personnel</th>
		<th>Directeur</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Enseignants</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Enfants</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Parents</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Personnel</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Directeur</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	</tbody>
</table>