<ode-panel-section
  section-title="users.details.section.positions"
  [folded]="true"
>
  <button (click)="showUserPositionSelectionLightbox = true">
    <i class="fa fa-plus-circle is-size-5"></i>
    <s5l>user-position.select</s5l>
  </button>

  <ul class="actions-list">
    <li *ngFor="let userPosition of userPositions">
      <span>{{ userPosition.name }}</span>
      <i
        class="fa fa-times action"
        (click)="removeUserPosition(userPosition)"
        [title]="'user-position.remove' | translate"
      ></i>
    </li>
  </ul>

  <ode-lightbox
    class="inner-list"
    [show]="showUserPositionSelectionLightbox"
    (onClose)="showUserPositionSelectionLightbox = false"
  >
    <div class="user-position-assignment padded">
      <h3><s5l>user-position.select</s5l></h3>

      <ode-user-position-list
        [(searchContent)]="searchContent"
        [userPositionList]="filteredPositionList"
        (selectedUserPositionChange)="selectUserPosition($event)"
        (filteredListChange)="filteredListChange($event)"
      ></ode-user-position-list>
      <div *ngIf="showEmptyScreen" class="empty-screen">
        <img
          height="100"
          src="/admin/public/img/user-position-empty-screen.svg"
        />
        <s5l>user-position.input-name.not-found</s5l>
        <button (click)="openUserPositionCreationModal()">
          <s5l>user-position.add</s5l>
          <i class="fa fa-plus-circle is-size-5"></i>
        </button>
      </div>
    </div>
  </ode-lightbox>

  <ode-user-position-modal
    [userPosition]="newPosition"
    [structureId]="structure.id"
    [show]="showUserPositionCreationLightbox"
    (onClose)="addUserPositionToList($event)"
  >
  </ode-user-position-modal>

  <ode-lightbox-confirm
    *ngIf="positionToRemove"
    [show]="showConfirmRemovePosition"
    lightboxTitle="user-position.confirm.remove.title"
    (onCancel)="removeUserPositionCancel()"
    (onConfirm)="removeUserPositionConfirmed()"
  >
    <p>
      <s5l [s5l-params]="{ name: positionToRemove.name }"
        >user-position.confirm.remove.text</s5l
      >
    </p>
  </ode-lightbox-confirm>
</ode-panel-section>
