<div class="flex-header">
  <h1><i class="fa fa-users"></i>
    <s5l>groups</s5l>
  </h1>

  <button *ngIf="isADMC" [routerLink]="['classes','create']"
          [class.hidden]="createButtonHidden('classes')">
    <s5l>create.class</s5l>
    <i class="fonticon group_add is-size-3"></i>
  </button>

  <button [routerLink]="['manualGroup', 'create']"
          [class.hidden]="createButtonHidden('manualGroup')">
    <s5l>create.group</s5l>
    <i class="fonticon group_add is-size-3"></i>
  </button>
  <button *ngIf="isADMC" [routerLink]="['broadcastGroup', 'create']"
          [class.hidden]="createButtonHidden('broadcastGroup')">
    <s5l>create.broadcast.list</s5l>
    <i class="fonticon group_add is-size-3"></i>
  </button>
</div>

<div class="tabs">
  <ng-container *ngFor="let tab of tabs"><button class="tab" *ngIf="tab.visible"
        [routerLink]="tab.view"
        routerLinkActive="active">
    {{ tab.label | translate }}
  </button></ng-container>
</div>

<router-outlet></router-outlet>
