<div>
    <h2 translate content="workspace.create.cancel.title"></h2>
    <div class="row">
        <span translate content="workspace.import.cancel.content"></span>
        <hr />
    </div>
    <div class="lightbox-buttons fluid">
        <button class="cancel right-magnet" ng-click="onCancelShareNewFilesOwn()"><i18n>workspace.import.cancel.own</i18n></button>
        <button class="right-magnet" ng-click="onCancelShareNewFilesDelete()"><i18n>workspace.import.cancel.delete</i18n></button>
    </div>
</div>