<div style="overflow: hidden">
    <h2 translate content="workspace.import.zip.title"></h2>
    <div class="row">
        <span translate content="workspace.import.zip.content"></span>
        <hr />
    </div>
    <div class="lightbox-buttons fluid">
        <button class="right-magnet" ng-click="onZipUncompress()"><i18n>workspace.import.zip.uncompress</i18n></button>
        <button class="cancel right-magnet" ng-click="onZipUpload()"><i18n>workspace.import.zip.upload</i18n></button>
        <button class="cancel right-magnet" ng-click="onZipCancel()"><i18n>workspace.import.zip.cancel</i18n></button>
    </div>
</div>