.lightbox-header {
    margin-bottom: 0;
    > s5l {
        margin-left: 10px;
    }
}
.structure-link {
    cursor: pointer;
    color: #ff8352;
    > i {
        margin-left: 10px;
    }
}
.title-icon {
    font-size: 1em;
}