{{#i18n}}timeline.immediate.mail.header{{/i18n}}
<div style="{{#i18n}}timeline.immediate.mail.notification.div.style{{/i18n}}">
{{#nested}}innerTemplate{{/nested}}
</div>
{{#resourceUri}}
<div style="{{#i18n}}timeline.immediate.mail.action.div.style{{/i18n}}">
    <a href="{{resourceUri}}" style="{{#i18n}}timeline.immediate.mail.action.button.style{{/i18n}}">
        {{#i18n}}timeline.immediate.mail.action.text{{/i18n}}
    </a>
</div>
{{/resourceUri}}
{{#i18n}}timeline.immediate.mail.footer{{/i18n}}
