<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div style="{{#i18n}}timeline.mail.banner.style{{/i18n}}">
            <img src="{{#i18n}}timeline.mail.logo.src{{/i18n}}" style="{{#i18n}}timeline.mail.logo.style{{/i18n}}" />
        </div>
        {{#i18n}}timeline.weekly.mail.header{{/i18n}}
        {{#notifications}}
        <div style="{{#i18n}}timeline.weekly.mail.notification.div.style{{/i18n}}">
            <div style="{{#i18n}}timeline.weekly.mail.notification.type.div.style{{/i18n}}">
                <a href="{{link}}" style="{{#i18n}}timeline.weekly.mail.notification.type.link.style{{/i18n}}">{{#i18n}}{{type}}{{/i18n}}</a>
            </div>
            <ul style="{{#i18n}}timeline.weekly.mail.notification.event-types.ul.style{{/i18n}}">
                {{#event-types}}
                    <li style="{{#i18n}}timeline.weekly.mail.notification.event-type.li.style{{/i18n}}">"{{#i18n}}{{notificationName}}{{/i18n}}" : {{count}}</li>
                {{/event-types}}
            </ul>
            <a href="{{link}}" style="{{#i18n}}timeline.weekly.mail.call.link.style{{/i18n}}">
                <div style="{{#i18n}}timeline.weekly.mail.call.button.style{{/i18n}}">
                    {{#i18n}}timeline.weekly.mail.call.button.text{{/i18n}}
                </div>
            </a>
        </div>
        {{/notifications}}
        {{#i18n}}timeline.weekly.mail.footer{{/i18n}}
        {{#i18n}}timeline.mail.bottom{{/i18n}}

    </body>
</html>
