<spinner-cube class="component-spinner" waitingFor="users-content"></spinner-cube>

<div class="panel-header">
    <img src="/userbook/avatar/{{user.id}}?thumbnail=100x100">
    <span>{{user.firstName}} {{user.lastName}}</span>
</div>

<div>
    <div class="panel-message" *ngIf="details?.blocked">
        <i class="fa fa-ban"></i>
        <s5l>user.blocked</s5l>
    </div>
    <div class="panel-message" *ngIf="isContextAdml()">
        <i class="fa fa-cog"></i>
        <s5l>adml.current.structure</s5l>
    </div>
    <div class="panel-message" *ngIf="hasDuplicates()">
        <i class="fa fa-users"></i>
        <s5l>user.has.duplicates</s5l>
        <button style="float: right" anchor="user-duplicates-section" (click)="openDuplicates()">
            <i class="fa fa-compress"></i>
            <s5l>manage.duplicates</s5l>
        </button>
    </div>

    <user-info-section [user]="user" [structure]="structure"></user-info-section>

    <user-administrative-section [user]="user" [structure]="structure"></user-administrative-section>
    
    <user-duplicates-section [user]="user" [structure]="structure" [open]="forceDuplicates"></user-duplicates-section>
    
    <user-relatives-section [user]="user" [structure]="structure"></user-relatives-section>
    
    <user-children-section [user]="user" [structure]="structure"></user-children-section>
    
    <panel-section section-title="users.details.section.functions" [folded]="true">
        <ul><li *ngFor="let f of user?.aafFunctions">{{ f }}</li></ul>
    </panel-section>

    <user-structures-section [user]="user" [structure]="structure"></user-structures-section>
    
    <user-classes-section [user]="user" [structure]="structure"></user-classes-section>

    <panel-section section-title="users.details.section.learning.groups" [folded]="true">
        <ul><li *ngFor="let fg of user?.userDetails?.functionalGroups">{{ fg.name }}</li></ul>
    </panel-section>

    <user-manualgroups-section [user]="user" [structure]="structure"></user-manualgroups-section>
</div>