<spinner-cube class="component-spinner" waitingFor="users-content"></spinner-cube>

<div class="panel-header">
    <span>{{ user.lastName | uppercase }} {{ user.firstName }}</span><span class="user-class" *ngIf="user.type === 'Student' && user.classes[0]"> - {{ user.classes[0].name }}</span>
    
    <div class="panel-message" *ngIf="details?.blocked">
        <i class="fa fa-ban"></i>
        <s5l>user.blocked</s5l>
    </div>
    <div class="panel-message" *ngIf="isContextAdml()">
        <i class="fa fa-cog"></i>
        <s5l>adml.current.structure</s5l>
    </div>
    <div class="panel-message" *ngIf="hasDuplicates()">
        <i class="fa fa-users"></i>
        <s5l>user.has.duplicates</s5l>
        <button class="goto-duplicate" anchor="user-duplicates-section" (click)="openDuplicates()">
            <i class="fa fa-compress"></i>
            <s5l>manage.duplicates</s5l>
        </button>
    </div>

    <div class="panel-header-content">
        <div class="left">
            <img src="/userbook/avatar/{{user.id}}?thumbnail=100x100">
            <div>
                <button (click)="toggleUserBlock()" [disabled]="ls.isLoading('user.block', 1)" class="relative">
                    <spinner-cube class="button-spinner" waitingFor="user.block"></spinner-cube>
                    <s5l [s5l-params]="[details.blocked]">toggle.account</s5l>
                    <i class="fa fa-ban"></i>
                </button>
            </div>
            <div>
                <button>
                    <s5l>delete.account</s5l>
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>

        <div class="right">
            <div>
                <button class="big">
                    <s5l>users.details.button.comm.rules</s5l>
                    <i class="fa fa-podcast"></i>
                </button>
            </div>

            <div>
                <button class="big">
                    <s5l>users.details.button.group.app.rights</s5l>
                    <i class="fa fa-th"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div>

    <user-info-section [user]="user" [structure]="structure"></user-info-section>

    <user-administrative-section [user]="user" [structure]="structure"></user-administrative-section>
    
    <user-duplicates-section [user]="user" [structure]="structure" [open]="forceDuplicates"></user-duplicates-section>
    
    <user-relatives-section [user]="user" [structure]="structure"></user-relatives-section>
    
    <user-children-section [user]="user" [structure]="structure"></user-children-section>
    
    <panel-section section-title="users.details.section.functions" [folded]="true">
        <ul><li *ngFor="let f of user?.aafFunctions">{{ f }}</li></ul>
    </panel-section>

    <user-structures-section [user]="user" [structure]="structure"></user-structures-section>
    
    <user-classes-section [user]="user" [structure]="structure"></user-classes-section>

    <user-functionalgroups-section [user]="user" [structure]="structure"></user-functionalgroups-section>

    <user-manualgroups-section [user]="user" [structure]="structure"></user-manualgroups-section>
</div>