<div class="padded">
  <p>
    Une liste de diffusion est un moyen de communiquer avec un grand nombre
    d'utilisateurs au niveau d'une collectivité ou d'une académie
  </p>
  <p>
    Les listes de diffusions sont visibles dans les écrans de partage mais il
    n'est pas possible d'en voir les membres.
  </p>
  <p>
    Ce type de groupe peut être créé par un administrateur central. Il faut donc
    remonter vos demandes de listes de diffusions aux équipes d'assistance.
  </p>
  <p>On ne peut sélectionner qu'un profil par liste de diffusion.</p>
</div>
