<lightbox
    show="toolbar.lightbox.delete"
    class=""
    on-close="toolbar.toggleDeleteView(false)"
>
    <div class="horizontal-spacing-twice">
        <!-- Lightbox title -->
        <h2>
            <i18n>workspace.delete</i18n>
        </h2>

        <!-- Confirm trash body text -->
        <div class="row">
            <i18n>nextcloud.documents.confirm.deletion</i18n>
            <hr />
        </div>

        <!-- Footer/buttons -->
        <div class="lightbox-buttons fluid">
            <!-- delete -->
            <button
                class="nextcloud-button-confirm right-magnet"
                ng-click="toolbar.deleteDocumentsPermanently()"
            >
                <i18n>workspace.definitive.delete.confirm.action</i18n>
            </button>

            <!-- cancel -->
            <button
                class="nextcloud-button-cancel cancel right-magnet"
                ng-click="toolbar.toggleDeleteView(false)"
            >
                <i18n>cancel</i18n>
            </button>
        </div>
    </div>
</lightbox>
