<lightbox
    show="toolbar.lightbox.properties"
    on-close="toolbar.toggleRenameView(false)"
>
    <!-- title -->
    <h2 style="margin-top: 0;">
        <i18n>workspace.rename</i18n>
    </h2>

    <!-- body -->
    <div class="row">
        <input
            class="twelve cell"
            type="text"
            ng-model="toolbar.currentDocument.name"
            placeholder="[[toolbar.currentDocument.name]]"
            autofocus
        />
    </div>

    <!-- footer -->
    <div class="lightbox-buttons fluid">
        <button
            class="nextcloud-button-confirm right-magnet"
            ng-click="toolbar.renameDocument()"
        >
            <i18n>save</i18n>
        </button>
    </div>
</lightbox>
