<!--

 -->

<div class="row">
	<div class="twelve cell">
		<form class="twelve fluid cell" ng-submit="sendFolderComment()">
			<h2><i18n>workspace.comment</i18n></h2>
			<div class="row">
				<textarea ng-model="targetFolder.comment"></textarea>
			</div>
			<div class="lightbox-buttons fluid">
                <button class="right-magnet" ng-disabled="!targetFolder.comment.length">
                    <i18n>workspace.comment</i18n>
                </button>
				<button class="cancel right-magnet" type="button" ng-click="template.close('lightbox')"><i18n>cancel</i18n></button>
			</div>
		</form>
	</div>
</div>
