<!--

 -->

<div class="row">
	<div class="twelve cell">
		<form class="twelve fluid cell" ng-submit="sendComment()">
			<h2><i18n>workspace.comment</i18n></h2>
			<div class="row">
				<textarea ng-model="targetElement.comment"></textarea>
			</div>
			<div class="lightbox-buttons fluid">
             <button class="right-magnet" ng-disabled="!targetElement.comment.length"><i18n>workspace.comment</i18n></button>
             <button type="button" class="cancel right-magnet" ng-click="template.close('lightbox')"><i18n>cancel</i18n></button>
			</div>
		</form>
	</div>
</div>
