<!--
  ~ Copyright. Tous droits réservés. WebServices pour l’Education.
  -->

<div class="twelve cell reduce-block-six">
	<h2>Supprimer</h2>

	<div class="warning">
		Attention, si vous supprimez une image ou du son, il ne sera plus visible dans les applications qui l'utilisent (blog, actualités...).
		Êtes-vous sûr de vouloir supprimer le document ?
	</div>

	<div class="row vertical-spacing-twice">
		<button class="right-magnet" ng-click="confirm()">Supprimer</button>
		<button class="cancel right-magnet">Annuler</button>
	</div>
</div>
