<form>
	<div class="row">
		<h1 translate key="workspace.copy"></h1>
		<nav class="vertical">
			<nav class="vertical" ng-init="folder=folders.children[0]">
				<ul>
					<li data-ng-include="'folder-management'"></li>
				</ul>
			</nav>
		</nav>
		<div class="row">
			<div class="row">
				<label>Nouveau dossier</label>
				<input type="text" />
				<input type="button" ng-click="createEditFolder()" />
			</div>
		</div>
		<div class="clear"></div>
		<div class="lightbox-buttons fluid">
			<input type="submit" translate-attr="value" value="workspace.copy" ng-click="copy()" />
			<input type="button" class="cancel" translate-attr="value" value="cancel" />

			<div class="clear"></div>
		</div>
	</div>
</form>