<!--

 -->

<form>
	<div class="row">
		<h2 translate key="workspace.copy"></h2>
		<div class="warning" translate content="workspace.folders.warning.folder.copy"></div>
		<nav class="vertical">
			<nav class="vertical" ng-init="folder=folder.children[0]">
				<ul>
					<li data-ng-include="'folder-management'"></li>
				</ul>
			</nav>
		</nav>
		<a ng-if="anyTargetFolder() && !newFolder.editing" ng-click="editFolder()" class="twelve cell vertical-spacing">Créer un nouveau dossier</a>
		<div class="row vertical-spacing input-block" ng-if="newFolder.editing">
			<input type="text" required ng-model="newFolder.name" />
			<button ng-click="createEditFolder()">[[translate('workspace.folder.create')]]</button>
		</div>
		<div class="clear"></div>
		<div class="lightbox-buttons fluid">
			<button ng-click="copy()" ng-disabled="!anyTargetFolder()"><i18n>workspace.copy</i18n></button>
			<button type="button" class="cancel" ng-click="template.close('lightbox')"><i18n>cancel</i18n></button>
		</div>
	</div>
</form>
