<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

<form>
	<div class="row">
		<h2 translate key="workspace.copy"></h2>
		<div class="warning" translate content="workspace.folders.warning.folder.copy"></div>
		<nav class="vertical">
			<nav class="vertical" ng-init="folder=folder.children[0]">
				<ul>
					<li data-ng-include="'folder-management'"></li>
				</ul>
			</nav>
		</nav>
		<a ng-if="anyTargetFolder() && !newFolder.editing" ng-click="editFolder()" class="twelve cell vertical-spacing">Créer un nouveau dossier</a>
		<div class="row vertical-spacing input-block" ng-if="newFolder.editing">
			<input type="text" required ng-model="newFolder.name" />
			<button ng-click="createEditFolder()">[[translate('workspace.folder.create')]]</button>
		</div>
		<div class="clear"></div>
		<div class="lightbox-buttons fluid">
			<button ng-click="copy()" ng-disabled="!anyTargetFolder()"><i18n>workspace.copy</i18n></button>
			<button type="button" class="cancel" ng-click="template.close('lightbox')"><i18n>cancel</i18n></button>
		</div>
	</div>
</form>
