<div class="twelve cell block-container">
   <h4 translate key="files.header" class="subtitle"></h4>
   <table class="twelve unstyled">
	   <tr ng-repeat="file in loadingFiles">
		   <td>[[file.file.name]]</td>
		   <td class="action-cell">
			   <loading-icon class="right-magnet" request="file-upload-[[file.file.name]]-[[$index]]" default="loading" />
		   </td>

	   </tr>
	   <tr ng-if="loadingFiles.length === 0">
		   <td colspan="2" translate key="files.select.please"></td>
	   </tr>
   </table>
</div>

<hr class="solid row" />
<form id="upload-form" method="post" enctype="multipart/form-data" class="twelve cell share">
	<div class="row fixed-block height-three">
		<h4 translate key="files.select" class="subtitle"></h4>
		<div class="eight cell select-file block-container input-block">
			<div class="hidden-content">
				<input type="file" multiple  files-input-change="setFilesName()" ng-model="newFile.files" />
			</div>
			<button class="file-button" translate key="choose"></button>
			<input type="text" data-ng-model="newFile.name" data-display-file />
		</div>
	</div>
	<div class="row lightbox-buttons">
		<div class="twelve cell block-container">
			<button ng-click="addLoadingFiles()" class="right-magnet" translate key="import.file"></button>
			<button class="cancel right-magnet" translate key="cancel"></button>
		</div>
	</div>
</form>
