<div class="fixed-block height-four">
	<form id="upload-form" method="post" ng-submit="sendNewFile('document')" enctype="multipart/form-data" class="fixed twelve cell">
		<div class="twelve fluid cell">
			<h1 translate key="workspace.add.document"></h1>
			<div class="row">
				<div class="eight cell select-file">
					<div class="hidden-content">
						<input type="file"  file-input-change="setFileName()" data-ng-model="newFile.file" />
					</div>
					<button class="file-button" translate key="choose"></button>
					<input type="text" data-ng-model="newFile.name" data-display-file />
				</div>
			</div>
			<div class="lightbox-buttons">
				<input type="submit" translate-attr="value" value="import.file" ng-disabled="loading" />
				<input class="cancel" type="button" translate-attr="value" value="cancel" />

			</div>
		</div>
	</form>
</div>