<!--

 -->

<infotip name="workspace-explorer-tutorial" on-change="onInfotipChange($visible)" class="info">
	<strong><i18n>tuto.title</i18n></strong>
	<br /><strong><i18n>tuto.action.select</i18n></strong> <i18n>tuto.text.select</i18n>
	<br /><strong><i18n>tuto.action.open</i18n></strong> <i18n>tuto.text.open</i18n>
</infotip>


<article class="icons-view no-overflow no-margin-bottom minheight-500" ng-class="{'height-minus300 height-minus350-1d':infotipVisible,'height-minus200 height-minus270-1d':!infotipVisible}">
	<dropzone-overlay on-import="onImportFiles($event)" ng-if="isDropzoneEnabled()" can-drop="canDropOnFolder()" on-cannot-drop="onCannotDropFile()"></dropzone-overlay>
	<header>&nbsp;</header>
	<div>
		<div ng-repeat="folder in openedFolder.folders" class="element mini-block-container" ng-class="{ selected: folder.selected}" dragend="dragEnd(folder, $originalEvent)" dragstart="drag(folder, $originalEvent)" dragcondition="dragCondition(folder)" dragdrop="dropTo(folder, $originalEvent)" dropcondition="dropCondition(folder)">

			<explorer  class="radius explorer-hover" ng-change="onSelectItem($event,folder)" ng-model="folder.selected" on-open="openFolderRoute(folder)" ng-class="{'explorer-droppable':canDropOnElement(folder), 'short':!isSharedTree()}">
				<span class="explorer-badge-drop">[[countDragItems()]]</span>
				<!--LEGEND MUST BE BEFORE container-->
				<legend class="no-1d">
					<a>
						<span class="badge" ng-if="canShowBadgeComments(folder)" tooltip="comments" ng-click="showFolderComments(folder, $event)">[[folder.comments.length]]</span>
						<span>[[folder.name]]</span>
					</a>
					<a class="author" ng-if="isSharedTree()"><strong>[[folder.ownerName]]</strong></a>
				</legend>
				<a class="container" ng-class="{'highlight-border-3s':isHighlighted(folder)}">
					<i class="folder-large"></i>
				</a>

				<i ng-if="folder.isShared && isSearchResult()" class="shared inline"></i>
				<legend class="no-2d">
					<a>
						<span class="badge" ng-if="canShowBadgeComments(folder)" tooltip="comments" ng-click="showFolderComments(folder, $event)">[[folder.comments.length]]</span>
						<span>[[folder.name]]</span>
					</a>
					<a class="author" ng-if="isSharedTree()"><strong>[[folder.ownerName]]</strong></a>
				</legend>

				<div ng-if="folder.showComments">
					<lightbox show="canShowCommentLightbox(folder)" on-close="folder.showComments = false;">
						<h2><i18n>comments</i18n></h2>

						<div class="row" ng-if="folder.myRights.comment">
							<form class="twelve fluid cell" ng-submit="sendFolderComment(folder)">
								<div class="row">
									<textarea ng-model="folder.comment"></textarea>
								</div>
								<div class="lightbox-buttons fluid">
									<button class="right-magnet" ng-disabled="!folder.comment.length"><i18n>workspace.comment</i18n></button>
									<button class="cancel right-magnet" type="button" ng-click="folder.showComments = false;"><i18n>cancel</i18n></button>
								</div>
							</form>
						</div>

						<article class="twelve cell comment" ng-repeat="comment in folder.comments">
							<a ng-href="/userbook/annuaire#[[comment.author]]">[[comment.authorName]]</a>
							<em>[[longDate(comment.posted)]]</em>
							<a class="right-magnet"
							   ng-click="removeComment(folder, comment)"
							   ng-if="canDeleteComment(folder,comment)">
								<i18n>workspace.delete</i18n>
							</a>
							<p>[[comment.comment]]</p>
						</article>
					</lightbox>
				</div>
			</explorer>

		</div>
		<div ng-repeat="document in openedFolder.documents" class="element" ng-class="{ selected: document.selected}" dragend="dragEnd(document, $originalEvent)"  dragstart="drag(document, $originalEvent)" dragcondition="dragCondition(document)">
			<explorer  class="radius explorer-hover" ng-model="document.selected" ng-change="onSelectItem($event,document)" on-open="viewFile(document)" ng-class="{'short':!isSharedTree()}">
				<legend class="no-1d">
					<a>
						<span class="badge" ng-if="canShowBadgeComments(document)" translate  attr="title" title="comments" ng-click="showComments(document, $event)">[[document.comments.length]]</span>
						<span>[[document.name]]</span>
					</a>
					<a class="author" ng-if="isSharedTree()"><strong>[[document.ownerName]]</strong></a>
				</legend>
				<!--LEGEND MUST BE BEFORE container-->
				<a class="[[document.metadata.role]] container cell" ng-class="{'highlight-border-3s':isHighlighted(document)}">
					<i class="[[document.metadata.role]]-large" ng-if="document.metadata.role !== 'img'">
					</i>
					<div ng-if="document.metadata.role === 'img'" class="twelve cell">
						<div class="clip">
							<img lazy-load-img="getImageUrl(document)" alt="thumbnail" />
						</div>
					</div>
				</a>

				<i ng-if="document.isShared && isSearchResult()" class="shared inline"></i>
				<legend class="no-2d">
					<a>
						<span class="badge" ng-if="canShowBadgeComments(document)" translate  attr="title" title="comments" ng-click="showComments(document, $event)">[[document.comments.length]]</span>
						<span>[[document.name]]</span>
					</a>
					<a class="author" ng-if="isSharedTree()"><strong>[[document.ownerName]]</strong></a>
				</legend>
				

				<div ng-if="document.showComments">
					<lightbox show="canShowCommentLightbox(document)" ng-click="$event.stopPropagation()" on-close="document.showComments = false;">
						<h2><i18n>comments</i18n></h2>

						<div class="row" ng-if="document.myRights.comment">
							<form class="twelve fluid cell" ng-submit="sendComment()">
								<div class="row">
									<textarea ng-model="document.comment"></textarea>
								</div>
								<div class="lightbox-buttons fluid">
									<button class="right-magnet" ng-disabled="!document.comment.length"><i18n>workspace.comment</i18n></button>
									<button class="cancel right-magnet" type="button" ng-click="document.showComments = false;"><i18n>cancel</i18n></button>
								</div>
							</form>
						</div>

						<article class="twelve cell comment" ng-repeat="comment in document.comments">
							<a ng-href="/userbook/annuaire#[[comment.author]]">[[comment.authorName]]</a>
							<em>[[longDate(comment.posted)]]</em>
							<a class="right-magnet"
							   ng-click="removeComment(document, comment)"
							   ng-if="canDeleteComment(document,comment)">
								<i18n>workspace.delete</i18n>
							</a>
							<p>[[comment.comment]]</p>
						</article>
					</lightbox>
				</div>
			</explorer>
		</div>
		<hr class="vertical-spacing-twice row"/>
	</div>
</article>
