<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

<infotip name="workspace-explorer-tutorial" class="info">
	<strong><i18n>tuto.title</i18n></strong>
	<br /><strong><i18n>tuto.action.select</i18n></strong> <i18n>tuto.text.select</i18n>
	<br /><strong><i18n>tuto.action.open</i18n></strong> <i18n>tuto.text.open</i18n>
</infotip>


<article class="icons-view">
	<header>&nbsp;</header>
	<div>
		<div ng-repeat="folder in openedFolder.folder.children" class="element mini-block-container" ng-class="{ selected: folder.selected }">

			<explorer ng-model="folder.selected" on-open="openFolder(folder)">
				<a class="container" draggable="false">
					<i class="folder-large" dragstart="drag(folder, $originalEvent)" dragcondition="dragCondition(folder)" dragdrop="dropTo(folder, $originalEvent)" dropcondition="dropCondition(folder)"></i>
				</a>

				<i ng-if="folder.shared.length > 0 || openedFolder.folder.shared.length" class="shared inline"></i>

				<legend>
					<a>
						<span class="badge" ng-if="folder.comments.length > 0 && currentTree.name !== 'trash'" tooltip="comments" ng-click="showFolderComments(folder, $event)">[[folder.comments.length]]</span>
						<span>[[folder.name]]</span>
					</a>
					<a class="author"><strong>[[folder.ownerName]]</strong></a>
				</legend>

				<div ng-if="folder.showComments">
					<lightbox show="folder.showComments && selectedFolders()[0] === folder" on-close="folder.showComments = false;">
						<h2><i18n>comments</i18n></h2>

						<div class="row" ng-if="folder.myRights.commentDocument">
							<form class="twelve fluid cell" ng-submit="sendFolderComment(folder)">
								<div class="row">
									<textarea ng-model="folder.comment"></textarea>
								</div>
								<div class="lightbox-buttons fluid">
									<button class="right-magnet" ng-disabled="!folder.comment.length"><i18n>workspace.comment</i18n></button>
									<button class="cancel right-magnet" type="button" ng-click="folder.showComments = false;"><i18n>cancel</i18n></button>
								</div>
							</form>
						</div>

						<article class="twelve cell comment" ng-repeat="comment in folder.comments">
							<a ng-href="/userbook/annuaire#[[comment.author]]">[[comment.authorName]]</a>
							<em>[[longDate(comment.posted)]]</em>
							<a class="right-magnet"
							   ng-click="removeComment(folder, comment)"
							   ng-if="comment.id && ((comment.author === me.userId && folder.myRights.commentDocument) || folder.myRights.deleteComment)">
								<i18n>workspace.delete</i18n>
							</a>
							<p>[[comment.comment]]</p>
						</article>
					</lightbox>
				</div>
			</explorer>

		</div>
		<div ng-repeat="document in openedFolder.content | limitTo:display.nbFiles" class="element" ng-class="{ selected: document.selected }" dragstart="drag(document, $originalEvent)" dragcondition="dragCondition(document)">
			<explorer ng-model="document.selected" on-open="viewFile(document)">
				<a class="[[document.metadata.role]] container cell">
					<i class="[[document.metadata.role]]-large" ng-if="document.metadata.role !== 'img'">
					</i>
					<div ng-if="document.metadata.role === 'img'" class="twelve cell">
						<div class="clip">
							<img ng-src="[[document.icon]]?thumbnail=120x120&v=[[document.version]]" alt="thumbnail" />
						</div>
					</div>
				</a>

				<i ng-if="document.shared.length > 0" class="shared inline"></i>

				<legend>
					<a>
						<span class="badge" ng-if="document.comments.length > 0 && currentTree.name !== 'trash'" translate  attr="title" title="comments" ng-click="showComments(document, $event)">[[document.comments.length]]</span>
						[[document.name]]
					</a>
					<a class="author"><strong>[[document.ownerName]]</strong></a>
				</legend>

				<div ng-if="document.showComments">
					<lightbox show="document.showComments && selectedDocuments()[0] === document" on-close="document.showComments = false;">
						<h2><i18n>comments</i18n></h2>

						<div class="row" ng-if="document.myRights.commentDocument">
							<form class="twelve fluid cell" ng-submit="sendComment()">
								<div class="row">
									<textarea ng-model="document.comment"></textarea>
								</div>
								<div class="lightbox-buttons fluid">
									<button class="right-magnet" ng-disabled="!document.comment.length"><i18n>workspace.comment</i18n></button>
									<button class="cancel right-magnet" type="button" ng-click="document.showComments = false;"><i18n>cancel</i18n></button>
								</div>
							</form>
						</div>

						<article class="twelve cell comment" ng-repeat="comment in document.comments">
							<a ng-href="/userbook/annuaire#[[comment.author]]">[[comment.authorName]]</a>
							<em>[[longDate(comment.posted)]]</em>
							<a class="right-magnet"
							   ng-click="removeComment(document, comment)"
							   ng-if="comment.id && ((comment.author === me.userId && document.myRights.commentDocument) || document.myRights.deleteComment)">
								<i18n>workspace.delete</i18n>
							</a>
							<p>[[comment.comment]]</p>
						</article>
					</lightbox>
				</div>
			</explorer>
		</div>
	</div>
</article>
