<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

<article class="icons-view">
	<header>&nbsp;</header>
	<div>
		<div data-ng-repeat-start="folder in openedFolder.folder.children" class="element mini-block-container">
			<a class="container">
				<i class="folder-large" data-ng-click="openFolder(folder)"></i>
			</a>
			<legend>
				<a data-ng-click="openFolder(value)">[[folder.name]]</a>
			</legend>
		</div>
		<section data-ng-repeat-end></section>
		<div ng-repeat-start="document in openedFolder.content" class="element" ng-class="{ selected: document.selected }">
			<a ng-href="[[documentPath(document)]]" class="[[document.metadata.contentType]] container cell">
				<i class="[[document.metadata.contentType]]-large" ng-if="document.metadata.contentType !== 'img'">
				</i>
				<div ng-if="document.metadata.contentType === 'img'" class="twelve cell height-twelve">
					<div class="clip absolute">
						<img ng-src="[[documentPath(document)]]?thumbnail=120x120" alt="thumbnail" />
					</div>
				</div>
			</a>
			<input type="checkbox" data-ng-model="document.selected" />

			<legend>
				<a ng-href="[[documentPath(document)]]">
					<i ng-if="document.shared.length > 0" class="shared inline"></i>
					<span class="badge" ng-if="document.comments.length > 0 &&  currentTree.name !== 'trash'" translate  attr="title" title="comments" ng-click="showComments(document, $event)">[[document.comments.length]]</span>
					[[document.name]]
				</a>
				<a ng-href="/userbook/annuaire#[[document.owner]]"><strong>[[document.ownerName]]</strong></a>
			</legend>
		</div>
		<section ng-repeat-end>
			<section class="row reduce-block-eight" ng-if="((($index + nbFolders() + 1) % 4 === 0 && inInterval(selectedDocuments()[0], $index - 3, $index)) ||
		($index === openedFolder.content.length - 1 && inInterval(selectedDocuments()[0], $index - (($index + nbFolders()) % 4), $index))) && selectedDocuments()[0].showComments">
				<article class="twelve cell comment reduce-block-eight" data-ng-repeat="comment in selectedDocuments()[0].comments">
					<a ng-href="/userbook/annuaire#[[comment.author]]">[[comment.authorName]]</a>
					<em>[[longDate(comment.posted)]]</em>
					<p>[[comment.comment]]</p>
				</article>
			</section>
		</section>
		<div class="clear"></div>
	</div>
</article>
