<table class="list-view">
	<thead>
		<tr>
			<th scope="col">
				<input type="checkbox" ng-model="boxes.selectAll" ng-click="switchSelectAll()" />
			</th>
			<th scope="col"></th>
			<th scope="col" class="five" translate key="name"></th>
			<th scope="col" class="four" translate key="owner"></th>
			<th scope="col" class="two" translate key="modified"></th>
		</tr>
	</thead>
	<tbody>
	<tr data-ng-repeat="(key, value) in openedFolder.folder">
		<td></td>
		<td><i role="folder"></i></td>
		<td colspan="2"><strong><a data-ng-click="openFolder(value, key)">[[key]]</a></strong></td>
		<td></td>
	</tr>
	<tr data-ng-repeat-start="document in openedFolder.content" ng-class="{ overline: true, checked: document.selected }">
		<td><input type="checkbox" data-ng-model="document.selected" /></td>
		<td><i role="[[document.metadata.contentType]]"></i></td>
		<td><a href="[[documentPath(document)]]">[[document.name]]</a><em class="tag">[[document.metadata.extension]]</em></td>
		<td><a ng-href="/userbook/annuaire#[[owner]]">[[document.ownerName]]</a></td>
		<td>[[longDate(document.modified)]][[longDate(document.sent)]]</td>
	</tr>
	<tr data-ng-repeat-end ng-class="{ underline: true, checked: document.selected }">
		<td colspan="5" class="container-cell">
			<a ng-click="openCommentView(document)" ng-if="document.myRights.comment.post" class="small button cell" translate key="workspace.document.comment"></a>
			<a ng-if="document.myRights.document.share" ng-click="openShareView(document)" class="small button cell" translate key="workspace.share"></a>
				<span class="cell right-magnet action-cell" ng-if="document.comments.length > 0">
					<a ng-if="!document.showComments" data-ng-click="toggleComments(document)">
						[[translate('workspace.document.comment.show')]] ([[document.comments.length]])
					</a>
					<a ng-if="document.showComments" data-ng-click="toggleComments(document)">
						[[translate('workspace.document.comment.hide')]]
					</a>
				</span>
			<section class="row text-container" ng-if="document.showComments">
				<article class="twelve cell comment content-line text-container" data-ng-repeat="comment in document.comments">
					<a ng-href="/userbook/annuaire#[[comment.author]]">[[comment.authorName]]</a>
					<em>[[longDate(comment.posted)]]</em>
					<p>[[comment.comment]]</p>
				</article>
			</section>
		</td>
	</tr>
	</tbody>
</table>