<form ng-submit="move()">
	<div class="row">
		<h1 translate key="workspace.move"></h1>
		<nav class="vertical">
			<nav class="vertical" ng-init="value=editTree; editMode='single'">
				<ul>
					<li data-ng-include="'folder-management'"></li>
				</ul>
			</nav>
		</nav>
		<div class="lightbox-buttons fluid">
			<input type="submit" translate-attr="value" value="workspace.move" />
			<input type="button" class="cancel" translate-attr="value" value="cancel" />

			<div class="clear"></div>
		</div>
	</div>
</form>