<h2 translate content="workspace.rename"></h2>

<div class="row">
    <label class="two cell">[[renameTarget.folder ? translate("workspace.folder.name") : translate("workspace.document.name")]]</label>
    <input class="ten cell" type="text" ng-model="renameTarget.newName" placeholder="[[renameTarget.name]]" autofocus />
    <hr />
</div>

<div class="lightbox-buttons fluid">
    <button class="right-magnet" ng-click="rename(renameTarget, renameTarget.newName)"><i18n>workspace.rename</i18n></button>
</div>

<div class="clear"></div>
