<h2 style="margin-top: 0;" translate content="workspace.properties"></h2>

<div class="rename-properties-list" ng-if="renameParent">
    <div class="rename-property">
        <label><i18n>workspace.properties.parent</i18n></label>
        <a ng-href="/workspace/workspace#/folder/[[renameParent._id]]" target="_blank">[[renameParent.name]]</a>
    </div>
    <div class="rename-property" ng-if="getRenameManagers().length">
        <label><i18n>workspace.properties.managers</i18n></label>
        <div class="rename-managers-list">
            <a ng-repeat="manager in getRenameManagers()" ng-href="[[manager.uri]]" target="_blank">[[manager.name]]</a>
        </div>
    </div>
</div>
<div class="rename-property">
    <label>
        <i18n ng-if="renameTarget.folder">workspace.folder.name</i18n>
        <i18n ng-if="!renameTarget.folder">workspace.document.name</i18n>
    </label>
    <input class="rename-name-input" type="text" ng-model="renameTarget.newName" ng-maxlength="80" maxlength="80" placeholder="[[renameTarget.name]]" ng-keypress="preventForbiddenChars($event)" autofocus />
</div>

<div class="lightbox-buttons fluid">
    <button class="right-magnet" ng-click="rename(renameTarget, renameTarget.newName)"><i18n>save</i18n></button>
</div>

<div class="clear"></div>