<div class="fixed-block height-four">
	<form id="upload-form" method="post" enctype="multipart/form-data" class="fixed twelve cell" ng-submit="sendNewFile('rack')">
		<div class="twelve cell fluid">
			<h1 translate key="workspace.send.rack"></h1>
			<div class="row">
				<label class="four cell" translate key="workspace.rack.file"></label>
				<div class="eight cell select-file">
					<div class="hidden-content">
						<input type="file"  file-input-change="setFileName()" data-ng-model="newFile.file" />
					</div>
					<button class="file-button" translate key="choose"></button>
					<input type="text" data-ng-model="newFile.name" />
				</div>
			</div>
			<div class="row">
				<label class="four cell" translate key="workspace.rack.to"></label>
				<select class="eight cell" ng-model="to.id" ng-options="user.id as user.username for user in users">
				</select>
			</div>
			<div class="lightbox-buttons">
				<input call="sendFile" type="submit" translate-attr="value" value="upload" />
				<input type="button" class="cancel" translate-attr="value" value="cancel" />

			</div>
		</div>
	</form>
</div>