<section class="toggle-buttons" ng-class="{ hide: selectedDocuments().length + selectedFolders().length === 0 }">
	<div class="toggle">
		<div class="row">
			<button ng-if="canOpenFile()" ng-click="viewFile(selectedDocuments()[0])" class="cell zero-mobile">
				<i18n>workspace.open</i18n>
			</button>
			<button ng-if="canOpenFolder()" ng-click="openFolderRoute(selectedFolders()[0])" class="cell">
				<i18n>workspace.open</i18n>
			</button>
			<button ng-if="showOpenLocation()" ng-click="openLocation()" class="cell">
				<i18n>workspace.open.location</i18n>
			</button>

			<button ng-if="canDownload()" ng-click="downloadFile()" class="cell">
				<i18n>workspace.download</i18n>
			</button>
			<resource-right resource="selectedItems()" name="comment">
				<button ng-click="openCommentView()" ng-if="canComment()" class="cell">
					<i18n>workspace.document.comment</i18n>
				</button>
			</resource-right>
			<resource-right resource="selectedItems()" name="manager">
				<button ng-click="openShareView()" ng-if="canShareElements()"
				 ng-class="cell">
					<i18n>workspace.share</i18n>
				</button>
			</resource-right>
			<resource-right resource="selectedItems()" name="manager">
				<button ng-click="openRenameView()" ng-if="canRenameFolder()" class="cell">
					<i18n>workspace.rename</i18n>
				</button>
			</resource-right>
			<resource-right resource="selectedItems()" name="manager">
				<button ng-click="openRenameView()" ng-if="canRenameDocument()" class="cell">
					<i18n>workspace.rename</i18n>
				</button>
			</resource-right>
			<resource-right resource="selectedItems()" name="contrib">
				<button ng-click="editImage()" ng-if="canEditImage()" class="cell">
					<i18n>editImage</i18n>
				</button>
			</resource-right>
			<resource-right resource="selectedItems()" name="read" class="zero-mobile">
				<button ng-if="canShowRevision()" ng-click="openHistory()" class="cell no-1d">
					<i18n>workspace.versions.list</i18n>
				</button>
			</resource-right>

			<div class="cell" ng-repeat="button in currentTree.contextualButtons">
				<resource-right resource="selectedItems()" name="[[button.right]]">
					<button ng-if="button.allow ? button.allow() : true" ng-click="button.action()">
						[[button.text]]
					</button>
				</resource-right>
			</div>

			<span class="contextual-link zero-mobile" ng-if="canShowComments()">
				<a ng-if="!isCommentVisible()" data-ng-click="toggleComments()">
					<i18n>workspace.document.comment.show</i18n> ([[commentCount()]])
				</a>
				<a ng-if="isCommentVisible()" data-ng-click="toggleComments()">
					<i18n>workspace.document.comment.hide</i18n>
				</a>
			</span>

		</div>
	</div>

	</div>
</section>