<div class="reduce-block-eight">
    <h2>
        <i18n>workspace.versions.list</i18n>
    </h2>
	<resource-right resource="selectedItems()" name="contrib">
		<div class="select-file nomargin">
			<div class="hidden-content">
				<input type="file" files-input-change="createRevision(newFile)" ng-model="newFile" />
			</div>
			<button ng-if="selectedFolders().length === 0 && selectedDocuments().length === 1 && currentTree.name !== 'trash'"
					ng-click="openHistory(selectedDocuments()[0])"
					class="cell"
					translate content="workspace.add.version"
					ng-disabled="revisionInProgress.pending">
			</button>
		</div>
	</resource-right>
    <table class="list-view">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" ng-click="orderByField('name')">
                    <span translate content="name"></span>
                    <i class="arrow-bottom" ng-if="order.field === 'name' && !order.desc"></i>
                    <i class="arrow-top" ng-if="order.field === 'name' && order.desc"></i>
                </th>
                <th scope="col" ng-click="orderByField('userName')">
                    <span translate content="user"></span>
                    <i class="arrow-bottom" ng-if="order.field === 'userName' && !order.desc"></i>
                    <i class="arrow-top" ng-if="order.field === 'userName' && order.desc"></i>
                </th>
                <th scope="col" ng-click="orderByField('date.$date')">
                    <span translate content="modified"></span>
                    <i class="arrow-bottom" ng-if="order.field === 'date.$date' && !order.desc"></i>
                    <i class="arrow-top" ng-if="order.field === 'date.$date' && order.desc"></i>
                </th>
                <th scope="col" ng-click="orderByField('metadata.size')">
                    <span translate content="size"></span>
                    <i class="arrow-bottom" ng-if="order.field === 'metadata.size' && !order.desc"></i>
                    <i class="arrow-top" ng-if="order.field === 'metadata.size' && order.desc"></i>
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="revisionInProgress.pending">
                <td>
                    <div class="twelve cell">
                        <loading-icon default="loading"></loading-icon>
                    </div>
                </td>
                <td colspan="3">
                    [[revisionInProgress.file.name]]
                </td>
                <td colspan="2">
                    [[formatDocumentSize(revisionInProgress.file.size)]]
                </td>
            </tr>
            <tr ng-repeat="revision in targetDocument.revisions | orderBy: order.order:order.desc">
                <td></td>
                <td>
                    <a ng-href="document/[[targetDocument._id]]/revision/[[revision._id]]">[[revision.name]]</a>
                </td>
                <td>
                    <a ng-href="/userbook/annuaire#[[revision.userId]]">[[revision.userName]]</a>
                </td>
                <td>
                    [[shortDate(revision.date.$date)]]
                </td>
                <td>
                    [[formatDocumentSize(revision.metadata.size)]]
                </td>
                <td>
                    <i class="close"
                       ng-click="deleteRevision(revision)"
                       tooltip="workspace.delete.version"
                       ng-if="canDeleteRevision(revision)"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
