@import './components/widget-shared.css';

.voir-tout {
  font-family: var(--edifice-legacy-font-family-roboto);
  font-size: var(--edifice-font-size-small);
  font-weight: var(--edifice-font-weight-medium);
  line-height: var(--edifice-font-lineheight-xs);
  color: var(--edifice-blue-700) !important;
}
