<div class="horizontal-spacing-twice">
    <h2 translate content="workspace.delete.confirm.title"></h2>
    <div class="row">
        <span translate content="workspace.delete.confirm.content"></span>
        <hr />
    </div>
    <div class="lightbox-buttons fluid">
        <button class="right-magnet" ng-click="toTrash()"><i18n>workspace.delete.confirm.action</i18n></button>
        <button class="cancel right-magnet" ng-click="template.close('lightbox')"><i18n>cancel</i18n></button>
    </div>
</div>