<!DOCTYPE html>
<html>
	<head>
		<title>{{#i18n}}directory.admin.title{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="{{#static}}js/jquery-1.9.1.js{{/static}}" type="text/javascript"></script>
		<script src="{{#static}}js/admin.js{{/static}}" type="text/javascript"></script>
	</head>
	<body>
		<h1>{{#i18n}}directory.admin.header{{/i18n}}</h1>
		<div id="annuaire">
			<form method="GET" action="/api/create-user" id="create-user">
				{{#i18n}}directory.admin.create-user{{/i18n}}<br>
				<label id="ENTPersonNom">Nom* </label><input type="text" name="ENTPersonNom"/>
				<label id="ENTPersonPrenom"> Prenom* </label><input type="text" name="ENTPersonPrenom"/>
				<label id="ENTPersonDateNaissance"> Date de naissance* </label><input type="text" name="ENTPersonDateNaissance"/>
				<input type="submit" call="createUser" action="/api/create-user" value="OK"/>
			</form>
			<div id="confirm"></div>
			<br>
			<h2>{{#i18n}}directory.admin.schools{{/i18n}}</h2>
			<a href="/api/export" call="exportAuth">{{#i18n}}directory.admin.export{{/i18n}}</a>
			<div id="schools"></div>
		</div>
	</body>
</html>
