<!DOCTYPE html>
<html>
	<head>
		<title>{{#i18n}}directory.admin.title{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="{{#static}}js/jquery-1.9.1.js{{/static}}" type="text/javascript"></script>
		<script src="{{#static}}js/admin.js{{/static}}" type="text/javascript"></script>
	</head>
	<body>
		<h1>{{#i18n}}directory.admin.header{{/i18n}}</h1>
		<div id="annuaire">
		<div id="main"></div>
		<div id="classes"></div>
		<div id="people"></div>
		</div>
	</body>
</html>
