<html>
    <head>
        <title>{{#i18n}}directory.admin.title{{/i18n}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
        <script src="{{#static}}js/admin/model.js{{/static}}" type="text/javascript"></script>
        <script src="{{#static}}js/admin/controller.js{{/static}}" type="text/javascript"></script>
    </head>
</html>
<body>
    <admin-portal>
        <article ng-controller="AdminDirectoryController" class="twelve cell list-view">

            <div class="twelve leaf-menu-container">
                <div ng-repeat="menuItem in leafMenu | filter: filterLeafMenuItems" class="leaf-menu" ng-class="{ selected: template.contains('body', menuItem.templateName) }">
                    <a ng-click="template.open('body', menuItem.templateName); menuItem.onClick();">[[menuItem.text]]</a>
                    <loading-icon
                        ng-if="menuItem.requestName"
                        request="[[menuItem.requestName]]" only-loading-icon
                        class="directory-inline-middle">
                    </loading-icon>
                </div>
            </div>

            <div ng-include="template.containers.body" class="twelve"></div>

        </article>
    </admin-portal>
</body>
