<!DOCTYPE html>
<html>
	<head>
		<script>
			var appPrefix = '';
			if(window.location.pathname.split('/').length > 0){
				appPrefix = window.location.pathname.split('/')[1]
			}

			var currentLanguage = ( navigator.language || navigator.browserLanguage ).slice( 0, 2 );
		</script>
		<title>{{#i18n}}userBook.class.title{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="{{#infra}}css/original.css{{/infra}}" type="text/css" />
		<script src="{{#infra}}js/moment+langs.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/jquery-1.9.1.js{{/infra}}" type="text/javascript" id="context"></script>
		<script src="{{#infra}}js/angular.min.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/angular-sanitize-1.0.1.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/underscore-min-1.4.4.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/mustache.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/humane.min.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/ui.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#static}}js/model.js{{/static}}" type="text/javascript"></script>
		<script src="{{#infra}}js/one.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/one-app.js{{/infra}}" type="text/javascript"></script>

		<script src="{{#static}}js/userbook.js{{/static}}" type="text/javascript"></script>
		<style>
			h4{
				margin-top: 0 !important
			}
		</style>
	</head>
	<body style="display: none">
	<portal>


		<div class="twelve cell annuaire">
			<div class="contextual-buttons right-magnet">
				<div class="display-buttons clear right-magnet">
					<i role="show-icons" call="showList" class="selected"></i>
					<i role="show-details" call="showFirstPerson"></i>
				</div>
			</div>
			<h1><a data-reload><i role="userbook"></i>{{#i18n}}userBook.class.title{{/i18n}}</a></h1>
		</div>


		<div class="annuaire">
			<div id="search">
				<form method="GET" action="api/search" id="search-form" class="search">
					<input type="text" name="name" value="" placeholder="{{#i18n}}userBook.search{{/i18n}}"/>
					<input type="submit" call="search" value="OK"/>
				</form>
			</div>
			<div class="row clear">

				<div id="people" class="twelve cell text-container"></div>
				<div id="person" class="eight cell text-container"></div>
			</div>
		</div>
		<div class="clear"></div>
	</portal>
	</body>
</html>
