<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

<div class="birthday" localized-class>
	<h1 translate key="birthday.title"></h1>
	<div class="content">
		<div class="row class-select" ng-if="widget.classes.length > 1">
			<div class="cell four class-label" translate key="birthday.class"></div>
			<div class="cell eight select">
				<select ng-model="widget.currentClass" ng-options="c.name for c in widget.classes" ng-change="widget.saveDefaultClass()"></select>
			</div>

		</div>
		<div class="row">
			<div ng-if="widget.birthdaysInClass().length === 0" class="text-container">
				<em>[[widget.emptyList]]</em>
			</div>
			<nav class="vertical">
				<ul>
					<li ng-repeat="birthday in widget.birthdaysInClass()">
						<a ng-href="/userbook/annuaire#[[birthday.id]]">
							<img ng-src="/userbook/avatar/[[birthday.id]]?thumbnail=48x48" />
							<div class="user"><p>[[birthday.username]]</p></div>
							<div class="date">
								<h2 class="day">[[widget.getDay(birthday.birthDate)]]</h2>
								<h4 class="month">[[widget.getMonth(birthday.birthDate)]]</h4>
							</div>
						</a>
					</li>
				</ul>
			</nav>
		</div>

	</div>
</div>