<!DOCTYPE html>
<html ng-controller="ClassAdmin">
<head>
	<title>{{#i18n}}classAdmin.title{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
	<script src="/directory/public/js/model.js" type="text/javascript"></script>
	<script src="/directory/public/js/controller.js" type="text/javascript"></script>
</head>
<script type="text/ng-template" id="empty"></script>
<body>
<portal>
	<h1 data-reload><i role="admin"></i> <span translate content="classAdmin.title"></span></h1>

	<section class="row">
		<h1 class="text" translate content="classAdmin.globalParams"></h1>
		<article class="twelve cell">
			<div class="row reduce-block-three medium-text">
				<div class="two cell reduce-block-eight" translate content="classAdmin.className"></div>
				<div class="ten cell reduce-block-two">
					<input type="text" ng-model="myClass.name" class="twelve cell inline-editing" />
				</div>
			</div>
		</article>
		<div class="row"></div>
	</section>

	<h1 class="text row vertical-spacing-twice" translate content="classAdmin.manageUsers"></h1>
	<section class="twelve cell tabs row">
		<header ng-class="{ selected: display.show === 'Student' }"
				ng-click="show('Student')"
				translate content="directory.students">
		</header><header
			ng-class="{ selected: display.show === 'Relative' }"
			ng-click="show('Relative')"
			translate content="directory.relatives">
		</header>
		<section class="medium-text">
			<div class="row line">
				<div class="twelve cell reduce-block-six vertical-spacing" translate content="classAdmin.filesActions"></div>
				<div class="row"></div>
			</div>
			<div class="row">
				<article class="twelve cell vertical-spacing-twice">
					<table class="row">
						<thead>
						<tr>
							<th>
								<input type="checkbox" ng-model="display.selectAll" ng-change="switchAll()" />
							</th>
							<th></th>
							<th translate content="directory.lastName"></th>
							<th translate content="directory.firstName"></th>
							<th translate content="directory.birthdate"></th>
							<th translate content="directory.login"></th>
							<th translate content="directory.activation"></th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td></td>
							<td class="action-cell"><i role="img"></i></td>
							<td><input type="text" class="inline-editing" translate attr="placeholder" placeholder="directory.lastName" /></td>
							<td><input type="text" class="inline-editing" translate attr="placeholder" placeholder="directory.firstName" /></td>
							<td><input type="text" role="datepicker" class="inline-editing" translate attr="placeholder" placeholder="directory.birthdate" data-date-format="dd/mm/yyyy" /></td>
							<td colspan="2"><input type="button" class="small button right-magnet" translate attr="value" value="directory.add" /></td>
						</tr>
						<tr ng-class="{ checked: user.selected }" ng-repeat="user in users.where({ type: display.show })">
							<td><input type="checkbox" ng-model="user.selected" /></td>
							<td class="action-cell"><img ng-src="/userbook/avatar/[[user.id]]?thumbnail=48x48" /></td>
							<td colspan="2"><a href="">[[user.displayName]]</a></td>
							<td>[[shortDate()]]</td>
							<td>[[user.login]]</td>
							<td><em class="medium-importance right-magnet" translate content="directory.activated"></em></td>
						</tr>
						</tbody>
					</table>
				</article>
				<div class="row"></div>
			</div>
		</section>
	</section>
	<div class="row height-one"></div>
	<section class="toggle-bottom" ng-class="{ hide: users.selection().length === 0 }">
		<div class="toggle block-container">
			<div class="row">
				<button translate content="directory.resetPassword"></button>
				<button translate content="remove"></button>
			</div>
		</div>
	</section>
</portal>
</body>
</html>