<!DOCTYPE html>
<html ng-controller="ClassAdminController">
<head>
	<title>{{#i18n}}classAdmin.title{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
	<script src="/directory/public/js/model.js" type="text/javascript"></script>
	<script src="/directory/public/js/controller.js" type="text/javascript"></script>
</head>
<script type="text/ng-template" id="empty"></script>
<body bottom-scroll="showMore()">
<portal>
	<h1 data-reload><i role="admin"></i> <span translate content="classAdmin.title"></span></h1>

	<section class="row">
		<h1 class="text" translate content="classAdmin.globalParams"></h1>
		<article class="twelve cell">
			<div class="row reduce-block-three medium-text">
				<div class="two cell reduce-block-eight" translate content="classAdmin.className"></div>
				<div class="ten cell reduce-block-two">
					<input type="text" ng-model="classAdmin.name"
							complete-change="saveClassInfos()"
							class="twelve cell inline-editing" />
				</div>
			</div>
		</article>
		<div class="row"></div>
	</section>

	<h1 class="text row vertical-spacing-twice" translate content="classAdmin.manageUsers"></h1>
	<section class="twelve cell tabs row">
		<header ng-class="{ selected: display.show === 'Student' }"
				ng-click="show('Student')"
				translate content="directory.students">
		</header><header
			ng-class="{ selected: display.show === 'Relative' }"
			ng-click="show('Relative')"
			translate content="directory.relatives">
		</header>
		<section class="medium-text">
			<div class="row line">
				<div class="cell" ng-if="display.importing">
					<loading-icon class="cell" request="loadingUsers" default="loading" />
				</div>
				<div class="eleven cell reduce-block-six vertical-spacing">

					<a translate content="classAdmin.importFile" ng-click="openView('importCSV', 'lightbox')"></a>
					<span translate content="or"></span>
					<a translate content="classAdmin.exportFile"
					   ng-href="/directory/class/[[classAdmin.id]]/users?type=[[display.show]]&format=csv"></a>
				</div>
				<div class="row"></div>
			</div>
			<div class="row">
				<article class="twelve cell vertical-spacing-twice">
					<form ng-submit="addUser()">
						<table class="row">
							<thead>
							<tr>
								<th>
									<input type="checkbox" ng-model="display.selectAll" ng-change="switchAll()" />
								</th>
								<th class="centered"></th>
								<th translate content="directory.lastName"></th>
								<th translate content="directory.firstName"></th>
								<th translate content="directory.birthdate" ng-if="display.show === 'Student'"></th>
								<th translate content="directory.login"></th>
								<th translate content="directory.activation"></th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td></td>
								<td class="action-cell">
								</td>
								<td>
									<input type="text" class="inline-editing" id="lastName" autofocus required
											translate attr="placeholder"
											placeholder="directory.lastName"
											ng-model="newUser.lastName" ng-change="newUser.lastName = newUser.lastName.toUpperCase()" />
								</td>
								<td>
									<input type="text" class="inline-editing" required
											translate attr="placeholder"
											placeholder="directory.firstName"
											ng-model="newUser.firstName" />
								</td>
								<td ng-if="display.show === 'Student'">
									<date-picker
											class="inline-editing"
											translate attr="placeholder"
											placeholder="directory.birthdate" ng-model="newUser.birthDate">
									</date-picker>
								</td>
								<td colspan="2">
									<input type="submit" class="button right-magnet"
										   translate attr="value" ng-if="!newUser.lastName || display.show === 'Student'"
										   value="directory.add" />
								</td>
							</tr>
							<tr class="underline" ng-if="newUser.lastName && display.show === 'Relative'">
								<td colspan="2"></td>
								<td colspan="3">
									<div class="row">
										<div class="label-badge cell" ng-repeat="relative in newUser.relatives" ng-click="removeRelative(relative)">
											<span class="cell">[[relative.firstName]] [[relative.lastName]]</span>
											<i role="close" class="right-magnet"></i>
										</div>
										<input type="text" class="twelve cell inline-editing" ng-model="display.relativeSearch"
												ng-change="updateFoundRelatives()" id="relative"
												translate attr="placeholder"
												placeholder="findkids" />
									</div>
									<drop-down
											options="foundRelatives"
											change="addRelative()"
											current="newUser.newRelative"
											for="relative">
									</drop-down>
								</td>
								<td colspan="2"><input type="submit" class="button right-magnet"
													   translate attr="value"
													   value="directory.add" /></td>
							</tr>
							<tr ng-class="{ checked: user.selected, disabled: user.blocked }"
								ng-repeat="user in users.where({ type: display.show }) | limitTo:display.limit">
								<td><input type="checkbox" ng-model="user.selected" /></td>
								<td class="action-cell centered">
									<img class="eight" ng-src="/userbook/avatar/[[user.id]]?thumbnail=48x48" />
								</td>
								<td>
									<a ng-href="/userbook/mon-compte#edit-user/[[user.id]]"
										ng-if="!user.activationCode">[[user.lastName]]</a>
									<a ng-href="/userbook/mon-compte#edit-user-infos/[[user.id]]"
										ng-if="user.activationCode">[[user.lastName]]</a>
								</td>
								<td>
									<a ng-href="/userbook/mon-compte#edit-user/[[user.id]]"
										ng-if="!user.activationCode">[[user.firstName]]</a>
									<a  ng-href="/userbook/mon-compte#edit-user-infos/[[user.id]]"
										ng-if="user.activationCode">[[user.firstName]]</a>
								</td>
								<td ng-if="display.show === 'Student'"><span ng-if="user.birthDate !== ''">[[shortDate(user.birthDate)]]</span></td>
								<td>[[user.login]]</td>
								<td>
									<span class="horizontal-spacing right-magnet">[[user.activationCode]]</span>
									<em class="low-importance horizontal-spacing right-magnet"
										ng-if="user.activationCode === ''"
										translate content="directory.activated"></em>
								</td>
							</tr>
							</tbody>
						</table>
					</form>
				</article>
				<div class="row"></div>
			</div>
		</section>
	</section>
	<div class="row height-one"></div>
	<section class="toggle-buttons" ng-class="{ hide: users.selection().length === 0 }">
		<div class="toggle block-container">
			<div class="row">
				<button translate content="directory.resetPassword" ng-click="resetPasswords()"></button>
				<button ng-click="blockUsers()"
						ng-if="!users.where({ blocked: true, selected: true }).length"
						translate content="admin.block">
				</button>
				<button ng-click="unblockUsers()"
						ng-if="users.where({ blocked: true, selected: true }).length"
						translate content="admin.unblock">
				</button>
			</div>
		</div>
	</section>
</portal>
<section class="lightbox-backdrop"></section>
<section class="lightbox-window five cell">
	<div class="row" ng-include="viewsContainers.lightbox"></div>
</section>
</body>
</html>