<html>
	<head>
		<title>{{#i18n}}userBook.title{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="{{#infra}}js/one-loader.js{{/infra}}" type="text/javascript" id="context"></script>
		<script src="{{#static}}js/account.js{{/static}}" type="text/javascript"></script>
	</head>
	<body data-ng-controller="MyAccount">
	<portal>

		<h1 data-ng-click="refresh()"><i role="orange-user"></i>{{#i18n}}userBook.header{{/i18n}}</h1>

		<div class="row fixed-block height-four">
			<div class="cell fixed four text-container">
				<div class="fluid twelve cell avatar" loading-panel="avatar">
					<img data-ng-src="document/[[account.picture]]?userbook-dimg=public%2Fimg%2Fno-avatar.jpg&v=[[account.pictureVersion]]" alt="user" class="avatar"/>
				</div>
			</div>
			<div class="eight cell fixed right-magnet text-container">
				<article class="fluid cell twelve text-container">
					<h2>[[account.displayName]]</h2>
					<div class="row">
						<div class="four cell"><label>{{#i18n}}userBook.profile.login{{/i18n}}</label></div>
						<em class="six cell">[[account.login]]</em>
					</div>
					<div class="row">
						<div class="four cell"><label>{{#i18n}}userBook.profile.password{{/i18n}}</label></div>
						<em class="eight cell">
							<a data-ng-click="openPasswordDialog()">{{#i18n}}change.password{{/i18n}}</a>
						</em>
					</div>
					<div class="row">
						<div class="four cell"><label>{{#i18n}}userBook.profile.email{{/i18n}}</label></div>
						<input type="text" class="six cell" data-complete-change="saveMail(account.email)" data-ng-model="account.email" />
					</div>
					<div class="row">
						<div class="four cell"><label>{{#i18n}}userBook.profile.telephone{{/i18n}}</label></div>
						<em class="six cell">[[account.tel]]</em>
					</div>
					<div class="row">
						<div class="four cell"><label>{{#i18n}}userBook.profile.address{{/i18n}}</label></div>
						<em class="six cell">[[account.address]]</em>
					</div>
					<div class="row">
						<div class="four cell"><label>{{#i18n}}userBook.profile.birthdate{{/i18n}}</label></div>
						<em class="six cell">[[birthDate(account.birthdate)]]</em>
					</div>
					<div class="row">
						<div class="four cell"><label>{{#i18n}}userBook.profile.school{{/i18n}}</label></div>
						<em class="six cell">[[account.schoolName]]</em>
					</div>
				</article>
			</div>
		</div>
		<div class="row fixed-block height-two">
			<div class="four cell fixed">
				<div class="cell fixed twelve bottom-magnet">
					<div class="twelve cell bottom-magnet text-container">
						<enhanced-select class="enhanced-select cell twelve fixed-block height-two" current="account.mood" options="moods" change="updateMood()">
							<div>[[mon-binding]]</div>
						</enhanced-select>
					</div>
				</div>
				<div class="row text-container">
					<article class="twelve cell text-container centered">
						<form id="upload-form" method="post" action="document" enctype="multipart/form-data">
							<!-- styling file inputs is currently impossible, so we hide them and display a replacement. -->
							<div class="hidden-content">
								<input type="file" name="file"  id="avatar" file-input-change="updateAvatar(file)" data-ng-model="account.photo"/>
							</div>
							<button class="file-button" data-linked="avatar">{{#i18n}}userBook.profile.changeavatar{{/i18n}}</button>
						</form>
					</article>
				</div>
			</div>
			<div class="eight cell right-magnet fixed text-container">
				<article class="fluid twelve cell text-container">
					<div class="row">
						<h2>{{#i18n}}userBook.profile.motto{{/i18n}}</h2>
						<input type="text" class="twelve cell monoline" maxlength="75" data-ng-change="saveProperty('motto')" data-ng-model="account.motto" />
					</div>
				</article>
			</div>
		</div>
		<div class="clear"></div>
		<h1>{{#i18n}}userBook.interests{{/i18n}}</h1>
		<article class="text-container">
			<div class="row line" data-ng-repeat="hobby in account.hobbies">
				<div class="two cell"><span>[[translate('userBook.hobby.' + hobby.category)]]</span></div>
				<div class="nine cell">
					<input type="text" class="twelve cell inline-editing" data-ng-change="saveHobby(hobby)" data-ng-model="hobby.values" />
				</div>
				<div class="one cell"><i role="[[hobby.visibility.toLowerCase()]]" data-ng-click="changeVisibility(hobby)" class="right-magnet"></i></div>
				<div class="clear"></div>
			</div>
		</article>
		<h1>{{#i18n}}userBook.profile.health{{/i18n}}</h1>
			<article class="text-container">
				<textarea data-ng-model="account.health" data-ng-change="saveProperty('health')"></textarea>
			</article>
			</div>
		<div class="clear"></div>

	</portal>
	<section class="lightbox-backdrop"></section>
	<section class="lightbox-window fixed-block height-two five cell">
		<div data-ng-bind-html-unsafe="resetPasswordContent" class="fixed twelve cell" ng-if="resetPasswordContent!==''"></div>
		<div ng-include="resetPasswordPath" class="fixed twelve cell" ng-if="resetPasswordPath!==''"></div>

		<div class="clear"></div>
		<div class="close-lightbox">
			<i role="close-2x"></i>
		</div>
	</section>
	</body>
</html>
