<html data-ng-controller="MyAccount">
	<head>
		<title ng-if="me.userId === account.id">{{#i18n}}account.myaccount{{/i18n}}</title>
		<title ng-if="me.userId !== account.id">{{#i18n}}account.useraccount{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
		<script type="text/javascript" src="/directory/public/js/model.js"></script>
		<script src="/directory/public/js/account.js" type="text/javascript"></script>
	</head>
	<body>
	<portal>

		<h1 ng-if="me.userId === account.id">
			<a data-reload><i role="orange-user"></i><span translate content="account.myaccount"></span></a>
		</h1>
		<h1 ng-if="me.userId !== account.id">
			<a data-reload><i role="orange-user"></i><span translate content="account.useraccount"></span></a>
		</h1>

		<div class="row height-four" ng-include="viewsContainers.user"></div>
		<div class="row" ng-include="viewsContainers.userbook"></div>
	</portal>
	<section class="lightbox-backdrop"></section>
	<section class="lightbox-window height-two five cell">
		<div ng-include="resetPasswordPath" class="absolute twelve cell" ng-show="resetPasswordPath!==''"></div>

		<div class="clear"></div>
		<div class="close-lightbox">
			<i role="close-2x"></i>
		</div>
	</section>
	</body>
</html>
