<!DOCTYPE html>
<!--
  ~ Copyright. Tous droits réservés. WebServices pour l’Education.
  -->

<html>
<head>
	<title>{{#i18n}}userBook.class.title{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
	<script src="/directory/public/js/model.js" type="text/javascript"></script>
	<script src="/directory/public/js/controller.js" type="text/javascript"></script>
</head>
<script type="text/ng-template" id="empty"></script>
<body ng-controller="SchoolController" bottom-scroll="increaseSearchSize()">
<portal>
	<div class="row">
		<div class="twelve cell">
			<div class="right-magnet five cell">
				<div class="row">
					<div class="right-magnet">
						<i class="show-icons right-magnet"
						   ng-click="template.open('list', 'dominos')"
						   ng-class="{ selected: template.contains('list', 'dominos') }"></i>
						<i class="show-list right-magnet"
						   ng-click="template.open('list', 'table')"
						   ng-class="{ selected: template.contains('list', 'table') }"></i>

					</div>

					<div class="right-magnet eight cell reduce-block-four">
						<input type="search"
							   ng-model="search.text" ng-change="updateSearch()"
							   translate attr="placeholder"
							   placeholder="userBook.search"
							   class="twelve cell right-magnet" />
					</div>
				</div>

			</div>
			<h1 class="subtitle" data-reload><i class="userbook"></i><span translate key="userBook.class.title"></span></h1>
		</div>
	</div>

	<nav class="vertical four cell">
		<input type="search" placeholder="Saisissez le nom d'une école" class="twelve cell" />
		<ul>
			<li ng-repeat="school in schools.all">
				<a ng-click="openSchool(school)" ng-class="{ selected: currentSchool === school }">[[school.name]]</a>
			</li>
		</ul>
	</nav>
	<div class="eight cell" ng-include="template.containers.list">

	</div>
</portal>
</body>
</html>
