<section class="panel-section">
  <div class="panel-section-header is-display-flex has-space-between" (click)="folded !== null ? folded=!folded : null" [class.foldable]="folded !== null">
    <div class="is-display-flex">
      <s5l>{{ sectionTitle }}</s5l>
      <div class="has-left-padding-10">
        <ng-content select="[panel-section-header-icons]"></ng-content>
      </div>
    </div>

    <i class="opener" *ngIf="folded !== null"
       [class.opened]="!folded"></i>
  </div>
  <div class="panel-section-content" *ngIf="!folded">
    <ng-content></ng-content>
  </div>
</section>
