<div class="panel-section">

  <div class="applications-role-composition"
       [class.panel-section-header]="!editMode">

    <div class="name-group is-display-flex has-space-between">
      <div class="role-name" *ngIf="!editMode">
        <span>{{role.name}}</span>
        <span class="role-name-i18n" [hidden]="role.name==bundleSvc.translate(role.name)">i18n</span>
      </div>

      <mat-form-field *ngIf="editMode" class="role-name">
        <mat-label>{{role.name}}</mat-label>
        <input 
          type="text" 
          required 
          matInput 
          [formControl]="nameCtl" 
          [(ngModel)]="role.name"
          (focus)="onFocus($event)"
        />
      </mat-form-field>

      <div class="buttons">
        <button type="button" 
                [class.edit]="editMode"
                (click)="onToggleEdit($event)" 
                [disabled]="!role.name || role.name.trim().length===0 || !checkedActions || checkedActions.length===0">
          <i class='fa' [ngClass]="{'fa-edit':!editMode, 'fa-save':editMode}"></i>
        </button>
        <button type="button" [class.edit]="editMode" (click)="showDeletionConfirm=true">
          <i class='fa fa-trash'></i>
        </button>
      </div>
    </div>

    <div class="distributions" *ngIf="distributions.length>0">
      <small>
        <s5l *ngIf="!editMode" [s5l-params]="{nb: checkedDistributions.length}">ux.multiselect.selected-distributions</s5l>
        <mat-form-field *ngIf="editMode">
          <mat-select multiple
                      [placeholder]="getPlaceholderFor(distributionsCtl)"
                      [formControl]="distributionsCtl"
                      [disabled]="!editMode"
                      (selectionChange)="withDistributions=true">
            <mat-select-trigger>
              {{ 'ux.multiselect.selected-distributions' | translate:{nb:distributionsCtl.value.length} }}
            </mat-select-trigger>
            <mat-option *ngFor="let distrib of distributions" [value]="distrib">{{distrib}}</mat-option>
          </mat-select>
        </mat-form-field>
      </small>
    </div>

  </div>

  <ode-lightbox-confirm lightboxTitle="services.application.roles.delete.confirm.title"
                        [show]="showDeletionConfirm"
                        (onCancel)="showDeletionConfirm=false"
                        (onConfirm)="showDeletionConfirm=false; onRemove.emit(role);">
    <span [innerHTML]="'services.application.roles.delete.confirm.content' | translate: {role: bundleSvc.translate(role.name)}"></span>
  </ode-lightbox-confirm>

  <ode-list-checkable 
      [readOnly]="!editMode"
      [model]="actions"
      [sort]="'+displayName'"
      [isChecked]="isChecked"
      [areAllChecked]="areAllChecked"
      (onCheck)="check($event.item, $event.checked)">

    <ng-template let-item>
      <span>{{item.displayName|translate}}</span>
    </ng-template>

  </ode-list-checkable>
</div>
