@import "../../../../../assets/variables";

.applications-role-composition {
    width: -webkit-fill-available;
    width: -moz-available;
    display: flex;
    flex-flow: column wrap;
    padding: 10px 10px;
    border-top: 1px solid $grey-dark;

    .name-group {
        width: -webkit-fill-available;
        width: -moz-available;

        div.role-name {
            font-size: 1.2em;
            place-self: center;
        }

        mat-form-field {
            width: 66%;
            font-size: 1em;
        }

        input[type=text] {
            border-bottom: 0;
        }

        button {
            border-radius: 16px;
            width: 32px;
            height: 32px;
            font-size: 1em;
            text-align: center;
            cursor: pointer;
            background: $white-transparent;
            color: $grey-dark;
            border:0;
            margin: 5px;
            transition: all 0.25s;

            &.edit {
                color: $grey-light;
                background: $accent;
            }

            i {
                float: none;
                padding: 0;
                position: relative;
                top: -2px;
                left: -5.6px;
            }
        }
    }

    .distributions mat-form-field {
        width: 66%;
    }

}
