<!doctype html>
<html>
<head>
	<script>
		function buildModel(){}
	</script>
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
	<link rel="stylesheet" type="text/css" href="/public/css/app.css" />
</head>
<body>

<portal>
	<iframe src="https://demo.web-education.net/eliot-textes-app/cahierDeTextes/accueil" seamless id="adapter"></iframe>
</portal>
<script>
	if(window.location.href.split('#').length > 1){
		document.getElementById('adapter').setAttribute('src', window.location.href.split('#')[1]);
	}
</script>
</body>
</html>