<!doctype html>
	<html>
		<head>
			<script src="{{#infra}}js/one-loader.js{{/infra}}" type="text/javascript" id="context"></script>
			<link rel="stylesheet" type="text/css" href="/public/css/app.css" />
			<title>{{#i18n}}portal.header.navigation.myapps{{/i18n}}</title>
		</head>
		<body>
			<portal>
				<h1><i role="apps"></i>{{#i18n}}portal.header.navigation.myapps{{/i18n}}</h1>

				<nav class="list icons-view">
					<article class="block-container">
						<ul class="list icons-view">
							{{#apps}}
							<li class="element fixed-block height-two">
								<div class="fixed twelve cell">
									<a href="{{address}}" {{#target}}target="{{target}}"{{/target}}>
									<i role="{{icon}}"></i>
									</a>
									<a href="{{address}}" {{#target}}target="{{target}}"{{/target}}>{{name}}</a>
								</div>

							</li>
							{{/apps}}
						</ul>
						<div class="clear"></div>
					</article>
				</nav>
			</portal>
		</body>
	</html>