<!doctype html>
	<html class="app">
		<head>
			<script type="text/javascript" src="{{#infra}}js/jquery-1.9.1.js{{/infra}}"></script>
			<script src="{{#infra}}js/underscore-min-1.4.4.js{{/infra}}" type="text/javascript"></script>
			<script src="{{#infra}}js/mustache.js{{/infra}}" type="text/javascript"></script>
			<script src="{{#infra}}js/humane.min.js{{/infra}}" type="text/javascript"></script>
			<script src="{{#infra}}js/one-app.js{{/infra}}" type="text/javascript"></script>
			<script src="{{#infra}}js/one.js{{/infra}}" type="text/javascript"></script>
			<script type="text/javascript" src="{{#infra}}js/iframe.js{{/infra}}"></script>
			<link rel="stylesheet" type="text/css" href="/public/css/app.css" />
		</head>
		<body>
		<h1><i role="apps"></i>Mes applis</h1>

		<nav role="apps-navigation" class="list icons-view">
			<article class="list icons-view">
				<ul>
					{{#apps}}
					<li>
						<a href="{{address}}" {{#target}}target="{{target}}"{{/target}}>
							<i role="{{icon}}"></i>
						</a>
						<a href="{{address}}" {{#target}}target="{{target}}"{{/target}}>{{name}}</a>
					</li>
					{{/apps}}
				</ul>
				<div class="clear"></div>
			</article>
		</nav>


		</body>
	</html>