<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title></title>
	<script>
		window.appPrefix = '.';
	</script>
	<script type="text/javascript" id="context" src="/infra/public/js/loader.js"></script>
	<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
	<link rel="stylesheet" type="text/css" href="/public/css/html-theme.css" />
	<title>Directives</title>
	<style type="text/css">
		label{
			font-family: "Courier New";
			background: #EEE;
			padding: 3px;
			border-radius: 3px;
		}
	</style>
	<script type="text/javascript">
		function LoadingController($scope){
			$scope.startRequest1 = function(){
				http().get('/', {}, {requestName: 'loading-exemple1' })
			};
			$scope.startRequest2 = function(){
				http().get('/', {}, {requestName: 'loading-exemple2' })
			};
		}

		function DrawingController($scope){
			$scope.resizeWidth = 200;
			$scope.resizeHeight = 200;

			$scope.bloc1 = {
				y: 20,
				x: 50,
				z: 0
			};
			$scope.bloc2 = {
				y: 20,
				x: 300,
				z: 1
			};
			$scope.bloc3 = {
				y: 20,
				x: 600,
				z: 2
			};
			$scope.yak = {
				x: 20,
				y: 20,
				width: 100,
				height: 100,
				z: 0
			};
			$scope.frog = {
				x: 130,
				y: 20,
				width: 100,
				height: 100,
				z: 0
			}
		}

		function BindHtmlController($scope){
			$scope.content = '<div class="img-container"><div class="clip"><img class="twelve" src="/public/img/exemples/filler1.png" /></div></div>';
		}

		function TemplateController($scope, template){
			$scope.template = template;
		}
	</script>
</head>
<body bottom-scroll="showBottomScroll = true">
	<default-styles>
		<div class="centered container row">
			<section class="main">
				<h1>Évènements</h1>
				<h3>complete-change</h3>
				<p>
					La directive Angular <label>ng-change</label> est appelée pour toute modification d'un contenu - c'est-à-dire, pour une zone de texte,
					à chaque appui sur une touche. Ce comportement n'est pas toujours le comportement voulu.
				</p>
				<p>
					Au contraire, la directive ent-core <label>complete-change</label> est appelée lorsqu'un changement a été effectué, et que l'utilisateur
					n'a plus le focus sur l'élément. Son utilisation est similaire à celle de <label>ng-change</label>.
				</p>
				<pre class="prettyprint row">

  &lt;span ng-if="showContent"&gt;<span ng-non-bindable>Vous avez entré [[myNewValue]]</span>&lt;/span&gt;
  &lt;input type="text" complete-change="showContent = true;" ng-model="myNewValue" /&gt;
				</pre>
				<article class="row reduce-block-six">
					<div class="row reduce-block-six" ng-if="showContent">Vous avez entré [[myNewValue]]</div>
					<input type="text" complete-change="showContent=true" ng-model="myNewValue" placeholder="Modifiez le contenu" class="three cell" />
					<div class="row"></div>
				</article>
				<div class="row reduce-block-six"></div>

				<h3>file-input-change</h3>
				<p>
					Il n'y a pas de directive native pour gérer la sélection de fichier. Cette directive d'ent-core déclenche la fonction lorsqu'un ou plusieurs
					fichiers sont sélectionnés. Le contenu de <label>ng-model</label> est la liste des fichiers.
				</p>
				<pre class="prettyprint row">

  &lt;span ng-if="showFiles"&gt;Dans &lt;label&gt;ng-model&lt;/label&gt;, <span ng-non-bindable>[[myFiles.length]]</span> fichier(s) sélectionné(s)&lt;/span&gt;
  &lt;input type="file" multiple ng-model="myFiles" files-input-change="showFiles=true" /&gt;
				</pre>
				<article class="row reduce-block-six">
					<div ng-if="showFiles" class="row reduce-block-six">Dans <label>ng-model</label>, [[myFiles.length]] fichier(s) sélectionné(s)</div>
					<br /><input type="file" multiple files-input-change="showFiles=true" ng-model="myFiles" />
				</article>
				<div class="row reduce-block-six"></div>

				<h3>bottom-scroll</h3>
				<p>
					Cet évènement sera déclenché lorsque l'utilisateur aura scrollé tout en bas de l'écran.
				</p>
				<pre class="prettyprint row">

  &lt;body bottom-scroll="showBottomScroll=true"&gt;&lt;/body&gt;
				</pre>
				<article class="row reduce-block-six">
					<span ng-if="showBottomScroll">Vous avez scrollé jusqu'au bout.</span>
					<span ng-if="!showBottomScroll">Vous n'avez pas scrollé jusqu'au bout.</span>
				</article>
				<div class="row reduce-block-six"></div>

				<h1>Composants graphiques</h1>
				<h3>lightbox</h3>
				<pre class="prettyprint row">

  &lt;button ng-click="showLightbox=true"&gt;Ouvrir la lightbox&lt;/button&gt;
  &lt;lightbox show="showLightbox" on-close="showLightbox=false"&gt;
    &lt;h2&gt;Lightbox&lt;/h2&gt;
    &lt;p&gt;Contenu à afficher&lt;/p&gt;
  &lt;/lightbox&gt;
				</pre>
				<article class="reduce-block-six">
					<button ng-click="showLightbox=true">Ouvrir la lightbox</button>
					<lightbox show="showLightbox" on-close="showLightbox=false">
						<h2>Lightbox</h2>
						<p>Contenu à afficher</p>
					</lightbox>
				</article>
				<div class="row reduce-block-six"></div>

				<h3>autocomplete</h3>
				<p>
					Cette directive est une simple liste déroulante, dans laquelle l'utilisateur peut choisir un élément en utilisant un système d'autocomplétion. Si les options
					ne sont pas des chaînes de caractères, la méthode toString est utilisée pour les convertir ; vous pouvez la surcharger si besoin est.
				</p>
				<pre class="prettyprint row">

  &lt;div class="row reduce-block-six" ng-if="showSelectedElement">Vous avez sélectionné [[selectedElement]]&lt;/div&gt;
  &lt;autocomplete
	options="['un', 'deux', 'trois', 'quatre', 'quatre et un', 'un et quatre', 'deux et trois', 'trois et deux']"
	ng-change="showSelectedElement=true"
	ng-model="selectedElement"&gt;
  &lt;/autocomplete&gt;
				</pre>
				<article class="reduce-block-six">
					<div class="row reduce-block-six" ng-if="showSelectedElement">Vous avez sélectionné [[selectedElement]]</div>
					<autocomplete
						options="['un', 'deux', 'trois', 'quatre', 'quatre et un', 'un et quatre', 'deux et trois', 'trois et deux']"
						ng-change="showSelectedElement=true"
						ng-model="selectedElement">
					</autocomplete>
					<div class="row"></div>
				</article>
				<div class="row reduce-block-six"></div>

				<h3>loading-icon</h3>
				<p>
					La directive <label>loading-icon</label> permet de suivre la progression d'une requête http. Elle doit être utilisée en parallèle
					de l'objet <label>http()</label> de l'API d'ent-core.
				</p>
				<p>Requête http :</p>
				<pre class="prettyprint row">

    http().get('/', {}, {requestName: 'loading-exemple1' })
				</pre>

				<p>Directive :</p>
				<pre class="prettyprint row">

  &lt;loading-icon request="loading-exemple1"&gt;&lt;/loading-icon&gt;
				</pre>
				<article class="reduce-block-six" ng-controller="LoadingController">
					<button ng-click="startRequest1()">Lancer la requête</button>
					<loading-icon request="loading-exemple1"></loading-icon>
				</article>
				<div class="row reduce-block-six"></div>

				<h3>loading-panel</h3>
				<p>
					La directive <label>loading-panel</label> est similaire à <label>loading-icon</label>, mais elle remplace le contenu de l'élément
					dans lequel elle est utilisée avec un panneau de chargement au lieu d'afficher une icône.
				</p>
				<p>Requête http :</p>
				<pre class="prettyprint row">

    http().get('/', {}, {requestName: 'loading-exemple2' })
				</pre>

				<p>Directive :</p>
				<pre class="prettyprint row">

  &lt;div loading-panel="loading-exemple2"&gt;
    &lt;button ng-click="startRequest2()"&gt;Lancer la requête&lt;/button&gt;
  &lt;/div&gt;
				</pre>
				<div class="row">
					<article class="two cell height-one" ng-controller="LoadingController">
						<div class="absolute reduce-block-six" loading-panel="loading-exemple2">
							<button ng-click="startRequest2()">Lancer la requête</button>
						</div>
					</article>
				</div>
				<div class="row reduce-block-six"></div>

				<h3>tooltip</h3>
				<p>
					<label>Tooltip</label> permet d'affcher une bulle d'aide.
				</p>
				<pre class="prettyprint row">

  &lt;a tooltip="Information d'aide"&gt;Mon lien&lt;/a&gt;
				</pre>
				<article class="reduce-block-six">
					<a tooltip="Information d'aide">Mon lien</a>
				</article>
				<div class="row reduce-block-six"></div>

				<h3>widgets</h3>
				<p>
					Ce composant permet d'afficher les widgets de l'utilisateur. Il nécessite d'être connecté pour l'utiliser. L'option permettant de spécifier la liste des widgets est optionnelle ;
					par défaut, tous les widgets sont affichés.
				</p>
				<pre class="prettyprint row">

  &lt;widgets list="['calendar']"&gt;&lt;/widgets&gt;
				</pre>
				<div class="row reduce-block-six"></div>

				<h1>Gestion des données</h1>
				<h2>Formats</h2>
				<h3>files-picker</h3>
				<p>
					La directive <label>files-picker</label> remplace le bouton de sélection de fichier classique. Son comportement est le même, mais
					il est possible de modifier son style.
				</p>
				<article class="reduce-block-six">
					<div ng-if="showFilesPick">
						Nombre de fichiers choisis : [[filesPickerFiles.length]]
					</div>
					<files-picker ng-model="filesPickerFiles" multiple ng-change="showFilesPick = true" value="Choisir"></files-picker>
				</article>
				<div class="reduce-block-six"></div>
				<h3>date-picker</h3>
				<p>
					Il s'agit d'un simple champ permettant de sélectionner une date.
				</p>
				<article class="reduce-block-six">
					<div class="row" ng-if="showDate">
						[[dateExemple]]
					</div>
					<date-picker
							ng-model="dateExemple"
							ng-change="showDate = true">
					</date-picker>
				</article>
				<h2>Edition HTML</h2>
				<h3>bind-html</h3>
				<p>
					Cette directive permet d'afficher du contenu HTML. La directive d'Angular <label>ng-bind-html</label> remplit la même fonction,
					mais ne permet pas d'afficher de contenu dynamique ou d'images, contrairement à celle-ci.
				</p>
				Contrôleur :
				<pre class="prettyprint row">

    function BindHtmlController($scope){
      $scope.content = '&lt;div class="img-container"&gt;&lt;div class="clip"&gt;&lt;img class="twelve" src="/public/img/exemples/filler1.png" /&gt;&lt;/div&gt;&lt;/div&gt;';
    }
				</pre>
				Vue :
				<pre class="prettyprint row">

  &lt;div bind-html=""&gt;&lt;/div&gt;
				</pre>
				<div class="row" ng-controller="BindHtmlController">
					<div class="two cell height-two" bind-html="content"></div>
					<div class="row"></div>
				</div>
				<div class="row reduce-block-six"></div>

				<h3>rich-text-editor</h3>
				<p>
					Cet éditeur HTML permet de formatter du texte. Il ne gère pas les médias.
				</p>
				<article class="reduce-block-six">
					<rich-text-editor ng-model="formattedText"></rich-text-editor>
					<div class="row reduce-block-six"></div>
				</article>

				<h3>html-editor</h3>
				<p>
					Cet éditeur HTML permet d'ajouter des médias et formatter du texte. Ajouter du son ou de la vidéo n'est possible que pour un utilisateur connecté ; il doit
					également avoir de l'espace disponible sur son compte.
				</p>
				<article class="reduce-block-six">
					<html-editor ng-model="savedHtml"></html-editor>
					<div class="row reduce-block-six"></div>
				</article>

				<h3>text-editor</h3>
				<p>
					La directive <label>text-editor</label> permet de créer un éditeur de texte contextuel, qui s'ouvrira lors d'un clic sur le contenu.
				</p>
				<article class="reduce-block-six">
					<text-editor ng-model="savedText" style="height: 200px"></text-editor>
				</article>

				<div class="row reduce-block-six"></div>

				<h2>Edition et placement d'éléments</h2>
				<h3>placed-block</h3>
				<p>
					Permet de positionner un bloc à un emplacement spécifique.
				</p>
				<article class="reduce-block-six" ng-controller="DrawingController">
					<div class="row">
						<div class="three cell">
							<h2>Yak</h2>
							<p>Position x
								<br /><input type="number" ng-model="yak.x" />
								<br />Position y
								<br /><input type="number" ng-model="yak.y" />
								<br />Position z
								<br /><input type="number" ng-model="yak.z" />
								<br />Largeur
								<br /><input type="number" ng-model="yak.w" />
								<br />Hauteur
								<br /><input type="number" ng-model="yak.h" /></p>
						</div>
						<div class="three cell">
							<h2>Grenouille</h2>
							<p>Position x
								<br /><input type="number" ng-model="frog.x" />
								<br />Position y
								<br /><input type="number" ng-model="frog.y" />
								<br />Position z
								<br /><input type="number" ng-model="frog.z" />
								<br />Largeur
								<br /><input type="number" ng-model="frog.w" />
								<br />Hauteur
								<br /><input type="number" ng-model="frog.h" /></p>
						</div>
						<div class="six cell" drawing-zone>
							<placed-block x="frog.x" y="frog.y" z="frog.z" w="frog.w" h="frog.h">
								<img src="/public/img/exemples/frog.png" class="extensible" />
							</placed-block>
							<placed-block x="yak.x" y="yak.y" z="yak.z" w="yak.w" h="yak.h">
								<img src="/public/img/exemples/yak.png" class="extensible" />
							</placed-block>
						</div>
					</div>
					<div class="row"></div>
				</article>
				<h3>resizable</h3>
				<p>
					Cette propriété permet de changer la taille des éléments. Le conteneur ayant
					la propriété <label>drawing-block</label> servira à marquer les limites de taille de l'élément.
				</p>
				<article drawing-zone ng-controller="DrawingController">
					<p>
						Largeur : [[resizeWidth]]
						<br />Hauteur : [[resizeHeight]]
					</p>
					<placed-block class="media" resizable w="resizeWidth" h="resizeHeight"></placed-block>
				</article>

				<h3>draggable</h3>
				<p>
					Cette propriété permet à l'utilisateur de déplacer le bloc avec un glisser-déposer. Le conteneur ayant
					la propriété <label>drawing-block</label> servira à marquer les limites de déplacement de l'élément.
				</p>
				<article drawing-zone ng-controller="DrawingController">
					<placed-block class="media" draggable x="bloc1.x" y="bloc1.y" z="bloc1.z">
						<img src="/public/img/exemples/filler2.png" />
					</placed-block>
					<placed-block class="media" draggable x="bloc2.x" y="bloc2.y" z="bloc2.z">
						<div class="reduce-block-six">
							Position x : [[bloc2.x]]
							<br />Position y : [[bloc2.y]]
							<br />Position dans la pile : [[bloc2.z]]
						</div>
					</placed-block>
					<placed-block class="media" draggable x="bloc3.x" y="bloc3.y" z="bloc3.z">
						<img src="/public/img/exemples/filler3.png" />
					</placed-block>
				</article>

				<h1>Outils du modèle</h1>
				<h2>Traduction</h2>
				<h3>translate</h3>
				<p>
					Cette directive permet de traduire le contenu d'un élément, ou un attribut. La clef utilisée est référencée dans les fichiers i18n de l'application.
				</p>
				<h3>localized-class</h3>
				<p>
					Il est possible de générer des classes supplémentaires en fonction de la localisation pour traduire les images.
				</p>
				<h2>Chargement de styles</h2>
				<h3>portal</h3>
				<p>
					<label>Portal</label> permet d'inclure le contenu dans le portail de l'ent. Il s'agit de la directive de base utilisée par toutes les applications.
				</p>
				<h3>admin-portal</h3>
				<p>
					Cette directive permet de charger l'application dans un portail d'administration. L'utilisateur doit être un administrateur pour avoir accès à
					la vue générée.
				</p>
				<h3>portal-styles</h3>
				<p>
					A la différence de <label>portal</label>, <label>portal-styles</label> charge uniquement les styles de l'ent sans imbriquer l'application dans
					le portail.
				</p>
				<h3>default-styles</h3>
				<p>
					<label>Default-styles</label> charge la skin par défaut dans l'application. Elle est utilisable pour les utilisateurs déconnectés.
				</p>
				<h3>skin-src</h3>
				<p>
					Cette directive récupère une image dans le répertoire de thème courant.
				</p>
				<h2>Ressources</h2>
				<h3>workflow</h3>
				<p>
					Un élément marqué workflow ne sera affiché que si l'utilisateur courant a les droits d'accès au contenu indiqué.
				</p>
				<h3>behaviour</h3>
				<p>
					Le contenu d'un bloc <label>behaviour</label> ne sera affiché que si l'utilisateur courant a des droits d'accès suffisants à la ressource concernée.
				</p>
				<h3>share-panel</h3>
				<p>
					Cette directive permet d'afficher un panneau de partage pour une ressource spécifique.
				</p>
				<h1>Composants pour le contrôleur</h1>
				<h2>Routes</h2>
				<p>
					Il est possible de gérer des routes côté client, qui seront ensuite gérées par le contrôleur.
				</p>
				<h2>Templates</h2>
				<p>
					Le système de templates d'ent-core est très simple. On indique d'abord un bloc "conteneur", dans lequel des templates seront
					chargées :
				</p>
				<p>
					On importe ensuite le composant template dans le contrôleur :
				</p>
				<p>
					La fonction <label>open</label> permet de charger une template dans un conteneur.
				</p>
				<article class="reduce-block-six" ng-controller="TemplateController">
					<button ng-click="template.open('exemple', 'ex1')">Template 1</button>
					<button ng-click="template.open('exemple', 'ex2')">Template 2</button>
					<button ng-click="template.close('exemple')">Fermer</button>
					<div ng-include="template.containers.exemple"></div>
				</article>
			</section>
		</div>
	</default-styles>
</body>
</html>