<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title></title>
	<script>
		window.appPrefix = '.';
	</script>
	<script type="text/javascript" id="context" src="/infra/public/js/loader.js"></script>
	<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
	<link rel="stylesheet" type="text/css" href="/public/css/html-theme.css" />
	<title>Directives</title>
	<style type="text/css">
		label{
			font-family: "Courier New";
			background: #EEE;
			padding: 3px;
			border-radius: 3px;
		}
	</style>
	<script type="text/javascript">
		function LoadingController($scope){
			$scope.startRequest1 = function(){
				http().get('/', {}, {requestName: 'loading-exemple1' })
			};
			$scope.startRequest2 = function(){
				http().get('/', {}, {requestName: 'loading-exemple2' })
			};
		}

		function DrawingController($scope){
			$scope.resizeWidth = 200;
			$scope.resizeHeight = 200;

			$scope.bloc1 = {
				y: 20,
				x: 50,
				z: 0
			};
			$scope.bloc2 = {
				y: 20,
				x: 300,
				z: 1
			};
			$scope.bloc3 = {
				y: 20,
				x: 600,
				z: 2
			};
			$scope.yak = {
				x: 20,
				y: 20,
				width: 100,
				height: 100,
				z: 0
			};
			$scope.frog = {
				x: 130,
				y: 20,
				width: 100,
				height: 100,
				z: 0
			}
		}

		function BindHtmlController($scope){
			$scope.content = '<div class="img-container"><div class="clip"><img class="twelve" src="/public/img/exemples/filler1.png" /></div></div>';
		}

		function TemplateController($scope, template){
			$scope.template = template;
		}
	</script>
</head>
<body bottom-scroll="showBottomScroll = true">
	<default-styles>
		<div class="centered container row">
			<section class="main">

			</section>
		</div>
	</default-styles>
</body>
</html>