<!DOCTYPE html>
<html>
    <head>
        <title>{{#i18n}}portal.title{{/i18n}}</title>
        <meta charset="utf-8" />

		<link rel="stylesheet" href="{{#infra}}css/original.css{{/infra}}" type="text/css" />
		<link rel="stylesheet" type="text/css" href="../public/css/app.css" />
		<link rel="stylesheet" type="text/css" href="{{#asset}}css/theme.css{{/asset}}" id="theme" />

        <script src="{{#infra}}js/jquery-1.9.1.js{{/infra}}" type="text/javascript"></script>
        <script src="{{#infra}}js/underscore-min-1.4.4.js{{/infra}}" type="text/javascript"></script>
        <script src="{{#infra}}js/mustache.js{{/infra}}" type="text/javascript"></script>
        <script src="{{#infra}}js/humane.min.js{{/infra}}" type="text/javascript"></script>
        <script src="{{#infra}}js/one-app.js{{/infra}}" type="text/javascript"></script>
        <script src="{{#static}}js/portal.js{{/static}}" type="text/javascript"></script>
    </head>
    <body>
        <div class="centered container row">
            <header class="main">
                <section class="navbar row">
                    <div class="cell six">
                        <img src="/public/img/exemples/userIcon.png" id="my-photo" />
                        <span class="welcome-message">Bonjour {{userFirstname}}, bienvenue !</span>
                    </div>
                    <div class="cell six">
                        <nav class="account" role="apps-navigation">
                            <!--form class="search cell">
                                <input type="text" value="Rechercher" />
                                <input type="submit" value="OK" />
                            </form-->
                            <a><i role="user" call="redirect" href="{{userbook}}/mon-compte"></i></a>
                            <a href="{{auth}}/logout?callback={{logoutCallback}}"><i role="shutdown"></i></a>
                            <div class="clear"></div>
                        </nav>
                    </div>
                </section>
                <section class="row">
                    <div class="logo" />
                    <nav class="horizontal" role="apps-navigation">
                        <a class="remove-fout" call="redirect" href="{{timeline}}/timeline">{{#i18n}}portal.header.navigation.whatsnew{{/i18n}}</a>
                        <a class="remove-fout" call="redirect" href="{{userbook}}/annuaire?myClass">{{#i18n}}portal.header.navigation.classMembers{{/i18n}}</a>
                        <a class="remove-fout" call="redirect" href="{{portal}}/apps">{{#i18n}}portal.header.navigation.myapps{{/i18n}}</a>
                    </nav>
                </section>

            </header>

            <div class="main wrapper">
                <section class="main">


                    <div id="directory"></div>
                    <iframe id="applications" scrolling="no"></iframe>
                    <div class="clear"></div>
                </section>
            </div>
        </div>

    </body>
</html>
