<!DOCTYPE html>
<html>
	<head>
		<title>{{#i18n}}admin.title{{/i18n}}</title>
		<meta charset="utf-8" />

		<script src="{{#infra}}js/jquery-1.9.1.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/underscore-min-1.4.4.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/mustache.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/humane.min.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/one-app.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#static}}js/portal.js{{/static}}" type="text/javascript"></script>
	</head>
	<body>
		<header>
			<h1>{{#i18n}}portal.header{{/i18n}}</h1>
		</header>
		
	</body>
</html>
