<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title></title>
	<script src="{{#infra}}js/jquery-1.10.2.min.js{{/infra}}" type="text/javascript"></script>
	<title>Thème</title>
	<script type="text/javascript">
		$(document).ready(function(){
			$.get('/skin').done(function(skin){
				$('<link />', { rel: 'stylesheet', type: 'text/css' })
						.attr('href', '/assets/themes/' + skin.skin + '/default/theme.css')
						.appendTo('head');
			});
		});
	</script>

	<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
	<link rel="stylesheet" type="text/css" href="/public/css/html-theme.css" />
	<style type="text/css">
		label{
			font-family: "Courier New";
			background: #EEE;
			padding: 3px;
			border-radius: 3px;
		}
	</style>
</head>
<body>
	<div class="centered container row">
		<section class="main">

			<div class="row">
				<h1 class="twelve cell">Grille à deux dimension</h1>

				<div class="grid-exemple row">
					<div class="six cell height-six">
						<div class="absolute cell">Six cell height-six</div>
					</div>
					<div class="six cell height-three">
						<div class="absolute cell">Six cell height-three</div>
					</div>
					<div class="six cell height-three">
						<div class="absolute cell">Six cell height-three</div>
					</div>
				</div>

				<div class="grid-exemple row">
					<div class="twelve cell height-one">
						<div class="absolute cell">Twelve cell height-one</div>
					</div>
				</div>
				<div class="grid-exemple row">
					<div class="two cell height-two">
						<div class="absolute cell">Two cell height-two</div>
					</div>
					<div class="ten cell article">
						Ten cell, pas de hauteur spécifiée
						<p>Ce sont des cellules de grille classiques. Leur hauteur est adaptée au contenu.</p>
						<p>Ajouter un bloc height-* dans une de ces cellules va également l'agrandir.</p>
						<div class="row">
							<div class="twelve cell height-two">
								<div class="absolute cell" style="background: #fff; color: #ccc">Twelve cell height-two</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row reduce-block-six">
				<h2 style="padding-top: 0" class="twelve cell">Grille classique</h2>

				<div class="row">
					<p>La classe <label>row</label> défini une nouvelle ligne contenant des cellules. Chaque élément <label>cell</label> doit spécifier une largeur allant de un à douze,
						en anglais, c'est-à-dire utiliser les classes <label>one</label> à <label>twelve</label>.</p>
					<pre class="row prettyprint">

  &lt;div class=&quot;row&quot;&gt;
	&lt;div class=&quot;two cell&quot;&gt;Two cell&lt;/div&gt;
  	&lt;div class=&quot;ten cell&quot;&gt;Ten cell&lt;/div&gt;
  &lt;/div&gt;
					</pre>
				</div>

				<div class="row grid-exemple">
					<div class="two cell article">Two cell</div>
					<div class="ten cell article">Ten cell</div>
				</div>
			</div>

			<div class="row reduce-block-six">
				<h2 class="twelve cell">Grille en hauteur</h2>

				<div class="row">
					<p>Ajouter une hauteur, allant de <label>height-one</label> à <label>height-twelve</label>, va définir la hauteur de l'élément en fonction de <strong>la largeur de son conteneur</strong>.
						Cela signifie que <label>three cell height-three</label> est un carré.</p>
					<p>Le contenu à l'intérieur d'un bloc height-* doit être placée dans une div ayant la classe <label>absolute</label>.</p>
					</p>
					<pre class="row prettyprint">

  &lt;div class=&quot;row&quot;&gt;
	&lt;div class=&quot;two cell height-two&quot;&gt;
	  &lt;div class=&quot;absolute cell&quot;&gt;Two cell height-two&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;ten cell height-two&quot;&gt;
	  &lt;div class=&quot;absolute cell&quot;&gt;Ten cell height-two&lt;/div&gt;
	&lt;/div&gt;
  &lt;/div&gt;
				</pre>
				</div>

				<div class="grid-exemple row">
					<div class="row">
						<div class="two cell height-two">
							<div class="absolute cell">Two cell height-two</div>
						</div>
						<div class="ten cell height-two">
							<div class="absolute cell">Ten cell height-two</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row reduce-block-six">
				<h2 class="twelve cell">Lignes croisées</h2>

				<div class="row">
					<p>Quand la somme des largeurs est supérieure à douze, les cellules excédentaires passent à la ligne inférieure.</p>
					<pre class="row prettyprint">

  &lt;div class=&quot;row&quot;&gt;
	&lt;div class=&quot;two cell height-two&quot;&gt;
	  &lt;div class=&quot;absolute cell&quot;&gt;Two cell height-two&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;ten cell height-one&quot;&gt;
	  &lt;div class=&quot;absolute cell&quot;&gt;Ten cell height-one&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;ten cell height-one&quot;&gt;
	  &lt;div class=&quot;absolute cell&quot;&gt;Ten cell height-one&lt;/div&gt;
	&lt;/div&gt;
  &lt;/div&gt;
					</pre>
				</div>

				<div class="grid-exemple row">
					<div class="row">
						<div class="two cell height-two">
							<div class="absolute cell">Two cell height-two</div>
						</div>
						<div class="ten cell height-one">
							<div class="absolute cell">Ten cell height-one</div>
						</div>
						<div class="ten cell height-one">
							<div class="absolute cell">Ten cell height-one</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row reduce-block-six">
				<h2 class="twelve cell">Problèmes connus</h2>

				<div class="row">
					Ajouter un padding dans un bloc <label>height-*</label> détruit son positionnement.
					Le <label>padding</label> doit être appliqué à la div <label>absolute</label> qu'il contient, ou à un wrapper. Vous pouvez aussi travailler avec la
					propriété <label>margin</label>.
				</div>
				<p class="row">
					Cet exemple <strong>ne marche pas</strong> :
				</p>

				<pre class="row prettyprint">

  &lt;div class=&quot;row&quot;&gt;
	&lt;div class=&quot;twelve cell height-two&quot; style=&quot;padding:15px&quot;&gt;
	  &lt;div class=&quot;absolute cell&quot;&gt;Twelve cell height-two avec un padding de 15px&lt;/div&gt;
	&lt;/div&gt;
  &lt;/div&gt;
				</pre>

				<div class="grid-exemple row">
					<div class="row">
						<div class="twelve cell height-two" style="padding: 15px">
							<div class="absolute cell">Twelve cell height-two avec un padding de 15px</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="height-one twelve cell"></div>
				</div>

				<p class="row">
					Cet exemple <strong>marche</strong> :
				</p>

				<pre class="row prettyprint">

  &lt;div class=&quot;row&quot;&gt;
	&lt;div class=&quot;twelve cell height-two&quot;&gt;
	  &lt;div class=&quot;absolute cell&quot; style=&quot;padding:15px&quot;&gt;
		Twelve cell height-two, avec un padding de 15px padding dans le bloc absolute
	  &lt;/div&gt;
	&lt;/div&gt;
  &lt;/div&gt;
				</pre>

				<div class="grid-exemple row">
					<div class="row">
						<div class="twelve cell height-two">
							<div class="absolute cell" style="padding: 15px">Twelve cell height-two, avec un padding de 15px dans le bloc absolute</div>
						</div>
					</div>
				</div>

				<p class="row">
					Cet exemple <strong>marche</strong> aussi :
				</p>

				<pre class="row prettyprint">

  &lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;twelve cell&quot; style=&quot;padding:15px;background:#333;&quot;&gt;
      &lt;div class=&quot;twelve cell height-two&quot;&gt;
        &lt;div class=&quot;absolute cell&quot;&gt;Twelve cell height-two, avec un padding de 15px dans un wrapper&lt;/div&gt;
	  &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
				</pre>

				<div class="grid-exemple row">
					<div class="row">
						<div class="twelve cell" style="padding: 15px; background: #CCC; border: 5px solid #fff">
							<div class="twelve cell height-two">
								<div class="absolute cell" style="border: none;">Twelve cell height-two, avec un padding de 15px dans un wrapper</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="twelve cell vertical-spacing-twice"></div>
			<div class="row">
				<h1 class="twelve cell vertical-spacing">Composants d'affichage</h1>

				<h2 class="twelve cell">Panneau</h2>
				<div class="row">
					<pre class="prettyprint twelve cell">

  &lt;article class=&quot;reduce-block-six&quot;&gt;
    ...
  &lt;/article&gt;
					</pre>
				</div>

				<article class="reduce-block-six row">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit sed turpis nec interdum. In lobortis iaculis hendrerit.
					Nullam porttitor mattis orci, quis rutrum leo fringilla eget. Sed egestas tellus eget felis dignissim,
					eu sollicitudin neque tincidunt. Duis dignissim tempus eros sed elementum. Vestibulum vehicula quam dolor,
					a luctus dolor cursus et. Donec eleifend, tortor non placerat consequat, leo turpis dapibus tellus, sodales
					pellentesque ligula risus quis lectus. Integer nec mi arcu. Pellentesque semper accumsan convallis.
					Mauris pharetra libero leo, quis tempus tortor tempus vel. Curabitur consequat enim at auctor lobortis.
					Vestibulum dictum est in semper mattis. Cras volutpat metus justo, in blandit dui volutpat ac. Nullam pulvinar
					elit vel magna suscipit luctus. Suspendisse eget massa non sapien accumsan rhoncus.
				</article>

				<div class="row reduce-block-six"></div>
				<h2 class="twelve cell">Dominos</h2>

				<p>Les dominos d'affichent côte à côte. La couleur de la bande est paramétrable avec les classes <label>cyan</label>, <label>orange</label>,
				<label>green</label>, <label>purple</label> et <label>pink</label>.</p>

				<pre class="prettyprint twelve cell">

  &lt;div class="dominos"&gt;
    &lt;div class="item"&gt;
	  &lt;section class="domino green"&gt;
	    &lt;div class="top"&gt;
		  &lt;img src="/userbook/public/img/no-avatar.jpg" class="fixed twelve cell" /&gt;
	    &lt;/div&gt;
	    &lt;div class="bottom"&gt;
		  &lt;div class="content"&gt;
		    &lt;a&gt;Nom/titre&lt;/a&gt;
		    &lt;br /&gt;&lt;span class="medium-text">Information&lt;/span&gt;
		    &lt;div class="bottom-locked"&gt;
			  Information supplémentaire du bas
		    &lt;/div&gt;
		  &lt;/div&gt;
	    &lt;/div&gt;
	  &lt;/section&gt;
    &lt;/div&gt;
  &lt;/div&gt;
				</pre>
				<div class="dominos row">
					<div class="item">
						<section class="domino green">
							<div class="top">
								<img src="/directory/public/img/no-avatar.jpg" class="fixed twelve cell" />
							</div>
							<div class="bottom">
								<div class="content">
									<a>Nom/titre</a>
									<br /><span class="medium-text">.green</span>
									<div class="bottom-locked">
										Information supplémentaire du bas
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="item">
						<section class="domino pink">
							<div class="top">
								<img src="/directory/public/img/no-avatar.jpg" class="fixed twelve cell" />
							</div>
							<div class="bottom">
								<div class="content">
									<a>Nom/titre</a>
									<br /><span class="medium-text">.pink</span>
									<div class="bottom-locked">
										Information supplémentaire du bas
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="item">
						<section class="domino cyan">
							<div class="top">
								<img src="/directory/public/img/no-avatar.jpg" class="fixed twelve cell" />
							</div>
							<div class="bottom">
								<div class="content">
									<a>Nom/titre</a>
									<br /><span class="medium-text">.cyan</span>
									<div class="bottom-locked">
										Information supplémentaire du bas
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="item">
						<section class="domino purple">
							<div class="top">
								<img src="/directory/public/img/no-avatar.jpg" class="fixed twelve cell" />
							</div>
							<div class="bottom">
								<div class="content">
									<a>Nom/titre</a>
									<br /><span class="medium-text">.purple</span>
									<div class="bottom-locked">
										Information supplémentaire du bas
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="item">
						<section class="domino orange">
							<div class="top">
								<img src="/directory/public/img/no-avatar.jpg" class="fixed twelve cell" />
							</div>
							<div class="bottom">
								<div class="content">
									<a>Nom/titre</a>
									<br /><span class="medium-text">.orange</span>
									<div class="bottom-locked">
										Information supplémentaire du bas
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>

		<div class="row reduce-block-six"></div>
		<h2 class="twelve cell">Vignettes</h2>

		<pre class="prettyprint twelve cell">

  &lt;div class="reduce-block-six cell three"&gt;
    &lt;div class="fixed-block height-six"&gt;
	  &lt;article class="twelve cell absolute clip"&gt;
	    &lt;div class="cell six"&gt;
		  &lt;img src="/directory/public/img/no-avatar.jpg" /&gt;
	    &lt;/div&gt;
	    &lt;div class="cell six reduce-block-six right-magnet"&gt;
		  &lt;h2&gt;Nom/titre&lt;/h2&gt;
		  &lt;p&gt;Informations&lt;/p&gt;
	    &lt;/div&gt;
	  &lt;/article&gt;
    &lt;/div&gt;
  &lt;/div&gt;
		</pre>

		<div class="row">
			<div class="reduce-block-six cell three">
				<div class="fixed-block height-six">
					<article class="twelve cell absolute clip">
						<div class="cell six">
							<img src="/directory/public/img/no-avatar.jpg" />
						</div>
						<div class="cell six reduce-block-six right-magnet">
							<h2>Nom/titre</h2>
							<p>Informations</p>
						</div>
					</article>
				</div>
			</div>
			<div class="cell three reduce-block-six">
				<div class="fixed-block height-six">
					<article class="twelve cell absolute clip">
						<div class="cell six">
							<img src="/directory/public/img/no-avatar.jpg" />
						</div>
						<div class="cell six reduce-block-six right-magnet">
							<h2>Nom/titre</h2>
							<p>Informations</p>
						</div>
					</article>
				</div>
			</div>
			<div class="cell three reduce-block-six">
				<div class="fixed-block height-six">
					<article class="twelve cell absolute clip">
						<div class="cell six">
							<img src="/directory/public/img/no-avatar.jpg" />
						</div>
						<div class="cell six reduce-block-six right-magnet">
							<h2>Nom/titre</h2>
							<p>Informations</p>
						</div>
					</article>
				</div>
			</div>
			<div class="cell three reduce-block-six">
				<div class="fixed-block height-six">
					<article class="twelve cell absolute clip">
						<div class="cell six">
							<img src="/directory/public/img/no-avatar.jpg" />
						</div>
						<div class="cell six reduce-block-six right-magnet">
							<h2>Nom/titre</h2>
							<p>Informations</p>
						</div>
					</article>
				</div>
			</div>
		</div>
		<div class="row reduce-block-six"></div>
		<h1 class="twelve cell vertical-spacing-twice">Modules</h1>

			<h2>Navigation</h2>
			<pre class="prettyprint">
  &lt;nav class=&quot;vertical&quot;&gt;
    &lt;ul&gt;
	  &lt;li&gt;
	    &lt;a class="selected"&gt;Lien A&lt;/a&gt;
	  &lt;/li&gt;
	  &lt;li&gt;
	    &lt;a&gt;Lien B&lt;/a&gt;
		&lt;ul&gt;
		  &lt;li&gt;
		    &lt;a&gt;Lien B.1&lt;/a&gt;
		  &lt;/li&gt;
		  &lt;li&gt;
		    &lt;a&gt;Lien B.2&lt;/a&gt;
		  &lt;/li&gt;
		  &lt;li&gt;
			&lt;a&gt;&lt;i role=&quot;close&quot;&gt;&lt;/i&gt;Avec fermeture&lt;/a&gt;
		  &lt;/li&gt;
		&lt;/ul&gt;
	  &lt;/li&gt;
	  &lt;li&gt;
		&lt;a&gt;Lien C&lt;/a&gt;
	  &lt;/li&gt;
	&lt;/ul&gt;
  &lt;/nav&gt;
			</pre>

			<nav class="vertical four">
				<ul>
					<li>
						<a class="selected">Lien A</a>
					</li>
					<li>
						<a>Lien B</a>
						<ul>
							<li>
								<a>Lien B.1</a>
							</li>
							<li>
								<a>Lien B.2</a>
							</li>
							<li>
								<a><i role="close"></i>Avec fermeture</a>
							</li>
						</ul>
					</li>
					<li>
						<a>Lien C</a>
					</li>
				</ul>
			</nav>
			<div class="row reduce-block-six"></div>

			<h2>Listes</h2>

			<h3 class="vertical-spacing-twice">Tableau</h3>

			<pre class="prettyprint row">

  &lt;article class=&quot;twelve cell list-view&quot;&gt;
	&lt;table class="twelve"&gt;
	  &lt;thead&gt;
		&lt;tr&gt;
		  &lt;th&gt;&lt;/th&gt;
		  &lt;th&gt;Colonne 1&lt;/th&gt;
		  &lt;th&gt;Colonne 2&lt;/th&gt;
		  &lt;th&gt;Colonne 3&lt;/th&gt;
		&lt;/tr&gt;
	  &lt;/thead&gt;
	  &lt;tbody&gt;
	    &lt;tr&gt;
		  &lt;td&gt;&lt;i role=&quot;doc&quot;&gt;&lt;/i&gt;&lt;/td&gt;
		  &lt;td&gt;Valeur&lt;/td&gt;
		  &lt;td&gt;Valeur&lt;/td&gt;
		  &lt;td&gt;Valeur&lt;/td&gt;
		&lt;/tr&gt;
		...
	  &lt;/tbody&gt;
	&lt;/table&gt;
  &lt;/article&gt;
		</pre>

			<div class="row reduce-block-six"></div>
			<div class="row">
				<article class="twelve cell list-view">
					<table class="twelve">
						<thead>
						<tr>
							<th>

							</th>
							<th>
								Colonne 1
							</th>
							<th>
								Colonne 2
							</th>
							<th>
								Colonne 3
							</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td><i role="doc"></i></td>
							<td>Valeur</td>
							<td>Valeur</td>
							<td>Valeur</td>
						</tr>
						<tr>
							<td><i role="doc"></i></td>
							<td>Valeur</td>
							<td>Valeur</td>
							<td>Valeur</td>
						</tr>
						<tr>
							<td><i role="doc"></i></td>
							<td>Valeur</td>
							<td>Valeur</td>
							<td>Valeur</td>
						</tr>
						</tbody>
					</table>
				</article>
			</div>
			<div class="row reduce-block-six"></div>

			<h3 class="vertical-spacing-twice">Liste d'images</h3>

			<p>La div .element est celle à répéter pour chaque image.</p>

						<pre class="prettyprint row">

  &lt;header&gt;&nbsp;&lt;/header&gt;
  &lt;div class="icons-view"&gt;
	&lt;div class="element reduce-block-six"&gt;
	  &lt;div class="img-container"&gt;
		&lt;div class="clip"&gt;&lt;img class="twelve" src="/public/img/exemples/filler1.png" /&gt;&lt;/div&gt;
	  &lt;/div&gt;
	  &lt;input type="checkbox" /&gt;
	  &lt;a class="medium-text"&gt;Image&lt;/a&gt;
		&lt;a href=""&gt;&lt;strong class="small-text">Auteur&lt;/strong>&lt;/a&gt;
	  &lt;/div&gt;
	&lt;div class="clear"&gt;&lt;/div&gt;
  &lt;/div>
		</pre>

			<header>&nbsp;</header>
			<div class="icons-view eight">
				<div class="element reduce-block-six">
					<div class="img-container">
						<div class="clip"><img class="twelve" src="/public/img/exemples/filler1.png" /></div>
					</div>
					<input type="checkbox" />
					<a class="medium-text">Image</a>
					<a href=""><strong class="small-text">Auteur</strong></a>
				</div>
				<div class="element reduce-block-six">
					<div class="img-container">
						<div class="clip"><img class="twelve" src="/public/img/exemples/filler2.png" /></div>
					</div>
					<input type="checkbox" />
					<a class="medium-text">Image</a>
					<a href=""><strong class="small-text">Auteur</strong></a>
				</div>
				<div class="element reduce-block-six">
					<div class="img-container">
						<div class="clip"><img class="twelve" src="/public/img/exemples/filler3.png" /></div>
					</div>
					<input type="checkbox" />
					<a class="medium-text">Image</a>
					<a href=""><strong class="small-text">Auteur</strong></a>
				</div>
				<div class="element reduce-block-six">
					<div class="img-container">
						<div class="clip"><img class="twelve" src="/public/img/exemples/filler4.png" /></div>
					</div>
					<input type="checkbox" />
					<a class="medium-text">Image</a>
					<a href=""><strong class="small-text">Auteur</strong></a>
				</div>
				<div class="clear"></div>
			</div>

		<div class="row reduce-block-six"></div>
		<h1>Elements</h1>

		<h2>Typographie</h2>


		<article class="reduce-block-six">
			<h3>Titres</h3>
			<h1>H1</h1>
			<h2>H2</h2>
			<h3>H3</h3>
			<h4>H4</h4>
			<h5>H5</h5>

			<div class="row reduce-block-six"></div>

			<h3>Emphase</h3>
			<pre class="prettyprint row">

  &lt;em class="low-importance"&gt;Texte de moindre importance&lt;/em&gt;
			</pre>
			<div class="row">
				<em class="low-importance">Texte de moindre importance</em>
			</div>
			<pre class="prettyprint row">

  &lt;em class="medium-importance"&gt;Texte d'importance moyenne&lt;/em&gt;
			</pre>
			<div class="row">
				<em class="medium-importance">Texte d'importance moyenne</em>
			</div>
			<pre class="prettyprint row">

  &lt;em class="high-importance"&gt;Texte important&lt;/em&gt;
			</pre>
			<div class="row">
				<em class="high-importance">Texte important</em>
			</div>
			<pre class="prettyprint row">

  &lt;strong&gt;Texte très important&lt;strong&gt;
			</pre>
			<div class="row">
				<strong>Texte très important</strong>
			</div>

			<div class="row reduce-block-six"></div>
			<h3>Types de messages</h3>
			<pre class="prettyprint row">

  &lt;div class="warning"&gt;Message d'avertissement&lt;div&gt;
			</pre>
			<div class="row">
				<div class="warning">
					Message d'avertissement
				</div>
			</div>

			<div class="row reduce-block-six"></div>
			<pre class="prettyprint row">

  &lt;div class="info"&gt;Message d'information&lt;div&gt;
			</pre>
			<div class="row">
				<div class="info">
					Message d'information
				</div>
			</div>

			<pre class="prettyprint row">

  &lt;div class="reduce-block-six comment"&gt;Commentaire&lt;div&gt;
			</pre>
			<div class="row">
				<div class="reduce-block-six comment">
					Commentaire
				</div>
			</div>

		</article>

	<div class="row reduce-block-six">
		<h2>Boutons</h2>
			<pre class="prettyprint row">

  &lt;button&gt;Actif&lt;/button&gt;
  &lt;a class="button"&gt;Actif&lt;/a&gt;
			</pre>
			<button>Actif</button>

			<pre class="prettyprint row">

  &lt;button disabled&gt;Désactivé&lt;/button&gt;
			</pre>
			<button disabled>Désactivé</button>

			<pre class="prettyprint row">

  &lt;button class="cancel"&gt;Annuler&lt;/button&gt;
			</pre>
			<button class="cancel">Annuler</button>

		<div class="row reduce-block-six"></div>
		<h2>Icônes</h2>

		<h3>Applications</h3>
		<p>Les applications peuvent configurer une icône affichée dans la liste des applications. Au niveau du html, elle sera utilisée de la manière suivante :</p>
		<pre class="prettyprint row">

  &lt;i role="nom-de-l-icone"&gt;&lt;/i&gt;
		</pre>

		<p>Le titre de l'application dispose d'une icône utilisée de la manière suivante :</p>
		<pre class="prettyprint row">

  &lt;h1&gt;
    &lt;i role="nom-de-l-application"&gt;&lt;/i&gt;
  &lt;/h1&gt;
		</pre>

		<div class="row reduce-block-six"></div>
		<h3>Types de listes</h3>
		<i role="show-icons" class="selected" style="margin: 2px;"></i>
		<i role="show-icons" style="margin: 2px;"></i>
		<i role="show-list" class="selected" style="margin: 2px;"></i>
		<i role="show-list" style="margin: 2px;"></i>
		<i role="show-details" class="selected" style="margin: 2px;"></i>
		<i role="show-details" style="margin: 2px;"></i>

		<pre class="prettyprint row">

  &lt;i role=&quot;show-icons&quot; class="selected"&gt;&lt;/i&gt;
  &lt;i role=&quot;show-icons&quot;&gt;&lt;/i&gt;
  &lt;i role=&quot;show-list&quot; class="selected"&gt;&lt;/i&gt;
  &lt;i role=&quot;show-list&quot;&gt;&lt;/i&gt;
  &lt;i role=&quot;show-details&quot; class="selected"&gt;&lt;/i&gt;
  &lt;i role=&quot;show-details&quot;&gt;&lt;/i&gt;
		</pre>

		<div class="row reduce-block-six"></div>
		<h3>Icônes liquides</h3>
		<p>Les icônes liquides s'adaptent à la taille de leur conteneur.</p>

		<div class="row">
			<div class="one cell">
				<i role="folder-large" class="liquid"></i>
			</div>
		</div>

		<pre class="prettyprint row">

	&lt;i role=&quot;folder&quot; class=&quot;liquid&quot;&gt;&lt;/i&gt;
		</pre>
	</div>

	<div class="row reduce-block-six"></div>

	<h1>Utilisation des fichiers LESS</h1>

		<h2>Icônes</h2>

		<p>Les icônes peuvent être définies grâce à un mixin. Le chemin est optionnel ; par défaut, il pointera vers theme/img/icons. Les fichiers
			doivent être au format png. La taille est appliquée en hauteur et en largeur.</p>

		<pre class="prettyprint row">

  .mon-icone{
	.icon(@nomDeMonFichier, @taille, @cheminVersMesIcones);
  }
		</pre>

		<h2>Autres mixins</h2>

		<p>
			Les mixins suivants appliquent les propriétés CSS correspondantes, avec les préfixes de navigateurs. Vertical-gradient applique un fond en gradiant allant de topColor
			à bottomColor.
		</p>

		<pre class="prettyprint row">
  .run-transition(@property, @speed);
  .border-radius(@radius);
  .border-radius-left(@radius);
  .border-radius-right(@radius);
  .border-radius-top(@radius);
  .border-radius-bottom(@radius);
  .vertical-gradient(@topColor, @bottomColor);
		</pre>

	</section>
</div>

</body>
</html>