<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title></title>
	<script src="{{#infra}}js/jquery-1.10.2.min.js{{/infra}}" type="text/javascript"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			$.get('/skin').done(function(skin){
				$('<link />', { rel: 'stylesheet', type: 'text/css' })
						.attr('href', '/assets/themes/' + skin.skin + '/default/theme.css')
						.appendTo('head');
			});
		});
	</script>

	<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
	<link rel="stylesheet" type="text/css" href="/public/css/html-theme.css" />
	<style type="text/css">
		.grid-exemple.row .article, .grid-exemple.row .absolute{
			font-size: 14px;
			padding: 10px;
			color: #888;
			border: #fff solid 5px;
			border-radius: 12px;
			background: #eee;
			text-align: left;
		}

		label{
			font-family: "Courier New";
			background: #EEE;
			padding: 3px;
			border-radius: 3px;
		}
	</style>
</head>
<body>
	<div class="centered container row">
		<section class="main">

			<div class="row">
				<h1 class="twelve cell">Grille à deux dimension</h1>

				<div class="grid-exemple row">
					<div class="six cell height-six">
						<div class="absolute cell">Six cell height-six</div>
					</div>
					<div class="six cell height-three">
						<div class="absolute cell">Six cell height-three</div>
					</div>
					<div class="six cell height-three">
						<div class="absolute cell">Six cell height-three</div>
					</div>
				</div>

				<div class="grid-exemple row">
					<div class="twelve cell height-one">
						<div class="absolute cell">Twelve cell height-one</div>
					</div>
				</div>
				<div class="grid-exemple row">
					<div class="two cell height-two">
						<div class="absolute cell">Two cell height-two</div>
					</div>
					<div class="ten cell article">
						Ten cell, pas de hauteur spécifiée
						<p>Ce sont des cellules de grille classiques. Leur hauteur est adaptée au contenu.</p>
						<p>Ajouter un bloc height-* dans une de ces cellules va également l'agrandir.</p>
						<div class="row">
							<div class="twelve cell height-two">
								<div class="absolute cell" style="background: #fff; color: #ccc">Twelve cell height-two</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<h2 style="padding-top: 0" class="twelve cell">Grille classique</h2>

				<div class="row">
					<p>La classe <label>row</label> défini une nouvelle ligne contenant des cellules. Chaque élément <label>cell</label> doit spécifier une largeur allant de un à douze,
						en anglais, c'est-à-dire utiliser les classes <label>one</label> à <label>twelve</label>.</p>
					<pre class="row prettyprint">

  &lt;div class=&quot;row&quot;&gt;
	&lt;div class=&quot;two cell&quot;&gt;Two cell&lt;/div&gt;
  	&lt;div class=&quot;ten cell&quot;&gt;Ten cell&lt;/div&gt;
  &lt;/div&gt;
					</pre>
				</div>

				<div class="row grid-exemple">
					<div class="two cell article">Two cell</div>
					<div class="ten cell article">Ten cell</div>
				</div>
			</div>

			<div class="row">
				<h2 class="twelve cell">Grille en hauteur</h2>

				<div class="row">
					<p>Ajouter une hauteur, allant de <label>height-one</label> à <label>height-twelve</label>, va définir la hauteur de l'élément en fonction de <strong>la largeur de son conteneur</strong>.
						Cela signifie que <label>three cell height-three</label> est un carré.</p>
					<p>Le contenu à l'intérieur d'un bloc height-* doit être placée dans une div ayant la classe <label>absolute</label>.</p>
					</p>
					<pre class="row prettyprint">

  &lt;div class=&quot;row&quot;&gt;
	&lt;div class=&quot;two cell height-two&quot;&gt;
	  &lt;div class=&quot;absolute cell&quot;&gt;Two cell height-two&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;ten cell height-two&quot;&gt;
	  &lt;div class=&quot;absolute cell&quot;&gt;Ten cell height-two&lt;/div&gt;
	&lt;/div&gt;
  &lt;/div&gt;
				</pre>
				</div>

				<div class="grid-exemple row">
					<div class="row">
						<div class="two cell height-two">
							<div class="absolute cell">Two cell height-two</div>
						</div>
						<div class="ten cell height-two">
							<div class="absolute cell">Ten cell height-two</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<h2 class="twelve cell">Lignes croisées</h2>

				<div class="row">
					<p>Quand la somme des largeurs est supérieure à douze, les cellules excédentaires passent à la ligne inférieure.</p>
					<pre class="row prettyprint">

  &lt;div class=&quot;row&quot;&gt;
	&lt;div class=&quot;two cell height-two&quot;&gt;
	  &lt;div class=&quot;absolute cell&quot;&gt;Two cell height-two&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;ten cell height-one&quot;&gt;
	  &lt;div class=&quot;absolute cell&quot;&gt;Ten cell height-one&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;ten cell height-one&quot;&gt;
	  &lt;div class=&quot;absolute cell&quot;&gt;Ten cell height-one&lt;/div&gt;
	&lt;/div&gt;
  &lt;/div&gt;
					</pre>
				</div>

				<div class="grid-exemple row">
					<div class="row">
						<div class="two cell height-two">
							<div class="absolute cell">Two cell height-two</div>
						</div>
						<div class="ten cell height-one">
							<div class="absolute cell">Ten cell height-one</div>
						</div>
						<div class="ten cell height-one">
							<div class="absolute cell">Ten cell height-one</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<h2 class="twelve cell">Problèmes connus</h2>

				<div class="row">
					Ajouter un padding dans un bloc <label>height-*</label> détruit son positionnement.
					Le <label>padding</label> doit être appliqué à la div <label>absolute</label> qu'il contient, ou à un wrapper. Vous pouvez aussi travailler avec la
					propriété <label>margin</label>.
				</div>
				<p class="row">
					Cet exemple <strong>ne marche pas</strong> :
				</p>

				<pre class="row prettyprint">

  &lt;div class=&quot;row&quot;&gt;
	&lt;div class=&quot;twelve cell height-two&quot; style=&quot;padding:15px&quot;&gt;
	  &lt;div class=&quot;absolute cell&quot;&gt;Twelve cell height-two avec un padding de 15px&lt;/div&gt;
	&lt;/div&gt;
  &lt;/div&gt;
				</pre>

				<div class="grid-exemple row">
					<div class="row">
						<div class="twelve cell height-two" style="padding: 15px">
							<div class="absolute cell">Twelve cell height-two avec un padding de 15px</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="height-one twelve cell"></div>
				</div>

				<p class="row">
					Cet exemple <strong>marche</strong> :
				</p>

				<pre class="row prettyprint">

  &lt;div class=&quot;row&quot;&gt;
	&lt;div class=&quot;twelve cell height-two&quot;&gt;
	  &lt;div class=&quot;absolute cell&quot; style=&quot;padding:15px&quot;&gt;
		Twelve cell height-two, avec un padding de 15px padding dans le bloc absolute
	  &lt;/div&gt;
	&lt;/div&gt;
  &lt;/div&gt;
				</pre>

				<div class="grid-exemple row">
					<div class="row">
						<div class="twelve cell height-two">
							<div class="absolute cell" style="padding: 15px">Twelve cell height-two, avec un padding de 15px padding dans le bloc absolute</div>
						</div>
					</div>
				</div>

				<p class="row">
					Cet exemple <strong>marche</strong> aussi :
				</p>

				<pre class="row prettyprint">

  &lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;twelve cell&quot; style=&quot;padding:15px;background:#333;&quot;&gt;
      &lt;div class=&quot;twelve cell height-two&quot;&gt;
        &lt;div class=&quot;absolute cell&quot;&gt;Twelve cell height-two, avec un padding de 15px padding dans un wrapper&lt;/div&gt;
	  &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
				</pre>

				<div class="grid-exemple row">
					<div class="row">
						<div class="twelve cell" style="padding: 15px; background: #CCC; border: 5px solid #fff">
							<div class="twelve cell height-two">
								<div class="absolute cell" style="border: none;">Twelve cell height-two, avec un padding de 15px padding dans un wrapper</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="twelve cell vertical-spacing-twice"></div>
			<div class="row">
				<h1 class="twelve cell vertical-spacing">Composants d'affichage</h1>

				<h2 class="twelve cell">Panneau</h2>
				<div class="row">
					<pre class="prettyprint twelve cell">

  &lt;article class=&quot;reduce-block-six&quot;&gt;
    ...
  &lt;/article&gt;
					</pre>
				</div>

				<article class="reduce-block-six row">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque hendrerit sed turpis nec interdum. In lobortis iaculis hendrerit.
					Nullam porttitor mattis orci, quis rutrum leo fringilla eget. Sed egestas tellus eget felis dignissim,
					eu sollicitudin neque tincidunt. Duis dignissim tempus eros sed elementum. Vestibulum vehicula quam dolor,
					a luctus dolor cursus et. Donec eleifend, tortor non placerat consequat, leo turpis dapibus tellus, sodales
					pellentesque ligula risus quis lectus. Integer nec mi arcu. Pellentesque semper accumsan convallis.
					Mauris pharetra libero leo, quis tempus tortor tempus vel. Curabitur consequat enim at auctor lobortis.
					Vestibulum dictum est in semper mattis. Cras volutpat metus justo, in blandit dui volutpat ac. Nullam pulvinar
					elit vel magna suscipit luctus. Suspendisse eget massa non sapien accumsan rhoncus.
				</article>

				<h2 class="twelve cell">Dominos</h2>

				<p>Les dominos d'affichent côte à côte. La couleur de la bande est paramétrable avec les classes <label>cyan</label>, <label>orange</label>,
				<label>green</label>, <label>purple</label> et <label>pink</label>.</p>

				<pre class="prettyprint twelve cell">

  &lt;div class="dominos"&gt;
    &lt;div class="item"&gt;
	  &lt;section class="domino green"&gt;
	    &lt;div class="top"&gt;
		  &lt;img src="/userbook/public/img/no-avatar.jpg" class="fixed twelve cell" /&gt;
	    &lt;/div&gt;
	    &lt;div class="bottom"&gt;
		  &lt;div class="content"&gt;
		    &lt;a&gt;Nom/titre&lt;/a&gt;
		    &lt;br /&gt;&lt;span class="medium-text">Information&lt;/span&gt;
		    &lt;div class="bottom-locked"&gt;
			  Information supplémentaire du bas
		    &lt;/div&gt;
		  &lt;/div&gt;
	    &lt;/div&gt;
	  &lt;/section&gt;
    &lt;/div&gt;
  &lt;/div&gt;
				</pre>
				<div class="dominos row">
					<div class="item">
						<section class="domino green">
							<div class="top">
								<img src="/directory/public/img/no-avatar.jpg" class="fixed twelve cell" />
							</div>
							<div class="bottom">
								<div class="content">
									<a>Nom/titre</a>
									<br /><span class="medium-text">Information</span>
									<div class="bottom-locked">
										Information supplémentaire du bas
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="item">
						<section class="domino pink">
							<div class="top">
								<img src="/directory/public/img/no-avatar.jpg" class="fixed twelve cell" />
							</div>
							<div class="bottom">
								<div class="content">
									<a>Nom/titre</a>
									<br /><span class="medium-text">Information</span>
									<div class="bottom-locked">
										Information supplémentaire du bas
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="item">
						<section class="domino cyan">
							<div class="top">
								<img src="/directory/public/img/no-avatar.jpg" class="fixed twelve cell" />
							</div>
							<div class="bottom">
								<div class="content">
									<a>Nom/titre</a>
									<br /><span class="medium-text">Information</span>
									<div class="bottom-locked">
										Information supplémentaire du bas
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="item">
						<section class="domino purple">
							<div class="top">
								<img src="/directory/public/img/no-avatar.jpg" class="fixed twelve cell" />
							</div>
							<div class="bottom">
								<div class="content">
									<a>Nom/titre</a>
									<br /><span class="medium-text">Information</span>
									<div class="bottom-locked">
										Information supplémentaire du bas
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="item">
						<section class="domino orange">
							<div class="top">
								<img src="/directory/public/img/no-avatar.jpg" class="fixed twelve cell" />
							</div>
							<div class="bottom">
								<div class="content">
									<a>Nom/titre</a>
									<br /><span class="medium-text">Information</span>
									<div class="bottom-locked">
										Information supplémentaire du bas
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>

		<h2 class="twelve cell">Vignettes</h2>

		<pre class="prettyprint twelve cell">

  &lt;div class="reduce-block-six cell four"&gt;
    &lt;div class="fixed-block height-six"&gt;
	  &lt;article class="twelve cell absolute clip"&gt;
	    &lt;div class="cell six"&gt;
		  &lt;img src="/directory/public/img/no-avatar.jpg" /&gt;
	    &lt;/div&gt;
	    &lt;div class="cell six reduce-block-six right-magnet"&gt;
		  &lt;h2&gt;Nom/titre&lt;/h2&gt;
		  &lt;p&gt;Informations&lt;/p&gt;
	    &lt;/div&gt;
	  &lt;/article&gt;
    &lt;/div&gt;
  &lt;/div&gt;
		</pre>

		<div class="row">
			<div class="reduce-block-six cell four">
				<div class="fixed-block height-six">
					<article class="twelve cell absolute clip">
						<div class="cell six">
							<img src="/directory/public/img/no-avatar.jpg" />
						</div>
						<div class="cell six reduce-block-six right-magnet">
							<h2>Nom/titre</h2>
							<p>Informations</p>
						</div>
					</article>
				</div>
			</div>
			<div class="cell four reduce-block-six">
				<div class="fixed-block height-six">
					<article class="twelve cell absolute clip">
						<div class="cell six">
							<img src="/directory/public/img/no-avatar.jpg" />
						</div>
						<div class="cell six reduce-block-six right-magnet">
							<h2>Nom/titre</h2>
							<p>Informations</p>
						</div>
					</article>
				</div>
			</div>
			<div class="cell four reduce-block-six">
				<div class="fixed-block height-six">
					<article class="twelve cell absolute clip">
						<div class="cell six">
							<img src="/directory/public/img/no-avatar.jpg" />
						</div>
						<div class="cell six reduce-block-six right-magnet">
							<h2>Nom/titre</h2>
							<p>Informations</p>
						</div>
					</article>
				</div>
			</div>
		</div>
		<div class="row reduce-block-six"></div>
		<h1 class="twelve cell vertical-spacing-twice">Modules</h1>

			<h2>Navigation</h2>

			<h3>Verticale</h3>

			<pre class="prettyprint">
  &lt;nav class=&quot;vertical&quot;&gt;
    &lt;ul&gt;
	  &lt;li&gt;
	    &lt;a&gt;Lien A&lt;/a&gt;
	  &lt;/li&gt;
	  &lt;li&gt;
	    &lt;a&gt;Lien B&lt;/a&gt;
		&lt;ul&gt;
		  &lt;li&gt;
		    &lt;a&gt;Lien B.1&lt;/a&gt;
		  &lt;/li&gt;
		  &lt;li&gt;
		    &lt;a&gt;Lien B.2&lt;/a&gt;
		  &lt;/li&gt;
		  &lt;li&gt;
			&lt;a&gt;&lt;i role=&quot;close&quot;&gt;&lt;/i&gt;Avec fermeture&lt;/a&gt;
		  &lt;/li&gt;
		&lt;/ul&gt;
	  &lt;/li&gt;
	  &lt;li&gt;
		&lt;a&gt;Lien C&lt;/a&gt;
	  &lt;/li&gt;
	&lt;/ul&gt;
  &lt;/nav&gt;
			</pre>

			<nav class="vertical">
				<ul>
					<li>
						<a>Lien A</a>
					</li>
					<li>
						<a>Lien B</a>
						<ul>
							<li>
								<a>Lien B.1</a>
							</li>
							<li>
								<a>Lien B.2</a>
							</li>
							<li>
								<a><i role="close"></i>Avec fermeture</a>
							</li>
						</ul>
					</li>
					<li>
						<a>Lien C</a>
					</li>
				</ul>
			</nav>

			<h3>Horizontale</h3>

			<p>La navigation horizontale a une position absolute et doit donc être placée dans un conteneur.</p>

			<div class="row grid-exemple">
				<div class="row height-one">
					<nav class="horizontal absolute cell">
						<a>Lien A</a>
						<a>Lien B</a>
						<a>Lien C</a>
					</nav>
				</div>
			</div>

		<pre class="prettyprint">

  &lt;div class=&quot;row height-one&quot;&gt;
    &lt;nav class=&quot;horizontal absolute cell&quot;&gt;
  	  &lt;a&gt;Lien A&lt;/a&gt;
	  &lt;a&gt;Lien B&lt;/a&gt;
	  &lt;a&gt;Lien C&lt;/a&gt;
	&lt;/nav&gt;
  &lt;/div&gt;
		</pre>

			<div class="row"></div>
			<h2>Listes</h2>

			<h3 class="vertical-spacing-twice">Tableau</h3>

			<div class="row">
				<article class="twelve cell list-view">
					<table class="twelve">
						<thead>
						<tr>
							<th>

							</th>
							<th>
								Colonne 1
							</th>
							<th>
								Colonne 2
							</th>
							<th>
								Colonne 3
							</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td><i role="doc"></i></td>
							<td>Valeur</td>
							<td>Valeur</td>
							<td>Valeur</td>
						</tr>
						<tr>
							<td><i role="doc"></i></td>
							<td>Valeur</td>
							<td>Valeur</td>
							<td>Valeur</td>
						</tr>
						<tr>
							<td><i role="doc"></i></td>
							<td>Valeur</td>
							<td>Valeur</td>
							<td>Valeur</td>
						</tr>
						</tbody>
					</table>
				</article>
			</div>

		<pre class="prettyprint row">

  &lt;article class=&quot;twelve cell list-view&quot;&gt;
	&lt;table class="twelve"&gt;
	  &lt;thead&gt;
		&lt;tr&gt;
		  &lt;th&gt;&lt;/th&gt;
		  &lt;th&gt;Colonne 1&lt;/th&gt;
		  &lt;th&gt;Colonne 2&lt;/th&gt;
		  &lt;th&gt;Colonne 3&lt;/th&gt;
		&lt;/tr&gt;
	  &lt;/thead&gt;
	  &lt;tbody&gt;
	    &lt;tr&gt;
		  &lt;td&gt;&lt;i role=&quot;doc&quot;&gt;&lt;/i&gt;&lt;/td&gt;
		  &lt;td&gt;Valeur&lt;/td&gt;
		  &lt;td&gt;Valeur&lt;/td&gt;
		  &lt;td&gt;Valeur&lt;/td&gt;
		&lt;/tr&gt;
		...
	  &lt;/tbody&gt;
	&lt;/table&gt;
  &lt;/article&gt;
		</pre>

			<h3 class="vertical-spacing-twice">Liste d'icônes</h3>

			<h2>Forms</h2>

			<h3>Search form</h3>

			<form class="search">
				<input type="text" />
				<input type="submit" value="Search" />
			</form>
			<div class="clear"></div>

		<pre class="prettyprint">

  &lt;form class=&quot;search&quot;&gt;
    &lt;input type=&quot;text&quot; /&gt;
	&lt;input type=&quot;submit&quot; value=&quot;Search&quot; /&gt;
  &lt;/form&gt;
		</pre>

			<h1>Composants dynamiques</h1>
			<h2>Lightbox</h2>
			<h2>Panneau horizontal</h2>
			<h2>Panneau vertical</h2>

			<div class="clear"></div>

		<div class="row"></div>
		<h1>Elements</h1>

		<h2>Typographie</h2>

		<h1>H1</h1>
		<h2>H2</h2>
		<h3>H3</h3>
		<h4>H4</h4>
		<h5>H5</h5>

		<em class="low-importance">Texte de moindre importance</em>
		<em class="medium-importance">Texte d'importance moyenne</em>
		<em class="high-importance">Texte important</em>
		<strong>Texte très important</strong>

		<div class="warning">
			Message d'avertissement
		</div>

		<div class="info">
			Message d'information
		</div>

		<div class="error">
			Message d'erreur
		</div>

		<h2>Buttons</h2>
			<button>Active</button>
			<div class="clear"></div>

			<pre class="prettyprint">
	&lt;button&gt;Active&lt;/button&gt;
			</pre>


			<button><i role="add"></i> Add</button>
			<div class="clear"></div>

			<pre class="prettyprint">
	&lt;button&gt;&lt;i role=&quot;add&quot;&gt;&lt;/i&gt; Add&lt;/button&gt;
			</pre>

			<button disabled>Disabled</button>
			<div class="clear"></div>

			<pre class="prettyprint">
	&lt;button disabled&gt;Disabled&lt;/button&gt;
			</pre>

			<a class="button">Link-button</a>
			<div class="clear"></div>

			<pre class="prettyprint">
	&lt;a class=&quot;button&quot;&gt;Link-button&lt;/a&gt;
			</pre>

			<a class="button" disabled>Disabled link-button</a>
			<div class="clear"></div>

			<pre class="prettyprint">
	&lt;a class=&quot;button&quot; disabled&gt;Disabled link-button&lt;/a&gt;
			</pre>

		<h2>Icons</h2>

		<div class="all-icons">
			<h4>Title icons</h4>
			<h1><i role="storage"></i> Storage</h1>
			<h1><i role="apps"></i> Apps</h1>
			<div class="clear"></div>

			<pre class="prettyprint">
	&lt;h1&gt;&lt;i role=&quot;storage&quot;&gt;&lt;/i&gt; Storage&lt;/h1&gt;
	&lt;h1&gt;&lt;i role=&quot;apps&quot;&gt;&lt;/i&gt; Apps&lt;/h1&gt;
			</pre>

			<h4>Link icons</h4>
			<i role="show-icons"></i>
			<i role="show-list"></i>
			<i role="configuration"></i>
			<i role="shutdown"></i>
			<i role="user"></i>
			<div class="clear"></div>

			<pre class="prettyprint">
	&lt;i role=&quot;show-icons&quot;&gt;&lt;/i&gt;
	&lt;i role=&quot;show-list&quot;&gt;&lt;/i&gt;
	&lt;i role=&quot;configuration&quot;&gt;&lt;/i&gt;
	&lt;i role=&quot;shutdown&quot;&gt;&lt;/i&gt;
	&lt;i role=&quot;user&quot;&gt;&lt;/i&gt;
			</pre>

			<h4>Files icons</h4>
			<i role="doc"></i>
			<i role="xls"></i>
			<i role="folder"></i>
			<i role="link"></i>
			<div class="clear"></div>

			<pre class="prettyprint">
	&lt;i role=&quot;doc&quot;&gt;&lt;/i&gt;
	&lt;i role=&quot;xls&quot;&gt;&lt;/i&gt;
	&lt;i role=&quot;folder&quot;&gt;&lt;/i&gt;
	&lt;i role=&quot;link&quot;&gt;&lt;/i&gt;
			</pre>

			<h4>Large icons</h4>
			<i role="workspace-large"></i>
			<i role="doc-large"></i>
			<div class="clear"></div>

			<pre class="prettyprint">
	&lt;i role=&quot;workspace-large&quot;&gt;&lt;/i&gt;
	&lt;i role=&quot;doc-large&quot;&gt;&lt;/i&gt;
			</pre>

			<h4>Liquid icons</h4>
			<p>Liquid icons adapt to the size of their container.</p>

			<div class="row">
				<div class="one cell">
					<i role="workspace-large" class="liquid"></i>
				</div>
			</div>

			<pre>
	&lt;i role=&quot;workspace-large&quot; class=&quot;liquid&quot;&gt;&lt;/i&gt;
			</pre>
		</div>

		<div class="clear"></div>



		<h1>LESS usage</h1>

		<p>LESS files are included into each other so that the app.css from the theme contains all CSS.</p>

		<p>In the public structure, lib contains grid classes as well as various mixins meant to be used as
			functions. Modules specifies the positioning of CSS components (navigation, lists...). App contains
			the overall structure and serves as a main file meant to be delivered alone.</p>

		<p>In the theme structure, elements styles all individual elements (h1, a, ...) and defines
			colours specifications. Modules is
			the file defining the styling of CSS components (it's the colours counterpart of modules in structure).
			Theme is the main file and can be included in a view on its own.</p>

		<h2>Icons</h2>

		<p>Icons can be defined via a mixin. Path is optional and defaults to theme/img/icons. Size is applied for both
			height and width, as icons are assumed to be squared.</p>

	<pre class="prettyprint">
	.myicon{
		.icon(@myIconFileName, @size, @pathToIconsFolder);
	}
	</pre>

			<h2>Raccourcis de préfixes</h2>

			<p>Les mixins suivants appliquent les propriétés CSS correspondantes, avec les préfixes de navigateurs.</p>

			<pre class="prettyprint">
			.run-transition(@property, @speed);
			.border-radius(@radius);
			.border-radius-left(@radius);
			.border-radius-right(@radius);
			.border-radius-top(@radius);
			.border-radius-bottom(@radius);
			.vertical-gradient(@topColor, @bottomColor);
			</pre>

		</section>
	</div>

</body>
</html>