<!DOCTYPE html>
<!--
  ~ Copyright. Tous droits réservés. WebServices pour l’Education.
  -->

<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Applications</title>
	<script type="text/javascript">
		var appPrefix = '.';
	</script>
	<script type="text/javascript" id="context" src="/infra/public/js/loader.js"></script>
	<script type="text/javascript">
		function ApplicationController($scope, template){
			template.open('main', 'applications');
			$scope.template = template;
			http().get('/applications-list').done(function(app){
				$scope.applications = app.apps;
				$scope.$apply();
			});
		}
	</script>
</head>
<body>
	<portal ng-controller="ApplicationController">
		<div class="row" ng-include="template.containers.main">

		</div>
	</portal>
</body>
</html>