<!DOCTYPE html>
<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

	<title>{{#i18n}}portal.header.navigation.myapps{{/i18n}}</title>
	<script type="text/javascript">
		var appPrefix = '.';
	</script>
	<script type="text/javascript" id="context" src="/infra/public/js/loader.js"></script>
	<script type="text/javascript">
		function ApplicationController($scope, template){
			template.open('main', 'applications');
			$scope.template = template;
			$scope.lang = lang;
			$scope.bookmarkedApps = model.me.bookmarkedApps;
			$scope.display = {};
			http().get('/applications-list').done(function(app){
				$scope.applications = _.filter(app.apps, function(app){
					return app.display !== false;
				});
				$scope.$apply();
			});

			$scope.addBookmark = function($item){
				if(_.findWhere(model.me.bookmarkedApps, { name: $item.name }) !== undefined){
					return;
				}
				model.me.bookmarkedApps.push($item);
				$scope.$apply();
				http().putJson('/userbook/preference/apps', model.me.bookmarkedApps);
			};

			$scope.removeBookmark = function($item){
				var item = _.findWhere(model.me.bookmarkedApps, { name: $item.name });
				if(item === undefined){
					return;
				}
				var itemIndex = model.me.bookmarkedApps.indexOf(item);
				model.me.bookmarkedApps.splice(itemIndex, 1);
				$scope.$apply();
				http().putJson('/userbook/preference/apps', model.me.bookmarkedApps);
			};

			$scope.filterBookmark = function(item){
				return _.findWhere($scope.bookmarkedApps, {name : item.name})
			}

			$scope.drag = function(item, event){
				event.dataTransfer.setData('application/json', JSON.stringify(item));
			};

			$scope.searchDisplayName = function(item){
				return !$scope.display.searchText ||
						lang.removeAccents(lang.translate(item.displayName)).toLowerCase().indexOf(
							lang.removeAccents($scope.display.searchText).toLowerCase()
					) !== -1;
			};

			$scope.order = function(app){
				return lang.translate(app.displayName);
			}
		}
	</script>
</head>
<body>
	<portal ng-controller="ApplicationController">
		<div class="row" ng-include="template.containers.main">

		</div>
	</portal>
</body>
</html>
