<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="{{#static}}js/jquery-1.9.1.js{{/static}}"></script>
	<script src="{{#static}}js/underscore-min-1.4.4.js{{/static}}" type="text/javascript"></script>
	<script src="{{#static}}js/mustache.js{{/static}}" type="text/javascript"></script>
	<script src="{{#static}}js/humane.min.js{{/static}}" type="text/javascript"></script>
	<script src="{{#static}}js/one-app.js{{/static}}" type="text/javascript"></script>
	<script type="text/javascript" src="{{#static}}js/iframe.js{{/static}}"></script>

	<link rel="stylesheet" type="text/css" href="/public/css/app.css" />

	<script type="text/javascript">
		$(document).ready(function(){
			$('i[role=show-list]').on('click', function(){
				$(this)
						.parentsUntil('section').parent()
						.removeClass('icons-view')
						.addClass('list-view');
			});

			$('i[role=show-icons]').on('click', function(){
				$(this)
						.parentsUntil('section').parent()
						.removeClass('list-view')
						.addClass('icons-view');
			});
		});


	</script>
</head>
<body class="app">
    <nav class="vertical cell four">
        <h1><i role="storage"></i>Espace documentaire</h1>
        <ul>
            <li>
                <a>Mes documents</a>
                <ul>
                    <li>
                        <a>Voyage découverte<i role="close"></i></a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="selected">Documents partagés avec moi</a>
            </li>
            <li>
                <a>Mon casier</a>
            </li>
            <li>
                <a>Corbeille</a>
            </li>
        </ul>
    </nav>
    <section class="cell eight list list-view">
        <nav class="row contextual-buttons">
            <div class="action-buttons">
                <button>
                    <i role="add"></i>
                    <span>Créer</span>
                </button>
                <button disabled>
                    <span>Déplacer</span>
                </button>
                <button disabled>
                    <span>Supprimer</span>
                </button>
            </div>
            <div class="display-buttons">
                <i role="configuration"></i>
                <i role="show-list"></i>
                <i role="show-icons"></i>
            </div>
        </nav>
        <article class="row">

			<table>
				<thead>
					<tr>
						<th>
							<input type="checkbox" />
						</th>
						<th>
						</th>
						<th>
							Titre
						</th>
						<th>
							De
						</th>
						<th>
							Date
						</th>
					</tr>
				</thead>
				<tr>
					<td><input type="checkbox" /></td>
					<td><i role="doc"></i></td>
					<td>Exercices - Exprimer ses émotions <em>doc</em></td>
					<td><a href="#"><img src="/public/img/exemples/uneProf.png" /> Madame Dupuis</a></td>
					<td><em>22 juillet 2012</em></td>
				</tr>
				<tr>
					<td><input type="checkbox" /></td>
					<td><i role="xls"></i></td>
					<td>Autorisation de sorties <em>xls</em></td>
					<td><a href="#"><img src="/public/img/exemples/uneProf.png" /> Madame Dupuis</a></td>
					<td><em>22 juillet 2012</em></td>
				</tr>
				<tr>
					<td><input type="checkbox" /></td>
					<td><i role="folder"></i></td>
					<td>Les exercices communs <em>--</em></td>
					<td><a href="#"><img src="/public/img/exemples/uneProf.png" /> Madame Dupuis</a></td>
					<td><em>22 juillet 2012</em></td>
				</tr>
				<tr>
					<td><input type="checkbox" /></td>
					<td><i role="link"></i></td>
					<td>Musée des sciences <em>lien URL</em></td>
					<td><a href="#"><img src="/public/img/exemples/uneProf.png" /> Madame Dupuis</a></td>
					<td><em>22 juillet 2012</em></td>
				</tr>
			</table>
			<header>
				<h2>Titre :</h2>
				<h2>De :</h2>
				<h2>Date :</h2>
			</header>
            <ul class="row">
                <li>
                    <i role="doc-large"></i>
                    <a>Exercices - Exprimer ses émotions</a>
                </li>
                <li>
                    <img/>
                    <a>Autorisation de sorties</a>
                </li>
                <li>
                    <img/>
                    <a>Les exercices communs</a>
                </li>
                <li>
                    <img/>
                    <a>Musée des sciences</a>
                </li>
                <li>
                    <img/>
                    <a>Illustration</a>
                </li>
            </ul>
            <div class="clear"></div>
        </article>
    </section>
</body>
</html>