<div class="panel-header">
    <span>{{ servicesStore.widget.displayName | translate }}</span>
</div>

<div class="tabs">
    <button 
        class="tab"
        [ngClass]="{active: currentTab === 'assignment'}"
        (click)="currentTab = 'assignment'"
    >
      {{ 'services.tab.assignment' | translate }}
    </button>
    <button class="tab"
            [ngClass]="{active: currentTab === 'massAssignment'}"
            (click)="currentTab = 'massAssignment'">
        {{ 'services.tab.mass-assignment' | translate }}
    </button>
</div>

<div *ngIf="currentWidgetLevel" class="message is-warning has-margin-10 has-bottom-margin-30">
    <div class="message-body">
      {{ 'services.widget.message.targetWarning' | translate:{target: currentWidgetLevel} }}
    </div>
</div>
  
<ode-widget-assignment
    *ngIf="currentTab  === 'assignment'"
    [widget]="servicesStore.widget"
    [assignmentGroupPickerList]="assignmentGroupPickerList"
    (mandatoryToggle)="handleMandatoryToggle($event)"
    (remove)="onRemoveAssignment($event)"
    (add)="onAddAssignment($event)"
>
</ode-widget-assignment>

<ode-widget-mass-assignment
        *ngIf="currentTab  === 'massAssignment'"
        [structure]="currentStructure"
        [widget]="servicesStore.widget"
        (massChange)="onMassChange()">
</ode-widget-mass-assignment>
