@import "../../../../../../../../../css-lib/app";
@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic);

@dark-blue: #074e68;
@light-blue: #008cba;
@black: #2A2829;
@bright-blue: #008BB8;

//legend colors
@green: #00CB4c;
@purple: #554dc2;
@pink: #FF0B75;
@cyan: #00A3D8;
@orange: #FFB400;

.tabs{
	header{
		font-family: Lato;
		color: @bright-blue;
		font-size: 14px;
		.border-radius-top(6px);
	}
	header.selected{
		border-color: #ccc;
		border-bottom-color: #fff;
		color: #444;
	}
}

.lightbox-window{
	.icons-view{
		background: transparent;
		.element{
			.img.container{
				background: #555;
				border-color: transparent;
			}
			legend{
				text-shadow: none;
			}
		}
		.element.selected{
			.img.container{
				background: @bright-blue;
			}
		}
	}
	nav.vertical{
		padding-right: 10px;
		a{
			border-color: #555;
			color: #777;
		}
		a.selected{
			background: #353535;
		}
		a:hover{
			background: #555;
			color: #999;
		}
		li{
			padding-left: 10px;
		}
		ul:first-child > li, div ul:first-child > li{
			padding-left: 0;
		}
	}
	.tabs{
		margin-top: 10px;
		section{
			background: #444;
			border-bottom: 7px solid;
			border-color: @bright-blue;
		}
		header{
			background: #393939;
			margin-left: -2px;
			color: #777;
			border: 1px solid #555;
			border-bottom: none;
		}
		header:first-child{
			margin-left: 0px;
		}
		header.selected{
			background: #444;
			border-color: @bright-blue;
			border-bottom: 1px solid #444;
			color: @bright-blue;
		}
	}
}

.select-file{
	input[type=text]{
		height: 24px;
	}
}

i.send-mail{
	.icon(glyphicons_010_envelope, 24px);
	margin: 7px;
	.run-transition(background);
}

i.send-mail:hover{

}

i.public{
	.icon(public, 25px);
	cursor: pointer;
}

i.prive{
	.icon(prive, 25px);
	cursor: pointer;
}

i.angry{
	.icon(angry, 50px);
}

i.default{
	.icon(default, 50px);
}

i.dreamy{
	.icon(dreamy, 50px);
}

i.happy{
	.icon(happy, 50px);
}

i.joker{
	.icon(joker, 50px);
}

i.love{
	.icon(love, 50px);
}

i.proud{
	.icon(proud, 50px);
}

i.sad{
	.icon(sad, 50px);
}

i.sick{
	.icon(sick, 50px);
}

i.tired{
	.icon(tired, 50px);
}

i.worried{
	.icon(worried, 50px);
}

i.show-icons{
	.icon(glyphicons_156_show_thumbnails, 24px);
	opacity: 0.5;
}

i.disconnect{
	.icon(glyphicons_063_power, 35px);
	.invert-colors();
	margin: 5px;
	float: right;
	margin-bottom: -6px;
}

i.show-details{
	.icon(glyphicons_157_show_thumbnails_with_lines, 24px);
	opacity: 0.5;
	background-size: 100% 93%;
}

i.show-list{
	.icon(glyphicons_158_show_lines, 24px);
	opacity: 0.5;
	background-size: 100% 93%;
}

i.show-icons.selected{
	opacity: 1;
}

i.show-details.selected{
	opacity: 1;
}

i.show-list.selected{
	opacity: 1;
}

i.close{
	.icon(glyphicons_207_remove_2, 15px);
	background-size: 100% 100%;
}

i.close2x{
	.icon(glyphicons_207_remove_2, 50px);
}

i.tools{
	.icon(glyphicons_280_settings, 25px);
}

@header-height: 40px;

.row{
	max-width: 1200px;
}

.container{
	header.main{
		height: @header-height;
		max-width: none;
	}

	.main.wrapper{
		padding-top: @header-height;
		max-width: none;

	}
	.main{
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
}

.mood-widget{
	border: 1px solid #ccc;
	background: #eee;
	padding-top: 0;
	.icons-select{
		margin-top: 0;
	}
}

.birthday{
	background: #fff;
	h1{
		text-align: center;
	}
	border: 1px solid #ccc;
	.content{
		border: none;
	}
}

.row{
	max-width: 100%;
}

nav.vertical.stamps{
	padding: 0;
	padding-right: 50px;
	article{
		background: #444;
		border-radius: 0;
		margin-top: 10px;
		margin-bottom: 10px;
		line-height: 20px;
		color: #aaa;
		h3{
			font-size: 18px;
			border: 0;
			color: #aaa;
			line-height: 20px;
			font-style: normal;
			margin: 0;
		}
		a{
			margin: 0;
		}
	}
	article:hover{
		a{
			color: #fff;
		}
		i.send-mail{
			.icon(glyphicons_010_envelope_white, 24px);
			margin: 7px;
		}
	}
	article.selected{
		background: @bright-blue;
		color: #fff;
		i.send-mail{
			.icon(glyphicons_010_envelope_white, 24px);
			margin: 7px;
		}
		h3{
			color: #fff;
		}
		a{
			color: #fff;
		}
	}
}

.dominos{
	.item{
		width: 14%;
		border: 0;
		padding: 6px;
		.mood{
			top: 63px;
		}

		.domino{
			border: 0;
			.bottom{
				background: #444;
				color: #aaa;
				a:hover{
					color: #fff;
				}
				.mood{
					top: 53px;
					width: 42px;
				}
				i.send-mail:hover{
					.icon(glyphicons_010_envelope_white, 24px);
					margin: 7px;
				}
			}
		}
	}
}

.green{
	background: @green;
}
.orange{
	background: @orange;
}
.purple{
	background: @purple;
}
.cyan{
	background: @cyan;
}
.pink{
	background: @pink;
}
.grey{
	background: #555;
}

.actions-list{
	background: #444;
	a:hover{
		color: #FFF;
	}
	.send-mail:hover{
		.icon(glyphicons_010_envelope_white, 24px);
	}
}

.calendar{
	padding-bottom: 35% !important;
	border: 1px solid #ccc;
	border-bottom: 0;
	background: #fff;
	.current-month-header{
		top: 0;
	}
	.content{
		border-radius: 0px;
		border: 1px solid #ccc;
		border-top: 0;
		background: #fff;
		margin-top: 18%;
		.day{
			font-size: 10px;
			height: 21px;
		}
		.previous-month, .next-month{
			color: #aaa;
		}
		.day.today{
			color: #fff;
			background: #000;
		}
	}
	.current-day{
		h1{
			font-size: 14px;
			text-align: center;
			font-weight: normal;
			margin-bottom: -10px;
			margin-top: 5px;
		}
		h2{
			font-size: 40px;
			margin: 0;
			margin-top: 5px;
			text-align: center;
			font-weight: normal;
		}
		h3{
			font-weight: 100;
			font-size: 14px;
			text-align: center;
			margin-top: -10px;
			padding-top: 6px;
		}
	}
}

a{
	color: @bright-blue;
	text-decoration: none;
}

ul.icons-tabs{
	display: none;
	li{
		border-radius: 25px;
	}
}

a.button[disabled], button[disabled], input[type=button][disabled], input[type=submit][disabled],
a.button[disabled]:hover, button[disabled]:hover, input[type=button][disabled]:hover, input[type=submit][disabled]:hover{
	color: #AAA;
	background: #ddd;
	border: 1px solid #ccc;
	cursor: default;
}

.contextual-editor{
	.border-box;
}

.drawing-zone{
	article.media{
		border: 1px dashed @bright-blue;
		img{
			display: block;
		}
	}
}


.navbar{
	background: #444;
	width: 100%;
	.welcome-message{
		display: none;
	}
	img{
		padding: 0px;
	}
	.account a{
		color: #fff;
		display: block;
		margin-left: 10px;
		margin-top: 10px;
		font-family: Lato;
		font-weight: 300;
		font-size: 1.3em;
	}
}

.tag{
	color: #ccc;
	padding-left: 10px;
}

button.cancel, input[type=button].cancel{
	background: #ccc;
	color: #333;
}

.small-text{
	font-size: 14px !important;
	label{
		font-size: 14px !important;
		line-height: 26px;
	}
}

.small-text a, .small-text em, .small-text label, .small-text span {
	font-size: 14px;
}

.icons-select{
	font-family: Lato;

	i{
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	span{
		text-align: center;
		width: 100%;
	}

	.current{
		.border-radius(3px);
		padding-left: 0;
		font-size: 18px;
		.run-transition(padding-left);
		i{
			float: left;
		}
	}

	.current.editing{
		background: #444;
		color: #aaa;
		padding-left: 50px;
	}

	.options-list{
		background: #444;
		color: #aaa;
		font-size: 14px;
		.border-radius-bottom(3px);
		box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
	}

	.wrapper{
		padding: 12px;
	}
}

textarea.inline-editing{
	color: #666;
	border: 1px solid #ddd;
	margin: 3px;
	height: 45px;
	line-height: 25px;
	width: 100%;
}

input[type=text]{
	border: 1px solid #ddd;
	margin-top: 3px;
	margin-bottom: 3px;
}

.label-badge{
	background: #008cba;
	.run-transition(background);
	border-radius: 2px;
	color: #fff;
	padding: 4px;
	font-family: Lato;
	margin: 2px;
	border: 1px solid transparent;
	i[role=close]{
		.invert-colors();
		height: 11px;
		width: 11px;
		margin-top: 2px;
		margin-left: 4px;
	}
}

.label-badge:hover{
	color: @bright-blue;
	background: #fff;
	border: 1px solid #000;
	i[role=close]{
		-webkit-filter: invert(0%);
		-moz-filter: invert(0%);
		filter: invert(0%);
	}
}

h3, h4, h5{
	color: @bright-blue;
}

//weird chrome hack for background color in prefilled inputs
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #555 inset;
	-webkit-text-fill-color: #aaa !important;
}


.panel{
	width: 415px;
	background: #444;
	margin-left:auto;
	margin-right: auto;
	.border-radius;
	padding: 15px;
	color: #aaa;

	label{
		width: 150px;
	}

	h1{
		color: #ccc;
	}

	input[type=text], input[type=password]{
		width: 200px;
		float: right;
		line-height: 20px;
		border: 0;
		color: #aaa;
		background: #333;
	}
	a{
		display: block;
		clear: both;
	}
	a:hover{
		color: #fff;
	}
	h1 img{
		display: none;
	}

	input[type=submit]{
		float: right;
	}
}

@-moz-keyframes blink {
	0% {
		border-bottom-width: 1px;
	}

	100% {
		border-bottom-width: 30px;
	}
}

@-webkit-keyframes blink {
	0% {
		border-bottom-width: 1px;
	}

	100% {
		border-bottom-width: 30px;
	}
}

@keyframes blink {
	0% {
		border-bottom-width: 1px;
	}

	100% {
		border-bottom-width: 30px;
	}
}

.tooltip{
	.content{
		background: @bright-blue;
		color: #fff;
	}
	.arrow{
		color: @bright-blue;
	}

}

.loading-panel{
	background: #fff;
	border: 1px solid @bright-blue;
	img{
		display: none;
	}
	h1{
		color: #008cba;
		text-align: center;
		line-height: 100%;
		font-size: 2em;
		border-bottom: 1px solid;
		height: 100%;
		margin: 0;
		box-sizing: border-box;
		padding-top: 20px;
		-webkit-animation: blink 3s linear infinite;
		-moz-animation: blink 3s linear infinite;
		animation: blink 3s linear infinite;
	}
}

button, input[type=button], a.button, input[type=submit]{
	background: @bright-blue;
	padding: 4px;
	padding-left: 10px;
	padding-right: 10px;
	color: #fff;
	border-radius: 3px;
	font-size: 15px;
	border: 1px solid transparent;
	.run-transition(background);
	font-family: Lato;
	font-weight: 300;
}

nav.horizontal{
	a{
		font-family: Lato;
		font-weight: 300;
		font-size: 1.3em;
		margin-left: 5px;
		margin-right: 5px;
	}
	a:hover{
		color: @bright-blue;
	}
}

button:hover, input[type=button]:hover, a.button:hover, input[type=submit]:hover{
	background: #fff;
	color: #000;
	border: 1px solid @bright-blue;
}

nav.vertical{
	padding-right: 50px;
	h2{
		font-size: 18px;
		font-family: Arial;
		font-weight: normal;
		font-variant: small-caps;
		color: #999;
		margin-top: 20px;
	}
	ul{
		margin: 0;
		padding: 0;
		width: 100%;
		li{
			padding-left: 20px;
			.border-box;
			a{
				color: #000;
				.run-transition(background);
				font-family: Lato;
				font-weight: 300;
				margin-left: 0;
				border-right: 8px solid #ccc;
			}
			a.selected{
				color: #aaa;
				border-right: 8px solid @bright-blue;
				background: #444;
			}
			a:hover{
				color: @bright-blue;
				background: #ddd;
				border-right: 8px solid @bright-blue;
			}
		}
	}
	ul:first-child > li, div ul:first-child > li{
		padding-left: 0;
	}
	a.classic-link{
		display: block;
		padding: 5px;
		padding-left: 11px;
		background: @bright-blue;
		color: #fff;
		font-family: Lato;
		font-weight: 300;
		width: 100%;
		.border-box;
		.run-transition(background);
	}
	a.classic-link:hover{
		background: #444;
	}
}

nav.horizontal{
	right: 10px;
	bottom: 20px;
	a{
		color: #fff;
	}
}

.vertical-spacing {
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}

h1, h2, h3, h4, h5{
	a{
		color: #333;
	}
	color: #333;
	font-weight: 300;
	font-family: Lato;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 30px;
}

h1{
	font-size: 2em;
	margin-top: 0px;
	margin-bottom: 20px;
}

h2{
	font-size: 20px;
	font-family: Arial;
}

h3{
	font-size: 1.4em;
	font-style: italic;
}

table{
	border-bottom: 1px solid @bright-blue;
	td{
		padding: 5px;
	}
	tr{
		border: 1px solid #fff;
		border-right: 0;
		border-left: 0;
		background: #f5f5f5;
		.run-transition(background);
	}
	tr.checked{
		background: #444;
		color: #aaa;
		border-color: #333;
		a:hover{
			color: #aaa;
		}
	}
	tr.checked:hover{
		background: #333;
	}
	tr.new-element{
		background: #e8e8e8;
		border-bottom-color: #ddd;
	}
	tr:hover{
		background: #ccc;
	}
	thead{
		tr{
			background: #fff;
			font-family: Lato;
			font-weight: 300;
			font-size: 1.3em;
			border-top: 5px solid @bright-blue;
			border-bottom: 1px solid @bright-blue;
		}
		tr:hover{
			background: #fff;
		}
	}
}

.notification {
	background: #fdfdfd;
	border-left: 10px solid #008bb8;
	article {
		margin-top: 15px;
		margin-left: 0px;
	}
}

	.toggle-panel{
		background: #444;
		padding: 20px;
		color: #AAA;
		.run-transition(opacity);
		h1, h2, h3{
			color: #AAA;
		}
		box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
	}

	.notes-widget{
		width: 253px;
		textarea{
			.border-box;
		}
		h1{
			display: none;
		}
	}

	article{
		background: transparent;
		border-radius: 3px;
		border: none;
		margin-bottom: 45px;
	}

	body{
		section.main{
			background: transparent;
		}
		font-size: 14px;
		line-height: 20px;
	}

	thead{
		font-size: 14px;
		th{
			padding: 5px;
		}
	}

	header{
		background: transparent;
	}

	.calendar{
		width: 254px;
		.content{
			margin-left: -1px;
			box-sizing: content-box;
			.day.today{
				background: @bright-blue;
			}
			h2{
				color: @bright-blue;
			}
		}
	}

	.last-mails-widget, .pages-widget {
		background: #fff;
		margin-bottom: 12px;
		border: 1px solid #ccc;
		width: 254px;
		.border-box;
		h1 {
			text-align: center;
		}
		ul {
			margin-bottom: 0;
			padding-left: 0;
			li {
				list-style-type: none;
				padding-left: 7px;
				border-left: 5px solid @bright-blue;
				line-height: 22px;
				a {
					font-size: 14px;
				}
			}
		}
	}

	.icons-view{
		background: transparent;
		margin-top: 0;
		strong{
			font-style: italic;
			font-weight: normal;
			font-size: 14px;
		}
		.element{
			width: 150px;
			.container{
				padding: 10px;
			}
			.img.container{
				border: 1px solid #008cba;
				background: #fff;
				.run-transition(background)
			}
		}
		.element.selected{
			.container{
				border: none;
				background: @bright-blue;
			}
		}
	}

	.tabs{
		section{
			background: #fff;
			border-color: #ccc;
		}
	}

	.toggle-panel{
		h2{
			display: none;
		}
	}

	.toggle-buttons{
		width: 100%;
		left: 0;
		margin-left: 0;
		background: #444;
		button{
			background: none;
			border: none;
			font-size: 1.3em;
		}
		button:hover{
			color: @light-blue;
		}
	}

	.toggle-panel.hide{
		width: 300px;
		opacity: 0;
		.run-transition(opacity);
	}

	.filters.line{
		right: 0;
		background: #444;
		color: #aaa;
		border-left: 10px solid @bright-blue;
		height: 40px;
		padding: 11px;

		li{
			display: block;
			float: right;
			font-size: 14px;
		}
		li:first-child{
			display: none;
		}
	}

	a:hover{
		color: #000;
	}

	.lightbox-backdrop{
		background: #fff;
		opacity: 0.7;
	}

	.line{
		border: none;
	}

	input[type=text], input[type=search], input[type=password]{
		height: 25px;
		line-height: 25px;
		padding-left: 5px;
		font-family: Lato;
		font-size: 14px;
	}

	textarea{
		padding-left: 5px;
		font-family: Lato;
		font-size: 14px;
	}


	.message{
		background: #ccc;
		color: #666;
		text-align: left;
		.border-radius(0px);
	}

	.warning{
		.message;
		border-left: 10px solid @pink;
	}


	.info{
		.message;
		border-left: 10px solid @bright-blue;
	}


	.success{
		.message;
		border-left: 10px solid @green;
	}

	.lightbox-window{
		border: 5px solid #555;
		.border-radius(3px);
		box-shadow: none;
		background: #444;
		color: #888;
		border-radius: 0;
		h1, h2, h3, h4, h5{
			color: #AAA;
		}
		a:hover{
			color: #ccc;
			.run-transition(background);
		}
		.line{
			border: 0;
			margin: 0;
		}
		tr{
			background: #555;
			border-color: #5F5F5F;
			border-width: 1px;
		}
		thead tr{
			background: #5f5f5f;
		}
		input[type=text], input[type=search], textarea {
			background: #494949;
			border: 1px solid #595959;
			color: #999;
			margin-left: 1px;
		}
	}

	[data-drop-down]{
		box-shadow: 3px 3px 3px #AAA;
		ul{
			background: #008cba;
			border: 1px;
			color: #fff;
			font-family: Lato;
			font-size: 1.2em;
			padding: 1px;
			li:hover{
				background: #fff;
				color: #008cba;
			}
		}
	}

	.comment{
		background: #444;
		color: #aaa;
	}

	article.selected{
		background: @bright-blue;
		color: #fff;
		a{
			color: #fff;
		}
	}

	[contenteditable]{
		border: 1px solid #ccc;
	}

	.grid-exemple.row .article, .grid-exemple.row .absolute{
		font-size: 14px;
		padding: 10px;
		color: #888;
		border: #eee solid 5px;
		border-radius: 5px;
		background: #fff;
		text-align: left;
	}

	.panel{
		p{
			line-height: 29px;
		}
	}

	i.unknown-large, i.xls-large, i.ppt-large, i.pdf-large, i.video-large{
		.icon(unknown-large, 135px);
	}

	i.audio-large{
		.icon(audio-large, 135px);
	}

	i.folder-large{
		.icon(folder-large, 135px);
	}

	.datepicker{
		padding: 0;
		table{
			tr{
				background: #fff;
				td, td:first-child, th{
					width: 22px;
					font-size: 12px
				}
				td:hover{
					background: #ccc
				}
			}
		}
	}

	.lightbox-view{
		.lightbox-window;
	}

	.lightbox-background{
		.lightbox-backdrop;
	}

	.warning-text{
		color: rgb(245, 103, 103);
	}



	.accordions{
		.accordion{
			h2{
				font-family: Arial;
				.vertical-gradient(#383838, #333);
				border: 1px solid #555;
				border-bottom: 0;
				font-size: 20px;
				color: #666;
			}
			.toggle{
				border: 0;
				background: #333;
				.content{
					h3{
						font-weight: normal;
						color: @bright-blue;
						font-size: 16px;
					}
				}
			}
		}

		.accordion:last-child{
			h2{
				border-bottom: 1px solid #555;
			}
		}

		.accordion.opened{
			h2{
				border: 1px solid #555;
				border-bottom: 0;

			}
			.toggle{
				height: 350px;
				border: 1px solid #555;
				border-top: 0;
				padding: 10px;
			}
		}
	}

	select{
		background: #494949;
		color: #999;
		border: 1px solid #595959;
		height: 25px;
		margin: 3px;
	}

	.selectable-list{
		li{
			border: 1px solid @bright-blue;
		}

		li.selected{
			background: @bright-blue;
			color: #fff;
		}
	}

	.side-tabs{
		ul{
			li{
				color: #AAA;
				background: #444;
				border-color: @bright-blue;
				border-right: none;
			}
			li:first-child{
				border-top-left-radius: 5px;
			}
			li:last-child{
				border-bottom-left-radius: 5px
			}
			li.selected:first-child{
				border-top: 1px solid @bright-blue;
			}
			li.selected{
				color: @black;
				background: #eee;
				border-color: @bright-blue;
				border-right: none;
				border-top: none;
				border-bottom: none;
			}
		}
	}

	.side-tabs-content{
		.border-radius(0);
		border-color: @bright-blue;
	}

	.humane-original-success{
		background: @green;
	}

	.progress-bar{
		.filled{
			background: @bright-blue;
		}
		.filled.small{
			color: @bright-blue;
		}
	}

	.illustrated-article{
		.illustration{
			legend{
				background: @bright-blue;
				color: #fff;
				margin: 0;
			}
			.image{
				margin: 0;
			}
		}
		.illustrated-text{
			background: #fdfdfd;
			border-right: 7px solid @bright-blue;
			border-radius: 0;
			padding: 8px;
		}
	}

	.square-menu{
		button{
			background: #444;
			border-radius: 0;
			color: #aaa;
		}
		i.text{
			.icon(text-icon, 30px);
			background-size: 60% auto;
			background-color: transparent;
			border: none;
		}
		i.image, input[type=button].image{
			.icon(picture-icon, 30px);
			background-size: 60% auto;
			background-color: transparent;
			border: none;
		}
		i.sound, input[type=button].sound{
			.icon(music-icon, 30px);
			background-size: 60% auto;
			background-color: transparent;
			border: none;
		}
		i.video{
			.icon(video-icon, 30px);
			background-size: 60% auto;
			background-color: transparent;
			border: none;
		}
		i.grid{
			.icon(glyphicons_155_show_big_thumbnails, 30px);
			background-size: 60% auto;
			background-color: transparent
			border: none;
		}
	}

	.grid-media{
		outline: 1px solid @bright-blue;
	}

	.editor.drawing-grid{
		.grid-add-row{
			background: #444;
			border-radius: 0;
		}
	}

.color-picker {
	right: 42px;
	button.colors-opener {
		.icon(glyphicons_234_brush, 15px);
		margin: 0;
		padding: 0;
		border: none;
		position: absolute;
		right: -20px;
		top: 1px;
	}
	button.pink{
		background: @pink;
	}
	button.purple{
		background: @purple;
	}
	button.orange{
		background: @orange;
	}
	button.white{
		background: #fff;
		border: 1px solid #ccc;
	}
	button.green{
		background: @green;
	}
	button.blue{
		background: @bright-blue;
	}
	button.black{
		background: #444;
	}
}

.media-container.pink{
	background: @pink;
	.run-transition(background);
}
.media-container.purple{
	background: @purple;
	.run-transition(background);
}
.media-container.orange{
	background: @orange;
	.run-transition(background);
}
.media-container.white{
	background: #fff;
	color: #000;
	.run-transition(background);
}
.media-container.green{
	background: @green;
	.run-transition(background);
}
.media-container.blue{
	background: @bright-blue;
	.run-transition(background);
}
.media-container.black{
	background: #444;
	color: #aaa;
	.run-transition(background);
}

.square-menu {
	i.text {
		.icon(text-icon, 30px);
		background-size: 60% auto;
		background-color: transparent;
	}
	i.image, input[type=button].image {
		.icon(picture-icon, 30px);
		background-size: 60% auto;
		background-color: transparent;
	}
	i.sound, input[type=button].sound {
		.icon(music-icon, 30px);
		background-size: 60% auto;
		background-color: transparent;
	}
	i.video {
		.icon(video-icon, 30px);
		background-size: 60% auto;
		background-color: transparent;
	}
	i.grid {
		.icon(glyphicons_155_show_big_thumbnails, 30px);
		background-size: 60% auto;
		background-color: transparent
	}
}

.schedule{
	width: 100%;

	padding-left: 115px;
	box-sizing: border-box;
	legend.timeslots{
		width: 115px;
		background: #444;
		color: #aaa;
		position: absolute;
		top: 40px;
		left: 0;
	}
	.timeslot{
		height: 40px;
		line-height: 40px;
		text-align: center;
	}
	.days{
		width: 100%;
		.day{
			float: left;
			width: 100% / 7;
			position: relative;
			legend{
				width: 100%;
				text-align: center;
				height: 40px;
				line-height: 40px;
				color: #aaa;
				background: #444;
				.border-box;
			}
			.timeslot{
				background: #fdfdfd;
				border-bottom: 1px solid #eee;
				border-right: 1px solid #eee;
				width: 100%;
				.border-box;
			}
		}
	}

	.schedule-items{
		position: absolute;
		left: 0;
		width: 100%;
		box-sizing: border-box;
		.schedule-item{
			width: 100%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			position: absolute;
		}
	}
}