@import "../../../../public/css/app";
@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic);

@dark-blue: #074e68;
@light-blue: #008cba;
@black: #2A2829;
@bright-blue: #008cba;

//legend colors
@green: #6fbd2c;
@purple: #a04ac5;
@pink: #FF0B75;
@cyan: #008cba;
@orange: #FD841C;

.tabs{
	header{
		font-family: Lato;
		color: @bright-blue;
		font-size: 14px;
		.border-radius-top(6px);
	}
	header.selected{
		border-color: #ccc;
		border-bottom-color: #fff;
		color: #444;
	}
}

.lightbox-window{
	.icons-view{
		background: transparent;
		.element{
			.img.container{
				background: #555;
				border-color: transparent;
			}
		}

	}
	nav.vertical{
		padding-right: 10px;
		a{
			border-color: #555;
			color: #777;
		}
		a.selected{
			background: #353535;
		}
		a:hover{
			background: #555;
			color: #999;
		}
		li{
			padding-left: 10px;
		}
	}
	.tabs{
		margin-top: 10px;
		section{
			background: #444;
			border-bottom: 7px solid;
			border-color: @bright-blue;
		}
		header{
			background: #393939;
			margin-left: -2px;
			color: #777;
			border: 1px solid #555;
			border-bottom: none;
		}
		header:first-child{
			margin-left: 0px;
		}
		header.selected{
			background: #444;
			border-color: @bright-blue;
			border-bottom: 1px solid #444;
			color: @bright-blue;
		}
	}
}

.select-file{
	input[type=text]{
		height: 24px;
	}
}

i[role=send-mail]{
	.icon(glyphicons_010_envelope, 24px);
	margin: 7px;
	opacity: 0.6;
}

i[role=public]{
	.icon(public, 25px);
	cursor: pointer;
}

i[role=prive]{
	.icon(prive, 25px);
	cursor: pointer;
}

i[role=view-folder]{
	.icon(glyphicons_144_folder_open, 24px);
	margin: 7px;
	opacity: 0.6;
}

i[role=view-book]{
	.icon(glyphicons_071_book, 24px);
	margin: 7px;
	opacity: 0.6;
}

i[role=angry]{
	.icon(default, 25px);
}

i[role=default]{
	.icon(default, 25px);
}

i[role=dreamy]{
	.icon(default, 25px);
}

i[role=happy]{
	.icon(default, 25px);
}

i[role=joker]{
	.icon(default, 25px);
}

i[role=love]{
	.icon(default, 25px);
}

i[role=proud]{
	.icon(default, 25px);
}

i[role=sad]{
	.icon(default, 25px);
}

i[role=sick]{
	.icon(default, 25px);
}

i[role=tired]{
	.icon(default, 25px);
}

i[role=worried]{
	.icon(default, 25px);
}

i[role=show-icons]{
	.icon(glyphicons_156_show_thumbnails, 24px);
	opacity: 0.5;
}

i[role=disconnect]{
	.icon(glyphicons_063_power, 35px);
	.invert-colors();
	margin: 5px;
	float: right;
	margin-bottom: -6px;
}

i[role=show-details]{
	.icon(glyphicons_157_show_thumbnails_with_lines, 24px);
	opacity: 0.5;
	background-size: 100% 93%;
}

i[role=show-list]{
	.icon(glyphicons_158_show_lines, 24px);
	opacity: 0.5;
	background-size: 100% 93%;
}

i[role=show-icons].selected{
	opacity: 1;
}

i[role=show-details].selected{
	opacity: 1;
}

i[role=show-list].selected{
	opacity: 1;
}

i[role=close]{
	.icon(glyphicons_207_remove_2, 15px);
	background-size: 100% 100%;
}

i[role=close2x]{
	.icon(glyphicons_207_remove_2, 50px);
}

i[role=tools]{
	.icon(glyphicons_280_settings, 25px);
}

@header-height: 40px;

.container{
	header.main{
		height: @header-height;
		max-width: none;
	}

	.main.wrapper{
		padding-top: @header-height;
		max-width: none;

	}
	.main{
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
	}
}

.mood-widget{
	border: 1px solid #ccc;
	background: #eee;
	padding-top: 0;
	.icons-select{
		margin-top: 0;
	}
}

.birthday{
	background: #fff;
	h1{
		text-align: center;
	}
	border: 1px solid #ccc;
	.content{
		border: none;
	}
}

.row{
	max-width: 100%;
}

.dominos{
	.item{
		width: 14%;
	}
	.domino.green{
		background: @green;
	}
	.domino.orange{
		background: @orange;
	}
	.domino.purple{
		background: @purple;
	}
	.domino.cyan{
		background: @cyan;
	}
	.domino.pink{
		background: @pink;
	}
}

.calendar{
	padding-bottom: 35% !important;
	border: 1px solid #ccc;
	border-bottom: 0;
	background: #fff;
	.current-month-header{
		top: 0;
	}
	.content{
		border-radius: 0px;
		border: 1px solid #ccc;
		border-top: 0;
		background: #fff;
		margin-top: 18%;
		.day{
			font-size: 10px;
		}
		.day.today{
			color: #fff;
			background: #000;
		}
	}
	.current-day{
		h1{
			font-size: 14px;
			text-align: center;
			font-weight: normal;
			margin-bottom: -10px;
			margin-top: 5px;
		}
		h2{
			font-size: 40px;
			margin: 0;
			margin-top: 5px;
			text-align: center;
			font-weight: normal;
		}
		h3{
			font-weight: 100;
			font-size: 14px;
			text-align: center;
			margin-top: -10px;
			padding-top: 6px;
		}
	}
}

a{
	color: @bright-blue;
	text-decoration: none;
}

ul.icons-tabs{
	li{
		border-radius: 25px;
	}
}

a.button[disabled], button[disabled], input[type=button][disabled], input[type=submit][disabled],
a.button[disabled]:hover, button[disabled]:hover, input[type=button][disabled]:hover, input[type=submit][disabled]:hover{
	color: #AAA;
	background: #ddd;
	border: 1px solid #ccc;
	cursor: default;
}

.contextual-editor{
	.border-box;
}

.drawing-zone{
	article.media{
		border: 1px dashed @bright-blue;
		img{
			display: block;
		}
	}
}


.navbar{
	background: #444;
	width: 100%;
	.welcome-message{
		display: none;
	}
	img{
		padding: 0px;
	}
	.account a{
		color: #fff;
		display: block;
		margin-left: 10px;
		margin-top: 10px;
		font-family: Lato;
		font-weight: 300;
		font-size: 1.3em;
	}
}

.tag{
	color: #ccc;
	padding-left: 10px;
}

button.cancel, input[type=button].cancel{
	background: #ccc;
	color: #333;
}

.small-text{
	font-size: 14px !important;
	label{
		font-size: 14px !important;
		line-height: 26px;
	}
}

.icons-select{
	display: none;
}

textarea.inline-editing{
	color: #666;
	border: 1px solid #ddd;
	margin: 3px;
	height: 45px;
	line-height: 25px;
	width: 100%;
}

input[type=text]{
	border: 1px solid #ddd;
	margin-top: 3px;
	margin-bottom: 3px;
}

.label-badge{
	background: #008cba;
	.run-transition(background);
	border-radius: 2px;
	color: #fff;
	padding: 4px;
	font-family: Lato;
	margin: 2px;
	border: 1px solid transparent;
	i[role=close]{
		.invert-colors();
		height: 11px;
		width: 11px;
		margin-top: 2px;
		margin-left: 4px;
	}
}

.label-badge:hover{
	color: @bright-blue;
	background: #fff;
	border: 1px solid #000;
	i[role=close]{
		-webkit-filter: invert(0%);
		-moz-filter: invert(0%);
		filter: invert(0%);
	}
}

h3, h4, h5{
	color: @bright-blue;
}

.panel{
	width: 400px;
	background: #fff;
	margin-left:auto;
	margin-right: auto;
	.border-radius;
	padding: 15px;

	label{
		width: 150px;
	}

	input[type=text], input[type=password]{
		width: 200px;
		float: right;
		line-height: 20px;
		border: 1px solid #ccc;
	}
	a{
		display: block;
		clear: both;
	}
	h1 img{
		display: none;
	}

	input[type=submit]{
		float: right;
	}
}

@-moz-keyframes blink {
	0% {
		border-bottom-width: 1px;
	}

	100% {
		border-bottom-width: 30px;
	}
}

@-webkit-keyframes blink {
	0% {
		border-bottom-width: 1px;
	}

	100% {
		border-bottom-width: 30px;
	}
}

@keyframes blink {
	0% {
		border-bottom-width: 1px;
	}

	100% {
		border-bottom-width: 30px;
	}
}

.tooltip{
	.content{
		background: @bright-blue;
		color: #fff;
	}
	.arrow{
		color: @bright-blue;
	}

}

.loading-panel{
	background: #fff;
	border: 1px solid @bright-blue;
	img{
		display: none;
	}
	h1{
		color: #008cba;
		text-align: center;
		line-height: 100%;
		font-size: 2em;
		border-bottom: 1px solid;
		height: 100%;
		margin: 0;
		box-sizing: border-box;
		padding-top: 20px;
		-webkit-animation: blink 3s linear infinite;
		-moz-animation: blink 3s linear infinite;
		animation: blink 3s linear infinite;
	}
}

button, input[type=button], a.button, input[type=submit]{
	background: @bright-blue;
	padding: 4px;
	padding-left: 10px;
	padding-right: 10px;
	color: #fff;
	border-radius: 3px;
	font-size: 15px;
	border: 1px solid transparent;
	.run-transition(background);
	font-family: Lato;
	font-weight: 300;
}

nav.horizontal{
	a{
		font-family: Lato;
		font-weight: 300;
		font-size: 1.3em;
		margin-left: 5px;
		margin-right: 5px;
	}
	a:hover{
		color: @bright-blue;
	}
}

button:hover, input[type=button]:hover, a.button:hover, input[type=submit]:hover{
	background: #fff;
	color: #000;
	border: 1px solid @bright-blue;
}

nav.vertical{
	padding-right: 50px;
	h2{
		display: none;
	}
	ul{
		margin: 0;
		padding: 0;
		width: 100%;
		li{
			padding-left: 20px;
			.border-box;
			a{
				color: #000;
				.run-transition(color);
				font-family: Lato;
				font-weight: 300;
				margin-left: 0;
				border-right: 8px solid #ccc;
			}
			a.selected{
				font-style: italic;
				color: @bright-blue;
				border-right: 8px solid @bright-blue;
			}
			a:hover{
				color: @bright-blue;
				background: #ddd;
				border-right: 8px solid @bright-blue;
			}
		}
	}
	article, a{
		margin-left: 20px;
	}
	a.classic-link{
		margin-left: 20px;
		display: block;
		padding: 5px;
		padding-left: 11px;
		background: @bright-blue;
		color: #fff;
		font-size: 1.2em;
		font-family: Lato;
		font-weight: 300;
		.run-transition(background);
	}
	a.classic-link:hover{
		background: #444;
	}
}

nav.horizontal{
	right: 10px;
	bottom: 20px;
	a{
		color: #fff;
	}
}

h1, h2, h3, h4, h5{
	a{
		color: #333;
	}
	color: #333;
	font-weight: 300;
	font-family: Lato;
	margin-top: 10px;
	margin-bottom: 10px;
}

h1{
	font-size: 2em;
	margin-top: 0px;
	margin-bottom: 20px;
}

h2{
	font-size: 18px;
}

h3{
	font-size: 1.4em;
	font-style: italic;
}

table{
	border-bottom: 2px solid @bright-blue;
	td{
		padding: 5px;
	}
	tr{
		border: 2px solid #fff;
		background: #f5f5f5;
	}
	tr.checked{
		background: #fff;
	}
	tr.new-element{
		background: #e8e8e8;
		border-bottom-color: #ddd;
	}
	tr:hover{
		background: #eee;
	}
	thead{
		tr{
			background: #fff;
			font-family: Lato;
			font-weight: 300;
			font-size: 1.3em;
			border-top: 2px solid @bright-blue;
			border-bottom: 2px solid @bright-blue;
		}
	}
}

article{
	background: transparent;
	border-radius: 3px;
	border: none;
}

body{
	section.main{
		background: #eee;
	}
	font-size: 12px;
}

thead{
	font-size: 12px;
	th{
		padding: 5px;
	}
}

header{
	background: #eee;
}

.calendar{
	padding-bottom: 49% !important;
	margin-bottom: 22.7%;
	.content{
		margin-left: -1px;
		box-sizing: content-box;
		.day.today{
			background: @bright-blue;
		}
		h2{
			color: @bright-blue;
		}
	}
}

.last-mails-widget, .pages-widget {
	background: #fff;
	margin-bottom: 12px;
	border: 1px solid #ccc;
	h1 {
		text-align: center;
	}
	ul {
		margin-bottom: 0;
		padding-left: 0;
		li {
			list-style-type: none;
			padding-left: 7px;
			border-left: 5px solid @bright-blue;
			line-height: 22px;
			a {
				font-size: 14px;
			}
		}
	}
}

.icons-view{
	background: #eee;
	margin-top: 0;
	strong{
		font-style: italic;
		font-weight: normal;
		font-size: 12px;
	}
	.element{
		width: 150px;
		.container{
			padding: 10px;
		}
		.img.container{
			border: 1px solid #008cba;
			background: #fff;
		}
	}
}

.tabs{
	section{
		background: #fff;
	}
}

.toggle-panel{
	h2{
		display: none;
	}
}

.toggle-buttons{
	width: 100%;
	left: 0;
	margin-left: 0;
	background: #444;
	button{
		background: none;
		border: none;
		font-size: 1.3em;
	}
	button:hover{
		color: @light-blue;
	}
}

.toggle-panel.hide{
	width: 300px;
	opacity: 0;
	.run-transition(opacity);
}

.filters{
	position: absolute;
	right: 0;
	top: -50px;
	li{
		display: block;
		float: right;
	}
	li:first-child{
		display: none;
	}
}

a:hover{
	color: #000;
}

.lightbox-backdrop{
	background: #fff;
	opacity: 0.7;
}

.line{
	border: none;
}

input[type=text], input[type=search], input[type=password]{
	height: 25px;
	line-height: 25px;
	padding-left: 5px;
	font-family: Lato;
	font-size: 14px;
}

textarea{
	padding-left: 5px;
	font-family: Lato;
	font-size: 14px;
}

.warning{
	background: #ccc;
	color: #666;
	border-left: 10px solid @pink;
	.border-radius(0px);
	text-align: left;
}


.info{
	background: #ccc;
	color: #666;
	border-left: 10px solid @bright-blue;
	.border-radius(0px);
	text-align: left;
}


.info{
	background: #ccc;
	color: #666;
	border-left: 10px solid @bright-blue;
	.border-radius(0px);
}

.lightbox-window{
	border: 5px solid #555;
	.border-radius(3px);
	box-shadow: none;
	background: #444;
	color: #888;
	border-radius: 0;
	h1, h2, h3, h4, h5{
		color: #AAA;
	}
	a:hover{
		color: #ccc;
		.run-transition(background);
	}
	.line{
		border: 0;
		margin: 0;
	}
	tr{
		background: #555;
		border-color: #5F5F5F;
		border-width: 1px;
	}
	thead tr{
		background: #5f5f5f;
	}
	input[type=text], input[type=search], textarea {
		background: #494949;
		border: 1px solid #595959;
		color: #999;
		margin-left: 1px;
	}
}

[data-drop-down]{
	box-shadow: 3px 3px 3px #AAA;
	ul{
		background: #008cba;
		border: 1px;
		color: #fff;
		font-family: Lato;
		font-size: 1.2em;
		padding: 1px;
		li:hover{
			background: #fff;
			color: #008cba;
		}
	}
}

.comment{
	background: #eee;
	border: 1px solid #ccc;
}

nav.vertical{
	article{
		background: transparent;
		border: none;
		h3{
			font-family: Arial;
			font-style: normal;
			margin-left: -10px;
			margin-top: -10px;
			margin-right: 10px;
			padding-left: 10px;
			border-top: 5px solid;
			padding-top: 5px;
			.run-transition(color);
		}
		a{
			margin-left: 0;
			color: #000;
		}
		strong{
			font-weight: normal;
		}
	}
	article.selected{
		background: transparent;
		a{
			color: @bright-blue;
		}
		h3{
			color: @bright-blue;
		}
	}
}

article.selected{
	background: @bright-blue;
	color: #fff;
	a{
		color: #fff;
	}
}

[contenteditable]{
	border: 1px solid #ccc;
}

.grid-exemple.row .article, .grid-exemple.row .absolute{
	font-size: 14px;
	padding: 10px;
	color: #888;
	border: #eee solid 5px;
	border-radius: 5px;
	background: #fff;
	text-align: left;
}

.panel{
	p{
		line-height: 29px;
	}
}

i[role=unknown-large], i[role=xls-large], i[role=ppt-large], i[role=pdf-large], i[role=video-large]{
	.icon(unknown-large, 135px);
}

i[role=audio-large]{
	.icon(audio-large, 135px);
}

i[role=folder-large]{
	.icon(folder-large, 135px);
}

.datepicker{
	padding: 0;
	table{
		tr{
			background: #fff;
			td, td:first-child, th{
				width: 22px;
				font-size: 12px
			}
			td:hover{
				background: #ccc
			}
		}
	}
}

.lightbox-view{
	.lightbox-window;
}

.lightbox-background{
	.lightbox-backdrop;
}