@import "../../../../public/css/app";
@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic);

@dark-blue: #074e68;
@bright-blue: #085a78;
@light-blue: #008cba;
@black: #2A2829;
@bright-blue: #008cba;

//legend colors
@green: #6fbd2c;
@purple: #a04ac5;
@pink: #fa4860;
@cyan: #50b9fa;
@orange: #FD841C;

i[role=send-mail]{
	.icon(glyphicons_010_envelope, 24px);
	margin: 7px;
}

i[role=view-folder]{
	.icon(glyphicons_144_folder_open, 24px);
	margin: 7px;
}

i[role=view-book]{
	.icon(glyphicons_071_book, 24px);
	margin: 7px;
}

i[role=angry]{
	.icon(default, 25px);
}

i[role=default]{
	.icon(default, 25px);
}

i[role=dreamy]{
	.icon(default, 25px);
}

i[role=happy]{
	.icon(default, 25px);
}

i[role=joker]{
	.icon(default, 25px);
}

i[role=love]{
	.icon(default, 25px);
}

i[role=proud]{
	.icon(default, 25px);
}

i[role=sad]{
	.icon(default, 25px);
}

i[role=sick]{
	.icon(default, 25px);
}

i[role=tired]{
	.icon(default, 25px);
}

i[role=worried]{
	.icon(default, 25px);
}

i[role=show-icons]{
	.icon(glyphicons_156_show_thumbnails, 24px);
	opacity: 0.5;
}

i[role=show-details]{
	.icon(glyphicons_157_show_thumbnails_with_lines, 24px);
	opacity: 0.5;
}

i[role=show-list]{
	.icon(glyphicons_158_show_lines, 24px);
	opacity: 0.5;
}

i[role=show-icons].selected{
	opacity: 1;
}

i[role=show-details].selected{
	opacity: 1;
}

i[role=show-list].selected{
	opacity: 1;
}

i[role=close]{
	.icon(glyphicons_207_remove_2, 24px);
}

i[role=close2x]{
	.icon(glyphicons_207_remove_2, 50px);
}

i[role=tools]{
	.icon(glyphicons_280_settings, 25px);
}

@header-height: 40px;

.container{
	header.main{
		height: @header-height;
		max-width: none;
	}

	.main.wrapper{
		padding-top: @header-height;
		max-width: none;

	}
	.main{
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
	}
}

.mood-widget{
	border: 1px solid #ccc;
	background: #eee;
	padding-top: 0;
	.icons-select{
		margin-top: 0;
	}
}

.birthday{
	background: #fff;
	h1{
		text-align: center;
	}
	border: 1px solid #ccc;
	.content{
		border: none;
	}
}

.row{
	max-width: 100%;
}

.dominos{
	.item{
		width: 14%;
	}
	.domino.green{
		background: @green;
	}
	.domino.orange{
		background: @orange;
	}
	.domino.purple{
		background: @purple;
	}
	.domino.cyan{
		background: @cyan;
	}
	.domino.pink{
		background: @pink;
	}
}

.calendar{
	padding-bottom: 35% !important;
	border: 1px solid #ccc;
	border-bottom: 0;
	background: #fff;
	.current-month-header{
		top: 0;
	}
	.content{
		border-radius: 0px;
		border: 1px solid #ccc;
		border-top: 0;
		background: #fff;
		margin-top: 18%;
		.day{
			font-size: 10px;
		}
		.day.today{
			color: #fff;
			background: #000;
		}
	}
	.current-day{
		h1{
			font-size: 14px;
			text-align: center;
			font-weight: normal;
			margin-bottom: -10px;
			margin-top: 5px;
		}
		h2{
			font-size: 40px;
			margin: 0;
			margin-top: 5px;
			text-align: center;
			font-weight: normal;
		}
		h3{
			font-weight: 100;
			font-size: 14px;
			text-align: center;
			margin-top: -10px;
			padding-top: 6px;
		}
	}
}

a{
	color: @bright-blue;
	text-decoration: none;
}

ul.icons-tabs{
	right: 255px;
	li{
		border-radius: 25px;
	}
}

.navbar{
	.vertical-gradient(#000, #222);
	width: 100%;
	.welcome-message{
		display: none;
	}
	img{
		padding: 0px;
	}
	.account a{
		color: #fff;
		display: block;
		margin-left: 10px;
		margin-top: 10px;
	}
}

.tag{
	color: #ccc;
	padding-left: 10px;
}

button.cancel, input[type=button].cancel{
	background: #ccc;
	color: #333;
}

.panel{
	width: 400px;
	background: #fff;
	margin-left:auto;
	margin-right: auto;
	.border-radius;
	padding: 15px;

	label{
		width: 150px;
	}

	input[type=text], input[type=password]{
		width: 200px;
		float: right;
		line-height: 20px;
		border: 1px solid #ccc;
	}
	a{
		display: block;
		clear: both;
	}
	h1 img{
		display: none;
	}

	input[type=submit]{
		float: right;
	}
}

button, input[type=button], a.button, input[type=submit]{
	background: @bright-blue;
	padding: 4px;
	padding-left: 10px;
	padding-right: 10px;
	color: #fff;
	border-radius: 3px;
	font-size: 15px;
	border: 1px solid transparent;
	.run-transition(background);
	font-family: Lato;
	font-weight: 300;
}

nav.horizontal{
	a{
		font-family: Lato;
		font-weight: 300;
		font-size: 1.3em;
		margin-left: 5px;
		margin-right: 5px;
	}
	a:hover{
		color: @bright-blue;
	}
}

button:hover{
	background: #fff;
	color: #000;
	border: 1px solid @bright-blue;
}

nav.vertical{
	margin-right: 50px;
	margin-left: -20px;
	h2{
		display: none;
	}
	ul{
		margin: 0;
		padding: 0;
		width: 100%;
		li{
			padding-left: 20px;
			.border-box;
			a{
				color: #000;
				.run-transition(color);
				font-family: Lato;
				font-weight: 300;
				margin-left: 0;
				border-right: 8px solid #ccc;
			}
			a.selected{
				font-style: italic;
				color: @bright-blue;
				border-right: 8px solid @bright-blue;
			}
			a:hover{
				color: @bright-blue;
				background: #ddd;
				border-right: 8px solid @bright-blue;
			}
		}
	}
	article, a{
		margin-left: 20px;
	}
	a.classic-link{
		margin-left: 20px;
		display: block;
		padding: 5px;
		padding-left: 11px;
		background: @bright-blue;
		color: #fff;
		font-size: 1.2em;
		font-family: Lato;
		font-weight: 300;
	}
}

nav.horizontal{
	right: 10px;
	bottom: 20px;
	a{
		color: #fff;
	}
}

h1{
	font-size: 2em;
}

h1, h2, h3, h4, h5{
	a{
		color: #333;
	}
	color: #333;
	font-weight: 300;
	letter-spacing: 2px;
	font-family: Lato;
	margin-top: 5px;
	margin-bottom: 5px;
}

h3{
	font-size: 1.4em;
	font-style: italic;
}

.display-buttons{
	display: none;
}

table{
	border-bottom: 2px solid @bright-blue;
	td{
		padding: 5px;
	}
	tr{
		border: 2px solid #fff;
		background: #f5f5f5;
	}
	tr.checked{
		background: #fff;
	}
	thead{
		tr{
			background: #fff;
			font-family: Lato;
			font-weight: 300;
			font-size: 1.3em;
			border-top: 2px solid @bright-blue;
			border-bottom: 2px solid @bright-blue;
		}
	}
}

article{
	background: #fff;
	border-radius: 3px;
	border: none;
}

body{
	section.main{
		background: #eee;
	}
	font-size: 12px;
}

thead{
	font-size: 12px;
	th{
		padding: 5px;
	}
}

div[ng-controller=Widgets]{
	display: none;
}

.icons-view{
	margin-top: 0;
	.element{
		padding-bottom: 20px;
		float: none;
		a{
			text-align: left;
		}
	}
}

.tabs{
	header, section{
		border-color: #ccc;
	}
	header{
		font-family: serif;
		color: rgb(104, 104, 167);
	}
	header.selected{
		font-style: italic;
		font-size: 16px;
		color: #000;
	}
	section{
		background: #fff;
	}
}

.toggle-panel{
	opacity: 1;
	.run-transition(opacity);
	background: #fff;
	border: 1px solid #ccc;
	right: 0px;
	top: 53px;
	h2{
		display: none;
	}
}

.toggle-buttons{
	width: 100%;
	left: 0;
	margin-left: 0;
	background: #333;
	button{
		background: none;
		border: none;
		font-size: 1.3em;
	}
	button:hover{
		color: @light-blue;
	}
}

.toggle-panel.hide{
	width: 300px;
	opacity: 0;
	.run-transition(opacity);
}

.filters{
	position: absolute;
	right: 0;
	top: -50px;
	li{
		display: block;
		float: right;
	}
	li:first-child{
		display: none;
	}
}

a:hover{
	color: #000;
}

section.lightbox-backdrop{
	background: #fff;
}

.lightbox-window{
	border: 1px solid #ccc;
	.border-radius(3px);
	box-shadow: 3px 3px 3px #ccc;
}

nav.vertical{
	article{
		background: transparent;
		border: none;
	}
	article.selected{
		background: transparent;
	}
}

.grid-exemple.row .article, .grid-exemple.row .absolute{
	font-size: 14px;
	padding: 10px;
	color: #888;
	border: #eee solid 5px;
	border-radius: 5px;
	background: #fff;
	text-align: left;
}

.panel{
	p{
		line-height: 29px;
	}
}