<a class="button is-primary" aria-hidden="true"
   [title]="'filters' | translate"
   [ngClass]="{'is-active': filtersOn()}"
   (click)="toggleVisibility()">
  <s5l>filters</s5l>
  <i class="fa fa-chevron-down" aria-hidden="true"></i>
</a>
<div *ngIf="show">
  <div *ngFor="let filter of listFilters.filters">
    <div *ngIf="filter.comboModel.length > 0">
      <ode-multi-combo
        [comboModel]="filter.comboModel"
        [(outputModel)]="filter.outputModel"
        [title]="filter.label | translate"
        [display]="filter.display || translate"
        [orderBy]="filter.order || orderer"
        [filter]="filter.filterProp">
      </ode-multi-combo>
      <div class="multi-combo-companion">
        <div *ngFor="let item of filter.outputModel"
             (click)="deselect(filter, item)">
                            <span *ngIf="filter.display">
                                {{ item[filter.display] }}
                            </span>
          <span *ngIf="!filter.display">
                                {{ item | translate }}
                            </span>
          <i class="fa fa-trash is-size-5"></i>
        </div>
      </div>
    </div>
  </div>
</div>
