{
    "name": "{{ entcoreAuthVersion }}",
    "config": {
        "main": "org.entcore.auth.Auth",
        "port": 8009,
        {% if ha and authInstance is defined %}
        "instances": {{ authInstance }},
        {% endif %}
        {% if ipMongodbAuth is defined %}       
        "mongo-address": "{{ipMongodbAuth}}",
        {% endif %}
        "auto-redeploy": false,
        "ssl": true,
        {% if passwordEventMinDate is defined %}
        "password-event-min-date": "{{ passwordEventMinDate }}", 
        {% endif %}
        {% if passwordEventSyncDefaultValue is defined %} 
        "password-event-sync-default-value": {{ passwordEventSyncDefaultValue }}, 
        {% endif %}
        "maxRetry": {{ maxRetry|default(20) }},
        "safeRedirect":{
            "delayInMinutes": {{ safeRedirectDelay|default(30) }},
            "defaultDomains": {{ safeRedirectDomains|default([]) }}
        },
        "sessions-limit": {{ sessionsLimit|default('0') }},
        "ip-allowed-by-pass-limit": {{ ipAllowedLimit|default([]) }},
	    {% if sessionLimitPlatform is defined %}
        "session-limit-config" : {
            "uri": "{{sessionLimitPlatformUri}}",
            "platform" : "{{ sessionLimitPlatform }}",
            "delay-refresh-session-limit" : 120000
        },
	    {% endif %}
	    "reset-code-expire-delay":{{ resetCodeExpireDelay|default(86400000) }},
        "app-type" : "SYSTEM",
        {% if externalTokens is defined %}
        "externalTokens": {{externalTokens}}, 
        {% endif %}
        {% if overrideTheme %} 
        "override-theme": {}, 
        {% endif %}
        {% if csrfToken %}
        "csrf-token": true,
        {% endif %}
        "mode": "prod",
        {% if cookieTimeout is defined and (not(inactivity is defined) or not(inactivity))  %}
        "cookie_timeout" : {{ cookieTimeout }},
        {% endif %}
        "email": "{{fromEmail}}",
        {% if mandatory is defined %}
        "mandatory": {{ mandatory }},
        {% endif %}
        "activationAutoLogin": true,
        "teacherForgotPasswordEmail": false,
        "authenticationServer": {
            "loginURL": "/auth/login",
            "logoutURL": "/auth/logout",
            "loginCallback": "",
            "logoutCallback": ""
        },
        {% if authLocations is defined %}{{ authLocations }},{% endif %}
        {% if authSaml is defined %}{{ authSaml }}{% endif %}
        "passwordRegex": "{{ passwordRegex }}",
        "host": "https://{{ host }}"
        {% if openidConnectIss is defined %},
        "openid-connect":{
            {% if openidConnectKeys is defined %}
            "keys" : "{{ openidConnectKeys }}",
            {% else %}
            "keys" : "{{homeCertificate}}",
            {% endif %}
            {% if openidConnectCerts is defined %}
            "certs" : "{{ openidConnectCerts }}",
            {% else %}
            "certs" : "{{homeCertificate}}",
            {% endif %}
            "iss" : "{{ openidConnectIss }}"
        }
        {% endif %}
        {% if authSlo is defined %},"slo": {{ authSlo }} {% endif %}
        {% if openidFederate is defined %},
        "openid-federate": {{ openidFederate }}
        {% endif %}
    }
}