<div ng-if="lightmode">
	<div class="row">
		<div class="widgets">
			<div ng-include="template.containers.widgets"></div>
		</div>
		<div class="widgets-friend">
			<div data-ng-controller="FlashMessages" class="twelve cell">
				<div class="flashmsg" ng-repeat="message in messages.all" ng-class="message.color" ng-style="{ 'background-color': message.customColor }">
					<i class="close-2x right-magnet" tooltip="timeline.mark.flashmsg" ng-click="markMessage(message)"></i>
					<div bind-html="message.contents[currentLanguage]"></div>
				</div>
			</div>
			<div class="twelve cell">
				<div class="emptyscreen">
					<h2 class="emptyscreen-header">
						<i18n>lightmode.timeline.notifications.title</i18n>
					</h2>
					<img class="emptyscreen-image__mini" src="/timeline/public/img/lightmode-timeline.svg">
					<p class="emptyscreen-footer">
						<i18n>lightmode.timeline.notifications</i18n>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div ng-include="template.containers.settings"></div>
</div>
<div ng-if="!lightmode">
	<div class="row">
		<div class="widgets" pulsar="{ index: 6, i18n: 'timeline.pulsar.widgets', position: 'top right', className: 'pulse-widgets', workflow: 'org.entcore.workspace.service.WorkspaceService|listFolders'}">
			<div ng-include="template.containers.widgets"></div>
		</div>
		<div class="widgets-friend" ng-include="template.containers.notifications"></div>
	</div>
	<div ng-include="template.containers.settings"></div>
</div>
