
<app-title>
    <h1>
        <a href="/userbook/mon-compte"><i class="orange-user"></i><span translate content="account.myaccount"></span></a>
    </h1>
</app-title>

<!-- <h2><i18n>xtnotifications.title</i18n></h2> -->

<div class="twelve tabs vertical-spacing-twice heading-tabs">
    <header class="horizontal-spacing-twice">
        <a href="/userbook/mon-compte#/edit-me">
            <span><i class="person"></i><i18n>panel.my.profile</i18n></span>
        </a>
    </header>
    <header class="horizontal-spacing-twice selected" workflow="timeline.externalNotifications">
        <a href="/timeline/preferencesView">
            <span><i class="bell"></i><i18n>panel.notifications.set</i18n></span>
        </a>
    </header>
    <header class="horizontal-spacing-twice" workflow="timeline.historyView">
        <a href="/timeline/historyView">
            <span><i class="history"></i><i18n>panel.user.history</i18n></span>
        </a>
    </header>
    <header class="horizontal-spacing-twice" ng-if="display.pickTheme" workflow="directory.switchTheme" ng-class="{ selected: template.contains('account/main', 'account/themes') }">
        <a href="/userbook/mon-compte#/themes">
            <span><i class="desktop"></i><i18n>panel.user.pickTheme</i18n></span>
        </a>
    </header>
</div>

<div class="row my-notifications">

    <div class="row">
        <div class="cell reduce-block-six"><i18n>xtnotifications.mail</i18n></div>

        <form name="userForm" novalidate class="reduce-block-four">
            <input type="email" name="mail" complete-change="userForm.$valid ? saveChanges(userinfos) : ''" ng-model="userinfos.email"/>
            <span ng-if="userForm.mail.$invalid && userForm.mail.$dirty" class="input-errors" >
                <span ng-repeat="(key, value) in userForm.mail.$error">
                    <label ng-if="value">[[lang.translate('form.invalid.'+key)]]</label>
                </span>
            </span>
        </form>
    </div>

    <div class="responsive-table">

        <table class="fixed-head">
            <tr></tr>
            <tr>
              <th></th>
              <th><i18n>xtnotifications.immediat</i18n></th>
              <th><i18n>xtnotifications.daily</i18n></th>
              <th><i18n>xtnotifications.weekly</i18n></th>
              <th><i18n>xtnotifications.never</i18n></th>
            </tr>
        </table>

        <div class="row">
            <table ng-repeat="appli in applis.all | orderBy: 'orderType'" >
              <thead ng-class="{ slided: appli.slided }">
                  <tr ng-init="appli.slided = $first">
                    <td ng-click="appli.slided = appli.slided ? false : true "><i class="arrow"></i>[[lang.translate(appli.type.toLowerCase())]]</td>
                    <td data-label="[[lang.translate('xtnotifications.immediat')]]"><span><input type="radio" value="IMMEDIATE" name="[[appli.type]]" ng-model="appli.freq" ng-change="appliFreq(appli)"/></span></td>
                    <td data-label="[[lang.translate('xtnotifications.daily')]]"><span><input type="radio" value="DAILY" name="[[appli.type]]" ng-model="appli.freq" ng-change="appliFreq(appli)"/></span></td>
                    <td data-label="[[lang.translate('xtnotifications.weekly')]]"><span><input type="radio" value="WEEKLY" name="[[appli.type]]" ng-model="appli.freq" ng-change="appliFreq(appli)"/></span></td>
                    <td data-label="[[lang.translate('xtnotifications.never')]]"><span><input type="radio" value="NEVER" name="[[appli.type]]" ng-model="appli.freq" ng-change="appliFreq(appli)"/></span></td>
                  </tr>
              </thead>
              <tbody slide="appli.slided">
                <tr ng-repeat="appAction in appli.appActions.all | orderBy: 'orderName'">
                    <td>[[lang.translate(appAction.key)]]</td>
                    <td data-label="[[lang.translate('xtnotifications.immediat')]]"><input type="radio" value="IMMEDIATE" ng-model="appAction.defaultFrequency" ng-change="updateAppliFreq(appli)" name="[[appAction.key]]"/></td>
                    <td data-label="[[lang.translate('xtnotifications.daily')]]"><input type="radio" value="DAILY" ng-model="appAction.defaultFrequency" ng-change="updateAppliFreq(appli)" name="[[appAction.key]]"/></td>
                    <td data-label="[[lang.translate('xtnotifications.weekly')]]"><input type="radio" value="WEEKLY" ng-model="appAction.defaultFrequency" ng-change="updateAppliFreq(appli)" name="[[appAction.key]]"/></td>
                    <td data-label="[[lang.translate('xtnotifications.never')]]"><input type="radio" value="NEVER" ng-model="appAction.defaultFrequency" ng-change="updateAppliFreq(appli)" name="[[appAction.key]]"/></td>
                </tr>
              </tbody>
            </table>
        </div>

    </div>

    <div class="right-magnet">
        <a class="button" href ng-click="savePreferences()">
            <i18n>xtnotifications.validate</i18n>
        </a>
    </div>

</div>
