<app-title>
	<h1 data-reload class="application-title"><i18n>timeline.title</i18n></h1>
</app-title>
<div data-ng-controller="FlashMessages" class="twelve cell">
    <div class="flashmsg" ng-repeat="message in messages.all"
        ng-class="message.color"
        ng-style="{ 'background-color': message.customColor }">
        <i class="close-2x right-magnet" tooltip="timeline.mark.flashmsg" ng-click="markMessage(message)"></i>
        <div bind-html="message.contents[currentLanguage]"></div>
    </div>
</div>
<div data-ng-controller="Timeline" class="twelve cell">

	<microbox title="timeline.admin.filter.by" close="ok" class="micro-left">
		<div class="row" ng-if="filtered.notificationTypes.length > 0">
			<i18n>filters.title</i18n>
		</div>
		<filters>
			<li ng-repeat="type in (filtered.notificationTypes = notificationTypes.all)" ng-class="{ selected: type.selected }">
				<label>
					<i class="[[type.data.toLowerCase()]] type" tooltip="[[type.data.toLowerCase()]]"></i>
					<input type="checkbox" ng-model="type.selected" ng-change="type.apply()" />
					<span translate content="[[type.data.toLowerCase()]]"></span>
				</label>
			</li>
		</filters>
	</microbox>

	<div data-ng-repeat="notification in notifications.all track by notification._id" class="row notification" bottom-scroll="loadPage()">
		<article ng-class="{ 'unread': isUnRead(notification) }">
			<div class="row">
				<div class="avatar">
					<i class="system-avatar" ng-if="!notification.sender"></i>
					<img ng-src="/userbook/avatar/[[notification.sender]]?thumbnail=100x100" ng-if="notification.sender" />
				</div>
				<div class="content horizontal-spacing">
					<p class="inline" bind-html="notification.message"></p>
				</div>
			</div>
			<div class="notification-date">
				<em class="low-importance right-magnet">[[formatDate(notification.date.$date)]]</em>
			</div>
		</article>
		<div class="notification-actions" ng-class="{'opened': notification.opened}" ng-if="showActions()">
			<div class="opener" ng-click="notification.opened = !notification.opened">
				<span class="symbol">◀</span>
			</div>
			<div class="actions">
				<div ng-repeat="(name, action) in actions" ng-show="!action.condition || action.condition(notification)" class="action [[ name ]]">
					<i></i>
					<a ng-click="action.action(notification)" ng-disabled="notification[action.doneProperty]">
						[[ notification[action.doneProperty] ? lang.translate(action.doneLabel) : lang.translate(action.label) ]]
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row notification" ng-show="notifications.loading">
		<h1 class="reduce-block-eight nomargin"><i18n>loading</i18n></h1>
	</div>
</div>
