
<div ng-controller="Personalization">
	<div ng-class="{ 'toggle-panel': true, hide: !showPanel }">
		<div class="toggle cell">
			<h1><i18n>panel.title</i18n></h1>
			<div class="row">
				<div class="twelve cell skins-picker">
					<h2><i18n>panel.themes</i18n></h2>
					<div class="twelve cell">
						<div class="six cell reduce-block-four" ng-repeat="skin in skins.all" ng-click="saveTheme(skin, $event)" class="element">
							<div class="twelve cell photo-preview">
								<img ng-src="[[skin.path]]thumbnail.png" />
							</div>
							<em ng-click="saveTheme(skin, $event)" class="medium-importance centered twelve cell skin-[[skin.displayName]]">[[lang.translate(skin.displayName)]]</em>
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-controller="Widgets">
				<div class="twelve cell widgets-picker" ng-if="widgets.all.length > 0">
					<h2><i18n>panel.widgets</i18n></h2>
					<div class="row">
						<div ng-repeat="widget in widgets.all" ng-click="switchHide(widget, $event)" class="three cell" 
							ng-class="{ inactive: widget.hide, locked: widget.mandatory }">
							<i class="[[widget.name]]-icon" ng-class="{ selected: !widget.hide }"></i>
							<em class="medium-importance">[[lang.translate(widget.name)]]</em>
						</div>
					</div>
				</div>
			</div>

			<div class="row" workflow="timeline.allowLanguages">
				<div class="twelve cell lang-picker" ng-if="languages.length > 0">
					<h2><i18n>panel.languages</i18n></h2>
					<div class="row">
						<div class="lang-current reduce-block-eight">
							<i class="globe"></i>
							<span>[[lang.translate('language.' + languagePreference)]]</span>
						</div>
						<div class="flags">
							<div ng-repeat="language in languages" ng-click="saveLang(language, $event)" class="flag reduce-block-eight">
								<i class="flag-[[language]]"></i>
								<em class="medium-importance">[[lang.translate('language.' + language)]]</em>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<ul class="icons-tabs row"
		pulsar="{ index: 5, i18n: 'timeline.pulsar.settings', position: 'center left', className: 'pulse-settings'}">

		<li ng-click="togglePanel($event)"
			ng-class="{ active: showPanel }">
				<i class="tools">
				</i>
		</li>
	</ul>
</div>
