@import "../../../assets/themes/raw/magenta/theme";
@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic);

@nav-width: 300px;

header.navbar{
	background: #444;
	position: absolute;
	width: 100%;
	height: 42px;
	top: 0;
	left: 0;
	z-index: 20;

	h1:first-child{
		font-size: 1.3em;
		padding-left: 10px;
		margin: 10px;
		float: left;
		color: #fff;
		border-bottom: 0;
	}

	a{
		float: right;
	}
}

i.disconnect{
	.icon(glyphicons_063_power, 35px);
	.invert-colors();
	margin: 5px;
	float: right;
}

i.ok{
	.icon(glyphicons_206_ok_2, 31px);
}

i.nok{
	.icon(glyphicons_207_remove_2, 31px);
}

.preview{
	padding-top: 15px;
	padding-bottom: 15px;
	h2{
		font-size: 16px;
		color: #888;
		margin: 0;
		border: none;
	}
	iframe{
		background: #eee;
		.border-radius();
	}
}

h1{
	font-size: 30px;
}

h1:first-child{
	margin-top: 0;
}

html section.main, body section.main{
	min-height: 100%;
	padding-top: 0;
}

article.main{
	height: 100%;
	padding-top: 0;
}

article{
	.reduce-block-eight;
	.border-radius();
	border: none;
	background: transparent;
	padding: 15px;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

nav.left{
	z-index: 1;
	position: fixed;
	top: 0;
	padding-top: 53px;
	width: @nav-width;

	button{
		margin-bottom: 10px;
		margin-top: 10px;
		position: absolute;
		top: 0;
		left: 50px;
		display: block;
	}
}

.container{
	margin-top: 52px;
}

input[type=text], select, label{
	height: 25px;
	line-height: 25px;
}

input[type=text]{
	.border-radius(5px);
	background: #fff;
	border: none;
	padding-left: 5px;
}

.preview iframe{
	overflow: hidden;
	height: 152px;
}

.humane-original-error, .humane-original-info{
	font-family: Lato;
	font-weight: 300;
}

.humane-original-info{
	background: @bright-blue;
}