@import "../../../assets/themes/raw/magenta/theme";
@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic);

@nav-width: 300px;

header.navbar{
	background: #444;
	position: absolute;
	width: 100%;
	height: 42px;
	top: 0;
	left: 0;
	z-index: 20;

	h1:first-child{
		font-size: 1.3em;
		padding-left: 10px;
		margin: 10px;
		float: left;
		color: #fff;
		border-bottom: 0;
	}

	a{
		float: right;
	}
}

i.disconnect{
	.icon(glyphicons_063_power, 35px);
	.invert-colors();
	margin: 5px;
	float: right;
}

i.ok{
	.icon(glyphicons_206_ok_2, 31px);
}

i.nok{
	.icon(glyphicons_207_remove_2, 31px);
}

.preview{
	padding-top: 15px;
	padding-bottom: 15px;
	h2{
		font-size: 16px;
		color: #888;
		margin: 0;
		border: none;
	}
	iframe{
		background: #eee;
		.border-radius();
	}
}

.tooltip{
	.content{
		background: @bright-blue;
		color: #fff;
		max-width: 150px;
	}
	.arrow{
		color: @bright-blue;
	}
}

a{
	text-decoration: none;
	color: @bright-blue;
	.run-transition(color);
}

a:hover{
	color: @dark-blue;
}

h1{
	font-size: 30px;
}

h1:first-child{
	margin-top: 0;
}

h1, h2{
	color: @black;
	border-bottom: 1px solid @black;
	font-weight: 300;
	font-family: Lato;
	margin-bottom: 10px;
}

html section.main, body section.main{
	min-height: 100%;
	padding-top: 0;
}

article.main{
	height: 100%;
	padding-top: 0;
}

article{
	.reduce-block-eight;
	.border-radius();
	border: none;
	background: transparent;
	padding: 15px;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

nav.left{
	z-index: 1;
	position: fixed;
	top: 0;
	padding-top: 53px;
	width: @nav-width;

	button{
		margin-bottom: 10px;
		margin-top: 10px;
		position: absolute;
		top: 0;
		left: 50px;
		display: block;
	}
}

.container{
	margin-top: 52px;
}

input[type=text], select, label{
	height: 25px;
	line-height: 25px;
	width: 200px;
	margin: 3px
}

input[type=text]{
	.border-radius(5px);
	background: #fff;
	border: none;
	padding-left: 5px;
}

.side-tabs{
	z-index: 2;
	border-right: none;
	background: #eee;
	width: 180px;
	margin-top: 5px;
	ul{
		margin: 0;
		padding: 0;
		li{
			list-style-type: none;
			padding: 10px;
			color: @bright-blue;
			background: #ddd;
			border-right: 1px solid @bright-blue;
		}
		li.selected{
			color: @black;
			background: #eee;
			border: 1px solid @bright-blue;
			border-right: none;
			border-left-width: 5px;
			box-sizing: content-box;
			margin-left: -5px;
		}
	}

}

.side-tabs-content{
	.border-radius(0);
	z-index: 1;
	border: 1px solid @bright-blue;
	margin-left: -1px;
	border-top-width: 5px;
	border-bottom-width: 5px;
}

.accordion{
	h2{
		font-family: Arial;
		padding: 4px;
		padding-left: 10px;
		padding-right: 10px;
		.vertical-gradient(#eee, #e5e5e5);
		border: 1px solid #ccc;
		.border-radius();
		font-size: 20px;
		margin-bottom: 0;
		color: #666;
		margin-top: 15px !important;
	}
	.toggle{
		height: 0px;
		.run-transition(height);
		overflow: hidden;
		padding: 0px;
		.content{
			padding: 10px;
			h3{
				font-weight: normal;
				color: @bright-blue;
				font-size: 16px;
			}
		}
	}
}

.selectable-list{
	padding: 0;
	li{
		list-style-type: none;
		border: 1px solid @bright-blue;
		padding: 5px;
		.border-radius();
		.run-transition(background);
		margin: 5px;
	}

	li.selected{
		background: @bright-blue;
		color: #fff;
	}
}

.accordion.opened{
	h2{
		border: 1px solid #ccc;
		.border-radius(0px);
		.border-radius-top();

	}
	.toggle{
		height: 300px;
		overflow: hidden;
		border: 1px solid #ccc;
		border-top: 0;
	}
}

.preview iframe{
	overflow: hidden;
	height: 152px;
}

.humane-original-error, .humane-original-info{
	font-family: Lato;
	font-weight: 300;
}

.humane-original-info{
	background: @bright-blue;
}