@import "../../../../../../../../css-lib/app";
@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700);

@nav-width: 300px;

@pink-theme: #fd4a98;
@orange-theme: #ff7f5f;
@blue-theme: #1776B2;
@purple-theme: #9C27B0;
@red-theme: #FF483E;
@green-theme: #319171;
@grey-theme: #607D8B;

div.admin-theme-picker{
	width: 31px;
	height: 31px !important;
	margin-top: 6px;
	margin-left: 6px;
	border-radius: 15px;
	border-right: 8px solid #444;
	transition: border-color 0.25s ease-in-out;

	&:hover{
		border-right-color: #EEE;
	}

	&.pink{
		background: @pink-theme;
	}
	&.orange{
		background: @orange-theme;
	}
	&.blue{
		background: @blue-theme;
	}
	&.purple{
		background: @purple-theme;
	}
	&.red{
		background: @red-theme;
	}
	&.green{
		background: @green-theme;
	}
	&.grey{
		background: @grey-theme;
	}
}

*{
	font-weight: 300;
}

html, body{
	background-color: #eee;
	font-family: Lato;
}

body {
	overflow-x: hidden;
	font-size: 14px;
	line-height: 20px;

	section.main{
		background: transparent;
	}
}

a{
	color: @main;
	text-decoration: none;

	&:hover{
		color: #000;
	}
}

form{
	margin-bottom: 0px;
}

h1, h2, h3, h4, h5{
	font-family: Lato;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: normal;
}

h1{
	color: @main;
	font-size: 48px;
}

h2{
	font-size: 30px;
	max-width: 930px;
	margin-left: auto;
	margin-right: auto;
	strong{
		color: @main;
	}
	a{
		color: #444;
	}
}

h3{
	color: @main;
	text-align: left;
	font-size: 22px;

	&.subtitle{
		height: 30px;
		font-size: 18px;
		margin: 5px 0px;
	}
}

h4{
	text-align: center;

	&.subtitle{
	    margin: 9px 10px;
	}
}

h5{
	text-align: center;
	font-size: 16px;
	margin: 0;
}
h6{
	margin: 10px 0px;
	font-size: 15px;
}

article{
	border-radius: 3px;
	border: none;
	margin-bottom: 15px;
}

button, input[type=button], a.button, input[type=submit]{
	background: @main;
	padding: 9px 18px;
	color: #fff;
	font-size: 15px;
	border: 1px solid transparent;
	.run-transition(background);
	font-family: Lato;
	font-weight: 300;
	line-height: 20px;
}

button:hover, input[type=button]:hover, input[type=submit]:hover, a.button:hover{
	background: #444;
	color: #fff;
}

header.navbar{
	background: #444;
	position: absolute;
	width: 100%;
	height: 42px;
	top: 0;
	left: 0;
	z-index: 20;

	h1:first-child{
		font-size: 1.3em;
		padding-left: 10px;
		margin: 10px;
		float: left;
		color: #fff;
		border-bottom: 0;
	}

	a{
		float: right;
	}
}

i.ok{
	.icon(glyphicons_206_ok_2, 31px);
}

i.nok{
	.icon(glyphicons_207_remove_2, 31px);
}

i.folded-icon{
	transition: background .25s ease-in-out;

	.icon(glyphicons_223_chevron-bottom, 22px);

	&.folded{
		.icon(glyphicons_223_chevron-right, 22px);
	}
}
i.disconnect{
	.icon(glyphicons_063_power_white, 35px);
	margin: 5px;
	float: right;
	margin-bottom: -6px;
}
i.spinner{
	.icon(glyphicons_081_refresh, 35px);
	animation: spin 1000ms infinite linear;
	transform-origin: 51.5% 51.5%;
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

i.loader{
	height: 10px;
	width: 10px;
	background-image: url("../img/icons/anim_loading_small.gif");
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	.border-box;
	vertical-align: middle;
}

.preview{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	h2{
		font-size: 16px;
		color: #888;
		margin: 0;
		border: none;
	}
	iframe{
		background: #eee;
		.border-radius();
	}
}

h1{
	font-size: 30px;
}

h1:first-child{
	margin-top: 0;
}

html section.main, body section.main{
	min-height: 100%;
	max-width: 1300px;
	margin: 0px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}

article.main{
	height: 100%;
	padding-top: 0;
}

article{
	.reduce-block-eight;
	.border-radius();
	border: none;
	background: transparent;
	padding: 15px;
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
}

a.button[disabled], button[disabled], input[type=button][disabled], input[type=submit][disabled],
a.button[disabled]:hover, button[disabled]:hover, input[type=button][disabled]:hover, input[type=submit][disabled]:hover{
	color: #fff;
	background: #BBB;
	border: 1px solid #CCC;
	cursor: default;
}

button, input[type=submit], input[type="button"]{
	padding: 5px 10px;
	border-radius: 3px;
	box-shadow: 0px 0px 1px rgba(0, 0 ,0, 0.7);

	&.small{
		padding: 2px 5px;
		font-size: 14px;
	}
}

select{
	background: #494949;
	color: #999;
	border: 1px solid #595959;
	height: 25px;
}
select[disabled]{
	color: #fff;
    background: #BBB;
    border: 1px solid #CCC;
    cursor: default;
}

input[type=text], select, label{
	height: 25px;
	line-height: 25px;
}

input[type=text], input[type="tel"], input[type="email"]{
	.border-radius(5px);
	background: #fff;
	border: none;
	padding-left: 5px;
}

input[type=text], input[type=search], input[type=password], input[type="tel"], input[type="email"]{
	height: 25px;
	line-height: 25px;
	padding-left: 5px;
	font-family: Lato;
	font-size: 14px;
	margin-bottom: 7px;
}

input.ng-invalid{
	border: 2px solid red;
	background: #FFCCCC;
	color: #444;
}

.selectable-list{
	li{
		border: none;
		.border-radius(0);
		border-left: 10px solid #ccc;
		background: transparent;
		color: #999;
	}

	li.selected{
		border: none;
		.border-radius(0);
		background: #444;
		border-left: 10px solid @main;
		color: #aaa;
	}
}

nav.side-tabs{
	font-size: 12px;
	width: 25%;

	> ul{

		/*max-height: 550px;*/
		overflow-y: scroll;

		li{
			border-color: @main;
			color: #ccc;
			background: #444;
		}
		li:hover{
			color: @main;
		}
		li.selected{
			border-color: @main;
			color: #2a2829;
		 	background: #FCFCFC;
			border-right: none;
		 	border-top: none;
		  	border-bottom: none;
		}
		li.selected:first-child{
			border-top: 1px solid @main;
			.border-radius(0);
		}
		li.selected:last-child{
			border-bottom: 1px solid @main;
			.border-radius(0);
		}
	}

	&.recursive-list{

		background: #444;
  		border-top-right-radius: 10px;
  		border-top-left-radius: 10px;
		border-bottom: 3px solid @main;

		input[type=text]{
			display: block;
			width: 95%;
			height: 29px;
			background: #444;
			color: white;
			margin: 10px auto;
			border-bottom: 2px solid @main;
			border-radius: 0px;
			transition: border-color 0.25s ease;

			&:focus{
				border-color: white;
			}
		}

		i.folded-icon{
			transition: all .25s ease-in-out;
			margin-right: 10px;
			background-size: contain;
			height: 14px;
			width: 14px;
			-webkit-filter: invert(0);
			filter: invert(0);

			&.folded{
				-webkit-filter: invert(1);
				filter: invert(1);
			}
		}

		li{
			transition: all .25s ease-in-out;
			padding-right: 0px;

			&.top-item{
				&.last{
					border-bottom: 1px solid @accent;
				}
			}

			&:hover{
				background: whitesmoke;
				color: @main;

				> i.folded-icon{
					-webkit-filter: invert(0);
					filter: invert(0);
				}
			}

			&.selected{

				&:hover{
					background: white;
					color: @main;
				}

				ul{
					box-shadow: 0px 0px 3px;

					li{
						border-radius: 0px !important;
					}
				}
			}
		}

		> ul {
			ul {
				li:first-child{
					//border-top: 4px solid @main;
				}

				li.selected{
					border: none;
					background: @main;
					color: white;
					box-shadow: 0px 0px 3px;
				}
			}
		}
	}
}

.side-tabs-content{
	border-color: @main;
	border-width: 1px;
	border-radius: 10px;
	box-shadow: 2px 2px 3px #333;
	border-right: none;
	border-bottom: none;
	padding-right: 15px;

	&.unpadded{
		padding-right: 0px;
	}

	&.content-flex{
		display: -webkit-flex;
		display: flex;
	}
}

nav.left{
	z-index: 1;
	position: fixed;
	top: 0;
	padding-top: 53px;
	width: @nav-width;

	button{
		margin-bottom: 10px;
		margin-top: 10px;
		position: absolute;
		top: 0;
		left: 50px;
		display: block;
	}
}

nav.vertical{
	padding-right: 15px;

	h2{
		font-size: 18px;
		font-family: Arial;
		font-weight: normal;
		font-variant: small-caps;
		color: #444;
		margin-top: 20px;
	}
	ul{
		margin: 0;
		padding: 0;
		width: 100%;
		li{
			padding-left: 20px;
			.border-box;
			a{
				color: #000;
				.run-transition(background);
				font-family: Lato;
				font-weight: 300;
				margin: 0;
				border-right: 8px solid #ccc;
				line-height: 25px;
				i.arrow{
					height: 20px;
					display: block;
					float: left;
					color: #fff;
					font-family: Arial;
				}
				i.arrow::before{
					content: "▸";
					font-size: 16px;
					line-height: 13px;
					color: @main;
				}
			}
			a.selected{
				color: #FFF;
				border-right: 8px solid @main;
				background: #444;
				i.arrow::before{
					margin-top: 4px;
					color: #666;
				}
			}
			a:hover{
				color: @main;
				background: #ccc;
			}
			a.opened{
				i.arrow::before{
					content: "▾";
				}
			}
		}
	}
	ul:first-child > li, div ul:first-child > li, h2 + ul > li{
		padding-left: 0;
	}
	a.classic-link{
		display: block;
		padding: 5px;
		padding-left: 11px;
		background: @main;
		color: #fff;
		font-family: Lato;
		font-weight: 300;
		width: 100%;
		.border-box;
		.run-transition(background);
		border-radius: 3px;
		border: 1px solid transparent;
	}
	a.classic-link:hover{
		background: #444;
	}
}

.container{
	padding: 0px;
	padding-top: 80px;
	margin: 0px;
}

.preview iframe{
	overflow: hidden;
	height: 152px;
}

.humane-original-error, .humane-original-info{
	font-family: Lato;
	font-weight: 300;
}

.humane-original-info{
	background: @blue;
}

.tooltip{
	.content{
		color: white;
		background: @main;
	}
	.arrow{
		color: @main;
	}

}

ul.angle-list{
	list-style-type: none;

	> li{
		font-family: Lato;
		font-size: 20px;
		padding-left: 5px;
		margin-bottom: 10px;
		padding-top: 5px;
		border-bottom: 1px solid @main;
		border-left: 3px solid @main;
		color: black;

		button.close{
			font-size: 14px;
			padding: 0px;
			width: 16px;
			height: 16px;
			line-height: 0px;
		}
		button.close::after{
			content: 'X'
		}
	}

	&.small{
		padding-left: 0px;

		> li{
			font-size: 15px;
			padding-left: 10px;
			padding-bottom: 2px;
			padding-top: 0px;
		}
	}
}

div.leaf-menu-container{
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 3px solid @main;
	text-align: center;
}
div.leaf-menu{
	display: inline-block;
	margin-right: 10px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: 10px;
	font-family: Lato;
	font-size: 20px;
	-moz-transition: background 200ms ease-in;
	-webkit-transition: background 200ms ease-in;
	-o-transition: background 200ms ease-in;
	transition: background 200ms ease-in;

	&:hover{
		background-color: @secondary;
	}
	&.selected{
		background-color: @secondary;
	}
}

div.angle-container{
	font-size: 16px;
	font-family: Lato;
	padding: 10px;
	background: #444;
	color: white;
	border-left: 5px solid @main;
	border-bottom: 5px solid @main;
}

input[type=text].angle-container-header{
	font-weight: 300;
	font-family: Lato;
	margin-top: 10px;
	margin-bottom: 0;
	line-height: 30px;
	background: transparent;
	font-size: 24px;
	height: 40px;
	border-radius: 0;
	color: #333;
	border-left: 5px solid @main;
	border-bottom: 2px solid @main;
}

div.angle-container-header{
	font-weight: 300;
	font-family: Lato;
	margin-top: 10px;
	margin-bottom: 0;
	line-height: 30px;
	background: transparent;
	font-size: 24px;
	height: 40px;
	border-radius: 0;
	color: #333;
	border-left: 5px solid @main;
	border-bottom: 2px solid @main;
}

button.instantButtons{
	margin-right: 10px;
	border: 0;
	width: 33px;
	height: 28px;
	vertical-align: middle;
	background-color: @accent;

	&.select{
		background-image: url(/public/img/glyphicons-halflings-white.png);
		background-position: 14.5% 68%;
		background-repeat: no-repeat;
	}

	&.deselect{
		background-image: url(/public/img/glyphicons-halflings-white.png);
		background-position: 9% 68%;
		background-repeat: no-repeat;
	}
}

nav.search-container{
	padding-right: 0;
	border-right: 2px ridge @main;
	border-bottom: 2px ridge @main;
}

nav.search-container-left{
	display: -webkit-flex;
	display: flex;
  	-webkit-flex-direction: column;
  	flex-direction: column;
	-webkitflex: 0.35;
	flex: 0.35;
	list-style: none;
	font-family: Lato;
	min-height: 500px;
	max-width: 25%;
	padding: 0;
	//margin-bottom: 14;
	margin-top: 14;
	border-right: 2px ridge @main;
	border-bottom: 2px ridge @main;
}

nav.search-container,
nav.search-container-left{
	> input[type=text]{
		display: inline-block;
		background-color: inherit;
		border-radius: 0;
		padding-left: 20;
		font-size: 16px;
		width: 95%;
		height: 40px;
		border-bottom: 1px solid #444;
	}

	> ul{
		//height: 500px;
		position: absolute;
  		height: calc(~"100% - 50px");
		overflow-y: scroll;
	}
}

div.search-container-view{
	padding: 10px 15px 0px 20px;
	-webkit-flex: 1;
	flex: 1;
}

hr.separator{
	margin: 15px 0 15px 0;
	padding: 0;
	border: 1px solid black;
}

.accordions{
	.accordion{
		h2{
			.vertical-gradient(#383838, #333);
			border: 1px solid #555;
			color: #666;
			border-bottom: none;
		}
		h2:hover{
			background: #444;
			color: #fff;
		}
		.toggle{
			background: #333;
			.content{
				color: #999;
				h3{
					color: @main;
				}
				input[type=text], textarea, select{
					background: #2C2C2C;
					border: none;
				}
			}
			textarea{
				background: #252525;
			}
		}
	}

	.accordion:last-child{
		h2{
			border-bottom: 1px solid #555;
		}
	}

	.accordion.opened{
		h2{
			border: 1px solid #555;
			color: @main;
			border-bottom: none;
			background: #333;

		}
		.toggle{
			border: 1px solid #555;
			border-top: none;
		}
	}
}

.progress-bar{
	.filled{
		background: @main;
	}
	.filled.small{
		color: @main;
	}
}

.navbar{
	background: #444;
}

.toggle-buttons{
	background: #444;
}

.icons-view .element.selected .container {
	background: @main;
}

div.vertical-buttons-container, div.horizontal-buttons-container{

	position: absolute;
	z-index: 100;

	button{
		margin: 0px;
	}

	button.directory-list-glyph-button{
		width: 30px;
		height: 30px;
		padding: 0;
		background-image: url(/public/img/glyphicons-halflings.png);
		background-repeat: no-repeat;

		&.filter-icon{
			background-position: 91% 104%;
		}
		&.silhouette-icon{
			background-position: 36.5% -5%;
		}
		&.question-mark-icon{
			background-position: 20% 67.5%;
		}
		&.plus-icon{
			background-position: -1.5% 68%;
		}
	}

	button.directory-list-sort-button{
		width: 30px;
		height: 30px;
		padding: 0;
		background-image: url(/public/img/glyphicons_409_sort-by-attributes-alt.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 15px 15px;
	}
}

div.vertical-buttons-container{
	right: -15px;
	width: 30px;
	top: 0px;

	button{
		margin-bottom: 15px;
	}
}
div.horizontal-buttons-container{
	left: 0px;
  	top: -40px;
	width: auto;

	button{
		margin-left: 5px;
	}
}

button.directory-direct-link-button{
	background-image: url(/public/img/glyphicons-halflings.png);
	width: 25px;
	height: 25px;
	background-position: 25.5%;
}

.inline-middle{
	display: inline-block;
	vertical-align: middle;
}

div.legend-square{
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;

	&.red{
		background-color: red;
	}
	&.teal{
		background-color: teal;
	}
	&.orange{
		background-color: orange;
	}
	&.purple{
		background-color: purple;
	}
	&.blue{
		background-color: dodgerblue;
	}
	&.black{
		background-color: black;
	}
}

div.legend-separator{
	width: 100%;
	margin-top: 5px;
	&.first{
		margin-top: inherit;
	}
}

label.legend-label{
	display: inline-block;
	vertical-align: middle;
	font-family: Lato;
	&.bold{
		font-weight: bold;
	}
	&.underline{
		text-decoration: underline;
	}
	&.line-through{
		text-decoration: line-through;
	}
	&.italic{
		font-style: italic;
	}
	&.background-white{
		background-color: white;
	}
	&.marged{
		margin-left: 35px
	}
}

.user-style{
	font-weight: normal;

	&.student{
		color: black;
	}
	&.teacher{
		font-weight: bold;
		color: red;
	}
	&.personnel{
		font-weight: bold;
		color: teal;
	}
	&.relative{
		color: orange;
	}
	&.guest{
		color: dodgerblue;
	}
	&.isolated{
		text-decoration: underline;
	}
	&.not-active{
		font-style: italic;

		&::after{
			content: " *";
		}
	}
}

.padding-top-5{
	padding-top: 5px;
}

.margin-top-5{
	margin-top: 5px;
}
.margin-top-10{
	margin-top: 10px;
}

.row-item{
	margin-right: 10px !important;
}

/* Change accordion size & some styles for admin panels */
.accordions{
	.large-dark-input{
		width: 100%;
		margin-top: 0;
		margin-bottom: 10;
		background-color: #444;
		color: #EEE;
		outline: none;
	}

	.accordion.opened .toggle{
		height: 330px;
	}

	article:first-child{
		h2{
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}
	}
	article:last-child{
		h2{
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}
	}
	article h2{
		font-size: 18px !important;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.content{
		a:hover{
			color: white;
		}
	}
}

nav.admin-bar {
    min-height: 35px;
    overflow-y: hidden;
    transition: max-height 250ms ease;
    margin-top: 43px;
	padding: 0px;
	border: none;
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: #EEE;

	ul li{
  		transition: height 0.25s ease-in-out;

		&:not(.selected){
			height: 0px;
		}
	}
}

nav.admin-bar:hover {
    //max-height: 120px;
    border-bottom: 1px solid #444;

	ul li {
		height: 35px;
	}
}

.selectable-list{

	li.cols3{
		width: 29%;
		margin: 2px;
		display: inline-block;
	}

}

table tr:hover{
	background: #ccc;
}

table{
	width: 100%;
	border-bottom: 2px solid @main;

	td{
		padding: 5px;
	}
	tr, tr.underline{
		background: none;
		border-top: 1px dashed #ddd;
		.run-transition(background);
	}

	thead{
		tr{
			font-family: Lato;
			font-weight: 700;
			font-size: 1.3em;
			background: #444;

			border-top: 5px solid;
			border-bottom: 1px solid;
			border-left: 1px solid;
			border-right: 1px solid;

			border-bottom-color: @main;
			border-top-color: @main;

			&:hover{
				background: #444;
			}

			th{
				padding: 5px;
				background: white;
				font-size: 16px;

				a.selected{
					color: @main;
				}
			}
		}
	}

	tbody {
		font-family: Lato;
		text-align: center;

		tr {
			border-left: 1px solid @main;
  			border-right: 1px solid @main;

			&.separator{
				border-bottom: 1px solid @main;
			}
		}
	}

	tbody.no-hover{
		tr:hover{
			background: inherit;
		}
	}
}

table.comm-table{
	table-layout: fixed;

	thead{
		font-size: 12px;
		font-weight:bold;

		tr{
			border-bottom: 2px solid @main;
			border-top: none;
			border-right: 2px solid @main;
			border-left: none;
			color: white;
			background: inherit;

			th:first-child{
				background-color: rgb(238, 238, 238);
				border-top: none;
			}
			th:nth-child(2){
				border-top: 3px solid @main;
				border-left: 2px solid @main;
			}
			th:nth-child(3){
				border-right: 1px solid #444;
				border-top: 3px solid @main;
			}
			th{
				background: #444;
				border-top: 3px solid @main;
			}
		}
	}

	tbody{
		font-size: 12px;
		font-family: Lato;

		tr{
			border-right: 2px solid @main;
			border-left: 2px solid @main;

			td:first-child{
				background-color: white;
				border-right: 2px solid @main;
			}
			td:nth-child(2){
				text-align: center;
				border: 1px solid #DDD;
			}
			td:nth-child(3){
				text-align: center;
				border: 1px solid #DDD;
				border-right: 1px solid #444;
			}
			td{
				border: 1px solid #DDD;
			}
		}
	}
}

div.users-search{
	//height: 550px;
	font-family: Lato;
	> div {
		width: 100%;
		border-bottom: 1px solid #444;
		margin-bottom: 5px;

		form{
			input[type=text]{
				width: 86%;
				background: inherit;
				border-radius: 0;
				padding-left: 20;
				height: 40px;
				font-size: 16px;
			}
		}
	}

	> ul{
		list-style: none;
		padding: 0 20 20 0;
		border-right: 2px ridge @main;
		border-bottom: 2px ridge @main;
		overflow-y: scroll;
		max-height: 488px;
	}
}

input[type=submit].check-button, button.check-button{
	padding: 0;
	margin: 0;
	width: 25px;
	height: 25px;
	border: none;
	position: absolute;
	top: 9px;
	right: 10px;

	&:after{
		content: "✓"
	}
}

div.right-content{
	//height: 564px;
	border-bottom: 2px ridge @main;
	border-right: 2px ridge @main;
	padding: 0px 20px;
	overflow-y: scroll;
}

.datepicker{
	padding: 0;
	table{
		thead{
			tr:first-child {
				th:hover {
					background: #eeeeee;
					color: #444;
				}
			}
			tr{
				background: #444;
				th:hover{
					background: #eeeeee;
					color: #444;
				}
			}
		}
		tr{
			background: #fff;
			td {
				span.active {
					background: #444;
				}
				span:hover {
					background: white;
				}
			}
			td, td:first-child, th{
				width: 22px;
				font-size: 12px
			}
			td:hover{
				background: inherit;
			}
		}
	}
}

div.quota-container{
	text-align: center;
	margin-bottom: 10px;

	> div {
		width: 250px;
		overflow: hidden;
		border: 1px solid black;
		display: inline-block;

		> div:first-child{
			background-color: @main;
			padding: 0;
			margin: 0;
			float: left;
		}
		> div:nth-child(2){
			width: 90%;
			display: inline-block;
			background-color: #444;
			padding: 0;
			margin: 0;
			float: left;
		}

		h4{
			text-align: center;
			margin: 0;
		}
	}
}

div.leaf-bordered-container{
	margin-bottom: 10px;
	border-bottom: 2px solid @main;
	text-align: center;
}

div.file-btn-container{
	text-align: center;
	background: @main;
	color: #fff;
	font-size: 15px;
	transition: background 250ms ease;
	border-radius: 3px;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7);
	font-size: 12px;
	overflow: hidden;

	&:hover{
		background: #444;
	}

	>input[type=file]{
		width: 200%;
		height: 100%;
		opacity: 0;
		position: absolute;
		left: -100%;
		height: 25px;
		cursor: pointer;
	}
}

multi-combo{
	display: block;
	height: 25px;

	.multi-combo-root-button{
		min-width: 150px;
		height: 25px;
		font-size: 12px;
		padding: 0px 10px;
		text-align: left;
		border-radius: 5px;
		width: 100%;

		&:not([disabled]){
			background-color: #494949;
		}

		&::after{
			content: '▼';
  			font-size: 10px;
 			float: right;
			transition: transform 0.25s ease-in-out;
			transition: -webkit-transform 0.25s ease-in-out
		}

		&.opened{
			&::after{
				transform: rotate(180deg);
				-webkit-transform: rotate(180deg);
			}
		}
	}
	.multi-combo-root-panel{
		position: absolute;
	    z-index: 10000;
		padding: 0px 10px;
		margin-top: 2px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		border-top-right-radius: 20px;
		box-shadow: 2px 2px 2px 0px #777;

		background: white;

		overflow: hidden;
		max-height: 500px;
		transition: max-height 0.25s ease-in-out;
		&.hidden{
			max-height: 0px;
		}
		div.multi-combo-panel-opts{
			width: 100%;
			margin-top: 10px;
		    border-bottom: 1px solid @accent;
			border-left: 1px solid @accent;
			border-bottom-left-radius: 5px;

			> * {
				display: inline-block;
				vertical-align: middle;
				margin: 0;
			}
			> h4{
				margin: 0;
			    margin-right: 10px;
			    font-size: 15px;
			    padding: 5px 10px;
			    border-right: 1px solid @accent;
			}
			> button{
				float: none;
			}
			> button.multi-combo-select-all{
				border: 0;
				width: 26px;
				height: 22px;
				background-image: url(/public/img/glyphicons-halflings-white.png);
				background-position: 15% 67%;
				background-repeat: no-repeat;
			}

			> button.multi-combo-deselect-all{
			    border: 0;
			    width: 26px;
			    height: 22px;
			    background-image: url(/public/img/glyphicons-halflings-white.png);
			    background-position: 9.5% 67%;
			    background-repeat: no-repeat;
			}
		}
		div.multi-combo-search-bar{
			margin: 10px 0px;
			width: 100%;
			position: relative;

			> input{
				min-width: 250px;
				width: 100%;
				height: 30px;
				box-sizing: border-box;
				border: none;
				border-bottom: 1px solid @accent;
				transition: border 0.25s ease-in-out;
				outline: none;

				&:focus{
					border-bottom: 2px solid @main;
				}
			}
			> i.multi-icon-search-cancel{
				background-image: url(/public/img/glyphicons_197_remove.png);
				width: 15px;
				height: 15px;
				position: absolute;
				background-repeat: no-repeat;
				background-size: cover;
				top: 8px;
				right: 5px;
				opacity: 0.5;
			}
		}
		> ul{
			list-style: none;
  			padding: 0px;
			max-height: 300px;
			overflow-y: scroll;
			margin-bottom: 10px;

			> li{
				line-height: 25px;
				font-size: 13px;
				transition:
					background-color 0.25s,
					color 0.25s;
				white-space: nowrap;
				margin-bottom: 5px;
				padding: 0px 10px;
				border-radius: 20px;

				&.selected{
					background-color: @secondary;
					&::before{
						content: "✓";
					}
				}
				&:not(.selected):not([disabled]):hover{
					color: white;
					background-color: @accent;
				}
				&:not(.selected)[disabled]{
					background-color: #CCC;
				}
			}
		}
	}
}

div.select-blocks{
	margin: 10px 0px;

	> div{
		position: relative;
		display: inline-block;
		margin-right: 2px;
		padding: 5px 10px;
		padding-right: 30px;
		border-radius: 10px;
		margin-bottom: 5px;
		background-color: #444;
		color: white;

		transition: all 0.25s ease-in-out;

		&.partial{
			background-color: #888;
		}

		&:hover{
			background-color: @accent;

			&::after{
				opacity: 1;
			}
		}
		&::after{
			content: "";
			background-image: url(/public/img/glyphicons_197_remove.png);
			width: 16px;
			height: 16px;
			position: absolute;
			background-repeat: no-repeat;
			background-size: cover;
			top: 7px;
			right: 8px;
			opacity: 0;
			filter: invert(100%);
			-webkit-filter: invert(100%);
			transition: opacity 0.25s ease-in-out;
		}
	}
}

table.search-table{
	table-layout: fixed;

	thead {
		vertical-align: top;

		input[type=text]{
			height: 30px;
		    box-sizing: border-box;
		    border: none;
		    border-bottom: 1px solid #444;
			border-radius: 0px;
		    transition: border 0.25s ease-in-out;
			outline: none;

			&:focus{
				border-bottom: 2px solid @accent;
			}
		}

		tr{
			border-top: none;
			border-bottom:none;
			border-left: 1px solid @main;
			border-right: 1px solid @main;

			&:first-child{
  				border-top: 2px solid @main;
			}
			&:last-child{
			  border-bottom:2px solid @main;
			}

			th{
				font-size: 15px;

				&[ng-click]{
					transition:
						color 0.25s ease-in-out,
						background-color 0.25s ease-in-out;
					&:hover{
						color: @accent;
					}
				}
			}
		}
	}
	tbody{
		> div{
			max-height: 500px;
			overflow-y: scroll;
		}

		tr{
			td{
				font-size: 14px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
}

.slide-content{
    padding: 20px;
	padding-top: 0px;
    border: 1px dashed black;
    border-radius: 10px;

	div.button-bar{
		border-bottom: 2px solid @accent;
    	padding: 5px 0px;

		> span {
			font-size: 16px;
    		line-height: 32px;
    		margin-right: 10px;
		}

		> button{
			margin-right: 5px;
		}
	}
}

div.spinner-bar{
	font-size: 30px;
    padding: 10px 5px;
    border-bottom: 2px solid @accent;

	> *{
		vertical-align: middle;
	}
}

i.close-2x{
	height: 15px;
    width: 15px;
    background-image: url("../img/icons/glyphicons_207_remove_2.png");
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    right: 0px;
    top: 0px;
}

.lightbox{
	div.content{
		border: 2px solid @accent;
	}

	.top{
		margin-bottom: 20px;
	}

	.bottom{
		margin-top: 20px;
	}
}

.button-horizontal-bar{
    text-align: center;

    > button {
        float: none;
        display: inline-block;
    }
}
