<!--

 -->

<div class="centered container row">
	<div class="main wrapper">
		<section class="main">
			<div id="directory"></div>
			<div ng-transclude  class="twelve cell"></div>
			<div class="clear"></div>
		</section>
	</div>
	<header class="main" data-ng-controller="Account">
		<section class="navbar row">
			<div class="cell">
				<a href="/userbook/mon-compte"><img data-ng-src="[[avatar]]?thumbnail=48x48" id="my-photo" /></a>
				<span class="welcome-message" translate key="welcome"></span>
			</div>
			<div class="cell">
				<div class="theme-preview [[theme.displayName]]" ng-repeat="theme in themes" ng-click="skin.setTheme(theme)"></div>
			</div>

		</section>
		<section class="row">
				<a href="/apps"><div class="logo"></div></a>
			<nav class="horizontal">
				<a href="/timeline/timeline"><i18n>portal.header.navigation.whatsnew</i18n></a>
				<a href="/welcome"><i18n>portal.header.navigation.myapps</i18n></a>
				<a logout><i class="disconnect"></i></a>
			</nav>
		</section>

	</header>
</div>