<!DOCTYPE html>
<html>
	<head>
		<title>{{#i18n}}xtnotifications.title{{/i18n}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1, maximum-scale=1" />
		<script type="text/javascript" src="/timeline/public/dist/entcore/ng-app-6feb910f23.js" id="context"></script>
		<script type="text/javascript" src="/timeline/public/dist/externalNotifs/application-a70b082cc0.js"></script>
		<script type="text/ng-template" id="empty"></script>
	</head>
	<body ng-controller="MainController">
		<portal>
			<div ng-include="template.containers.notifspanel"></div>
		</portal>
	</body>
</html>
