<!DOCTYPE html>
<html class="app">
	<head>
		<title>{{#i18n}}timeline.title{{/i18n}}</title>
		<meta charset="utf-8" />
		<script src="{{#infra}}js/moment+langs.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/jquery-1.9.1.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/underscore-min-1.4.4.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/mustache.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/humane.min.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/one-app.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/one.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#static}}js/timeline.js{{/static}}" type="text/javascript"></script>
		<script src="{{#infra}}js/iframe.js{{/infra}}" type="text/javascript"></script>
	</head>
	<body>
		<h1><i role="notification"></i>{{#i18n}}timeline.header{{/i18n}}</h1>
		<div class="timeline row">
			<div class="mod">
				<div id="form-window"></div>
				<article id="list" class="text-container">
				</article>
			</div>
		</div>
	</body>
</html>
