<!DOCTYPE html>
<html>
	<head>
		<title>{{#i18n}}timeline.title{{/i18n}}</title>
		<meta charset="utf-8" />
		<script src="{{#infra}}js/one-loader.js{{/infra}}" type="text/javascript" id="context"></script>
		<script src="{{#static}}js/timeline.js{{/static}}" type="text/javascript"></script>
	</head>
	<body>
		<script type="text/ng-template" id="add-comment">
			<button ng-click="navigate('comment', navigation.context)">Commenter</button>
		</script>
		<portal>
			<div class="timeline row">
				<div class="mod">
					<div ng-controller="Widgets" class="three cell">
						<article class="row"></article>
					</div>
					<div class="block-container nine cell">
						<h1><i role="notification"></i>{{#i18n}}timeline.title{{/i18n}}</h1>
						<article data-ng-controller="Timeline" class="twelve cell fluid">
							<div data-ng-repeat="notification in notifications" class="row line">
							<navigation-context ng-model="notification.context" path="/notification/default">

									<div class="two cell fixed-block height-two">
										<div class="fixed cell text-container">
											<div class="fluid cell clip">
												<img ng-src="/userbook/avatar/[[notification.sender]]" />
											</div>
										</div>
									</div>
									<div class="ten cell text-container">
										<div class="row">
											<div class="cell nine" data-ng-bind-html="notification.message"></div>
											<div class="cell right-magnet">
												<em class="low-importance">[[formatDate(notification.date.$date)]]</em>
											</div>
										</div>
										<div class="row">
											<div class="twelve cell content-block" view="comment">
											</div>
										</div>
									</div>
									<div class="clear"></div>

							</navigation-context>
							</div>
						</article>
					</div>
				</div>
			</div>
			<div ng-controller="Personalization">
				<div ng-class="{ 'toggle-panel': true, hide: !showPanel }">
					<div class="toggle cell">
						<h1>Personnalisation</h1>
						<div class="row">
							<div class="twelve cell">
								<h2>Mes thèmes</h2>
								<div class="twelve cell">
									<ul class="list icons-view two-cols">
										<li ng-repeat="skin in skins" ng-click="saveTheme(skin)">
											<div class="photo-preview">
												<img ng-src="[[skin.skinPath]]thumbnail.png" />
											</div>
											<a>[[skin.displayName]]</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<ul class="icons-tabs">
					<li ng-click="togglePanel()" ng-class="{ active: showPanel }"><i role="tools"></i></li>
				</ul>

			</div>

		</portal>

	</body>
</html>
