<!DOCTYPE html>
<html>
	<head>
		<title>{{#i18n}}timeline.title{{/i18n}}</title>
		<meta charset="utf-8" />
		<script src="{{#infra}}js/one-loader.js{{/infra}}" type="text/javascript" id="context"></script>
		<script src="{{#static}}js/model.js{{/static}}" type="text/javascript"></script>
		<script src="{{#static}}js/controller.js{{/static}}" type="text/javascript"></script>
	</head>
	<body ng-controller="MainController" ng-click="closePanel()">
		<portal>
			<div class="row">
				<div class="four cell block-container" ng-controller="Widgets">
					<div class="row" ng-repeat="widget in widgets.all">
						<div class="twelve cell" ng-include="widget.path"></div>
					</div>
				</div>
				<div class="eight cell">
						<h1><a data-reload><i role="notification"></i>{{#i18n}}timeline.title{{/i18n}}</a></h1>
						<article data-ng-controller="Timeline" class="twelve cell">
							<div class="row line filters">
								<ul>
									<li class="legend" translate key="filters.title"></li>

									<li ng-repeat="type in notificationTypes.all" ng-click="type.apply()">
										<i role="[[type.data.toLowerCase()]]"></i>[[translate(type.data.toLowerCase())]]
									</li>
									<li ng-click="removeFilter()">
										<i role="apps"></i>[[translate('filters.all')]]
									</li>
								</ul>
							</div>
							<div data-ng-repeat="notification in notifications.all" class="row line">
								<div class="two cell fixed-block height-two">
									<div class="fixed twelve cell text-container">
										<div class="fluid twelve cell clip">
											<img ng-src="/userbook/avatar/[[notification.sender]]?thumbnail=82x82" />
										</div>
									</div>
								</div>
								<div class="ten cell text-container" ng-class="{
									ten: true,
									cell: true,
									'text-container': true,
									'unread': isUnRead(notification)
								}">
									<div class="row">
										<div class="cell eight" data-ng-bind-html="notification.message"></div>
										<div class="cell right-magnet">
											<em class="low-importance">[[formatDate(notification.date.$date)]]</em>
										</div>
									</div>
									<view model="notification.resource" action="comment">
										<div class="row">
											<a translate key="comments.show"></a>
										</div>
										<div class="row">
											<button translate key="comments.add"></button>
										</div>
									</view>

								</div>
								<div class="clear"></div>
							</div>
						</article>
					</div>
				</div>
			</div>
			<div ng-controller="Personalization">
				<div ng-class="{ 'toggle-panel': true, hide: !showPanel }">
					<div class="toggle cell">
						<h1>Personnalisation</h1>
						<div class="row">
							<div class="twelve cell">
								<h2>Mes thèmes</h2>
								<div class="twelve cell">
									<ul class="list icons-view two-cols">
										<li ng-repeat="skin in skins.all" ng-click="saveTheme(skin, $event)">
											<div class="photo-preview">
												<img ng-src="[[skin.skinPath]]thumbnail.png" />
											</div>
											<a>[[skin.displayName]]</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<ul class="icons-tabs">
					<li ng-click="togglePanel($event)" ng-class="{ active: showPanel }"><i role="tools"></i></li>
				</ul>

			</div>

		</portal>

	</body>
</html>
