div.single{
	float:left;
	width:250px;
}
div.single .person-small{
	border:1px solid #C2C2C2;
	height: 70px;
	width: 210px;
	float: left;
	padding: 10px;
}
div.all .person-small{
	border:1px solid #C2C2C2;
	height: 70px;
	width: 210px;
	float: left;
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
}

.person-small span a{
	height:50%;
	width:31%;
	float:left;
	font-size: 1em;
	color:black;
}
.person-small img.avatar{
	height:90%;
	float:left;
	margin-right:5px;
}
.person-small img.mood{
	width:20%;
	float:right;
}
.person-small .actions{
	float:right;
}
.person-small .actions img{
	width:20px;
	height:15px;
}

#person{
	float:left;
	padding:10px;
	width:50%;
}
#person img.avatar{
	width:150px;
	height:150px;
	float:left;
	margin-right:3px;
}
#person img.mood{
	width:50px;
	height:auto;
	float:left;
}
#person #actions img{
	width:40px;
	height:30px;
	float:left;
}

span.actions img{
	width:10px;
	height:auto;
}
a{
	text-decoration: none;
	color: black;
}
.clear{
	clear:both;
}
.highlight{
	background-color: #CCC;
}
