#picture {
  position: relative;
  width: 30%;
  text-align: center;
  border: 0px;
}

#data {
  position: absolute;
  background-color: #EEEEEE;
  width: 68%;
  right: 1%;
  top: 3em;
  border: 0px;
}

#motto {
  position: absolute;
  background-color: #EEEEEE;
  width: 68%;
  right: 1%;
  top: 16em;
  border: 0px;
}

#interests {
  position: relative;
  background-color: #EEEEEE;
  width: 100%;
  border: 0px;
}

#health {
  position: relative;
  background-color: #EEEEEE;
  width: 100%;
  border: 0px;
}

span[contenteditable]:hover{
	background: yellow;
	border:none;
}

#mood{
	display:block;
	width:300px;
	height:50px;
}
select#mood option[value="amoureux"] { background-image:url(/public/img/amoureux.jpg); }
select#mood option[value="triste"] { background-image:url(/public/img/triste.jpg); }
select#mood option[value="colere"] { background-image:url(/public/img/colere.jpg); }
select#mood option[value="embete"] { background-image:url(/public/img/embete.jpg); }
select#mood option[value="content"] { background-image:url(/public/img/content.jpg); }
select#mood option[value="farceur"] { background-image:url(/public/img/farceur.jpg); }
select#mood option[value="malade"] { background-image:url(/public/img/malade.jpg); }
select#mood option[value="reveur"] { background-image:url(/public/img/reveur.jpg); }
select#mood option[value="fatigue"] { background-image:url(/public/img/fatigue.jpg); }
select#mood option[value="fier"] { background-image:url(/public/img/fier.jpg); }