.row {
  max-width: 960px;
  width: 100%;
  position: relative;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.cell {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  position: relative;
}
.right-magnet {
  float: right !important;
}
.bottom-magnet {
  position: absolute;
  bottom: 0;
}
.fixed-block {
  box-sizing: content-box;
  position: relative;
  height: 1px;
}
.fixed-block .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.fixed-block .cell.fluid {
  position: relative;
  height: 100%;
}
.fixed-block .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
.height-one {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 8.333333333333334%;
}
.height-one .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-one .cell.fluid {
  position: relative;
  height: 100%;
}
.height-one .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
.height-one-plus-half {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 12.5%;
}
.height-one-plus-half .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-one-plus-half .cell.fluid {
  position: relative;
  height: 100%;
}
.height-one-plus-half .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 720px) {
  .left-one {
    left: 8.333333333333334%;
  }
}
.height-two {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 16.666666666666668%;
}
.height-two .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-two .cell.fluid {
  position: relative;
  height: 100%;
}
.height-two .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 720px) {
  .left-two {
    left: 16.666666666666668%;
  }
}
.height-three {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 25%;
}
.height-three .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-three .cell.fluid {
  position: relative;
  height: 100%;
}
.height-three .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 720px) {
  .left-three {
    left: 25%;
  }
}
.height-four {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 33.333333333333336%;
}
.height-four .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-four .cell.fluid {
  position: relative;
  height: 100%;
}
.height-four .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 720px) {
  .left-four {
    left: 33.333333333333336%;
  }
}
.height-five {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 41.66666666666667%;
}
.height-five .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-five .cell.fluid {
  position: relative;
  height: 100%;
}
.height-five .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 720px) {
  .left-five {
    left: 41.66666666666667%;
  }
}
.height-six {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 50%;
}
.height-six .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-six .cell.fluid {
  position: relative;
  height: 100%;
}
.height-six .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
.left-six {
  box-sizing: content-box;
  position: relative;
  height: 1px;
}
.left-six .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.left-six .cell.fluid {
  position: relative;
  height: 100%;
}
.left-six .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 720px) {
  .left-six {
    left: 50%;
  }
}
.height-seven {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 58.333333333333336%;
}
.height-seven .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-seven .cell.fluid {
  position: relative;
  height: 100%;
}
.height-seven .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 720px) {
  .left-seven {
    left: 58.333333333333336%;
  }
}
.height-eight {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 66.66666666666667%;
}
.height-eight .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-eight .cell.fluid {
  position: relative;
  height: 100%;
}
.height-eight .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 720px) {
  .left-eight {
    left: 66.66666666666667%;
  }
}
.height-nine {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 75%;
}
.height-nine .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-nine .cell.fluid {
  position: relative;
  height: 100%;
}
.height-nine .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 720px) {
  .left-nine {
    left: 75%;
  }
}
.height-ten {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 83.33333333333334%;
}
.height-ten .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-ten .cell.fluid {
  position: relative;
  height: 100%;
}
.height-ten .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 720px) {
  .left-ten {
    left: 83.33333333333334%;
  }
}
.height-eleven {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 91.66666666666667%;
}
.height-eleven .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-eleven .cell.fluid {
  position: relative;
  height: 100%;
}
.height-eleven .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 720px) {
  .left-eleven {
    left: 91.66666666666667%;
  }
}
.height-twelve {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 100%;
}
.height-twelve .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-twelve .cell.fluid {
  position: relative;
  height: 100%;
}
.height-twelve .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 720px) {
  .left-twelve {
    left: 100%;
  }
}
.fluid {
  position: relative !important;
}
.absolute {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.one {
  width: 1;
  width: 8.333333333333334%;
}
.two {
  width: 1;
  width: 16.666666666666668%;
}
.three {
  width: 1;
  width: 25%;
}
.four {
  width: 1;
  width: 33.333333333333336%;
}
.five {
  width: 1;
  width: 41.66666666666667%;
}
.six {
  width: 1;
  width: 50%;
}
.seven {
  width: 1;
  width: 58.333333333333336%;
}
.eight {
  width: 1;
  width: 66.66666666666667%;
}
.nine {
  width: 1;
  width: 75%;
}
.ten {
  width: 1;
  width: 83.33333333333334%;
}
.eleven {
  width: 1;
  width: 91.66666666666667%;
}
.twelve {
  width: 1;
  width: 100%;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.content-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}
/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  /*.dow {
		border-top: 1px solid #ddd !important;
	}*/

}
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.datepicker > div {
  display: none;
}
.datepicker table {
  width: 100%;
  margin: 0;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.datepicker td.day.disabled {
  color: #eeeeee;
}
.datepicker td.old,
.datepicker td.new {
  color: #cccccc;
}
.datepicker td.active,
.datepicker td.active:hover {
  background: -webkit-linear-gradient(#cccccc, #cccccc);
  background: -moz-linear-gradient(#cccccc, #cccccc);
  background: -o-linear-gradient(#cccccc, #cccccc);
  background: linear-gradient(#cccccc, #cccccc);
  -pie-background: linear-gradient(#cccccc, #cccccc);
  behavior: url(/assets/themes/panda/css/PIE.htc);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td span:hover {
  background: #eeeeee;
}
.datepicker td span.active {
  background: -webkit-linear-gradient(#cccccc, #cccccc);
  background: -moz-linear-gradient(#cccccc, #cccccc);
  background: -o-linear-gradient(#cccccc, #cccccc);
  background: linear-gradient(#cccccc, #cccccc);
  -pie-background: linear-gradient(#cccccc, #cccccc);
  behavior: url(/assets/themes/panda/css/PIE.htc);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.old {
  color: #cccccc;
}
.datepicker th.switch {
  width: 145px;
}
.datepicker th.next,
.datepicker th.prev {
  font-size: 18px;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.fixed {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
a,
button,
input[type=button],
input[type=submit] {
  cursor: pointer;
}
i {
  font-style: normal;
}
iframe {
  border: none;
  width: 100%;
  height: 100%;
  overflow: visible;
}
body.app {
  margin: 0;
}
textarea {
  max-width: 100%;
  border: 1px solid #ccc;
}
nav.vertical {
  padding-right: 10px;
}
nav.vertical h1 {
  margin-top: 0;
}
nav.vertical ul {
  margin-top: 0;
  width: 99%;
  padding-left: 10px;
}
nav.vertical ul li {
  float: none;
  display: block;
  font-size: 14px;
  font-weight: normal;
  width: 100%;
  top: 0;
}
nav.vertical ul li a {
  display: block;
  position: relative;
  line-height: 20px;
  padding: 5px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
nav.vertical ul li a i {
  display: block;
  float: right;
  margin-top: 2px;
}
nav.vertical ul li a.selected {
  background: #ccc;
}
nav.vertical ul li input {
  position: relative !important;
  top: 0px !important;
  left: 0px !important;
}
nav.vertical ul li input[type=text],
nav.vertical ul li input[type=search] {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  margin-left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.dominos .mood {
  position: absolute;
  top: 22px;
  right: 5px;
}
.dominos .item {
  min-width: 154px;
}
.dominos .item .domino {
  border: 1px solid #ccc;
}
textarea {
  width: 100%;
  height: 130px;
}
.badge {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #ccc;
  font-weight: bold;
  padding: 1px;
  display: inline-block;
  width: 15px;
  height: 15px;
  text-align: center;
}
.navbar {
  height: 40px;
}
.navbar .cell {
  height: 100%;
}
.navbar img {
  float: left;
  display: block;
  vertical-align: top;
  margin: 0;
  padding: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 100%;
  width: auto;
}
.navbar .welcome-message {
  display: block;
  float: left;
  line-height: 30px;
  margin-top: 8px;
}
.navbar .account {
  height: 100%;
  float: right !important;
}
.navbar .account i {
  margin-top: 3px;
}
nav.horizontal {
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 0px;
}
nav.horizontal a {
  display: inline-block;
  vertical-align: bottom;
}
.search {
  position: relative;
  margin-top: 5px;
  margin-right: 10px;
}
.search input {
  display: block;
  margin: 0;
  float: left;
}
.filters h5 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  position: relative;
  width: 170px;
  margin: 0;
}
.filters h5 img {
  max-width: 100%;
}
.filters ul {
  margin-bottom: 0;
}
.filters li {
  display: inline-block;
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
}
.user-content {
  white-space: pre-line;
}
input[type=search] {
  padding: 3px;
}
.inline {
  margin: 0;
}
p i {
  display: inline-block !important;
  height: 25px !important;
  width: 25px !important;
  float: none !important;
}
.welcome-text {
  display: none;
}
.birthday {
  width: 1;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 45px;
  padding-right: 1px;
  margin-bottom: 25px;
  background-color: #eee;
}
.birthday img {
  max-width: 100%;
}
.birthday .content {
  margin-top: 35px;
  width: 1;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  position: relative;
  border: 1px solid;
  border-top: none;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.birthday .content img {
  max-width: 100%;
}
.birthday h1 {
  margin: 0;
  position: absolute;
  top: 0;
}
.birthday nav.vertical {
  padding: 0;
}
.birthday nav.vertical ul {
  margin: 0;
  width: 100%;
}
.birthday nav.vertical ul li {
  padding: 0;
  margin: 0;
}
.birthday nav.vertical ul li a {
  margin: 0;
  padding-left: 5px;
}
.birthday nav.vertical ul li a .user {
  display: inline-block;
  width: 1;
  width: 41.66666666666667%;
  height: 100%;
  line-height: 100%;
  vertical-align: middle;
}
.birthday nav.vertical ul li a .user p {
  margin: 0;
}
.birthday nav.vertical ul li a .date {
  float: right !important;
  display: inline-block;
  vertical-align: middle;
}
.birthday nav.vertical ul li a .date h2,
.birthday nav.vertical ul li a .date h4 {
  margin: 0;
}
.birthday nav.vertical ul li a .date h4 {
  font-size: 12px;
  font-weight: normal;
}
.birthday nav.vertical ul li a img {
  height: 35px;
  width: 35px;
  vertical-align: middle;
  margin-right: 10px;
}
.horizontal-spacing {
  padding-left: 5px;
  padding-right: 5px;
}
.horizontal-spacing-twice {
  padding-left: 10px;
  padding-right: 10px;
}
.vertical-spacing {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.vertical-spacing-twice {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.calendar {
  box-sizing: content-box;
  height: 1px;
  padding-bottom: 58.333333333333336%;
  width: 1;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 35.7%;
  padding-right: 1px;
  padding-bottom: 49.4% !important;
}
.calendar .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.calendar .cell.fluid {
  position: relative;
  height: 100%;
}
.calendar .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
.calendar img {
  max-width: 100%;
}
.calendar .content {
  margin-top: 25.7%;
  width: 1;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  position: relative;
  border: 1px solid;
  border-top: none;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.calendar .content img {
  max-width: 100%;
}
.calendar .content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  height: 98%;
}
.calendar .day {
  width: 14.2%;
  height: 17px;
  text-align: center;
  padding-top: 2px;
}
.calendar .current-month-header {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 26px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.dominos {
  width: 1;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  position: relative;
}
.dominos img {
  max-width: 100%;
}
.dominos .item {
  width: 1;
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  position: relative;
  padding: 5px;
  overflow: hidden;
}
.dominos .item img {
  max-width: 100%;
}
.dominos .item .domino {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  position: relative;
  width: 1;
  width: 100%;
}
.dominos .item .domino img {
  max-width: 100%;
}
.dominos .item .domino .top {
  box-sizing: content-box;
  height: 1px;
  padding-bottom: 91.66666666666667%;
  max-width: 960px;
  width: 100%;
  position: relative;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.dominos .item .domino .top .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.dominos .item .domino .top .cell.fluid {
  position: relative;
  height: 100%;
}
.dominos .item .domino .top .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
.dominos .item .domino .top img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.dominos .item .domino .bottom {
  box-sizing: content-box;
  height: 1px;
  padding-bottom: 75%;
  max-width: 960px;
  width: 100%;
  position: relative;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  overflow: hidden;
  margin-top: 5px;
}
.dominos .item .domino .bottom .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.dominos .item .domino .bottom .cell.fluid {
  position: relative;
  height: 100%;
}
.dominos .item .domino .bottom .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
.dominos .item .domino .bottom div.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
img.text-sized {
  height: 20px;
  vertical-align: top;
  display: inline-block;
}
.autocomplete em {
  font-style: normal;
  display: block;
  padding: 3px;
  padding-left: 15px;
  border: 1px solid transparent;
}
.autocomplete em.low-importance {
  border: none;
  font-style: italic;
}
.autocomplete em:hover {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.autocomplete em.low-importance:hover {
  background: transparent;
  border: none;
}
section.selected,
article.selected {
  background: #ccc;
}
article.media {
  border: 2px dashed #ccc;
}
.mood-widget {
  padding-top: 25px;
  margin-bottom: 25px;
  height: 45px;
}
.mood-widget h1 {
  position: absolute;
  left: 65px;
  top: 16px;
  white-space: nowrap;
  color: transparent;
}
.mood-widget .icons-select .options-list {
  top: 25px;
  width: 210%;
}
.mood-widget .icons-select .current span {
  position: absolute;
  top: 0px;
  left: 65px;
  height: 20px;
  width: 128px;
  text-align: left;
  padding-left: 15px;
  padding-top: 0px;
  padding-bottom: 3px;
}
.autocomplete ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  padding-left: 20px;
}
i.liquid {
  max-width: 100% !important;
  height: auto;
  background-size: 100% auto;
}
.text-flow {
  display: inline-block !important;
  float: none !important;
  vertical-align: middle;
}
.banner {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 5px;
  background: #fff;
}
table {
  border-collapse: collapse;
}
table tr {
  border-top: 1px solid #ccc;
  background: transparent;
}
table tr.checked {
  background: #eee;
}
table tr.disabled {
  color: #999;
}
.light-style tr {
  border: 1px solid #fff;
}
article {
  border: 1px solid #ccc;
}
table tr.overline {
  border-bottom: none;
}
table tr.underline {
  border-top: none;
}
table.list-view {
  width: 100%;
}
table.list-view tr.underline {
  padding-bottom: 15px;
}
table.list-view tr.underline td {
  vertical-align: bottom;
}
table.list-view td h2 {
  clear: both;
  margin-top: 15px;
  margin-bottom: 0;
}
table.list-view td img {
  vertical-align: middle;
}
table.list-view td a {
  word-break: break-word;
}
a {
  color: blue;
}
.v-center-container {
  display: table;
}
.v-center-container .v-center {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}
.v-center-container .v-center img {
  width: 100%;
}
.contextual-editor.ck_editable {
  border: 1px solid #ccc;
  padding: 0;
}
.block-editor .cke_chrome {
  display: block !important;
}
.cke_tpl_list {
  height: 312px !important;
}
.cke_editable {
  padding: 4px;
}
.share table {
  width: 100%;
}
.share td,
.share th {
  width: 100px;
  text-align: center;
}
.share td:first-child,
.share th:first-child {
  width: 30%;
  text-align: left;
  padding-left: 15px;
}
.share .line {
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.share h3 {
  padding: 15px;
}
.share input[type=text] {
  margin-left: 15px;
  margin-bottom: 15px;
}
.share .block {
  padding: 15px;
}
.share .display-more {
  text-align: right;
  width: 100%;
  display: block;
  font-size: 15px;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.drop-down.hidden {
  max-height: 0px;
}
.drop-down {
  overflow: hidden;
  position: absolute;
  z-index: 10000;
  max-height: 260px;
  background: #eee;
  cursor: pointer;
  -o-transition: max-height 200ms ease-in-out;
  -moz-transition: max-height 200ms ease-in-out;
  -webkit-transition: max-height 200ms ease-in-out;
  transition: max-height 200ms ease-in-out;
}
.drop-down ul {
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  background: #eee;
  width: 100%;
}
.drop-down ul li {
  padding-left: 10px;
  line-height: 25px;
}
.dropdown-menu {
  overflow: hidden;
  position: absolute;
  z-index: 10000;
  max-height: 260px;
  background: #eee;
  cursor: pointer;
  -o-transition: max-height 200ms ease-in-out;
  -moz-transition: max-height 200ms ease-in-out;
  -webkit-transition: max-height 200ms ease-in-out;
  transition: max-height 200ms ease-in-out;
  height: auto;
  padding: 6px;
}
.dropdown-menu ul {
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  background: #eee;
  width: 100%;
}
.dropdown-menu ul li {
  padding-left: 10px;
  line-height: 25px;
}
.table-condensed {
  font-size: 12px;
}
.table-condensed tr td,
.table-condensed tr th {
  padding: 0;
}
.toggle-panel {
  background: #ccc;
  width: 300px;
  position: absolute;
  top: 2px;
  right: -15px;
  overflow: hidden;
  -o-transition: width 250ms ease;
  -moz-transition: width 250ms ease;
  -webkit-transition: width 250ms ease;
  transition: width 250ms ease;
}
.toggle-panel h1,
.toggle-panel h2 {
  margin-left: 5px;
}
.toggle-panel .toggle {
  width: 300px;
}
.toggle-buttons-spacer {
  margin-bottom: 50px;
}
.toggle-buttons {
  width: 960px;
  background: #ccc;
  left: 50%;
  margin-left: -480px;
  height: 60px;
  bottom: 0;
  position: fixed;
  -o-transition: height 250ms ease;
  -moz-transition: height 250ms ease;
  -webkit-transition: height 250ms ease;
  transition: height 250ms ease;
  z-index: 20;
}
.toggle-buttons button {
  opacity: 1;
  -o-transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}
.toggle-buttons button.hide {
  opacity: 0;
  -o-transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}
[draggable] {
  cursor: move;
}
[draggable] [contenteditable=true] {
  cursor: move;
}
files-picker {
  display: none;
}
.toggle-buttons.hide {
  height: 0px;
  -o-transition: height 250ms ease;
  -moz-transition: height 250ms ease;
  -webkit-transition: height 250ms ease;
  transition: height 250ms ease;
  overflow: hidden;
}
.toggle-panel.hide {
  overflow: hidden;
  width: 0;
  -o-transition: width 250ms ease;
  -moz-transition: width 250ms ease;
  -webkit-transition: width 250ms ease;
  transition: width 250ms ease;
}
.editor-container {
  margin-top: 80px;
  min-height: 300px;
  margin-bottom: 15px;
}
ul.icons-tabs {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: -53px;
  width: 45px;
  height: 45px;
  display: table;
}
ul.icons-tabs li {
  background: #ccc;
  border: 2px solid #fff;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
ul.icons-tabs li i {
  margin-left: auto;
  margin-right: auto;
  float: none;
}
ul.icons-view.two-cols li.element {
  width: 45%;
  margin: 2.5%;
}
.mini-block-container {
  padding: 7px;
}
.block-container {
  padding: 10px;
}
.reduce-block-two {
  padding: 2px;
}
.reduce-block-four {
  padding: 4px;
}
.reduce-block-six {
  padding: 6px;
}
.reduce-block-eight {
  padding: 8px;
}
.icons-view {
  padding-left: 0;
}
.icons-view .element {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  width: 24%;
  margin: 2px;
  position: relative;
  list-style-type: none;
}
.icons-view .element img {
  max-width: 100%;
}
.icons-view .element img,
.icons-view .element i {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  max-width: 100%;
}
.icons-view .element a i.inline {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
}
.icons-view .element a i {
  width: 117px;
  height: 117px;
  background-size: auto 100%;
}
.icons-view .element input[type=checkbox] {
  position: absolute;
  left: 20px;
  top: 20px;
}
.icons-view .element em {
  display: none;
}
.icons-view .element a {
  display: block;
  text-align: center;
  margin: 0;
  margin-top: 5px;
  width: 100%;
  position: relative;
  word-break: break-word;
}
.icons-view div.element:nth-child(8n + 9) {
  clear: left;
}
.tabs header {
  display: inline-block;
  padding: 6px;
  background: #eee;
}
.tabs header.selected {
  border: 1px solid;
  border-bottom: 1px solid #fff;
  background: #fff;
}
.tabs section {
  margin-top: -1px;
  border: 1px solid;
  padding: 6px;
}
.inline-editing {
  color: #666;
}
.small-text {
  font-size: 12px !important;
}
.small-text a,
.small-text em,
.small-text label,
.small-text span {
  font-size: 12px;
}
.small-text input.inline-editing {
  margin-top: 0px;
}
.medium-text {
  font-size: 14px !important;
}
.medium-text a {
  font-size: 14px;
}
.file-selector {
  cursor: pointer;
}
.action-cell {
  width: 30px;
  height: 30px;
}
.icons-select {
  position: relative;
  margin-top: 15px;
  z-index: 5;
  background: #eee;
}
.icons-select .options-list {
  display: none;
  position: absolute;
  width: 175%;
  top: 49px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: #eee;
}
.icons-select .option i {
  background-size: 100% auto;
}
.icons-select .option,
.icons-select .current {
  cursor: pointer;
}
.icons-select span {
  display: block;
  line-height: 26px;
  float: left;
}
.icons-select .current {
  padding: 5px;
  padding-left: 20px;
}
.icons-select .current i {
  vertical-align: middle;
  max-height: 100%;
  background-size: auto 100%;
  transform: rotate(0.0001deg);
}
.icons-select .current span {
  clear: none;
  padding-top: 10px;
  width: auto;
}
section .contextual-buttons .action-buttons {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  position: relative;
  width: 1;
  width: 83.33333333333334%;
  line-height: 50px;
  margin-bottom: 10px;
}
section .contextual-buttons .action-buttons img {
  max-width: 100%;
}
section .contextual-buttons .action-buttons button,
section .contextual-buttons .action-buttons a.button {
  vertical-align: top;
}
section .contextual-buttons article li {
  list-style-type: none;
}
.display-buttons {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  position: relative;
  float: right;
  text-align: right;
}
.display-buttons img {
  max-width: 100%;
}
.display-buttons i {
  float: right;
  cursor: pointer;
  -o-transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  opacity: 1;
}
.display-buttons i:hover {
  opacity: 0.8;
  -o-transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}
.logo,
.content-block {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}
button {
  position: relative;
}
button span {
  display: block;
  float: left;
}
header h2 {
  width: 30%;
  display: inline-block;
  margin: 0;
}
.clear {
  clear: both;
}
.label-badge {
  display: inline-block;
}
.lightbox-window form {
  padding: 10px;
}
.lightbox-window form input,
.lightbox-window form label {
  display: block;
  float: left;
}
article h2:first-child {
  margin-top: 0px;
}
.text-container {
  padding: 10px;
}
.text-container h1 {
  margin-top: 1em;
}
.text-container article {
  margin-bottom: 15px;
}
.content-line {
  margin-bottom: 15px;
}
.lower-line {
  margin-top: 15px;
}
.clip {
  overflow: hidden;
}
.bottom-locked {
  position: absolute;
  bottom: 0px;
}
.box,
.text-container article.box {
  height: 100px;
  margin-bottom: 0;
}
.box .avatar,
.text-container article.box .avatar {
  padding-right: 5px;
  height: 100%;
}
.box .avatar .avatar-image,
.text-container article.box .avatar .avatar-image {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
[ng-click],
[data-ng-click],
[call] {
  cursor: pointer;
}
hr {
  border: none;
  margin: 15px;
}
.cell img {
  max-width: 100%;
}
section.lightbox-window .lightbox-buttons {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
section.lightbox-window .lightbox-buttons input[type=submit],
section.lightbox-window .lightbox-buttons input[type=button] {
  float: right;
}
.loading-panel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
dl dd {
  margin-left: 0;
}
dl dt {
  clear: left;
}
.mini-box .cell {
  height: 50px;
  line-height: 50px;
}
.mini-box .cell .avatar {
  padding: 5px;
}
.mini-box .cell img {
  vertical-align: middle;
}
.lightbox-buttons {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.large-box {
  min-width: 300px;
  min-height: 150px;
}
.share {
  width: 100%;
}
.share .sharing-option {
  padding: 15px;
}
.flowing.sharing td:nth-child(2),
.flowing.sharing td:nth-child(3),
.flowing.sharing td:nth-child(4),
.flowing.sharing td:nth-child(5),
.flowing.sharing th:nth-child(2),
.flowing.sharing th:nth-child(3),
.flowing.sharing th:nth-child(4),
.flowing.sharing th:nth-child(5) {
  min-width: 80px;
  text-align: center;
}
.flowing.sharing th:first-child {
  width: 500px;
}
.flowing.sharing th {
  font-size: 14px;
  font-weight: normal;
  padding: 5px;
}
.flowing.sharing td:first-child {
  text-align: left;
}
.flowing.sharing td {
  text-align: center;
}
.flowing.sharing td input[type=checkbox] {
  display: inline;
  float: none;
}
td.icon {
  width: 25px !important;
  height: 25px !important;
  position: relative;
}
td.text {
  min-width: 150px !important;
}
td.main-cell {
  width: 100% !important;
}
em[contenteditable=true] {
  display: block;
  border-bottom: 1px dashed;
  line-height: 30px;
  height: 30px;
  font-size: 14px;
}
.editable {
  height: 20px;
}
div.hidden-content {
  height: 0px;
  width: 0px;
  overflow: hidden;
}
.flip-right,
.flip-left {
  width: 80px;
  height: 80px;
  z-index: 15;
  background: #fff;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  position: absolute;
  top: 40%;
  opacity: 0.5;
  -o-transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}
.flip-right:hover,
.flip-left:hover {
  opacity: 1;
  -o-transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}
.flip-right {
  right: -30px;
}
.flip-right .right-arrow {
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-left: 0;
  color: black;
  border-left: 30px solid;
  top: 15px;
  left: 32px;
  position: absolute;
}
.flip-left {
  left: -30px;
}
.flip-left .left-arrow {
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-left: 0;
  color: black;
  border-right: 30px solid;
  top: 15px;
  left: 15px;
  position: absolute;
}
.left-arrow.disabled,
.right-arrow.disabled {
  color: #ccc;
}
.drawing-zone {
  overflow: hidden;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  left: 50px;
  top: 10px;
  width: 823px;
  height: 598px;
}
span.no-style {
  background: none !important;
  display: inline !important;
  padding: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  margin: 0 !important;
}
[contenteditable=true]:focus {
  outline: none;
}
[data-reload] {
  cursor: pointer;
}
.drawing-zone article {
  border: none;
  background: transparent;
  overflow: hidden;
}
.drawing-zone article [contenteditable=true] {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.drawing-zone article.media {
  border: 1px dashed #666;
  min-width: 30px;
  min-height: 30px;
}
.drawing-zone article.media i[role=close] {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1;
}
.drawing-zone article.media audio {
  width: 93%;
  margin-right: 35px;
  min-width: 250px;
}
.drawing-zone article.media img,
.drawing-zone article.media div {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  max-width: none;
}
.drawing-zone article.media div {
  width: 100%;
  height: 100%;
}
.drawing-zone article.media div[contenteditable=true] {
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
}
.drawing-zone article img.extensible {
  width: 100%;
  height: 100%;
}
.drawing-zone article p,
.drawing-zone article h1,
.drawing-zone article h2,
.drawing-zone article h3,
.drawing-zone article h4,
.drawing-zone article h5,
.drawing-zone article h6 {
  padding: 5px;
}
.tooltip {
  position: absolute;
  z-index: 20;
  display: none;
}
.tooltip .content {
  padding: 5px;
  background: #ccc;
  color: #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 1px 2px 2px #ccc;
  font-size: 12px;
  position: relative;
}
.tooltip .arrow {
  width: 0;
  margin-left: auto;
  margin-right: auto;
  border: 8px solid transparent;
  border-top: 0;
  color: #ccc;
  border-bottom: 10px solid;
}
.humane,
.humane-original {
  position: fixed;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 100000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.humane,
.humane-original {
  line-height: 40px;
  font-size: 25px;
  top: 25%;
  left: 25%;
  opacity: 0;
  width: 50%;
  min-height: 40px;
  padding: 10px;
  text-align: center;
  background-color: #000;
  color: #fff;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.humane p,
.humane-original p,
.humane ul,
.humane-original ul {
  margin: 0;
  padding: 0;
}
.humane ul,
.humane-original ul {
  list-style: none;
}
.humane.humane-original-info,
.humane-original.humane-original-info {
  background-color: #00D;
}
.humane.humane-original-success,
.humane-original.humane-original-success {
  background-color: #030;
}
.humane.humane-original-error,
.humane-original.humane-original-error {
  background-color: #D00;
}
.humane.humane-animate,
.humane-original.humane-original-animate {
  opacity: 0.8;
}
.humane.humane-animate:hover,
.humane-original.humane-original-animate:hover {
  opacity: 0.6;
}
.humane.humane-js-animate,
.humane-original.humane-original-js-animate {
  opacity: 0.8;
}
.humane.humane-js-animate:hover,
.humane-original.humane-original-js-animate:hover {
  opacity: 0.6;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
}
.grid-exemple.row .article,
.grid-exemple.row .absolute {
  font-size: 14px;
  padding: 10px;
  color: #888;
  border: #fff solid 5px;
  border-radius: 12px;
  background: #eee;
  text-align: left;
}
.cke_float.cke_chrome {
  box-shadow: none;
}
.cke_float.cke_chrome .cke_inner {
  background: #F6F6F6;
  box-shadow: none !important;
  border: 1px solid #ccc;
}
.cke_float.cke_chrome .cke_inner .cke_top {
  background: none;
  border: none;
  box-shadow: none;
  border-bottom: none;
}
.cke_float.cke_chrome .cke_inner .cke_top .cke_toolgroup {
  box-shadow: none;
}
.cke_float.cke_chrome .cke_inner .cke_top span {
  border: none;
  background: none;
}
.cke_float.cke_chrome .cke_inner .cke_top .cke_combo_arrow {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #474747;
}
.cke_float.cke_chrome .cke_inner .cke_top .cke_combo_button {
  background: #fff;
  border: 1px solid #ddd;
}
.cke_float.cke_chrome .cke_inner .cke_top .cke_button_on {
  background: #ddd;
  box-shadow: inset 1px 1px 2px #999;
}
.warning {
  color: #c60c17;
  background: #FFE7E8;
  padding: 7px;
  font-size: 12px;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.info {
  color: #2F8CC9;
  background: #EBF4F9;
  padding: 7px;
  font-size: 12px;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
em.low-importance {
  font-size: 12px !important;
  height: 16px;
  line-height: 16px;
  text-align: right;
}
em.medium-importance {
  font-style: normal;
  color: #666;
}
em.high-importance {
  font-style: normal;
  font-weight: bold;
  color: #666;
}
html,
body {
  margin: 0;
  height: 100%;
  font-family: Arial;
  background: #eee;
}
html section.main,
body section.main {
  background: #fff;
}
html.print {
  background: transparent;
}
html.print body {
  background: transparent;
}
html.print body section {
  page-break-after: always;
}
.container {
  height: 100%;
}
.container header.main {
  height: 150px;
  width: 100%;
  position: relative;
  z-index: 2;
}
.container .main.wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
  padding-top: 150px;
  position: absolute;
  top: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  background: none;
  padding-bottom: 0px;
}
.container section.main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  padding: 10px;
  text-align: left;
}
section.lightbox-backdrop {
  position: fixed;
  background: #222;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  opacity: 0.5;
  z-index: 20;
  display: none;
}
section.lightbox-window {
  position: fixed;
  z-index: 25;
  background: #fff;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  float: none;
  left: 0;
  right: 0;
  display: none;
  border-radius: 5px;
}
.close-lightbox {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  cursor: pointer;
}
body.lightbox-body {
  background: #666;
}
body.lightbox-body header.lightbox-header {
  opacity: 0.3;
}
body.lightbox-body section.lightbox-main {
  background: rgba(255, 255, 255, 0.3);
}
iframe {
  overflow: auto;
  height: 500px;
}
html.app {
  min-height: 0;
  height: auto;
}
html.app body {
  background: #fff;
  min-height: 100%;
  height: auto;
}
