.row {
  max-width: 960px;
  width: 100%;
  position: relative;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.cell {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  position: relative;
}
.right-magnet {
  float: right !important;
}
.bottom-magnet {
  position: absolute;
  bottom: 0;
}
.fixed-block {
  box-sizing: content-box;
  position: relative;
  height: 1px;
}
.fixed-block .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.fixed-block .cell.fluid {
  position: relative;
  height: 100%;
}
.fixed-block .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
.height-one {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 8.333333333333334%;
}
.height-one .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-one .cell.fluid {
  position: relative;
  height: 100%;
}
.height-one .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
.height-one-plus-half {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 12.5%;
}
.height-one-plus-half .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-one-plus-half .cell.fluid {
  position: relative;
  height: 100%;
}
.height-one-plus-half .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 720px) {
  .left-one {
    left: 8.333333333333334%;
  }
}
.height-two {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 16.666666666666668%;
}
.height-two .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-two .cell.fluid {
  position: relative;
  height: 100%;
}
.height-two .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 720px) {
  .left-two {
    left: 16.666666666666668%;
  }
}
.height-three {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 25%;
}
.height-three .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-three .cell.fluid {
  position: relative;
  height: 100%;
}
.height-three .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 720px) {
  .left-three {
    left: 25%;
  }
}
.height-four {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 33.333333333333336%;
}
.height-four .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-four .cell.fluid {
  position: relative;
  height: 100%;
}
.height-four .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 720px) {
  .left-four {
    left: 33.333333333333336%;
  }
}
.height-five {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 41.66666666666667%;
}
.height-five .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-five .cell.fluid {
  position: relative;
  height: 100%;
}
.height-five .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 720px) {
  .left-five {
    left: 41.66666666666667%;
  }
}
.height-six {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 50%;
}
.height-six .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-six .cell.fluid {
  position: relative;
  height: 100%;
}
.height-six .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
.left-six {
  box-sizing: content-box;
  position: relative;
  height: 1px;
}
.left-six .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.left-six .cell.fluid {
  position: relative;
  height: 100%;
}
.left-six .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 720px) {
  .left-six {
    left: 50%;
  }
}
.height-seven {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 58.333333333333336%;
}
.height-seven .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-seven .cell.fluid {
  position: relative;
  height: 100%;
}
.height-seven .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 720px) {
  .left-seven {
    left: 58.333333333333336%;
  }
}
.height-eight {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 66.66666666666667%;
}
.height-eight .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-eight .cell.fluid {
  position: relative;
  height: 100%;
}
.height-eight .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 720px) {
  .left-eight {
    left: 66.66666666666667%;
  }
}
.height-nine {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 75%;
}
.height-nine .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-nine .cell.fluid {
  position: relative;
  height: 100%;
}
.height-nine .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 720px) {
  .left-nine {
    left: 75%;
  }
}
.height-ten {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 83.33333333333334%;
}
.height-ten .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-ten .cell.fluid {
  position: relative;
  height: 100%;
}
.height-ten .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 720px) {
  .left-ten {
    left: 83.33333333333334%;
  }
}
.height-eleven {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 91.66666666666667%;
}
.height-eleven .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-eleven .cell.fluid {
  position: relative;
  height: 100%;
}
.height-eleven .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 720px) {
  .left-eleven {
    left: 91.66666666666667%;
  }
}
.height-twelve {
  box-sizing: content-box;
  position: relative;
  height: 1px;
  padding-bottom: 100%;
}
.height-twelve .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.height-twelve .cell.fluid {
  position: relative;
  height: 100%;
}
.height-twelve .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
@media screen and (min-width: 720px) {
  .left-twelve {
    left: 100%;
  }
}
.fluid {
  position: relative !important;
}
.absolute {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.one {
  width: 1;
  width: 8.333333333333334%;
}
.two {
  width: 1;
  width: 16.666666666666668%;
}
.three {
  width: 1;
  width: 25%;
}
.four {
  width: 1;
  width: 33.333333333333336%;
}
.five {
  width: 1;
  width: 41.66666666666667%;
}
.six {
  width: 1;
  width: 50%;
}
.seven {
  width: 1;
  width: 58.333333333333336%;
}
.eight {
  width: 1;
  width: 66.66666666666667%;
}
.nine {
  width: 1;
  width: 75%;
}
.ten {
  width: 1;
  width: 83.33333333333334%;
}
.eleven {
  width: 1;
  width: 91.66666666666667%;
}
.twelve {
  width: 1;
  width: 100%;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.content-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}
