.row {
  max-width: 960px;
  width: 100%;
  position: relative;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.cell {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
}
.right-magnet {
  float: right !important;
}
@media screen and (min-width: 720px) {
  .fixed-block.height-five {
    padding-bottom: 41.66666666666667%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.left-five {
    left: 41.66666666666667%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.height-four {
    padding-bottom: 33.333333333333336%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.left-four {
    left: 33.333333333333336%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.height-three {
    padding-bottom: 25%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.left-three {
    left: 25%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.height-two {
    padding-bottom: 16.666666666666668%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.left-two {
    left: 16.666666666666668%;
  }
}
.fixed-block {
  box-sizing: content-box;
  position: relative;
  height: 1px;
}
.fixed-block .cell.fixed {
  position: absolute;
  height: 100%;
}
.fixed-block .right-magnet.cell.fixed {
  right: 0;
}
.fixed-block .cell.fluid {
  position: relative;
  height: 100%;
}
.fixed-block .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
.one {
  width: 1;
}
@media screen and (min-width: 720px) {
  .one {
    width: 8.333333333333334%;
  }
}
@media screen and (max-width: 720px) {
  .one {
    width: 100%;
  }
}
.two {
  width: 1;
}
@media screen and (min-width: 720px) {
  .two {
    width: 16.666666666666668%;
  }
}
@media screen and (max-width: 720px) {
  .two {
    width: 100%;
  }
}
.three {
  width: 1;
}
@media screen and (min-width: 720px) {
  .three {
    width: 25%;
  }
}
@media screen and (max-width: 720px) {
  .three {
    width: 100%;
  }
}
.four {
  width: 1;
}
@media screen and (min-width: 720px) {
  .four {
    width: 33.333333333333336%;
  }
}
@media screen and (max-width: 720px) {
  .four {
    width: 100%;
  }
}
.five {
  width: 1;
}
@media screen and (min-width: 720px) {
  .five {
    width: 41.66666666666667%;
  }
}
@media screen and (max-width: 720px) {
  .five {
    width: 100%;
  }
}
.six {
  width: 1;
}
@media screen and (min-width: 720px) {
  .six {
    width: 50%;
  }
}
@media screen and (max-width: 720px) {
  .six {
    width: 100%;
  }
}
.seven {
  width: 1;
}
@media screen and (min-width: 720px) {
  .seven {
    width: 58.333333333333336%;
  }
}
@media screen and (max-width: 720px) {
  .seven {
    width: 100%;
  }
}
.eight {
  width: 1;
}
@media screen and (min-width: 720px) {
  .eight {
    width: 66.66666666666667%;
  }
}
@media screen and (max-width: 720px) {
  .eight {
    width: 100%;
  }
}
.nine {
  width: 1;
}
@media screen and (min-width: 720px) {
  .nine {
    width: 75%;
  }
}
@media screen and (max-width: 720px) {
  .nine {
    width: 100%;
  }
}
.ten {
  width: 1;
}
@media screen and (min-width: 720px) {
  .ten {
    width: 83.33333333333334%;
  }
}
@media screen and (max-width: 720px) {
  .ten {
    width: 100%;
  }
}
.eleven {
  width: 1;
}
@media screen and (min-width: 720px) {
  .eleven {
    width: 91.66666666666667%;
  }
}
@media screen and (max-width: 720px) {
  .eleven {
    width: 100%;
  }
}
.twelve {
  width: 1;
}
@media screen and (min-width: 720px) {
  .twelve {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .twelve {
    width: 100%;
  }
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
a,
button,
input[type=button],
input[type=submit] {
  cursor: pointer;
}
i {
  font-style: normal;
}
iframe {
  border: none;
  width: 100%;
  height: 100%;
  overflow: visible;
}
body.app {
  margin: 0;
}
