.row {
  max-width: 960px;
  width: 100%;
  position: relative;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.cell {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  position: relative;
}
.right-magnet {
  float: right !important;
}
@media screen and (min-width: 720px) {
  .fixed-block.height-five {
    padding-bottom: 41.66666666666667%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.height-six {
    padding-bottom: 50%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.left-five {
    left: 41.66666666666667%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.height-four {
    padding-bottom: 33.333333333333336%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.left-four {
    left: 33.333333333333336%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.height-twelve {
    padding-bottom: 100%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.left-twelve {
    left: 100%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.height-ten {
    padding-bottom: 83.33333333333334%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.left-ten {
    left: 83.33333333333334%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.height-eight {
    padding-bottom: 66.66666666666667%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.left-eight {
    left: 66.66666666666667%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.height-seven {
    padding-bottom: 58.333333333333336%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.left-seven {
    left: 58.333333333333336%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.height-three {
    padding-bottom: 25%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.left-three {
    left: 25%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.height-two {
    padding-bottom: 16.666666666666668%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.left-two {
    left: 16.666666666666668%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.height-one {
    padding-bottom: 8.333333333333334%;
  }
}
@media screen and (min-width: 720px) {
  .fixed-block.left-one {
    left: 8.333333333333334%;
  }
}
.fluid {
  position: relative !important;
}
.fixed-block {
  box-sizing: content-box;
  position: relative;
  height: 1px;
}
.fixed-block .right-magnet.cell.fixed {
  right: 0;
}
.fixed-block .cell.fluid {
  position: relative;
  height: 100%;
}
.fixed-block .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
.cell.fixed {
  position: absolute;
  height: 100%;
}
.one {
  width: 1;
}
@media screen and (min-width: 720px) {
  .one {
    width: 8.333333333333334%;
  }
}
@media screen and (max-width: 720px) {
  .one {
    width: 100%;
  }
}
.two {
  width: 1;
}
@media screen and (min-width: 720px) {
  .two {
    width: 16.666666666666668%;
  }
}
@media screen and (max-width: 720px) {
  .two {
    width: 100%;
  }
}
.three {
  width: 1;
}
@media screen and (min-width: 720px) {
  .three {
    width: 25%;
  }
}
@media screen and (max-width: 720px) {
  .three {
    width: 100%;
  }
}
.four {
  width: 1;
}
@media screen and (min-width: 720px) {
  .four {
    width: 33.333333333333336%;
  }
}
@media screen and (max-width: 720px) {
  .four {
    width: 100%;
  }
}
.five {
  width: 1;
}
@media screen and (min-width: 720px) {
  .five {
    width: 41.66666666666667%;
  }
}
@media screen and (max-width: 720px) {
  .five {
    width: 100%;
  }
}
.six {
  width: 1;
}
@media screen and (min-width: 720px) {
  .six {
    width: 50%;
  }
}
@media screen and (max-width: 720px) {
  .six {
    width: 100%;
  }
}
.seven {
  width: 1;
}
@media screen and (min-width: 720px) {
  .seven {
    width: 58.333333333333336%;
  }
}
@media screen and (max-width: 720px) {
  .seven {
    width: 100%;
  }
}
.eight {
  width: 1;
}
@media screen and (min-width: 720px) {
  .eight {
    width: 66.66666666666667%;
  }
}
@media screen and (max-width: 720px) {
  .eight {
    width: 100%;
  }
}
.nine {
  width: 1;
}
@media screen and (min-width: 720px) {
  .nine {
    width: 75%;
  }
}
@media screen and (max-width: 720px) {
  .nine {
    width: 100%;
  }
}
.ten {
  width: 1;
}
@media screen and (min-width: 720px) {
  .ten {
    width: 83.33333333333334%;
  }
}
@media screen and (max-width: 720px) {
  .ten {
    width: 100%;
  }
}
.eleven {
  width: 1;
}
@media screen and (min-width: 720px) {
  .eleven {
    width: 91.66666666666667%;
  }
}
@media screen and (max-width: 720px) {
  .eleven {
    width: 100%;
  }
}
.twelve {
  width: 1;
}
@media screen and (min-width: 720px) {
  .twelve {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .twelve {
    width: 100%;
  }
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
a,
button,
input[type=button],
input[type=submit] {
  cursor: pointer;
}
i {
  font-style: normal;
}
iframe {
  border: none;
  width: 100%;
  height: 100%;
  overflow: visible;
}
body.app {
  margin: 0;
}
nav.vertical {
  padding-right: 10px;
}
nav.vertical h1 {
  margin-top: 0;
}
nav.vertical ul li {
  float: none;
  display: block;
  font-size: 14px;
  font-weight: normal;
  width: 100%;
  top: 0;
}
nav.vertical ul li a {
  display: block;
  position: relative;
}
nav.vertical ul li a i {
  display: block;
  float: right;
  margin-top: 2px;
}
nav.vertical ul li input {
  position: relative !important;
  top: 0px !important;
  left: 0px !important;
}
.navbar {
  height: 40px;
}
.navbar .cell {
  height: 100%;
}
.navbar img {
  float: left;
  display: block;
  vertical-align: top;
  margin: 0;
  padding: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 100%;
  width: auto;
}
.navbar .welcome-message {
  display: block;
  float: left;
  line-height: 30px;
  margin-top: 8px;
}
.navbar .account {
  height: 100%;
  float: right !important;
}
.navbar .account i {
  margin-top: 3px;
}
nav.horizontal {
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 0px;
}
nav.horizontal a {
  display: inline-block;
  vertical-align: bottom;
}
.search {
  position: relative;
  margin-top: 5px;
  margin-right: 10px;
}
.search input {
  display: block;
  margin: 0;
  float: left;
}
.line em,
.line span {
  display: block;
  width: 100%;
  line-height: 30px;
  height: 30px;
}
.filters h5 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  position: relative;
  width: 170px;
  margin: 0;
}
.filters h5 img {
  max-width: 100%;
}
.filters ul {
  margin-bottom: 0;
}
.filters li {
  display: inline-block;
  list-style-type: none;
}
.birthday {
  width: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 45px;
  padding-right: 1px;
}
@media screen and (min-width: 720px) {
  .birthday {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .birthday {
    width: 100%;
  }
}
.birthday img {
  max-width: 100%;
}
.birthday .content {
  margin-top: 35px;
  width: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  position: relative;
  border: 1px solid;
  border-top: none;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
@media screen and (min-width: 720px) {
  .birthday .content {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .birthday .content {
    width: 100%;
  }
}
.birthday .content img {
  max-width: 100%;
}
.birthday .content .enhanced-select {
  margin-top: 5px;
}
.birthday .content .enhanced-select .current {
  padding-top: 2px;
  background-position: 5px 10px;
}
.birthday .content .enhanced-select .current span {
  padding-top: 0px;
}
.birthday nav.vertical {
  padding: 0;
}
.birthday nav.vertical ul {
  margin: 0;
  width: 100%;
}
.birthday nav.vertical ul li {
  padding: 0;
  margin: 0;
}
.birthday nav.vertical ul li a {
  margin: 0;
}
.birthday nav.vertical ul li a .user {
  display: inline-block;
  width: 1;
  height: 35px;
  line-height: 100%;
}
@media screen and (min-width: 720px) {
  .birthday nav.vertical ul li a .user {
    width: 41.66666666666667%;
  }
}
@media screen and (max-width: 720px) {
  .birthday nav.vertical ul li a .user {
    width: 100%;
  }
}
.birthday nav.vertical ul li a .user p {
  margin: 0;
}
.birthday nav.vertical ul li a .date {
  float: right !important;
  display: inline-block;
}
.birthday nav.vertical ul li a img {
  height: 35px;
  width: 35px;
  vertical-align: bottom;
  margin-right: 10px;
}
.horizontal-spacing {
  padding-left: 5px;
  padding-right: 5px;
}
.calendar {
  box-sizing: content-box;
  height: 1px;
  width: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 35.7%;
  padding-right: 1px;
  padding-bottom: 49.4% !important;
}
.calendar .right-magnet.cell.fixed {
  right: 0;
}
.calendar .cell.fluid {
  position: relative;
  height: 100%;
}
.calendar .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
.calendar .avatar {
  overflow: hidden;
}
@media screen and (min-width: 720px) {
  .calendar {
    padding-bottom: 58.333333333333336%;
  }
}
@media screen and (min-width: 720px) {
  .calendar {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .calendar {
    width: 100%;
  }
}
.calendar img {
  max-width: 100%;
}
.calendar .content {
  margin-top: 25.7%;
  width: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  position: relative;
  border: 1px solid;
  border-top: none;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
@media screen and (min-width: 720px) {
  .calendar .content {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .calendar .content {
    width: 100%;
  }
}
.calendar .content img {
  max-width: 100%;
}
.calendar .content {
  position: absolute;
  height: 100%;
  height: 98%;
}
.calendar .day {
  width: 14.2%;
  height: 17px;
  text-align: center;
  padding-top: 2px;
}
.calendar .current-month-header {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 26px;
}
i.liquid {
  max-width: 100% !important;
  height: auto;
  background-size: 100% auto;
}
.text-flow {
  display: inline-block !important;
  float: none !important;
  vertical-align: middle;
}
table.list-view {
  width: 100%;
}
table.list-view tr.overline {
  border-bottom: none;
}
table.list-view tr.underline {
  border-top: none;
  padding-bottom: 15px;
}
table.list-view tr.underline td {
  vertical-align: bottom;
}
table.list-view td h2 {
  clear: both;
  margin-top: 15px;
  margin-bottom: 0;
}
table.list-view td img {
  vertical-align: middle;
}
.v-center-container {
  display: table;
}
.v-center-container .v-center {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}
.v-center-container .v-center img {
  width: 100%;
}
.cke_editor_editor1,
.cke_editor_editor2,
.cke_chrome {
  display: block !important;
}
.cke_tpl_list {
  height: 312px !important;
}
#cke_61_uiElement {
  display: none;
}
.toggle-panel {
  width: 300px;
  position: absolute;
  top: 2px;
  right: -15px;
  overflow: hidden;
  -o-transition: width 250ms ease;
  -moz-transition: width 250ms ease;
  -webkit-transition: width 250ms ease;
  transition: width 250ms ease;
}
.toggle-panel .toggle {
  width: 300px;
}
.toggle-bottom {
  width: 960px;
  left: 50%;
  margin-left: -480px;
  height: 60px;
  bottom: 0;
  position: fixed;
  -o-transition: height 250ms ease;
  -moz-transition: height 250ms ease;
  -webkit-transition: height 250ms ease;
  transition: height 250ms ease;
  z-index: 20;
}
.toggle-bottom button {
  opacity: 1;
  -o-transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}
.toggle-bottom button.hide {
  opacity: 0;
  -o-transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}
.toggle-bottom.hide {
  height: 0px;
  -o-transition: height 250ms ease;
  -moz-transition: height 250ms ease;
  -webkit-transition: height 250ms ease;
  transition: height 250ms ease;
  overflow: hidden;
}
.toggle-panel.hide {
  overflow: hidden;
  width: 0;
  -o-transition: width 250ms ease;
  -moz-transition: width 250ms ease;
  -webkit-transition: width 250ms ease;
  transition: width 250ms ease;
}
.editor-container {
  margin-top: 100px;
  min-height: 300px;
  margin-bottom: 15px;
}
ul.icons-tabs {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: -60px;
  width: 45px;
  height: 45px;
  display: table;
}
ul.icons-tabs li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
ul.icons-tabs li i {
  margin-left: auto;
  margin-right: auto;
  float: none;
}
ul.icons-view.two-cols li.element {
  width: 45%;
  margin: 2.5%;
}
.mini-block-container {
  padding: 7px;
}
.icons-view {
  padding-left: 0;
}
.icons-view .element {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  width: 24%;
  margin: 2px;
  position: relative;
  list-style-type: none;
}
.icons-view .element img {
  max-width: 100%;
}
.icons-view .element img,
.icons-view .element i {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  max-width: 100%;
}
.icons-view .element i {
  width: 129px;
  height: 129px;
  background-size: auto 100%;
}
.icons-view .element input[type=checkbox] {
  position: absolute;
  left: 20px;
  top: 20px;
}
.icons-view .element em {
  display: none;
}
.icons-view .element a {
  display: block;
  text-align: center;
  margin: 0;
  margin-top: 5px;
  width: 100%;
  position: relative;
}
.icons-view div.element:nth-child(8n + 9) {
  clear: left;
}
.action-cell {
  width: 30px;
  height: 30px;
}
.enhanced-select {
  position: relative;
  margin-top: 15px;
  z-index: 5;
}
.enhanced-select .options-list {
  display: none;
  position: absolute;
  width: 175%;
  top: 49px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.enhanced-select .option,
.enhanced-select .current {
  cursor: pointer;
}
.enhanced-select span {
  display: block;
  line-height: 26px;
  float: left;
}
.enhanced-select .current {
  padding: 5px;
  padding-left: 20px;
}
.enhanced-select .current i {
  vertical-align: middle;
  max-height: 100%;
  background-size: auto 100%;
  transform: rotate(0.0001deg);
}
.enhanced-select .current span {
  clear: none;
  padding-top: 10px;
  width: auto;
}
section .contextual-buttons .action-buttons {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  position: relative;
  width: 1;
  line-height: 50px;
  margin-bottom: 10px;
}
section .contextual-buttons .action-buttons img {
  max-width: 100%;
}
@media screen and (min-width: 720px) {
  section .contextual-buttons .action-buttons {
    width: 83.33333333333334%;
  }
}
@media screen and (max-width: 720px) {
  section .contextual-buttons .action-buttons {
    width: 100%;
  }
}
section .contextual-buttons .action-buttons button,
section .contextual-buttons .action-buttons a.button {
  vertical-align: top;
}
section .contextual-buttons article li {
  list-style-type: none;
}
.fixed-block .avatar {
  overflow: hidden;
}
.display-buttons {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  position: relative;
  float: right;
  text-align: right;
}
.display-buttons img {
  max-width: 100%;
}
.display-buttons i {
  float: right;
  cursor: pointer;
  -o-transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  opacity: 1;
}
.display-buttons i:hover {
  opacity: 0.8;
  -o-transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}
.logo,
.content-block {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}
button {
  position: relative;
}
button span {
  display: block;
  margin-top: 2px;
  margin-left: 5px;
  float: left;
}
header h2 {
  width: 30%;
  display: inline-block;
  margin: 0;
}
.clear {
  clear: both;
}
.lightbox-window form {
  padding: 15px;
}
.lightbox-window form input,
.lightbox-window form label {
  display: block;
  float: left;
}
article h2:first-child {
  margin-top: 0px;
}
.block-container {
  padding: 10px;
}
.text-container {
  padding: 10px;
}
.text-container h1 {
  margin-top: 1em;
}
.text-container article {
  margin-bottom: 15px;
}
.content-line {
  margin-bottom: 15px;
}
.lower-line {
  margin-top: 15px;
}
.clip {
  overflow: hidden;
}
.box,
.text-container article.box {
  height: 100px;
  margin-bottom: 0;
}
.box .bottom-locked,
.text-container article.box .bottom-locked {
  position: absolute;
  bottom: 7px;
}
.box .avatar,
.text-container article.box .avatar {
  padding-right: 5px;
  height: 100%;
}
.box .avatar .avatar-image,
.text-container article.box .avatar .avatar-image {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
[ng-click],
[data-ng-click],
[call] {
  cursor: pointer;
}
hr {
  border: none;
  margin: 15px;
}
.cell img {
  max-width: 100%;
}
section.lightbox-window .lightbox-buttons {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
section.lightbox-window .lightbox-buttons input[type=submit],
section.lightbox-window .lightbox-buttons input[type=button] {
  float: right;
}
.loading-panel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
dl dd {
  margin-left: 0;
}
dl dt {
  clear: left;
}
.mini-box .cell {
  height: 50px;
  line-height: 50px;
}
.mini-box .cell .avatar {
  padding: 5px;
}
.mini-box .cell img {
  vertical-align: middle;
}
.lightbox-buttons {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.large-box {
  min-width: 300px;
  min-height: 150px;
}
.flowing {
  height: 100%;
  padding: 15px;
}
.flowing section,
.flowing div,
.flowing form {
  height: 100%;
}
.flowing thead {
  display: block;
}
.flowing tbody {
  overflow-y: auto;
  height: 200px;
  margin-bottom: 10px;
  display: block;
}
.flowing form {
  padding: 0;
}
.flowing .cancel-flow thead,
.flowing .cancel-flow tbody,
.flowing .cancel-flow table {
  display: table;
  height: auto;
}
.flowing .cancel-flow section,
.flowing .cancel-flow div,
.flowing .cancel-flow form {
  height: auto;
}
.share {
  width: 100%;
}
.flowing.sharing td:nth-child(2),
.flowing.sharing td:nth-child(3),
.flowing.sharing td:nth-child(4),
.flowing.sharing td:nth-child(5),
.flowing.sharing th:nth-child(2),
.flowing.sharing th:nth-child(3),
.flowing.sharing th:nth-child(4),
.flowing.sharing th:nth-child(5) {
  min-width: 80px;
  text-align: center;
}
.flowing.sharing th:first-child {
  width: 500px;
}
.flowing.sharing th {
  font-size: 14px;
  font-weight: normal;
  padding: 5px;
}
.flowing.sharing td:first-child {
  text-align: left;
}
.flowing.sharing td {
  text-align: center;
}
.flowing.sharing td input[type=checkbox] {
  display: inline;
  float: none;
}
td.icon {
  width: 25px !important;
  height: 25px !important;
  position: relative;
}
td.text {
  min-width: 150px !important;
}
td.main-cell {
  width: 100% !important;
}
em[contenteditable=true] {
  display: block;
  border-bottom: 1px dashed;
  line-height: 30px;
  height: 30px;
  font-size: 14px;
}
.editable {
  height: 20px;
}
div.hidden-content {
  height: 0px;
  width: 0px;
  overflow: hidden;
}
