body {
  background: #fff !important;
}
.grid-exemple {
  width: 100%;
}
.grid-exemple .cell {
  background: #ccc;
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 10px;
  color: #666;
}
.all-icons {
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
}
.lorem {
  padding: 10px;
  text-align: justify;
  color: #666;
  font-size: 12px;
}
.horizontal-navigation-exemple {
  background: #ccc;
  height: 70px;
  border-radius: 3px;
}
.horizontal-navigation-exemple .cell {
  position: absolute;
  bottom: 10px;
}
