.welcome-widget {
  margin-top: var(--primitive-spacer-16);
  margin-bottom: var(--primitive-spacer-16);
}

.welcome-widget-user {
  display: flex;
  align-items: center;
  gap: var(--primitive-spacer-12);
}

