{
    "name": "{{ entcoreAdminVersion }}",
    "priority": 200,
    "config": {
        "main":"org.entcore.admin.Admin",
        "port": 8089,
        "csrf-token" : false,
        "ssl": {{ enableSsl|default(true) }},
        "mode": "{{ envMode|default('prod') }}",
        "auto-redeploy": false,
        "app-type" : "END_USER",
        "host": "https://{{ host }}",
        {% if hotjarId is defined %}
        "publicConf": {
            "hotjarId": {{ hotjarId }},
            "xiti": {
                "ID_SERVICE": {
                    "default": ""
                },
                "LIBELLE_SERVICE": {
                    "default": "PAGE_ENT"
                }
            }
        },
        {% endif %}
        {% if adminDistributions is defined %}
        "distributions": {{ adminDistributions }},
        {% endif %}
        {% if preDeleteByProfile is defined %}
        "pre-delete" : {{ preDeleteByProfile }},
        {% endif %}
        "app-name" : "Admin",
        "app-address" : "/admin",
        "app-icon" : "admin-large",
        "services" : {
            {% if zimbraVersion is defined and zimbraConsole == 'True' %}
            "zimbra" : true,
            {% else %}
            "zimbra" : false,
            {% endif %}
            "edt" : {{ adminEdtTab | default('false') }},
            "calendar" : {{ adminCalendarTab | default('false') }},
            "subjects" : {{ adminSubjectsTab | default('false') }}
        }
        {% if massMessagingEnabled is defined %},
        "mass-messaging-enabled": {{massMessagingEnabled}}
        {% endif %}
        {% if hideAdminv1Link is defined %},
        "hide-adminv1-link": {{ hideAdminv1Link }}
        {% endif %}
    }
}