td:first-of-type + td { font-weight : bold; }
td:first-of-type + td:hover { border: 2px dashed orange; cursor:pointer; }
col:last-child { width: 30px; }
td:last-child { font-size : 1.5em; white-space: normal; }
