<article class="content-box flashmsg__preview">
  <h3><s5l>flashmsg.preview</s5l> :</h3>
  <div class="cell flashmsg" [ngClass]="color"
    [ngStyle]="{ 'background-color': customColor, '--custom-message-color': customColor}">
    <svg class="icon-svg flash-icon" width="20" height="20" viewBox="0 0 24 24">
      <use [attr.href]="'/admin/public/icons/icons.svg' + (color === 'red' ? '#alert-triangle' : '#info-circle')"></use>
    </svg>
    <div class="flash-content">
      <p [innerHTML]="domSanitizer.bypassSecurityTrustHtml(text)"></p>
    </div>
    <div *ngIf="signature !== ''" class="flash-content-signature mt-3 font-italic">
      {{ signature }}
    </div>
  </div>
</article>
