<!DOCTYPE html>
<html>
	<head>
		<title>{{#i18n}}admin.title{{/i18n}}</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{{#static}}css/knacss.css{{/static}}" media="all" />
		<link rel="stylesheet" href="{{#static}}css/font.css{{/static}}" media="all" />
		<link rel="stylesheet" href="{{#static}}css/admin.css{{/static}}" media="all" />

		<script src="{{#infra}}js/jquery-1.9.1.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/underscore-min-1.4.4.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/mustache.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/humane.min.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#infra}}js/angular-app.js{{/infra}}" type="text/javascript"></script>
		<script src="{{#static}}js/admin.js{{/static}}" type="text/javascript"></script>
	</head>
	<body>
		<header>
			<h1>{{#i18n}}admin.header{{/i18n}}</h1>
		</header>
		<!-- By convention it display admin view -->
		<nav id="menu">
			<ul>
				{{#one-apps}}
					<li><a call="displayApp" id="{{name}}" href="{{url}}/admin">{{name}}</a></li>
				{{/one-apps}}
			</ul>
		</nav>
		<section id="main"></section>
	</body>
</html>
