<html>

    <head>
        <title>{{#i18n}}admin.title{{/i18n}}</title>
        <meta charset="UTF-8">
        <base href="/">

        <link rel="stylesheet" type="text/css" href="{{#static}}styles/admin.css{{/static}}">
        <link rel="stylesheet" type="text/css" href="{{#static}}styles/font-awesome-4.7.0/css/font-awesome.min.css{{/static}}">


        <script src="{{#static}}js/polyfills.js{{/static}}"></script>
        <script src="{{#static}}js/vendor.js{{/static}}"></script>
    </head>

    <body>
        <admin-app>...</admin-app>

        <script src="{{#static}}js/admin.js{{/static}}"></script>
    </body>

</html>