<div class="card-header">
            <span>
                <i class="fa fa-user"></i>
                <s5l>search.user</s5l>
            </span>
</div>
<div class="card-body relative">
  <ode-search-input
    [delay]="500"
    [attr.placeholder]="'search.user' | translate"
    (onChange)="inputValue = $event"></ode-search-input>
  <!-- position hack ... -->
  <i class="fa fa-spinner fa-pulse fa-2x fa-fw"
     *ngIf="loading"
     style="position: absolute; top: 35px; right: -20px;"></i>
  <div class="card-list">
    <div class="card-big-margin" *ngIf="!foundUsers || foundUsers.length === 0">
      <em *ngIf="!inputValue">
        <s5l>users.quick.search.intro</s5l>.
      </em>
      <em *ngIf="inputValue">
        <s5l>no.user.found</s5l>.
      </em>
    </div>
    <ul *ngIf="foundUsers && foundUsers.length > 0">
      <li *ngFor="let user of foundUsers">
        <a [routerLink]="['users', user.id, 'details']">
          {{ user.lastName | uppercase }} {{ user.firstName }}
        </a>
      </li>
    </ul>
  </div>
</div>
