<!doctype html>
<html>
	<head>
		<title>{{#i18n}}auth.activation.title{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="{{#static}}css/auth.css{{/static}}" type="text/css" />
		<script type="text/javascript" src="{{#static}}js/auth.js{{/static}}"></script>
	</head>
	<body>
	<div class="logo">

	</div>
	<div class="container">
		<div class="main">
			<div class="welcome">
				<h1>{{#i18n}}auth.welcome{{/i18n}}</h1>
				<h2>{{#i18n}}auth.summerbreak{{/i18n}}</h2>
				<p>{{#i18n}}auth.opening.text{{/i18n}}</p>
				<p>{{#i18n}}auth.closed.prefix{{/i18n}}<strong>{{#i18n}}auth.closed.date{{/i18n}}</strong></p>
				<p>{{#i18n}}auth.opening.teachers.prefix{{/i18n}}
					<strong>{{#i18n}}auth.opening.teachers.date{{/i18n}}</strong>
					{{#i18n}}auth.opening.teachers.suffix{{/i18n}}
					<strong>{{#i18n}}auth.opening.students.date{{/i18n}}</strong>
					{{#i18n}}auth.opening.students.suffix{{/i18n}}</p>
			</div>

			<div class="panel">
			<h1><img src="{{#static}}img/auth.png{{/static}}" />{{#i18n}}auth.activation.header{{/i18n}}</h1>
			{{#error}}<p style="color:red">{{message}}</p>{{/error}}

			<form method="post" action="activation">
				<p>
					<label>{{#i18n}}auth.email{{/i18n}}</label>
					<input type="text" name="login" />
				</p>
				<p>
					<label>{{#i18n}}auth.activation.code{{/i18n}}</label>
					<input type="text" name="activationCode" value="{{activationCode}}" />
				</p>
				<p>
					<label>{{#i18n}}auth.activation.password{{/i18n}}</label>
					<input type="password" name="password" />
				</p>
				<p>
					<label>{{#i18n}}auth.activation.confirm.password{{/i18n}}</label>
					<input type="password" name="confirmPassword" />
				</p>
				<input type="submit" value="{{#i18n}}auth.activate{{/i18n}}" />
				<a href="/auth/login" class="right cell">{{#i18n}}auth.cancel{{/i18n}}</a>
				<div class="clear"></div>
			</form>
		</div>
			</div>
		</div>
	</body>
</html>
