<!doctype html>
<!--
  ~ Copyright. Tous droits réservés. WebServices pour l’Education.
  -->

<html>
	<head>
		<title>{{#i18n}}auth.activation.title{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript" src="{{#infra}}js/loader.js{{/infra}}" id="context"></script>
		<script type="text/javascript" src="/auth/public/js/auth.js"></script>
	</head>
	<body ng-controller="ActivationController">
	<default-styles>
		<div ng-include="template.containers.main"></div>
	</default-styles>

	</body>
</html>
