<!DOCTYPE html>
<html>
    <head>
        <title>{{#i18n}}auth.admin.welcome.title{{/i18n}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
        <script src="{{#static}}js/admin/model.js{{/static}}" type="text/javascript"></script>
        <script src="{{#static}}js/admin/controller.js{{/static}}" type="text/javascript"></script>
    </head>

    <body ng-controller="AdminDirectoryController">
        <admin-portal>
            <container template="main"></container>
        </admin-portal>
    </body>
</html>