<!doctype html>
<!--
  ~ Copyright. Tous droits réservés. WebServices pour l’Education.
  -->

<html>
	<head>
		<title>{{#i18n}}cgu.title{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript" src="{{#infra}}js/loader.js{{/infra}}" id="context"></script>
	</head>
	<body>
	<div class="logo">

	</div>
	<div class="container">
		<div class="main" style="height:auto;">
			<h1 class="remove-fout">{{#i18n}}cgu.title{{/i18n}}</h1>
			<p>{{#i18n}}cgu{{/i18n}}</p>
		</div>
	</div>
	</body>
</html>
