<!doctype html>
<html>
	<head>
		<title>{{#i18n}}cgu.title{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="{{#static}}css/auth.css{{/static}}" type="text/css" />
		<script type="text/javascript" src="{{#static}}js/auth.js{{/static}}"></script>
	</head>
	<body>
	<div class="logo">

	</div>
	<div class="container">
		<div class="main" style="height:auto;">
			<h1 class="remove-fout">{{#i18n}}cgu.title{{/i18n}}</h1>
			<p>{{#i18n}}cgu{{/i18n}}</p>
			<a href="/auth/activation" class="right cell">{{#i18n}}auth.cancel{{/i18n}}</a><br><br>
		</div>
	</div>
	</body>
</html>
