<form method="post" id="changePassword" data-ng-submit="resetPassword('/auth/reset')" class="twelve cell fluid">
	<div class="twelve cell fluid">
		<h1>{{#i18n}}auth.reset.header{{/i18n}}</h1>
		{{#error}}<p style="color:red">{{message}}</p>{{/error}}

		<input type="hidden" name="login" value="{{login}}" />
		<input type="hidden" name="callback" value="{{callback}}" />
		<div class="row">
			<label class="cell six">{{#i18n}}auth.old.password{{/i18n}}</label>
			<input type="password" name="oldPassword" required data-ng-model="account.oldPassword" class="cell six" />
		</div>
		<div class="row">
			<label class="cell six">{{#i18n}}auth.activation.password{{/i18n}}</label>
			<input type="password" name="password" required data-ng-model="account.password" class="cell six" />
		</div>
		<div class="row">
			<label class="cell six">{{#i18n}}auth.activation.confirm.password{{/i18n}}</label>
			<input type="password" name="confirmPassword" required  data-ng-model="account.confirmPassword" class="cell six" />
		</div>
		<div class="lightbox-buttons">
			<input type="submit" class="submit" value="{{#i18n}}auth.reset{{/i18n}}" />
			<input type="button" class="cancel" value="{{#i18n}}cancel{{/i18n}}" />

		</div>
	</div>
</form>
