<h1>{{#i18n}}auth.reset.header{{/i18n}}</h1>
{{#error}}<p style="color:red">{{message}}</p>{{/error}}
<form method="post" action="/auth/reset">
	<input type="hidden" name="login" value="{{login}}" />
	<input type="hidden" name="callback" value="{{callback}}" />
	<p>
		<label>{{#i18n}}auth.old.password{{/i18n}}</label>
		<input type="password" name="oldPassword" />
	</p>
	<p>
		<label>{{#i18n}}auth.activation.password{{/i18n}}</label>
		<input type="password" name="password" />
	</p>
	<p>
		<label>{{#i18n}}auth.activation.confirm.password{{/i18n}}</label>
		<input type="password" name="confirmPassword" />
	</p>
	<input type="submit" value="{{#i18n}}auth.reset{{/i18n}}" />
</form>
