<form method="post" id="changePassword" action="/auth/reset" class="cell fluid">
	<h1>{{#i18n}}auth.reset.header{{/i18n}}</h1>
	{{#error}}<p style="color:red">{{message}}</p>{{/error}}

	<input type="hidden" name="login" value="{{login}}" />
	<input type="hidden" name="callback" value="{{callback}}" />
	<div class="row">
		<label class="cell five">{{#i18n}}auth.old.password{{/i18n}}</label>
		<input type="password" name="oldPassword" class="cell seven" />
	</div>
	<div class="row">
		<label class="cell five">{{#i18n}}auth.activation.password{{/i18n}}</label>
		<input type="password" name="password" class="cell seven" />
	</div>
	<div class="row">
		<label class="cell five">{{#i18n}}auth.activation.confirm.password{{/i18n}}</label>
		<input type="password" name="confirmPassword" class="cell seven" />
	</div>
	<div class="lightbox-buttons">
		<input type="button" class="cancel" value="{{#i18n}}cancel{{/i18n}}" />
		<input type="submit" class="submit" value="{{#i18n}}auth.reset{{/i18n}}" />
	</div>
</form>
