<!doctype html>
<html>
	<head>
		<title>{{#i18n}}auth.forgot.title{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript" src="{{#infra}}js/jquery-1.10.2.min.js{{/infra}}"></script>
		<script type="text/javascript" src="{{#static}}js/auth.js{{/static}}"></script>
	</head>
	<body style="display: none">
	<div class="centered container row">
		<div class="logo">

		</div>
		<section class="main">
			<div class="welcome-text">
				<h1>{{#i18n}}auth.welcome{{/i18n}}</h1>
				<p>{{#i18n}}auth.welcome.p1{{/i18n}}</p>
				<p>{{#i18n}}auth.welcome.p2{{/i18n}}</p>
				<p>{{#i18n}}auth.welcome.p3{{/i18n}}</p>
			</div>

			<div class="panel">
			<h1><img src="{{#static}}img/auth.png{{/static}}" />{{#i18n}}auth.forgot.header{{/i18n}}</h1>
			{{#error}}<p style="color:red">{{message}}</p>{{/error}}
			<form method="post" action="forgot">
				<p>
					<label>{{#i18n}}auth.email{{/i18n}}</label>
					<input type="text" name="login" />
				</p>
				<input type="submit" value="{{#i18n}}auth.forgot.send{{/i18n}}" />
				<a href="/auth/login" class="right cell">{{#i18n}}auth.cancel{{/i18n}}</a>
				<div class="clear"></div>
			</form>
		</div>
		</section>
	</div>
	</body>
</html>
