<!doctype html>
<!--
  ~ Copyright. Tous droits réservés. WebServices pour l’Education.
  -->

<html>
	<head>
		<title>{{#i18n}}auth.forgot.title{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript" src="{{#infra}}js/loader.js{{/infra}}" id="context"></script>
	</head>
	<body>
	<div class="centered container row">
		<default-styles>
			<div class="logo">

			</div>
			<section class="main">
				<div class="welcome-text">
					<h1 translate content="auth.welcome"></h1>
					<p translate content="auth.welcome.p1"></p>
					<p translate content="auth.welcome.p2"></p>
					<p translate content="auth.welcome.p3"></p>
				</div>

				<div class="panel">
					<h1><img src="/auth/public/img/auth.png" /><span translate content="auth.forgot.header"></span></h1>
					<p class="warning" ng-if="error" translate content="error"></p>
					<form method="post" action="forgot">
						<p>
							<label translate content="auth.email"></label>
							<input type="text" name="login" />
						</p>
						<input type="submit" translate attr="value" value="auth.forgot.send" />
						<a href="/auth/login" class="right cell" translate content="auth.cancel"></a>
						<div class="clear"></div>
					</form>
				</div>
			</section>
		</default-styles>

	</div>
	</body>
</html>
