{
    "name": "{{ entcoreCommunicationVersion }}",
    "priority": 56,
    "config": {
        "main": "org.entcore.communication.Communication",
        "auto-redeploy": false,
        "ssl": true,
        "app-type" : "SYSTEM",
        "xp-com-rules": true,
        {% if overrideTheme %} "override-theme": {}, {% endif %}
        {% if csrfToken %}"csrf-token": true,{% endif %}
        "mode": "prod",
        "port": 8015,
        "initDefaultCommunicationRules": {{ defaultComRules }},
        "publicConf": {
            "xiti": {
                "ID_SERVICE": {
                    "default": "",
                    "/admin-console": ""
                },
                "LIBELLE_SERVICE": {
                    "default": "PAGE_ENT",
                    "/admin-console": "PAGE_ENT"
                }
            }
        }
    }
}