$buttons-size: 42px;

.group-manage-container {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 16px;
  min-height: 50vh;

  > div:not(:nth-child(2)) {
    flex: 1;
    min-width: 300px;
    max-width: 300px;
  }
}

.group-manage-tabs {
  margin-top: 24px;
  margin-bottom: 24px;
  display: inline-flex;
  gap: 12px;
  justify-content: space-between;

  + .group-manage-header {
    margin-top: 0;
  }
}

.group-manage-tab {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #7a7a7a;
  border-bottom: 2px solid #7a7a7a;

  &:hover,
  &.active {
    color: #ff8d2e;
    border-color: #ff8d2e;
  }
}

.group-manage-header {
  margin: 24px 0;
}

.group-manage-buttons {
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  align-self: center;
  flex-shrink: 0;
  width: $buttons-size;
}

.group-manage-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 25px;
  width: $buttons-size;
  height: $buttons-size;
  font-size: 1.5em;

  &--add {
    &:not(:disabled) {
      background-color: #FF8D2E;
      color: #fff;

      &:hover {
        background-color: darken(rgb(255, 131, 82), 5%);
      }
    }
  }

  &--remove {
    &:not(:disabled) {
      background-color: #FF8D2E;
      color: #fff;

      &:hover {
        background-color: darken(#FF8D2E, 5%);
        border-color: darken(#FF8D2E, 10%);
      }
    }
  }
}
