<html>
    <head>
        <title>{{#i18n}}app.registry.title{{/i18n}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
        <script src="{{#static}}js/model.js{{/static}}" type="text/javascript"></script>
        <script src="{{#static}}js/controller.js{{/static}}" type="text/javascript"></script>
    </head>
</html>
<body ng-controller="AppRegistry">
    <admin-portal>
        <article class="twelve cell list-view">

			<div class="twelve leaf-menu-container">
                <div ng-repeat="menuItem in leafMenu | filter: filterLeafMenuItems" class="leaf-menu" ng-class="{ selected: template.contains('body', menuItem.templateName) }">
                    <a ng-click="template.open('body', menuItem.templateName); menuItem.onClick();">[[menuItem.text]]</a>
                    <loading-icon
                        ng-if="menuItem.requestName"
                        request="[[menuItem.requestName]]" only-loading-icon
                        class="inline-middle">
                    </loading-icon>
                </div>
            </div>

            <script type="text/ng-template" id="structure-tree">
                <nav class="side-tabs three cell recursive-list">
                    <input type="text" placeholder="[[lang.translate('appregistry.search')]]" ng-model="structureFilteringInput" />
                    <ul ng-if="!structureFilteringInput">
                        <li ng-repeat="struct in levelStructures = schools.all | filter: filterTopStructures | orderBy: 'name'" ng-click="setSchool(struct); selectOnly(struct, levelStructures)" ng-class="{ selected: struct.selected }">
                            [[struct.name]] <i class="right-magnet folded-icon" ng-if="struct.children" ng-class="{ folded: !struct.selected }"></i>
                            <span ng-include="struct.selected ? 'structure-tree-sub-levels' : null"></span>
                        </li>
                    </ul>
                    <ul ng-if="structureFilteringInput">
                        <li ng-repeat="struct in allStructures = schools.all | filter: {name: structureFilteringInput} | orderBy: 'name'" ng-click="setSchool(struct); selectOnly(struct, levelStructures)" ng-class="{ selected: struct.selected }">
                            [[struct.name]]
                        </li>
                    </ul>
                </nav>
            </script>
            <script type="text/ng-template" id="structure-tree-sub-levels">
                <ul ng-if="struct.children">
                    <li ng-repeat="struct in levelStructures = struct.children | orderBy: 'name'" ng-click="$event.stopPropagation(); setSchool(struct); selectOnly(struct, levelStructures)" ng-class="{ selected: struct.selected }">
                        [[struct.name]] <i class="right-magnet folded-icon" ng-if="struct.children" ng-class="{ folded: !struct.selected }"></i>
                        <span ng-include="struct.selected ? 'structure-tree-sub-levels' : null"></span>
                    </li>
                </ul>
            </script>

			<div ng-include="template.containers.body" class="twelve"></div>

        </article>
    </admin-portal>
</body>
