<!DOCTYPE html>
<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

<html class="print">
<head>
	<title></title>
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
	<script type="text/javascript">
		function Preview($scope){
			var location = decodeURIComponent(window.location.href);
			$scope.icon = location.split('icon=')[1].split('&')[0];
			$scope.displayName = location.split('displayName=')[1].split('&')[0];
			$scope.path = location.split('path=')[1].split('&')[0];
			$scope.target = location.split('target=')[1].split('&')[0];

			setTimeout(function(){
				$('.preview iframe', parent.document).height($('.height-mark').height());
			}, 200);

		}
	</script>
</head>
<body>
<portal-styles></portal-styles>
	<div class="row">
	<ul class="list icons-view apps" ng-controller="Preview" style="margin: 0;">
		<li class="element">
			<div class="fixed twelve cell">
				<a href="[[path]]" target="[[target]]">
					<i class="[[icon]]"></i>
				</a>
				<legend>
					<a href="[[path]]" target="[[target]]">[[displayName]]</a>
				</legend>
			</div>
		</li>
		<li class="clear"></li>
	</ul>
	</div>
</body>
</html>