<!DOCTYPE html>
<!--

 -->

<html class="print">
<head>
	<title></title>
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
	<script type="text/javascript">
		function Preview($scope){
			var location = decodeURIComponent(window.location.href);
			$scope.icon = location.split('icon=')[1].split('&')[0];
			$scope.displayName = location.split('displayName=')[1].split('&')[0];
			$scope.path = location.split('path=')[1].split('&')[0];
			$scope.target = location.split('target=')[1].split('&')[0];

			setTimeout(function(){
				$('.preview iframe', parent.document).height($('.height-mark').height());
			}, 200);

		}
	</script>
</head>
<body>
<portal-styles></portal-styles>
	<div class="row">
		<nav class="list icons-view apps" ng-controller="Preview" style="margin: 0;">
			<div class="element">
				<div class="container [[icon]]">
					<a href="[[path]]" target="[[target]]">
						<i class="[[icon]]" ng-if="icon.indexOf('/') === -1"></i>
						<img skin-src="[[icon]]" ng-if="icon.indexOf('/') !== -1" />
					</a>
					<legend>
						<a href="[[path]]" target="[[target]]">[[displayName]]</a>
					</legend>
				</div>
			</div>
			<div class="clear"></div>
		</nav>
	</div>
</body>
</html>
