<!DOCTYPE html>
<!--
  ~ Copyright. Tous droits réservés. WebServices pour l’Education.
  -->

<html class="print">
<head>
	<title></title>
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
	<script type="text/javascript">
		function Preview($scope){
			var location = decodeURIComponent(window.location.href);
			$scope.icon = location.split('icon=')[1].split('&')[0];
			$scope.displayName = location.split('displayName=')[1].split('&')[0];
			$scope.path = location.split('path=')[1].split('&')[0];
			$scope.target = location.split('target=')[1].split('&')[0];

			setTimeout(function(){
				$('.preview iframe', parent.document).height($('.height-mark').height());
			}, 200);

		}
	</script>
</head>
<body>
<portal-styles></portal-styles>
	<div class="row">
	<ul class="list icons-view" ng-controller="Preview" style="margin: 0;">
		<li class="element">
			<div class="fixed twelve cell">
				<a href="[[path]]" target="[[target]]">
					<i class="[[icon]]"></i>
				</a>
				<legend>
					<a href="[[path]]" target="[[target]]">[[displayName]]</a>
				</legend>
			</div>
		</li>
		<li class="clear"></li>
	</ul>
	</div>
</body>
</html>