<!DOCTYPE html>
<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

<html>
<head>
	<title>{{#i18n}}directory.admin.title{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
	<script src="{{#static}}js/model.js{{/static}}" type="text/javascript"></script>
	<script src="{{#static}}js/controller.js{{/static}}" type="text/javascript"></script>
</head>
<body>
<admin-portal>
	<article ng-controller="AppRegistry">
		<nav class="side-tabs three cell">
			<ul>
				<li ng-class="{ selected: !application.id }" ng-click="newApplication()">
					<strong>Créer une application</strong>
				</li>
				<li ng-repeat="application in applications.all" ng-click="viewApplication(application)" ng-class="{ selected: $parent.application === application }">
					[[application.name]]
				</li>
			</ul>
		</nav>
		<article class="side-tabs-content nine cell" ng-if="application">
				<h1 class="nine cell">[[application.name]]</h1>
				<button class="right-magnet cell">Supprimer</button>

				<div class="row preview">
					<h2>Prévisualiser</h2>
					<iframe ng-src="[[previewPath(application)]]"></iframe>
				</div>

				<div class="row">
					<label class="four cell"><span tooltip="tooltip.name">Nom</span></label>
					<input type="text" ng-model="application.name" class="four cell" />
				</div>
				<div class="row">
					<label class="four cell"><span tooltip="tooltip.displayName">Clef i18n</span></label>
					<input type="text" ng-model="application.displayName" complete-change="updatePath()" class="four cell" />
				</div>
				<div class="row">
					<label class="four cell"><span tooltip="tooltip.icon">Icône</span></label>
					<input type="text" ng-model="application.icon" complete-change="updatePath()" class="four cell" />
				</div>
				<div class="row" ng-if="application.external">
					<label class="four cell"><span tooltip="tooltip.password">Code secret</span></label>
					<input type="text" ng-model="application.secret" class="four cell" />
				</div>
				<div class="row">
					<label class="four cell"><span tooltip="tooltip.url">URL</span></label>
					<input type="text" ng-model="application.address" complete-change="updatePath()" class="four cell" />
				</div>

				<div class="row">
					<label class="four cell"><span tooltip="tooltip.target">Cible</span></label>
					<select ng-model="application.target" ng-change="updatePath()" class="four cell">
						<option value="">Portail</option>
						<option value="_blank">Nouvelle page</option>
						<option value="adapter">Adaptateur</option>
					</select>
				</div>
				<div class="row" ng-if="application.external">
					<input type="checkbox" ng-model="application.transferSession" ng-change="setUserinfoScope()" />
					<label class="three cell"><span tooltip="tooltip.transferSession">Transmettre la session</span></label>
				</div>
				<div class="row">
					<a ng-if="!display.advanced" ng-click="showAdvanced()" class="right-magnet">Paramètres avancés</a>
				</div>
				<div class="row" ng-if="display.advanced">
					<div class="row">
						<label class="four cell">Scope</label>
						<input class="four cell" type="text" ng-model="application.scope" />
					</div>
					<div class="row" ng-id="!application.external">
						<label class="four cell"><span tooltip="tooltip.password">Code secret</span></label>
						<input type="text" ng-model="application.secret" class="four cell" />
					</div>
					<div class="row">
						<label class="four cell">Mode d'identification</label>
						<select class="four cell">
							<option>Code</option>
							<option>Identifiants du client</option>
						</select>
					</div>
				</div>
				<div class="row">
					<a ng-if="display.advanced" ng-click="hideAdvanced()" class="right-magnet">Mode simple</a>
				</div>
				<div class="row">
					<input type="button" class="right-magnet" ng-click="application.save()" value="Enregistrer" />
				</div>
			<div class="row reduce-block-six"></div>
			<h1 ng-if="application.id">Gestion des rôles</h1>
			<div class="row" ng-if="application.id">
				<button ng-click="newRole()">Créer un rôle</button>
				<article ng-if="role">
					<label class="four cell">Nom du rôle</label>
					<input type="text" ng-model="role.name" class="four cell" />
					<h3>Autorisations</h3>
					<ul class="selectable-list">
						<li ng-repeat="action in application.actions.all" ng-click="role.switch(action)" ng-class="{ selected: role.hasAction(action) }">
							[[lang.translate(action.displayName)]]
						</li>
					</ul>
					<button class="right-magnet" ng-click="createRole()">Enregistrer</button>
				</article>

				<article ng-repeat="role in roles.applicationRoles(application)" class="accordion" ng-class="{ opened: role.selected }">
					<h2 ng-click="selectRole(role)">[[role.name]]</h2>
					<div class="twelve cell toggle">
						<div class="row content">
							<div class="row">
								<label class="cell">Nom du rôle</label>
								<input type="text" ng-model="role.name" />
							</div>

							<div class="row">
								<h3 class="cell">Autorisations</h3>
								<a class="right-magnet" ng-click="selectGroup = true;">Affecter à des groupes</a>
							</div>
							<div class="row"></div>

							<ul class="selectable-list">
								<li ng-repeat="action in application.actions.all" ng-click="role.switch(action)" ng-class="{ selected: role.hasAction(action) }">
									[[lang.translate(action.displayName)]]
								</li>
							</ul>
						</div>

					</div>
					<div class="row"></div>
				</article>
			</div>
		</article>
		<div class="clear"></div>
	</article>
	<div class="clear"></div>
</admin-portal>
</body>
</html>