<!DOCTYPE html>
<!--

 -->

<html class="print">
<head>
	<title></title>
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
	<script type="text/javascript">
		function Preview($scope, $http){
            $http.get('/appregistry/widgets').success(function(data){
                var location = decodeURIComponent(window.location.href)
    			$scope.widget = _.findWhere(data.widgets, { name: location.split('widget=')[1].split('&')[0]})

                if(!$scope.widget)
                    return

                if($scope.widget.application.address){
                    $scope.widget.i18n = $scope.widget.application.address + $scope.widget.i18n
                    $scope.widget.js = $scope.widget.application.address + $scope.widget.js
                    $scope.widget.path = $scope.widget.application.address + $scope.widget.path
                }

                model.widgets = data.widgets
                model.widgets.findWidget = function(name){
        			return _.findWhere(this, {name: name})
        		}
        		model.widgets.apply = function(){
        			$scope.$apply()
        		}

                if($scope.widget.i18n){
                    lang.addTranslations($scope.widget.i18n)
                    loader.loadFile($scope.widget.js)
                }
                else{
                    loader.loadFile(widget.js)
                }
            })
		}
	</script>
</head>
<body>
    <portal-styles></portal-styles>
    <div class="row widget-container" ng-controller="Preview">
        <div ng-include="widget.path"></div>
    </div>
</body>
</html>
