{
    "name": "{{ entcoreArchiveVersion }}",
    "priority": 62,
    "config": {
        "main": "org.entcore.archive.Archive",
        "port": 8004,
        {% if csrfToken %}"csrf-token": true,{% endif %}
        "mode": "prod",
        "host": "https://{{ host }}",
        "ssl": {{ enableSsl|default(true) }},
        {% if overrideTheme %} "override-theme": {}, {% endif %}
        "email": "{{ fromEmail }}",
        "auto-redeploy": false,
        "app-name": "Archive",
        "app-address": "/archive",
        "app-icon": "archive-large",
        "app-type" : "END_USER",
        "import-path": "{{ importPath | default('/srv/storage/imports') }}",
        "export-path": "{{ exportPath | default('/srv/storage/exports') }}",
        "archive-private-key": "{{ archivePrivateKey }}",
        "force-encryption": {{ forceEncryption|default('false') }},
        {% if archiveReprise is defined %}
        "reprise": {{ archiveReprise }},
        {% endif %}
        "publicConf": {
            "apps" : {
                {#{% if zimbraVersion is not defined %}"conversation" : "org.entcore.conversation.controllers.ConversationController|createDraft",{% endif %}#}
                {% if communityVersion is defined %}"community" : "net.atos.entng.community.controllers.CommunityController|create",{% endif %}
                {% if rackVersion is defined %}"rack" : "fr.wseduc.rack.controllers.RackController|postRack",{% endif %}
                {% if blogVersion is defined %}"blog" : "org.entcore.blog.controllers.BlogController|create",{% endif %}
                {% if wikiVersion is defined %}"wiki" : "net.atos.entng.wiki.controllers.WikiController|createWiki",{% endif %}
                {% if scrapbookVersion is defined %}"scrapbook" : "fr.wseduc.scrapbook.controllers.ScrapbookController|createScrapbook",{% endif %}
                {% if homeworksVersion is defined %}"homeworks" : "fr.wseduc.homeworks.controllers.HomeworksController|createHomework",{% endif %}
                {% if forumVersion is defined %}"forum" : "net.atos.entng.forum.controllers.ForumController|createCategory",{% endif %}
                {% if pagesVersion is defined %}"pages" : "fr.wseduc.pages.controllers.PagesController|add",{% endif %}
                {% if collaborativewallVersion is defined %}"collaborativewall" : "net.atos.entng.collaborativewall.controllers.CollaborativeWallController|create",{% endif %}
                {% if timelinegeneratorVersion is defined %}"timelinegenerator" : "net.atos.entng.timelinegenerator.controllers.TimelineController|createTimeline",{% endif %}
                {% if actualitesVersion is defined %}"actualites" : "net.atos.entng.actualites.controllers.ThreadController|createThread",{% endif %}
                {% if schoolbookVersion is defined %}"schoolbook" : "fr.wseduc.schoolbook.controllers.SchoolBookController|createWord",{% endif %}
                {% if exercizerVersion is defined %}"exercizer" : "fr.openent.exercizer.controllers.SubjectController|persist",{% endif %}
                {% if calendarVersion is defined %}"calendar" : "net.atos.entng.calendar.controllers.CalendarController|createCalendar",{% endif %}
                {% if mindmapVersion is defined %}"mindmap" : "net.atos.entng.mindmap.controllers.MindmapController|create",{% endif %}
                {% if collaborativeEditorVersion is defined %}"collaborativeeditor" : "net.atos.entng.collaborativeeditor.controllers.CollaborativeEditorController|create",{% endif %}
                "workspace" : "org.entcore.workspace.controllers.WorkspaceController|addDocument" 
            },
            "minimum-import-version": {
                "timelinegenerator": "1.7",
                "homeworks": "1.12" 
            },
            "xiti": {
                "ID_SERVICE": {
                    "default": 1
                },
                "LIBELLE_SERVICE": {
                    "default": "STOCKAGE_PARTAGE"
                }
            }
        },
        "purgeArchive": "0 0 2 * * ? *",
        "periodicUserClear": 1800000
    }
}