<html>
	<head></head>
	<body>
		{{#i18n}}email.hi{{/i18n}}<br /><br />
		{{#i18n}}email.user.created.info{{/i18n}}<br /><br />
		{{#i18n}}email.activation.uri{{/i18n}}<br />
		{{activationUri}}<br />
		{{#i18n}}email.login{{/i18n}}: {{login}}<br />
		{{#i18n}}email.activation.infos{{/i18n}}<br /><br />
		{{#i18n}}email.activation.infos2{{/i18n}}<br /><br />
		{{#i18n}}email.regards{{/i18n}}<br /><br />
		{{#i18n}}email.signature{{/i18n}}<br />
		<img src="{{host}}/auth/public/img/illustrations/logo.png" />
	</body>
</html>