html[data-skin="dyslexic"] .my-apps-layout *:not(.application-icon i)  {
    font-family: OpenDyslexic !important;
}
@media (hover: none) {
    .dropdown-wrapper {
        opacity: 1 !important;
    }
}

body {
    background: inherit;
}

.application-card {
    box-shadow: none !important;
    border: 1px solid transparent;
}
.application-card .dropdown-menu {
    display: flex !important;
    border: none;
}
.dropdown-wrapper {
    display: block;
    opacity: 0;
}
.dropdown .btn:hover {
    translate: none !important;
}
.application-card:hover .dropdown-wrapper,
.application-card.active .dropdown-wrapper,
.application-card:focus .dropdown-wrapper,
.application-card:focus-within .dropdown-wrapper {
  opacity: 1;
}
.application-card .card-header, .application-card .card-header button:nth-of-type(2) {
    padding: 0;
    border: 0;
}
.application-card .card-body {
    padding: 0;
}

.application-icon {
    width: 64px;
    height: 64px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    width: 56px;
    display: inline-block;
    overflow: hidden;
}
.application-icon.application-icon-connector {
    color: black !important;
    border: 1px solid #C7C7C7;
}
.application-icon i::before {
    color: white !important;
    font-size: 36px;
}
.application-icon.application-icon-connector i::before {
    color: black !important;
}
.application-title {
    font-family: 'Arimo';
    font-weight: 400;
    text-transform: unset;
}

.toolbar-categories-wrapper {
    display: block;
    width: 100%;
    text-align: center;
}
.toolbar-categories {
    display: inline-flex;
    width: fit-content;
    max-width: 100%;
    white-space: nowrap;
    justify-content: flex-start;
    overflow: scroll;
}

.ellipsis-3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}