.theme-2d .green {
    background-color: #46BFAF;
}
.theme-1d .green {
    background-color: #5AC235;
}
.theme-2d .orange {
    background-color: #FF8D2E;
}
.theme-1d .orange {
    background-color: #FF8D2E;
}
.theme-2d .blue {
    background-color: #2A9CC8;
}
.theme-1d .blue {
    background-color: #46AFE6;
}
.theme-2d .violet {
    background-color: #823AA1;
}
.theme-1d .violet {
    background-color: #A348C0;
}
.theme-2d .yellow {
    background-color: #FFC403;
}
.theme-1d .yellow {
    background-color: #FFC403;
}

body {
    background: inherit;
}

.application-card {
    box-shadow: none !important;
    border: 1px solid transparent;
}
.application-card .dropdown-menu {
    display: flex !important;
    border: none;
}
.dropdown-wrapper {
    display: block;
    opacity: 0;
}
.dropdown .btn:hover {
    translate: none !important;
}
.application-card:hover .dropdown-wrapper,
.application-card.active .dropdown-wrapper,
.application-card:focus .dropdown-wrapper,
.application-card:focus-within .dropdown-wrapper {
  opacity: 1;
}
.application-card .card-header, .application-card .card-header button:nth-of-type(2) {
    padding: 0;
    border: 0;
}
.application-card .card-body {
    padding: 0;
}

.application-icon {
    height: 56px;
    text-align: center;
    line-height: 56px;
    width: 56px;
    display: inline-block;
}
.application-icon i::before {
    color: white !important;
    font-size: 36px;
}

.toolbar-categories-wrapper {
    display: block;
    width: 100%;
    text-align: center;
}
.toolbar-categories {
    display: inline-flex;
    width: fit-content;
    max-width: 100%;
    white-space: nowrap;
    justify-content: flex-start;
}