@import "../default/theme";

@magenta: #FF0B75;

a{
	color: @magenta;
}

nav.horizontal{
	a:hover{
		color: @magenta;
	}
}

.calendar .content .day.today {
	background: @magenta;
}

.calendar .content h2 {
	color: @magenta;
}

.last-mails-widget ul li {
	border-left: 5px solid @magenta;
}

button, input[type=button], input[type=submit], a.button{
	background: @magenta;
}

button:hover, input[type=button]:hover, input[type=submit]:hover, a.button:hover{
	border-color: @magenta;
}

nav.vertical{
	ul{
		li{
			a{

			}
			a:hover, a.selected{
				border-color: @magenta;
				color: @magenta;
			}
		}
	}
	.classic-link{
		background: @magenta;
	}
}

table{
	thead{
		tr{
			border-bottom-color: @magenta;
			border-top-color: @magenta;
		}
	}
	border-bottom: 2px solid @magenta;
}

.img-container div.clip{
	border-color: @magenta;
}

.label-badge{
	background: @magenta;
}

.label-badge:hover{
	color: @magenta;
}

[data-drop-down] ul{
	background: @magenta;
}

.loading-panel{
	border-color: @magenta;
	h1{
		color: @magenta;
	}
}

.tooltip{
	.content{
		background: @magenta;
	}
	.arrow{
		color: @magenta;
	}

}

.drawing-zone{
	article.media{
		border-color: @magenta;
	}
}