@import "../default/theme";

@magenta: #FF0B75;

a{
	color: @magenta;
}

nav.horizontal{
	a:hover{
		color: @magenta;
	}
}

.calendar .content .day.today {
	background: @magenta;
}

.calendar .content h2 {
	color: @magenta;
}

.last-mails-widget ul li {
	border-left: 5px solid @magenta;
}

button, input[type=button], input[type=submit], a.button{
	background: @magenta;
}

button:hover, input[type=button]:hover, input[type=submit]:hover, a.button:hover{
	border-color: @magenta;
}

nav.vertical{
	ul{
		li{
			a{

			}
			a:hover, a.selected{
				border-color: @magenta;
			}
			a.selected{
				color: #FFF;
			}
			a:hover, a.selected:hover{
				color: @magenta;
			}
		}
	}
	a.classic-link{
		background: @magenta;
	}
}

nav.vertical.stamps article.selected{
	background: @magenta;
}

table{
	thead{
		tr{
			border-bottom-color: @magenta;
			border-top-color: @magenta;
		}
	}
	border-bottom: 2px solid @magenta;
}

.icons-view .element .img.container{
	border-color: @magenta;
}

.label-badge{
	background: @magenta;
}

.label-badge:hover{
	color: @magenta;
}

[data-drop-down] ul{
	background: @magenta;
}

.loading-panel{
	border-color: @magenta;
	h1{
		color: @magenta;
	}
}

.tooltip{
	.content{
		background: @magenta;
	}
	.arrow{
		color: @magenta;
	}

}

.drawing-zone{
	article.media{
		border-color: @magenta;
	}
}

.selectable-list{
	li{
		border: none;
		.border-radius(0);
		border-left: 10px solid #ccc;
		background: transparent;
		color: #999;
	}

	li.selected{
		border: none;
		.border-radius(0);
		background: #444;
		border-left: 10px solid @magenta;
		color: #aaa;
	}
}

.side-tabs{
	ul{
		li{
			border-color: @magenta;
		}
		li:hover{
			color: @magenta;
		}
		li.selected{
			border-color: @magenta;
		}
		li.selected:first-child{
			border-top: 1px solid @magenta;
			.border-radius(0);
		}
		li.selected:last-child{
			border-bottom: 1px solid @magenta;
			.border-radius(0);
		}
	}
}

.side-tabs-content{
	border-color: @magenta;
}

.toggle-buttons{
	button:hover{
		color: @magenta;
	}
}

.lightbox-view .tabs header.selected {
	background: #444;
	border-color: @magenta;
	color: @magenta;
}

.lightbox-view .tabs section {
	border-color: @magenta;
}

.progress-bar{
	.filled{
		background: @magenta;
	}
	.filled.small{
		color: @magenta;
	}
}

ul.angle-list{
	list-style-type: none;

	> li{
		font-family: Lato;
		font-size: 20px;
		border-bottom: 1px solid #ff0b75;
		border-left: 3px solid #ff0b75;
		padding-left: 5px;
		color: black;
		margin-bottom: 10px;
		padding-top: 5px;
	}
}

div.leaf-menu{
	display: inline-block;
	margin-right: 10px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: 10px;
	font-family: Lato;
	font-size: 20px;
}

div.angle-container{
	background: #444;
	font-size: 16px;
	color: white;
	font-family: Lato;
	padding: 10;
	border-left: 5px solid #ff0b75;
	border-bottom: 5px solid #ff0b75;
}

input[type=text].angle-container-header{
	color: #333;
	font-weight: 300;
	font-family: Lato;
	margin-top: 10px;
	margin-bottom: 0;
	line-height: 30px;
	background: transparent;
	font-size: 24px;
	height: 40px;
	border-left: 5px solid #ff0b75;
	border-bottom: 2px solid #ff0b75;
	border-radius: 0;
}

div.angle-container-header{
	color: #333;
	font-weight: 300;
	font-family: Lato;
	margin-top: 10px;
	margin-bottom: 0;
	line-height: 30px;
	background: transparent;
	font-size: 24px;
	height: 40px;
	border-left: 5px solid #ff0b75;
	border-bottom: 2px solid #ff0b75;
	border-radius: 0;
}

.accordions{
	.accordion.opened{
		h2{
			color: @magenta
		}
	}
}
