<div class="embedded-viewer" ng-class="{'height-minus200 height-minus270-1d':!isFullscreen}">
	<div class="controls__navbar flex-row align-center justify-between" ng-if="!isFullscreen">
		<div class="flex-row align-center justify-between">
			<h2><i class="back" ng-click="closeViewFile()"></i></h2>
			<div class="flex-row f-column left-spacing-twice">
				<h2 class="no-margin">[[ngModel.name]]</h2>
				<small><span class="no-1d"><i18n>owner</i18n>:&nbsp;</span><strong>[[ngModel.ownerName]]</strong></small>
			</div>
		</div>
		<div class="flex-row align-center justify-between">
			<button class="cancel" ng-click="fullscreen(true)"><i18n>preview</i18n></button>
			<button class="cancel" ng-click="download()"><i18n>download</i18n></button>
			<resource-right resource="ngModel" name="contrib">
				<button ng-click="editImage()" ng-if="ngModel.isEditableImage"><i18n>editImage</i18n></button>
			</resource-right>
			<button ng-if="canEditInLool()" workflow="lool.openFile" ng-click="openOnLool()">
				<i18n>workspace.lool.open</i18n>
			</button>
		</div>
	</div>
	<div class="controls" ng-if="isFullscreen">
		<i class="close" ng-click="fullscreen(false)"></i>
		<button class="right-magnet top-spacing-twice right-spacing-twice" ng-if="canEditInLool()" workflow="lool.openFile" ng-click="openOnLool()">
			<i18n>workspace.lool.open</i18n>
		</button>
		<button class="right-magnet cancel top-spacing-twice right-spacing-twice" ng-click="download()"><i18n>download</i18n></button>
	</div>
	<div class="file">
		<div ng-if="contentType === 'html'">
			<div ng-bind-html="htmlContent"></div>
		</div>
		<img ng-if="contentType === 'img'" class="render" ng-src="[[ngModel.link]]?v=[[ngModel.version]]" />
		<audio ng-if="contentType === 'audio'" controls class="render" ng-src="[[ngModel.link]]"></audio>
		<video ng-if="contentType === 'video'" controls class="render" ng-src="[[ngModel.link]]"></video>
		<pdf-viewer ng-if="contentType === 'pdf'" ng-src="[[ngModel.link]]"></pdf-viewer>
		<pdf-viewer ng-if="isOfficePdf()" ng-src="[[previewUrl()]]"></pdf-viewer>
		<csv-viewer ng-if="isOfficeExcelOrCsv()" csv-delegate="csvDelegate"></csv-viewer>
		<txt-viewer ng-if="isTxt()" txt-delegate="txtDelegate"></txt-viewer>
		<div ng-if="contentType === 'unknown' || contentType === 'zip'" class="default-viewer">
			<button ng-click="download()">
				<i18n>file.viewer.download</i18n>
			</button>
		</div>
	</div>
</div>
