<!doctype html>
<!--

 -->

<html>
<head>
    <title>{{#i18n}}auth.title{{/i18n}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <script>
        function MainController($scope) {
            $scope.edited = parent.model.edited;
            var updateContent = function () {
                $scope.$apply();
                setTimeout(updateContent, 500);
            }
            updateContent();
        }
    </script>
    <style>
        body .panel.login .welcome-text{
            margin: 0;
            margin-top: 77px;
            width: 100%;
            box-sizing:border-box;
        }
        body .panel.login .panels-container{
            width: 100%;
        }
    </style>
    <script type="text/javascript" src="/infra/public/js/loader.js" id="context"></script>
</head>
<body ng-controller="MainController">
    <default-styles>
        <div class="absolute">
            <div class="centered container row">
                <section class="main">
                    <div class="login panel">
                        
                        <div class="rigid-grid panels-container">
                            <div class="welcome-text">
                                <div class="row">
                                    <div bind-html="edited.message.content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </default-styles>
</body>
</html>
