<div class="centered container row">
	<section class="main">
		<div class="panel activation">
			<h1 translate content="auth.activation.header"></h1>
			<p class="warning" translate content="[[error]]" ng-if="error"></p>

			<form method="post" ng-submit="activate()" name="activationForm" novalidate>
				<p>
					<h2 translate content="auth.email"></h2>
					<em><h2>[[user.login]]</h2></em>
				</p>
				<p>
					<label translate content="auth.activation.password"></label>
					<input-password required ng-pattern="passwordRegex" ng-model="user.password"
						ng-change="refreshInput(activationForm, 'confirmPassword')" name="password" ng-trim="false" tabindex="1"></input-password>
					<p class="input-errors" ng-if="activationForm.password.$invalid && activationForm.password.$dirty">
						<i18n>password.errors</i18n><br/>
						<span ng-repeat="(key, value) in activationForm.password.$error">
							<label ng-if="value">[[lang.translate(key)]]</label>
						</span>
					</p>
					<label translate content="auth.activation.confirm.password"></label>
					<input-password required ng-model="user.confirmPassword"
						name="confirmPassword" ng-trim="false" tabindex="2"></input-password>
					<p class="input-errors" ng-if="user.password !== '' && user.confirmPassword && user.confirmPassword !== '' && user.confirmPassword !== user.password">
						<i18n>password.identical</i18n>
					</p>
				</p>
				<div class="complexity>">
					<small><i18n>complexity</i18n> : [[ translateComplexity(activationForm['password'].$viewValue) ]]</small>
					<div class="fill-bar">
						<div style="width: [[ (passwordComplexity(activationForm['password'].$viewValue) / 20) * 100 ]]%"
							 ng-class="{
							 	'weak': passwordComplexity(user.password) < 12,
							 	'normal': passwordComplexity(user.password) < 20 && passwordComplexity(activationForm['password'].$viewValue) >= 12,
							 	'strong': passwordComplexity(user.password) >= 20 }"
						></div>
					</div>
				</div>
				<p class="input-errors" ng-if="passwordComplexity(user.password) < 20">
					<i18n>password.recommandations</i18n>
				</p>
				<p>
					<label translate content="auth.mail"></label>
					<input type="email" name="mail" ng-model="user.email" ng-required="mandatory.mail" tabindex="3"/>
					<span class="input-errors" ng-if="activationForm.mail.$invalid && activationForm.mail.$dirty">
						<span ng-repeat="(key, value) in activationForm.mail.$error">
							<label ng-if="value">[[lang.translate(key)]]</label>
						</span>
					</span>
				</p>
				<p>
					<label translate content="auth.phone"></label>
					<input type="tel" ng-pattern="phonePattern" name="phone" ng-model="user.phone" ng-required="mandatory.phone" tabindex="4"/>
					<span class="input-errors" ng-if="activationForm.phone.$invalid && activationForm.phone.$dirty">
						<span ng-repeat="(key, value) in activationForm.phone.$error">
							<label ng-if="value">[[lang.translate(key)]]</label>
						</span>
					</span>
				</p>
				<p ng-if="cgu">
					<input type="checkbox" ng-model="user.acceptCGU" value="true" tabindex="5" required>
					&nbsp;&nbsp;
					<i18n>label.accept.cgu.1</i18n>
					<a 
						href="[[lang.translate('auth.charter')]]" 
						target="_blank" 
						translate content="label.accept.cgu.2" 
						style="display: inline"
						class="medium-text"
					>
					</a>
					<i18n>label.accept.cgu.3</i18n>
					<a 
						href="[[lang.translate('cgu.file')]]" 
						target="_blank" 
						translate content="label.accept.cgu.4" 
						style="display: inline"
						class="medium-text"
					>
					</a>
				</p>
				<input type="text" name="username" id="username" ng-model="user.login" hidden readonly />
				<input type="submit" translate attr="value" value="auth.activate" ng-disabled="activationForm.$invalid" tabindex="6"/>
				<a href="/auth/login" target="_self" class="right cell" translate content="auth.cancel"></a>
				<div class="clear"></div>
			</form>
		</div>
	</section>
</div>
