<div class="centered container row">
	<section class="main">
		<div class="panel">
			<h1 translate content="auth.activation.header"></h1>
			<p class="warning" translate content="[[error]]" ng-if="error"></p>

			<form method="post" ng-submit="activate()">
				<p>
					<label translate content="auth.email"></label>
					<input type="text" ng-model="user.login" />
				</p>
				<p>
					<label translate content="auth.activation.code"></label>
					<input type="text" ng-model="user.activationCode" />
				</p>
				<p>
					<label translate content="auth.activation.password"></label>
					<input type="password" ng-model="user.password" />
				</p>
				<p>
					<label translate content="auth.activation.confirm.password"></label>
					<input type="password" ng-model="user.confirmPassword" />
				</p>
				<p ng-if="cgu">
					<input type="checkbox" ng-model="user.acceptCGU" value="true"><a href="/auth/cgu" target="_blank" translate content="label.accept.cgu" style="display: inline"></a>
				</p>
				<input type="submit" translate attr="value" value="auth.activate" />
				<a href="/auth/login" class="right cell" translate content="auth.cancel"></a>
				<div class="clear"></div>
			</form>
		</div>
	</section>
</div>