<div class="centered container row">
	<div class="logo">

	</div>
	<section class="main">
		<div class="welcome-text">
			<h1 translate content="auth.welcome"></h1>
			<p translate content="auth.welcome.p1"></p>
			<p translate content="auth.welcome.p2"></p>
			<p translate content="auth.welcome.p3"></p>
		</div>

		<div class="panel">
			<h1 class="remove-fout"><img src="/auth/public/img/auth.png" /><span translate content="auth.message.header"></span></h1>
			<form>
				<p class="success" translate content="[[message]]"></p>
				<a href="/auth/login" class="right cell" translate content="auth.cancel"></a>
			</form>
		</div>
	</section>
</div>