<section class="main">
	<div class="panel">
		<h1 translate content="auth.forgot.header"></h1>
		<p class="warning" ng-if="error" translate content="error"></p>
		<form method="post" action="forgot" ng-submit="forgot()">
			<p>
				<label translate content="auth.email"></label>
				<input type="text" name="login" ng-model="user.login" />
			</p>
			<input type="submit" translate attr="value" value="auth.forgot.send" ng-click="forgot()" />
			<a href="/auth/login" class="right cell" translate content="auth.cancel"></a>
			<div class="clear"></div>
		</form>
	</div>
</section>