<section class="main">
	<div class="panel activation">
		<h1 translate content="auth.forgot.header"></h1>
		<p class="warning" ng-if="error" translate content="[[error]]"></p>
		<form method="post" name="forgotForm" ng-submit="forgot('mail')">
			<p ng-if="shouldAskForPwd()">
				<label translate content="auth.email"></label>
				<input type="text" name="login" ng-keydown="noSpace($event)" ng-change="noUpperCase()" ng-model="user.login" required/>
			<p ng-if="shouldAskForEmail()">
				<label translate content="auth.mail"></label>
				<input type="email" name="mail" ng-model="user.mail" required/>
			</p>
			<p ng-if="shouldAskForNameAndStructure()" class="row no-margin">
				<label translate content="auth.info.firstName" class="no-margin"></label>
				<input type="text" name="firstName" ng-model="user.firstName" required class="no-margin"/>
			</p>
			<p ng-if="shouldAskForNameAndStructure()">
				<label translate content="auth.info.structure"></label>
				<select ng-options="structure.structureId as structure.structureName for structure in structures | orderBy: 'name'" ng-model="user.structureId" required></select>
			</p>

			<a href="/auth/forgot#/id" ng-if="shouldAskForPwd()" translate content="missing.id"></a>
			<a href="/auth/forgot#/password" ng-if="shouldAskForEmail()" translate content="missing.password"></a>
			<a href="/auth/login" class="right cell" translate content="auth.cancel"></a>

			<input type="submit" translate attr="value" value="auth.forgot.send" ng-disabled="forgotForm.$invalid"/>

			<div class="clear"></div>
		</form>
	</div>
</section>
