<div class="centered container row">
	<section class="main">
		<div class="login panel" ng-class="{'browser-container': !browser || (browser && browser.outdated) || !cookieEnabled}">
			<div ng-if="!cookieEnabled" class="browser">
				<h1><i18n>cookies.missing.title</i18n></h1>
				<p class="warning"><i18n>cookies.missing.text</i18n></p>
			</div>

			<div ng-if="!browser" class="browser">
				<h1><i18n>browser.not.supported.title</i18n></h1>
				<p><i18n>browser.not.supported.download</i18n></p>
				<p class="download">
					<a href="https://www.google.fr/chrome/browser/desktop/" target="_blank">
						<img src="/auth/public/img/chrome_logo.png" />
					</a>
					<a href="https://www.mozilla.org/fr/firefox/new/" target="_blank">
						<img src="/auth/public/img/firefox_logo.png" />
					</a>
					<a href="http://windows.microsoft.com/fr-fr/internet-explorer/download-ie" target="_blank">
						<img src="/auth/public/img/msie_logo.png" />
					</a>
				</p>
			</div>

			<div ng-if="browser && browser.outdated" class="browser">
				<h1><i18n>browser.outdated.title</i18n></h1>
				<p><i18n>browser.outdated.update</i18n></p>
				<p class="update">
					<a href="https://www.google.fr/chrome/browser/desktop/" target="_blank" ng-if="browser.browser === 'Chrome'">
						<img src="/auth/public/img/chrome_logo.png" />
					</a>
					<a href="https://www.mozilla.org/fr/firefox/new/" target="_blank" ng-if="browser.browser === 'Firefox'">
						<img src="/auth/public/img/firefox_logo.png" />
					</a>
					<a href="http://windows.microsoft.com/fr-fr/internet-explorer/download-ie" target="_blank" ng-if="browser.browser === 'MSIE'">
						<img src="/auth/public/img/msie_logo.png" />
					</a>
					<a href="https://www.apple.com/fr/safari/" target="_blank" ng-if="browser.browser === 'Safari'">
						<img src="/auth/public/img/safari_logo.png" />
					</a>
				</p>
				<p><i18n>browser.outdated.download</i18n></p>
				<p class="download">
					<a href="https://www.google.fr/chrome/browser/desktop/" target="_blank" ng-if="browser.browser !== 'Chrome'">
						<img src="/auth/public/img/chrome_logo.png" />
					</a>
					<a href="https://www.mozilla.org/fr/firefox/new/" target="_blank" ng-if="browser.browser !== 'Firefox'">
						<img src="/auth/public/img/firefox_logo.png" />
					</a>
					<a href="http://windows.microsoft.com/fr-fr/internet-explorer/download-ie" target="_blank" ng-if="browser.browser !== 'MSIE'">
						<img src="/auth/public/img/msie_logo.png" />
					</a>
				</p>
			</div>
			<h1><i18n>auth.header</i18n></h1>
			<p class="warning" ng-if="error">[[error]]</p>
            <div class="rigid-grid panels-container">
                <div class="welcome-text" ng-if="!welcome.hideContent">
                    <div class="row">
                        <div class="twelve cell" bind-html="welcome.content"></div>
                    </div>
                </div>
                <form method="post" action="/auth/login">
                    <p>
                        <label><i18n>auth.email</i18n></label>
                        <input type="text" ng-model="user.email" name="email" id="email" autofocus tabindex=1 />
                    </p>
                    <p>
                        <label><i18n>auth.password</i18n></label>
                        <input-password type="password" ng-model="user.password" name="password" id="password" tabindex=2></input-password>
                    </p>
                    <p>
						<label>
							<input type="checkbox" ng-model="user.rememberMe" name="rememberMe" id="rememberMe" value="true">&nbsp;&nbsp;<small translate content="auth.remember.me"></small>
						</label>
                    </p>
                    <input type="hidden" name="callBack" ng-value="callBack" />
                    <div class="row">
                        <a class="cell" href="/auth/forgot#/password"><small><i18n>need.help</i18n></small></a>
                        <button tabindex="3" class="right-magnet"><i18n>auth.login</i18n></button>
                    </div>
                </form>
            </div>
	</section>
</div>
