{
    "name": "{{ entcoreTimelineVersion }}",
    "priority": 60,
    "config": {
        "main": "org.entcore.timeline.Timeline",
        "port": 8016,
        {% if isolateTimeline is defined %}
        "isolate-mobile": {{ isolateTimeline | default('false') }},
        {% endif %}
        {% if cacheTimeline is defined %}
        "cache": {{ cacheTimeline | default('false') }},
        {% endif %}
        {% if timelineInstance is defined %}
        "instances": {{ timelineInstance }},
        {% endif %}
        "app-name": "Timeline",
        "app-address": "/timeline/timeline",
        "app-type" : "SYSTEM",
        "sql": true,
        "db-schema": "flashmsg",
        "auto-redeploy": false,
        "ssl": true,
        "maxRecipientLength": {{ timelineMaxRecipientLength|default(10000) }},
        {% if timelineRedisHost is defined %}
        "redisConfig": {
            "host": "{{ timelineRedisHost }}",
            "port": {{ timelineRedisPort|default('6379') }},
            {% if timelineredisPassword is defined %}
            "auth": "{{ timelineredisPassword }}", 
            {% endif %}
            "select": {{ timelineRedisDb|default(0) }}
        },
        {% endif %}
        {% if pushNotif is defined %}
        "push-notif": {{ pushNotif }},
        {% endif %}
        {% if overrideTheme %} "override-theme": {}, {% endif %}
        "host": "https://{{ host }}",
        {% if timelineCron is defined and timelineCron %}
        "daily-mailing-cron" : "0 30 4 * * ? *",
        "weekly-mailing-cron": "0 30 7 ? * 1 *",
        {% else %}
        "daily-mailing-cron" : "0 0 0 1 1 ? 2099",
        "weekly-mailing-cron": "0 0 0 1 1 ? 2099",
        {% endif %}
        "mode": "prod",
        "publicConf": {
            "xiti": {
                "ID_SERVICE": {
                    "default": 2
                },
                "LIBELLE_SERVICE": {
                    "default": "ACCUEIL"
                }
            }
        }
    }
}