{
    "name": "{{ entcoreWorkspaceVersion }}",
    "priority": 55,
    "config": {
        "main": "org.entcore.workspace.Workspace",
        "auto-redeploy": false,
        "mode": "prod",
        "wsPort": 6502,
        {% if csrfToken %}"csrf-token": true,{% endif %}
        "ssl": true,
        {% if overrideTheme %} "override-theme": {}, {% endif %}
        "app-type" : "END_USER",
        "host": "https://{{ host }}",
        "neo4jPlugin": true,
        "userbook-host": "https://{{ host }}",
        "app-name": "Espace documentaire",
        "app-address": "/workspace/workspace",
        "app-icon": "workspace-large",
        "port": 8011,
        "old-query": {{ workspaceUseOldQuery|default('false') }},
        "mongo-address": "wse.mongodb.persistor",
        {% if scratchUrl is defined %} "scratch-url": "{{ scratchUrl }}", {% endif %}
        {% if loolVersion is defined %}"enable-lool": true,{% endif %}
        "publicConf": {
            "lazy-mode": {{ workspaceLazyMode|default('true') }},
            "ttl-documents":{{ workspaceTtlDoc|default('180') }},
            "ttl-folders":{{ workspaceTtlFolder|default('600') }},
            "xiti": {
                "ID_SERVICE": {
                    "default": 1
                },
                "LIBELLE_SERVICE": {
                    "default": "STOCKAGE_PARTAGE"
                }
            }
        }
    }
}