{
    "name": "{{ entcoreCasVersion }}",
    "priority": 61,
    "config": {
        "main": "org.entcore.cas.Cas",
        "port": 8023,
        "enableStructureSplit": {{ enableStructureSplit|default('true') }},
        "publicConf": { "skip": {{ skipCasCheck|default('true') }} },
        {% if csrfToken %}"csrf-token": true,{% endif %}
        "app-name": "Cas",
        "app-address": "/cas",
        "app-icon": "cas-large",
        "host": "https://{{ host }}",
        "ssl": {{ enableSsl|default(true) }},
        "app-type" : "SYSTEM",
        {% if overrideTheme %} "override-theme": {}, {% endif %}
        "auto-redeploy": false,
        "userbook-host": "https://{{ host }}",
        {% if casExternalLoginUri is defined %}{{ casExternalLoginUri }},{% endif %}
        {% if casExternalLogin is defined %}{{ casExternalLogin }},{% endif %}
        "integration-mode": "HTTP",
        "app-registry.port": 8012,
        "mode": "{{ envMode|default('prod') }}",
        "entcore.port": 8009,
        "services": [
        {
            "class": "org.entcore.cas.services.EliotRegisteredService",
            "principalAttributeName": "externalId",
            "patterns": [
                {% if eliotUri is defined %}"^(http|https):\/\/{{ eliotUri }}\/.*",{% endif %}
                "(http|https):\/\/.+.la-vie-scolaire.fr.*"
            ]
        },
        {
            "class" : "org.entcore.cas.services.AcademicSuffixRegisteredService",
            "principalAttributeName" : "login",
            "patterns" : [],
            "academicPattern" : {{ casAcademicPattern|default('') }},
            "externalIdPrefix" : {{ casAcademicPrefixPattern|default('') }},
            "academicSuffix" : {{ casAcademicSuffix|default('[]') }}
        },
        {
            "class": "org.entcore.cas.services.PronoteRegisteredService",
            "principalAttributeName": "login",
            "patterns": []
        },
        {
            "class": "org.entcore.cas.services.KneRegisteredService",
            "principalAttributeName": "externalId",
            "patterns": []
        },
        {
            "class": "org.entcore.cas.services.LeSiteTvRegisteredService",
            "principalAttributeName": "login",
            "patterns": []
        },
        {
            "class": "org.entcore.cas.services.UniversalisRegisteredService",
            "principalAttributeName": "login",
            "patterns": []
        },
        {
            "class": "org.entcore.cas.services.WebclasseursRegisteredService",
            "principalAttributeName": "externalId",
            "patterns": []
        },
        {
            "class" : "org.entcore.cas.services.ZimbraRegisteredService",
            "principalAttributeName" : "login",
            "patterns" : []
        },
        {
            "class": "org.entcore.cas.services.UidRegisteredService",
            "principalAttributeName": "login",
            "patterns": []
        },
        {
            "class" : "org.entcore.cas.services.UuidRegisteredService",
            "principalAttributeName" : "userId",
            "patterns" : []
        },
        {
            "class" : "org.entcore.cas.services.UaiRegisteredService",
            "principalAttributeName" : "userId",
            "patterns" : []
        },
        {
            "class": "org.entcore.cas.services.ProEPSRegisteredService",
            "principalAttributeName": "login",
            "patterns": []
        },
        {
            "class": "org.entcore.cas.services.EducagriRegisteredService",
            "principalAttributeName": "login",
            "patterns": []
        },
        {
            "class": "org.entcore.cas.services.EduMediaRegisteredService",
            "principalAttributeName": "login",
            "patterns": []
        },
        {
            "class": "org.entcore.cas.services.GepiRegisteredService",
            "principalAttributeName": "externalId",
            "patterns": []
        },
        {
            "class": "org.entcore.cas.services.MSELRegisteredService",
            "principalAttributeName": "login",
            "patterns": []
        },
        {
            "class": "org.entcore.cas.services.GRRRegisteredService",
            "principalAttributeName": "login",
            "patterns": []
        },
        {
            "class" : "org.entcore.cas.services.BRNERegisteredService",
            "principalAttributeName" : "externalId",
            "patterns" : []
        },
        {
            "class": "org.entcore.cas.services.LabomepRegisteredService",
            "principalAttributeName": "externalId",
            "patterns": []
        },
        {
            "class" : "org.entcore.cas.services.EnglishAttackRegisteredService",
            "principalAttributeName" : "login",
            "patterns" : []
        },
        {
            "class" : "org.entcore.cas.services.CIDJRegisteredService",
            "principalAttributeName" : "login",
            "patterns" : []
        },
        {
            "class": "org.entcore.cas.services.PearltreesRegisteredService",
            "principalAttributeName": "login",
            "patterns": []
        },
        {
            "class" : "org.entcore.cas.services.ExplorateurDeMetiersRegisteredService",
            "principalAttributeName" : "id",
            "patterns" : []
        },
        {
            "class" : "org.entcore.cas.services.SalvumRegisteredService",
            "principalAttributeName" : "login",
            "patterns" : []
        },
        {
            "class" : "org.entcore.cas.services.MilliwebRegisteredService",
            "principalAttributeName" : "login",
            "patterns" : []
        },
        {
            "class" : "org.entcore.cas.services.PmbRegisteredService",
            "principalAttributeName" : "login",
            "patterns" : []
        },
        {
            "class" : "org.entcore.cas.services.IjboxRegisteredService",
            "principalAttributeName" : "externalId",
            "patterns" : []
        },
        {
            "class" : "org.entcore.cas.services.EnseignoRegisteredService",
            "principalAttributeName" : "id",
            "patterns" : []
        },
		{
            "class":"org.entcore.cas.services.AtNormandieRegisteredService",
            "principalAttributeName":"id",
            "patterns":[]
		},
        {
            "class": "org.entcore.cas.services.DefaultRegisteredService",
            "principalAttributeName": "login",
            "patterns": []
        },
        {
            "class": "org.entcore.cas.services.SpipRegisteredService",
            "principalAttributeName": "externalId",
            "patterns": ["^(http|https):\/\/www.site.ac-aix-marseille.fr.*"]
        },
        {
            "class": "org.entcore.cas.services.ElmsRegisteredService",
            "principalAttributeName": "login",
            "patterns": []
        },
        {
            "class": "org.entcore.cas.services.ExternalIdRegisteredService",
            "principalAttributeName": "externalId",
            "patterns": []
        },
        {
            "class": "org.entcore.cas.services.Spip2RegisteredService",
            "principalAttributeName": "externalId",
            "patterns": []
        },
        {
            "class": "org.entcore.cas.services.GRR2RegisteredService",
            "principalAttributeName": "externalId",
            "patterns": []
        },
        {
            "class": "org.entcore.cas.services.IkigaiRegisteredService",
            "principalAttributeName": "login",
            "patterns": []
        },
        {
            "class": "org.entcore.cas.services.WebGerestRegisteredService",
            "principalAttributeName": "login",
            "patterns": []
        },
        {
            "class": "org.entcore.cas.services.OdeRegisteredService",
            "principalAttributeName": "externalId",
            "patterns": []
        }
        ]
    }
}