<ode-panel-section section-title="users.details.section.infos" [folded]="false">
  <form>
    <fieldset>
      <ode-form-field label="profile">
        <span>{{ user.type | translate }}</span>
      </ode-form-field>
      <ode-form-field label="activation.code" *ngIf="details.activationCode">
        <span>{{ details.activationCode }}</span>
      </ode-form-field>
      <ode-form-field label="id">
        <span>{{ user.id }}</span>
      </ode-form-field>
      <ode-form-field label="externalId">
        <span>{{ details.externalId }}</span>
      </ode-form-field>
      <ode-form-field label="source">
        <span>{{ details.source | translate }}</span>
      </ode-form-field>
      <ode-form-field *ngIf="details.created" label="creation">
        <span>{{ displayDate(details.created) }}</span>
      </ode-form-field>
      <ode-form-field *ngIf="details.modified" label="modification.date">
        <span>{{ displayDate(details.modified) }}</span>
      </ode-form-field>
      <ode-form-field
        label="functions"
        *ngIf="!user.deleteDate && !simpleUserDetails"
      >
        <div>
          <div *ngIf="!details.isAdmc()">
            <button
              type="button"
              *ngIf="showAddAdmlButton()"
              (click)="showAddAdmlConfirmation = true"
            >
              <s5l>adml.add</s5l>
              <i class="fa fa-cog"></i>
            </button>

            <ode-lightbox-confirm
              [show]="showAddAdmlConfirmation"
              [lightboxTitle]="'warning'"
              (onConfirm)="addAdml()"
              (onCancel)="showAddAdmlConfirmation = false"
            >
              <p>
                <s5l
                  [s5l-params]="{
                    userName: user.displayName,
                    userProfile: user.type | translate,
                    structureName: structure.name
                  }"
                  >user.add.adml.disclaimer.info</s5l
                >
              </p>
              <p>
                <s5l>user.add.adml.disclaimer.confirm</s5l>
              </p>
            </ode-lightbox-confirm>

            <button
              type="button"
              *ngIf="details.isAdml(this.structure.id)"
              (click)="showRemoveAdmlConfirmation = true"
            >
              <s5l>adml.remove</s5l>
              <i class="fa fa-cog"></i>
            </button>
          </div>
          <div *ngFor="let func of details.functions">
            <div>
              <span>{{ func[0] | translate }}</span>
              <span *ngIf="func[1] && func[1].length > 0">
                ({{ displayAdmlStructureNames(func[1]) }})
              </span>
            </div>
            <div *ngIf="func[0] == 'ADMIN_LOCAL'">
              <ode-lightbox-confirm
                [show]="showRemoveAdmlConfirmation"
                [lightboxTitle]="'warning'"
                (onConfirm)="removeAdml()"
                (onCancel)="showRemoveAdmlConfirmation = false"
              >
                <p>
                  {{
                    "user.remove.adml.disclaimer.info"
                      | translate: { username: user.displayName }
                  }}
                </p>
                <p>{{ "user.remove.adml.disclaimer.confirm" | translate }}</p>
              </ode-lightbox-confirm>
            </div>
          </div>
        </div>
      </ode-form-field>
    </fieldset>
  </form>
</ode-panel-section>
