<div class="panel-section-header">
    <span><s5l>management.zimbra.panel.opening</s5l></span>
</div>
<div class="container">
    <div class="flashmsg red">
        <i class=" fa fa-exclamation-triangle" tabindex="0" style="color: white;"></i>
        <span style="color: white;"><s5l>management.zimbra.warning.content</s5l></span>
    </div>

    <ul class="zimbra-group-list">
        <li *ngFor="let group of groups; let i= index">
            <div class="checkbox__item">
                <input id="group-checkbox-{{i}}" type="checkbox" [(ngModel)]="checkboxes[i]"
                       (change)="updatePermission(i)">
                <label for="group-checkbox-{{i}}"
                       [ngClass]="{'is-bold' : this.checkboxes[i]}"> {{ group.name }} </label>
            </div>
        </li>
    </ul>
</div>

<div class="panel-section-header">
    <span><s5l>management.zimbra.panel.returning</s5l></span>
</div>

<div class="container">
    <div class="action has-top-margin-10 has-bottom-margin-10">
        <button  (click)="refreshMails()" class="has-right-margin-5">
            <i class="fa is-size-5"></i>
            <s5l>management.zimbra.recall.refresh</s5l>
        </button>
        <button [disabled]="getSelectedRecalledMail().length == 0" (click)="openPopUpRemoveConfirmation()">
            <i class="fa fa-paper-plane is-size-5"></i>
            <s5l>management.zimbra.return.button</s5l>
        </button>
    </div>
    <table>
        <thead>
        <tr>
            <th class="table__checkbox checkbox__item" (click)="checkAll()">
                <input type="checkbox" [checked]="areAllChecked()"
                       [disabled]="recalledMails.length == 0"><label></label>
            </th>
            <th>
                <s5l>management.zimbra.return.tab.user</s5l>
            </th>
            <th>
                <s5l>management.zimbra.return.tab.object</s5l>
            </th>
            <th>
                <s5l>management.zimbra.return.tab.comment</s5l>
            </th>
            <th class="width13">
                <s5l>management.zimbra.recall.date</s5l>
            </th>
            <th class="width17">
                <s5l>management.zimbra.return.tab.statut</s5l>
            </th>
            <th>
                <s5l>management.zimbra.return.progress</s5l>
            </th>
            <th class="width10"></th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let recalledMail of recalledMails">
                <td [hidden]="recalledMail.status == 'REMOVED' || recalledMail.status == 'PROGRESS'" class="checkbox__item"
                    (click)="checkCheckBox(recalledMail); $event.stopPropagation();">
                  <input type="checkbox" [(ngModel)]="checkboxesMail[recalledMail.recallMailId]"><label></label>
                </td>
                <td [hidden]="recalledMail.status != 'REMOVED' && recalledMail.status != 'PROGRESS'"></td>
                <td>{{ recalledMail.userName }}</td>
                <td (click)="openDetailLightBox(recalledMail)">{{ recalledMail.message.subject }}</td>
                <td (click)="openDetailLightBox(recalledMail)">{{ recalledMail.comment }}</td>
                <td>{{ recalledMail.action.date | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                <td [title]="recalledMail.status === 'ERROR' ? ('management.zimbra.return.tooltip.error' | translate) : ''">
                  <span *ngIf="recalledMail.status == 'ERROR'">
                      <i class='fa fa-paper-plane is-danger is-size-5'></i>
                  </span>
                  <span *ngIf="recalledMail.status == 'PROGRESS'">
                      <i class='fa fa-paper-plane progress-icon is-size-5'></i>
                  </span>
                  <span *ngIf="recalledMail.status == 'REMOVED'">
                      <i class='fa fa-paper-plane removed-icon is-size-5'></i>
                  </span>
                  <span *ngIf="recalledMail.status == 'WAITING'">
                      <i class='fa fa-paper-plane  is-size-5'></i>
                  </span>
                  {{ recalledMail.statutDisplayed }}
                  <div *ngIf="recalledMail.action.tasks.lastUpdate != -1 && recalledMail.status == 'REMOVED'">
                    {{ recalledMail.action.tasks.lastUpdate | date: 'dd/MM/yyyy HH:mm:ss' }}
                  </div>
                  <br>
                </td>
                <td> 
                    <span>
                        {{ getProgressionMessageDependingOnRecalls(recalledMail) }}
                    </span>                   
                </td>
                <td [title]="('management.zimbra.return.tooltip.remove' | translate)"
                    (click)="openDeleteLightBox(recalledMail)">
                  <span *ngIf="recalledMail.status != 'PROGRESS'">
                      <i class='fa fa-remove is-danger is-size-3'></i>
                  </span>
                </td>
              </tr>
              

        </tbody>
    </table>
</div>

<!--Lightbox : Recall mail confirmation -->
<ode-lightbox-confirm lightboxTitle="management.zimbra.panel.returning"
                      [show]="removeConfirmationDisplayed"
                      (onCancel)="removeConfirmationDisplayed = false"
                      (onConfirm)="removeSelectedRecallMails(); removeConfirmationDisplayed = false">
    <p>
        <s5l>management.zimbra.return.lightbox.list</s5l>
    </p>
    <ul class="bullet-list">
        <li *ngFor="let recallMessage of getSelectedRecalledMail();">
            {{recallMessage.message.subject }}
        </li>
    </ul>
    <p>
        <s5l>management.zimbra.return.lightbox.remove</s5l>
    </p>
</ode-lightbox-confirm>

<!--Lightbox : Delete confirmation of an recalled mail -->
<ode-lightbox-confirm lightboxTitle="management.zimbra.panel.delete"
                      [show]="deleteConfirmationDisplayed"
                      (onCancel)="deleteConfirmationDisplayed = false"
                      (onConfirm)="deleteRecalledMail(recallMail); deleteConfirmationDisplayed = false"
                      *ngIf="recallMail != null">
    <p>
        <s5l>management.zimbra.return.lightbox.delete</s5l>
    </p>
    <ul class="bullet-list">
        <li ng-if="recallMail != null">
            {{recallMail.message.subject}}
        </li>
    </ul>
</ode-lightbox-confirm>

<!--Lightbox : Detail of an recalled mail -->
<ode-lightbox lightboxTitle="management.zimbra.panel.comment"
              [show]="detailLightboxDisplayed"
              (onClose)="detailLightboxDisplayed = false"
              *ngIf="recallMail != null">
    <p>
        <b>
            <s5l>management.zimbra.return.detail.sender</s5l>
        </b>
        <br>
        {{recallMail.userName}} ({{recallMail.action.userId}})
    </p>
    <p>
        <b>
            <s5l>management.zimbra.return.detail.object</s5l>
        </b>
        <br>
        {{recallMail.message.subject}}
    </p>
    <p>
        <b>
            <s5l>management.zimbra.return.detail.sentOn</s5l>
        </b>
        <br>
        {{recallMail.message.mail_date | date: 'dd/MM/yyyy HH:mm:ss'}}
    </p>
    <p>
        <b>
            <s5l>management.zimbra.return.detail.totalMessages</s5l>
        </b>
        <br>
        {{recallMail.action.tasks.total}}
    </p>
    <p>
        <b>
            <s5l>management.zimbra.return.detail.comment</s5l>
        </b>
        <br>
        {{recallMail.comment}}
    </p>
</ode-lightbox>
