.panel-section-header {
  padding: 10px;
  font-size: 1.1em;
}

.container {
  font-size: 1.1em;
}

.zimbra-group-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.action {
  display: flex;
  justify-content: flex-end;
}

.bullet-list {
  list-style: disc !important;
}

.width10 {
  width: 10%;
}

.width20 {
  width: 20%;
}

.removed-icon {
  color: #63D602;
}

.progress-icon {
  color: orange;
}


