<section class="horizontal-margin-twice vertical-spacing-twice">
    <h2>
        <i18n>classAdmin.add.users</i18n>
    </h2>
    <div class="flex-row justify-around">
        <a class="button-big" href="#" ng-click="goToCreateUserForm()">
            <i18n>classAdmin.create.users</i18n>
            <i class="add-user"></i>
        </a>
        <a class="button-big" href="#" ng-click="goToImport()">
            <i18n>classAdmin.create.import</i18n>
            <i class="import-file"></i>
        </a>
        <a class="button-big" href="#" ng-click="goToFindUserForm()">
            <i18n>classAdmin.search.users</i18n>
            <i class="search"></i>
        </a>
    </div>
</section>
