<section class="horizontal-margin-twice vertical-spacing-twice">
    <h2 class="twelve bottom-spacing-three">
        <i18n>classAdmin.warn.relatives</i18n>
    </h2>
    <div class="warning vertical-spacing-twice text-center force-fullwidth">
        <div class="vertical-spacing-twice bottom-spacing-three">
            <strong>
                <i18n>classAdmin.warn.relatives.title</i18n>
            </strong>
        </div>
        <div class="vertical-spacing-twice">
            <i18n>classAdmin.warn.relatives.subtitle</i18n>
        </div>
    </div>
    <div class="flex-row justify-end top-spacing twice">
        <button ng-click="goToCreateUserForm(false)">
            <span class="large-text">
                <i18n>classAdmin.warn.relatives.backward</i18n>
            </span>
        </button>
        <button class="horizontal-margin-twice" ng-click="submitUserCreateNoCheckRelatives()">
            <span class="large-text">
                <i18n>classAdmin.warn.relatives.submit</i18n>
            </span>
        </button>
    </div>
</section>