<resource-right name="update" resource="snipletResource">
	<button ng-click="display.selectSnipletDocument = true">Ajouter un document</button>
</resource-right>

<article class="list icons-view">
	<header>&nbsp;</header>
	<div ng-repeat="document in source.documents" class="element" ng-class="{ selected: document.selected }">
		<a ng-href="/workspace/document/[[document._id]]" class="img container cell">
			<div class="twelve cell height-twelve">
				<div class="clip absolute">
					<img skin-src="[[documentIcon(document)]]" alt="thumbnail" />
				</div>
			</div>
		</a>

		<legend>
			<a ng-href="/workspace/document/[[document._id]]">
				[[document.title]]
			</a>
			<a ng-href="/userbook/annuaire#[[document.owner.id]]"><strong>[[document.owner.name]]</strong></a>
			<resource-right name="update" resource="snipletResource">
				<i class="close" ng-click="removeDocument(document)"></i>
			</resource-right>
		</legend>
	</div>
</article>


<lightbox show="display.selectSnipletDocument" on-close="display.selectSnipletDocument = false;">
	<h2>Rechercher un document</h2>

	<p class="info" ng-if="display.isLoading">Copie du document vers le site en cours...<loading-icon></loading-icon></p>

	<div class="row">
		<input type="text" ng-model="searchText" i18n-placeholder="search" class="twelve cell" />
	</div>

	<div class="row" ng-if="searchText">
		<ul class="illustrated-list">
			<li ng-repeat="document in documents | filter:searchText | limitTo:6" ng-click="addDocument(document)">
				<img skin-src="[[documentIcon(document)]]" class="illustration" />
				<a class="name">[[document.name]]</a>
				<em class="owner">[[document.ownerName]]</em>
			</li>
		</ul>
	</div>

</lightbox>