<script type="text/ng-template" id="list-folder">
	<a ng-click="displaySniplet.targetFolder = folder" ng-class="{ selected: displaySniplet.targetFolder === folder }">[[folder.title]]</a>
	<ul ng-if="folder.documents.length > 0">
		<li ng-repeat="folder in folder.documents | filter:isFolder" ng-include="'list-folder'">
		</li>
	</ul>
</script>

<lightbox show="displaySniplet.createFolder" on-close="displaySniplet.createFolder = false;">
	<h2><i18n>folder.new</i18n></h2>
	<div class="row">
		<input type="text" i18n-placeholder="workspace.folder.name" class="twelve cell" ng-model="create.folder.title" />
	</div>
	<div class="row">
		<button class="right-magnet" ng-click="addFolder(); displaySniplet.createFolder = false;">
			<i18n>create</i18n>
		</button>
		<button type="button" class="right-magnet" ng-click="displaySniplet.createFolder = false;">
			<i18n>cancel</i18n>
		</button>
	</div>
</lightbox>

<lightbox show="displaySniplet.moveDocuments" on-close="displaySniplet.moveDocuments = false;">
	<h2><i18n>move</i18n></h2>
	<div class="row">
		<nav class="vertical">
			<ul>
				<li ng-include="'list-folder'"></li>
			</ul>
		</nav>
	</div>
	<div class="row">
		<button class="right-magnet" ng-click="moveDocuments(); displaySniplet.moveDocuments = false;">
			<i18n>move</i18n>
		</button>
		<button type="button" class="right-magnet cancel" ng-click="displaySniplet.moveDocuments = false;">
			<i18n>cancel</i18n>
		</button>
	</div>
</lightbox>

<lightbox show="displaySniplet.confirmRemove" on-close="displaySniplet.confirmRemove = false;">
	<h2><i18n>remove</i18n></h2>
	<p><i18n>workspace.sniplet.documents.confirm.remove</i18n></p>
	<div class="row">
		<button class="right-magnet" ng-click="removeDocuments(); displaySniplet.confirmRemove = false;">
			<i18n>remove</i18n>
		</button>
		<button type="button" class="right-magnet" ng-click="displaySniplet.confirmRemove = false;">
			<i18n>cancel</i18n>
		</button>
	</div>
</lightbox>

<lightbox show="displaySniplet.pickFile" on-close="displaySniplet.pickFile = false">
	<media-library ng-change="addDocument(create.document)" ng-model="create.document" file-format="'any'" visibility="visibility"></media-library>
</lightbox>

<div class="row">
	<div class="cell">
		<div class="row" ng-if="cursor.parentFolders.length">
			<div class="cell" ng-repeat="folder in cursor.parentFolders"><a ng-click="openFolder(folder)">[[folder.title]]&nbsp;</a>>&nbsp;</div>[[cursor.currentFolder.title]]
		</div>
	</div>

	<resource-right name="update" resource="snipletResource" class="right-magnet cell">
		<plus class="right-magnet cell">
			<button ng-click="displaySniplet.pickFile = true;"><i18n>workspace.sniplet.documents.add</i18n></button>
			<button ng-click="displaySniplet.createFolder = true;"><i18n>folder.new</i18n></button>
		</plus>
	</resource-right>
</div>

<article class="list icons-view">
	<header>&nbsp;</header>
	<div ng-repeat="document in cursor.currentFolder.documents track by $index" class="element"
		 ng-class="{ selected: document.selected }" dragdrop="dropTo(document, $originalEvent)" dragstart="drag(document, $originalEvent)">
		<a ng-click="openDocument(document)" class="img container cell">
			<div class="twelve cell">
				<div class="clip absolute">
					<img skin-src="[[documentIcon(document)]]" alt="thumbnail" />
				</div>
			</div>
		</a>
        <resource-right name="update" resource="snipletResource">
            <input type="checkbox" ng-model="document.selected" ng-change="updateSelection()" />
        </resource-right>
        <legend>
            <a ng-click="openDocument(document)">
                [[document.title]]
            </a>
            <a ng-click="openDocument(document)"><strong>[[document.owner.name]]</strong></a>
        </legend>
</div>
</article>

<section class="toggle-buttons" ng-class="{ hide: cursor.selection.length === 0 }">
	<div class="toggle">
		<button ng-click="displaySniplet.moveDocuments = true"><i18n>move</i18n></button>
		<button ng-click="displaySniplet.confirmRemove = true"><i18n>remove</i18n></button>
	</div>
</section>