<h2><i18n>workspace.sniplet.carousel.title</i18n></h2>

<div class="row">
	<label class="twelve cell"><i18n>workspace.sniplet.carousel.type</i18n></label>
</div>
<div class="row">
	<select ng-model="carousel.transition" class="twelve cell">
		<option value="fade"><i18n>workspace.sniplet.carousel.fade</i18n></option>
		<option value="slide"><i18n>workspace.sniplet.carousel.withpreview</i18n></option>
		<option value="triplets"><i18n>workspace.sniplet.carousel.threeimages</i18n></option>
	</select>
</div>

<div class="row">
	<label class="twelve cell"><i18n>workspace.sniplet.carousel.buttons.shape</i18n></label>
</div>
<div class="row">
	<select ng-model="carousel.buttons" class="twelve cell">
		<option value="circles"><i18n>workspace.sniplet.carousel.buttons.shape.sphere</i18n></option>
		<option value="squares"><i18n>workspace.sniplet.carousel.buttons.shape.square</i18n></option>
		<option value="triangles"><i18n>workspace.sniplet.carousel.buttons.shape.triangle</i18n></option>
	</select>
</div>

<div class="twelve cell">
	<input type="button" i18n-value="create" class="right-magnet cell" ng-click="setSource()" />
</div>