<h2><i18n>workspace.sniplet.carousel.title</i18n></h2>

<div class="row">
	<label class="twelve cell"><i18n>workspace.sniplet.carousel.type</i18n></label>
</div>
<div class="row">
	<select ng-model="carousel.transition" class="twelve cell">
		<option value="fade">[[translate("workspace.sniplet.carousel.fade")]]</option>
		<option value="slide">[[translate("workspace.sniplet.carousel.withpreview")]]</option>
		<option value="triplets">[[translate("workspace.sniplet.carousel.threeimages")]]</option>
	</select>
</div>

<div class="row">
	<label class="twelve cell"><i18n>workspace.sniplet.carousel.buttons.shape</i18n></label>
</div>
<div class="row">
	<select ng-model="carousel.buttons" class="twelve cell">
		<option value="circles">[[translate("workspace.sniplet.carousel.buttons.shape.sphere")]]</option>
		<option value="squares">[[translate("workspace.sniplet.carousel.buttons.shape.square")]]</option>
		<option value="triangles">[[translate("workspace.sniplet.carousel.buttons.shape.triangle")]]</option>
	</select>
</div>

<div class="twelve cell">
	<input type="button" i18n-value="create" class="right-magnet cell" ng-click="setSource()" />
</div>