div.pager {padding-top: 10px;}
a:hover {cursor: pointer;}
.report-filter {margin: 20px 0;}
.report-filter .button { margin-right: .5rem; }
table.report { table-layout: auto; }
table.report tr.state-delete { background: #fff7dc; }
table.report tr.is-danger { background: #f7e5e5; }
table.report tr.is-warning { background: #fff7dc; }
table.report td.clickable:hover { border: 2px dashed #ff8352; cursor:pointer; }
table.report td.is-danger { border: 2px dashed indianred; }
table.report td.is-success { border: 2px dashed mediumseagreen; }
table.report td input[disabled] { background : transparent; border:0; cursor:pointer; opacity: 1;}
table.report td i.fa { padding: 5px; }
table.report td i.fa-check { font-size: 1.2em; }
.step1-file__label {min-width: 200px; display: inline-block;}
.step5-notebene {font-size: 0.9em;padding: 10px 0;}
.step4 message-box .message-body {max-width:200px;}
.step4 {padding-bottom: 0; overflow: hidden;}
.report-td-classes {min-width: 60px;}
.report { max-width: 1024px; overflow: scroll; padding-bottom: 20px;}
.report-table-th_line {min-width: 40px;}
.report-table-th_sort {padding-right: 5px;}
