ul.actions-list {
  margin: 0;
}

.actions-list .badge.alert {
  margin-right: 10px;
}

.actions-list__button {
  margin: 0 5px;
}

.actions-list__button i {
  font-size: 11px;
  float: none;
  padding-left: 5px;
}
