<div class="flex-header">
  <button class="action" (click)="createUserPosition()">
    <s5l>management.structure.user-position.create</s5l>
    <i class="fa fa-plus-circle is-size-5"></i>
  </button>
</div>
<ode-side-layout showCompanion="true">
  <div side-card>
    <div>
      <ode-user-position-list
        [userPositionList]="userPositionList"
        [(selectedUserPosition)]="selectedUserPosition"
      ></ode-user-position-list>
    </div>
  </div>
  <div side-companion class="container">
    <ng-container *ngIf="!selectedUserPosition">
      <h2>
        <s5l>management.structure.user-position.title</s5l>
      </h2>
      <div>
        <s5l>management.structure.user-position.description</s5l>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedUserPosition">
      <ode-structure-user-position
        [userPosition]="selectedUserPosition"
        [structureId]="structure.id"
        (userPositionUpdated)="userPositionUpdated($event)"
      >
      </ode-structure-user-position>
    </ng-container>
  </div>
</ode-side-layout>

<ode-user-position-modal
  [structureId]="structure.id"
  [showUserPositionLightbox]="showUserPositionLightbox"
  (onClose)="onCloseCreateUserPosition($event)"
></ode-user-position-modal>