<!--
	||||||||||||||||||||||
	|||     WIDGETS    |||
	||||||||||||||||||||||
-->
<div class="row" ng-init="showPanel('preview')">
    <!-- LEFT WIDGET MENU -->
	<nav class="three cell recursive-list">
		<input type="text" placeholder="[[lang.translate('appregistry.search')]]" ng-model="filterWidgets" />
		<ul>
			<li ng-repeat="widget in widgets.all | filter: {name: filterWidgets} | orderBy: 'name'"
                ng-click="viewWidget(widget)" ng-class="{ selected: $parent.widget === widget }">
				[[lang.translate(widget.name)]]
			</li>
		</ul>
	</nav>
	<article class="side-tabs-content nine cell" style="padding: 25px" ng-if="widget">

        <!-- HEADER -->
        <div class="vertical-spacing-twice">
            <h1>[[lang.translate(widget.name)]]</h1>
            <h2 ng-if="widget.application.name" class="small-text">
                <i18n>appregistry.widget.linked.to.app</i18n> <strong>[[widget.application.name]]</strong>
            </h2>
            <h2 ng-if="!widget.application.name" class="small-text">
                <i18n>appregistry.widget.is.global</i18n>
            </h2>
            <h2 ng-if="widget.application.strongLink" class="small-text" style="font-weight: bold">
                <i18n>appregistry.widget.workflow.linked</i18n>
            </h2>
        </div>

        <!-- LEAF MENU -->
        <div class="leaf-menu-container small">
            <div class="leaf-menu" ng-class="{ selected: showPanel() === 'preview' }">
                <a ng-click="showPanel('preview')"><i18n>appregistry.preview</i18n></a>
            </div>
            <div class="leaf-menu" ng-if="isCentralAdmin()" ng-class="{ selected: showPanel() === 'config' }">
                <a ng-click="showPanel('config')"><i18n>appregistry.widget.properties</i18n></a>
            </div>
            <div class="leaf-menu" ng-class="{ selected: showPanel() === 'attribution' }">
                <a ng-click="showPanel('attribution'); viewWidget(widget)"><i18n>appregistry.widget.attribution</i18n></a>
            </div>
            <div class="leaf-menu" ng-class="{ selected: showPanel() === 'massAttribution' }" ng-if="schools.parentStructures.length > 0">
                <a ng-click="showPanel('massAttribution')"><i18n>appregistry.groups.massAttribution</i18n></a>
            </div>
        </div>

        <!-- WIDGET PREVIEW -->
        <div class="row" ng-if="showPanel() === 'preview'">
            <div class="stripes-background centered-text">
    			<iframe id="previewFrame" ng-src="[[getWidgetPreviewUrl()]]" style="width: 60%"></iframe>
    		</div>
        </div>

        <!-- WIDGET CONFIG -->
        <div class="row" ng-if="showPanel() === 'config'">
            <fieldset disabled>
                <legend><i18n>appregistry.widget.fields</i18n></legend>
                <div class="row">
                    <span class="five cell"><label translate content="appregistry.widget.id" tooltip="appregistry.widget.tooltip.id"></label></span>
                    <input class="seven cell" type="text" ng-model="widget.id" disabled />
                </div>
                <div class="row">
                    <span class="five cell"><label translate content="appregistry.widget.name" tooltip="appregistry.widget.tooltip.name"></label></span>
                    <input class="seven cell" type="text" ng-model="widget.name" disabled />
                </div>
                <div class="row">
                    <span class="five cell"><label translate content="appregistry.widget.js" tooltip="appregistry.widget.tooltip.js"></label></span>
                    <input class="seven cell" type="text" ng-model="widget.js" disabled />
                </div>
                <div class="row">
                    <span class="five cell"><label translate content="appregistry.widget.path" tooltip="appregistry.widget.tooltip.path"></label></span>
                    <input class="seven cell" type="text" ng-model="widget.path" disabled />
                </div>
                <div class="row">
                    <span class="five cell"><label translate content="appregistry.widget.i18n" tooltip="appregistry.widget.tooltip.i18n"></label></span>
                    <input class="seven cell" type="text" ng-model="widget.i18n" disabled />
                </div>
            </fieldset>
        </div>

        <!-- WIDGET ATTRIBUTION -->
        <div class="vertical-spacing-twice" ng-if="showPanel() === 'attribution'">
            <div>
                <h4><i18n>appregistry.widgets.attribution.header</i18n></h4>
            </div>
            <div class="row">
                <div class="four cell" ng-include="'structure-tree'"></div>
                <article class="eight cell">
                    <div class="eleven inline-middle">
                        <input type="text" class="search-input" i18n-placeholder="search" ng-model="filterGroups">
                    </div>
                    <div class="filterbar inline-middle">
                        <i class="funnel square-icon small" ng-click="linkedWidgetGroupsOpts.showLinked = !linkedWidgetGroupsOpts.showLinked" tooltip="show.linked.groups"
                            ng-class="{'selected': linkedWidgetGroupsOpts.showLinked}"></i>
                    </div>
                    <ul class="checklist fullrow">
                        <li ng-repeat="group in school.groups.all | filter: {name: filterGroups} | filter: linkedWidgetGroupsOpts.filterLinked(widget) | orderBy: 'name' | orderBy: linkedWidgetGroupsOpts.orderByLinked(widget)"
                            ng-class="{'checked': isLinkedWidget(group, widget)}" ng-click="switchWidgetGroupLink(group, widget)">
                            <div class="inline-middle" style="width: calc(100% - 65px)">[[group.name]]</div>
                            <div class="filterbar right-magnet">
                                <i class="lock square-icon small right-magnet" tooltip="appregistry.widget.tooltip.lock"
                                   ng-click="loadingWrapper('_lockwidget', lockWidgetGroupLink, null, group, widget); $event.stopPropagation()"
                                   ng-if="!_lockwidget.loading"
                                   ng-disabled="!isLinkedWidget(group, widget)"
                                   ng-class="{selected: isWidgetLinkLocked(group, widget), loader: _lockwidget.loading, lock: !_lockwidget.loading}"></i>
                            </div>
                        </li>
                    </ul>
                </article>
            </div>
        </div>

        <!-- MASS ATTRIBUTION -->
        <div ng-if="showPanel() === 'massAttribution'">
            <h4><i18n>appregistry.groups.massAttribution.header</i18n></h4>
            <div class="toolbar">
                <button ng-click="loadingWrapper('_masslink', massLinkWidget, null, widget, multipleCombo.selected.structure, multipleCombo.selected.profiles)"
                        ng-disabled="_masslink.loading || multipleCombo.selected.profiles.length === 0 || multipleCombo.selected.structure.length === 0">
                    <i18n class="inline-middle">appregistry.mass.link</i18n>
                    <i class="horizontal-spacing-twice loader" ng-if="_masslink.loading"></i>
                </button>
                <button ng-click="loadingWrapper('_masslink', massUnlinkWidget, null, widget, multipleCombo.selected.structure, multipleCombo.selected.profiles)"
                        ng-disabled="_masslink.loading || multipleCombo.selected.profiles.length === 0 || multipleCombo.selected.structure.length === 0">
                    <i18n class="inline-middle">appregistry.mass.unlink</i18n>
                    <i class="horizontal-spacing-twice loader" ng-if="_masslink.loading"></i>
                </button>
                <button ng-click="loadingWrapper('_masslink', massSetMandatoryWidget, null, widget, multipleCombo.selected.structure, multipleCombo.selected.profiles)"
                        ng-disabled="_masslink.loading || multipleCombo.selected.profiles.length === 0 || multipleCombo.selected.structure.length === 0">
                    <i18n class="inline-middle">appregistry.mass.set.mandatory</i18n>
                    <i class="horizontal-spacing-twice loader" ng-if="_masslink.loading"></i>
                </button>
                <button ng-click="loadingWrapper('_masslink', massRemoveMandatoryWidget, null, widget, multipleCombo.selected.structure, multipleCombo.selected.profiles)"
                        ng-disabled="_masslink.loading ||  multipleCombo.selected.profiles.length === 0 || multipleCombo.selected.structure.length === 0">
                    <i18n class="inline-middle">appregistry.mass.remove.mandatory</i18n>
                    <i class="horizontal-spacing-twice loader" ng-if="_masslink.loading"></i>
                </button>
            </div>
            <article>
                <multi-combo
                    title="[[lang.translate('appregistry.choose.structure')]]"
                    combo-model="schools.parentStructures"
                    search-on="name"
                    order-by="name"
                    filtered-model="multipleCombo.selected.structure"
                    labels="multipleCombo.comboLabels"
                    max-selected="1"
                    class="six"
                ></multi-combo>
                <fieldset>
                    <legend translate content="appregistry.selected.structure"></legend>
                    <div class="select-blocks" ng-if="multipleCombo.selected.structure.length > 0">
                        <div ng-repeat="structure in multipleCombo.selected.structure" ng-click="multipleCombo.removeElement(structure, 'structure')">
                            [[structure.toString()]]
                        </div>
                    </div>
                </fieldset>
                <multi-combo
                    title="[[lang.translate('appregistry.choose.profiles')]]"
                    combo-model="multipleCombo.profiles"
                    filtered-model="multipleCombo.selected.profiles"
                    search-on="name"
                    order-by="translatedName"
                    labels="multipleCombo.comboLabels"
                    class="six"
                ></multi-combo>
                <fieldset>
                    <legend translate content="appregistry.selected.profiles"></legend>
                    <div class="select-blocks">
                        <div ng-repeat="profile in multipleCombo.selected.profiles" ng-click="multipleCombo.removeElement(profile, 'profiles')">
                            [[profile.toString()]]
                        </div>
                    </div>
                </fieldset>
            </article>
        </div>

    </article>
</div>
