<!--
	|||||||||||||||||||||
	|||  CROSS ROLES  |||
	|||||||||||||||||||||
-->
<div class="twelve">
	<nav class="side-tabs three cell recursive-list">
		<input type="text" placeholder="[[lang.translate('appregistry.search')]]" ng-model="filterCrossRoles"/>
		<ul>
			<li ng-click="newRole()" ng-class="{ selected: !role.id }" class="top-item last">
				<strong>[[lang.translate("appregistry.createRole")]]</strong>
			</li>
			<li ng-repeat="listedRole in crossRoles | filter: {name: filterCrossRoles} | orderBy: 'name'" ng-click="viewRole(listedRole)" ng-class="{ selected: role === listedRole }">
				[[listedRole.name]]
			</li>
		</ul>
	</nav>
	<article class="side-tabs-content nine cell" ng-if="role">
		<div class="row"><h1 class="nine cell">[[role.name || '&nbsp']]</h1></div>

		<div class="row">
			<label class="three comment"><span>[[lang.translate("appregistry.roleName")]]</span></label>
			<input class="four" type="text" ng-model="role.name" placeholder="[[lang.translate('appregistry.role')]]" style="height: 36px; border-radius: initial; border: 1px dotted black; margin: 0;"/>
			<button class="right-magnet three" ng-if="!role.id" ng-click="saveCrossRole(role)" ng-disabled="!validateCrossRole(role)">[[lang.translate("appregistry.create")]]</button>
			<button class="right-magnet" ng-if="role.id" ng-click="saveCrossRole(role)" ng-disabled="!validateCrossRole(role)">[[lang.translate("appregistry.save")]]</button>
			<button class="right-magnet" ng-click="deleteRole(role)" ng-if="role.id" style="margin-right: 10px">[[lang.translate("appregistry.delete")]]</button>
		</div>

		<div class="row">
			<ul class="angle-list">
				<li ng-repeat="application in applications.all | orderBy: 'name'">
					[[application.name]]
					<ul class="selectable-list" style="font-size: 14px; margin-top: 10px;">
						<li ng-repeat="approle in $parent.$parent.appRoles = roles.applicationRolesExclusive(application) | orderBy: 'name'" ng-click="role.crossSwitch(approle)" ng-class="{ selected: crossRoleContains(approle) }">
							[[approle.name]]
						</li>
					</ul>
				</li>
			</ul>
		</div>

	</article>
</div>
