<html>
	<head>
		<title>{{#i18n}}myAccount.title{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="{{#static}}css/index.css{{/static}}" />
		<script src="{{#static}}js/jquery-1.9.1.js{{/static}}" type="text/javascript"></script>
		<script src="{{#static}}js/index.js{{/static}}" type="text/javascript"></script>
	</head>
	<body>
		<h1>{{#i18n}}myAccount.header{{/i18n}}</h1>
		<div id="picture">
			<img src="{{#static}}img/no-avatar.jpg{{/static}}">
		</div>		
		<div id="data"></div>
		<div id="motto"></div>
		
		<h1>{{#i18n}}myAccount.interests{{/i18n}}</h1>
		<div id="interests"></div>
		
		<h1>{{#i18n}}myAccount.health{{/i18n}}</h1>
		<div id="health"></div>
		
		<div id="log"></div>
	</body>
</html>
