<div>
  <p>
    <s5l>management.edt.intro</s5l>
  </p>

  <div class="container has-shadow">
    <h2>
      <s5l>management.edt.reports.header</s5l>
    </h2>
    <ul>
      <li *ngFor="let report of getReports();">
        <a (click)="showReport(report.id)"><s5l *ngIf="report.manual != true" [s5l-params]="{ date: report.date }">management.edt.reports.auto</s5l></a>
        <a (click)="showReport(report.id)"><s5l *ngIf="report.manual == true" [s5l-params]="{ date: report.date }">management.edt.reports.manual</s5l></a>
      </li>
    </ul>
    <div class="see-more">
      <button (click)="seeMore = !seeMore" *ngIf="hasMore()">
        <s5l *ngIf="seeMore != true">management.edt.reports.more</s5l>
        <s5l *ngIf="seeMore == true">management.edt.reports.less</s5l>
      </button>
    </div>
  </div>

  <div class="container has-shadow">
    <h2>
      {{ structureTitle() }}
    </h2>
    <div class="flex-select">
      <label>
        <s5l>management.edt.flux.label</s5l>
      </label>
      <ode-mono-select
        class="is-block"
        placeholder="management.edt.flux.placeholder"
        [options]="[
          { value: EDTImportFlux.DEFAULT, label: 'management.edt.flux.default' },
          { value: EDTImportFlux.NONE, label: 'management.edt.flux.none' },
          { value: EDTImportFlux.EDT, label: 'EDT' },
          { value: EDTImportFlux.UDT, label: 'UDT' }
        ]"
        [(ngModel)]="changeFlux"
      ></ode-mono-select>
    </div>
    <div class="see-more">
      <button class="active" (click)="showFluxChangeWarning = true">
        <s5l>confirm</s5l>
      </button>
    </div>
    <div class="container has-shadow" *ngIf="canImport()">
      <h3>
        <s5l>management.edt.import.title</s5l>
      </h3>
      <div class="flex-select">
        <label>
          <s5l>management.edt.import.label</s5l>
        </label>
        <input type="file" (change)="loadFile($event)"/>
      </div>
      <div class="see-more">
        <button class="active" (click)="manualImport(null)">
          <s5l>management.edt.import.button</s5l>
        </button>
      </div>
    </div>
    <div class="container has-shadow" *ngIf="canOnetimeImport()">
      <h3>
        <s5l>management.edt.import.onetime.title</s5l>
      </h3>
      <p><s5l>management.edt.import.onetime.body</s5l></p>
      <div class="flex-select">
        <label>
          <s5l>management.edt.import.onetime.type</s5l>
        </label>
        <ode-mono-select
          class="is-block"
          placeholder="management.edt.import.onetime.placeholder"
          [options]="[
            { value: EDTImportFlux.EDT, label: 'EDT' },
            { value: EDTImportFlux.UDT, label: 'UDT' }
          ]"
          [(ngModel)]="onetimeImport"
        ></ode-mono-select>
      </div>
      <div class="flex-select">
        <label>
          <s5l>management.edt.import.label</s5l>
        </label>
        <input type="file" (change)="loadFile($event)"/>
      </div>
      <div class="see-more">
        <button class="active" (click)="manualImport(onetimeImport)">
          <s5l>management.edt.import.button</s5l>
        </button>
      </div>
    </div>
    <div class="container has-shadow" *ngIf="unknownClasses.length > 0">
      <h3>
        <s5l>management.edt.correspondance.title</s5l>
      </h3>
      <div class="flex-select" *ngFor="let ukClass of unknownClasses;">
        <label>
          {{ ukClass }}
        </label>
        <ode-mono-select
          class="is-block"
          [options]="classNames"
          [(ngModel)]="classesMapping[ukClass]"
        ></ode-mono-select>
      </div>
      <div class="see-more">
        <button class="active" (click)="updateClassesMapping()">
          <s5l>confirm</s5l>
        </button>
      </div>
    </div>
    <div class="container has-shadow" *ngIf="unknownGroups.length > 0">
      <h3>
        <s5l>management.edt.correspondance.group.title</s5l>
      </h3>
      <div class="flex-select" *ngFor="let ukGroup of unknownGroups;">
        <label>
          {{ ukGroup }}
        </label>
        <ode-mono-select
          class="is-block"
          [options]="groupNames"
          [(ngModel)]="groupsMapping[ukGroup]"
        ></ode-mono-select>
      </div>
      <div class="see-more">
        <button class="active" (click)="updateGroupsMapping()">
          <s5l>confirm</s5l>
        </button>
      </div>
    </div>
  </div>

  <ode-lightbox [show]="shownReport != null" (onClose)="hideReport()">
    <pre>
      {{shownReport}}
    </pre>
  </ode-lightbox>

  <ode-lightbox-confirm lightboxTitle="warning"
                    [show]="showFluxChangeWarning"
                    (onCancel)="showFluxChangeWarning = false"
                    (onConfirm)="updateFluxType(); showFluxChangeWarning = false">
    <p>
      <b><s5l>management.edt.flux.warning</s5l></b>
    </p>
  </ode-lightbox-confirm>
</div>