<section class="admc-search-unlinked">
  <ode-side-layout (closeCompanion)="closePanel()" [showCompanion]="showCompanion">
    <div side-card>
      <ode-list
            [model]="collectionRef"
            [sort]="'+displayName'"
            searchPlaceholder="search.user"
            noResultsLabel="no.user.found"
            placeholder="list.placeholder"
            [isSelected]="isSelected"
            (inputChange)="onSearchTermChanged($event)"
            [searchSubmit]="search"
            (scrolledDown)="search()"
            (onSelect)="onSelectItem($event)"
            [searchInput]="true">
        <div toolbar> <!-- necessary div for ng-content with toolbar selector injection from ode-list -->
          <ode-search-toolbar
            [label]="'user.searchType.label'"
            [searchTypes]="searchTypes"
            [nbItem]="nbUsers"
            [nbItemLabel]="'list.results.users'"
            (selectSearchType)="handleSelectSearchType($event)"
          >
          </ode-search-toolbar>
        </div>
      
        <ng-template let-item>
          <div class="user-name">
            <span>{{ item.displayName }}</span>
          </div>
        </ng-template>
      </ode-list>
    </div>

    <div side-companion>
      <div class="panel-section">
        <router-outlet
          (activate)="onUserDetailsAttached($event)"
          (deactivate)="onUserDetailsDetached($event)"
        ></router-outlet>
      </div>
    </div>

  </ode-side-layout>
</section>