.connector-properties__action {
    display: flex;
    justify-content: flex-end;
    padding: 20px 10px 10px 10px;
}

.connector-properties__action--cancel {
    min-width: 80px;
    text-align: center;
}

.connector-properties__action--submit {
    margin-left: 5px;
    min-width: 80px;
    text-align: center;
}

.connector-properties-warning {
    padding: 0px 15px;
}

.connector-properties-warning__header {
    color: #ff8352;
    font-weight: bold;
}

.connector-properties-warning__content {
    font-style: italic;
    font-size: 0.8em;
}

.connector-properties-cas-casType__description {
    padding-top: 20px;
    font-weight: bold;
}​

:host ::ng-deep ode-lightbox > section > div{
    min-width: 500px;
}