<div class="flex-header">
  <h1><i class="fa fa-th"></i> {{ 'services' | translate }}</h1>

  <button *ngIf="showCreateConnectorButton()" [routerLink]="['connectors', 'create']">
    <s5l>services.connector.create.button</s5l>
    <i class="fa fa-plug is-size-5"></i>
  </button>
</div>

<div class="tabs">
  <button class="tab" *ngFor="let tab of tabs"
          [disabled]="tab.disabled"
          [routerLink]="tab.view"
          routerLinkActive="active">
    {{ tab.label | translate }}
  </button>
</div>
<router-outlet></router-outlet>
