<ode-panel-section section-title="users.details.section.structures" [folded]="true">
  <button (click)="showStructuresLightbox = true">
    <s5l>add.structure</s5l><i class="fa fa-plus-circle"></i>
  </button>
  <ode-lightbox class="inner-list"
            [show]="showStructuresLightbox" (onClose)="showStructuresLightbox = false">
    <div class="padded">
      <h3><s5l>add.structure</s5l></h3>
      <ode-list class="inner-list"
            [model]="lightboxStructures"
            [inputFilter]="filterByInput"
            searchPlaceholder="search.structure"
            sort="name"
            (inputChange)="inputFilter = $event"
            [isDisabled]="disableStructure"
            (onSelect)="addStructure($event)">
        <ng-template let-item>
                            <span class="display-name">
                                {{ item?.name }}
                            </span>
        </ng-template>
      </ode-list>
    </div>
  </ode-lightbox>
  <ul class="actions-list">
    <li *ngFor="let structure of user.visibleStructures()">
      <span>{{ structure.name }}</span>
      <i class="fa fa-times action" (click)="removeStructure(structure)"
         [title]="'delete.this.structure' | translate"
         [ngClass]="{ disabled: spinner.isLoading(structure.id)}"></i>
    </li>
    <li *ngFor="let structure of user.invisibleStructures()">
      <span>{{ structure.name }}</span>
    </li>
  </ul>
</ode-panel-section>
