<section class="toggle-buttons" ng-class="{ hide: !hasSelectedUsers() }">
    <div class="toggle block-container">
        <div class="row">
            <button workflow="directory.allowClassAdminResetPassword" translate content="directory.resetPassword" ng-click="resetPasswords()" ng-if="selectedUsersAreActivated()"></button>
            <button workflow="directory.allowClassAdminBlockUsers" ng-click="openLightbox('admin/actions/block')" ng-if="selectedUsersAreNotBlocked()" translate
                content="admin.block">
            </button>
            <button workflow="directory.allowClassAdminBlockUsers" ng-click="openLightbox('admin/actions/unblock')" ng-if="selectedUsersAreBlocked()" translate
                content="admin.unblock">
            </button>
            <button workflow="directory.allowClassAdminDeleteUsers" ng-if="canRemoveSelection()" ng-click="openLightbox('admin/actions/delete')">
                <i18n>remove</i18n>
            </button>
            <button ng-click="goToExport(true)">
                <i18n>classAdmin.export.toaster</i18n>
            </button>
        </div>
    </div>
</section>