<section class="admc-apps-roles">
  <ode-side-layout (closeCompanion)="closePanel()" [showCompanion]="showCompanion">
    <div side-card>
      <ode-list
            [model]="collectionRef"
            [sort]="'+displayName'"
            [inputFilter]="filterByInput"
            [searchPlaceholder]="'roles.application.search'"
            [noResultsLabel]="'services.application.list.empty'"
            [isSelected]="isSelected"
            (inputChange)="itemInputFilter = $event"
            (onSelect)="selectedItem = $event; router.navigate([$event.id], {relativeTo: route})">

        <ng-template let-item>
          <div class="service-icon">
            <img [src]="item.icon" *ngIf="inputFileService.isSrcExternalUrl(item.icon)"/>
            <img src="{{ item.icon }}" *ngIf="inputFileService.isSrcWorkspace(item.icon)"/>
            <i [ngClass]="item.icon"
                *ngIf="!inputFileService.isSrcExternalUrl(item.icon)
                                      && !inputFileService.isSrcWorkspace(item.icon)"></i>
          </div>
          <div class="service-name">
            <span>{{ item.displayName | translate }}</span>
          </div>
        </ng-template>
      </ode-list>
    </div>

    <div side-companion>
      <div class="panel-section">
        <router-outlet></router-outlet>
      </div>
    </div>

  </ode-side-layout>
</section>