@import "../../libs/entcore-css-lib/entcore-css-lib/css-lib.css";
@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700);
.row {
  width: 100%;
  position: relative;
  clear: both;
  box-sizing: border-box;
}
.cell {
  box-sizing: border-box;
  float: left;
  display: block;
  position: relative;
}
.fixed-block {
  box-sizing: content-box;
  position: relative;
  height: 0px;
}
.fixed-block .right-magnet.cell.absolute {
  right: 0 !important;
  left: auto;
}
.fixed-block .cell.fluid {
  position: relative;
  height: 100%;
}
.fixed-block .bottom-magnet.cell {
  bottom: 0;
  position: absolute;
}
.right-magnet {
  float: right !important;
}
.absolute {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.bottom-locked {
  position: absolute;
  bottom: 0px;
}
.cell-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.drop-down {
  overflow: visible;
  position: absolute;
  z-index: 10002;
  height: 226px;
  background: #eee;
  cursor: pointer;
  -o-transition: height 250ms ease;
  -moz-transition: height 250ms ease;
  -webkit-transition: height 250ms ease;
  transition: height 250ms ease;
}
.drop-down > div {
  position: relative;
  height: 100%;
  width: 100%;
}
.drop-down .display-more {
  background: #eee;
  text-align: center;
}
.drop-down ul {
  padding: 10px 0;
  margin: 0px;
  background: #eee;
  width: 100%;
  height: 100%;
}
.drop-down ul li {
  padding-left: 10px;
  line-height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lightbox-backdrop {
  position: fixed;
  background: #222;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  opacity: 0.5;
  z-index: 10000;
  display: none;
}
.lightbox-window {
  position: fixed;
  z-index: 10001;
  background: #fff;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  float: none;
  left: 0;
  right: 0;
  display: none;
  border-radius: 5px;
}
div.admin-theme-picker {
  width: 31px;
  height: 31px !important;
  margin-top: 6px;
  margin-left: 6px;
  border-radius: 15px;
  border-right: 8px solid #444;
  transition: border-color 0.25s ease-in-out;
}
div.admin-theme-picker:hover {
  border-right-color: #EEE;
}
div.admin-theme-picker.pink {
  background: #fd4a98;
}
div.admin-theme-picker.orange {
  background: #ff7f5f;
}
div.admin-theme-picker.blue {
  background: #1776B2;
}
div.admin-theme-picker.purple {
  background: #9C27B0;
}
div.admin-theme-picker.red {
  background: #FF483E;
}
div.admin-theme-picker.green {
  background: #319171;
}
div.admin-theme-picker.grey {
  background: #607D8B;
}
html,
body {
  background-color: #eee;
  font-family: Lato;
}
body {
  overflow-x: hidden;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}
body section.main {
  background: transparent;
}
a {
  color: #fd4a98;
  text-decoration: none;
}
a:hover {
  color: #000;
}
form {
  margin-bottom: 0px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Lato;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: normal;
  font-weight: 300;
}
h1 {
  color: #fd4a98;
  font-size: 48px;
}
h2 {
  font-size: 30px;
}
h2 strong {
  color: #fd4a98;
}
h2 a {
  color: #444;
}
h2.subtitle {
  height: 30px;
  font-size: 18px;
  margin: 5px 0px;
}
h3 {
  color: #fd4a98;
  text-align: left;
  font-size: 22px;
}
h3.subtitle {
  height: 30px;
  font-size: 18px;
  margin: 5px 0px;
}
h4 {
  text-align: center;
}
h4.subtitle {
  margin: 9px 10px;
}
h5 {
  text-align: center;
  font-size: 16px;
  margin: 0;
}
h6 {
  margin: 10px 0px;
  font-size: 15px;
}
article {
  border-radius: 3px;
  border: none;
  margin-bottom: 15px;
}
button,
input[type=button],
a.button,
input[type=submit] {
  background: #fd4a98;
  padding: 9px 18px;
  color: #fff;
  font-size: 15px;
  border: 1px solid transparent;
  -o-transition: background 250ms ease;
  -moz-transition: background 250ms ease;
  -webkit-transition: background 250ms ease;
  transition: background 250ms ease;
  font-family: Lato;
  font-weight: 300;
  line-height: 20px;
}
button:hover,
input[type=button]:hover,
input[type=submit]:hover,
a.button:hover {
  background: #444;
  color: #fff;
}
header.navbar {
  background: #444;
  position: absolute;
  width: 100%;
  height: 42px;
  top: 0;
  left: 0;
  z-index: 20;
}
header.navbar h1:first-child {
  font-size: 1.3em;
  padding-left: 10px;
  margin: 10px;
  float: left;
  color: #fff;
  border-bottom: 0;
}
header.navbar a {
  float: right;
}
i.folder-large {
  background: url('../img/icons/glyphicons-145-folder-open.svg') #eee;
  height: 100px;
  width: 100px;
  display: block;
}
i.ok {
  height: 31px;
  width: 31px;
  background-image: url("../img/icons/glyphicons_206_ok_2.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
}
i.nok {
  height: 31px;
  width: 31px;
  background-image: url("../img/icons/glyphicons_207_remove_2.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
}
i.folded-icon {
  transition: background 0.25s ease-in-out;
  height: 22px;
  width: 22px;
  background-image: url("../img/icons/glyphicons_223_chevron-bottom.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
}
i.folded-icon.folded {
  height: 22px;
  width: 22px;
  background-image: url("../img/icons/glyphicons_223_chevron-right.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
}
i.disconnect {
  height: 35px;
  width: 35px;
  background-image: url("../img/icons/glyphicons_063_power_white.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 5px;
  float: right;
  margin-bottom: -6px;
}
i.spinner {
  height: 35px;
  width: 35px;
  background-image: url("../img/icons/glyphicons_081_refresh.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  animation: spin 1000ms infinite linear;
  transform-origin: 51.5% 51.5%;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
i.loader {
  height: 10px;
  width: 10px;
  background-image: url("../img/icons/anim_loading_small.gif");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
}
i.close-2x {
  height: 15px;
  width: 15px;
  background-image: url("../img/icons/glyphicons_207_remove_2.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  right: 0px;
  top: 0px;
}
i.linked {
  height: 22px;
  width: 20px;
  background-image: url("../img/icons/glyphicons_050_link.png");
  background-repeat: no-repeat;
  background-size: cover;
}
i.remove {
  height: 28px;
  width: 28px;
  background-image: url("../img/icons/glyphicons_197_remove.png");
  background-repeat: no-repeat;
  background-size: cover;
}
i.lock {
  height: 28px;
  width: 28px;
  background-image: url("../img/icons/glyphicons_203_lock.png");
  background-repeat: no-repeat;
  background-size: cover;
}
i.unlock {
  height: 28px;
  width: 28px;
  background-image: url("../img/icons/glyphicons_204_unlock.png");
  background-repeat: no-repeat;
  background-size: cover;
}
i.refresh {
  height: 35px;
  width: 35px;
  background-image: url("../img/icons/glyphicons_081_refresh.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
}
i.eye {
  width: 28px;
  height: 16px;
  background-image: url("../img/icons/glyphicons_051_eye_open.png");
  background-repeat: no-repeat;
  background-size: cover;
}
i.funnel {
  width: 28px;
  height: 28px;
  background-image: url("../img/icons/glyphicons_320_filter.png");
  background-repeat: no-repeat;
  background-size: cover;
}
i.sort {
  width: 28px;
  height: 28px;
  background-image: url("../img/icons/glyphicons_409_sort-by-attributes-alt.png");
  background-repeat: no-repeat;
  background-size: cover;
}
i.pin {
  width: 28px;
  height: 28px;
  background-image: url("../img/icons/glyphicons_335_pushpin.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.square-icon {
  display: inline-block;
  vertical-align: top;
  height: 22px;
  width: 22px;
  background-color: #EEE;
  border-radius: 5px;
  border: 1px solid #444;
  box-sizing: content-box;
  background-size: 50% !important;
  background-position: center;
}
i.small {
  width: 23px;
  height: 23px;
}
i.medium {
  width: 25px;
  height: 25px;
}
i.slide-arrow::before {
  content: "▸";
  font-size: 16px;
  line-height: 13px;
  color: #fd4a98;
  display: inline-block;
  transition: transform 0.25s ease-in-out;
}
i.slide-arrow.slided::before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
h1.link-previous > a::before {
  content: ">";
  display: inline-block;
  margin-right: 10px;
  transition: transform 0.25s ease-in-out, transform-origin 0.25s ease-in-out;
  border-radius: 50%;
  font-weight: bold;
}
h1.link-previous > a:hover::before {
  transform: rotate(-180deg);
  transform-origin: 50% 56%;
}
.filterbar > i {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  transition: all 0.25s ease-in-out;
  box-shadow: 1px 1px 2px #444;
  border: none;
}
.filterbar > i:hover {
  background-color: pink;
  box-shadow: 0px 0px 0px 1px #DDD;
}
.filterbar > i.selected {
  background-color: #fd4a98;
}
.filterbar > i[disabled] {
  box-shadow: none;
  border: 1px solid #AAA;
  opacity: 0.6;
  background-color: #CCC;
  pointer-events: none;
}
.stripes-background {
  background-color: #EEE !important;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, 0.5) 35px, rgba(255, 255, 255, 0.5) 70px) !important;
}
.preview {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
}
.preview h2 {
  font-size: 16px;
  color: #888;
  margin: 0;
  border: none;
}
.preview iframe {
  overflow: hidden;
  height: 152px;
  width: 100%;
  background: #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 2px dashed darkgray;
}
.preview-external {
  /*
	&:hover{
		> div {
			height: 200px;
		}
	}
    */
}
.preview-external > div {
  height: 115px;
  overflow: hidden;
  /*
		background: white;
		border: 2px dashed darkgray;
		transition: height 0.5s ease-in-out;
        */
}
.preview-external iframe {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
h1 {
  font-size: 30px;
}
h1:first-child {
  margin-top: 0;
}
html section.main,
body section.main {
  min-height: 100%;
  max-width: 1500px;
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}
article.main {
  height: 100%;
  padding-top: 0;
}
article {
  padding: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: none;
  background: transparent;
  padding: 15px;
  /*max-width: 1300px;*/
  margin-left: auto;
  margin-right: auto;
}
a.button[disabled],
button[disabled],
input[type=button][disabled],
input[type=submit][disabled],
a.button[disabled]:hover,
button[disabled]:hover,
input[type=button][disabled]:hover,
input[type=submit][disabled]:hover {
  color: #fff;
  background: #BBB;
  border: 1px solid #CCC;
  cursor: default;
}
button,
input[type=submit],
input[type="button"] {
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7);
}
button.small,
input[type=submit].small,
input[type="button"].small {
  padding: 2px 5px;
  font-size: 14px;
}
select {
  background: #494949;
  color: #999;
  border: 1px solid #595959;
  height: 25px;
}
select[disabled] {
  color: #fff;
  background: #BBB;
  border: 1px solid #CCC;
  cursor: default;
}
input[type=text],
select,
label {
  height: 25px;
  line-height: 25px;
}
input[type=text],
input[type="tel"],
input[type="email"] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #f5f5f5;
  padding-left: 5px;
  border: 1px solid #e5e5e5;
}
input[type=text],
input[type=search],
input[type=password],
input[type="tel"],
input[type="email"] {
  height: 25px;
  line-height: 25px;
  padding-left: 5px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 7px;
}
input.ng-invalid {
  border: 2px solid red;
  background: #FFCCCC;
  color: #444;
}
input[type=text].search-input {
  width: 100%;
  height: 29px;
  margin: 10px auto;
  background: transparent;
  border-bottom: 2px solid #888;
  border-radius: 0px;
  transition: border-color 0.25s ease;
}
input[type=text].search-input:focus {
  border-color: #fd4a98;
  outline: 0;
}
.large-text {
  font-size: 17px;
}
.selectable-list li {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-left: 10px solid #ccc;
  background: transparent;
  color: #999;
}
.selectable-list li.selected {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: #444;
  border-left: 10px solid #fd4a98;
  color: #aaa;
}
nav.recursive-list {
  border-right: none;
  margin-top: 10px;
  font-size: 12px;
  background: #444;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 3px solid #fd4a98;
  padding-top: 1px;
}
nav.recursive-list ul {
  margin: 0;
  padding: 0;
}
nav.recursive-list ul li {
  list-style-type: none;
  padding: 7px;
  padding-left: 17px;
  background: #ddd;
}
nav.recursive-list ul li.selected {
  background: #eee;
  border: 1px solid #ccc;
  border-right: none;
  border-left-width: 5px;
  box-sizing: content-box;
  margin-left: -5px;
}
nav.recursive-list > ul {
  /*max-height: 550px;*/
  overflow-y: scroll;
}
nav.recursive-list > ul li {
  border-color: #fd4a98;
  color: #ccc;
  background: #444;
}
nav.recursive-list > ul li:hover {
  color: #fd4a98;
}
nav.recursive-list > ul li.selected {
  border-color: #fd4a98;
  color: #2a2829;
  background: #FCFCFC;
  border-right: none;
  border-top: none;
  border-bottom: none;
}
nav.recursive-list > ul li.selected:first-child {
  border-top: 1px solid #fd4a98;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
nav.recursive-list > ul li.selected:last-child {
  border-bottom: 1px solid #fd4a98;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
nav.recursive-list > ul ul li.selected {
  border: none;
  background: #fd4a98;
  color: white;
  box-shadow: 0px 0px 3px;
}
nav.recursive-list input[type=text] {
  display: block;
  width: 95%;
  height: 29px;
  background: #444;
  color: white;
  outline: none;
  margin: 10px auto;
  border: none;
  border-bottom: 2px solid #fd4a98;
  border-radius: 0px;
  transition: border-color 0.25s ease;
}
nav.recursive-list input[type=text]:focus {
  border-color: white;
}
nav.recursive-list i.folded-icon {
  transition: all 0.25s ease-in-out;
  margin-right: 10px;
  background-size: contain;
  height: 14px;
  width: 14px;
  -webkit-filter: invert(0);
  filter: invert(0);
}
nav.recursive-list i.folded-icon.folded {
  -webkit-filter: invert(1);
  filter: invert(1);
}
nav.recursive-list li {
  transition: all 0.25s ease-in-out;
  padding-right: 0px;
}
nav.recursive-list li.top-item.last {
  border-bottom: 1px solid #fd4a98;
}
nav.recursive-list li:hover {
  background: whitesmoke;
  color: #fd4a98;
}
nav.recursive-list li:hover > i.folded-icon {
  -webkit-filter: invert(0);
  filter: invert(0);
}
nav.recursive-list li.selected:hover {
  background: white;
  color: #fd4a98;
}
nav.recursive-list li.selected ul {
  box-shadow: 0px 0px 3px;
}
nav.recursive-list li.selected ul li {
  border-radius: 0px !important;
}
.side-tabs-content,
.content-box {
  border-color: #fd4a98;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  border-right: none;
  border-bottom: none;
  padding-right: 15px;
}
.side-tabs-content.unpadded,
.content-box.unpadded {
  padding-right: 0px;
}
.side-tabs-content.content-flex,
.content-box.content-flex {
  display: -webkit-flex;
  display: flex;
}
nav.left {
  z-index: 1;
  position: fixed;
  top: 0;
  padding-top: 53px;
  width: 300px;
}
nav.left button {
  margin-bottom: 10px;
  margin-top: 10px;
  position: absolute;
  top: 0;
  left: 50px;
  display: block;
}
nav.vertical {
  padding-right: 15px;
}
nav.vertical h2 {
  font-size: 18px;
  font-family: Arial;
  font-weight: normal;
  font-variant: small-caps;
  color: #444;
  margin-top: 20px;
}
nav.vertical ul {
  margin: 0;
  padding: 0;
  width: 100%;
}
nav.vertical ul li {
  padding-left: 20px;
  box-sizing: border-box;
}
nav.vertical ul li a {
  color: #000;
  -o-transition: background 250ms ease;
  -moz-transition: background 250ms ease;
  -webkit-transition: background 250ms ease;
  transition: background 250ms ease;
  font-family: Lato;
  font-weight: 300;
  margin: 0;
  border-right: 8px solid #ccc;
  line-height: 25px;
}
nav.vertical ul li a i.arrow {
  height: 20px;
  display: block;
  float: left;
  color: #fff;
  font-family: Arial;
}
nav.vertical ul li a i.arrow::before {
  content: "▸";
  font-size: 16px;
  line-height: 13px;
  color: #fd4a98;
}
nav.vertical ul li a.selected {
  color: #FFF;
  border-right: 8px solid #fd4a98;
  background: #444;
}
nav.vertical ul li a.selected i.arrow::before {
  margin-top: 4px;
  color: #666;
}
nav.vertical ul li a:hover {
  color: #fd4a98;
  background: #ccc;
}
nav.vertical ul li a.opened i.arrow::before {
  content: "▾";
}
nav.vertical ul:first-child > li,
nav.vertical div ul:first-child > li,
nav.vertical h2 + ul > li {
  padding-left: 0;
}
nav.vertical a.classic-link {
  display: block;
  padding: 5px;
  padding-left: 11px;
  background: #fd4a98;
  color: #fff;
  font-family: Lato;
  font-weight: 300;
  width: 100%;
  box-sizing: border-box;
  -o-transition: background 250ms ease;
  -moz-transition: background 250ms ease;
  -webkit-transition: background 250ms ease;
  transition: background 250ms ease;
  border-radius: 3px;
  border: 1px solid transparent;
}
nav.vertical a.classic-link:hover {
  background: #444;
}
.container {
  padding: 0px;
  padding-top: 80px;
  margin: 0px;
}
.humane-original-error,
.humane-original-info {
  font-family: Lato;
  font-weight: 300;
}
.humane-original-info {
  background: #628CD6;
}
.tooltip .content {
  color: white;
  background: #fd4a98;
}
.tooltip .arrow {
  color: #fd4a98;
}
ul.angle-list {
  list-style-type: none;
}
ul.angle-list > li {
  font-family: Lato;
  font-size: 20px;
  padding-left: 5px;
  margin-bottom: 10px;
  padding-top: 5px;
  border-bottom: 1px solid #fd4a98;
  border-left: 3px solid #fd4a98;
  color: black;
}
ul.angle-list > li button.close {
  font-size: 14px;
  padding: 0px;
  width: 16px;
  height: 16px;
  line-height: 0px;
}
ul.angle-list > li button.close::after {
  content: 'X';
}
ul.angle-list.small {
  padding-left: 0px;
}
ul.angle-list.small > li {
  font-size: 15px;
  padding-left: 10px;
  padding-bottom: 2px;
  padding-top: 0px;
}
.flex-list {
  display: flex;
  flex-wrap: wrap;
}
.flex-list > * {
  flex-grow: 1;
}
.flex-list.squares > * {
  font-size: 18px;
  background: #444;
  padding: 5px 2%;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid #444;
  border-top: none;
  border-right: none;
  box-shadow: 0px 1px 1px;
  transition: all 0.25s ease-in-out;
  overflow: hidden;
}
.flex-list.squares > *.inherited {
  background: #888;
  border-color: #888;
}
.flex-list.squares > *.inherited a {
  color: white;
}
.flex-list.squares > *.locked {
  background: #FF4444;
  border-color: #FF0000;
}
.flex-list.squares > *.locked a {
  color: white;
}
.flex-list.squares > * div.pictos {
  float: right;
  margin-left: 10px;
}
.flex-list.squares > * div.pictos > i {
  display: inline-block;
  vertical-align: top;
  height: 22px;
  width: 22px;
  background-color: #EEE;
  border-radius: 5px;
  border: 1px solid #444;
  box-sizing: content-box;
  background-size: 50% !important;
  background-position: center;
}
.flex-list.squares > * div.actions {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  overflow: hidden;
  float: right;
}
.flex-list.squares > * div.actions > i {
  width: 20px;
  height: 22px;
  background-position: center;
  background-size: 65%;
  display: inline-block;
  vertical-align: top;
}
.flex-list.squares > * a {
  color: #ccc;
}
.flex-list.squares.twocols > * {
  box-sizing: border-box;
  flex-basis: calc(50% - 10px);
}
.flex-list.squares.singlecol > * {
  box-sizing: border-box;
  flex-basis: 100%;
  margin-right: 0px;
}
.flex-list.squares > div:hover {
  border-color: #fd4a98;
  background: white;
  box-shadow: 0px 1px 1px #fd4a98;
}
.flex-list.squares > div:hover.inherited {
  background: #EEE;
}
.flex-list.squares > div:hover.locked {
  background: #FCC;
}
.flex-list.squares > div:hover a {
  color: black;
}
.flex-list.squares > div:hover a:hover {
  color: #fd4a98;
}
.flex-list.squares > div:hover div.actions {
  opacity: 1;
}
.check-item {
  border-bottom: 1px solid transparent;
  transition: all 0.35s ease-in-out;
}
.check-item::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid black;
  vertical-align: middle;
  margin-right: 5px;
  transition: transform 0.35s ease-in-out, border 0.55s ease-in-out, border-width 0.15s ease-in-out, border-color 0.25s ease-in-out, width 0.25s ease-in-out;
}
.check-item:hover {
  color: #fd4a98;
  border-color: #fd4a98;
}
.check-item:hover::before {
  border-color: #fd4a98;
}
.check-item.checked {
  border-bottom: 1px solid #fd4a98;
}
.check-item.checked::before {
  border-color: #fd4a98;
  border-top-color: transparent;
  border-left-color: transparent;
  border-width: 2px;
  width: 13px;
  transform: rotate(30deg) translate(-5px, -5px);
}
.check-item.disabled {
  color: #888;
  pointer-events: none;
}
.check-item.disabled::before {
  border-color: #888;
}
.check-item.disabled.checked::before {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: #888;
  border-bottom-color: #888;
}
ul.checklist {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
ul.checklist li {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  padding: 6px 15px;
  flex-basis: 25%;
  flex-grow: 1;
  border-bottom: 1px solid transparent;
  transition: all 0.35s ease-in-out;
}
ul.checklist li::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid black;
  vertical-align: middle;
  margin-right: 5px;
  transition: transform 0.35s ease-in-out, border 0.55s ease-in-out, border-width 0.15s ease-in-out, border-color 0.25s ease-in-out, width 0.25s ease-in-out;
}
ul.checklist li:hover {
  color: #fd4a98;
  border-color: #fd4a98;
}
ul.checklist li:hover::before {
  border-color: #fd4a98;
}
ul.checklist li.checked {
  border-bottom: 1px solid #fd4a98;
}
ul.checklist li.checked::before {
  border-color: #fd4a98;
  border-top-color: transparent;
  border-left-color: transparent;
  border-width: 2px;
  width: 13px;
  transform: rotate(30deg) translate(-5px, -5px);
}
ul.checklist li.disabled {
  color: #888;
  pointer-events: none;
}
ul.checklist li.disabled::before {
  border-color: #888;
}
ul.checklist li.disabled.checked::before {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: #888;
  border-bottom-color: #888;
}
ul.checklist.fullrow li {
  flex-basis: 100%;
}
div.leaf-menu-container {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 3px solid #fd4a98;
  text-align: center;
}
div.leaf-menu {
  display: inline-block;
  margin-right: 10px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10px;
  font-family: Lato;
  font-size: 20px;
  -moz-transition: background 200ms ease-in;
  -webkit-transition: background 200ms ease-in;
  -o-transition: background 200ms ease-in;
  transition: background 200ms ease-in;
}
div.leaf-menu:hover {
  background-color: pink;
}
div.leaf-menu:hover a,
div.leaf-menu:hover a:hover {
  color: #fff;
}
div.leaf-menu.selected {
  background-color: #fd4a98;
}
div.leaf-menu.selected > a {
  color: #fff;
}
div.leaf-menu-container.small {
  border-width: 2px;
}
div.leaf-menu-container.small > div.leaf-menu {
  padding: 7px;
  font-size: 15px;
  margin-right: 8px;
}
div.toolbar {
  border-bottom: 1px solid #fd4a98;
  height: 16px;
  margin: 25px 0px;
}
div.toolbar > button {
  font-size: 10px;
  padding: 0px 10px;
  position: relative;
  top: 5px;
  margin-left: 10px;
}
fieldset {
  border-radius: 5px;
  margin: 20px 0px;
}
fieldset[disabled] {
  opacity: 0.8;
}
fieldset.unstyled {
  margin: 0;
  padding: 0;
  border: none;
}
.bottom-spacing {
  margin-bottom: 5px;
}
div.angle-container {
  font-size: 16px;
  font-family: Lato;
  padding: 10px;
  background: #444;
  color: white;
  border-left: 5px solid #fd4a98;
  border-bottom: 5px solid #fd4a98;
}
input[type=text].angle-container-header {
  font-weight: 300;
  font-family: Lato;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 30px;
  background: transparent;
  font-size: 24px;
  height: 40px;
  border-radius: 0;
  color: #333;
  border-left: 5px solid #fd4a98;
  border-bottom: 2px solid #fd4a98;
}
div.angle-container-header {
  font-weight: 300;
  font-family: Lato;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 30px;
  background: transparent;
  font-size: 24px;
  height: 40px;
  border-radius: 0;
  color: #333;
  border-left: 5px solid #fd4a98;
  border-bottom: 2px solid #fd4a98;
}
button.instantButtons {
  margin-right: 10px;
  border: 0;
  width: 33px;
  height: 28px;
  vertical-align: middle;
  background-color: #fd4a98;
}
button.instantButtons.select {
  background-image: url(/public/img/glyphicons-halflings-white.png);
  background-position: 14.5% 68%;
  background-repeat: no-repeat;
}
button.instantButtons.deselect {
  background-image: url(/public/img/glyphicons-halflings-white.png);
  background-position: 9% 68%;
  background-repeat: no-repeat;
}
nav.search-container {
  padding-right: 0;
  border-right: 2px ridge #fd4a98;
  border-bottom: 2px ridge #fd4a98;
}
nav.search-container-left {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkitflex: 0.35;
  flex: 0.35;
  list-style: none;
  font-family: Lato;
  min-height: 500px;
  max-width: 25%;
  padding: 0;
  margin-top: 14;
  border-right: 2px ridge #fd4a98;
  border-bottom: 2px ridge #fd4a98;
}
nav.search-container > input[type=text],
nav.search-container-left > input[type=text] {
  display: inline-block;
  background-color: inherit;
  border-radius: 0;
  padding-left: 20px;
  font-size: 16px;
  width: 95%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #ccc;
}
nav.search-container > ul,
nav.search-container-left > ul {
  position: absolute;
  height: calc(100% - 50px);
  top: 50px;
  overflow-y: scroll;
}
div.search-container-view {
  padding: 10px 15px 0px 20px;
  -webkit-flex: 1;
  flex: 1;
}
hr.separator {
  margin: 15px 0 15px 0;
  padding: 0;
  border: 1px solid #ccc;
}
.accordions .accordion h2 {
  background: -webkit-linear-gradient(#383838, #333);
  background: -moz-linear-gradient(#383838, #333);
  background: -o-linear-gradient(#383838, #333);
  background: linear-gradient(#383838, #333);
  border: 1px solid #555;
  color: #666;
  border-bottom: none;
}
.accordions .accordion h2:hover {
  background: #444;
  color: #fff;
}
.accordions .accordion .toggle {
  background: #333;
}
.accordions .accordion .toggle .content {
  color: #999;
}
.accordions .accordion .toggle .content h3 {
  color: #fd4a98;
}
.accordions .accordion .toggle .content input[type=text],
.accordions .accordion .toggle .content textarea,
.accordions .accordion .toggle .content select {
  background: #2C2C2C;
  border: none;
}
.accordions .accordion .toggle textarea {
  background: #252525;
}
.accordions .accordion:last-child h2 {
  border-bottom: 1px solid #555;
}
.accordions .accordion.opened h2 {
  border: 1px solid #555;
  color: #fd4a98;
  border-bottom: none;
  background: #333;
}
.accordions .accordion.opened .toggle {
  border: 1px solid #555;
  border-top: none;
}
.progress-bar .filled {
  background: #fd4a98;
}
.progress-bar .filled.small {
  color: #fd4a98;
}
.navbar {
  background: #444;
}
.toggle-buttons {
  background: #444;
}
.icons-view .element.selected .container {
  background: #fd4a98;
}
button {
  margin: 0px;
}
button.glyph-button {
  width: 30px;
  height: 30px;
  padding: 0;
  background-image: url(/public/img/glyphicons-halflings.png);
  background-repeat: no-repeat;
}
button.glyph-button.filter-icon {
  background-position: 91% 104%;
}
button.glyph-button.silhouette-icon {
  background-position: 36.5% -5%;
}
button.glyph-button.question-mark-icon {
  background-position: 20% 67.5%;
}
button.glyph-button.plus-icon {
  background-position: -1.5% 68%;
}
button.sort-button {
  width: 30px;
  height: 30px;
  padding: 0;
  background-image: url(/public/img/glyphicons_409_sort-by-attributes-alt.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 15px;
}
div.vertical-buttons-container,
div.horizontal-buttons-container {
  position: absolute;
  z-index: 100;
}
div.vertical-buttons-container {
  right: -15px;
  width: 30px;
  top: 0px;
}
div.vertical-buttons-container button {
  margin-bottom: 15px;
}
div.horizontal-buttons-container {
  left: 0px;
  top: -40px;
  width: auto;
}
div.horizontal-buttons-container button {
  margin-left: 5px;
}
button.directory-direct-link-button {
  background-image: url(/public/img/glyphicons-halflings.png);
  width: 25px;
  height: 25px;
  background-position: 25.5%;
}
.inline-middle {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
div.legend-square {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}
div.legend-square.red {
  background-color: red;
}
div.legend-square.teal {
  background-color: teal;
}
div.legend-square.green {
  background-color: mediumseagreen;
}
div.legend-square.yellow {
  background-color: yellow;
}
div.legend-square.orange {
  background-color: orange;
}
div.legend-square.purple {
  background-color: purple;
}
div.legend-square.blue {
  background-color: dodgerblue;
}
div.legend-square.cyan {
  background-color: cyan;
}
div.legend-square.grey {
  background-color: grey;
}
div.legend-square.black {
  background-color: black;
}
div.legend-separator {
  width: 100%;
  margin-top: 5px;
}
div.legend-separator.first {
  margin-top: inherit;
}
label.legend-label {
  display: inline-block;
  vertical-align: middle;
  font-family: Lato;
}
label.legend-label.bold {
  font-weight: bold;
}
label.legend-label.underline {
  text-decoration: underline;
}
label.legend-label.line-through {
  text-decoration: line-through;
}
label.legend-label.italic {
  font-style: italic;
}
label.legend-label.background-white {
  background-color: white;
}
label.legend-label.marged {
  margin-left: 35px;
}
.user-style {
  font-weight: normal;
}
.user-style.student {
  color: black;
}
.user-style.teacher {
  font-weight: bold;
  color: red;
}
.user-style.personnel {
  font-weight: bold;
  color: teal;
}
.user-style.relative {
  color: orange;
}
.user-style.guest {
  color: dodgerblue;
}
.user-style.isolated {
  text-decoration: underline;
}
.user-style.not-active {
  font-style: italic;
}
.user-style.not-active::after {
  content: " *";
}
.padding-top-5 {
  padding-top: 5px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.row-item {
  margin-right: 10px !important;
}
/* Change accordion size & some styles for admin panels */
.accordions .large-dark-input {
  width: 100%;
  margin-top: 0;
  margin-bottom: 10;
  background-color: #444;
  color: #EEE;
  outline: none;
}
.accordions .accordion.opened .toggle {
  height: 330px;
}
.accordions article:first-child h2 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.accordions article:last-child h2 {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.accordions article h2 {
  font-size: 18px !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.accordions .content a:hover {
  color: white;
}
nav.admin-bar {
  min-height: 35px;
  overflow-y: hidden;
  transition: max-height 250ms ease;
  margin-top: 43px;
  padding: 0px;
  border: none;
  position: absolute;
  width: 100%;
  z-index: 10027;
  background-color: #EEE;
}
nav.admin-bar ul li {
  transition: height 0.25s ease-in-out;
}
nav.admin-bar ul li:not(.selected) {
  height: 0px;
}
nav.admin-bar:hover {
  border-bottom: 1px solid #444;
}
nav.admin-bar:hover ul li {
  height: 35px;
}
.selectable-list li.cols3 {
  width: 29%;
  margin: 2px;
  display: inline-block;
}
table tr:hover {
  background: #ccc;
}
table {
  width: 100%;
  border-bottom: 2px solid #fd4a98;
  table-layout: fixed;
  word-break: break-word;
  font-size: 12px;
}
table td {
  padding: 5px;
}
table tr,
table tr.underline {
  background: none;
  border-top: 1px dashed #ddd;
  -o-transition: background 250ms ease;
  -moz-transition: background 250ms ease;
  -webkit-transition: background 250ms ease;
  transition: background 250ms ease;
}
table thead tr {
  font-family: Lato;
  font-weight: 700;
  font-size: 1.3em;
  background: #444;
  border-top: 5px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom-color: #fd4a98;
  border-top-color: #fd4a98;
}
table thead tr:hover {
  background: #444;
}
table thead tr th {
  padding: 5px;
  background: white;
  font-size: 16px;
}
table thead tr th a.selected {
  color: #fd4a98;
}
table tbody {
  font-family: Lato;
  text-align: center;
}
table tbody tr {
  border-left: 1px solid #fd4a98;
  border-right: 1px solid #fd4a98;
}
table tbody tr.separator {
  border-bottom: 1px solid #fd4a98;
}
table tbody.no-hover tr:hover {
  background: inherit;
}
table.comm-table {
  table-layout: fixed;
}
table.comm-table thead {
  font-size: 12px;
  font-weight: bold;
}
table.comm-table thead tr {
  border-bottom: 2px solid #fd4a98;
  border-top: none;
  border-right: 2px solid #fd4a98;
  border-left: none;
  color: white;
  background: inherit;
}
table.comm-table thead tr th:first-child {
  background-color: #eeeeee;
  border-top: none;
}
table.comm-table thead tr th:nth-child(2) {
  border-top: 3px solid #fd4a98;
  border-left: 2px solid #fd4a98;
}
table.comm-table thead tr th:nth-child(3) {
  border-right: 1px solid #444;
  border-top: 3px solid #fd4a98;
}
table.comm-table thead tr th {
  background: #444;
  border-top: 3px solid #fd4a98;
}
table.comm-table tbody {
  font-size: 12px;
  font-family: Lato;
}
table.comm-table tbody tr {
  border-right: 2px solid #fd4a98;
  border-left: 2px solid #fd4a98;
}
table.comm-table tbody tr td:first-child {
  background-color: white;
  border-right: 2px solid #fd4a98;
}
table.comm-table tbody tr td:nth-child(2) {
  text-align: center;
  border: 1px solid #DDD;
}
table.comm-table tbody tr td:nth-child(3) {
  text-align: center;
  border: 1px solid #DDD;
  border-right: 1px solid #444;
}
table.comm-table tbody tr td {
  border: 1px solid #DDD;
}
div.users-search {
  font-family: Lato;
}
div.users-search > div {
  width: 100%;
  border-bottom: 1px solid #444;
  margin-bottom: 5px;
}
div.users-search > div form input[type=text] {
  width: 86%;
  background: inherit;
  border-radius: 0;
  padding-left: 20;
  height: 40px;
  font-size: 16px;
}
div.users-search > ul {
  list-style: none;
  padding: 0 20px 0 0;
  margin-bottom: 0px;
  border-right: 2px ridge #fd4a98;
  border-bottom: 2px ridge #fd4a98;
  overflow-y: scroll;
  max-height: 488px;
}
input[type=submit].check-button,
button.check-button {
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
  border: none;
  position: absolute;
  top: 9px;
  right: 10px;
}
input[type=submit].check-button:after,
button.check-button:after {
  content: "✓";
}
div.right-content {
  border-bottom: 2px ridge #fd4a98;
  border-right: 2px ridge #fd4a98;
  padding: 10px 20px;
  overflow-y: scroll;
}
.datepicker {
  padding: 0;
}
.datepicker table {
  width: auto !important;
}
.datepicker table thead tr:first-child th:hover {
  background: #eeeeee;
  color: #444;
}
.datepicker table thead tr {
  background: #444;
}
.datepicker table thead tr th:hover {
  background: #eeeeee;
  color: #444;
}
.datepicker table tr {
  background: #fff;
}
.datepicker table tr td span.active {
  background: #444;
}
.datepicker table tr td span:hover {
  background: white;
}
.datepicker table tr td,
.datepicker table tr td:first-child,
.datepicker table tr th {
  width: 22px;
  font-size: 12px;
}
.datepicker table tr td:hover {
  background: inherit;
}
div.quota-container {
  text-align: center;
  margin-bottom: 10px;
}
div.quota-container > div {
  width: 250px;
  overflow: hidden;
  border: 1px solid black;
  display: inline-block;
}
div.quota-container > div > div:first-child {
  background-color: #fd4a98;
  padding: 0;
  margin: 0;
  float: left;
}
div.quota-container > div > div:nth-child(2) {
  width: 90%;
  display: inline-block;
  background-color: #444;
  padding: 0;
  margin: 0;
  float: left;
}
div.quota-container > div h4 {
  text-align: center;
  margin: 0;
}
div.leaf-bordered-container {
  margin-bottom: 10px;
  border-bottom: 2px solid #fd4a98;
  text-align: center;
}
div.file-btn-container {
  text-align: center;
  background: #fd4a98;
  color: #fff;
  font-size: 15px;
  transition: background 250ms ease;
  border-radius: 3px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7);
  font-size: 12px;
  overflow: hidden;
}
div.file-btn-container:hover {
  background: #444;
}
div.file-btn-container > input[type=file] {
  width: 200%;
  height: 100%;
  opacity: 0;
  position: absolute;
  left: -100%;
  height: 25px;
  cursor: pointer;
}
multi-combo {
  display: block;
  height: 25px;
}
multi-combo .multi-combo-root-button {
  min-width: 150px;
  height: 25px;
  font-size: 12px;
  padding: 0px 10px;
  text-align: left;
  border-radius: 5px;
  width: 100%;
}
multi-combo .multi-combo-root-button:not([disabled]) {
  background-color: #494949;
}
multi-combo .multi-combo-root-button::after {
  content: '▼';
  font-size: 10px;
  margin-left: 10px;
  float: right;
  transition: transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
}
multi-combo .multi-combo-root-button.opened::after {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
multi-combo .multi-combo-root-panel {
  position: absolute;
  z-index: 10000;
  padding: 0px 10px;
  margin-top: 2px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 2px 2px 2px 0px #777;
  background: white;
  overflow: hidden;
  max-height: 500px;
  transition: max-height 0.25s ease-in-out;
}
multi-combo .multi-combo-root-panel.hidden {
  max-height: 0px;
}
multi-combo .multi-combo-root-panel div.multi-combo-panel-opts {
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px solid #fd4a98;
  border-left: 1px solid #fd4a98;
  border-bottom-left-radius: 5px;
}
multi-combo .multi-combo-root-panel div.multi-combo-panel-opts > * {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
multi-combo .multi-combo-root-panel div.multi-combo-panel-opts > h4 {
  margin: 0;
  margin-right: 10px;
  font-size: 15px;
  padding: 5px 10px;
  border-right: 1px solid #fd4a98;
}
multi-combo .multi-combo-root-panel div.multi-combo-panel-opts > button {
  float: none;
}
multi-combo .multi-combo-root-panel div.multi-combo-panel-opts > button.multi-combo-select-all {
  border: 0;
  width: 26px;
  height: 22px;
  background-image: url(/public/img/glyphicons-halflings-white.png);
  background-position: 15% 67%;
  background-repeat: no-repeat;
}
multi-combo .multi-combo-root-panel div.multi-combo-panel-opts > button.multi-combo-deselect-all {
  border: 0;
  width: 26px;
  height: 22px;
  background-image: url(/public/img/glyphicons-halflings-white.png);
  background-position: 9.5% 67%;
  background-repeat: no-repeat;
}
multi-combo .multi-combo-root-panel div.multi-combo-search-bar {
  margin: 10px 0px;
  width: 100%;
  position: relative;
}
multi-combo .multi-combo-root-panel div.multi-combo-search-bar > input {
  min-width: 250px;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #fd4a98;
  transition: border 0.25s ease-in-out;
  outline: none;
}
multi-combo .multi-combo-root-panel div.multi-combo-search-bar > input:focus {
  border-bottom: 2px solid #fd4a98;
}
multi-combo .multi-combo-root-panel div.multi-combo-search-bar > i.multi-icon-search-cancel {
  background-image: url(/public/img/glyphicons_197_remove.png);
  width: 15px;
  height: 15px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 8px;
  right: 5px;
  opacity: 0.5;
}
multi-combo .multi-combo-root-panel > ul {
  list-style: none;
  padding: 0px;
  max-height: 300px;
  overflow-y: scroll;
  margin-bottom: 10px;
}
multi-combo .multi-combo-root-panel > ul > li {
  line-height: 25px;
  font-size: 13px;
  transition: background-color 0.25s, color 0.25s;
  white-space: nowrap;
  margin-bottom: 5px;
  padding: 0px 10px;
  border-radius: 20px;
}
multi-combo .multi-combo-root-panel > ul > li.selected {
  background-color: pink;
}
multi-combo .multi-combo-root-panel > ul > li.selected::before {
  content: "✓";
}
multi-combo .multi-combo-root-panel > ul > li:not(.selected):not([disabled]):hover {
  color: white;
  background-color: #fd4a98;
}
multi-combo .multi-combo-root-panel > ul > li:not(.selected)[disabled] {
  background-color: #CCC;
}
div.select-blocks {
  margin: 10px 0px;
}
div.select-blocks > div {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  padding: 5px 10px;
  padding-right: 30px;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: #444;
  color: white;
  transition: all 0.25s ease-in-out;
}
div.select-blocks > div.partial {
  background-color: #888;
}
div.select-blocks > div:hover {
  background-color: #fd4a98;
}
div.select-blocks > div:hover::after {
  opacity: 1;
}
div.select-blocks > div::after {
  content: "";
  background-image: url(/public/img/glyphicons_197_remove.png);
  width: 16px;
  height: 16px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 7px;
  right: 8px;
  opacity: 0;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  transition: opacity 0.25s ease-in-out;
}
table.search-table {
  table-layout: fixed;
}
table.search-table thead {
  vertical-align: top;
}
table.search-table thead input[type=text] {
  height: 30px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #444;
  border-radius: 0px;
  transition: border 0.25s ease-in-out;
  outline: none;
}
table.search-table thead input[type=text]:focus {
  border-bottom: 2px solid #fd4a98;
}
table.search-table thead tr {
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #fd4a98;
  border-right: 1px solid #fd4a98;
}
table.search-table thead tr:first-child {
  border-top: 2px solid #fd4a98;
}
table.search-table thead tr:last-child {
  border-bottom: 2px solid #fd4a98;
}
table.search-table thead tr th {
  font-size: 15px;
}
table.search-table thead tr th[ng-click] {
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}
table.search-table thead tr th[ng-click]:hover {
  color: #fd4a98;
}
table.search-table tbody > div {
  max-height: 500px;
  overflow-y: scroll;
}
table.search-table tbody tr td {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.slide-content {
  padding: 20px;
  padding-top: 0px;
  border: 1px dashed black;
  border-radius: 10px;
}
.slide-content div.button-bar {
  border-bottom: 2px solid #fd4a98;
  padding: 5px 0px;
}
.slide-content div.button-bar > span {
  font-size: 16px;
  line-height: 32px;
  margin-right: 10px;
}
.slide-content div.button-bar > button {
  margin-right: 5px;
}
div.spinner-bar {
  font-size: 30px;
  padding: 10px 5px;
  border-bottom: 2px solid #fd4a98;
}
div.spinner-bar > * {
  vertical-align: middle;
}
.lightbox div.content {
  border: 2px solid #fd4a98;
}
.lightbox .top {
  margin-bottom: 20px;
}
.lightbox .bottom {
  margin-top: 20px;
}
.button-horizontal-bar {
  text-align: center;
}
.button-horizontal-bar > button {
  float: none;
  display: inline-block;
}
span.colored {
  color: #fd4a98;
}
top-notification {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 0px 15px 20px;
  background: #333;
  color: #EEE;
  box-shadow: #fd4a98 0px 2px 5px;
  opacity: 0.95;
  z-index: 11000;
}
top-notification div.notify-top-content {
  font-weight: bold;
  font-size: 16px;
}
top-notification div.notify-top-actions > span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  border-bottom: 2px solid white;
  padding: 5px 5px;
  transition: border 0.25s ease-in-out;
}
top-notification div.notify-top-actions > span:hover {
  border-color: #fd4a98;
}
table.flashmsg {
  border-bottom: 1px solid #fd4a98;
}
table.flashmsg thead tr {
  border: none;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-bottom-color: #fd4a98;
  border-top-color: #fd4a98;
  text-align: center;
}
table.flashmsg tbody tr {
  border: none;
  border-bottom: 1px dashed #aaa;
}
article.flashmsg-edit > div {
  margin-bottom: 10px;
}
article.flashmsg-edit > div > label {
  display: inline-block;
  min-width: 150px;
}
article.flashmsg-edit > div > input[type="text"] {
  height: 20px;
}
article.flashmsg-edit > div > input[type="text"].remaining-space {
  width: calc(100% - 200px);
}
article.flashmsg-edit > div > input[type="color"] {
  width: 35px;
  height: 30px;
  padding: 0px;
  border: none;
}
article.flashmsg-edit .outlined {
  box-shadow: 0px 0px 5px 3px #444;
}
article.flashmsg-edit editor editor-toolbar {
  min-height: 70px;
}
div.notification {
  position: relative;
}
div.notification article {
  height: auto;
  padding: 15px;
  box-shadow: 1px 2px 5px #aaa;
}
div.notification .avatar img {
  border: 1px solid #444;
}
div.notification .content {
  width: 75%;
  float: left;
}
div.notification .notification-reports {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #fd4a98;
}
div.flex-box-container {
  display: flex;
  flex-wrap: wrap;
}
div.flex-box-container > div {
  margin: 10px;
  border: 1px solid #444;
  border-radius: 10px;
  padding: 5px 10px;
}
.horizontal-margin {
  margin: 0px 10px;
}
