<!DOCTYPE html>
<html class="app" data-ng-app="one">
	<head>
		<title>{{#i18n}}blog.title{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="{{#infra}}js/one-loader.js{{/infra}}" type="text/javascript" id="context"></script>
		<script src="{{#static}}js/blog.js{{/static}}" type="text/javascript"></script>
	</head>
	<body data-ng-controller="Blog">
	<div class="row">
		<div class="four cell">
			<a data-ng-click="displayLastPosts()"><h1><i role="blog"></i>{{#i18n}}blog.title{{/i18n}}</h1></a>
		</div>
		<div class="eight cell">
			<nav class="contextual-buttons row" ng-if="currentBlog._id">
				<div class="action-buttons">
					<button data-ng-click="showCreatePost()" class="button" data-ng-disabled="isCurrentView('createPost')" data-ng-if="isVisible()">
						<i role="add"></i>{{#i18n}}blog.create.post{{/i18n}}
					</button>
				</div>
			</nav>
		</div>
	</div>
	<div class="row text-container">
		<div class="four cell">
			<nav class="vertical">
				<div data-ng-repeat="blog in blogs">
					<section data-ng-class="{'fixed-block':true, 'cell':true,
							 'height-one':true, 'box':true, 'row':true,
							 'selected':isSelected(blog._id)}">
						<div class="four cell fixed">
							<div class="fluid twelve cell clip">
								<img ng-src="[[blogThumbnail(blog)]]" />
							</div>
						</div>
						<div class="eight cell fixed right-magnet text-container">
							<div class="row">
								<h3 data-ng-click="displayBlog(blog)">[[blog.title]]</h3>
							</div>
							<div class="row">
								<a ng-href="/userbook/annuaire#[[blog.author.userId]]"><h4>{{#i18n}}blog.by{{/i18n}} [[blog.author.username]]</h4></a>
							</div>
						</div>
					</section>
					<a data-ng-click="showEditBlog(blog)">{{#i18n}}blog.edit.title{{/i18n}}</a><hr>
				</div>
				<h5><a data-ng-click="showCreateBlog()">{{#i18n}}blog.create.blog{{/i18n}}</a></h5>
			</nav>
	</div>
	<div class="eight cell">
			<h3 data-ng-if="isCurrentView('createBlog')">{{#i18n}}blog.create.title{{/i18n}}</h3>
			<h3 data-ng-if="isCurrentView('editBlog')">{{#i18n}}blog.edit.title{{/i18n}}</h3>
			<article class="text-container row" ng-if="blogs.length > 0 || currentView !== ''">
				<section data-ng-include="currentView.path"></section>
				<section data-ng-repeat="post in currentBlog.posts" class="row">
					<div class="row">
						<h2 class="seven cell">[[post.title]]</h2>
						<a class="button right-magnet" data-ng-click="showEditPost(post)" data-ng-disabled="isCurrentView('editPost')">{{#i18n}}blog.edit.post{{/i18n}}</a>
						<a class="button right-magnet" data-ng-click="removePost(post)">{{#i18n}}blog.delete.post{{/i18n}}</a>
					</div>
					<div class="row"><hr></div>
					<h5 class="row">
						{{#i18n}}blog.by{{/i18n}} <a href="/userbook/annuaire?myClass#[[post.author.userId]]">[[post.author.username]]</a> {{#i18n}}blog.on.date{{/i18n}} [[formatDate(post.created.$date)]]
						<span data-ng-if="isCurrentView('lastPosts')">
							{{#i18n}}blog.on.blog{{/i18n}} <a data-ng-click="displayBlog(currentBlog)">[[currentBlog.title]]</a>
						</span>
					</h5>
					<div class="row" bind-html-unsafe="post.content" ng-if="post.showEverything"></div>
					<div class="row" ng-if="!post.showEverything">
						<preview content="post.content"></preview>
						<a ng-click="showEverything(post)">Voir la suite</a>
					</div>
					<div class="clear"></div>
					<div class="row content-line">
						<div class="two cell">
							<a class="button" data-ng-click="showCommentPost(post)"
							   data-ng-disabled="(commentFormPath !== '') && (currentPost == post)">
								{{#i18n}}blog.comment.post{{/i18n}}
							</a>
						</div>
						<div class="four cell right-magnet">
							<a ng-click="switchComments(post)">
								<span ng-if="!post.showComments && nbComments(post) > 0">Afficher les commentaires ([[nbComments(post)]])</span>
								<span ng-if="post.showComments && nbComments(post) > 0">Masquer les commentaires ([[nbComments(post)]])</span>
							</a>
						</div>
						<div class="clear"></div>
					</div>
					<div class="row">
						<div data-ng-include="commentFormPath" data-ng-if="currentPost === post"></div>
					</div>
					<div class="row" ng-if="post.showComments">
						<div class="row" ng-repeat="comment in post.comments">
							<div class="twelve cell content-line">
								<article class="comment text-container">
									<a href="/userbook/annuaire#[[comment.author.userId]]">[[comment.author.username]]</a>
									<em>[[formatDate(comment.created.$date)]]</em>
									<a class="cell right-magnet"
									   ng-click="removeComment(post, comment)"
									   ng-if="comment.author.userId === me.userId">Supprimer</a>
									<p>[[comment.comment]]</p>
								</article>
							</div>
						</div>
					</div>

					<div class="clear"></div>
					<hr class="solid">
				</section>
			</article>
		</div>
		<section class="lightbox-backdrop"></section>
		<section class="lightbox-window eight cell">
			<div class="twelve cell">
				<form>
					<section ng-include="'/blog/share/' + currentBlog._id" class="flowing sharing">
					</section>
				</form>
			</div>
			<div class="close-lightbox">
				<i role="close-2x"></i>
			</div>
			<div class="clear"></div>
		</section>
		<div class="clear"></div>
		</div>

	</body>
</html>
