<!--
  ~ Copyright. Tous droits réservés. WebServices pour l’Education.
  -->

<header>
	<h1 translate content="admin.header">admin.header</h1>
	<a class="right-magnet cell" href="/auth/login"><i role="disconnect"></i></a>
</header>
<nav ng-controller="Admin" class="vertical left cell">
	<button ng-click="scrollUp()">Remonter</button>
	<ul>
		<li ng-repeat="url in urls">
			<a ng-href="[[url.url]]" translate content="admin.[[url.name]]"></a>
			<ul>
				<li ng-repeat="child in url.children"><a ng-href="[[child.url]]" translate content="admin.[[child.name]]"></a></li>
			</ul>
		</li>
	</ul>
</nav>
<section class="container">
	<section class="main" ng-transclude></section>
</section>