<!DOCTYPE html>
<!--

 -->

<html>

<head>
	<title>{{#i18n}}workspace.title{{/i18n}}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<script type="text/javascript" src="/workspace/public/dist/entcore/ng-app.js" id="context"></script>
	<script type="text/javascript" src="/workspace/public/dist/application.js"></script>

	<script type="text/ng-template" id="folder-content">
			<span ng-class="{'highlight-title-3s':isHighlightTree(folder)}" class="highlight-title">
				<span class="count-badge">[[getHighlightCount(folder)]]</span>
			</span>
			<a ng-class="{ selected: isSelectedFolder(folder), opened: isRolledFolder(folder) }" ng-click="openFolderRoute(folder)" ng-if="folder.name !== undefined"
			   class="folder-list-item"
			   dragdrop="dropTo(folder, $originalEvent)"
			   dropcondition="dropCondition(folder)"
			   help-box-step="[[folder.helpbox]]">
			   <i class="arrow" ng-if="canExpendTree(folder)" ng-click="openOrCloseFolder($event,folder)"></i><i ng-if="folder.filter == 'shared'" class="shared"></i> <span class="workspace-menu-label no-style">[[folder.name]]</span>
			</a>
			<!--MUST BE AFTER a.droptarget-->
			<span ng-class="{'highlight-no-droppable':cannotDropSelectionOnElement(folder)}" class="highlight-title highlight-title-border">
				<span class="count-badge" ng-class="{'highlight-not-allowed':cannotDropSelectionOnElement(folder)}">[[canDropOnElement(folder)?countDragItems():'']]</span>
			</span>
			<ul data-ng-class="{ selected: isOpenedFolder(folder), closed: !isRolledFolder(folder) }" ng-if="isOpenedFolder(folder) || isRolledFolder(folder)">
				<li data-ng-repeat="folder in folder.children" data-ng-include="'folder-content'" class="highlight-title-wrapper"></li>
			</ul>
		</script>
		<!--TODO move to cssutils?-->
		<style>
		[draggable=false],[draggable=false] *{
			user-drag: none;
			user-select: none;
			-moz-user-select: none;
			-webkit-user-drag: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}
		[draggable=false] img{
			pointer-events: none;
		}
		</style>
</head>

<body data-ng-controller="Workspace" bottom-scroll="incrementVisibleFiles()" class="workspace-app">
	<portal>
		<div class="row">
			<app-title class="twelve">
				<h1 class="cell right-spacing-twice" data-reload help-box-step="workspace.help.1" help-box-step-priority="-1">
					<i class="storage"></i><i18n class="storage zero-mobile">workspace.headers</i18n>
					<i class="storage"></i><i18n class="storage zero-desktop">workspace.headers.short</i18n>
				</h1>
			</app-title>
		</div>
		<div class="row rigid-grid">
			<section class="four twelve-mobile cell">
				<!--IMPORT DESKTOP-->
				<div class="row zero-mobile">
                    <div ng-repeat="button in currentTree.buttons">
                        <button ng-click="button.action()" ng-disabled="button.disabled()" workflow="[[button.workflow]]">
                            <i class="add" ng-if="button.icon"></i> [[button.text]]
                        </button>
                    </div>
				</div>
				<nav class="vertical nav-droppable mobile-navigation top-spacing-twice-1d" side-nav>
					<div data-ng-repeat="folder in wrapperTrees" data-ng-include="'folder-content'" class="folder-tree maxheight-minus350 maxheight-minus370-1d overflowx-hd maxheight-minus200-mobile minheight-100"></div>
					<a ng-click="openNewFolderView()" ng-if="canCreateNewFolder()" class="classic-link centered-bloc-text vertical-spacing-twice-1d"><i18n>folder.new</i18n></a>
					<a ng-click="openNewFolderView()" ng-if="canCreateNewFolderShared()" class="classic-link centered-bloc-text vertical-spacing-twice-1d"><i18n>folder.new.shared</i18n></a>
					<a ng-click="confirmDelete()" ng-if="canEmptyTrash()" ng-disabled="isTrashEmpty()" class="classic-link centered-bloc-text vertical-spacing-twice-1d"><i18n>workspace.empty.trash</i18n></a>
                    <div workflow="lool.createDocument" ng-if="canDropOnFolder() && !isSharedTree()">
                        <sniplet application="lool" template="create"></sniplet>
                    </div>
					<div class="row">
						<h2>
							<i18n>quota.title</i18n>
						</h2>
						<progress-bar max="quota.max" filled="quota.used" unit="[[quota.unit]]"></progress-bar>
					</div>
				</nav>


			</section>
			<section class="margin-four">
				<h3 class="zero-desktop twelve-mobile">[[currentFolderName()]]</h3>
				<nav class="twelve cell">
					<div class="row">
						<!--IMPORT MOBILE-->
						<div class="zero-desktop six-mobile" ng-repeat="button in currentTree.buttons">
							<button ng-click="button.action(button.url)" workflow="[[button.workflow]]">
								<i class="add" ng-if="button.icon"></i> [[translate(button.text)]]
							</button>
						</div>
						<!--SEARCH DESKTOP-->
						<div class="cell four seven search-pagination zero-mobile">
							<a ng-class="{'show-close':canResetSearch()}" ng-show="canResetSearch()" ng-click="resetSearch()"><i class="blue-1d close horizontal-spacing cell-ellipsis"></i></a>
							<input ng-class="{'eleven twelve-1d':canResetSearch(),'twelve':!canResetSearch()}" type="text" ng-model="search.criteria" ng-keyup="searchKeyUp($event)"
							 i18n-placeholder="workspace.search.placeholder">
							<i class="search" ng-click="searchSubmit()"></i>
						</div>
						<!--VIEW MODE-->
						<div class="cell right-magnet">
							<div class="choice-view">
								<i class="show-icons" ng-class="{ selected: isViewMode('icons') }" ng-click="changeViewMode('icons')"></i>
								<i class="show-list" ng-class="{ selected: isViewMode('list') }" ng-click="changeViewMode('list')"></i>
								<i class="show-carousel" ng-class="{ selected: isViewMode('carousel') }" ng-click="changeViewMode('carousel')"></i>
							</div>
						</div>
						<!--SEARCH MOBILE-->
						<div class="zero-desktop cell four search-pagination twelve-mobile vertical-spacing-twice">
							<a ng-class="{'show-close':canResetSearch()}" ng-show="canResetSearch()" ng-click="resetSearch()"><i class="blue-1d close horizontal-spacing cell-ellipsis"></i></a>
							<input ng-class="{'eleven twelve-1d':canResetSearch(),'twelve':!canResetSearch()}" type="text" ng-model="search.criteria" ng-keyup="searchKeyUp($event)"
							 i18n-placeholder="workspace.search.placeholder">
							<i class="search" ng-click="searchSubmit()"></i>
						</div>
					</div>
					<div class="row top-spacing-twice notification primary-color no-margin-bottom" ng-if="showSearchOptions()">
						<label class=""><input type="checkbox" ng-model="search.everywhere">
							<span><i18n>workspace.search.inworkspace</i18n></span>
						</label>
					</div>
					<div class="row top-spacing-three notification primary-color no-margin-bottom" ng-if="showSearchResultForFolder()">
						<label class="cell top-spacing-twice horizontal-spacing">
							<i18n>workspace.search.results.infolder</i18n> "[[currentFolderName()]]"
						</label>
						<div class="is-light cell margin-left-search-in-all-button-workspace"  ng-click="searchInWorkspace()"><label><a><i18n>workspace.search.inworkspace</i18n></a></label></div>
					</div>
					<div class="row top-spacing-three notification primary-color no-margin-bottom" ng-if="showSearchResultForWorkspace()">
						<label class="cell top-spacing-one horizontal-spacing">
							<i18n>workspace.search.results.inworkspace</i18n>
						</label>
					</div>
				</nav>
				<div class="twelve cell toggle-buttons-spacer">
					<container template="documents" ng-hide="isSearching()"></container>
					<div class="flex-row top-spacing-four" ng-show="isSearching()">
						<div class="centered top-spacing-four">
							<div class="top-spacing-four notification primary-color">
								<label class=""><i18n>workspace.search.inprogress</i18n></label><i class="spinner left-spacing"></i>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</portal>
	<container template="lightboxes"></container>
	<container template="toaster"></container>
	<help-box can-close="false" direction="right" data-title="workspace.help.title" display="[[display.quickStart]]" on-finished="onQuickstartFinished()"></help-box>
</body>

</html>
