.flex {display: flex;}
.mailing__sort, .mailing__publish {margin: 0 10px;}
.mailing__sort p, .mailing__publish p {margin: 0 0 5px 0;}
.mailing__notice {font-style: italic; font-size: 12px; margin-top: 5px;}
