<div class="panel-header is-display-flex has-space-between">
  <div>
    <div><span>{{ groupsStore.class.name }}</span></div>
  </div>
  <div>
    <button type="button"
            (click)="$renameButtonClicked.next()"
            class="lct-group-update-button">
      <s5l>class.rename.button</s5l>
      <i class="fa fa-pencil is-size-5"></i>
    </button>
    <button type="button" disabled
            (click)="$deleteButtonClicked.next(groupsStore.class)"
            class="lct-group-delete-button">
      <s5l>class.delete.button</s5l>
      <i class="fa fa-trash is-size-5"></i>
    </button>
  </div>
</div>

<div class="padded">
  <div class="message is-info">
    <div class="message-body">&nbsp;<s5l>class.details.message.content</s5l></div>
  </div>
</div>

<ode-lightbox-confirm lightboxTitle="class.delete.confirm.title"
                  [show]="deleteConfirmationDisplayed"
                  (onCancel)="$deleteConfirmationClicked.next('cancel')"
                  (onConfirm)="$deleteConfirmationClicked.next('confirm')">
  <span [innerHTML]="'class.delete.confirm.content' | translate: {className: groupsStore.class?.name}"></span>
</ode-lightbox-confirm>

<ode-lightbox [show]="renameLightboxDisplayed" (onClose)="this.renameConfirmationClicked.next('cancel')">
  <h2><s5l>class.rename.lightbox.title</s5l></h2>
  <div class="rename-lightbox__form">
    <form #renameForm="ngForm">
      <ode-form-field label="class.rename.lightbox.name">
        <input type="text" [(ngModel)]="classNewName" name="classNewName"
               required pattern=".*\S+.*" #classNewNameInput="ngModel"
               (blur)="onNameBlur(classNewName)">
        <ode-form-errors [control]="classNewNameInput"></ode-form-errors>
      </ode-form-field>

      <div class="is-display-flex has-flex-end">
        <button type="button" class="cancel" (click)="renameConfirmationClicked.next('cancel')">
          {{ 'cancel' | translate }}
        </button>
        <button type="button" class="confirm has-left-margin-10"
                (click)="renameConfirmationClicked.next('confirm')"
                [disabled]="renameForm.pristine || renameForm.invalid">
          {{ 'confirm' | translate }}
        </button>
      </div>
    </form>
  </div>
</ode-lightbox>
