<!--
    ||||||||||||||||||||
    |||  DUPLICATES  |||
    ||||||||||||||||||||
-->

<!-- Structure selection menu -->
<div ng-include="'structure-tree'"></div>

<article class="side-tabs-content nine cell" ng-if="structure || createdStructure">
    <h1 style="font-size: 25px; text-align: center;">[[lang.translate("directory.admin.duplicates")]]</h1>

    <div class="row-item">
        <table class="duplicates">
            <thead>
                <th style="width: 10px;"></th>
                <th ><i18n>directory.admin.firstname<i18n></th>
                <th><i18n>directory.admin.lastname<i18n></th>
                <th><i18n>directory.admin.birthDate<i18n></th>
                <th style="width: 25%"><i18n>directory.admin.email<i18n></th>
                <th><i18n>directory.admin.profile<i18n></th>
                <th style="width: 140px;"><i18n>directory.action</i18n></th>
            </thead>
            <tbody class="no-hover">
                <tr ng-repeat-start="duplicate in structure.duplicates.all | filter: filterDuplicate">
                    <td>
                        <a  ng-if="duplicate.user1.structures[0]"
                            href="[['/directory/admin-console#/structureUser/'+duplicate.user1.structures[0]+'/'+duplicate.user1.id]]"
                            target="_blank">
                            <button class="directory-direct-link-button"></button>
                        </a>
                    </td>
                    <td>[[ duplicate.user1.firstName ]]</td>
                    <td>[[ duplicate.user1.lastName ]]</td>
                    <td>[[ formatDate(duplicate.user1.birthDate) ]]</td>
                    <td>[[ duplicate.user1.email ]]</td>
                    <td>[[ duplicate.user1.profiles[0] ]]</td>
                    <td rowspan=2>
                        <button ng-click="duplicate.merge(refreshDuplicates)" class="small" style="margin-right: 5px; margin-bottom: 10px"><i18n>merge</i18n></button>
                        <button ng-click="duplicate.dissociate(refreshDuplicates)" class="small"><i18n>dissociate</i18n></button>
                    </td>
                </tr>
                <tr class="separator" ng-repeat-end>
                    <td>
                        <a  ng-if="duplicate.user2.structures[0]"
                            href="[['/directory/admin-console#/structureUser/'+duplicate.user2.structures[0]+'/'+duplicate.user2.id]]"
                            target="_blank">
                            <button class="directory-direct-link-button"></button>
                        </a>
                    </td>
                    <td>[[ duplicate.user2.firstName ]]</td>
                    <td>[[ duplicate.user2.lastName ]]</td>
                    <td>[[ formatDate(duplicate.user2.birthDate) ]]</td>
                    <td>[[ duplicate.user2.email ]]</td>
                    <td>[[ duplicate.user2.profiles[0] ]]</td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
