<!--
    |||||||||||||||||||||
    |||  MAINTENANCE  |||
    |||||||||||||||||||||
-->

<div class="row" ng-if="isCentralAdmin()">
    <h3><i18n>directory.admin.importTitle</i18n></h3>
    <label class="five cell"><span>[[lang.translate("directory.launchImport")]]</span></label>
    <button class="three cell" style="margin-bottom: 5px" onclick="$.post('/directory/import', function(){ notify.info('Import terminé'); })">[[lang.translate("directory.import")]]</button>
</div>
<hr class="separator cell">
<div class="row">
    <h3><i18n>directory.admin.exportTitle</i18n></h3>
    <label class="five cell"><span>[[lang.translate("directory.launchUserExport")]]</span></label>
    <button class="three cell" ng-click="openExport(export_mode, export_mode === 'classId' ? exportClass.id : exportStructure.id)">[[lang.translate("directory.export")]]</button>
</div>
<div class="row">
    <h1 class="three" style="height: 30px;font-size: 18px;margin: 5px 0px;"><i18n>directory.admin.export.scope</i18n></h1>
    <select ng-model="export_mode" class="three cell directory-top-padded" style="margin-left: 0">
        <option value="all">[[lang.translate("directory.all")]]</option>
        <option value="structureId">[[lang.translate("directory.structure")]]</option>
        <option value="classId">[[lang.translate("directory.classe")]]</option>
    </select>
    <div class="row" ng-if="export_mode !== 'all'">
        <select class="four cell" ng-model="$parent.exportStructure" ng-change="refreshClasses(exportStructure)" ng-options="structure as structure.name for structure in structures.all | orderBy: 'name'"></select>
        <select ng-if="export_mode === 'classId'" ng-model="$parent.exportClass" class="four cell" ng-options="class as class.name for class in exportStructure.classes.all | orderBy: 'name'"></select>
    </div>
</div>
