<!--
    |||||||||||||||||||||||||||
    |||  INACTIVE ACCOUNTS  |||
    |||||||||||||||||||||||||||
-->

<ul bottom-scroll-action="incrementUsersLimit()" class="three cell" style="list-style: none; font-family: Lato; height: 550px; padding: 0 20 0 0; border-right: 2px ridge #ff0b75; border-bottom: 2px ridge #ff0b75; overflow-y: scroll;">
    <div style="width: 100%; border-bottom: 1px solid #444; margin-bottom: 5px;">
        <form ng-submit="$parent.filterIsolatedUsers = filterIsolatedUsersInput; $parent.usersLimit = SCROLL_INCREMENT" style="margin-bottom: 0">
            <input type="text" ng-model="filterIsolatedUsersInput" placeholder="[[lang.translate('directory.search')]]" class="directory-inline-middle" style="width: 86%; background: inherit; border-radius: 0; padding-left: 20; height: 40px; font-size: 16px;"/>
            <input type="submit" class="directory-inline-middle" style="width: 10%; padding: 0; margin: 0; width: 25; height: 25; border: none;" value="✓">
        </form>
    </div>
    <li ng-repeat="user in isolatedUsers.users.all | filter: isolatedUserFilteringFunction | orderBy: 'lastName' | limitTo: usersLimit"
        ng-click="$parent.isolatedUser = user; user.get(refreshScope)">
        [[user.displayName]]
    </li>
</ul>
<div class="nine cell" style="border-bottom: 2px ridge #ff0b75; padding: 20 0 0 20; height: 564px; overflow-y: scroll" ng-if="isolatedUser">
    <div class="row"><h1 style="margin-bottom: 0; text-align:center;">[[isolatedUser.firstName+" "+isolatedUser.lastName]]</h1></div>
    <hr class="separator">
    <div style="text-align:center">
        <button ng-click="isolatedUser.update(refreshIsolated())">[[lang.translate("directory.save")]]</button>
        <button ng-click="isolatedUser.delete(refreshIsolated())">[[lang.translate("directory.delete")]]</button>
        <button ng-click="isolatedUser.restore(refreshIsolated())" ng-if="isolatedUser.deleteDate">[[lang.translate("directory.admin.restore")]]</button>
    </div>
    <hr class="separator">
    <div class="twelve cell"><strong class="four cell">[[lang.translate("directory.userId")]]</strong> [[isolatedUser.id]]</div>
    <div class="twelve cell"><strong class="four cell">[[lang.translate("directory.userType")]]</strong> [[lang.translate('directory.'+isolatedUser.type)]]</div>
    <div class="twelve cell"><strong class="four cell">[[lang.translate("directory.userLogin")]]</strong> [[isolatedUser.login]]</div>
    <div class="twelve cell" ng-show="isolatedUser.code"><strong class="four cell">[[lang.translate("directory.userCode")]]</strong> [[isolatedUser.code]]</div>
    <div class="twelve cell" ng-if="isolatedUser.deleteDate"><strong class="four cell">[[lang.translate("directory.predeletionDate")]]</strong> [[formatLongDate(isolatedUser.deleteDate)]]</div>
    <hr style="border: 1px solid black; margin: 15 0 15 0;"/>
    <div class="twelve cell">
        <strong class="four cell directory-top-padded">[[lang.translate("directory.userFirstName")]]</strong>
        <input type="text" ng-model="isolatedUser.firstName"/>
    </div>
    <div class="twelve cell">
        <strong class="four cell directory-top-padded">[[lang.translate("directory.userLastName")]]</strong>
        <input type="text" ng-model="isolatedUser.lastName"/>
    </div>
    <div class="twelve cell">
        <strong class="four cell directory-top-padded">[[lang.translate("directory.userBirth")]]</strong>
        <div ng-if="!isolatedUser.birthDate">
            <div class="directory-top-padded" style="display: inline-block;" class="three"> [[lang.translate("directory.notFilled")]]</div>
            <button ng-click="initUserBirth(isolatedUser)" style="font-size: 10px; margin-left: 10; padding: 3; margin-bottom:5">[[lang.translate("directory.modifyDate")]]</button>
        </div>
        <div ng-if="isolatedUser.birthDate">
            <date-picker ng-model="isolatedUser.birthDate"></date-picker>
            <button ng-click="isolatedUser.birthDate = undefined" style="font-size: 10px; margin-left: 10; padding: 3;">[[lang.translate("directory.deleteDate")]]</button>
        </div>
    </div>
    <div class="twelve cell directory-top-padded">
        <strong class="four cell directory-top-padded">[[lang.translate("directory.userAddress")]]</strong>
        <input type="text" ng-model="isolatedUser.address"/>
    </div>
    <div class="twelve cell directory-top-padded">
        <strong class="four cell directory-top-padded">[[lang.translate("directory.userCity")]]</strong>
        <input type="text" ng-model="isolatedUser.city"/>
    </div>
    <div class="twelve cell directory-top-padded">
        <strong class="four cell directory-top-padded">[[lang.translate("directory.userZipCode")]]</strong>
        <input type="text" ng-model="isolatedUser.zipCode"/>
    </div>
    <hr class="separator">
    <div class="row">
        <label  class="five cell" style="margin-bottom: 10px; padding-top: 2"><span>[[lang.translate("directory.sendActivationCode")]]</span></label>
        <input  class="four cell" style="height: 28px; border-radius: 15px; padding: 5px;" placeholder="[[lang.translate('directory.mail')]]" ng-model="resetEmail"/>
        <div    class="one cell">&nbsp</div>
        <button class="two cell" style="margin: 0px; padding: 2px" ng-click="isolatedUser.sendResetPassword(resetEmail)">[[lang.translate("directory.send")]]</button>
    </div>
    <hr class="separator">
    <div ng-show="isolatedUser.type" class="twelve cell">
        <h3 style="margin-top: 0;">[[lang.translate("directory.linkToStructure")]]</h3>
        <div class="twelve cell">
            <span class="three cell" style="margin: 0; height: 28px; padding-top: 6px;">[[lang.translate("directory.admin.school")]]</span>
            <select class="four cell" ng-model="linkStructure" ng-change="refreshClasses(linkStructure)" ng-options="structure as structure.name for structure in structures.all | orderBy: 'name'"></select>
        </div>
        <div class="twelve cell" ng-if="linkStructure && linkStructure.classes && linkStructure.classes.length() > 0">
            <span class="three cell" style="margin: 0; height: 28px; padding-top: 6px;">[[lang.translate("directory.classe")]]</span>
            <select ng-model="$parent.linkClass" class="five cell" ng-options="class as class.name for class in linkStructure.classes.all | orderBy: 'name'">
            </select>
        </div>
        <div style="text-align: center">
            <button style="margin-top: 10px" ng-if="linkStructure" ng-click="linkStructure.linkUser(isolatedUser, $parent.refreshIsolated())">[[lang.translate("directory.linkToSchool")]]</button>
            <button ng-if="linkClass" ng-click="linkClass.linkUser(isolatedUser, $parent.refreshIsolated())">[[lang.translate("directory.linkToClass")]]</button>
        </div>
    </div>
</div>
