<!--
    |||||||||||||||||||||
    |||  CLASSES OPS  |||
    |||||||||||||||||||||
-->

<!-- Structure selection menu -->
<div ng-include="'structure-tree'"></div>

<article class="side-tabs-content content-flex unpadded nine cell" ng-if="structure">
    <!-- Class selection menu -->
    <nav class="vertical cell search-container-left">
        <input type="text" placeholder="[[lang.translate('directory.search')]]" ng-model="filterStructureClasses"/>
        <ul>
            <li ng-repeat="class in structure.classes.all | filter: filterStructureClasses | orderBy: 'name'" ng-click="$parent.classSelected = class" style="padding-left: 0">
                [[class.name]]
            </li>
        </ul>
    </nav>

    <!-- Class details -->
    <div ng-if="classSelected" class="search-container-view">
        <div class="row"><h1 style="margin-bottom: 0; text-align:center;">[[classSelected.name]]</h1></div>
        <hr class="separator cell">
        <div style="text-align:center">
            <button ng-click="classSelected.update()">[[lang.translate("directory.save")]]</button>
            <a href="[['/directory/admin-console#/class/'+structure.id+'/'+classSelected.id]]" class="right-magnet" target="_blank" tooltip="directory.directlink">
                <button class="directory-direct-link-button"></button>
            </a>
        </div>
        <hr class="separator cell">
        <div class="twelve cell"><strong class="four cell">[[lang.translate("directory.userId")]]</strong> [[classSelected.id]]</div>
        <div class="twelve cell">
            <strong class="four cell padding-top-5">[[lang.translate("directory.name")]]</strong>
            <input type="text" ng-model="classSelected.name"/>
        </div>
        <a href="[['/directory/admin-console#/classUsers/'+structure.id+'/'+classSelected.id]]" target="_blank">[[lang.translate("directory.classUsers")]]</a>
        <!-- Export -->
        <hr class="separator cell">
        <h3 class="twelve cell" style="margin-top: 0;">[[lang.translate("directory.exportClass")]]</h3>
        <div class="row" ng-init="exportData.params.filterActive = ''">
            <select class="five cell row-item" ng-model="exportData.params.profile" ng-change="deleteIfEmpty(exportData.params, 'profile')">
                <option value="">[[lang.translate("directory.allProfiles")]]</option>
                <option value="Teacher">[[lang.translate("directory.Teacher")]]</option>
                <option value="Personnel">[[lang.translate("directory.Personnel")]]</option>
                <option value="Relative">[[lang.translate("directory.Relative")]]</option>
                <option value="Student">[[lang.translate("directory.Student")]]</option>
                <option value="Guest">[[lang.translate("directory.Guest")]]</option>
            </select>
            <select class="five cell" ng-model="exportData.params.filterActive">
                <option value="">[[lang.translate("directory.ignoreActivation")]]</option>
                <option value="active">[[lang.translate("directory.onlyActivatedUsers")]]</option>
                <option value="inactive">[[lang.translate("directory.onlyInactiveUsers")]]</option>
            </select>
        </div>
        <button class="three cell margin-top-5" ng-click="exportItem(classSelected, 'classId')" style="margin-left: 0%; font-size: 12; padding: 2;">[[lang.translate("directory.export")]]</button>
        <!-- Quota -->
        <hr class="separator cell">
        <h3 class="twelve cell" style="margin-top: 0;">[[lang.translate("directory.quota")]]</h3>
        <div class="twelve cell">
            <select class="three cell" ng-model="quotaProfile" ng-init="quotaProfile = 'Teacher'" style="margin-right: 10px;">
                <option value="Teacher">[[lang.translate("directory.Teacher")]]</option>
                <option value="Personnel">[[lang.translate("directory.Personnel")]]</option>
                <option value="Relative">[[lang.translate("directory.Relative")]]</option>
                <option value="Student">[[lang.translate("directory.Student")]]</option>
                <option value="Guest">[[lang.translate("directory.Guest")]]</option>
            </select>
            <select class="three cell" ng-model="quotaUnit" ng-init="quotaUnit = DEFAULT_QUOTA_UNIT" style="margin-right: 10px">
                <option value="1">[[lang.translate("directory.byte")]]</option>
                <option value="1024">[[lang.translate("directory.kilobyte")]]</option>
                <option value="1048576">[[lang.translate("directory.megabyte")]]</option>
                <option value="1073741824">[[lang.translate("directory.gigabyte")]]</option>
                <option value="[[1073741824 * 1024]]">[[lang.translate("directory.terabyte")]]</option>
            </select>
            <input class="three cell" type="number" name="size" ng-model="quotaSize" ng-init="quotaSize = 0"
                   style="height: 25; border-radius: 5px; background: #fff; border: none; padding-left: 5px; font-family: Lato"/>
            <button class="small two right-magnet" style="margin: 0; font-size: 12"
                    ng-click="saveClassQuota(classSelected, quotaSize*quotaUnit, quotaProfile)"
                    ng-disabled="!quotaProfile || (quotaSize <= 0) || (quotaSize*quotaUnit) >= getMaxProfileQuota(quotaProfile)">
                [[lang.translate("directory.save")]]
            </button>
        </div>
        <em class="twelve cell"><i18n>directory.maxQuota</i18n> : [[ formatQuota(getMaxProfileQuota(quotaProfile)) ]]</em>
    </div>
</article>
