<!--
    |||||||||||||||||||||
    |||  ACCOUNT OPS  |||
    |||||||||||||||||||||
-->

<!-- Structure selection menu -->
<div ng-include="'structure-tree'"></div>

<article class="side-tabs-content nine cell" ng-if="structure">

    <!-- User selection menu -->
    <nav class="vertical cell search-container-left">

        <div class="vertical_buttons_container">
            <!-- Filter toggle button -->
            <button ng-click="showWhat === 'showFilters' ? setShowWhat('showStructureUser') : setShowWhat('showFilters')"
                    tooltip="tooltip.users.filtersTooltip"
                    class="directory-list-glyph-button filter-icon">
            </button>

            <!-- Order toggle button -->
            <button ng-click="switchOrdering()"
                    tooltip="tooltip.users.switchOrdering"
                    class="directory-list-sort-button">
            </button>

            <!-- Creation button -->
            <button ng-click="setShowWhat('showCreatedUser')"
                    tooltip="directory.tooltip.creationTooltip"
                    class="directory-list-glyph-button silhouette-icon">
            </button>

            <!-- Legend button -->
            <button ng-click="setShowWhat('showLegend')"
                    tooltip="directory.tooltip.legend"
                    class="directory-list-glyph-button question-mark-icon">
            </button>
        </div>

        <!-- User list -->
        <input type="text" placeholder="[[lang.translate('directory.search')]]" ng-model="$root.filterStructureUsers" ng-change="usersLimit = SCROLL_INCREMENT"/>
        <ul bottom-scroll-action="usersLimit = usersLimit + SCROLL_INCREMENT">
            <li ng-repeat="user in structure.users.all | filter:structureUserFilteringFunction | orderBy: userOrdering | limitTo: usersLimit" ng-click="$root.structureUser = user; setShowWhat('showStructureUser'); getUserDetails(user);" style="padding-left: 0">
                <span ng-class="userStyle(user)">[[user.displayName]]</span>
            </li>
        </ul>
    </nav>

    <!-- Filter container -->
    <div ng-if="showWhat === 'showFilters'" class="directory-userlist-right-container">
        <h1 style="font-size: 25px; text-align: center;">[[lang.translate("directory.filterResults")]]</h1>
        <!-- Classes -->
        <div class="row angle-container">
            <span style="font-size: 18px; font-weight: bold;">[[lang.translate("directory.classes")]]</span>
            <button ng-click="deselectAllClasses()" style="height: 25px" class="instantButtons deselect right-magnet" tooltip="directory.tooltip.deselectAll"></button>
            <button ng-click="selectAllClasses()" style="height: 25px" class="instantButtons select right-magnet" tooltip="directory.tooltip.selectAll"></button>
        </div>
        <ul class="selectable-list">
            <li ng-repeat="class in structure.classes.all | orderBy: 'name'" ng-class="{selected : class.selected}" class="cols3" ng-click="toggleClass(class, structure)">
                [[class.name]]
            </li>
        </ul>
        <!-- User criterias -->
        <div class="row angle-container">
            <span style="font-size: 18px; font-weight: bold;">[[lang.translate("directory.admin.userFilters")]]</span>
        </div>

        <ul class="selectable-list">
            <li ng-class="{selected : userFilters.showIsolated}" ng-click="toggleFilter('showIsolated')">
                [[lang.translate("directory.admin.showIsolated")]]
            </li>
            <li ng-class="{selected : userFilters.showInactive}" ng-click="toggleFilter('showInactive')">
                [[lang.translate("directory.admin.showInactive")]]
            </li>
            <li ng-class="{selected : userFilters.showTeachers}" ng-click="toggleFilter('showTeachers')">
                [[lang.translate("directory.admin.showTeachers")]]
            </li>
            <li ng-class="{selected : userFilters.showPersonnel}" ng-click="toggleFilter('showPersonnel')">
                [[lang.translate("directory.admin.showPersonnel")]]
            </li>
            <li ng-class="{selected : userFilters.showRelative}" ng-click="toggleFilter('showRelative')">
                [[lang.translate("directory.admin.showRelative")]]
            </li>
            <li ng-class="{selected :userFilters.showStudents}" ng-click="toggleFilter('showStudents')">
                [[lang.translate("directory.admin.showStudents")]]
            </li>
        </ul>
    </div>

    <!-- Legend container -->
    <div ng-if="showWhat === 'showLegend'" class="directory-userlist-right-container">
        <h1 style="font-size: 25px; text-align: center;">[[lang.translate("directory.tooltip.legend")]]</h1>
        <div class="legend-separator first">
            <div class="legend-square red"></div>
            <label class="legend-label" ng-class="userStyle({type: 'Teacher'})">[[lang.translate("Teacher")]]</label>
        </div>
        <div class="legend-separator">
            <div class="legend-square teal"></div>
            <label class="legend-label" ng-class="userStyle({type: 'Personnel'})">[[lang.translate("directory.admin.personnel")]]</label>
        </div>
        <div class="legend-separator">
            <div class="legend-square orange"></div>
            <label class="legend-label" ng-class="userStyle({type: 'Relative'})">[[lang.translate("Relative")]]</label>
        </div>
        <div class="legend-separator">
            <div class="legend-square black"></div>
            <label class="legend-label" ng-class="userStyle({type: 'Student'})">[[lang.translate("Student")]]</label>
        </div>
        <div class="legend-separator">
            <label class="legend-label" ng-class="userStyle({isolated: true})">[[lang.translate("directory.isolatedUsersInStructure")]]</label>
        </div>
        <div class="legend-separator">
            <label class="legend-label" ng-class="userStyle({code: ' '})">[[lang.translate("directory.inactive")]]</label>
        </div>
    </div>

    <!-- User data container -->
    <div ng-if="structureUser && showWhat === 'showStructureUser'" class="search-container-view">
        <div style="width: 97%">
            <div class="row"><h1 style="margin-bottom: 0; text-align:center;">[[structureUser.firstName+" "+structureUser.lastName]]</h1></div>
            <hr class="separator">
            <div style="text-align:center">
                <a href="[['/directory/admin-console#/structureUser/'+structure.id+'/'+structureUser.id]]" class="right-magnet" target="_blank" tooltip="directory.directlink">
                    <button class="directory-direct-link-button"></button>
                </a>
                <button ng-click="structureUser.update(reloadStructureAndRetrieveUser(structureUser))" class="text-flow" style="margin-bottom:5px">[[lang.translate("directory.save")]]</button>
                <button ng-click="structure.unlinkUser(structureUser, reloadStructure(structure))" class="text-flow" style="margin-bottom:5px">[[lang.translate("directory.admin.unlink.school")]]</button>
                <button ng-click="structureUser.delete(reloadStructure(structure))" class="text-flow" style="margin-bottom:5px">[[lang.translate("directory.predelete")]]</button>
                <button ng-if="!structureUser.blocked" ng-click="structureUser.block(refreshScope)" class="text-flow" style="margin-bottom:5px">[[lang.translate("admin.block")]]</button>
                <button ng-if="structureUser.blocked" ng-click="structureUser.unblock(refreshScope)" class="text-flow" style="margin-bottom:5px">[[lang.translate("admin.unblock")]]</button>
            </div>
            <hr class="separator">
            <div class="twelve cell warning" ng-if="structureUser.blocked"><strong translate content="admin.blocked.account"/></div>
            <div class="twelve cell"><strong class="four cell">[[lang.translate("directory.userId")]]</strong> [[structureUser.id]]</div>
            <div class="twelve cell"><strong class="four cell">[[lang.translate("directory.userType")]]</strong> [[lang.translate('directory.'+structureUser.type)]]</div>
            <div class="twelve cell"><strong class="four cell">[[lang.translate("directory.userLogin")]]</strong> [[structureUser.login]]</div>
            <div class="twelve cell" ng-show="structureUser.code"><strong class="four cell">[[lang.translate("directory.userCode")]]</strong> [[structureUser.code]]</div>
            <div class="twelve cell" ng-show="structureUser.functions && structureUser.functions[0][0]"><strong class="four cell">[[lang.translate("directory.functions")]]</strong> [[formatUserFunctions(structureUser)]]</div>
            <hr class="separator cell"/>
            <div class="twelve cell">
                <strong class="four cell directory-top-padded">[[lang.translate("directory.userFirstName")]]</strong>
                <input type="text" ng-model="structureUser.firstName"/>
            </div>
            <div class="twelve cell">
                <strong class="four cell directory-top-padded">[[lang.translate("directory.userLastName")]]</strong>
                <input type="text" ng-model="structureUser.lastName"/>
            </div>
            <div class="twelve cell">
                <strong class="four cell directory-top-padded">[[lang.translate("directory.userBirth")]]</strong>
                <div ng-if="!structureUser.birthDate">
                    <div class="directory-top-padded" style="display: inline-block; width: 30%"> [[lang.translate("directory.notFilled")]]</div>
                    <button ng-click="initUserBirth(structureUser)" style="font-size: 10px; margin-left: 10; padding: 3; margin-bottom:5">[[lang.translate("directory.modifyDate")]]</button>
                </div>
                <div ng-if="structureUser.birthDate">
                    <date-picker ng-model="structureUser.birthDate"></date-picker>
                    <button ng-click="structureUser.birthDate = undefined" style="font-size: 10px; margin-left: 10; padding: 3;">[[lang.translate("directory.deleteDate")]]</button>
                </div>
            </div>
            <div class="twelve cell">
                <strong class="four cell directory-top-padded">[[lang.translate("directory.userAddress")]]</strong>
                <input type="text" ng-model="structureUser.address"/>
            </div>
            <div class="twelve cell">
                <strong class="four cell directory-top-padded">[[lang.translate("directory.userCity")]]</strong>
                <input type="text" ng-model="structureUser.city"/>
            </div>
            <div class="twelve cell">
                <strong class="four cell directory-top-padded">[[lang.translate("directory.userZipCode")]]</strong>
                <input type="text" ng-model="structureUser.zipCode"/>
            </div>
            <hr style="border: 1px solid black; margin: 15 0 15 0;" ng-if="!structureUser.code">
            <div class="row" ng-if="!structureUser.code">
                <label  class="five cell" style="margin-bottom: 10px; padding-top: 2"><span>[[lang.translate("directory.sendActivationCode")]]</span></label>
                <input  class="four cell" style="height: 28px; border-radius: 15px; padding: 5;" placeholder="[[lang.translate('directory.mail')]]" ng-model="resetEmail"/>
                <button class="two right-magnet" style="margin: 0; padding: 2" ng-click="structureUser.sendResetPassword(resetEmail)">[[lang.translate("directory.send")]]</button>
            </div>
            <!-- Classes list -->
            <div class="twelve cell" ng-if="structureUser.totalClasses && structureUser.totalClasses.length > 0">
                <hr class="separator">
                <h3 class="ten cell" style="margin: 0 0 10 0;">[[lang.translate("directory.classes")]]</h3>
                <div class="row">
                    <ul class="angle-list small" style="padding-left: 5%">
                        <li ng-repeat="classe in structureUser.totalClasses | orderBy: 'name'">
                            <a href="[['/directory/admin-console#/class/'+structure.id+'/'+classe.id]]" target="_blank">[[classe.name]]</a>
                            <button ng-click="classe.unlinkUser(structureUser, reloadStructureAndRetrieveUser(structureUser))" class="right-magnet close"></button>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Relatives & children -->
            <div ng-if="structureUser.type === 'Relative'" class="twelve cell">
                <hr class="separator">
                <nav class="vertical cell search-container-left" style="width: 40%; height: 380px; margin: 0">
                    <input type="text" placeholder="[[lang.translate('directory.search')]]" ng-model="filterChildren"/>
                    <ul style="height: 320px; padding-top: 10; border-bottom: none; margin-bottom: 10px">
                        <li ng-repeat="child in structure.users.all | filter: { 'type': 'Student', 'displayName': filterChildren } | orderBy: 'lastName'"
                            ng-click="addChild(child, structureUser)"
                            style="padding-left: 0">
                            <span ng-class="userStyle(child)">[[child.displayName]]</span>
                        </li>
                    </ul>
                </nav>
                <div style="width:60%; float: left">
                    <h3 style="text-align: center">[[lang.translate("directory.children")]]</h3>
                    <ul class="angle-list small">
                        <li ng-repeat="child in structureUser.children" style="margin-left: 10px">
                            <a href="[['/directory/admin-console#/structureUser/'+structure.id+'/'+child.id]]" target="_blank">[[child.displayName]]</a>
                            <button ng-click="removeChild(child, structureUser)" class="right-magnet close"></button>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Parents -->
            <div ng-if="structureUser.type === 'Student'" class="twelve cell">
                <hr class="separator">
                <h3 class="ten cell" style="margin: 0 0 10 0;">[[lang.translate("directory.relatives")]]</h3>
                <div class="row">
                    <ul class="angle-list small" style="padding-left: 5%">
                        <li ng-repeat="relative in structureUser.parents | orderBy: 'displayName'">
                            <a href="[['/directory/admin-console#/structureUser/'+structure.id+'/'+relative.id]]" target="_blank">[[relative.displayName]]</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-if="!structureUser.code" class="twelve cell">
                <!-- Quota -->
                <hr class="separator cell">
                <h3 style="margin-top: 0;">[[lang.translate("directory.quota")]]</h3>
                <div style="text-align: center; margin-bottom: 10">
                    <div style="width: 250px; border: 1px solid black; display: inline-block;">
                        <div ng-style="{ width: getStorageRatio(structureUser.storage, structureUser.quota)+'%' }" style="background-color: #ff0b75; padding: 0; margin: 0; float: left;">&nbsp;</div>
                        <div ng-style="{ width: (100 - getStorageRatio(structureUser.storage, structureUser.quota))+'%' }" style="width: 90%; display: inline-block; background-color: #444; padding: 0; margin: 0; float: left;">&nbsp;</div>
                        <h4 style="text-align:center; margin:0">
                            [[formatStorage(structureUser.storage, structureUser.quota)]] / [[formatQuota(structureUser.quota)]] [[ lang.translate("directory.usedSpace") ]]
                        </h4>
                    </div>
                </div>
                <div class="twelve cell">
                    <strong class="three cell directory-top-padded">[[lang.translate("directory.quotaShort")]]</strong>
                    <form name="quotaForm">
                        <input type="number" name="size" ng-model="$root.quotaSize" ng-change="structureUser.quota = $root.quotaSize * quotaUnit" min="[[structureUser.storage]]" style="height: 25; border-radius: 5px; background: #fff; border: none; padding-left: 5px; font-family: Lato"/>
                        <select class="three cell" ng-model="$root.quotaUnit" ng-change="$root.quotaSize = structureUser.quota /$root.quotaUnit" style="margin-left: 10px; margin-right: 10px">
                            <option value="1">[[lang.translate("directory.byte")]]</option>
                            <option value="1024">[[lang.translate("directory.kilobyte")]]</option>
                            <option value="1048576">[[lang.translate("directory.megabyte")]]</option>
                            <option value="1073741824">[[lang.translate("directory.gigabyte")]]</option>
                            <option value="[[1073741824 * 1024]]">[[lang.translate("directory.terabyte")]]</option>
                        </select>
                        <button class="two right-magnet" style="margin: 0; font-size: 12" ng-click="structureUser.saveQuota()" ng-disabled="!$root.quotaSize || structureUser.quota < structureUser.storage">[[lang.translate("directory.save")]]</button>
                    </form>
                </div>
            </div>
            <hr class="separator cell">
            <!-- Link to structures & classes -->
            <div class="twelve cell">
                <h3 style="margin-top: 0;">[[lang.translate("directory.linkToStructure")]]</h3>
                <div class="twelve cell">
                    <span class="three cell" style="margin: 0; height: 28px; padding-top: 6px;">[[lang.translate("directory.admin.school")]]</span>
                    <select class="four cell" ng-model="linkStructure" ng-init="linkStructure = structure" ng-change="refreshClasses(linkStructure)" ng-options="structure as structure.name for structure in structures.all | orderBy: 'name'"></select>
                </div>
                <div class="twelve cell" ng-if="linkStructure && linkStructure.classes && linkStructure.classes.length() > 0">
                    <span class="three cell" style="margin: 0; height: 28px; padding-top: 6px;">[[lang.translate("directory.classe")]]</span>
                    <select ng-model="$parent.linkClass" class="five cell" ng-options="class as class.name for class in linkStructure.classes.all | orderBy: 'name'">
                    </select>
                </div>
                <div style="text-align: center; margin-bottom: 10px">
                    <button ng-if="linkStructure" ng-click="linkStructure.linkUser(structureUser, reloadStructureAndRetrieveUser(structureUser))" style="margin-top: 5px">[[lang.translate("directory.linkToSchool")]]</button>
                    <button ng-if="linkClass" ng-click="linkClass.linkUser(structureUser, reloadStructureAndRetrieveUser(structureUser))">[[lang.translate("directory.linkToClass")]]</button>
                </div>
            </div>
            <!-- Function management -->
            <div ng-if="!isSelf(structureUser)" class="twelve cell">
                <hr class="separator cell">
                <h3 style="margin-top: 0;">[[lang.translate("directory.functionsManagement")]]</h3>
                <!-- Central admin attribution -->
                <div ng-if="isCentralAdmin()">
                    <h5>[[lang.translate("directory.centralAdmin")]]</h5>
                    <div style="text-align: center; margin: 10px 0px">
                        <button ng-click="structureUser.setCentralAdmin()" class="text-flow small">[[lang.translate("directory.set")]]</button>
                        <button ng-click="structureUser.removeCentralAdmin()" class="text-flow small">[[lang.translate("directory.delete")]]</button>
                    </div>
                </div>
                <!-- Local admin attribution -->
                <h5>[[lang.translate("directory.localAdmin")]]</h5>
                <div style="text-align: center; margin: 10px 0px">
                    <button ng-click="structureUser.setLocalAdmin(structure)" class="text-flow small" style="margin-bottom:5px">[[lang.translate("directory.setLocalAdmin")]]</button>
                    <button ng-click="structureUser.removeLocalAdmin()" class="text-flow small" style="margin-bottom:5px">[[lang.translate("directory.deleteLocalAdmin")]]</button>
                </div>
            </div>
        </div>
    </div>

    <!-- User creation container -->
    <div ng-if="showWhat === 'showCreatedUser'" ng-init="createdUser = initUser()" class="search-container-view">
        <div style="width: 97%">
            <div class="row">
                <h1 style="margin-bottom: 0; text-align:center;">[[(createdUser.firstName || createdUser.lastName) ? createdUser.firstName+" "+createdUser.lastName : "Nom"]]</h1>
            </div>
            <hr class="separator cell">
            <div style="text-align:center">
                <button ng-click="createUser(createdUser)"
                    ng-disabled="!createdUser.firstName || !createdUser.lastName || (!createdUser.birthDate && createdUser.type === 'Student')">
                    [[lang.translate("directory.admin.create")]]
                </button>
            </div>
            <hr class="separator cell">
            <div class="twelve cell">
                <strong class="four cell directory-top-padded">[[lang.translate("directory.userFirstName")]]</strong>
                <input  class="four cell directory-top-padded" type="text" ng-model="createdUser.firstName"/>
            </div>
            <div class="twelve cell">
                <strong class="four cell directory-top-padded">[[lang.translate("directory.userLastName")]]</strong>
                <input  class="four cell directory-top-padded" type="text" ng-model="createdUser.lastName"/>
            </div>
            <div class="twelve cell">
                <strong class="four cell directory-top-padded">[[lang.translate("directory.userType")]]</strong>
                <select class="four cell" ng-model="createdUser.type" style="margin-right: 10px;">
                    <option value="Teacher">[[lang.translate("directory.Teacher")]]</option>
                    <option value="Personnel">[[lang.translate("directory.Personnel")]]</option>
                    <option value="Relative">[[lang.translate("directory.Relative")]]</option>
                    <option value="Student">[[lang.translate("directory.Student")]]</option>
                </select>
            </div>
            <div class="twelve cell">
                <strong class="four cell">[[lang.translate("directory.userBirth")]]</strong>
                <div ng-if="!createdUser.birthDate">
                    <div class="four cell">[[lang.translate("directory.notFilled")]]</div>
                    <button ng-click="initUserBirth(createdUser)" style="font-size: 10px; margin-left: 10; padding: 3; margin-bottom:5">[[lang.translate("directory.modifyDate")]]</button>
                </div>
                <div ng-if="createdUser.birthDate">
                    <date-picker class="four cell" ng-model="createdUser.birthDate"></date-picker>
                    <button ng-click="createdUser.birthDate = undefined" style="font-size: 10px; margin-left: 10; padding: 3;">[[lang.translate("directory.deleteDate")]]</button>
                </div>
            </div>
            <div class="twelve cell">
                <strong class="four cell directory-top-padded">[[lang.translate("directory.classe")]]</strong>
                <select class="four cell"
                        ng-model="createdUser.classId"
                        ng-options="classe.id as classe.name for classe in structure.classes.all | orderBy: 'name'"
                        style="margin-right: 10px;">
                    <option value="">[[lang.translate("directory.classeLess")]]</option>
                </select>
            </div>
            <div ng-if="createdUser.type === 'Relative'">
                <hr class="separator cell">
                <nav class="vertical cell search-container-left" style="width: 40%; height: 380px; margin: 0">
                    <input type="text" placeholder="[[lang.translate('directory.search')]]" ng-model="filterChildren"/>
                    <ul style="height: 320px; padding-top: 10; border-bottom: none; margin-bottom: 10px">
                        <li ng-repeat="child in structure.users.all | filter: { 'type': 'Student', 'displayName': filterChildren } | orderBy: 'lastName'"
                            ng-click="addChild(child, createdUser)"
                            style="padding-left: 0">
                            <span>[[child.displayName]]</span>
                        </li>
                    </ul>
                </nav>
                <div style="width:60%; float: left">
                    <h3 style="text-align: center">[[lang.translate("directory.children")]]</h3>
                    <ul style="list-style-type: decimal; font-family: Lato;">
                        <li ng-repeat="child in createdUser.children" ng-click="removeChild(child, createdUser)">[[child.displayName]]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>
