<div class="row">
    <h1 style="margin-bottom: 0; text-align:center;">
        [[targetUser.firstName+" "+targetUser.lastName]]
    </h1>
</div>
<hr class="separator">
<div style="text-align:center">
    <a  ng-if="targetUser.data.structures[0].id"
        ng-href="/directory/admin-console#/structureUser/[[notCrossSearchTab() ? structure.id : targetUser.data.structures[0].id]]/[[targetUser.id]]"
        class="right-magnet"
        target="_blank"
        tooltip="directory.directlink">
        <button class="directory-direct-link-button"></button>
    </a>
    <button ng-click="updateUser(targetUser)" class="text-flow" style="margin-bottom:5px" ng-disabled="userDetailsForm.$invalid">[[lang.translate("directory.save")]]</button>
    <!--button ng-if="notCrossSearchTab()" ng-click="structure.unlinkUser(targetUser, reloadStructure(structure))" class="text-flow" style="margin-bottom:5px">[[lang.translate("directory.admin.unlink.school")]]</button-->
    <button ng-if="targetUser.isRemovable()" ng-click="deleteUser(targetUser)" class="text-flow" style="margin-bottom:5px">[[lang.translate("directory.predelete")]]</button>
    <button ng-if="!targetUser.blocked" ng-click="targetUser.block(refreshScope)" class="text-flow" style="margin-bottom:5px">[[lang.translate("admin.block")]]</button>
    <button ng-if="targetUser.blocked" ng-click="targetUser.unblock(refreshScope)" class="text-flow" style="margin-bottom:5px">[[lang.translate("admin.unblock")]]</button>
    <button ng-if="targetUser.type == 'Relative' && !targetUser.mergeKey" ng-click="targetUser.generateMergeKey(refreshScope)"  class="text-flow" style="margin-bottom:5px">[[lang.translate("userBook.profile.generate.mergeKey")]]</button>
    <div class="twelve cell warning" ng-if="userDetailsForm.$invalid">
        <strong ng-repeat="(fieldName, status) in userDetailsForm.$error">
            <div ng-if="status">[[lang.translate('directory.form.'+ fieldName)]]</div>
        </strong>
    </div>
</div>
<hr class="separator">
<div class="twelve cell warning" ng-if="targetUser.blocked"><strong translate content="admin.blocked.account"/></div>
<div class="twelve cell"><strong class="four cell">[[lang.translate("directory.userId")]]</strong> [[targetUser.id]]</div>
<div class="twelve cell"><strong class="four cell">[[lang.translate("directory.externalId")]] :</strong> [[targetUser.externalId]]</div>
<div class="twelve cell" ng-if="targetUser.IDPN"><strong class="four cell">[[lang.translate("pronote.id")]] :</strong> [[targetUser.IDPN]]</div>
<div class="twelve cell" ng-if="targetUser.attachmentId"><strong class="four cell">[[lang.translate("attachmentId")]] :</strong> [[targetUser.attachmentId]]</div>
<div class="twelve cell"><strong class="four cell">[[lang.translate("directory.userType")]]</strong> [[lang.translate('directory.'+targetUser.type)]]</div>
<div class="twelve cell"><strong class="four cell">[[lang.translate("directory.userLogin")]]:</strong> [[targetUser.login]]</div>

<div class="twelve cell">
    <form name="updateLoginAliasForm" ng-submit="updateLoginAlias(targetUser)" novalidate>
        <strong class="four cell">[[lang.translate("directory.userLoginAlias")]]:</strong>
        <input class="four cell" type="text" ng-model="targetUser.loginAlias"/>
        <button type="submit" 
            class="small cell" 
            style="padding: 0px 5px; margin-left: 5%;" 
            ng-disabled="!targetUser.loginAlias || updateLoginAliasForm.$pristine">
            [[lang.translate("directory.save")]]
        </button>
    </form>
</div>

<div class="twelve cell"><strong class="four cell">[[lang.translate("directory.userSource")]]:</strong> [[lang.translate(targetUser.source)]]</div>
<div class="twelve cell"><strong class="four cell">[[lang.translate("directory.userCreated")]]:</strong> [[displayDate(targetUser.created)]]</div>
<div  class="twelve cell" ng-if="targetUser.mergeKey"><strong class="four cell">[[lang.translate("userBook.profile.mergeKey")]]:</strong> [[targetUser.mergeKey]]</div>
<div class="twelve cell" ng-show="targetUser.code"><strong class="four cell">[[lang.translate("directory.userCode")]]:</strong> [[targetUser.code]]</div>
<div class="twelve cell" ng-show="targetUser.functions && targetUser.functions[0][0]">
    <strong class="four cell">[[lang.translate("directory.functions")]]</strong>
    [[formatUserFunctions(targetUser)]]
</div>
<hr class="separator cell"/>
<form name="userDetailsForm" novalidate>
    <div class="twelve cell">
        <strong class="four cell padding-top-5">[[lang.translate("directory.userFirstName")]]</strong>
        <input class="six cell" type="text" ng-model="targetUser.firstName"/>
    </div>
    <div class="twelve cell">
        <strong class="four cell padding-top-5">[[lang.translate("directory.userLastName")]]</strong>
        <input class="six cell" type="text" ng-model="targetUser.lastName"/>
    </div>
    <div class="twelve cell">
        <strong class="four cell padding-top-5">[[lang.translate("userBook.profile.displayName")]]</strong>
        <input class="six cell" type="text" ng-model="targetUser.displayName"/>
    </div>
    <div class="twelve cell padding-top-5">
        <strong class="four cell">[[lang.translate("directory.userBirth")]]</strong>
        <div ng-if="!targetUser.birthDate">
            <div class="four cell" style="margin-bottom: 10px;"> [[lang.translate("directory.notFilled")]]</div>
            <button type="button" class="small cell" style="padding: 0px 5px" ng-click="initUserBirth(targetUser)">[[lang.translate("directory.modifyDate")]]</button>
        </div>
        <div ng-if="targetUser.birthDate">
            <date-picker class="four cell" style="margin-bottom: 7px;" ng-model="targetUser.birthDate"></date-picker>
            <button type="button" class="small cell" style="padding: 0px 5px; margin-left: 5%;" ng-click="targetUser.birthDate = undefined">[[lang.translate("directory.deleteDate")]]</button>
        </div>
    </div>
    <div class="twelve cell">
        <strong class="four cell padding-top-5">[[lang.translate("directory.userAddress")]]</strong>
        <input class="six cell" type="text" ng-model="targetUser.address"/>
    </div>
    <div class="twelve cell">
        <strong class="four cell padding-top-5">[[lang.translate("directory.userCity")]]</strong>
        <input class="six cell" type="text" ng-model="targetUser.city"/>
    </div>
    <div class="twelve cell">
        <strong class="four cell padding-top-5">[[lang.translate("directory.userZipCode")]]</strong>
        <input class="six cell" type="text" ng-model="targetUser.zipCode"/>
    </div>
    <div class="twelve cell">
        <strong class="four cell padding-top-5">[[lang.translate("directory.admin.email")]] :</strong>
        <input class="six cell" type="email" name="email" ng-model="targetUser.email"/>
    </div>
    <div class="twelve cell">
        <strong class="four cell padding-top-5">[[lang.translate("userBook.profile.telephone")]] :</strong>
        <input class="six cell" type="tel"
               name="homePhone" ng-model="targetUser.homePhone"/>
    </div>
    <div class="twelve cell">
        <strong class="four cell padding-top-5">[[lang.translate("directory.admin.mobilePhone")]] :</strong>
        <input class="six cell" type="tel"
               name="mobilePhone" ng-model="targetUser.mobile"/>
    </div>
    <hr class="separator cell" ng-if="!targetUser.code">
    <div class="row" ng-if="!targetUser.code">
        <label  class="five cell" style="margin-bottom: 10px; padding-top: 2"><span>[[lang.translate("directory.sendActivationCode")]]</span></label>
        <input  class="four cell" style="height: 28px; border-radius: 15px; padding: 5;" placeholder="[[lang.translate('directory.mail')]]" ng-model="resetEmail"/>
        <button class="two right-magnet" style="margin: 0; padding: 2" ng-click="sendResetPassword(resetEmail)" ng-disabled="!canSubmitResetPassword(resetEmail)">[[lang.translate("directory.send")]]</button>
    </div>
</form>
<!-- Aaf Functions -->
<div class="twelve cell" ng-if="targetUser.aafFunctions">
    <hr class="separator">
    <h3 class="ten cell" style="margin: 0 0 10 0;">[[lang.translate("directory.aaf.functions")]]</h3>
    <div class="row">
        <ul class="angle-list small" style="padding-left: 5%">
            <li ng-repeat="function in targetUser.aafFunctions track by $index">
                [[function]]
            </li>
        </ul>
    </div>
</div>
<!-- Structures list -->
<div class="twelve cell" ng-if="targetUser.data.structures && targetUser.data.structures.length > 0">
    <hr class="separator">
    <h3 class="ten cell" style="margin: 0 0 10 0;">[[lang.translate("directory.structures")]]</h3>
    <div class="row">
        <ul class="angle-list small" style="padding-left: 5%">
            <li ng-repeat="structure in targetUser.data.structures | orderBy: 'name'">
                <a href="[['/directory/admin-console#/structure/'+structure.id]]" target="_blank">[[structure.name]]</a>
                <em ng-if="isMainStructure(targetUser, structure)" class="horizontal-spacing">
                    (<i18n>directory.main.structure</i18n>)
                </em>
                <button ng-click="removeUserFromStructure(targetUser, structure, reloadStructureAndRetrieveUser(targetUser))" class="right-magnet close"></button>
            </li>
        </ul>
    </div>
</div>
<!-- Classes list -->
<div class="twelve cell" ng-if="targetUser.totalClasses && targetUser.totalClasses.length > 0">
    <hr class="separator">
    <h3 class="ten cell" style="margin: 0 0 10 0;">[[lang.translate("directory.classes")]]</h3>
    <div class="row">
        <ul class="angle-list small" style="padding-left: 5%">
            <li ng-repeat="classe in targetUser.totalClasses | orderBy: 'name'">
                <a href="[['/directory/admin-console#/class/'+structure.id+'/'+classe.id]]" target="_blank">[[classe.name]]</a>
                <button ng-click="classe.unlinkUser(targetUser, reloadStructureAndRetrieveUser(targetUser))" class="right-magnet close"></button>
            </li>
        </ul>
    </div>
</div>
<!-- Functional groups -->
<div class="twelve cell" ng-if="targetUser.functionalGroups && targetUser.functionalGroups.length > 0">
    <hr class="separator">
    <h3 class="ten cell" style="margin: 0 0 10 0;">[[lang.translate("directory.functional.groups")]]</h3>
    <div class="row">
        <ul class="angle-list small" style="padding-left: 5%">
            <li ng-repeat="group in targetUser.functionalGroups | orderBy: 'name'">
                [[group.name]]
            </li>
        </ul>
    </div>
</div>
<!-- Relatives & children -->
<div ng-if="notCrossSearchTab() && targetUser.type === 'Relative'" class="twelve cell">
    <hr class="separator">
    <nav class="vertical cell search-container-left" style="max-width: 40%; width: 40%; min-height: 380px; height: 380px; margin: 0">
        <input type="text" placeholder="[[lang.translate('directory.search')]]" ng-model="filterChildren"/>
        <ul style="height: 320px; padding-top: 10; border-bottom: none; margin-bottom: 10px">
            <li ng-repeat="child in structure.users.all | filter: { 'type': 'Student', 'displayName': filterChildren } | filter: excludeChildren(targetUser) | orderBy: 'lastName'"
                ng-click="addChild(child, targetUser)"
                style="padding-left: 0">
                <span ng-class="userStyle(child)">[[child.lastName]] [[child.firstName]]</span>
            </li>
        </ul>
    </nav>
    <div style="width:60%; float: left">
        <h3 style="text-align: center">[[lang.translate("directory.children")]]</h3>
        <ul class="angle-list small">
            <li ng-repeat="child in targetUser.children" style="margin-left: 10px">
                <a href="[['/directory/admin-console#/structureUser/'+structure.id+'/'+child.id]]" target="_blank">[[child.lastName]] [[child.firstName]]</a>
                <button ng-click="removeChild(child, targetUser)" class="right-magnet close"></button>
            </li>
        </ul>
    </div>
</div>
<!-- Parents -->
<div ng-if="notCrossSearchTab() && targetUser.type === 'Student'" class="twelve cell">
    <hr class="separator">
    <h3 class="ten cell" style="margin: 0 0 10 0;">[[lang.translate("directory.relatives")]]</h3>
    <div class="row">
        <ul class="angle-list small" style="padding-left: 5%">
            <li ng-repeat="relative in targetUser.parents | orderBy: 'displayName'">
                <a href="[['/directory/admin-console#/structureUser/'+structure.id+'/'+relative.id]]" target="_blank">[[relative.displayName]]</a>
            </li>
        </ul>
    </div>
</div>
<div ng-if="!targetUser.code" class="twelve cell">
    <!-- Quota -->
    <hr class="separator cell">
    <h3 style="margin-top: 0;">[[lang.translate("directory.quota")]]</h3>
    <div class="quota-container">
        <div>
            <div ng-style="{ width: getStorageRatio(targetUser.storage, targetUser.quota)+'%' }">&nbsp;</div>
            <div ng-style="{ width: (100 - getStorageRatio(targetUser.storage, targetUser.quota))+'%' }">&nbsp;</div>
            <h4>
                [[formatStorage(targetUser.storage, targetUser.quota)]] / [[formatQuota(targetUser.quota)]] [[ lang.translate("directory.usedSpace") ]]
            </h4>
        </div>
    </div>
    <div class="twelve cell">
        <strong class="three cell padding-top-5">[[lang.translate("directory.quotaShort")]]</strong>
        <form name="quotaForm">
            <input  type="number"
                    name="size"
                    ng-model="$root.quotaSize"
                    ng-change="targetUser.quota = $root.quotaSize * quotaUnit"
                    style="height: 25; border-radius: 5px; background: #fff; border: none; padding-left: 5px; font-family: Lato"/>
            <select class="three cell" ng-model="$root.quotaUnit" ng-change="$root.quotaSize = targetUser.quota / $root.quotaUnit" style="margin-left: 10px; margin-right: 10px">
                <option value="1">[[lang.translate("directory.byte")]]</option>
                <option value="1024">[[lang.translate("directory.kilobyte")]]</option>
                <option value="1048576">[[lang.translate("directory.megabyte")]]</option>
                <option value="1073741824">[[lang.translate("directory.gigabyte")]]</option>
                <option value="[[1073741824 * 1024]]">[[lang.translate("directory.terabyte")]]</option>
            </select>
            <button
                class="small two right-magnet"
                style="margin: 0; font-size: 12"
                ng-click="targetUser.saveQuota()"
                ng-disabled="!$root.quotaSize || targetUser.quota < targetUser.storage || targetUser.quota >= getMaxUserQuota(targetUser)">
                [[lang.translate("directory.save")]]
            </button>
        </form>
        <em class="twelve cell"><i18n>directory.maxQuota</i18n> : [[ formatQuota(getMaxUserQuota(targetUser)) ]]</em>
    </div>
</div>
<hr class="separator cell">
<!-- Link to structures & classes -->
<div class="twelve cell">
    <h3 style="margin-top: 0;">[[lang.translate("directory.linkToStructure")]]</h3>
    <div class="twelve cell">
        <span class="three cell" style="margin: 0; height: 28px; padding-top: 6px;">[[lang.translate("directory.admin.school")]]</span>
        <select class="five cell" ng-model="linkStructure" ng-init="linkStructure = structure" ng-change="refreshClasses(linkStructure)" ng-options="structure as structure.name for structure in structures.all | orderBy: 'name'"></select>
    </div>
    <div class="twelve cell" ng-if="linkStructure && linkStructure.classes && linkStructure.classes.length() > 0">
        <span class="three cell" style="margin: 0; height: 28px; padding-top: 6px;">[[lang.translate("directory.classe")]]</span>
        <select class="five cell" ng-model="$parent.linkClass" ng-options="class as class.name for class in linkStructure.classes.all | orderBy: 'name'">
        </select>
    </div>
    <div>
        <button class="small margin-top-10" ng-if="linkStructure" ng-click="linkStructure.linkUser(targetUser, reloadStructureAndRetrieveUser(targetUser))">[[lang.translate("directory.linkToSchool")]]</button>
        <button class="small margin-top-10" ng-if="linkClass" ng-click="linkClass.linkUser(targetUser, reloadStructureAndRetrieveUser(targetUser))">[[lang.translate("directory.linkToClass")]]</button>
    </div>
</div>
<!-- Function management -->
<div ng-if="!isSelf(targetUser)" class="twelve cell" style="margin-bottom: 10px;">
    <hr class="separator cell">
    <h3 style="margin-top: 0;">[[lang.translate("directory.functionsManagement")]]</h3>
    <!-- Central admin attribution -->
    <!--div ng-if="isCentralAdmin()">
        <h6>[[lang.translate("directory.centralAdmin")]]</h6>
        <div>
            <button ng-click="targetUser.setCentralAdmin()" class="text-flow small">[[lang.translate("directory.set")]]</button>
            <button ng-click="targetUser.removeCentralAdmin()" class="text-flow small">[[lang.translate("directory.delete")]]</button>
        </div>
    </div-->
    <!-- Local admin attribution -->
    <h6 ng-if="notCrossSearchTab()">[[lang.translate("directory.localAdmin")]]</h6>
    <div ng-if="notCrossSearchTab()">
        <button ng-click="loadingWrapper('localAdminRequest', targetUser.setLocalAdmin, targetUser, structure)" class="text-flow small" ng-disabled="localAdminRequest.loading">
            [[lang.translate("directory.setLocalAdmin")]]
            <i class="horizontal-spacing-twice loader" ng-if="localAdminRequest.loading"></i>
        </button>
        <button ng-click="targetUser.removeLocalAdmin()" class="text-flow small">
            [[lang.translate("directory.deleteLocalAdmin")]]
        </button>
    </div>
</div>
