<!--
    |||||||||||||||||||||||
    |||  STRUCTURE OPS  |||
    |||||||||||||||||||||||
-->

<!-- Structure selection menu -->
<div>
    <div ng-include="'structure-tree'"></div>
    <div class="three" style="position: relative;">
        <div class="vertical-buttons-container" style="right: -50px; top: -10px;">
            <!-- Creation button -->
            <button ng-click="setShowWhat('showStructureCreation'); initStructure()"
                    ng-if="isCentralAdmin()"
                    tooltip="directory.tooltip.createStructure"
                    class="glyph-button plus-icon">
            </button>
        </div>
    </div>
</div>

<article class="side-tabs-content content-flex nine cell" ng-if="structure || createdStructure">

    <!-- Structure details -->
    <div class="twelve" ng-if="structure && showWhat !== 'showStructureCreation'">
        <div class="row"><h1 style="margin-bottom: 0; text-align:center;">[[structure.name]]</h1></div>
        <hr class="separator cell">
        <div style="text-align:center">
            <button ng-click="structure.update()" class="text-flow">[[lang.translate("directory.save")]]</button>
        </div>
        <hr class="separator cell">
        <div class="twelve cell padding-top-5"><strong class="four cell">[[lang.translate("directory.userId")]]</strong> [[structure.id]]</div>
        <div class="twelve cell padding-top-5"><strong class="four cell">[[lang.translate("directory.uai")]] :</strong> [[structure.UAI]]</div>
        <div class="twelve cell padding-top-5">
            <strong class="four cell">[[lang.translate("directory.name")]]</strong>
            <input class="eight cell" type="text" ng-model="structure.name"/>
        </div>
        <div class="twelve cell" ng-if="structure.parents">
            <strong class="four cell padding-top-5">[[lang.translate("directory.structure.parents")]]</strong>
            <nav class="eight cell">
                <ul class="angle-list small" style="margin: 0">
                    <li ng-repeat="parent in structures.all | filter : filterOnlyParentStructures | orderBy: 'name'">
                        [[parent.name]] <button ng-if="isCentralAdmin()" class="right-magnet close" ng-click="structure.detachParent(parent, refreshScope)"></button>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Export -->
        <hr class="separator cell">
        <h3 class="twelve cell" style="margin-top: 0;">[[lang.translate("directory.exportStructure")]]</h3>
        <div class="row" ng-init="exportData.params.filterActive = ''">
            <select class="five cell row-item" ng-model="exportData.params.profile" ng-change="deleteIfEmpty(exportData.params, 'profile')">
                <option value="">[[lang.translate("directory.allProfiles")]]</option>
                <option value="Personnel">[[lang.translate("directory.Personnel")]]</option>
                <option value="Teacher">[[lang.translate("directory.Teacher")]]</option>
                <option value="Relative">[[lang.translate("directory.Relative")]]</option>
                <option value="Student">[[lang.translate("directory.Student")]]</option>
                <option value="Guest">[[lang.translate("directory.Guest")]]</option>
            </select>
            <select class="five cell" ng-model="exportData.params.filterActive">
                <option value="">[[lang.translate("directory.ignoreActivation")]]</option>
                <option value="active">[[lang.translate("directory.onlyActivatedUsers")]]</option>
                <option value="inactive">[[lang.translate("directory.onlyInactiveUsers")]]</option>
            </select>
        </div>
        <button class="three cell margin-top-5" ng-click="exportItem(structure, 'structureId')" style="margin-left: 0%; font-size: 12; padding: 2;">
            [[lang.translate("directory.export")]]
        </button>
        <!-- Structure grouping -->
        <hr class="separator cell" ng-if="isCentralAdmin()">
        <div class="twelve cell" ng-if="isCentralAdmin()">
            <h3><i18n>directory.admin.attachChildStructures</i18n></h3>
            <nav class="vertical search-container-left three cell" style="min-height: 380px; height: 380px">
                <input type="text" placeholder="[[lang.translate('directory.search')]]" ng-model="filterStructures"/>
                <ul style="height: 320px; padding-top: 10; border-bottom: none; margin-bottom: 10px">
                    <li ng-repeat="potentialChild in structures.all | filter: filterExcludeCurrentStructure(filterStructures) | filter: filterExcludeDoubles(structure.children) | orderBy: 'name'"
                        ng-click="potentialChild.attachParent(structure, refreshScope)"
                        style="padding-left: 0">
                        <span>[[potentialChild.name]]</span>
                    </li>
                </ul>
            </nav>
            <div class="eight cell">
                <h5 style="text-align: center">[[lang.translate("directory.structure.children")]]</h5>
                <ul class="angle-list small" style="padding-left: 20px">
                    <li ng-repeat="child in structures.all | filter: filterOnlyChildStructures | orderBy: 'name'">
                        [[child.name]]
                        <button class="close right-magnet" ng-click="child.detachParent(structure, refreshScope)"></button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Set quota -->
        <hr class="separator cell">
        <h3 class="twelve cell" style="margin-top: 0;">[[lang.translate("directory.quota")]]</h3>

        <div class="twelve cell">
            <table>
                <tr style="background-color: grey">
                    <th><i18n>directory.quota.profile</i18n></th>
                    <th><i18n>directory.quota.unit</i18n></th>
                    <th><i18n>directory.quota.allocated.space</i18n></th>
                    <th><i18n>directory.quota.maximum</i18n></th>
                </tr>

                <tr ng-repeat="pgroup in structure.pgroup">
                    <td>[[lang.translate(pgroup.profile)]]</td><!--[[lang.translate("directory.Teacher")]]-->
                    <td>
                        <select ng-model="quotaUnit"
                                ng-init="quotaUnit = DEFAULT_QUOTA_UNIT"
                                style="margin-right: 10px"
                                ng-change="updateQuotaUnit(1, $index, pgroup.quota, pgroup.maxquota, quotaUnit)"
                        >
                            <option value="1048576">[[lang.translate("directory.megabyte")]]</option>
                            <option value="1073741824">[[lang.translate("directory.gigabyte")]]</option>
                            <option value="[[1073741824 * 1024]]">[[lang.translate("directory.terabyte")]]</option>
                        </select>
                    </td>
                    <td>
                        <input class="four cell"
                               type="number"
                               step="0.01" min="0"
                               ng-model="pgroup.quota"
                               style="text-align:right"
                               ng-change="setQuotaModified($index)"
                        />
                    </td>
                    <td>
                        <div ng-if="isADMC()"><input class="four cell"
                                                     type="number"
                                                     step="0.01" min="0"
                                                     ng-model="pgroup.maxquota"
                                                     style="text-align:right"
                                                     ng-change="setMaxQuotaModified($index)"
                        /></div>
                        <div ng-if="!isADMC()">[[pgroup.maxquota / quotaUnit]]</div>
                    </td>
                </tr>
            </table>
            <button class="small two right-magnet"
                    style="margin: 0; font-size: 12"
                    ng-attr-id="saveQuotaButton"
                    ng-click="saveStructureQuota()"
                    ng-disabled="saveQuotaDisabled">
                [[lang.translate("directory.save")]]
            </button>
        </div>

        <hr class="separator cell">

        <!------------------------------------------------------------------------------------------------------------->

        <h3 class="twelve cell" style="margin-top: 0;">[[lang.translate("directory.quota.structure.title")]]</h3>

        <em class="twelve cell">
            <div class="three cell padding"><i18n>directory.quota.allocated.space.structure</i18n> :</div>

            <div class="two cell padding" ng-if="isADMC()">
                <select ng-model="structure.quotaUnit"
                                        ng-init="structure.quotaUnit = DEFAULT_QUOTA_UNIT"
                                        style="margin-right: 10px"
                                        ng-change="updateQuotaUnit(2, null, structure.quota, null, structure.quotaUnit)"
                >
                    <option value="1048576">[[lang.translate("directory.megabyte")]]</option>
                    <option value="1073741824">[[lang.translate("directory.gigabyte")]]</option>
                    <option value="[[1073741824 * 1024]]">[[lang.translate("directory.terabyte")]]</option>
                </select>
            </div>
            <div class="three cell padding" ng-if="isADMC()">
                <input class="four cell"
                     type="number"
                     step="0.01" min="0"
                     ng-model="structure.quota"
                     style="text-align:right"
                     ng-change="setQuotaStructureModified()"
            /></div>
            <span ng-if="!isADMC()">[[ formatQuota(structure.quota) ]]</span>
        </em>
        <em class="twelve cell">
            <i18n>directory.storage</i18n> : [[ formatQuota(structure.storage) ]]
        </em>
        <button class="small two right-magnet"
                style="margin: 0; font-size: 12"
                ng-attr-id="saveQuotaStructureButton"
                ng-click="saveStructureQuotaStructure()"
                ng-disabled="saveQuotaStructureDisabled">
            [[lang.translate("directory.save")]]
        </button>

        <hr class="separator cell">

        <!------------------------------------------------------------------------------------------------------------->

        <h3 class="twelve cell" style="margin-top: 0;">[[lang.translate("directory.quota.activity.title")]]</h3>

        <div class="twelve cell padding">

            <div class="four cell padding">
                <i18n>directory.quota.display</i18n>
                <input type="number"
                       step="1" min="1" max="1000"
                       ng-model="structure.quotaFilterNbusers"
                       ng-init="structure.quotaFilterNbusers = 10"
                       style="text-align:right"
                />
                [[lang.translate("directory.quota.users")]]
            </div>
            <div class="four cell padding">
                <i18n>directory.quota.percentage.limit</i18n>
                <input type="number"
                       step="1" min="0" max="100"
                       ng-model="structure.quotaFilterPercentageLimit"
                       ng-init="structure.quotaFilterPercentageLimit = 0"
                       style="text-align:right"
                />
                %
            </div>
        </div>
        <div class="twelve cell padding"><br></div>
        <div class="twelve cell padding">
            <div class="three cell padding">
                <i18n>directory.quota.sort.by</i18n>
                <select ng-model="structure.quotaFilterSortBy">
                    <option value="sortpercentage">[[lang.translate("directory.quota.sort.percentage")]]</option>
                    <option value="sortvalue">[[lang.translate("directory.quota.sort.value")]]</option>
                </select>
            </div>
            <div class="three cell padding">
                <i18n>directory.quota.sort.order</i18n>
                <select ng-model="structure.quotaFilterOrderBy">
                    <option value="sortdcecreasing">[[lang.translate("directory.quota.sort.decreasing")]]</option>
                    <option value="sortincreasing">[[lang.translate("directory.quota.sort.increasing")]]</option>
                </select>
            </div>
            <div class="six cell padding">
                <i18n>directory.quota.profile</i18n>
                <select ng-model="structure.quotaFilterProfile">
                    <option value="">[[lang.translate("directory.allProfiles")]]</option>
                    <option value="Personnel">[[lang.translate("directory.Personnel")]]</option>
                    <option value="Teacher">[[lang.translate("directory.Teacher")]]</option>
                    <option value="Relative">[[lang.translate("directory.Relative")]]</option>
                    <option value="Student">[[lang.translate("directory.Student")]]</option>
                    <option value="Guest">[[lang.translate("directory.Guest")]]</option>
                </select>
                <button class="small two right-magnet"
                        style="margin: 0; font-size: 12"
                        ng-click="getUsersQuotaActivity()">
                    [[lang.translate("directory.quota.display")]]
                </button>
            </div>
        </div>

        <div class="twelve cell padding"><br>
        </div>
        <table>
            <tr style="background-color: grey">
                <th><i18n>directory.quota.rank</i18n></th>
                <th><i18n>directory.quota.name</i18n></th>
                <th><i18n>directory.quota.profile</i18n></th>
                <th><i18n>directory.quota.unit</i18n></th>
                <th><i18n>directory.quota.allocated.space</i18n></th>
                <th><i18n>directory.quota.used</i18n></th>
                <th><i18n>directory.quota.percentage.used</i18n></th>
                <th><i18n>directory.quota.maximum</i18n></th>
            </tr>
            <tr ng-repeat="activity in structure.quotaActivity">
                <td>[[$index + 1]]</td>
                <td>[[activity.name]]</td>
                <td>[[lang.translate(activity.profile)]]</td>
                <td>
                    <select ng-model="quotaActivityUnit"
                            ng-init="quotaActivityUnit = DEFAULT_QUOTA_UNIT"
                            style="margin-right: 10px"
                            ng-change="updateQuotaUnit(3, $index, activity.quota, activity.maxquota, quotaActivityUnit)"
                    >
                        <option value="1048576">[[lang.translate("directory.megabyte")]]</option>
                        <option value="1073741824">[[lang.translate("directory.gigabyte")]]</option>
                        <option value="[[1073741824 * 1024]]">[[lang.translate("directory.terabyte")]]</option>
                    </select>
                </td>
                <td>
                    <input class="eight cell"
                           type="number"
                           step="0.01" min="0"
                           ng-model="activity.quota"
                           style="text-align:right"
                           ng-change="setQuotaActivityModified($index)"
                    />
                </td>
                <td>[[activity.storage]]</td>
                <td><progress-bar max="100" filled="activity.percentage*100" unit=""></progress-bar>
                    </td>
                <td>[[activity.maxquota]]</td>
            </tr>
        </table>
        <button class="small two right-magnet"
                style="margin: 0; font-size: 12"
                ng-attr-id="saveQuotaActivityButton"
                ng-click="saveStructureQuotaActivity()"
                ng-disabled="saveQuotaActivityDisabled">
            [[lang.translate("directory.save")]]
        </button>
    </div>


    </div>

    <!-- Structure creation -->
    <div class="twelve"  ng-if="showWhat === 'showStructureCreation'">
        <div class="row"><h1 style="margin-bottom: 0; text-align:center;">[[createdStructure.name ? createdStructure.name : lang.translate("directory.structure")]]</h1></div>
        <hr class="separator">
        <div style="text-align:center">
            <button ng-click="createdStructure.create(refreshStructures)">[[lang.translate("directory.admin.create")]]</button>
        </div>
        <hr class="separator">
        <div class="twelve cell">
            <strong class="four cell padding-top-5">[[lang.translate("directory.name")]]</strong>
            <input class="eight cell" type="text" ng-model="createdStructure.name"/>
        </div>
    </div>

</article>
