<!--
    |||||||||||||||||||||
    |||  GROUPS OPS   |||
    |||||||||||||||||||||
-->

<!-- Structure selection menu -->
<div ng-include="'structure-tree'"></div>

<article class="side-tabs-content content-flex unpadded nine cell" ng-if="structure">
    <!-- Group selection menu -->
    <nav class="vertical cell search-container-left">

        <div class="horizontal-buttons-container">
            <button ng-click="showWhat === 'showFilters' ? setShowWhat('showCurrentGroup') : setShowWhat('showFilters')"
                    tooltip="tooltip.users.filtersTooltip"
                    class="glyph-button filter-icon">
            </button>
            <!-- Order toggle button -->
            <button ng-click="switchGroupOrdering()"
                    tooltip="tooltip.users.switchGroupOrdering"
                    class="sort-button">
            </button>
            <!-- Creation button -->
            <button ng-click="setShowWhat('showGroupCreation')" tooltip="directory.tooltip.createGroup"
                    class="glyph-button plus-icon">
            </button>
            <button ng-click="setShowWhat('showLegend')"
                    tooltip="directory.tooltip.legend"
                    class="glyph-button question-mark-icon">
            </button>
        </div>

        <input type="text" placeholder="[[lang.translate('directory.search')]]" ng-model="$root.filterStructureGroups"/>
        <ul>
          <!-- <li ng-repeat="group in structure.groups.all | filter: filterStructureGroups | orderBy: 'name'" ng-click="$parent.groupSelected = group; setShowWhat('showCurrentGroup')" style="padding-left: 0"> -->
            <li ng-repeat="group in structure.groups.all | filter: structureGroupsFilteringFunction | orderBy: groupOrdering" ng-click="$parent.groupSelected = group; setShowWhat('showCurrentGroup')" style="padding-left: 0">
                <span ng-class="groupStyle(group)">[[group.name]]</span>
            </li>
        </ul>
    </nav>

    <!-- New group -->
    <div ng-if="showWhat === 'showGroupCreation'" ng-init="createdGroup = initGroup()" class="search-container-view">
        <div class="row"><h1 style="margin-bottom: 0; text-align:center;">[[createdGroup.name ? createdGroup.name : lang.translate('directory.lastName')]]</h1></div>
        <hr class="separator">
        <div class="button-horizontal-bar">
            <button ng-click="saveGroup(createdGroup)" ng-disabled="!createdGroup.name">[[lang.translate("directory.admin.create")]]</button>
        </div>
        <hr class="separator">
        <div class="twelve cell">
            <strong class="four cell padding-top-5">[[lang.translate("directory.name")]]</strong>
            <input type="text" ng-model="createdGroup.name" placeholder="[[lang.translate('directory.groupName')]]"/>
        </div>
        <div class="twelve cell" ng-if="structure && structure.classes && structure.classes.length() > 0">
            <span class="three cell" style="margin: 0; height: 28px; padding-top: 6px;">[[lang.translate("directory.classe")]]</span>
            <select ng-model="createdGroup.classId" class="five cell" ng-options="class as class.name for class in structure.classes.all | orderBy: 'name'">
            </select>
        </div>
    </div>

    <!-- Group details -->
    <div ng-if="groupSelected && showWhat === 'showCurrentGroup'" class="search-container-view">
        <div class="row"><h1 style="margin-bottom: 0; text-align:center;">[[groupSelected.name]]</h1></div>
        <div class="row" style="text-align:center">
            <h5 ng-if="!groupSelected.classes"><i18n>directory.admin.structureGroup</i18n></h5>
            <h5 ng-if="groupSelected.classes"><i18n>directory.admin.classGroup</i18n> ([[groupSelected.classes[0].name]])</h5>
        </div>
        <hr class="separator">
        <div class="button-horizontal-bar">
            <button ng-click="updateGroup(groupSelected)">[[lang.translate("directory.save")]]</button>
            <button ng-click="deleteGroup(groupSelected)">[[lang.translate("directory.delete")]]</button>
        </div>
        <hr class="separator">
        <div class="twelve cell"><strong class="four cell">[[lang.translate("directory.userId")]]</strong> [[groupSelected.id]]</div>
        <div class="twelve cell">
            <strong class="four cell padding-top-5">[[lang.translate("directory.name")]]</strong>
            <input class="six cell" type="text" ng-model="groupSelected.name"/>
        </div>
        <hr class="separator">
        <nav ng-if="groupSelected.type === 'ManualGroup'" class="vertical cell search-container-left" style="max-width: 40%; width: 40%; min-height: 480px; height: 480px; margin: 0">
            <select style="width: 95%"
                    ng-model="groupUsersStructure"
                    ng-init="groupUsersStructure = structure"
                    ng-options="structure as structure.name for structure in structures.all | orderBy: 'name'"
                    ng-change="scrollOpts.reset(); groupUsersStructure.loadStructure(refreshScope, refreshScope)">
            </select>
            <select class="margin-top-5"
                    style="width: 95%"
                    ng-model="groupUsersClass"
                    ng-init="groupUsersClass = groupSelected.classes ? structure.classes.findWhere({id: groupSelected.classes[0].id}) : null"
                    ng-options="class as class.name for class in groupUsersStructure.classes.all | orderBy: 'name'"
                    ng-change="scrollOpts.reset()">
                    <option value="">[[lang.translate("directory.allClasses")]]</option>
            </select>
            <input type="text" placeholder="[[lang.translate('directory.search')]]" ng-model="filterGroupUsers" ng-change="scrollOpts.reset()"/>
            <ul bottom-scroll-action="scrollOpts.increment()" style="height: 355px; padding-top: 10; border-bottom: none">
                <li ng-repeat="user in groupUsersStructure.users.all | filter: groupUserFilteringFunction(filterGroupUsers, groupUsersClass) | orderBy: 'lastName' | limitTo: scrollOpts.scrollLimit"
                    ng-click="addUserToGroup(user, groupSelected)"
                    style="padding-left: 0">
                    <span ng-class="userStyle(user)">[[user.lastName]] [[user.firstName]]</span>
                </li>
            </ul>
        </nav>
        <div style="width:60%; float: left">
            <h3 style="text-align: center">[[lang.translate("directory.groupUsers")]]</h3>
            <ul style="list-style-type: decimal; font-family: Lato;">
                <li ng-repeat="user in groupSelected.data.users | orderBy: 'lastName'" ng-click="removeUserFromGroup(user, groupSelected)">
					[[user.lastName]] [[user.firstName]]
				</li>
            </ul>
        </div>
    </div>
    <!-- Filtering -->
    <div ng-if="showWhat === 'showFilters'" class="search-container-view">
        <h1 style="font-size: 25px; text-align: center;">[[lang.translate("directory.filterResults")]]</h1>

        <div class="row angle-container">
            <span style="font-size: 18px; font-weight: bold;">[[lang.translate("directory.admin.type.groups")]]</span>
        </div>
        <!-- Groups types -->
        <ul class="selectable-list">
            <!-- <h3><i18n>directory.admin.type.groups</i18n></h3> -->
            <li ng-class="{selected : userFilters.showManualsGroups}" ng-click="toggleFilter('showManualsGroups')">
                [[lang.translate("directory.admin.manualGroups")]]
            </li>
            <li ng-class="{selected : userFilters.showProfilesGroups}" ng-click="toggleFilter('showProfilesGroups')">
                [[lang.translate("directory.admin.profileGroups")]]
            </li>
            <li ng-class="{selected : userFilters.showFunctionalsGroups}" ng-click="toggleFilter('showFunctionalsGroups')">
                [[lang.translate("directory.admin.functionalGroups")]]
            </li>
        </ul>

        <!-- Classes -->
        <div class="row angle-container">
            <span style="font-size: 18px; font-weight: bold;">[[lang.translate("directory.classes")]]</span>
            <button ng-click="deselectAllClasses()" style="height: 25px" class="instantButtons deselect right-magnet" tooltip="directory.tooltip.deselectAll"></button>
            <button ng-click="selectAllClasses()" style="height: 25px" class="instantButtons select right-magnet" tooltip="directory.tooltip.selectAll"></button>
        </div>
        <ul class="selectable-list">
            <li ng-repeat="class in structure.classes.all | orderBy: 'name'" ng-class="{selected : class.selected}" class="cols3" ng-click="toggleClass(class, structure)">
                [[class.name]]
            </li>
        </ul>
    </div>

    <!-- Legend -->
    <div ng-if="showWhat === 'showLegend'" class="search-container-view">
        <h1 style="font-size: 25px; text-align: center;">[[lang.translate("directory.tooltip.legend")]]</h1>
        <div class="legend-separator first">
            <div class="legend-square black"></div>
            <label class="legend-label" ng-class="groupStyle({type: 'profileGroups'})">[[lang.translate("directory.admin.profileGroups")]]</label>
        </div>
        <div class="legend-separator">
            <div class="legend-square teal"></div>
            <label class="legend-label" ng-class="groupStyle({type: 'functionalGroups'})">[[lang.translate("directory.admin.functionalGroups")]]</label>
        </div>
        <div class="legend-separator">
            <div class="legend-square blue"></div>
            <label class="legend-label" ng-class="groupStyle({type: 'manualGroups'})">[[lang.translate("directory.admin.manualGroups")]]</label>
        </div>
    </div>
</article>
