<!--
    |||||||||||||||||||||||
    |||  STRUCTURE OPS  |||
    |||||||||||||||||||||||
-->

<!-- Structure selection menu -->
<div>
    <div ng-include="'structure-tree'"></div>
    <div class="three" style="position: relative;">
        <div class="vertical-buttons-container" style="right: -50px; top: -10px;">
            <!-- Creation button -->
            <button ng-click="setShowWhat('showStructureCreation'); initStructure()"
                    ng-if="isCentralAdmin()"
                    tooltip="directory.tooltip.createStructure"
                    class="glyph-button plus-icon">
            </button>
        </div>
    </div>
</div>

<article class="side-tabs-content content-flex nine cell" ng-if="structure || createdStructure">

    <!-- Structure details -->
    <div class="twelve" ng-if="structure && showWhat !== 'showStructureCreation'">
        <div class="row"><h1 style="margin-bottom: 0; text-align:center;">[[structure.name]]</h1></div>
        <hr class="separator cell">
        <div style="text-align:center">
            <button ng-click="structure.update()" class="text-flow">[[lang.translate("directory.save")]]</button>
        </div>
        <hr class="separator cell">
        <div class="twelve cell padding-top-5"><strong class="four cell">[[lang.translate("directory.userId")]]</strong> [[structure.id]]</div>
        <div class="twelve cell padding-top-5" ng-if="!isCentralAdmin()"><strong class="four cell">[[lang.translate("directory.uai")]] :</strong> [[structure.UAI]]</div>
        <div class="twelve cell padding-top-5" ng-if="isCentralAdmin()">
            <strong class="four cell">[[lang.translate("directory.uai")]] :</strong>
            <input class="eight cell" type="text" ng-model="structure.UAI" maxlength="8"/>
        </div>
        <div class="twelve cell padding-top-5">
            <strong class="four cell">[[lang.translate("directory.name")]]</strong>
            <input class="eight cell" type="text" ng-model="structure.name"/>
        </div>
        <div class="twelve cell padding-top-5" ng-if="isCentralAdmin()">
            <strong class="four cell">[[lang.translate("directory.has.app")]] :</strong>
            <input class="eight cell" type="checkbox" ng-model="structure.hasApp"/>
        </div>
        <div class="twelve cell" ng-if="structure.parents">
            <strong class="four cell padding-top-5">[[lang.translate("directory.structure.parents")]]</strong>
            <nav class="eight cell">
                <ul class="angle-list small" style="margin: 0">
                    <li ng-repeat="parent in structures.all | filter : filterOnlyParentStructures | orderBy: 'name' track by parent.id">
                        [[parent.name]] <button ng-if="isCentralAdmin()" class="right-magnet close" ng-click="structure.detachParent(parent, refreshScope)"></button>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Export -->
        <hr class="separator cell">
        <h3 class="twelve cell" style="margin-top: 0;">[[lang.translate("directory.exportStructure")]]</h3>
        <div class="row" ng-init="exportData.params.filterActive = ''">
            <select class="five cell row-item" ng-model="exportData.params.profile" ng-change="deleteIfEmpty(exportData.params, 'profile')">
                <option value="">[[lang.translate("directory.allProfiles")]]</option>
                <option value="Personnel">[[lang.translate("directory.Personnel")]]</option>
                <option value="Teacher">[[lang.translate("directory.Teacher")]]</option>
                <option value="Relative">[[lang.translate("directory.Relative")]]</option>
                <option value="Student">[[lang.translate("directory.Student")]]</option>
                <option value="Guest">[[lang.translate("directory.Guest")]]</option>
            </select>
            <select class="five cell" ng-model="exportData.params.filterActive">
                <option value="">[[lang.translate("directory.ignoreActivation")]]</option>
                <option value="active">[[lang.translate("directory.onlyActivatedUsers")]]</option>
                <option value="inactive">[[lang.translate("directory.onlyInactiveUsers")]]</option>
            </select>
        </div>
        <button class="three cell margin-top-5" ng-click="exportItem(structure, 'structureId')" style="margin-left: 0%; font-size: 12; padding: 2;">
            [[lang.translate("directory.export")]]
        </button>
        <!-- Block users by profiles -->
        <hr class="separator cell">
        <h3 class="twelve cell" style="margin-top: 0;">[[lang.translate("directory.block.users")]]</h3>
        <div class="row">
            <p>
                <i18n>directory.block.users.desc</i18n> 
                <a href="[['/directory/admin-console#/structure/'+structure.id+'/users/blocked']]" target="_blank">[[lang.translate("directory.blocked.link")]]</a>
            </p>
        </div>
        <div class="row" ng-init="exportData.params.filterActive = ''">
            <select class="five cell row-item" ng-model="blockProfile">
                <option value="Personnel">[[lang.translate("directory.Personnel")]]</option>
                <option value="Teacher">[[lang.translate("directory.Teacher")]]</option>
                <option value="Relative">[[lang.translate("directory.Relative")]]</option>
                <option value="Student">[[lang.translate("directory.Student")]]</option>
                <option value="Guest">[[lang.translate("directory.Guest")]]</option>
            </select>
        </div>
        <div class="twelve cell">
            <button class="three cell margin-top-5" ng-click="blockUsers(blockProfile, true)" style="margin-left: 0%; font-size: 12; padding: 2;" ng-disabled="executeBlockingRequest">
                [[lang.translate("directory.block")]]
            </button>
            <button class="three cell margin-top-5" ng-click="blockUsers(blockProfile, false)" style="margin-left: 0%; font-size: 12; padding: 2;" ng-disabled="executeBlockingRequest">
                [[lang.translate("directory.unblock")]]
            </button>
        </div>
        <!-- Metrics -->
        <hr class="separator cell">
        <h3 class="twelve cell" style="margin-top: 0;">[[lang.translate("directory.metrics")]]</h3>
        <div class="row flex-box-container">
            <div ng-repeat="metric in structure.metrics">
                <h4><strong>[[lang.translate(metric.profile)]]</strong></h4>
                <div>
                    <strong class="inline-middle horizontal-margin" style=""><i18n>directory.onlyActivatedUsers</i18n></strong>
                    <em class="inline-middle horizontal-margin">[[metric.active]]</em>
                </div>
                <div>
                    <strong class="inline-middle horizontal-margin"><i18n>directory.onlyInactiveUsers</i18n></strong>
                    <em class="inline-middle horizontal-margin">[[metric.inactive]]</em>
                </div>
            </div>
        </div>
        <!-- Structure grouping -->
        <hr class="separator cell" ng-if="isCentralAdmin()">
        <div class="twelve cell" ng-if="isCentralAdmin()">
            <h3><i18n>directory.admin.attachChildStructures</i18n></h3>
            <nav class="vertical search-container-left three cell" style="min-height: 380px; height: 380px">
                <input type="text" placeholder="[[lang.translate('directory.search')]]" ng-model="filterStructures"/>
                <ul style="height: 320px; padding-top: 10; border-bottom: none; margin-bottom: 10px">
                    <li ng-repeat="potentialChild in structures.all | filter: filterExcludeCurrentStructure(filterStructures) | filter: filterExcludeDoubles(structure.children) | orderBy: 'name' track by potentialChild.id"
                        ng-click="potentialChild.attachParent(structure, refreshScope)"
                        ng-show="!alreadyAttached(structure, potentialChild)"
                        style="padding-left: 0">
                        <span>[[potentialChild.name]]</span>
                    </li>
                </ul>
            </nav>
            <div class="eight cell">
                <h5 style="text-align: center">[[lang.translate("directory.structure.children")]]</h5>
                <ul class="angle-list small" style="padding-left: 20px">
                    <li ng-repeat="child in structures.all | filter: filterOnlyChildStructures | orderBy: 'name' track by child.id">
                        [[child.name]]
                        <button class="close right-magnet" ng-click="child.detachParent(structure, refreshScope)"></button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Set quota -->
        <hr class="separator cell">
        <h3 class="twelve cell" style="margin-top: 0;">[[lang.translate("directory.quota")]]</h3>
        <div class="twelve cell">
            <select class="three cell" ng-model="quotaProfile" ng-init="quotaProfile = 'Teacher'" style="margin-right: 10px;">
                <option value="Teacher">[[lang.translate("directory.Teacher")]]</option>
                <option value="Personnel">[[lang.translate("directory.Personnel")]]</option>
                <option value="Relative">[[lang.translate("directory.Relative")]]</option>
                <option value="Student">[[lang.translate("directory.Student")]]</option>
                <option value="Guest">[[lang.translate("directory.Guest")]]</option>
            </select>
            <select class="three cell" ng-model="quotaUnit" ng-init="quotaUnit = DEFAULT_QUOTA_UNIT" style="margin-right: 10px">
                <option value="1">[[lang.translate("directory.byte")]]</option>
                <option value="1024">[[lang.translate("directory.kilobyte")]]</option>
                <option value="1048576">[[lang.translate("directory.megabyte")]]</option>
                <option value="1073741824">[[lang.translate("directory.gigabyte")]]</option>
                <option value="[[1073741824 * 1024]]">[[lang.translate("directory.terabyte")]]</option>
            </select>
            <input class="three cell" type="number" name="size" ng-model="quotaSize" ng-init="quotaSize = 0"
                   style="height: 25; border-radius: 5px; background: #fff; border: none; padding-left: 5px; font-family: Lato"/>
            <button class="small two right-magnet"
                    style="margin: 0; font-size: 12"
                    ng-click="saveStructureQuota(structure, quotaSize*quotaUnit, quotaProfile)"
                    ng-disabled="!quotaProfile || (quotaSize <= 0) || (quotaSize*quotaUnit) >= getMaxProfileQuota(quotaProfile)">
                    [[lang.translate("directory.save")]]
            </button>
        </div>
        <em class="twelve cell"><i18n>directory.maxQuota</i18n> : [[ formatQuota(getMaxProfileQuota(quotaProfile)) ]]</em>

        <!-- Levels of education -->
        <hr class="separator cell">
        <h3 class="twelve cell" style="margin-top: 0;">[[lang.translate("directory.levels-of-education")]]</h3>
        <div class="twelve cell">
            <p ng-if="!isCentralAdmin()">[[lang.translate("directory.levels-of-education.local-admin-explanation")]]</p>
            <select ng-disabled="!isCentralAdmin()" style="min-height: 40px;" multiple ng-model="structure.levelsOfEducation" ng-change="changeLevelsOfEducation(structure.id, structure.levelsOfEducation);">
                <option value="1">[[lang.translate("directory.levels-of-education.1")]]</option>
                <option value="2">[[lang.translate("directory.levels-of-education.2")]]</option>
            </select>
        </div>

        <!-- Distributions -->
        <hr class="separator cell" ng-if="distributions && distributions.length > 0">
        <h3 class="twelve cell" style="margin-top: 0;" ng-if="distributions && distributions.length > 0">[[lang.translate("directory.distributions")]]</h3>
        <div class="twelve cell" ng-if="distributions && distributions.length > 0">
            <p ng-if="!isCentralAdmin()">[[lang.translate("directory.distributions.local-admin-explanation")]]</p>
            <select  ng-disabled="!isCentralAdmin()" style="min-height: 40px;" multiple ng-model="structure.distributions" ng-change="changeDistributions(structure.id, structure.distributions);" ng-options="item for item in distributions">
            </select>
        </div>
    </div>

    <!-- Structure creation -->
    <div class="twelve"  ng-if="showWhat === 'showStructureCreation'">
        <div class="row"><h1 style="margin-bottom: 0; text-align:center;">[[createdStructure.name ? createdStructure.name : lang.translate("directory.structure")]]</h1></div>
        <hr class="separator">
        <div style="text-align:center">
            <button ng-click="createdStructure.create(refreshStructures)">[[lang.translate("directory.admin.create")]]</button>
        </div>
        <hr class="separator">
        <div class="twelve cell">
            <strong class="four cell padding-top-5">[[lang.translate("directory.name")]]</strong>
            <input class="eight cell" type="text" ng-model="createdStructure.name"/>
        </div>
        <div class="twelve cell">
            <strong class="four cell padding-top-5">[[lang.translate("directory.uai")]]</strong>
            <input class="eight cell" type="text" ng-model="createdStructure.UAI" maxlength="8"/>
        </div>
        <div class="twelve cell">
            <strong class="four cell padding-top-5">[[lang.translate("directory.has.app")]]</strong>
            <input class="eight cell" type="checkbox" ng-model="createdStructure.hasApp"/>
        </div>
    </div>
</article>
