<!--
    |||||||||||||||||||||
    |||  ACCOUNT OPS  |||
    |||||||||||||||||||||
-->

<!-- Structure selection menu -->
<div ng-include="'structure-tree'"></div>

<article class="side-tabs-content content-flex unpadded nine cell" ng-if="structure">

    <!-- User selection menu -->
    <nav class="vertical cell search-container-left">

        <div class="horizontal-buttons-container">
            <!-- Filter toggle button -->
            <button ng-click="showWhat === 'showFilters' ? setShowWhat('showStructureUser') : setShowWhat('showFilters')"
                    tooltip="tooltip.users.filtersTooltip"
                    class="glyph-button filter-icon">
            </button>

            <!-- Order toggle button -->
            <button ng-click="switchOrdering()"
                    tooltip="tooltip.users.switchOrdering"
                    class="sort-button">
            </button>

            <!-- Creation button -->
            <button ng-click="setShowWhat('showCreatedUser')"
                    tooltip="directory.tooltip.creationTooltip"
                    class="glyph-button silhouette-icon">
            </button>

            <!-- Legend button -->
            <button ng-click="setShowWhat('showLegend')"
                    tooltip="directory.tooltip.legend"
                    class="glyph-button question-mark-icon">
            </button>
        </div>

        <!-- User list -->
        <input type="text" placeholder="[[lang.translate('directory.search')]]" ng-model="$root.filterStructureUsers" ng-change="scrollOpts.reset()"/>
        <ul bottom-scroll-action="scrollOpts.increment()">
            <li ng-repeat="user in structure.users.all | filter:structureUserFilteringFunction | orderBy: userOrdering | limitTo: scrollOpts.scrollLimit" ng-click="$root.targetUser = user; setShowWhat('showStructureUser'); getUserDetails(user);" style="padding-left: 0">
                <span ng-class="userStyle(user)">[[user.lastName]] [[user.firstName]]</span>
            </li>
        </ul>
    </nav>

    <!-- Filter container -->
    <div ng-if="showWhat === 'showFilters'" class="search-container-view">
        <h1 style="font-size: 25px; text-align: center;">[[lang.translate("directory.filterResults")]]</h1>

        <!-- Classes -->
        <div class="row angle-container">
            <span style="font-size: 18px; font-weight: bold;">[[lang.translate("directory.classes")]]</span>
            <button ng-click="deselectAllClasses()" style="height: 25px" class="instantButtons deselect right-magnet" tooltip="directory.tooltip.deselectAll"></button>
            <button ng-click="selectAllClasses()" style="height: 25px" class="instantButtons select right-magnet" tooltip="directory.tooltip.selectAll"></button>
        </div>
        <ul class="selectable-list">
            <li ng-repeat="class in structure.classes.all | orderBy: 'name'" ng-class="{selected : class.selected}" class="cols3" ng-click="toggleClass(class, structure)">
                [[class.name]]
            </li>
        </ul>

        <!-- User criterias -->
        <div class="row angle-container">
            <span style="font-size: 18px; font-weight: bold;">[[lang.translate("directory.admin.userFilters")]]</span>
        </div>
        <ul class="selectable-list">
            <h3><i18n>directory.admin.profile</i18n></h3>
            <li ng-class="{selected : userFilters.showTeachers}" ng-click="toggleFilter('showTeachers')">
                [[lang.translate("directory.admin.showTeachers")]]
            </li>
            <li ng-class="{selected : userFilters.showPersonnel}" ng-click="toggleFilter('showPersonnel')">
                [[lang.translate("directory.admin.showPersonnel")]]
            </li>
            <li ng-class="{selected : userFilters.showRelative}" ng-click="toggleFilter('showRelative')">
                [[lang.translate("directory.admin.showRelative")]]
            </li>
            <li ng-class="{selected :userFilters.showStudents}" ng-click="toggleFilter('showStudents')">
                [[lang.translate("directory.admin.showStudents")]]
            </li>
            <li ng-class="{selected : userFilters.showGuests}" ng-click="toggleFilter('showGuests')">
                [[lang.translate("directory.admin.showGuests")]]
            </li>
            <h3><i18n>blocked.users</i18n></h3>
            <li ng-class="{selected :userFilters.showBlockedUsers}" ng-click="toggleFilter('showBlockedUsers')">
                [[lang.translate("directory.admin.showBlockedUsers")]]
            </li>
            <li ng-class="{selected :userFilters.showUnblockedUsers}" ng-click="toggleFilter('showUnblockedUsers')">
                [[lang.translate("directory.admin.showUnblockedUsers")]]
            </li>
            <h3><i18n>origin</i18n></h3>
            <li ng-class="{selected :userFilters.showFeedModeManual}" ng-click="toggleFilter('showFeedModeManual')">
                [[lang.translate("directory.admin.showFeedModeManual")]]
            </li>
            <li ng-class="{selected :userFilters.showFeedModeAuto}" ng-click="toggleFilter('showFeedModeAuto')">
                [[lang.translate("directory.admin.showFeedModeAuto")]]
            </li>
            <h3><i18n>properties</i18n></h3>
            <li ng-class="{selected : userFilters.showLocalAdmin}" ng-click="toggleFilter('showLocalAdmin')">
                [[lang.translate("directory.admin.showLocalAdmin")]]
            </li>
            <li ng-class="{selected : userFilters.showIsolated}" ng-click="toggleFilter('showIsolated')">
                [[lang.translate("directory.admin.showIsolated")]]
            </li>
            <li ng-class="{selected : userFilters.showInactive}" ng-click="toggleFilter('showInactive')">
                [[lang.translate("directory.admin.showInactive")]]
            </li>
            <h3><i18n>directory.creationDate</i18n></h3>
            <li ng-class="{selected : userFilters.showCreatedAll}" ng-click="toggleFilter('showCreatedAll')">
                [[lang.translate("directory.admin.showCreatedAll")]]
            </li>
            <li ng-class="{selected : userFilters.showCreatedBefore}" ng-click="toggleFilter('showCreatedBefore')">
                <span>[[lang.translate("directory.admin.showCreatedBefore")]]</span>
                <date-picker ng-model="dateFilter.createdBefore" ng-click="$event.stopPropagation()"></date-picker>
            </li>
            <li ng-class="{selected : userFilters.showCreatedSince}" ng-click="toggleFilter('showCreatedSince')">
                <span>[[lang.translate("directory.admin.showCreatedSince")]]</span>
                <date-picker ng-model="dateFilter.createdSince" ng-click="$event.stopPropagation()"></date-picker>
            </li>
        </ul>
    </div>

    <!-- Legend container -->
    <div ng-if="showWhat === 'showLegend'" class="search-container-view">
        <h1 style="font-size: 25px; text-align: center;">[[lang.translate("directory.tooltip.legend")]]</h1>
        <div class="legend-separator first">
            <div class="legend-square red"></div>
            <label class="legend-label" ng-class="userStyle({type: 'Teacher'})">[[lang.translate("Teacher")]]</label>
        </div>
        <div class="legend-separator">
            <div class="legend-square teal"></div>
            <label class="legend-label" ng-class="userStyle({type: 'Personnel'})">[[lang.translate("directory.admin.personnel")]]</label>
        </div>
        <div class="legend-separator">
            <div class="legend-square orange"></div>
            <label class="legend-label" ng-class="userStyle({type: 'Relative'})">[[lang.translate("Relative")]]</label>
        </div>
        <div class="legend-separator">
            <div class="legend-square blue"></div>
            <label class="legend-label" ng-class="userStyle({type: 'Guest'})">[[lang.translate("Guest")]]</label>
        </div>
        <div class="legend-separator">
            <div class="legend-square black"></div>
            <label class="legend-label" ng-class="userStyle({type: 'Student'})">[[lang.translate("Student")]]</label>
        </div>
        <div class="legend-separator">
            <label class="legend-label" ng-class="userStyle({isolated: true})">[[lang.translate("directory.isolatedUsersInStructure")]]</label>
        </div>
        <div class="legend-separator">
            <label class="legend-label" ng-class="userStyle({code: ' '})">[[lang.translate("directory.inactive")]]</label>
        </div>
    </div>

    <!-- User data container -->
    <div ng-if="targetUser && showWhat === 'showStructureUser'" class="search-container-view">
        <div ng-include="template.containers.userDetails">
        </div>
    </div>

    <!-- User creation container -->
    <div ng-if="showWhat === 'showCreatedUser'" ng-init="createdUser = initUser()" class="search-container-view">
        <div class="row">
            <h1 style="margin-bottom: 0; text-align:center;">[[(createdUser.firstName || createdUser.lastName) ? createdUser.firstName+" "+createdUser.lastName : ""]]</h1>
        </div>
        <hr class="separator cell">
        <div style="text-align:center">
            <button ng-click="createUser(createdUser)"
                ng-disabled="!createdUser.firstName || !createdUser.lastName || (!createdUser.birthDate && createdUser.type === 'Student')">
                [[lang.translate("directory.admin.create")]]
            </button>
        </div>
        <hr class="separator cell">
        <div class="twelve cell">
            <strong class="four cell padding-top-5">[[lang.translate("directory.userFirstName")]]</strong>
            <input  class="four cell padding-top-5" type="text" ng-model="createdUser.firstName"/>
        </div>
        <div class="twelve cell">
            <strong class="four cell padding-top-5">[[lang.translate("directory.userLastName")]]</strong>
            <input  class="four cell padding-top-5" type="text" ng-model="createdUser.lastName"/>
        </div>
        <div class="twelve cell">
            <strong class="four cell padding-top-5">[[lang.translate("directory.userType")]]</strong>
            <select class="four cell" ng-model="createdUser.type" style="margin-right: 10px;">
                <option value="Teacher">[[lang.translate("directory.Teacher")]]</option>
                <option value="Personnel">[[lang.translate("directory.Personnel")]]</option>
                <option value="Relative">[[lang.translate("directory.Relative")]]</option>
                <option value="Student">[[lang.translate("directory.Student")]]</option>
                <option value="Guest">[[lang.translate("directory.Guest")]]</option>
            </select>
        </div>
        <div class="twelve cell">
            <strong class="four cell padding-top-5">[[lang.translate("directory.userBirth")]]</strong>
            <div ng-if="!createdUser.birthDate">
                <div class="four cell padding-top-5">[[lang.translate("directory.notFilled")]]</div>
                <button ng-click="initUserBirth(createdUser)" style="font-size: 10px; margin-left: 10; padding: 3; margin-bottom:5">[[lang.translate("directory.modifyDate")]]</button>
            </div>
            <div ng-if="createdUser.birthDate">
                <date-picker class="four cell padding-top-5" ng-model="createdUser.birthDate"></date-picker>
                <button ng-click="createdUser.birthDate = undefined" style="font-size: 10px; margin-left: 10; padding: 3;">[[lang.translate("directory.deleteDate")]]</button>
            </div>
        </div>
        <div class="twelve cell">
            <strong class="four cell padding-top-5">[[lang.translate("directory.classe")]]</strong>
            <select class="four cell"
                    ng-model="createdUser.classId"
                    ng-options="classe.id as classe.name for classe in structure.classes.all | orderBy: 'name'"
                    style="margin-right: 10px;">
                <option value="">[[lang.translate("directory.classeLess")]]</option>
            </select>
        </div>
        <div ng-if="createdUser.type === 'Relative'">
            <hr class="separator cell">
            <nav class="vertical cell search-container-left" style="max-width: 40%; width: 40%; min-height: 380px; height: 380px; margin: 0">
                <input type="text" placeholder="[[lang.translate('directory.search')]]" ng-model="filterChildren"/>
                <ul style="height: 320px; padding-top: 10; border-bottom: none; margin-bottom: 10px">
                    <li ng-repeat="child in structure.users.all | filter: { 'type': 'Student', 'displayName': filterChildren } | orderBy: 'lastName'"
                        ng-click="addChild(child, createdUser)"
                        style="padding-left: 0">
                        <span>[[child.lastName]] [[child.firstName]]</span>
                    </li>
                </ul>
            </nav>
            <div style="width:60%; float: left">
                <h3 style="text-align: center">[[lang.translate("directory.children")]]</h3>
                <ul style="list-style-type: decimal; font-family: Lato;">
                    <li ng-repeat="child in createdUser.children" ng-click="removeChild(child, createdUser)">[[child.lastName]] [[child.firstName]]</li>
                </ul>
            </div>
        </div>
    </div>
</article>
