<!--
    |||||||||||||||||||||
    |||  GROUPS OPS   |||
    |||||||||||||||||||||
-->

<!-- Manual group automatic link -->
<script type="text/ng-template" id="manual-group-autolink">
    <div class="twelve cell" ng-init="autolinkGroup = createdGroup != null ? createdGroup : groupSelected;" ng-if="isCentralAdmin()">
        <h3 class="twelve cell" style="text-align: center;"><i18n>directory.manualgroup.autolink.title</i18n></h3>
        <label class="twelve cell">
            <input type="checkbox" ng-model="autolinkGroup.activateAutolink"/>
            <span><i18n>directory.manualgroup.autolink.activate</i18n></span>
        </label>
        <div class="twelve cell" style="padding: 8px; border: 2px solid #CCC;" ng-disabled="autolinkGroup.activateAutolink != true">
            <h6 style="margin-top:0;"><i18n>directory.manualgroup.autolink.structs.title</i18n></h6>
            <label class="twelve cell">
                <input type="checkbox" ng-model="autolinkGroup.targetAllStructs" />
                <span><i18n>directory.manualgroup.autolink.structs.all</i18n></span>
            </label>
            <div class="twelve cell">
                <label class="twelve cell" for="autolinkGroup.structSelect">
                    <span class="twelve cell"><i18n>directory.manualgroup.autolink.structs.choose</i18n></span>
                </label>
                <select multiple id="autolinkGroup.structSelect"
                    ng-model="autolinkGroup.targetStructs" ng-disabled="autolinkGroup.targetAllStructs"
                    class="twelve cell" size=8 style="height: auto;"
                >
                    <option ng-repeat="struct in structure.getDescendants() | orderBy: 'name'" value="[[struct.id]]">
                        [[struct.name]]
                    </option>
                </select>
            </div>
            <h6 style="float: left;"><i18n>directory.manualgroup.autolink.groups.title</i18n></h6>
            <label class="twelve cell" for="autolinkGroup.profileSelect">
                <span class="twelve cell"><i18n>directory.manualgroup.autolink.groups.profiles</i18n></span>
            </label>
            <div class="six cell">
                <select multiple id="autolinkGroup.profileSelect"
                    ng-model="autolinkGroup.linkProfiles"
                    ng-options="profile.label as profile.label for profile in profileList | orderBy: 'translatedLabel'"
                    class="twelve cell" size=6 style="height: auto;"
                >
                </select>
            </div>
            <div class="six cell">
                <label class="twelve cell">
                    <input type="checkbox" ng-model="autolinkGroup.linkAdmls" />
                    <span><i18n>directory.manualgroup.autolink.groups.adml</i18n></span>
                </label>
                <label class="twelve cell">
                    <input type="checkbox" ng-model="autolinkGroup.linkHeadTeachers" />
                    <span><i18n>directory.manualgroup.autolink.groups.headteachers</i18n></span>
                </label>
            </div>
            <div class="twelve cell">
                <label class="twelve cell" for="autolinkGroup.disciplineSelect">
                    <span class="twelve cell"><i18n>directory.manualgroup.autolink.groups.disciplines</i18n></span>
                </label>
                <select multiple id="autolinkGroup.disciplineSelect"
                    ng-model="autolinkGroup.linkDisciplines"
                    ng-options="group.filter as group.filter for group in structure.childrenAutoGroups.unique('filter', 'DisciplineGroup', true, true) | orderBy: 'filter'"
                    ng-disabled="autolinkGroup.linkProfiles != null && autolinkGroup.linkProfiles.indexOf('Teacher') != -1"
                    class="twelve cell" size=16 style="height: auto;"
                >
                </select>
            </div>
            <div class="twelve cell">
                <label class="twelve cell" for="autolinkGroup.functionSelect">
                    <span class="twelve cell"><i18n>directory.manualgroup.autolink.groups.functions</i18n></span>
                </label>
                <select multiple id="autolinkGroup.functionSelect"
                    ng-model="autolinkGroup.linkFunctions"
                    ng-options="group.filter as group.filter for group in structure.childrenAutoGroups.unique('filter', 'FuncGroup', true, true) | orderBy: 'filter'"
                    ng-disabled="autolinkGroup.linkFunctions != null && autolinkGroup.linkProfiles.indexOf('Personnel') != -1"
                    class="twelve cell" size=16 style="height: auto;"
                >
                </select>
            </div>
        </div>
    </div>
</script>

<!-- Structure selection menu -->
<div ng-include="'structure-tree'"></div>

<article class="side-tabs-content content-flex unpadded nine cell" ng-if="structure">
    <!-- Group selection menu -->
    <nav class="vertical cell search-container-left">

        <div class="horizontal-buttons-container">
            <!-- Creation button -->
            <button ng-click="setShowWhat('showGroupCreation')" tooltip="directory.tooltip.createGroup"
                    class="glyph-button plus-icon">
            </button>
        </div>

        <input type="text" placeholder="[[lang.translate('directory.search')]]" ng-model="filterStructureGroups"/>
        <ul>
            <li ng-repeat="group in structure.manualGroups.all | filter: filterStructureGroups | orderBy: 'name'" ng-click="$parent.groupSelected = group; setShowWhat('showCurrentGroup')" style="padding-left: 0">
                [[group.name]]
            </li>
        </ul>
    </nav>

    <!-- New group -->
    <div ng-if="showWhat === 'showGroupCreation'" ng-init="createdGroup = initGroup();" class="search-container-view">
        <div class="row"><h1 style="margin-bottom: 0; text-align:center;">[[createdGroup.name ? createdGroup.name : lang.translate('directory.lastName')]]</h1></div>
        <hr class="separator">
        <div class="button-horizontal-bar">
            <button ng-click="saveGroup(createdGroup)" ng-disabled="!createdGroup.name">[[lang.translate("directory.admin.create")]]</button>
        </div>
        <hr class="separator">
        <div class="twelve cell">
            <strong class="four cell padding-top-5">[[lang.translate("directory.name")]]</strong>
            <input type="text" ng-model="createdGroup.name" placeholder="[[lang.translate('directory.groupName')]]"/>
        </div>
        <div class="twelve cell" ng-if="structure && structure.classes && structure.classes.length() > 0">
            <span class="three cell" style="margin: 0; height: 28px; padding-top: 6px;">[[lang.translate("directory.classe")]]</span>
            <select ng-model="createdGroup.classId" class="five cell" ng-options="class as class.name for class in structure.classes.all | orderBy: 'name'">
            </select>
        </div>
        <div ng-include="'manual-group-autolink'"></div>
    </div>

    <!-- Group details -->
    <div ng-if="groupSelected && showWhat === 'showCurrentGroup'" class="search-container-view">
        <div class="row"><h1 style="margin-bottom: 0; text-align:center;">[[groupSelected.name]]</h1></div>
        <div class="row" style="text-align:center">
            <h5 ng-if="!groupSelected.classes"><i18n>directory.admin.structureGroup</i18n></h5>
            <h5 ng-if="groupSelected.classes"><i18n>directory.admin.classGroup</i18n> ([[groupSelected.classes[0].name]])</h5>
        </div>
        <hr class="separator">
        <div class="button-horizontal-bar">
            <button ng-click="updateGroup(groupSelected)">[[lang.translate("directory.save")]]</button>
            <button ng-click="deleteGroup(groupSelected)">[[lang.translate("directory.delete")]]</button>
        </div>
        <hr class="separator">
        <div class="twelve cell"><strong class="four cell">[[lang.translate("directory.userId")]]</strong> [[groupSelected.id]]</div>
        <div class="twelve cell">
            <strong class="four cell padding-top-5">[[lang.translate("directory.name")]]</strong>
            <input class="six cell" type="text" ng-model="groupSelected.name"/>
        </div>
        <hr class="separator">
        <nav class="vertical cell search-container-left" style="max-width: 40%; width: 40%; min-height: 480px; height: 480px; margin: 0">
            <select style="width: 95%"
                    ng-model="groupUsersStructure"
                    ng-init="groupUsersStructure = structure"
                    ng-options="structure as structure.name for structure in structures.all | orderBy: 'name'"
                    ng-change="scrollOpts.reset(); groupUsersStructure.loadStructure(refreshScope, refreshScope)">
            </select>
            <select class="margin-top-5"
                    style="width: 95%"
                    ng-model="groupUsersClass"
                    ng-init="groupUsersClass = groupSelected.classes ? structure.classes.findWhere({id: groupSelected.classes[0].id}) : null"
                    ng-options="class as class.name for class in groupUsersStructure.classes.all | orderBy: 'name'"
                    ng-change="scrollOpts.reset()">
                    <option value="">[[lang.translate("directory.allClasses")]]</option>
            </select>
            <input type="text" placeholder="[[lang.translate('directory.search')]]" ng-model="filterGroupUsers" ng-change="scrollOpts.reset()"/>
            <ul bottom-scroll-action="scrollOpts.increment()" style="height: 355px; padding-top: 10; border-bottom: none; top: 100px; height: calc(100% - 120px);">
                <li ng-repeat="user in groupUsersStructure.users.all | filter: groupUserFilteringFunction(filterGroupUsers, groupUsersClass) | orderBy: 'lastName' | limitTo: scrollOpts.scrollLimit"
                    ng-click="addUserToGroup(user, groupSelected)"
                    style="padding-left: 0">
                    <span ng-class="userStyle(user)">[[user.lastName]] [[user.firstName]]</span>
                </li>
            </ul>
        </nav>
        <div style="width:60%; float: left">
            <h3 style="text-align: center">[[lang.translate("directory.groupUsers")]]</h3>
            <ul style="list-style-type: decimal; font-family: Lato;">
                <li ng-repeat="user in groupSelected.data.users | orderBy: 'lastName'" ng-click="removeUserFromGroup(user, groupSelected)">
					[[user.lastName]] [[user.firstName]]
				</li>
            </ul>
        </div>
        <div ng-include="'manual-group-autolink'"></div>
    </div>
</article>
