<!--
    |||||||||||||||||||||
    |||  MAINTENANCE  |||
    |||||||||||||||||||||
-->

<div ng-if="isCentralAdmin()">
    <div class="row" >
        <h3><i18n>directory.admin.importTitle</i18n></h3>
        <label class="five cell"><span>[[lang.translate("directory.launchImport")]]</span></label>
        <button class="three cell" style="margin-bottom: 5px" ng-click="localImport()">[[lang.translate("directory.import")]]</button>
    </div>
    <hr class="separator cell">
    <div class="row">
        <h3><i18n>directory.admin.markDuplicates</i18n></h3>
        <label class="five cell"><span>[[lang.translate("directory.admin.markDuplicates")]]</span></label>
        <button class="three cell"
                style="margin-bottom: 5px"
                ng-click="markDuplicates()">
            [[lang.translate("mark")]]
        </button>
    </div>
</div>
