<!-- no used anymore -->
<nav class="twelve cell horizontal-spacing-twice stamps vertical">
	<div class="row" ng-if="users.match(search.text).length === 0" translate content="noresult"></div>
	<div class="row height-four vertical-spacing-twice" ng-repeat="user in users.match(search.text) | limitTo:search.maxLength">
		<div class="fixed twelve cell">
			<article class="twelve cell clip fluid" ng-class="{ selected: user === currentUser }" ng-click="selectUser(user)">
				<div>
					<img ng-src="/userbook/avatar/[[user.id]]?thumbnail=100x100" class="fluid cell" />
					<div class="banner" ng-class="colorFromType(user.profile)"></div>
				</div>

				<div>
					<a class="nine cell reduce-block-six">[[user.displayName]]</a>
					<div class="three cell right-magnet reduce-block-two">
						<i class="liquid [[user.mood]]"></i>
					</div>
					<div class="bottom-locked">
						<a ng-href="/conversation/conversation#/write-mail/[[user.id]]"><i class="send-mail"></i></a>
					</div>
				</div>
			</article>
		</div>
	</div>

</nav>
