<!--

 -->
<!-- /myClass -->
<div class="row">
	<app-title>
		<h1 class="cell">
			<a data-reload>
				<i class="userbook"></i>
				<span translate content="userBook.class.title"></span>
				<span>[[currentClass ? " - " + currentClass.name : ""]]</span>
			</a>
		</h1>
	</app-title>
</div>

<div class="row vertical-spacing-twice">
	<input type="search"
		ng-if="!currentUser"
		ng-model="search.text"
		ng-change="updateSearch()"
		placeholder="[[search.placeholder || 'userBook.search']]"
		class="three cell twelve-mobile"
		style="width: 285px"
	/>
	<a class="small-text right-magnet reduce-block-four"
		href="/userbook/annuaire#/search"
		translate content="search.in.directory"></a>
</div>


<div class="row vertical-spacing-twice">
	<a ng-if="(currentClass && classrooms.all.length > 1) || currentUser"
		ng-click="navigateBack()">
		<i class="back"></i>
		<i18n>userBook.directory.back</i18n>
	</a>
	<div class="twelve cell" ng-include="template.containers.main"></div>
</div>
