<!--
  ~ Copyright. Tous droits réservés. WebServices pour l’Education.
  -->

<div class="row">
	<div class="twelve cell reduce-block-six">
		<div class="right-magnet five cell">
			<div class="row">
				<div class="right-magnet">
					<i class="show-details"
					   ng-click="selectUser(users.first())"
					   ng-class="{ selected: currentUser }" class="right-magnet"
					   ng-if="users.first()"></i>
					<i class="show-icons"
					   ng-click="deselectUser('dominos')"
					   ng-class="{ selected: template.contains('list', 'dominos') }" class="right-magnet"></i>
					<i class="show-list"
					   ng-click="deselectUser('table')"
					   ng-class="{ selected: template.contains('list', 'table') }" class="right-magnet"
					   ng-if="!myClass"></i>
				</div>

				<div class="right-magnet cell reduce-block-four">
					<input type="search"
						   ng-model="search.text" ng-change="updateSearch()"
						   translate attr="placeholder"
						   placeholder="userBook.search"
						   class="twelve cell right-magnet" />
					<a
							class="small-text right-magnet"
							href="/userbook/annuaire#/search"
							translate content="search.in.directory"></a>
				</div>
			</div>

		</div>
		<h1><a data-reload><i class="userbook"></i><span translate key="userBook.class.title"></span></a></h1>
		<h4>[[myClass.name]]</h4>
	</div>
</div>
<div class="row vertical-spacing-twice">
	<div class="twelve cell" ng-include="template.containers.main"></div>
</div>