<!--

 -->
<!-- /myClass -->
<div class="row">
	<app-title>
		<h1 class="cell">
			<a data-reload>
				<i class="userbook"></i>
				<span translate content="userBook.class.title"></span><span>[[myClass && myClass.length > 0 ? + " - " + myClass[0].name : ""]]</span>
			</a>
		</h1>
	</app-title>

	<div class="right-magnet three cell twelve-mobile">
		<div class="row" ng-if="users.all.length > 0">
			<i class="show-details right-magnet"
			   ng-click="selectUser(users.first())"
			   ng-class="{ selected: currentUser }"
			   ng-if="users.first()"></i>
			<i class="show-icons right-magnet"
			   ng-click="deselectUser('dominos')"
			   ng-class="{ selected: !template.contains('details', 'user-infos') }"></i>
		</div>
	</div>
</div>

<div class="row reduce-block-eight vertical-spacing-twice">
	<input type="search"
		   ng-model="search.text" ng-change="updateSearch()"
		   translate attr="placeholder"
		   placeholder="userBook.search"
		   class="six cell twelve-mobile" />
	<a class="small-text right-magnet reduce-block-four"
		href="/userbook/annuaire#/search"
		translate content="search.in.directory"></a>
</div>


<div class="row vertical-spacing-twice">
	<div class="twelve cell" ng-include="template.containers.main"></div>
</div>
