<!--
  ~ Copyright. Tous droits réservés. WebServices pour l’Education.
  -->

<div class="row">
	<h1 class="upper-title nine cell">
		<a data-reload><i class="userbook"></i><span translate content="userBook.directory.title"></span></a>
	</h1>
	<div class="right-magnet three cell">
		<div class="row" ng-if="users.all.length > 0">
			<i class="show-details right-magnet"
			   ng-click="selectUser(users.first())"
			   ng-class="{ selected: currentUser }"
			   ng-if="users.first()"></i>
			<i class="show-icons right-magnet"
			   ng-click="deselectUser('dominos')"
			   ng-class="{ selected: template.contains('list', 'dominos') }"></i>
		</div>
	</div>
</div>

<div class="row" translate content="directory.explaination"></div>
<form ng-submit="searchDirectory()">
	<div class="row">
		<div class="twelve cell search reduce-block-six">
			<input type="search"
					ng-model="search.field"
					translate attr="placeholder"
					placeholder="userBook.search"
					class="three" />
			<input type="submit" value="OK" />
		</div>
	</div>
</form>
<div class="row">
	<div ng-if="currentUser !== undefined">
		<div ng-include="template.containers.classNav" class="four cell"></div>
	</div>
	<div ng-if="currentUser !== undefined">
		<div data-ng-include="template.containers.details" class="eight cell"></div>
	</div>
	<div ng-if="currentUser === undefined">
		<div data-ng-include="template.containers.list" class="twelve cell"></div>
	</div>
</div>
