<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

<div class="row rigid-grid">
	<section class="flex-row f-column justify-center four cell twelve-mobile center-component-tablette" ng-class="{ 'only-desktop':display.searchmobile }">
		<app-title>
			<h1>
				<a data-reload>
					<i class="userbook"></i>
					<span translate content="userBook.directory.title"></span>
				</a>
			</h1>
		</app-title>
		<div class="clear"></div>
		<div class="spacer-small zero-desktop"></div>
		<search-module class="eight-tablette-mobile"
			search="searchDirectory()"
			on-close="onCloseSearchModule()"
			show-close="users.all.length > 0"
			index-form="search.index"
			images='["/img/illustrations/user-avatar.svg", "/img/illustrations/group-avatar.svg", "/img/illustrations/fav-avatar.svg"]'>
			<div class="reduce-block-eight centered row centered-text twelve" ng-class='{ "divide-opacity": display.loadingmobile }'>
				<div class="underlined-title"><i18n>directory.search.one</i18n> <strong><i18n>directory.one.user</i18n></strong></div>
				<div class="spacer-small"></div>
				<div class="reduce-block-eight horizontal-margin">
					<input type="search"
						ng-model="search.users"
						translate attr="placeholder"
						placeholder="userBook.search"
						class="text-flow twelve"
						required ng-minlength="1"/>
					<div class="reduce-block-eight horizontal-margin">
						<multi-comboboxes 
							ng-model="filters.users.structures"
							options="filtersOptions.users.structures"
							title-all="[[lang.translate('directory.allStructures')]]"
							title="[[lang.translate('directory.structures')]]">
						</multi-comboboxes>
						<multi-comboboxes 
							ng-model="filters.users.classes"
							options="filtersOptions.users.classes"
							title-all="[[lang.translate('directory.allClasses')]]"
							title="[[lang.translate('directory.classes')]]">
						</multi-comboboxes>
						<multi-comboboxes 
							ng-model="filters.users.profiles"
							options="filtersOptions.users.profiles"
							title-all="[[lang.translate('directory.allProfiles')]]"
							title="[[lang.translate('directory.profiles')]]">
						</multi-comboboxes>
						<multi-comboboxes 
							ng-model="filters.users.functions"
							options="filtersOptions.users.functions"
							title-all="[[lang.translate('directory.allFunctions')]]"
							title="[[lang.translate('directory.functions')]]">
						</multi-comboboxes>
						<div class="spacer-small"></div>
						<button type="submit" ng-disabled="searchForm.$invalid" class="twelve">
							<i18n>directory.search</i18n>
						</button>
					</div>
				</div>
			</div>
			<div class="reduce-block-eight centered row centered-text twelve" ng-class='{ "divide-opacity": display.loadingmobile }'>
				<div class="underlined-title"><i18n>directory.search.one</i18n> <strong><i18n>directory.one.group</i18n></strong></div>
				<div class="spacer-small"></div>
				<div class="reduce-block-eight horizontal-margin">
					<input type="search"
						ng-model="search.groups"
						translate attr="placeholder"
						placeholder="userBook.search"
						class="text-flow twelve"
						required ng-minlength="1"/>
					<div class="reduce-block-eight horizontal-margin">
						<multi-comboboxes 
							ng-model="filters.groups.structures"
							options="filtersOptions.groups.structures"
							title-all="[[lang.translate('directory.allStructures')]]"
							title="[[lang.translate('directory.structures')]]">
						</multi-comboboxes>
						<multi-comboboxes 
							ng-model="filters.groups.classes"
							options="filtersOptions.groups.classes"
							title-all="[[lang.translate('directory.allClasses')]]"
							title="[[lang.translate('directory.classes')]]">
						</multi-comboboxes>
						<multi-comboboxes 
							ng-model="filters.groups.profiles"
							options="filtersOptions.groups.profiles"
							title-all="[[lang.translate('directory.allProfiles')]]"
							title="[[lang.translate('directory.profiles')]]">
						</multi-comboboxes>
						<multi-comboboxes 
							ng-model="filters.groups.functions"
							options="filtersOptions.groups.functions"
							title-all="[[lang.translate('directory.allFunctions')]]"
							title="[[lang.translate('directory.functions')]]">
						</multi-comboboxes>
						<multi-comboboxes 
							ng-model="filters.groups.types"
							options="filtersOptions.groups.types"
							title-all="[[lang.translate('directory.allGroupsTypes')]]"
							title="[[lang.translate('directory.groupsTypes')]]">
						</multi-comboboxes>
						<div class="spacer-small"></div>
						<button type="submit" ng-disabled="searchForm.$invalid" class="twelve">
							<i18n>directory.search</i18n>
						</button>
					</div>
				</div>
			</div>
			<div class="reduce-block-eight centered row centered-text twelve" ng-class='{ "divide-opacity": display.loadingmobile }'>
				<div class="underlined-title"><i18n>directory.manage.my</i18n> <strong><i18n>directory.favorite.share</i18n></strong></div>
				<div class="spacer-small"></div>
				<div class="reduce-block-eight horizontal-margin">
					<div class="row info"><i18n>directory.nofavorite</i18n></div>
					<div class="reduce-block-eight horizontal-margin">
						<button type="submit" class="twelve">
							<i18n>directory.create.favorite</i18n>
						</button>
					</div>
				</div>
			</div>
		</search-module>
		<div class="absolute-position-w centered-text" ng-if="display.loadingmobile">
			<img skin-src="/img/illustrations/loading.gif" width="100px" heigh="100px"/>
		</div>
	</section>
	<section class="margin-four" ng-class="{ 'only-desktop' : !display.searchmobile  }">
		<div class="emptyscreen" ng-if="search.index == 0 && users.length() == 0 && !users.searched && !users.loading">
			<h2 class="emptyscreen-header"><i18n>userBook.directory.emptyScreen.users.header</i18n></h2>
			<img class="emptyscreen-image" skin-src="/img/illustrations/illus-emptyscreen.svg">
			<p class="emptyscreen-footer"><i18n>userBook.directory.emptyScreen.users.footer</i18n></p>
		</div>

		<div class="emptyscreen" ng-if="search.index == 1 && users.length() == 0 && !users.searched && !users.loading">
			<h2 class="emptyscreen-header"><i18n>userBook.directory.emptyScreen.groups.header</i18n></h2>
			<img class="emptyscreen-image" skin-src="/img/illustrations/illus-emptyscreen.svg">
			<p class="emptyscreen-footer"><i18n>userBook.directory.emptyScreen.groups.footer</i18n></p>
		</div>

		<div class="dominos centered-text" ng-if="users.loading">
			<div class="row reduce-block-six">
				<div class="spacer-large"></div>
				<img skin-src="/img/illustrations/loading.gif" width="100px" heigh="100px"/>
			</div>
		</div>

		<div ng-class="{ 'twelve': !currentUser || display.searchmobile, 'four zero-mobile': currentUser && !display.searchmobile}" 
			class="cell"
			ng-if="!currentUser">
			<a class="zero-desktop" ng-if="display.searchmobile"><h2 ng-click="backToSearch()"><i class="back"></i> <i18n>userBook.backToSearch</i18n></h2></a>
			<div data-ng-include="template.containers.list"></div>
		</div>

		<div ng-if="currentUser" ng-class="{ 'zero-mobile':display.searchmobile }" class="left-spacing-four">
			<a><h2 ng-click="backToList()"><i class="back"></i> <i18n>userBook.backToList</i18n></h2></a>
			<div data-ng-include="template.containers.details" class="side-panel-right twelve cell twelve-mobile"></div>
		</div>
	</section>
</div>
