<!--
  ~ Copyright. Tous droits réservés. WebServices pour l’Education.
  -->

<div class="dominos">
	<div class="row reduce-block-six" ng-if="(users.match(search.text).length === 0 && !users.loading) && !classrooms.match(search.text).length" translate content="noresult"></div>
	<div class="item" ng-repeat="user in users.match(search.text) | limitTo:search.maxLength">
		<section class="domino" ng-class="colorFromType(user.type)">
			<div class="top" ng-click="selectUser(user)">
				<img ng-src="/userbook/avatar/[[user.id]]?thumbnail=290x290" class="fixed twelve cell" />
			</div>
			<div class="bottom">
				<div class="content">
					<a ng-click="selectUser(user)">[[user.displayName]]</a>
					<br /><span class="medium-text" translate content="directory.[[user.type.toLowerCase()]]"></span>
					<div class="mood three">
						<i class="liquid [[user.mood]]"></i>
					</div>
					<div class="bottom-locked">
						<a ng-href="/conversation/conversation#/write-mail/[[user.id]]"><i class="send-mail"></i></a>
						<i class="view-book"></i>
						<i class="view-folder"></i>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="item" ng-repeat="classroom in classrooms.match(search.text) | limitTo:search.maxLength">
		<section class="domino grey">
			<div class="top" ng-click="selectClassroom(classroom)">
				<img ng-src="/directory/public/img/classroom.png" class="fixed twelve cell" />
			</div>
			<div class="bottom">
				<div class="content">
					<a ng-click="selectClassroom(classroom)">[[classroom.name]]</a>
				</div>
			</div>
		</section>
	</div>
</div>