<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

<h3 whereami class="twelve centered-text"></h3>

<div class="dominos centered-text">
	<div class="row reduce-block-six emptyscreen" ng-if="(users.match(search.text).length === 0 && !users.loading) && !classrooms.match(search.text).length">
		<img skin-src="/img/illustrations/illus-autres-cas-exp2.svg">
		<p class="header"><i18n>userBook.directory.noresult.users.header</i18n></p>
		<p class="content"><i18n>userBook.directory.noresult.users.content</i18n></p>
	</div>
	<div class="row reduce-block-six" ng-if="users.loading" translate content="loading"></div>

	<div class="item" ng-repeat="user in users.match(search.text) | orderBy:'displayName' | limitTo:search.maxLength">

		<section class="domino" ng-class="colorFromType(user.profile)" ng-click="selectUser(user)" ng-class="{ selected: user === currentUser }">

			<div class="top">
				<img ng-src="/userbook/avatar/[[user.id]]?thumbnail=290x290" class="fixed ten cell" />
			</div>

			<span class="medium-text" translate content="directory.[[getType(user.type).toLowerCase()]]"></span>

			<div class="bottom">
				<div class="content">
					<span>[[user.displayName]]</span>
					<div class="bottom-locked" ng-if="user.mood != 'default'">
						<i class="[[user.mood]]"></i>
					</div>
				</div>
			</div>
		</section>
	</div>

    <div class="item" ng-repeat="classroom in classrooms.match(search.text) | limitTo:search.maxLength">
        <section class="domino grey" ng-click="selectClassroom(classroom)">
            <div class="top">
                <img skin-src="/img/illustrations/classroom.png" class="fixed twelve cell" />
            </div>
			<br>
            <div class="bottom">
                <div class="content">
                    <span>[[classroom.name]]</span>
                </div>
            </div>
        </section>
    </div>

</div>
