<section class="domino" ng-class="colorFromType(user.profile != null ? user.profile : user.type)" ng-click="selectUser(user)">
    <div class="top">
        <img ng-src="/userbook/avatar/[[user.id]]?thumbnail=290x290" class="ten cell" />
    </div>

    <div class="center">
        <span translate content="directory.[[getType(user.profile != null ? user.profile : user.type).toLowerCase()]]"></span>
    </div>

    <div class="bottom">
        <div class="content">
            <div class="multiline-ellipsis-three">
                <span>[[user.displayName]]</span>
            </div>
            <div class="bottom-locked">
                <a ng-href="/conversation/conversation#/write-mail/[[user.id]]"
                    ng-if="classView == true">
                    <i class="send-mail"></i>
                </a>
            </div>
        </div>
    </div>
</section>