<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

<h3 whereami class="twelve centered-text"></h3>

<!-- Loading animation -->
<div class="dominos centered-text only-large-desktop" ng-if="display.loading">
	<div class="row reduce-block-six">
		<div class="spacer-large"></div>
		<img skin-src="/img/illustrations/loading.gif" width="100px" heigh="100px"/>
	</div>
</div>

<div ng-if="!currentSchool">
	<!--Users no results screen-->
	<div class="emptyscreen row reduce-block-six" ng-if="search.index == 0 && users.all.length === 0 && !display.loading && users.searched">
		<div class="spacer-large"></div>
		<h2 class="emptyscreen-header"><i18n>userBook.directory.noresults.users.header</i18n></h2>
		<img class="emptyscreen-image" skin-src="/img/illustrations/illus-noresults.svg">
		<p class="emptyscreen-footer"><i18n>userBook.directory.noresults.users.footer</i18n></p>
	</div>

	<!--Groups no results screen-->
	<div class="emptyscreen row reduce-block-six" ng-if="search.index == 1 && groups.all.length === 0 && !display.loading && groups.searched">
		<div class="spacer-large"></div>
		<h2 class="emptyscreen-header"><i18n>userBook.directory.noresults.groups.header</i18n></h2>
		<img class="emptyscreen-image" skin-src="/img/illustrations/illus-noresults.svg">
		<p class="emptyscreen-footer"><i18n>userBook.directory.noresults.groups.footer</i18n></p>
	</div>

	<!-- Users emptyscreen -->
	<div class="emptyscreen" ng-if="search.index == 0 && users.length() == 0 && !users.searched && !display.loading">
		<div class="spacer-large"></div>
		<h2 class="emptyscreen-header"><i18n>userBook.directory.emptyScreen.users.header</i18n></h2>
		<img class="emptyscreen-image" skin-src="/img/illustrations/illus-emptyscreen.svg">
		<p class="emptyscreen-footer"><i18n>userBook.directory.emptyScreen.users.footer</i18n></p>
	</div>

	<!-- Groups emptyscreen -->
	<div class="emptyscreen" ng-if="search.index == 1 && groups.length() == 0 && !groups.searched && !display.loading">
		<div class="spacer-large"></div>
		<h2 class="emptyscreen-header"><i18n>userBook.directory.emptyScreen.groups.header</i18n></h2>
		<img class="emptyscreen-image" skin-src="/img/illustrations/illus-emptyscreen.svg">
		<p class="emptyscreen-footer"><i18n>userBook.directory.emptyScreen.groups.footer</i18n></p>
	</div>

	<!-- Favorites emptyscreen -->
	<div class="emptyscreen" ng-if="search.index == 2 && !currentFavorite">
		<div class="spacer-large"></div>
		<h2 class="emptyscreen-header"><i18n>userBook.directory.emptyScreen.favorite.header</i18n></h2>
		<img class="emptyscreen-image" skin-src="/img/illustrations/illus-emptyscreen.svg">
		<p class="emptyscreen-footer"><i18n>userBook.directory.emptyScreen.favorite.footer</i18n></p>
	</div>

	<a class="zero-large-desktop" ng-if="display.searchmobile && !display.creatingFavorite && !currentGroup">
		<h2 ng-click="backToSearch()">
			<i class="back"></i> <i18n>userBook.directory.backToSearch</i18n>
		</h2>
	</a>
</div>

<div class="dominos centered-text">

	<div class="dominos-infos" ng-if="(search.index === 0 && !display.loading && users.match(search.text).length) || (search.index === 1 && !display.loading && !currentGroup && groups.match(search.text).length)">
		<div class="flex-row justify-center align-center f-wrap">
			<!-- Users -->
			<div class="item user" 
				ng-repeat="user in users.match(search.text) | orderBy: 'displayName' | limitTo:search.maxLength" 
				ng-if="search.index === 0 && !display.loading && !classView">
				<div data-ng-include="template.containers.dominosUser"></div>
			</div>
	
			<div class="item user" 
				ng-repeat="user in users.match(search.text) | limitTo:search.maxLength" 
				ng-if="search.index === 0 && !display.loading && classView == true">
				<div data-ng-include="template.containers.dominosUser"></div>
			</div>

			<!-- Groups -->
			<div ng-if="search.index === 1 && !display.loading && !currentGroup" 
				ng-repeat="group in groups.match(search.text) | limitTo:search.maxLength"
				class="item group">
				<div data-ng-include="template.containers.dominosGroup"></div>
			</div>
		</div>
	</div>

	<!-- Group Users -->
	<div class="group-infos" ng-if="(search.index === 1 || search.index === 2) && !display.loading && currentGroup">
		<div data-ng-include="template.containers.groupInfos"></div>
	</div>

	<!-- Favorites -->
	<div class="favorite-infos" ng-if="search.index === 2 && !display.creatingFavorite && currentFavorite && !currentGroup && !display.loading">
		<div class="horizontal-spacing">
			<article class="rigid-grid cell twelve small-text">
				<div class="flex-row horizontal-spacing justify-between">
					<div class="left-text">
						<h4>[[ currentFavorite.name ]]</h4>
						<!-- <div class="top-spacing-twice left-text italic-text indication">Créée le...</div> -->
						<div class="flex-row">
							<div class="action-item">
								<a ng-href="/conversation/conversation#/write-mail/[[currentFavorite.id]]/Favorite" class="twelve">
									<i class="block cell no-margin icon-force-size send-mail"></i>
									<span class="cell medium-block-container"><i18n>userBook.directory.favorite.write-message</i18n></span>
								</a>
							</div>
							<div></div>
						</div>
						<div class="top-spacing-twice left-text italic-text indication">[[ currentFavorite.users.length ]] <i18n>portal.users</i18n> - [[ currentFavorite.groups.length ]] <i18n>portal.groups</i18n></div>
					</div>
					<div class="flex-row align-center">
						<button type="button" ng-click="editFavorite()" class="only-desktop">
							<i18n>userBook.directory.button.edit.favorite</i18n>
						</button>
					</div>
				</div>
			</article>
		</div>
		<div class="clear"></div>
		<div class="flex-row justify-center align-center f-wrap">
			<div ng-repeat="group in currentFavorite.groups | limitTo:search.maxLength" class="item group">
				<div data-ng-include="template.containers.dominosGroup"></div>
			</div>
			<div ng-repeat="user in currentFavorite.users | orderBy:'displayName' | limitTo:search.maxLength" class="item user">
				<div data-ng-include="template.containers.dominosUser"></div>
			</div>
		</div>
	</div>	

	<!-- Classrooms -->
    <div class="item user" ng-repeat="classroom in classrooms.match(search.text) | limitTo:search.maxLength">
        <section class="domino grey" ng-click="selectClassroom(classroom)">
            <div class="top">
                <img skin-src="/img/illustrations/classroom.png" class="fixed twelve cell" />
            </div>
			<br>
            <div class="bottom">
                <div class="content">
                    <span>[[classroom.name]]</span>
                </div>
            </div>
        </section>
    </div>
</div>
