<section class="domino overflow-hd" ng-class="colorFromType(group.profile)" ng-click="showGroupUsers(group)">
    <div class="top domino-group" ng-class="lightenColorFromType(group.profile)">
        <div>
            <img class="domino-group round active" skin-src="/img/illustrations/group-avatar.svg" />
        </div>
        <div class="nb-users">
            <span>[[ group.nbUsers != null ? group.nbUsers : 0 ]]</span> <i class="person"></i>
        </div>
    </div>

    <div class="center" ng-if="group.groupType == 'ProfileGroup'">
        <span>[[lang.translate('userBook.profile.type') + " " + lang.translate('directory.' + getType(group.profile).toLowerCase())]]</span>
    </div>
    <div class="center" ng-if="group.groupType != 'ProfileGroup'">
        <span translate content="userBook.directory.group.[[group.groupType]]"></span>
    </div>

    <div class="bottom">
        <div class="content">
            <div class="multiline-ellipsis-three">
                <span>[[group.name]]</span>
            </div>
        </div>
    </div>
</section>
