<!--

 -->

 <h3 whereami class="twelve centered-text"></h3>

 <article class="favorite-infos flex-row f-column justify-center horizontal-margin only-desktop" ng-class='{ "divide-opacity": display.loading }'>
    <h3 ng-if="!display.editingFavorite"><i18n>directory.title.create.favorite</i18n></h3>
    <h3 ng-if="display.editingFavorite"><i18n>directory.title.edit.favorite</i18n></h3>
    <form class="reduce-block-eight horizontal-margin" ng-submit="saveFavorite()">
        <div class="bottom-spacing-twice">
            <div class="flex-row">
                <h4><i18n>directory.favorite.name</i18n></h4>
            </div>
            <input type="text"
                ng-model="create.favorite.name"
                translate attr="placeholder"
                placeholder="directory.placeholder.title.favorite"
                class="text-flow twelve"
                required ng-minlength="1"/>
        </div>
        <div class="vertical-spacing-four">
            <div class="flex-row">
                <h4><i18n>directory.search.favorite</i18n></h4>
            </div>
            <div class="search-pagination flex-row">
                <div class="cell seven top-spacing-twice">
                    <input class="twelve" name="searchField" type="text" ng-model="create.favorite.search"
                        i18n-placeholder="directory.placeholder.search.example"
                        ng-keydown="$event.keyCode == 13 ? searchUsersAndGroups($event) : null"/>
                    <i class="search centered" ng-click="searchUsersAndGroups()"></i>
                </div>
                <div class="cell absolute-magnet">
                    <button type="button" ng-click="searchUsersAndGroups()" class="twelve">
                        <i18n>portal.search</i18n>
                    </button>
                </div>
            </div>
            <div class="vertical-spacing-four"> 
                <div class="flex-row medium-importance vertical-spacing-twice">
                    <i18n>directory.filters</i18n>
                    <div class="cell absolute-magnet">
                        <a ng-if="canFavoriteFormInitSearch()" class="vertical-spacing-four small-text" ng-click="favoriteFormInitSearch()">
                            <i18n>directory.init.search</i18n>
                        </a>
                    </div>
                </div>
                <div class="flex-row">
                    <multi-comboboxes ng-if="filtersOptions.users.structures.length > 1" class="twelve min-w-zero"
                        ng-model="create.favorite.filters.structures"
                        options="create.favorite.options.structures"
                        title-all="[[lang.translate('directory.allStructures')]]"
                        title="[[lang.translate('directory.structures')]]">
                    </multi-comboboxes>
                    <multi-comboboxes class="twelve min-w-zero" ng-class="{ 'horizontal-margin-twice': filtersOptions.users.structures.length > 1 }"
                        ng-model="create.favorite.filters.classes"
                        options="create.favorite.options.classes"
                        title-all="[[lang.translate('directory.allClasses')]]"
                        title="[[lang.translate('directory.classes')]]">
                    </multi-comboboxes>
                    <multi-comboboxes class="twelve min-w-zero" ng-class="{ 'horizontal-margin-twice': filtersOptions.users.structures.length < 2 }"
                        ng-model="create.favorite.filters.profiles"
                        options="create.favorite.options.profiles"
                        title-all="[[lang.translate('directory.allProfiles')]]"
                        title="[[lang.translate('directory.profiles')]]">
                    </multi-comboboxes>
                    <multi-comboboxes ng-if="filtersOptions.users.structures.length < 2" class="twelve min-w-zero"
                        ng-model="create.favorite.filters.functions"
                        options="create.favorite.options.functions"
                        title-all="[[lang.translate('directory.allFunctions')]]"
                        title="[[lang.translate('directory.functions')]]"
                        ng-disabled="!testFunctionFilterAvailable(create.favorite.filters.profiles)">
                    </multi-comboboxes>
                </div>
                <div class="flex-row">
                    <multi-comboboxes ng-if="filtersOptions.users.structures.length > 1" class="twelve min-w-zero"
                        ng-model="create.favorite.filters.functions"
                        options="create.favorite.options.functions"
                        title-all="[[lang.translate('directory.allFunctions')]]"
                        title="[[lang.translate('directory.functions')]]"
                        ng-disabled="!testFunctionFilterAvailable(create.favorite.filters.profiles)">
                    </multi-comboboxes>
                    <multi-comboboxes class="twelve min-w-zero" ng-class="{ 'horizontal-margin-twice': filtersOptions.users.structures.length > 1 }"
                        ng-model="create.favorite.filters.types"
                        options="create.favorite.options.types"
                        title-all="[[lang.translate('directory.allGroupsTypes')]]"
                        title="[[lang.translate('directory.groupsTypes')]]">
                    </multi-comboboxes>
                    <div ng-if="filtersOptions.users.structures.length < 2" class="twelve horizontal-margin-twice min-w-zero"></div>
                    <div class="twelve min-w-zero"></div>
                </div>
            </div>
        </div>
        <div class="row vertical-spacing-four">
            <div class="flex-row">
                <div class="six">
                    <strong class="medium-importance medium-text"><i18n>directory.search.favorite.add</i18n></strong>
                </div>
                <div class="horizontal-margin-twice"></div>
                <div class="six">
                    <strong class="medium-importance medium-text"><i18n>directory.composition.favorite</i18n></strong>
                </div>
            </div>
            <transfer-columns class="block top-spacing-twice"
                ng-model="create.favorite.members"
                searched-items="favoriteFormUsersGroups"
                loading="display.loadingFavoriteForm"
                text-right-warning-title = "[[lang.translate('directory.empty.favorite.composition.title')]]"
                text-right-warning-description = "[[lang.translate('directory.empty.favorite.composition.description')]]">
            </transfer-columns>
        </div>
        <div class="row">
            <div class="right-magnet top-spacing-four">
                <button type="button" class="flat-button" ng-click="tryRemoveFavorite(currentFavorite)" ng-if="display.editingFavorite">
                    <i18n>directory.deleteFavorite</i18n>
                </button>
                <button type="button" class="flat-button" ng-click="cancelFavorite()">
                    <i18n>cancel</i18n>
                </button>
                <button ng-disabled="create.favorite.members.length === 0">
                    <i18n>directory.save</i18n>
                </button>
            </div>
        </div>
    </form>

     <!-- Loading animation -->
    <div class="absolute-position-w centered-text" ng-if="display.loading">
        <img skin-src="/img/illustrations/loading.gif" width="100px" heigh="100px"/>
    </div>
 </article>