<div class="horizontal-spacing">
    <div class="flex-row justify-between">
        <h2 class="flex-all-remains left-text">
            <a ng-if="groups.all.length" ng-click="backToGroups()"><i class="back"></i> <i18n>userBook.directory.back</i18n></a>
        </h2>
    </div>
    <article class="rigid-grid cell twelve">
        <div class="flex-row horizontal-spacing justify-between">
            <div class="left-text">
                <h4>[[ currentGroup.name ]]</h4>
                <div ng-include="template.containers.groupActions"></div>
                <div class="top-spacing-twice left-text italic-text indication small-text">[[currentGroup.nbUsers]] <i18n>portal.users</i18n></div>
            </div>
        </div>
    </article>
</div>
<div class="clear"></div>
<div class="flex-row justify-center align-center f-wrap">
    <div class="item user" 
        ng-repeat="user in currentGroup.users | orderBy:'displayName' | limitTo:search.maxLength">
        <div data-ng-include="template.containers.dominosUser"></div>
    </div>
</div>