<!--

 -->

<div class="twelve cell block-container">
	<h2 class="vertical-spacing-twice" translate content="classAdmin.importFile"></h2>

	<div class="info vertical-spacing-twice">
		<strong translate content="classAdmin.import.begin"></strong>
		<ul>
			<li ng-if="hasONDE()"><span translate content="classAdmin.import.onde"></span></li>
			<li><span translate content="classAdmin.import.csv"></span></li>
		</ul>
	</div>

	<div class="flex-row vertical-spacing-twice justify-between">
		<div class="select-file input-block">
			<div class="hidden-content">
				<input type="file" files-input-change ng-model="import.csv" />
			</div>
			<input type="text" ng-model="import.csv[0].name" class="cell" />
			<button class="file-button" translate key="choose"></button>
		</div>
		<div ng-if="display.importing">
			<loading-icon class="cell" request="loadingUsers" default="loading" />
		</div>
	</div>
	<div class="row">
		
	</div>
	<div class="row">
		<button class="right-magnet" ng-disabled="!import.csv.length" ng-click="importCSV()" translate content="classAdmin.import"></button>
		<button class="cancel right-magnet" ng-click="closeLightbox()" translate content="cancel"></button>
	</div>
</div>