<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

<div class="twelve cell block-container">
	<h2>Choisir un utilisateur existant</h2>
	<div class="warning vertical-spacing-twice">
		<strong>Votre nouvel utilisateur existe peut-être déjà.</strong>
		<br />Vous pouvez choisir un utilisateur existant et le rattacher à votre classe.
	</div>
	<table class="twelve vertical-spacing-twice light-style">
		<tr ng-repeat="user in existingMatchs" class="checked" ng-click="grabUser(user)">
			<td class="action-cell">
				<img ng-src="/userbook/avatar/[[user.id]]?thumbnail=48x48" />
			</td>
			<td><a>[[user.displayName]]</a></td>
		</tr>
	</table>
	<div class="row">
		<button class="right-magnet" ng-click="createUser();">Créer l'utilisateur</button>
		<button class="cancel right-magnet">Annuler</button>
	</div>
</div>
<div class="close-lightbox">
	<i class="close-2x"></i>
</div>
<div class="clear"></div>