<!--

 -->
<!-- /myClass -->
<h1>
	<a data-reload>
		<i class="userbook"></i>
		<span translate key="userBook.class.title"></span>
	</a>
</h1>


<div class="emptyscreen row reduce-block-six">
	<h2 class="emptyscreen-header"><i18n>class.empty.state.title</i18n></h2>
	<img class="emptyscreen-image" skin-src="/img/illustrations/illus-emptyscreen.svg">
	<p class="emptyscreen-footer"><i18n>class.empty.state.description</i18n></p>

	<a class="cell-ellipsis right-magnet"
		href="/userbook/annuaire#/search">
		<button translate content="class.empty.state.directory"></button>
	</a>
</div>