<section class="horizontal-margin-twice vertical-spacing-twice">
    <p class="warning force-fullwidth" style="font-size: initial;">
        <i18n>classAdmin.reset.warning</i18n>
    </p>
    <div class="row">
        <article class="twelve cell vertical-spacing-twice list-view" style="padding: 0px;">
            <table class="row">
                <thead>
                    <tr>
                        <th style="width: auto; padding: 10px;">
                            <span translate content="directory.user"></span>
                        </th>
                        <th style="width: auto;">
                            <span translate content="directory.admin.login"></span>
                        </th>
                        <th style="width: 180px;">
                            <i18n>classAdmin.reset.temporary</i18n> / <i18n>classAdmin.template.code</i18n>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="class-admin__list" ng-repeat="user in resetPasswordUsers">
                        <td class="no-padding">
                            <div class="block-container">[[user.safeDisplayName]]</div>
                        </td>
                        <td class="no-padding">
                            <div class="block-container">[[user.login]]</div>
                        </td>
                        <td class="no-padding">
                            <div class="block-container" ng-if="user.resetCode">[[user.resetCode]]</div>
                            <div class="block-container" ng-if="user.activationCode">[[user.activationCode]]</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    </div>
    <div class="twelve flex-row justify-end top-spacing-three">
        <button class="left-spacing-twice" ng-click="printResetPasswordUsers()">
            <i18n>classAdmin.export.toaster</i18n>
        </button>
    </div>
</section>