<!--

 -->
<!-- not used anymore -->
<article class="list-view">
	<div class="row reduce-block-six" ng-if="(users.match(search.text).length === 0 && !users.loading) && !classrooms.match(search.text).length">
		<i18n>noresult</i18n>
	</div>
	<div class="row reduce-block-six" ng-if="users.loading" translate content="loading"></div>
	<table class="twelve" ng-if="!users.loading">
		<thead>
		<tr>
			<th></th>
			<th translate content="userBook.profile.lastName"></th>
			<th class="right-magnet" translate content="directory.admin.profile"></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="user in users.match(search.text) | limitTo:search.maxLength - classrooms.length()" ng-click="selectUser(user)">
			<td class="action-cell">
				<img ng-src="/userbook/avatar/[[user.id]]?thumbnail=48x48" class="eight" />
			</td>
			<td>
				<a>
					[[user.displayName]]
				</a>
			</td>
			<td class="right-magnet" translate content="directory.[[user.type.toLowerCase()]]"></td>
		</tr>
        <tr ng-repeat="classroom in classrooms.match(search.text) | limitTo:search.maxLength" ng-click="selectClassroom(classroom)">
            <td class="action-cell">
                <img skin-src="/img/illustrations/classroom.png" class="eight cell" />
            </td>
            <td>
                <a>
                    [[classroom.name]]
                </a>
            </td>
            <td></td>
        </tr>
		</tbody>
	</table>
</article>
