<!--
  ~ Copyright. Tous droits réservés. WebServices pour l’Education.
  -->

<div class="cell absolute four reduce-block-six">
	<div class="fluid twelve cell clip" ng-if="account.edit.userbook">
		<image-select ng-model="account.picture" default="/directory/public/img/no-avatar.jpg" thumbnails="[{ width: 290, height: 290 }]" ng-change="saveChanges()"></image-select>
	</div>
	<div class="fluid cell twelve" ng-if="!account.edit.userbook">
		<img ng-src="[[account.picture]]?thumbnail=290x290" ng-if="account.picture" class="absolute" />
		<img ng-src="/directory/public/img/no-avatar.jpg" ng-if="!account.picture" class="absolute" />
	</div>
</div>
<div class="eight cell absolute right-magnet reduce-block-six">
	<article class="fluid cell twelve small-text reduce-block-six">
		<h2>[[account.displayName]]</h2>
		<div class="row">
			<label translate content="userBook.profile.login" class="four cell"></label>
			<em class="seven cell">[[account.login]]</em>
		</div>
		<div class="row" ng-if="account.id === me.userId">
			<label translate content="userBook.profile.password" class="four cell"></label>
			<em class="eight cell">
				<a data-ng-click="openPasswordDialog()" translate content="change.password"></a>
			</em>
		</div>
		<div class="row">
			<label translate content="userBook.profile.firstName" class="four cell"></label>
			<input class="seven cell inline-editing" type="text" ng-model="account.firstName" complete-change="saveChanges()" />
		</div>
		<div class="row">
			<label translate content="userBook.profile.lastName" class="four cell"></label>
			<input class="seven cell inline-editing" type="text" ng-model="account.lastName" complete-change="saveChanges()" />
		</div>
		<div class="row">
			<label translate content="userBook.profile.displayName" class="four cell"></label>
			<input class="seven cell inline-editing" type="text" ng-model="account.displayName" complete-change="saveChanges()" />
		</div>
		<div class="row">
			<label translate content="userBook.profile.email" class="four cell"></label>
			<input type="text" class="seven cell inline-editing" complete-change="saveChanges()" ng-model="account.email" />
			<i class="[[account.visible.email]] right-magnet" title="[[translate(account.visible.email)]]" data-ng-click="changeInfosVisibility('email', account.visible.email)"></i>
			<div class="clear"></div>
		</div>
		<div class="row" ng-if="account.type !== 'Student'">
			<label translate content="userBook.profile.telephone" class="four cell"></label>
			<input type="text" class="seven cell inline-editing" complete-change="saveChanges()" ng-model="account.homePhone" />
			<i class="[[account.visible.phone]] right-magnet" title="[[translate(account.visible.phone)]]" data-ng-click="changeInfosVisibility('phone', account.visible.phone)"></i>
			<div class="clear"></div>
		</div>
		<div class="row">
			<label translate content="userBook.profile.address" class="four cell"></label>
			<input type="text" class="seven cell inline-editing" complete-change="saveChanges()" ng-model="account.address" />
			<i class="[[account.visible.mail]] right-magnet" title="[[translate(account.visible.mail)]]" data-ng-click="changeInfosVisibility('mail', account.visible.mail)"></i>
			<div class="clear"></div>
		</div>
		<div class="row">
			<label translate content="userBook.profile.birthdate" class="four cell"></label>
			<date-picker
					ng-if="account.type === 'Student'"
					ng-model="account.birthDate"
					ng-change="saveChanges()"
					class="inline-editing seven">
			</date-picker>
			<em class="seven cell" ng-if="account.type !== 'Student'">[[longDate(account.birthDate)]]</em>
			<i class="[[account.visible.birthdate]] right-magnet" title="[[translate(account.visible.birthdate)]]" data-ng-click="changeInfosVisibility('birthdate', account.visible.birthdate)"></i>
			<div class="clear"></div>
		</div>
		<div class="row">
			<div class="four cell"><label translate content="userBook.profile.school"></label></div>
			<em class="six cell reduce-block-four">[[account.schoolName]]</em>
		</div>
	</article>
</div>