<!--
 user-infos
 -->

<div class="row reduce-block-six twelve-mobile user-infos">
	<h2 class="flex-all-remains left-text" ng-if="(search.index == 0 && users.searched) || (search.index == 1 && groups.searched) || (search.index == 2)">
		<a ng-click="currentSchool ? deselectUser('dominos') : back()"><i class="back"></i>
			<i18n>userBook.directory.back</i18n>
		</a>
	</h2>
	<article class="rigid-grid cell twelve small-text">

		<div class="cell four height-four reduce-block-six avatar">
			<div class="twelve cell fluid clip">
				<img ng-src="/userbook/avatar/[[currentUser.id]]?thumbnail=381x381" />
			</div>
		</div>

		<div class="sheet">
			<div>
				<h2 class="text-word-break no-margin size-auto">[[currentUser.displayName]]</h2>
				<div class="flex-row">
					<span class="cell circle square-mini top-spacing-small right-spacing-small" ng-class="currentUser.getProfile()"></span>
					<span class="cell low-importance">[[ currentUser.getProfileName() ]]</span>
				</div>
			</div>

			<div ng-if="!isMoodDefault(currentUser.mood)" class="right-magnet">
				<i class="[[currentUser.mood]] liquid text-flow" tooltip="userBook.mood.[[currentUser.mood]]"></i>
			</div>

			<div class="row" ng-if="currentUser.email">
				<div class="cell" translate content="userBook.profile.email"></div>
			</div>
			<div class="row" ng-if="currentUser.email">
				<em class="cell text-word-break">
					[[currentUser.email]]
				</em>
			</div>

			<div class="row" ng-if="currentUser.tel">
				<div class=" cell " translate content="userBook.profile.telephone"></div>
			</div>
			<div class="row" ng-if="currentUser.tel">
				<em class=" cell ">
					[[currentUser.tel]]
				</em>
			</div>

			<div class="row" ng-if="currentUser.mobile">
				<div class=" cell " translate content="userBook.profile.mobilePhone"></div>
			</div>
			<div class="row" ng-if="currentUser.mobile">
				<em class=" cell ">
					[[currentUser.mobile]]
				</em>
			</div>
			<div class="row" ng-if="currentUser.birthdate">
				<div class=" cell " translate content="userBook.profile.birthdate"></div>
			</div>
			<div class="row" ng-if="currentUser.birthdate">
				<em class=" cell ">
					[[longDate(currentUser.birthdate)]]
				</em>
			</div>
			<div class="row" ng-if="currentUser.motto">
				<div class=" cell " translate content="userBook.profile.motto"></div>
			</div>
			<div class="row" ng-if="currentUser.motto">
				<em class=" cell ">
					[[currentUser.motto]]
				</em>
			</div>
		</div>
	</article>
</div>

<div class="row reduce-block-six">
	<article class="twelve cell actions-list" ng-include="template.containers.userActions">

	</article>
</div>

<div class="row"></div>

<div class="row reduce-block-six" ng-if="displayChildren(currentUser)">
	<article class="row">
		<h2 translate content="userBook.profile.children"></h2>
		<content-divider ng-model="currentUser.childrenStructure" order="structureName">
			<div>
				<strong class="cell-ellipsis">[[content.structureName]]</strong>
				<div class="flex-row top-spacing-twice" ng-repeat="child in content.children | orderBy:'displayName'">
					<div class="cell round bg-white square-medium right-spacing">
						<img ng-src="/userbook/avatar/[[child.id]]?thumbnail=100x100" />
					</div>
					<div>
						<a class="cell-ellipsis small-text block left-text" href="/userbook/annuaire#/[[child.id]]">[[ child.displayName
							]]</a>
						<span class="cell-ellipsis low-importance smaller-text medium-importance italic-text block left-text">[[
							child.classesNames[0] ]]</span>
					</div>
				</div>
			</div>
		</content-divider>
	</article>
</div>

<div class="row reduce-block-six" ng-if="displayRelatives(currentUser)">
	<article class="row">
		<h2 translate content="userBook.profile.relatives"></h2>
		<div class="reduce-block-eight">
			<div class="flex-row align-center top-spacing-twice" ng-repeat="relative in currentUser.relatives | orderBy:'displayName'">
				<div class="cell round bg-white square-medium right-spacing">
					<img ng-src="/userbook/avatar/[[relative.id]]?thumbnail=100x100" />
				</div>
				<div>
					<a class="cell-ellipsis small-text block left-text" href="/userbook/annuaire#/[[relative.id]]">[[
						relative.displayName ]]</a>
				</div>
			</div>
		</div>
	</article>
</div>

<div class="row reduce-block-six" ng-if="currentUser.schools.length">
	<article>
		<h2 translate key="userBook.profile.schools"></h2>
		<content-divider ng-model="currentUser.attachedStructures" order="name">
			<div class="width-medium-no-mobile-fat-mobile">
				<strong class="multiline-ellipsis-three block" tooltip="[[content.name]]" tooltip-check-content>[[content.name]]</strong>
				<i18n class="top-spacing-three indication italic-text" ng-if="content.admin">portal.admin.attached</i18n>
				<i18n class="top-spacing-three indication italic-text accent-color" ng-if="content.adml">portal.adml</i18n>
				<ul ng-if="content.classes && content.classes.length" class="list no-padding overflow-vertical-height-list">
					<li ng-repeat="class in content.classes | orderBy:'toString()'">[[class]]</li>
				</ul>
			</div>
		</content-divider>
	</article>
</div>

<div class="row reduce-block-six" ng-if="currentUser.hobbies.length">
	<article>
		<h1 translate key="userBook.interests"></h1>

		<div class="row medium-text line" ng-repeat="hobby in currentUser.hobbies | orderBy:'category'">
			<div class="four-mobile three cell reduce-block-six" translate content="userBook.hobby.[[hobby.category]]"></div>
			<em class="six-mobile nine cell reduce-block-six user-content horizontal-spacing">[[hobby.values]]</em>
		</div>

		<div class="row"></div>
	</article>
</div>

<div class="row reduce-block-six" ng-if="currentUser.health">
	<article>
		<h1 ng-if="currentUser.health">
			<i18n>userBook.profile.health</i18n>
		</h1>
		<div class="row medium-text">
			[[currentUser.health]]
		</div>
	</article>
</div>
