<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

<div class="cell four reduce-block-six">
	<div class="fluid twelve cell clip" ng-if="account.edit.userbook">
		<image-select ng-model="account.picture" default="/img/illustrations/no-avatar.jpg" thumbnails="[{ width: 381, height: 381 }]" ng-change="saveChanges()"></image-select>
	</div>
	<div class="fluid cell twelve" ng-if="!account.edit.userbook">
		<img ng-src="[[account.picture]]?thumbnail=381x381" ng-if="account.picture" class="absolute" />
		<img skin-src="/img/illustrations/no-avatar.jpg" ng-if="!account.picture" class="absolute" />
	</div>
</div>
<div class="margin-four reduce-block-six height-five user-infos">
	<article class="fluid cell twelve">
		<h2>[[account.displayName]]</h2>
		<div class="row">
			<div class="five cell">
				<i18n>userBook.profile.login</i18n>
			</div>
			<em class="six cell">[[account.login]]</em>
		</div>
		<div class="row" ng-if="account.id === me.userId">
			<div class="five cell">
				<i18n>userBook.profile.password</i18n>
			</div>
			<em class="eight cell">
				<a ng-if="!me.federated" ng-click="openPasswordDialog()"><i18n>change.password</i18n></a>
				<a ng-if="me.federated" target="_blank" ng-href="[[account.federatedAddress]]"><i18n>change.password</i18n></a>
			</em>
		</div>
		<div class="row">
			<div class="five cell"><label translate content="userBook.profile.email"></label></div>
			<input type="text" class="six cell" data-complete-change="saveInfos()" data-ng-model="account.email" />
			<i class="[[account.visible.email]] right-magnet" title="[[translate(account.visible.email)]]" data-ng-click="changeInfosVisibility('email', account.visible.email)"></i>
		</div>
		<div class="row">
			<div class="five cell"><label translate content="userBook.profile.telephone"></label></div>
			<em class="six cell">[[account.homePhone]]</em>
			<i class="[[account.visible.phone]] right-magnet" title="[[translate(account.visible.phone)]]" data-ng-click="changeInfosVisibility('phone', account.visible.phone)"></i>
			<div class="clear"></div>
		</div>
		<div class="row">
			<div class="five cell"><label translate content="userBook.profile.mobilePhone"></label></div>
			<em class="six cell">[[account.mobile]]</em>
			<i class="[[account.visible.mobile]] right-magnet" title="[[translate(account.visible.mobile)]]" data-ng-click="changeInfosVisibility('mobile', account.visible.mobile)"></i>
		</div>
		<!--div class="row">
			<div class="five cell"><label translate content="userBook.profile.address"></label></div>
			<em class="six cell">[[account.address]]</em>
			<i class="[[account.visible.mail]] right-magnet" title="[[translate(account.visible.mail)]]" data-ng-click="changeInfosVisibility('mail', account.visible.mail)"></i>
		</div-->
		<div class="row">
			<div class="five cell">
				<i18n>userBook.profile.birthdate</i18n>
			</div>
			<em class="six cell">[[birthDate(account.birthDate)]]</em>
			<i class="[[account.visible.birthdate]] right-magnet" title="[[translate(account.visible.birthdate)]]" data-ng-click="changeInfosVisibility('birthdate', account.visible.birthdate)"></i>
			<div class="clear"></div>
		</div>
		<div class="row">
			<div class="five cell">
				<i18n>userBook.profile.school</i18n>
			</div>
			<em class="six cell">[[account.schoolName]]</em>
		</div>
	</article>
</div>
