<!--
 edit
 -->

<div class="row reduce-block-six twelve-mobile user-infos no-margin">
	<lightbox show="display.login" on-close="display.login = false" workflow="directory.allowLoginUpdate" ng-if="account.id === me.userId || account.type[0] === 'Student'">
		<h1><i18n>directory.login.update.title</i18n></h1>
		<form name="loginForm" novalidate>
			<div class="row">
				<p>
					<label translate content="userBook.profile.login" class="two cell twelve-mobile"></label>
					<input type="text" class="ten cell twelve-mobile" ng-pattern="/^[0-9a-z\-\.]+$/" name="newLoginAlias" ng-model="account.newLoginAlias">
				</p>
			</div>

			<div class="row">
				<p class="input-errors small-text" ng-if="loginForm.newLoginAlias.$invalid && loginForm.newLoginAlias.$dirty">
					<span ng-repeat="(key, value) in loginForm.newLoginAlias.$error">
						<span ng-if="value">[[lang.translate(key)]]</span><span ng-if="key == 'pattern'">[[lang.translate('directory.form.login.pattern')]]</span>
					</span>
				</p>
			</div>

			<hr>

			<div class="row">
				<button type="button" class="submit right-magnet cell" ng-click="saveLogin();" ng-disabled="loginForm.newLoginAlias.$invalid || loginForm.newLoginAlias.$pristine "><i18n>directory.save</i18n></button>
				<button type="button" class="cancel right-magnet cell" ng-click="display.login = false;"><i18n>cancel</i18n></button>
			</div>
		</form>
	</lightbox>

	<lightbox show="display.otp" on-close="display.otp = false">
		<h2><i18n>directory.otp.title</i18n></h2>
		<span ng-if="account.otp"><i18n>directory.otp.message</i18n></span>
		<br /><br />
		<span ng-if="account.otp">[[account.otp.login]] <a ng-click="copyToClipboard()"><i18n>directory.otp.copy</i18n></a></span>
		<br /><br />
		<span ng-if="account.otp"><i18n>directory.otp.info</i18n></span>
		<input type="hidden" id="otpInput"></input>
	</lightbox>

	<article class="rigid-grid cell twelve">

		<div class="cell four height-four reduce-block-six avatar">
			<div class="fluid twelve cell clip" ng-if="account.edit.userbook">
				<image-select ng-model="account.picture" default="/img/illustrations/no-avatar.svg" thumbnails="[{ width: 381, height: 381 }]" ng-change="saveChanges()"></image-select>
			</div>
			<div class="fluid cell twelve" ng-if="!account.edit.userbook">
				<img ng-src="[[account.picture]]?thumbnail=290x290" ng-if="account.picture" class="absolute" />
				<img skin-src="/img/illustrations/no-avatar.svg" ng-if="!account.picture" class="absolute" />
			</div>
		</div>

		<div>
			<h2 class="text-word-break no-margin size-auto">[[account.displayName]]</h2>
			<div class="flex-row">
				<span class="cell circle square-mini top-spacing-small right-spacing-small" ng-class="account.getProfile()"></span>
				<span class="cell low-importance">[[ account.getProfileName() ]]</span>
			</div>
		</div>

		<form class="sheet small-text top-spacing-twice" name="userForm" novalidate>
			<div class="row">
				<div class="four cell">
					<i18n>userBook.profile.login</i18n>
				</div>
				<em class="seven cell">
					[[ (account.loginAlias && account.loginAlias != '') ? account.loginAlias : account.login ]]
					<a ng-click="display.login = true; account.newLoginAlias = account.loginAlias;" workflow="directory.allowLoginUpdate" ng-if="account.id === me.userId || account.type[0] === 'Student'">
						<i18n>directory.login.update.button</i18n>
					</a>
				</em>
			</div>

			<div class="row" ng-if="displayPassword(account,me)">
				<div class="four cell">
					<i18n>userBook.profile.password</i18n>
				</div>
				<em class="seven cell">
					<a ng-if="(!me.federated || (me.federated && account.disabledFederatedAdress))" ng-click="openPasswordDialog()"><i18n>change.password</i18n></a>
					<a ng-if="(me.federated && !account.disabledFederatedAdress)" target="_blank" ng-href="[[account.federatedAddress]]"><i18n>change.password</i18n></a>
				</em>
			</div>

			<div class="row" ng-if="displayOTP(account,me)">
				<div class="four cell">
					<i18n>directory.profile.otp</i18n>
				</div>
				<em class="seven cell">
					<a ng-click="openOTPDialog()"><i18n>directory.generate.otp</i18n></a>
				</em>
			</div>

			<div class="row">
				<div class="four cell">
					<i18n>userBook.profile.firstName</i18n>
				</div>
				<em class="seven cell">[[account.firstName]]</em>
			</div>

			<div class="row">
				<div class="four cell">
					<i18n>userBook.profile.lastName</i18n>
				</div>
				<em class="seven cell">[[account.lastName]]</em>
			</div>

			<div class="row" ng-if="account.type.indexOf('Relative') === -1">
				<label translate content="userBook.profile.displayName" class="four cell"></label>
				<input class="seven cell inline-editing" type="text" ng-model="account.displayName" complete-change="saveChanges()" />
			</div>

			<div class="row">
				<label translate content="userBook.profile.email" class="four cell"></label>
				<div class="seven cell">
					<input class="twelve inline-editing" type="email" name="mail" complete-change="userForm.$valid ? saveChanges() : ''" ng-model="account.email" />
					<span class="twelve input-errors" ng-if="userForm.mail.$invalid && userForm.mail.$dirty">
						<span ng-repeat="(key, value) in userForm.mail.$error">
							<label ng-if="value">[[lang.translate(key)]]</label>
						</span>
					</span>
				</div>
				<i class="[[account.visible.email]] right-magnet" title="[[translate(account.visible.email)]]" data-ng-click="changeInfosVisibility('email', account.visible.email)"></i>
				<div class="clear"></div>
			</div>

			<div class="row">
				<label translate content="userBook.profile.telephone" class="four cell"></label>
				<div class="seven cell">
					<input type="tel" ng-pattern="/^(00|\+)?(?:[0-9] ?-?\.?){6,15}$/" name="phone" class="twelve inline-editing" complete-change="userForm.$valid ? saveChanges() : ''" ng-model="account.homePhone" />
					<span class="twelve input-errors" ng-if="userForm.phone.$invalid && userForm.phone.$dirty">
						<span ng-repeat="(key, value) in userForm.phone.$error">
							<label ng-if="value">[[lang.translate(key)]]</label>
						</span>
					</span>
				</div>
        		<i class="[[account.visible.phone]] right-magnet" title="[[translate(account.visible.phone)]]" data-ng-click="changeInfosVisibility('phone', account.visible.phone)"></i>
				<div class="clear"></div>
      		</div>

			<div class="row">
				<label translate content="userBook.profile.mobilePhone" class="four cell"></label>
				<div class="seven cell">
					<input type="tel" ng-pattern="/^(00|\+)?(?:[0-9] ?-?\.?){6,15}$/" name="mobilePhone" class="twelve inline-editing" complete-change="userForm.$valid ? saveChanges() : ''" ng-model="account.mobile" />
					<span class="twelve input-errors" ng-if="userForm.mobilePhone.$invalid && userForm.mobilePhone.$dirty">
						<span ng-repeat="(key, value) in userForm.mobilePhone.$error">
							<label ng-if="value">[[lang.translate(key)]]</label>
						</span>
					</span>
				</div>
				<i class="[[account.visible.mobile]] right-magnet" title="[[translate(account.visible.mobile)]]" data-ng-click="changeInfosVisibility('mobile', account.visible.mobile)"></i>
				<div class="clear"></div>
			</div>

			<div class="row">
				<div class="four cell">
					<i18n>userBook.profile.birthdate</i18n>
				</div>
				<date-picker
						ng-if="account.type.indexOf('Student') !== -1"
						ng-model="account.birthDate"
						ng-change="saveChanges()"
						readonly="true"
						class="inline-editing seven">
				</date-picker>
				<em class="seven cell" ng-if="account.type.indexOf('Student') === -1">[[birthDate(account.birthDate)]]</em>
				<i class="[[account.visible.birthdate]] right-magnet" title="[[translate(account.visible.birthdate)]]" data-ng-click="changeInfosVisibility('birthdate', account.visible.birthdate)"></i>
				<div class="clear"></div>
			</div>

			<div class="row" ng-if="account.id === me.userId && account.type.indexOf('Relative') !== -1" workflow="directory.generateMergeKey">
				<div class="four cell">
					<i18n>userBook.profile.mergeKey</i18n>
				</div>
				<em class="six cell">
					<span ng-if="account.mergeKey">[[account.mergeKey]]</span>
					<a ng-if="!account.mergeKey" ng-click="generateMergeKey()"><i18n>userBook.profile.generate.mergeKey</i18n></a>
				</em>
			</div>

			<div class="row" ng-if="account.id === me.userId  && account.type.indexOf('Relative') !== -1" workflow="directory.mergeByKey">
				<div class="four cell">
					<i18n>userBook.profile.mergedLogins</i18n>
				</div>
				<em class="six cell">
					<span ng-repeat="userLogin in account.mergedLogins">
						[[userLogin]]
					</span>
				</em>
			</div>

			<div class="row" ng-if="account.id === me.userId  && account.type.indexOf('Relative') !== -1" workflow="directory.mergeByKey">
				<label translate content="userBook.profile.mergeByKey" class="four cell"></label>
				<input class="seven cell inline-editing" type="text" ng-model="account.mergeByKey" complete-change="mergeByKeys(account)" />
			</div>
		</form>

	</article>
</div>
