<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~ user-infos
 -->


 <div class="row reduce-block-six twelve-mobile user-infos">
	<h2 class="flex-all-remains left-text">
		<a ng-click="currentSchool ? deselectUser('dominos') : back()"><i class="back"></i> <i18n>userBook.directory.back</i18n></a>
	</h2>
 	<article class="rigid-grid cell twelve small-text">

		<div class="cell four height-four reduce-block-six avatar">
			<div class="twelve cell fluid clip">
				<img ng-src="/userbook/avatar/[[currentUser.id]]?thumbnail=381x381" />
			</div>
		</div>

		<div class="sheet">
			<h2 class="reduce-block-four ten cell">[[currentUser.displayName]]</h2>

			<div class="right-magnet">
				<i class="[[currentUser.mood]] liquid text-flow"></i>
			</div>

			<div class="row" ng-if="currentUser.type && currentUser.type.length">
				<div class="four cell reduce-block-four" translate content="userBook.profile.type"></div>
				<em class="eight cell reduce-block-four" translate content="[[ currentUser.type[0] ]]"></em>
			</div>

			<div class="row" ng-if="currentUser.email">
				<div class="four cell reduce-block-four" translate content="userBook.profile.email"></div>
				<em class="eight cell reduce-block-four">
					[[currentUser.email]]
				</em>
			</div>

			<div class="row" ng-if="currentUser.tel">
				<div class="four cell reduce-block-four" translate content="userBook.profile.telephone"></div>
				<em class="eight cell reduce-block-four">
					[[currentUser.tel]]
				</em>
			</div>

			<div class="row" ng-if="currentUser.mobile">
				<div class="four cell reduce-block-four" translate content="userBook.profile.mobilePhone"></div>
				<em class="eight cell reduce-block-four">
					[[currentUser.mobile]]
				</em>
			</div>
			<div class="row" ng-if="currentUser.birthdate">
				<div class="four cell reduce-block-four" translate content="userBook.profile.birthdate"></div>
				<em class="eight cell reduce-block-four">
					[[longDate(currentUser.birthdate)]]
				</em>
			</div>
			<div class="row" ng-if="currentUser.motto">
				<div class="four cell reduce-block-four" translate content="userBook.profile.motto"></div>
				<em class="eight cell reduce-block-four">
					[[currentUser.motto]]
				</em>
			</div>
		</div>
	</article>
</div>

<div class="row reduce-block-six">
	<article class="twelve cell actions-list" ng-include="template.containers.userActions">

	</article>
</div>

<div class="row"></div>

<div class="row reduce-block-six" ng-if="displayFamily(currentUser)">

	<article class="row">
        <h1 translate content="userBook.profile.family"></h1>
		<div class="row" ng-repeat="relative in currentUser.relatives">
			<a ng-click="selectUser(relative)" class="reduce-block-four twelve cell">[[relative.displayName]]</a>
		</div>
		<div class="row"></div>
	</article>
</div>
<div class="row"></div>

<div class="row reduce-block-six" ng-if="currentUser.schools.length">

	<article>
        <h1 translate key="userBook.profile.schools"></h1>
		<div ng-repeat="school in currentUser.schools | orderBy:'name'">
			<h3>[[school.name]]</h3>
			<strong ng-if="school.classes && school.classes.length"><i18n>userBook.profile.classes</i18n></strong>
			<ul ng-if="school.classes && school.classes.length" class="list">
				<li ng-repeat="class in school.classes track by $index">[[class]]</li>
			</ul>
		</div>
	</article>
</div>

<div class="row reduce-block-six" ng-if="currentUser.hobbies.length">
	<article>
        <h1 translate key="userBook.interests"></h1>

        <div class="row medium-text line" ng-repeat="hobby in currentUser.hobbies | orderBy:'category'">
			<div class="four-mobile three cell reduce-block-six" translate content="userBook.hobby.[[hobby.category]]"></div>
			<em class="six-mobile nine cell reduce-block-six user-content horizontal-spacing">[[hobby.values]]</em>
		</div>

		<div class="row"></div>
	</article>
</div>

<div class="row reduce-block-six" ng-if="currentUser.health">
	<article>
        <h1 ng-if="currentUser.health">
        	<i18n>userBook.profile.health</i18n>
        </h1>
        <div class="row medium-text">
            [[currentUser.health]]
        </div>
    </article>
</div>
