<div class="row">
	<div class="action-item">
		<a ng-href="/conversation/conversation#/write-mail/[[currentUser.id]]" class="twelve">
			<i class="send-mail inline"></i>
			<span class="block-container"><i18n>userBook.class.write-message</i18n></span>
		</a>
	</div>

	<div class="action-item">
		<a class="twelve" ng-click="display.lightbox.addFavorite = true">
			<i class="add-favorite inline"></i>
			<span class="block-container"><i18n>userBook.directory.addToFavorite</i18n></span>
		</a>
	</div>
</div>

<div class="row"></div>