<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

<div class="row rigid-grid" workflow="directory.showMoodMotto">
	<div class="four cell twelve-mobile mood" style="height: 100px;">

		<div class="row horizontal-spacing-twice" style="z-index: 1">
			<div class="twelve cell centered">
				<media-select ng-model="account.picture" ng-change="saveChanges()" label="userBook.profile.changeavatar" file-format="'img'" class="cell"></media-select>
				<button type="button" i18n-value="remove" ng-if="account.picture !== ''" ng-click="resetAvatar()" class="cell">[[translate('userBook.remove')]]</button>
			</div>
		</div>


		<div class="cell twelve">
			<div class="twelve cell reduce-block-six">
				<icons-select class="icons-select cell twelve height-two" current="account.mood" options="availableMoods" change="saveUserbookProperty('mood')">
					<div>[[mon-binding]]</div>
				</icons-select>
			</div>
		</div>

	</div>


	<div class="margin-four reduce-block-six twelve-mobile" workflow="directory.showMoodMotto">
		<article class="twelve cell" style="height: 103px; padding-top: 20px;margin:0">
			<div class="row">
				<h2 translate content="userBook.profile.motto"></h2>
				<input type="text" class="twelve cell monoline" maxlength="75"
					   complete-change="saveUserbookProperty('motto')"
					   ng-model="account.motto" />
			</div>
		</article>
	</div>

</div>

<div class="row reduce-block-six" ng-if="displayChildren(account)">
	<article class="row">
		<h2 translate content="userBook.profile.children"></h2>
		<content-divider
			ng-model="account.childrenStructure"
			order="structureName">
			<div>
				<h4 class="cell-ellipsis">[[content.structureName]]</h4>
				<div class="flex-row top-spacing-twice" ng-repeat="child in content.children | orderBy:'displayName'">
					<div class="cell round bg-white square-medium right-spacing">
						<img ng-src="/userbook/avatar/[[child.id]]?thumbnail=100x100"/>
					</div>
					<div>
						<span class="cell-ellipsis small-text block left-text">[[ child.displayName ]]</span>
						<span class="cell-ellipsis low-importance smaller-text medium-importance italic-text block left-text">[[ child.classesNames[0] ]]</span>
					</div>
				</div>
			</div>
		</content-divider>
	</article>
</div>

<div class="row reduce-block-six" ng-if="displayRelatives(account)">
	<article class="row">
		<h2 translate content="userBook.profile.relatives"></h2>
		<div class="reduce-block-eight">
			<div class="flex-row top-spacing-twice" ng-repeat="relative in account.relatives | orderBy:'displayName'">
				<div class="cell round bg-white square-medium right-spacing">
					<img ng-src="/userbook/avatar/[[relative.id]]?thumbnail=100x100"/>
				</div>
				<div>
					<span class="cell-ellipsis small-text block left-text">[[ relative.displayName ]]</span>
				</div>
			</div>
		</div>
	</article>
</div>

<div class="row reduce-block-six" ng-if="account.attachedStructures.length">
	<article>
		<h2 translate key="userBook.profile.schools"></h2>
		<content-divider
			ng-model="account.attachedStructures"
			order="name">
			<div class="width-medium-no-mobile-fat-mobile">
				<h4 class="multiline-ellipsis-three" tooltip="[[content.name]]" tooltip-check-content>[[content.name]]</h4>
				<i18n class="top-spacing-three indication italic-text" ng-if="content.admin">portal.admin.attached</i18n>
				<i18n class="top-spacing-three indication italic-text accent-color" ng-if="content.adml">portal.adml</i18n>
				<ul ng-if="content.classes && content.classes.length" class="list no-padding overflow-vertical-height-list">
					<li ng-repeat="class in content.classes track by $index">[[class]]</li>
				</ul>
			</div>
		</content-divider>
	</article>
</div>

<div class="row reduce-block-six twelve-mobile">
	<article>
		<h2><i18n>userBook.interests</i18n></h2>

		<div class="row line" data-ng-repeat="hobby in account.hobbies | orderBy:'category'">
			<div class="two cell reduce-block-six"><span>[[translate('userBook.hobby.' + hobby.category)]]</span></div>
			<div class="nine cell">
				<textarea complete-change="saveChanges()" ng-model="hobby.values" class="twelve cell inline-editing"></textarea>
			</div>
			<div class="one cell"><i class="[[hobby.visibility.toLowerCase()]] right-magnet" title="[[translate(hobby.visibility.toLowerCase())]]" data-ng-click="changeVisibility(hobby)"></i></div>
			<div class="clear"></div>
		</div>
	</article>
</div>

<div class="clear"></div>

<div class="row reduce-block-six twelve-mobile">
	<article>
		<h2>
			<span translate content="userBook.profile.health"></span>
			<i class="[[account.visible.health]] right-magnet" title="[[translate(account.visible.health)]]" data-ng-click="changeInfosVisibility('health', account.visible.health)"></i></h2>

		<textarea data-ng-model="account.health" complete-change="saveChanges()"></textarea>
	</article>
	</div>
	<div class="clear"></div>
</div>
