<!--

 -->

<div class="row rigid-grid" workflow="directory.showMoodMotto">
	<div class="four cell twelve-mobile mood" style="height: 100px;">
		<div class="row horizontal-spacing-twice" style="z-index: 1">
			<div class="twelve cell centered">
				<media-select ng-model="account.picture" ng-change="saveChanges()" label="userBook.profile.changeavatar"
				 file-format="'img'" class="cell"></media-select>
				<button type="button" i18n-value="remove" ng-if="account.picture !== ''" ng-click="resetAvatar()" class="cell">[[translate('userBook.remove')]]</button>
			</div>
		</div>
		<div class="cell twelve">
			<div class="twelve cell">
				<icons-select class="reduce-block-six icons-select cell twelve height-two" current="account.mood" options="availableMoods"
				 change="saveUserbookProperty('mood')">
					<div>[[mon-binding]]</div>
				</icons-select>
			</div>
		</div>
	</div>

	<div class="margin-four reduce-block-six twelve-mobile" workflow="directory.showMoodMotto">
		<article class="twelve cell" style="padding-top: 20px;margin:0">
			<div class="row">
				<h2 translate content="userBook.profile.motto"></h2>
				<div class="flex-row twelve cell">
					<div class="flex-all-remains">
						<input class="twelve no-margin monoline top-spacing-twice" type="text" maxlength="75" ng-model="account.motto"
						 complete-change="updateMottoChanged()" />
						<span class="twelve input-warnings" ng-if="!motto.published">
							<label>
								<i18n>userBook.motto.warning</i18n>
							</label>
						</span>
					</div>
					<button class="left-spacing-twice bottom-spacing-three block" ng-click="publishMotto()" ng-disabled="!isMottoChanged()">
						<i18n>portal.publish</i18n>
					</button>
				</div>
			</div>
		</article>
	</div>
</div>

<div class="row reduce-block-six" ng-if="displayChildren(account)">
	<article class="row">
		<h2 translate content="userBook.profile.children"></h2>
		<content-divider ng-model="account.childrenStructure" order="structureName">
			<div>
				<strong class="cell-ellipsis">[[content.structureName]]</strong>
				<div class="flex-row top-spacing-twice" ng-repeat="child in content.children | orderBy:'displayName'">
					<div class="cell round bg-white square-medium right-spacing">
						<img ng-src="/userbook/avatar/[[child.id]]?thumbnail=100x100" />
					</div>
					<div>
						<span class="cell-ellipsis small-text block left-text">[[ child.displayName ]]</span>
						<span class="cell-ellipsis low-importance smaller-text medium-importance italic-text block left-text">[[
							child.classesNames[0] ]]</span>
					</div>
				</div>
			</div>
		</content-divider>
	</article>
</div>

<div class="row reduce-block-six" ng-if="displayRelatives(account)">
	<article class="row">
		<h2 translate content="userBook.profile.relatives"></h2>
		<div class="reduce-block-eight">
			<div class="flex-row align-center top-spacing-twice" ng-repeat="relative in account.relatives | orderBy:'displayName'">
				<div class="cell round bg-white square-medium right-spacing">
					<img ng-src="/userbook/avatar/[[relative.id]]?thumbnail=100x100" />
				</div>
				<div>
					<span class="cell-ellipsis small-text block left-text">[[ relative.displayName ]]</span>
				</div>
			</div>
		</div>
	</article>
</div>

<div class="row reduce-block-six" ng-if="account.attachedStructures.length">
	<article>
		<h2 translate key="userBook.profile.schools"></h2>
		<content-divider ng-model="account.attachedStructures" order="name">
			<div class="width-medium-no-mobile-fat-mobile">
				<strong class="multiline-ellipsis-three block" tooltip="[[content.name]]" tooltip-check-content>[[content.name]]</strong>
				<i18n class="top-spacing-three indication italic-text" ng-if="content.admin">portal.admin.attached</i18n>
				<i18n class="top-spacing-three indication italic-text accent-color" ng-if="content.adml">portal.adml</i18n>
				<ul ng-if="content.classes && content.classes.length" class="list no-padding overflow-vertical-height-list">
					<li ng-repeat="class in content.classes | orderBy:'toString()'">[[class]]</li>
				</ul>
			</div>
		</content-divider>
	</article>
</div>

<div class="row reduce-block-six twelve-mobile">
	<article>
		<h2>
			<i18n>userBook.interests</i18n>
		</h2>

		<div class="row" data-ng-repeat="hobby in account.hobbies | orderBy:'category'">
			<div class="two cell reduce-block-six"><span>[[translate('userBook.hobby.' + hobby.category)]]</span></div>
			<div class="nine cell">
				<input type="text" complete-change="saveChanges()" ng-model="hobby.values" class="twelve cell inline-editing" />
			</div>
			<div class="one cell"><i class="[[hobby.visibility.toLowerCase()]] right-magnet" title="[[translate(hobby.visibility.toLowerCase())]]"
				 data-ng-click="changeVisibility(hobby)"></i></div>
			<div class="clear"></div>
		</div>
	</article>
</div>

<div class="clear"></div>

<div class="row reduce-block-six twelve-mobile">
	<article>
		<h2>
			<span translate content="userBook.profile.health"></span>
			<i class="[[account.visible.health]] right-magnet" title="[[translate(account.visible.health)]]" data-ng-click="changeInfosVisibility('health', account.visible.health)"></i></h2>

		<textarea data-ng-model="account.health" complete-change="saveChanges()"></textarea>
	</article>
</div>
<div class="clear"></div>
</div>

<div class="row reduce-block-six">
	<article>
		<h2>
			<i18n>cgu.title</i18n>
		</h2>
		<p>
			<span class="row medium-text">
				<i18n>cgu.text.charter.usage</i18n> <a ng-href="[[userCharterUrl]]" target="_blank"><i18n>cgu.link.clickhere</i18n></a>
			</span>
			<span class="row medium-text">
				<i18n>cgu.text.cgu</i18n> <a ng-href="[[cguUrl]]" target="_blank"><i18n>cgu.link.clickhere</i18n></a>
			</span>
			<span class="row medium-text">
				<i18n>cgu.text.charter.protection</i18n> <a ng-href="[[privacyPolicyUrl]]" target="_blank"><i18n>cgu.link.clickhere</i18n></a>
			</span>
		</p>
	</article>
</div>

<div class="row reduce-block-six" ng-if="hasMI">
	<article>
		<h2>
			<i18n>data.protection.title</i18n>
		</h2>
		<div class="row medium-text">
			<a ng-href="[[miUrl]]" target="_blank" translate content="label.data.protection"></a>
		</div>
	</article>
</div>

<div class="row reduce-block-six">
	<article id="rgpd_cookies">
		<h2>
			<i18n>rgpd.cookies.title</i18n>
		</h2>
		<div class="row medium-text">
			<p><i18n>rgpd.cookies.text</i18n></p>
			<p class="bold bottom-spacing-small"><i18n>rgpd.cookies.mandatory.title</i18n></p>
			<p class="italic-text top-spacing-small"><i18n>rgpd.cookies.mandatory.text</i18n></p>
			<p class="bold bottom-spacing-small"><i18n>rgpd.cookies.stats.title</i18n></p>
			<p class="italic-text top-spacing-small"><i18n>rgpd.cookies.stats.text</i18n></p>
		</div>
	</article>
</div>
