<ode-panel-section
  *ngIf="group.subType === 'BroadcastGroup'"
  section-title="group.details.broadcast.autoLink.mainSection.title"
  [folded]="true"
>
  <form
    (ngSubmit)="onAutolinkSubmit()"
    #autoLinkForm="ngForm"
    [className]="!showActions ? 'readonly-form' : ''"
  >
    <!-- Autolink form submit button -->
    <section class="is-display-flex has-flex-end" *ngIf="showActions">
      <button type="submit">
        <s5l>save</s5l>
        <i class="fa fa-save"></i>
      </button>
    </section>

    <!-- Structures Selection -->
    <section
      *ngIf="structure?.children && structure?.children?.length > 0"
      class="is-display-flex has-direction-column"
    >
      <h2>
        <s5l>group.details.broadcast.autoLink.structuresSection.title</s5l>
      </h2>
      <div class="is-display-flex has-vertical-padding-10">
        <input
          type="radio"
          [(ngModel)]="form.subStructuresRadio"
          name="autolinkStructures"
          value="all"
          (click)="
            showSubStructutresPickerButton = false;
            form.subStructuresIds = [];
            lightboxSubStructureIds = [];
            this.checked = true
          "
          id="allStructures"
        />
        <label for="allStructures" class="has-left-padding-10">
          <s5l>group.details.broadcast.autoLink.structuresSection.includeSubStructuresLabel</s5l>
        </label>
      </div>

      <div class="is-display-flex has-vertical-padding-10">
        <input
          type="radio"
          [(ngModel)]="form.subStructuresRadio"
          name="autolinkStructures"
          value="manual"
          (click)="
            showSubStructutresPickerButton = true; 
            this.checked = true
          "
          id="structuresSelect"
        />
        <label for="structuresSelect" class="has-left-padding-10">
          <s5l>group.details.broadcast.autoLink.structuresSection.pickStructuresLabel</s5l>
        </label>
      </div>
      <!-- Substructures opening button -->
      <div
        *ngIf="
          showActions &&
          (showSubStructutresPickerButton || form.subStructuresIds?.length > 0)
        "
      >
        <button
          (click)="openSubStructuresLightbox()"
          type="button"
          class="is-flex-none has-right-margin-10 has-left-margin-30"
        >
          <s5l>group.details.broadcast.autoLink.structuresSection.subStructuresPicker.select</s5l>
        </button>
        <span>
          {{ form.subStructuresIds?.length }}
          <s5l>group.details.broadcast.autoLink.structuresSection.subStructuresPicker.selected</s5l>
        </span>
      </div>

      <ode-item-tree
        [items]="structureTreeItems"
        order="name"
        display="name"
        *ngIf="
          !showActions &&
          (showSubStructutresPickerButton || form.subStructuresIds?.length > 0)
        "
        [checkboxMode]="true"
      >
      </ode-item-tree>
      <!-- Substructures lightbox -->
      <ode-lightbox
        [show]="showSubStructuresLightbox"
        (onClose)="showSubStructuresLightbox = false"
      >
        <h2>
          <s5l>group.details.broadcast.autoLink.structuresSection.subStructuresLightbox.title</s5l>
        </h2>
        <p>
          <s5l class="select-link" (click)="selectAll()">select.all</s5l>
          / <s5l class="select-link" (click)="unselectAll()">deselect.all</s5l>
        </p>
        <div class="has-vertical-margin-20" style="overflow: auto">
          <ode-item-tree
            [items]="structureTreeItems"
            order="name"
            display="name"
            [checkboxMode]="true"
            (onCheck)="addOrRemoveChild($event)"
          >
          </ode-item-tree>
        </div>
        <div class="is-display-flex has-flex-end">
          <button
            type="button"
            class="is-pulled-right"
            (click)="saveAndClose()"
          >
            <s5l>save</s5l>
          </button>
        </div>
      </ode-lightbox>
    </section>

    <!-- Profiles Selection -->
    <section>
      <h2>
        <s5l>group.details.broadcast.autoLink.profilesSection.title</s5l>
      </h2>

      <!-- Teacher -->
      <div class="is-display-flex has-vertical-padding-10">
        <input
          type="radio"
          [(ngModel)]="form.profile"
          name="autolinkProfile"
          value="Teacher"
          id="autolinkTeachers"
          (click)="
            showTeachersSubSection = true;
            showPersonnelSubSection = false;
            showStudentsSubSection = false;
            showRelativesSubSection = false;
            this.checked = true;
          "
        />
        <label for="autolinkTeachers" class="has-left-padding-10">
          <s5l>group.details.broadcast.autoLink.profilesSection.include.teachers</s5l>
        </label>
      </div>

      <div *ngIf="showTeachersSubSection || form.profile === 'Teacher'" class="bordered-section">
        <!-- All teachers -->
        <div class="is-display-flex has-vertical-padding-10">
          <input
            type="radio"
            [(ngModel)]="form.teacherSubSectionRadio"
            name="teacherSubSectionRadio"
            value="all"
            id="autolinkTeachersAll"
            [checked]="isAllTeachersRadioChecked()"
            (click)="
              showDisciplinesPicker = false; 
              this.checked = true;
            "
          />
          <label for="autolinkTeachersAll" class="has-left-padding-10">
            <s5l>group.details.broadcast.autoLink.profilesSection.include.teachers.all</s5l>
          </label>
        </div>

        <!-- Head Teacher -->
        <div class="is-display-flex has-vertical-padding-10">
          <input
            type="radio"
            [(ngModel)]="form.teacherSubSectionRadio"
            name="teacherSubSectionRadio"
            value="HeadTeacher"
            id="autolinkHeadTeachers"
            (click)="
              showDisciplinesPicker = false; 
              this.checked = true;
            "
          />
          <label for="autolinkHeadTeachers" class="has-left-padding-10">
            <s5l>group.details.broadcast.autoLink.profilesSection.include.teachers.headteachers</s5l>
          </label>
        </div>

        <!-- Disciplines -->
        <div class="is-display-flex has-vertical-padding-10">
          <input
            type="radio"
            [(ngModel)]="form.teacherSubSectionRadio"
            name="teacherSubSectionRadio"
            value="disciplines"
            id="autolinkDisciplines"
            (click)="
              showDisciplinesPicker = true; 
              this.checked = true;
            "
          />
          <label for="autolinkDisciplines" class="has-left-padding-10">
            <s5l>group.details.broadcast.autoLink.profilesSection.include.teachers.disciplines</s5l>
          </label>
        </div>
        <div *ngIf="showDisciplinesPicker || form.teacherSubSectionRadio === 'disciplines'">
          <ode-multi-combo
            [comboModel]="disciplineOptions"
            [(outputModel)]="form.selectedDisciplines"
            [title]="'disciplines.multi.combo.title' | translate"
            *ngIf="showActions"
          >
          </ode-multi-combo>
          <div class="multi-combo-companion">
            <div
              *ngFor="let item of form.selectedDisciplines"
              (click)="unselectDiscipline(item)"
            >
              <s5l>{{ item }}</s5l>
              <i class="fa fa-trash is-size-5" *ngIf="showActions"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- Personnel -->
      <div class="is-display-flex has-vertical-padding-10">
        <input
          type="radio"
          [(ngModel)]="form.profile"
          name="autolinkProfile"
          value="Personnel"
          id="autolinkPersonnel"
          (click)="
            showPersonnelSubSection = true;
            showTeachersSubSection = false;
            showStudentsSubSection = false;
            showRelativesSubSection = false;
            this.checked = true;
          "
        />
        <label for="autolinkPersonnel" class="has-left-padding-10">
          <s5l>group.details.broadcast.autoLink.profilesSection.include.personnels</s5l>
        </label>
      </div>
      <div *ngIf="showPersonnelSubSection || form.profile === 'Personnel'" class="bordered-section">
        <!-- Functions -->
        <div class="is-display-flex has-vertical-padding-10">
          <input
            type="radio"
            [(ngModel)]="form.personnelSubSectionRadio"
            value="functionGroups"
            name="personnelSubSectionRadio"
            id="autolinkFunctions"
            (click)="handleFunctionsClick($event)"
          />
          <label for="autolinkFunctions" class="has-left-padding-10">
            <s5l>group.details.broadcast.autoLink.profilesSection.include.teachers.functions</s5l>
          </label>
        </div>
        <div *ngIf="showFunctionsPicker || form.personnelSubSectionRadio === 'functionGroups'">
          <ode-multi-combo
            [comboModel]="functionOptions"
            [(outputModel)]="form.selectedFunctions"
            [title]="'functionsgroup.multi.combo.title' | translate"
            *ngIf="showActions"
          >
          </ode-multi-combo>
          <div class="multi-combo-companion">
            <div
              *ngFor="let item of form.selectedFunctions"
              (click)="unselectFunction(item)"
            >
              <s5l>{{ item }}</s5l>
              <i class="fa fa-trash is-size-5" *ngIf="showActions"></i>
            </div>
          </div>
        </div>

         <!-- UserPosition -->
        <div class="is-display-flex has-vertical-padding-10">
          <input
            type="radio"
            [(ngModel)]="form.personnelSubSectionRadio"
            value="usersPositions"
            name="personnelSubSectionRadio"
            id="autolinkUsersPosition"
            (click)="handleUsersPositionsClick($event)"
          />
          <label for="autolinkUsersPosition" class="has-left-padding-10">
            <s5l>group.details.broadcast.autoLink.profilesSection.include.teachers.usersPositions</s5l>
          </label>
        </div>
        <div *ngIf="showUsersPositionsPicker || form.personnelSubSectionRadio === 'usersPositions'">
          <ode-multi-combo
            [comboModel]="usersPositionsOptions"
            [(outputModel)]="form.selectedUsersPositions"
            [title]="'functionsgroup.multi.combo.title' | translate"
            *ngIf="showActions"
          >
          </ode-multi-combo>
          <div class="multi-combo-companion">
            <div
              *ngFor="let item of form.selectedUsersPositions"
              (click)="unselectUsersPositions(item)"
            >
              <s5l>{{ item }}</s5l>
              <i class="fa fa-trash is-size-5" *ngIf="showActions"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- Students -->
      <div class="is-display-flex has-vertical-padding-10">
        <input
          type="radio"
          [(ngModel)]="form.profile"
          name="autolinkProfile"
          value="Student"
          id="autolinkStudents"
          (click)="
            showStudentsSubSection = this.structure.levels && this.structure.levels.length > 0;
            form.studentSubSectionRadio = 'all';
            showLevelsPicker = false;
            form.selectedLevels = [];
            showPersonnelSubSection = false;
            showTeachersSubSection = false;
            showRelativesSubSection = false;
            this.checked = true;
          "
        />
        <label for="autolinkStudents" class="has-left-padding-10">
          <s5l>group.details.broadcast.autoLink.profilesSection.include.students</s5l>
        </label>
      </div>

      <div *ngIf="showStudentsSubSection " class="bordered-section">
        <!-- All students -->
        <div class="is-display-flex has-vertical-padding-10">
          <input
            type="radio"
            [(ngModel)]="form.studentSubSectionRadio"
            name="studentSubSectionRadio"
            value="all"
            id="autolinkStudentsAll"
            [checked]="form.studentSubSectionRadio !== 'levels'"
            (click)="
              showLevelsPicker = false;
              form.selectedLevels = [];
              this.checked = true;
            "
          />
          <label for="autolinkStudentsAll" class="has-left-padding-10">
            <s5l>group.details.broadcast.autoLink.profilesSection.include.students.all</s5l>
          </label>
        </div>
        <!-- Filter by levels -->
        <div class="is-display-flex has-vertical-padding-10">
          <input
            type="radio"
            [(ngModel)]="form.studentSubSectionRadio"
            name="studentSubSectionRadio"
            value="levels"
            id="autolinkLevels"
            [checked]="form.studentSubSectionRadio === 'levels'"
            (click)="
              showLevelsPicker = true;
              this.checked = true;
            "
          />
          <label for="autolinkLevels" class="has-left-padding-10">
            <s5l>group.details.broadcast.autoLink.profilesSection.include.students.levels</s5l>
          </label>
        </div>
        <div *ngIf="showLevelsPicker || form.studentSubSectionRadio === 'levels'">
          <ode-multi-combo
            [comboModel]="levelOptions"
            [(outputModel)]="form.selectedLevels"
            [title]="'levels.multi.combo.title' | translate"
            *ngIf="showActions"
          >
          </ode-multi-combo>
          <div class="multi-combo-companion">
            <div
              *ngFor="let item of form.selectedLevels"
              (click)="unselectLevel(item)"
            >
              <s5l>{{ item }}</s5l>
              <i class="fa fa-trash is-size-5" *ngIf="showActions"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- Relatives -->
      <div class="is-display-flex has-vertical-padding-10">
        <input
          type="radio"
          [(ngModel)]="form.profile"
          name="autolinkProfile"
          value="Relative"
          id="autolinkRelatives"
          (click)="
            showRelativesSubSection = this.structure.levels && this.structure.levels.length > 0;
            form.relativeSubSectionRadio = 'all';
            showLevelsPicker = false;
            form.selectedLevels = [];
            showPersonnelSubSection = false;
            showTeachersSubSection = false;
            showStudentsSubSection = false;
            this.checked = true;
          "
        />
        <label for="autolinkRelatives" class="has-left-padding-10">
          <s5l>group.details.broadcast.autoLink.profilesSection.include.relatives</s5l>
        </label>
      </div>
    </section>

    <div *ngIf="showRelativesSubSection " class="bordered-section">
      <!-- All relatives -->
      <div class="is-display-flex has-vertical-padding-10">
        <input
          type="radio"
          [(ngModel)]="form.relativeSubSectionRadio"
          name="relativeSubSectionRadio"
          value="all"
          id="autolinkRelativesAll"
          [checked]="form.relativeSubSectionRadio !== 'levels'"
          (click)="
            showLevelsPicker = false;
            form.selectedLevels = [];
            this.checked = true;
          "
        />
        <label for="autolinkRelativesAll" class="has-left-padding-10">
          <s5l>group.details.broadcast.autoLink.profilesSection.include.relatives.all</s5l>
        </label>
      </div>
      <!-- Filter by levels -->
      <div class="is-display-flex has-vertical-padding-10">
        <input
          type="radio"
          [(ngModel)]="form.relativeSubSectionRadio"
          name="relativeSubSectionRadio"
          value="levels"
          id="autolinkLevels"
          [checked]="form.relativeSubSectionRadio === 'levels'"
          (click)="
            showLevelsPicker = true;
            this.checked = true;
          "
        />
        <label for="autolinkLevels" class="has-left-padding-10">
          <s5l>group.details.broadcast.autoLink.profilesSection.include.relatives.levels</s5l>
        </label>
      </div>
      <div *ngIf="showLevelsPicker || form.relativeSubSectionRadio === 'levels'">
        <ode-multi-combo
          [comboModel]="levelOptions"
          [(outputModel)]="form.selectedLevels"
          [title]="'levels.multi.combo.title' | translate"
          *ngIf="showActions"
        >
        </ode-multi-combo>
        <div class="multi-combo-companion">
          <div
            *ngFor="let item of form.selectedLevels"
            (click)="unselectLevel(item)"
          >
            <s5l>{{ item }}</s5l>
            <i class="fa fa-trash is-size-5" *ngIf="showActions"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- Administrators Selection -->
    <section>
      <h2>
        <s5l>group.details.broadcast.autoLink.adminSection.title</s5l>
      </h2>
      <div class="is-display-flex has-vertical-padding-10">
        <input
          type="radio"
          [(ngModel)]="form.profile"
          name="autolinkProfile"
          value="AdminLocal"
          id="autolinkAdml"
          (click)="
            showPersonnelSubSection = false;
            showTeachersSubSection = false;
            this.checked = true;
          "
        />
        <label for="autolinkAdml" class="has-left-padding-10">
          <s5l>group.details.broadcast.autoLink.adminSection.include.adml</s5l>
        </label>
      </div>
    </section>
  </form>
</ode-panel-section>
