@import "../../../../../assets/variables";

.bordered-section {
    border: 1px solid $grey-medium;
    padding: 10px;
}

.select-link {
    cursor: pointer;
    color: dodgerblue;
}

.readonly-form {
    input, label, ode-item-tree {
        pointer-events: none;
    }
}