<ux-portal>
    <div header-left>
        <i class="fa" aria-hidden="true"
           [ngClass]="{'fa-times': openside, 'fa-bars': !openside}"
           (click)="openside = !openside"
           #sidePanelOpener></i>
        <span>{{ currentStructure?.name }}</span>
    </div>
    <div header-right>
        <a class="old-console" href="/directory/admin-console"
            [tooltip]="'switch.old.admin.console.tooltip' | translate">
            <i class="fa fa-step-backward"></i>
        </a>
        <a href="/auth/logout" [tooltip]="'logout' | translate">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
        <i class="fa fa-exclamation-triangle"
            *ngIf="currentStructure"
            [tooltip]="'reports' | translate"></i>
        <i class="fa fa-th"
            *ngIf="currentStructure"
            [tooltip]="'applications' | translate"></i>
        <i class="fa fa-users"
            *ngIf="currentStructure"
            [tooltip]="'groups' | translate"
            [routerLink]="'/admin/' + currentStructure?.id + '/groups'"
            [class.active]="router.isActive('/admin/' + currentStructure?.id + '/groups', false)"></i>
        <i class="fa fa-user" aria-hidden="true"
            *ngIf="currentStructure"
            [tooltip]="'users' | translate"
            [routerLink]="'/admin/' + currentStructure?.id + '/users'"
            [class.active]="router.isActive('/admin/' + currentStructure?.id + '/users', false)"></i>
        <i class="fa fa-home" aria-hidden="true"
            *ngIf="currentStructure"
            [tooltip]="'structure' | translate"
            [routerLink]="'/admin/' + currentStructure?.id"
            [class.active]="router.isActive('/admin/' + currentStructure?.id, true)"></i>
    </div>
    <div section>
        <side-panel [toggle]="openside" (onClose)="openside = false" [opener]="sidePanelOpener">
             <div class="side-search">
                 <search-input (onChange)="structureFilter = $event" [attr.placeholder]="'search.structure' | translate"></search-input>
             </div>
             <item-tree
                [items]="structures"
                order="name"
                display="name"
                [flatten]="structureFilter && structureFilter.trim() ? ['children'] : []"
                [filter]="{ name : structureFilter && structureFilter.trim() }"
                (onSelect)="currentStructure = $event"
                [lastSelected]="currentStructure"></item-tree>
        </side-panel>

        <spinner-cube class="portal-spinner" waitingFor="portal-content"></spinner-cube>

        <div class="portal-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</ux-portal>