<div class="panel-section">
  <div *ngIf="connector.roles.length == 0" class="message is-warning has-margin-10">
    <div class="message-body">
      {{ 'services.connector.roles.list.empty' | translate }}
    </div>
  </div>

  <div *ngFor="let role of connector.roles">
    <services-role
      [role]="role"
      [disabled]="disabled"
      (openLightbox)="openRoleAttributionLightbox($event)"
      (onRemove)="remove.emit({group: $event, role: role})">
    </services-role>
  </div>
</div>

<services-role-attribution
  [show]="showRoleAttributionLightbox"
  [assignmentGroupPickerList]="assignmentGroupPickerList"
  (close)="showRoleAttributionLightbox = false"
  sort="name"
  searchPlaceholder="search.group"
  noResultsLabel="list.results.no.groups"
  (add)="add.emit({group: $event, role: selectedRole})"
  [selectedRole]="selectedRole">
</services-role-attribution>
