<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

<header class="navbar">
	<h1 translate content="admin.header">admin.header</h1>
	<a class="right-magnet cell" href="/auth/logout"><i class="disconnect"></i></a>
	<div ng-repeat="theme in themes"
		class="right-magnet cell admin-theme-picker [[theme.name]]"
		ng-click="setTheme(theme)"></div>
</header>
<nav ng-controller="Admin" class="vertical admin-bar">
	<!--button ng-click="scrollUp()">Remonter</button-->
	<ul>
		<li ng-repeat="url in urls | orderBy : orderUrls | filter: filterUrls" ng-class="{ selected: getHighlight(url) }">
			<a ng-href="[[url.url]]" ng-class="{ selected: getHighlight(url) }" translate content="admin.[[url.name]]"></a>
			<ul>
				<li ng-repeat="child in url.children"><a ng-href="[[child.url]]" translate content="admin.[[child.name]]"></a></li>
			</ul>
		</li>
	</ul>
</nav>
<section class="container">
	<section class="main" ng-transclude></section>
</section>
