<!--

 -->

<header class="navbar">
	<h1 translate content="admin.header">admin.header</h1>
	<a class="right-magnet cell" href="/auth/logout"><i class="disconnect"></i></a>
	<div ng-repeat="theme in themes"
		class="right-magnet cell admin-theme-picker [[theme.name]]"
		ng-click="setTheme(theme)"></div>
</header>
<nav ng-controller="Admin" class="vertical admin-bar">
	<!--button ng-click="scrollUp()">Remonter</button-->
	<ul>
		<li ng-repeat="url in urls | orderBy : orderUrls | filter: filterUrls" ng-class="{ selected: getHighlight(url) }">
			<a ng-href="[[url.url]]" ng-class="{ selected: getHighlight(url) }" translate content="admin.[[url.name]]"></a>
			<ul>
				<li ng-repeat="child in url.children"><a ng-href="[[child.url]]" translate content="admin.[[child.name]]"></a></li>
			</ul>
		</li>
	</ul>
</nav>
<section class="container">
	<section class="main" ng-transclude></section>
</section>
