<!--

 -->

<div class="birthday" localized-class>
	<h1 translate key="birthday.title"></h1>
	<div class="content">
		<div class="row class-select" ng-if="widget.classes.length > 1">
			<div class="cell four class-label" translate key="birthday.class"></div>
			<div class="cell eight select">
				<select ng-model="widget.currentClass" ng-options="c.name for c in widget.classes" ng-change="widget.saveDefaultClass()"></select>
			</div>

		</div>
		<div class="row">
			<div ng-if="widget.birthdaysInClass().length === 0" class="text-container">
				<em>[[widget.emptyList]]</em>
			</div>
			<nav class="vertical">
				<ul>
					<li ng-repeat="birthday in widget.birthdaysInClass()">
						<a ng-href="/userbook/annuaire#[[birthday.id]]">
							<img ng-src="/userbook/avatar/[[birthday.id]]?thumbnail=48x48" />
							<div class="user"><p>[[birthday.username]]</p></div>
							<div class="date">
								<h2 class="day">[[widget.getDay(birthday.birthDate)]]</h2>
								<h4 class="month">[[widget.getMonth(birthday.birthDate)]]</h4>
							</div>
						</a>
					</li>
				</ul>
			</nav>
		</div>

	</div>
</div>