<!DOCTYPE html>
<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

<html ng-controller="ClassAdminController">
<head>
	<title>{{#i18n}}classAdmin.title{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="/directory/public/dist/entcore/ng-app.js" id="context"></script>
	<script type="text/javascript" src="/directory/public/dist/application.js"></script>
</head>
<script type="text/ng-template" id="empty"></script>
<body bottom-scroll="showMore()" class="account">
<portal>
	<h1 data-reload><i class="admin"></i> <span translate content="classAdmin.title"></span></h1>

	<article class="twelve cell" ng-if="classrooms.length > 1">
		<div class="two cell reduce-block-eight" translate content="classAdmin.select.classroom">

		</div>
		<div class="ten cell reduce-block-two">
			<select ng-model="me.preferences.selectedClass"
					ng-change="me.preferences.save('selectedClass')"
					ng-options="classroom.id as classroom.name for classroom in classrooms"
					class="twelve cell">
			</select>
		</div>
	</article>

	<section class="row">
		<h1 class="text" translate content="classAdmin.globalParams"></h1>
		<article class="twelve cell">
			<div class="row reduce-block-three medium-text">
				<div class="two cell reduce-block-eight" translate content="classAdmin.className"></div>
				<div class="ten cell reduce-block-two">
					<input type="text" ng-model="classAdmin.name"
							complete-change="saveClassInfos()"
							class="twelve cell inline-editing" />
				</div>
			</div>
		</article>
		<div class="row"></div>
	</section>

	<h1 class="text row vertical-spacing-twice" translate content="classAdmin.manageUsers"></h1>
	<section class="twelve cell tabs row">
		<header ng-class="{ selected: display.show === 'Student' }"
				ng-click="show('Student')"
				translate content="directory.students">
		</header>
		<header
			ng-class="{ selected: display.show === 'Relative' }"
			ng-click="show('Relative')"
			translate content="directory.relatives">
		</header>
		<header ng-class="{ selected: display.show === 'Teacher' }"
				ng-click="show('Teacher')"
				translate content="userBook.teachers">
		</header>
		<header ng-class="{ selected: display.show === 'Personnel' }"
				ng-click="show('Personnel')"
				translate content="directory.personnels">
		</header>
		<section class="medium-text">
			<div class="row line">
				<div class="cell" ng-if="display.importing">
					<loading-icon class="cell" request="loadingUsers" default="loading" />
				</div>
				<div class="eleven cell reduce-block-eight" ng-hide="display.show === 'Personnel' || display.show == 'Teacher'">

					<span translate content="fill.manual"></span>
					<a translate content="classAdmin.importFile" ng-click="openView('importCSV', 'lightbox')"></a>
				</div>
				<div class="row"></div>
			</div>
			<div class="row">
				<article class="twelve cell vertical-spacing-twice list-view">
					<form ng-submit="addUser()">
						<table class="row">
							<thead>
							<tr>
								<th>
									<input type="checkbox" ng-model="display.selectAll" ng-change="switchAll()" />
								</th>
								<th class="centered"></th>
								<th translate content="directory.lastName"></th>
								<th translate content="directory.firstName"></th>
								<th translate content="directory.birthdate" ng-if="display.show === 'Student'"></th>
								<th translate content="directory.login"></th>
								<th translate content="directory.activation"></th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td></td>
								<td class="action-cell">
								</td>
								<td>
									<input type="text" class="inline-editing" id="lastName" autofocus required
											translate attr="placeholder"
											placeholder="directory.lastName"
											ng-model="newUser.lastName" ng-change="newUser.lastName = newUser.lastName.toUpperCase()" />
								</td>
								<td>
									<input type="text" class="inline-editing" required
											translate attr="placeholder"
											placeholder="directory.firstName"
											ng-model="newUser.firstName" />
								</td>
								<td ng-if="display.show === 'Student'">
									<date-picker
											class="inline-editing"
											translate attr="placeholder"
											placeholder="directory.birthdate" ng-model="newUser.birthDate">
									</date-picker>
								</td>
								<td colspan="2">
									<input type="submit" class="button right-magnet"
										   translate attr="value"
										   ng-disabled="!newUser.lastName || !newUser.firstName || (display.show === 'Relative' && newUser.relatives.length === 0)"
										   value="directory.add" />
								</td>
							</tr>
							<tr class="underline" ng-if="newUser.lastName && display.show === 'Relative'">
								<td colspan="2"></td>
								<td colspan="3">
									<div class="row">
										<div class="label-badge cell" ng-repeat="relative in newUser.relatives" ng-click="removeRelative(relative)">
											<span class="cell">[[relative.firstName]] [[relative.lastName]]</span>
											<i class="close" class="right-magnet"></i>
										</div>
										<input type="text" class="twelve cell inline-editing" ng-model="display.relativeSearch"
												ng-change="updateFoundRelatives()" id="relative"
												translate attr="placeholder"
												placeholder="findkids" />
									</div>
									<drop-down
											options="foundRelatives"
											ng-change="addRelative()"
											ng-model="newUser.newRelative"
											for="relative">
									</drop-down>
								</td>
							</tr>
							<tr ng-class="{ checked: user.selected, disabled: user.blocked || user.id === me.userId }"
								ng-repeat="user in users.where({ type: display.show }) | limitTo:display.limit">
								<td><input type="checkbox" ng-model="user.selected" ng-if="user.id !== me.userId"/></td>
								<td class="action-cell centered">
									<img class="eight" ng-src="/userbook/avatar/[[user.id]]?thumbnail=48x48" />
								</td>
								<td>
									<a ng-href="/userbook/mon-compte#edit-user/[[user.id]]"
										ng-if="!user.activationCode">[[user.lastName]]</a>
									<a ng-href="/userbook/mon-compte#edit-user-infos/[[user.id]]"
										ng-if="user.activationCode">[[user.lastName]]</a>
								</td>
								<td>
									<a ng-href="/userbook/mon-compte#edit-user/[[user.id]]"
										ng-if="!user.activationCode">[[user.firstName]]</a>
									<a  ng-href="/userbook/mon-compte#edit-user-infos/[[user.id]]"
										ng-if="user.activationCode">[[user.firstName]]</a>
								</td>
								<td ng-if="display.show === 'Student'"><span ng-if="user.birthDate !== ''">[[shortDate(user.birthDate)]]</span></td>
								<td>[[user.login]]</td>
								<td>
									<span class="horizontal-spacing right-magnet">[[user.activationCode]]</span>
									<em class="low-importance horizontal-spacing right-magnet"
										ng-if="!user.activationCode"
										translate content="directory.activated"></em>
								</td>
							</tr>
							</tbody>
						</table>

					</form>
				</article>
				<a translate content="classAdmin.exportFile"
				   ng-href="/directory/class/[[classAdmin.id]]/users?type=[[display.show]]&format=csv"></a>
				<div class="row"></div>
			</div>
		</section>
	</section>
	<lightbox show="display.confirmRemove" on-close="display.confirmRemove = false">
		<h2><i18n>remove</i18n></h2>
		<p><i18n>directory.remove.confirm</i18n></p>
		<div class="row">
			<button class="right-magnet" ng-click="removeUsers()"><i18n>remove</i18n></button>
			<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="display.confirmRemove = false" />
		</div>
	</lightbox>
	<div class="row height-one"></div>
	<section class="toggle-buttons" ng-class="{ hide: users.selection().length === 0 }">
		<div class="toggle block-container">
			<div class="row">
				<button translate content="directory.resetPassword" ng-click="resetPasswords()"  ng-if="checkAllActivated()"></button>
				<button ng-click="blockUsers()"
						ng-if="!users.where({ blocked: true, selected: true }).length"
						translate content="admin.block">
				</button>
				<button ng-click="unblockUsers()"
						ng-if="users.where({ blocked: true, selected: true }).length"
						translate content="admin.unblock">
				</button>
				<button ng-if="checkUsersSource(users.where({ selected:true }))" ng-click="display.confirmRemove = true"><i18n>remove</i18n></button>
			</div>
		</div>
	</section>
</portal>
<section class="lightbox-backdrop"></section>
<section class="lightbox-window five cell">
	<div class="row" ng-include="viewsContainers.lightbox"></div>
</section>
</body>
</html>
