<!DOCTYPE html>
<html ng-controller="ClassAdminController">

<head>
	<title>{{#i18n}}classAdmin.title{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="/directory/public/dist/entcore/ng-app.js" id="context"></script>
	<script type="text/javascript" src="/directory/public/dist/application.js"></script>
	<script type="text/ng-template" id="empty"></script>
</head>

<body class="account class-admin">
	<portal>
		<!--HEADER-->
		<h1 data-reload class="flex-row"><i class="settings-class"></i> <span class="horizontal-spacing" translate content="classAdmin.title"></span></h1>
		<div class="centered twelve cell info vertical-spacing-twice" ng-if="classrooms.length === 0">
			<i18n>classAdmin.noAttachment.message</i18n>
		</div>
		<section type="button" class="select-button left-text low-text row">
			<div class="class-admin__class-list" ng-if="classrooms.length !== 0">
				<input type="text" class="right-spacing active class-admin__input twelve" ng-model="selectedClass.name" complete-change="saveClassInfos()">
				<p class="italic-text left-spacing class-admin__school" ng-if="belongsToMultipleSchools()">[[selectedSchoolName(selectedClass)]]</p>
				<i class="sort horizontal-margin-twice absolute-magnet" ng-class="{ double: belongsToMultipleSchools() }" ng-click="openClassList()" ng-if="classrooms.length > 1"></i>
				<div class="clear"></div>
			</div>
			<div class="row" ng-if="classrooms.length === 0">
				<span translate content="classAdmin.noAttachment"></span>
			</div>
			<div class="found-users-list" ng-if="listOpened">
				<div ng-repeat="classroom in classrooms" ng-if="classroom.id !== selectedClass.id" class="row temp">
					<div ng-click="selectClassroom(classroom)" class="row">
						<a class="cell right-spacing">
							<span>[[classroom.name]]</span>
							<span class="italic-text class-admin__school" ng-if="belongsToMultipleSchools()">- [[selectedSchoolName(classroom)]]</span>
						</a>
					</div>
				</div>
			</div>
		</section>

		<section class="class-admin__options">
			<a class="button-big three" ng-class="{ disabled: !canOpenCreateUserModal() }" href="#" ng-click="openCreateUserModal()">
				<i18n>classAdmin.add.users</i18n>
				<i class="users"></i>
			</a>
			<a class="button-big three" ng-class="{ disabled: classrooms.length === 0 }" href="#" ng-click="openLightbox('admin/massmailing')">
				<i18n>classAdmin.massmailing</i18n>
				<i class="file-solid"></i>
			</a>
			<!--HIDE WHILE IT IS NOT DEVELOPPED-->
			<a style="display: none" class="button-big three" ng-class="{ disabled: classrooms.length === 0 || true }" href="#" ng-click="openLightbox('admin/apps-visibility')">
				<i18n>classAdmin.apps.visibility</i18n>
				<i class="lock"></i>
			</a>
			<a style="display: none" class="button-big three" ng-class="{ disabled: classrooms.length === 0 || true }" href="#" ng-click="openLightbox('admin/year-transition')">
				<i18n>classAdmin.year.transition</i18n>
				<i class="forward"></i>
			</a>
		</section>

		<!--END HEADER -->
		<!--TABLE -->
		<container template="userList" ng-if="hasSelectedClass()"></container>
		<!--END TABLE -->
	</portal>
	<container template="lightboxes"></container>
	<container template="toaster"></container>
</body>

</html>
