<!--

 -->

<html data-ng-controller="MyAccount">
	<head>
		<title ng-if="me.userId === account.id">{{#i18n}}account.myaccount{{/i18n}}</title>
		<title ng-if="me.userId !== account.id">{{#i18n}}account.useraccount{{/i18n}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<script type="text/javascript" src="/directory/public/dist/entcore/ng-app.js" id="context"></script>
		<script type="text/javascript" src="/directory/public/dist/application.js"></script>
	</head>
	<body class="account">
		<portal>
			<lightbox show="display.password" on-close="display.password = false">
				<div ng-include="resetPasswordPath" class="twelve cell height-seven" ng-show="resetPasswordPath!==''"></div>
			</lightbox>

			<app-title ng-if="me.userId === account.id">
				<h1>
					<a data-reload><i class="orange-user"></i><span translate content="account.myaccount"></span></a>
				</h1>
			</app-title>
			<app-title ng-if="me.userId !== account.id">
				<h1>
					<a href="/directory/class-admin"><i class="orange-user"></i><span translate content="account.useraccount"></span></a>
				</h1>
			</app-title>

			<div class="twelve tabs vertical-spacing-twice heading-tabs">
				<header class="horizontal-spacing-twice" ng-class="{ selected: template.contains('account/main', 'account/default-view') }">
					<a href="/userbook/mon-compte#/edit-me">
						<span><i class="person"></i><i18n>panel.my.profile</i18n></span>
					</a>
				</header>
				<header class="horizontal-spacing-twice"
					ng-if="me.userId === account.id && account.email.length"
					workflow="directory.externalNotifications">
					<a href="/timeline/preferencesView">
						<span><i class="bell"></i><i18n>panel.notifications.set</i18n></span>
					</a>
				</header>
				<header class="horizontal-spacing-twice" workflow="directory.historyView" ng-if="me.userId === account.id">
					<a href="/timeline/historyView">
						<span><i class="history"></i><i18n>panel.user.history</i18n></span>
					</a>
				</header>
				<header class="horizontal-spacing-twice" ng-if="me.userId === account.id && display.pickTheme" workflow="directory.switchTheme" ng-class="{ selected: template.contains('account/main', 'account/themes') }">
					<a href="/userbook/mon-compte#/themes">
						<span><i class="desktop"></i><i18n>panel.user.pickTheme</i18n></span>
					</a>
				</header>
			</div>

			<container template="account/main"></container>
		</portal>
	</body>
</html>
