<!--
  ~ Copyright © WebServices pour l'Éducation, 2016
  ~
  ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
  ~
  ~ This program is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation (version 3 of the License).
  ~
  ~ For the sake of explanation, any module that communicate over native
  ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
  ~ license and could be license under its own terms. This is merely considered
  ~ normal use of ENT Core, and does not fall under the heading of "covered work".
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  -->

<!DOCTYPE html>
<html>

<head>
  <title>{{#i18n}}timetable.title{{/i18n}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
  <script src="{{#static}}js/timetable/model.js{{/static}}" type="text/javascript"></script>
  <script src="{{#static}}js/timetable/controller.js{{/static}}" type="text/javascript"></script>
  <!--<link rel="stylesheet" type="text/css" href="{{#static}}css/timetable.css{{/static}}">-->
  <script type="text/ng-template" id="empty"></script>
</head>

<body ng-controller="TimetableController">
<top-notification trigger="topNotification.show" confirm="topNotification.confirm" content="topNotification.message"></top-notification>
<admin-portal>
  <div class="twelve">
      <script type="text/ng-template" id="structure-tree">
        <nav class="three cell recursive-list" style="margin-top:0px;">
          <input type="text" placeholder="[[lang.translate('search')]]" ng-model="structureFilteringInput" />
          <ul ng-if="!structureFilteringInput">
            <li ng-repeat="struct in levelStructures = structures.all | filter: filterTopStructures | orderBy: 'name'" ng-click="viewStructure(struct); selectOnly(struct, levelStructures)" ng-class="{ selected: struct.selected }">
              [[struct.name]] <i class="right-magnet folded-icon" ng-if="struct.children" ng-class="{ folded: !struct.selected }"></i>
              <span ng-include="struct.selected ? 'structure-tree-sub-levels' : null"></span>
            </li>
          </ul>
          <ul ng-if="structureFilteringInput">
            <li ng-repeat="struct in allStructures = structures.all | filter: {name: structureFilteringInput} | orderBy: 'name'" ng-click="viewStructure(struct); selectOnly(struct, allStructures)" ng-class="{ selected: struct.selected }">
              [[struct.name]]
            </li>
          </ul>
        </nav>
      </script>
      <script type="text/ng-template" id="structure-tree-sub-levels">
        <ul ng-if="struct.children">
          <li ng-repeat="struct in levelStructures = struct.children | orderBy: 'name'" ng-click="$event.stopPropagation(); viewStructure(struct); selectOnly(struct, levelStructures)" ng-class="{ selected: struct.selected }">
            [[struct.name]] <i class="right-magnet folded-icon" ng-if="struct.children" ng-class="{ folded: !struct.selected }"></i>
            <span ng-include="struct.selected ? 'structure-tree-sub-levels' : null"></span>
          </li>
        </ul>
      </script>
      <div class="row">
        <h1 class="nine cell"><i18n>timetable.title</i18n></h1>
      </div>
      <!--<container template="timetable-container" class="twelve content cell"></container>-->
      <!-- Structure selection menu -->
      <div ng-include="'structure-tree'"></div>

      <article class="side-tabs-content nine cell" ng-if="structure">
        <div class="row">
          <h3>[[structure.name]] - [[structure.UAI]]</h3>
        </div><br />
        <div class="row">
          <fieldset>
            <legend><i18n>timetable.type</i18n></legend>
            <label class="six cell"><i18n>timetable.type</i18n></label>
            <select ng-model="structure.timetable">
              <option value="">[[lang.translate("default.import")]]</option>
              <option value="NOP">[[lang.translate("none")]]</option>
              <option value="EDT">EDT</option>
              <option value="UDT">UDT</option>
            </select>
            <button type="button" class="right-magnet" ng-click="updateType(structure)"><i18n>timetable.update.type</i18n></button>
          </fieldset>
        </div>
        <div class="row" ng-if="cm.unknownClasses.length > 0">
          <fieldset>
            <legend><i18n>timetable.classes.mapping</i18n></legend>
            <div class="row" style="margin:1px;" ng-repeat="item in cm.unknownClasses">
              <label class="six cell">[[item]]</label>
              <select ng-model="cm.mapping[item]" ng-options="cn for cn in cm.classNames">
              </select>
            </div>
            <button type="button" class="right-magnet" ng-click="updateClassesMapping(structure, cm)">
              <i18n>timetable.update.cm</i18n>
            </button>
          </fieldset>
        </div>
        <div class="row" ng-if="savedType === 'EDT' || savedType === 'UDT'">
          <fieldset>
            <legend><i18n>timetable.import</i18n></legend>
            <label class="six cell"><span><i18n>timetable.file</i18n></span></label>
            <input name="importFile" type="file" files-input-change ng-model="importFile"/>
            <button type="button" class="right-magnet" ng-click="import(structure, importFile)" ng-disabled="importing || importFile === ''">
              <i18n>timetable.import</i18n>
            </button>
          </fieldset>
        </div>
        <div class="row vertical-spacing spinner-bar" ng-if="importing">
            <i class="spinner horizontal-spacing-twice"></i><i18n>timetable.import.loading</i18n>
        </div>
          <div ng-if="importSuccessful">
              <i18n>directory.params.success</i18n>
          </div>
        <div ng-repeat="item in errors">
          <div class="row">
            <h5>[[item.title]]</h5>
          </div>
          <div class="row" ng-repeat="el in item.elements">
            [[el]]
          </div>
        </div>
      </article>
  </div>
</admin-portal>
</body>

</html>
