<div class="panel-header">
  <span><s5l>new.user.creation</s5l></span>
</div>

<ode-panel-section class="thin">
  <form #createForm="ngForm" (ngSubmit)="createNewUser()">
    <ode-form-field label="firstName">
      <input type="text"
             [(ngModel)]="newUser.firstName"
             name="firstName"
             required
             pattern=".*\S+.*"
             #firstNameInput="ngModel"
             (blur)="newUser.firstName = trim(newUser.firstName)">
      <ode-form-errors [control]="firstNameInput"></ode-form-errors>
    </ode-form-field>

    <ode-form-field label="lastName">
      <input type="text"
             [(ngModel)]="newUser.lastName"
             name="lastName"
             required
             pattern=".*\S+.*"
             (blur)="newUser.lastName = trim(newUser.lastName)"
             #lastNameInput="ngModel">
      <ode-form-errors [control]="lastNameInput"></ode-form-errors>
    </ode-form-field>

    <ode-form-field label="birthDate">
      <ode-date-picker [(ngModel)]="newUser.userDetails.birthDate"
                   name="birthDate"
                   minDate="1900-01-01"
                   maxDate="today"
                   [required]="newUser.type == 'Student' ? true : false"
                   #birthDateInput="ngModel">
      </ode-date-picker>
      <ode-form-errors [control]="birthDateInput"></ode-form-errors>
    </ode-form-field>

    <ode-form-field label="profile">
      <ode-mono-select [(ngModel)]="newUser.type"
                   name="type"
                   [options]="typeOptions">
      </ode-mono-select>
    </ode-form-field>

    <div class="children-container" *ngIf="newUser.type === 'Relative'">
      <div class="empty"></div>
      <div class="search">
        <ode-search-input
          [delay]="300"
          [attr.placeholder]="'search' | translate"
          (onChange)="userChildrenListService.inputFilter = $event">
        </ode-search-input>

        <div class="list-wrapper"
             *ngIf="userChildrenListService.inputFilter?.length > 0">
          <ul>
            <li *ngFor="let child of usersStore.structure.users.data | filter: {type: 'Student'} | filter: userChildrenListService.filterByInput"
                (click)="addChild(child)">
              {{ child.lastName | uppercase }} {{ child.firstName }}
            </li>
          </ul>
        </div>
      </div>
      <div class="children-list">
        <h3>
          <s5l>create.user.selectedchildren</s5l>
        </h3>
        <ul>
          <li *ngFor="let child of newUser.userDetails.children">
                                <span>
                                    {{ child.lastName | uppercase }} {{ child.firstName }}
                                </span>
            <i class="fa fa-times action"
               (click)="removeChild(child)"
               [title]="'create.user.deselect.child' | translate">
            </i>
          </li>
        </ul>
      </div>
    </div>

    <ode-form-field label="create.user.classe">
      <ode-mono-select [(ngModel)]="newUser.classes" name="classes" [options]="classeOptions">
      </ode-mono-select>
    </ode-form-field>

    <div class="action">
      <button type="button" class="cancel" (click)="cancel()">
        <s5l>create.user.cancel</s5l>
      </button>
      <button class="create confirm"
              [disabled]="createForm.pristine || createForm.invalid">
        <s5l>create.user.submit</s5l>
      </button>
    </div>
  </form>
</ode-panel-section>
