<div fxLayout="row" fxLayoutAlign="space-between center"  style="height: 50px">
    <div fxFlex="50">
        <h3><s5l>alerts.atraiter</s5l></h3>
    </div>
    <div fxFlex="50" style="text-align: end">
        <button (click)="openDialog()" class="alertes-list-button-history">
            <s5l>alerts.history</s5l>
        </button>
    </div>
</div>
<div *ngIf="(this.$pendingAlertes | async)?.length !== 0  ; else elseBlock">
    <ode-alerte *ngFor="let alerte of this.$pendingAlertes | async" [alerte]="alerte" [structure]="structure" [subject]="$updateSubject">
    </ode-alerte>
</div>
<ng-template #elseBlock>
    <div class="no-alert-text">Aucun signalement</div>
</ng-template>
