i.actualites-large,
i.actualites {
  @include fonticon;

  &::before {
    content: '\e85b';
    color: #4bafd5;
  }
}

i.agenda-large,
i.agenda {
  @include fonticon;

  &::before {
    content: '\e83c';
    color: $yellow;
  }
}

i.aide-devoirs-large,
i.aide-devoirs {
  @include fonticon;

  &::before {
    content: '\e818';
    color: $red;
  }
}

i.apps-large,
i.apps {
  @include fonticon;

  &::before {
    content: '\e86c';
    color: $yellow;
  }
}

i.birthday-large,
i.birthday {
  font-family: "FontAwesome";
  font-style: normal;

  &::before {
    content: '\f1fd';
    color: $pink;
  }
}

i.calendar-large,
i.calendar {
  @include fonticon;

  &::before {
    content: '\e834';
    color: $yellow;
  }
}

i.carnet-de-bord-large,
i.carnet-de-bord {
  @include fonticon;

  &::before {
    content: '\e902';
    color: $green;
  }
}

i.dicodelazone-large,
i.dicodelazone {
  @include fonticon;
  font-size: 10rem !important;
  &::before {
    content: '\e938';
    color: $red;
  }
}

i.dictaphone-large,
i.dictaphone {
  @include fonticon;

  &::before {
    content: '\e864';
    color: $red;
  }
}

i.maxicours-large,
i.maxicours {
  @include fonticon;

  &::before {
    content: '\e825';
    color: $red;
  }
}

i.mood-large,
i.mood {
  @include fonticon;

  &::before {
    content: '\e877';
    color: #6fbe2e;
  }
}

i.notes-large,
i.notes {
  @include fonticon;

  &::before {
    content: '\e806';
    color: $yellow;
  }
}

i.qwant-large,
i.qwant,
i.qwant-junior-large,
i.qwant-junior {
  @include fonticon;

  &::before {
    content: '\e93d';
    color: $red;
  }
}

i.rss-large,
i.rss {
  @include fonticon;

  &::before {
    content: '\e861';
    color: $green;
  }
}

i.schoolbook-large,
i.schoolbook {
  font-family: "FontAwesome";
  font-style: normal;

  &::before {
    content: '\f2bd';
    color: $green;
  }
}

i.signets-large,
i.signets {
  @include fonticon;

  &::before {
    content: '\e80c';
    color: $green;
  }
}

i.edumalin-large,
i.edumalin {
  @include fonticon;

  &::before {
    content: '\e967';
    color: $blue;
  }
}

i.mediacentre-large
i.mediacentre {
  @include fonticon;

  &::before {
    content: '\e968';
    color: #2029b6;
  }
}
