// UNKNOWN APPS
i.bookmark-empty-large,
i.type.bookmark-empty,
i.bookmark-empty {
    @include fonticon;
    &::before {
      content: '\e888';
    }
}

i.suitcase-large,
i.type.suitcase,
i.suitcase {
    @include fonticon;
    &::before {
      content: '\e88b';
      color: $red;
    }
}

//  APPS
i.cns-large,
i.type.cns,
i.cns {
    @include fonticon;
    &::before {
      content: '\e88a';
      color: $green;
    }
}

i.chat-large,
i.type.chat,
i.chat {
    @include fonticon;
    &::before {
      content: "\e817";
      color: $red;
    }
}

i.pad-large,
i.type.pad,
i.pad {
    @include fonticon;
    &::before {
      content: "\e829";
      color: $cyan;
    }
}

i.collaborativeeditor-large,
i.type.collaborativeeditor,
i.collaborativeeditor {
    @include fonticon;
    &::before {
      content: "\e829";
      color: $cyan;
    }
}

i.exercizer-large,
i.exercizer.cas,
i.exercizer {
    @include fonticon;
    &::before {
      content: '\e833';
      color: $purple;
    }
}

/* ico for main apps */
i.sharebigfiles-large,
i.type.sharebigfiles,
i.sharebigfiles {
    @include fonticon;
    &::before {
      content: "\e8cb";
      color: $purple;
    }
}

i.workspace-large,
i.type.workspace,
i.workspace {
    @include fonticon;
    &::before {
      content: "\e81b";
      color: $red;
    }
}

i.actualites-large,
i.type.news,
i.actualites {
    @include fonticon;
    &::before {
      content: "\e85b";
      color: $cyan;
    }
}

i.wiki-large,
i.type.wiki,
i.wiki {
    @include fonticon;
    &::before {
      content: '\e813';
      color: $purple;
    }
}

i.support-large,
i.type.support,
i.support {
    @include fonticon;
    &::before {
      content: "\e835";
      color: $green;
    }
}

i.userbook-large,
i.type.userbook,
i.userbook,
i.directory-large,
i.type.directory,
i.directory {
    @include fonticon;
    &::before {
      content: '\e811';
      color: $green;
    }
}

i.archive-large,
i.type.archives,
i.archive,
i.archives {
    @include fonticon;
    &::before {
      content: "\e81d";
      color: $yellow;
    }
}

i.notes-large,
i.type.notes,
i.notes {
    @include fonticon;
    &::before {
      content: '\e806';
      color: $red;
    }
}

i.blog-large,
i.type.blog,
i.blog {
    @include fonticon;
    &::before {
      content: "\e809";
      color: $indigo;
    }
}

i.mindmap-large,
i.type.mindmap,
i.mindmap {
    @include fonticon;
    &::before {
      content: "\e859";
      color: $cyan;
    }
}

i.rack-large,
i.type.rack,
i.rack {
    @include fonticon;
    &::before {
      content: "\e80d";
      color: $red;
    }
}

i.community-large,
i.type.community,
i.community {
    @include fonticon;
    &::before {
      content: '\e814';
      color: $purple;
    }
}


i.my-network-large,
i.my-network {
    @include fonticon;
    &::before {
      content: '\e82e';
      color: $indigo;
    }
}


i.collaborative-wall-large,
i.type.collaborativewall,
i.collaborative-wall {
    @include fonticon;
    &::before {
      content: "\e800";
      color: $green;
    }
}

i.pages-large,
i.type.pages,
i.pages {
    @include fonticon;
    &::before {
      content: "\e876";
      color: $red;
    }
}

i.admin-large,
i.admin {
    @include fonticon;
    &::before {
      content: '\e81a';
      color: $yellow;
    }
}

i.settings-class-large,
i.settings-class {
    @include fonticon;
    &::before {
      content: '\e942';
      color: $cyan;
    }
}

i.rbs-large,
i.type.rbs,
i.rbs {
    @include fonticon;
    &::before {
      content: '\e80e';
      color: $pink;
    }
}

i.timelinegenerator-large,
i.type.timelinegenerator,
i.timelinegenerator {
    @include fonticon;
    &::before {
      content: '\e819';
      color: $yellow;
    }
}

i.timeline-large,
i.timeline.cas,
i.timeline {
    @include fonticon;
    &::before {content: '\e82b';}
}

i.sticker.app.type.timeline,
i.type.timeline {
  @include fonticon;
  &::before {
    content: '\e854';
  }
}

i.note-large,
i.type.note,
i.note {
    @include fonticon;
    &::before {
      content: '\e806';
      color: $yellow;
    }
}

i.calendar-large,
i.type.calendar,
i.calendar {
    @include fonticon;
    &::before {
      content: '\e834';
      color: $yellow;
    }
}

i.type.calendar {
    height: 38px;
}

i.forum-large,
i.forum.cas,
i.forum {
    @include fonticon;
    &::before {
      content: '\e81e';
      color: $cyan;
    }
}

i.poll-large,
i.poll.cas,
i.poll {
    @include fonticon;
    &::before {
      content: '\e832';
      color: $cyan;
    }
}

i.conversation-large,
i.type.messagerie,
i.mail {
    @include fonticon;
    &::before {
      content: "\e804";
      color: $yellow;
    }
}

// & also 1D APPS
i.statistics-large,
i.statistics.cas,
i.statistics,
i.statistics,
i.stats-large,
i.type.stats,
i.stats {
    @include fonticon;
    &::before {
      content: '\e810';
      color: $purple;
    }
}

i.cahier-textes-large,
i.type.cahier-textes,
i.cahier-textes,
i.cahier-de-texte-large,
i.type.cahier-de-texte,
i.cahier-de-texte {
    @include fonticon;
    &::before {
      content: "\e86f";
      color: $green;
    }
}

i.type.homeworks {
    @include fonticon;
    &::before {content: '\e86f';}
}

i.scrap-book-large,
i.type.scrap-book,
i.scrap-book,
i.scrapbook-large,
i.type.scrapbook,
i.scrapbook {
    @include fonticon;
    &::before {
      content: "\e8d4";
      color: $green;
    }
}

i.schoolbook-large,
i.type.schoolbook,
i.schoolbook {
    @include fonticon;
    &::before {
      content: "\e91e";
      color: $green;
    }
}

i.competences-large,
i.type.competences,
i.competences {
    @include fonticon;
    &::before {
      content: "\e927";
      color: $red;
    }
}

i.searchengine-large,
i.searchengine.cas,
i.type.searchengine,
i.searchengine {
  @include fonticon;
  &:before{
    content: '\e8d0';
    color: $cyan;
  }
}

i.moodle,
i.moodle-large {
  @include fonticon;
  &::before {
    content: "\e948";
    color: $orange;
  }
}

i.Mediacentre,
i.Mediacentre-large,
i.mediacentre,
i.mediacentre-large {
  @include fonticon;
  &::before {
    content: "\e863";
    color: $red;
  }
}

i.system {
  @include fonticon;
  &::before {content: "\e854"}
}

i.dashboard {
  @include fonticon;
  &::before {content: "\e94b"}
}

i.library,
i.library-large {
  @include fonticon;
  &::before {content: "\e94c";}
}
