/* Variables */
// COLOR PALETTE
$grey-light:              #eaedf2;
$grey-dark:               #5b6472;
$grey-medium:             #aaa;
$grey-graphite:           #909090;

$main:                    rgb(42, 156, 200);
$main-light:              lighten($main, 10%);
$main-dark:               darken($main, 5%);

$accent:                  #FF8D2E;
$accent-light:            lighten($accent, 10%);
$accent-dark:             darken($accent, 5%);

$contrast:                indianred;
$contrast-hover:          darken($contrast, 5%);

$validate:                mediumseagreen;
$validate-hover:          darken($validate, 5%);

$button-bg:               rgba($grey-light, 0.1);
$button-bg-hover:         rgba($grey-light, 0.1);

// SHADOW
$shadow-light:            rgba(0,0,0,0.1);
$shadow-dark:             rgba(0,0,0,0.5);
$white-transparent:       rgba(255,255,255,0.75);

// STATUS COLOR
$info:                    $main;
$info-dark:               darken($info, 5%);

$success:                 $validate;
$success-dark:            darken($success, 5%);

$warning:                 #ffdf76;
$warning-dark:            darken($warning, 5%);

$danger:                  darken($contrast, 5%);
$danger-dark:             darken($danger, 5%);

// PROFIL COLOR
$cyan:                    #46afe6;      // PARENT
$green:                   #6fbe2e;      // TEACHER
$orange:                  #ff8500;      // STUDENT
$purple:                  #a348c0;      // RELATIVE
$pink:                    #ff3a55;      // GUEST

// VARIABLE SIZE
$user-profile-img-width:  220px;
$fontawesome-size:        1.5em;

// MESSAGE FLASH
$widget-flash-colors: (
  "red": (
    "background": #FFECEE,
    "shadow": #FFADB9,
    "badge": #FF3A55),
  "orange": (
    "background": #FFEFE3,
    "shadow": #FFCBA0,
    "badge": #FF8D2E),
  "green": (
    "background": #E6F9F8,
    "shadow": #B6EDE5,
    "badge": #46BFAF),
  "blue": (
    "background": #E5F5FF,
    "shadow": #B9E3F8,
    "badge": #2A9CC8),
  "grey-dark": (
    "background": #FAFAFA,
    "shadow": #E4E4E4,
    "badge": #B0B0B0 ),
);
