<div class="horizontal-spacing-twice">
    <h2 translate content="workspace.create.cancel.title"></h2>
    <div class="row">
        <span translate content="workspace.create.cancel.content"></span>
        <hr />
    </div>
    <div class="lightbox-buttons fluid">
        <button class="cancel right-magnet" ng-click="onCancelShareNewFolderOwn()"><i18n>workspace.create.cancel.own</i18n></button>
        <button class="right-magnet" ng-click="onCancelShareNewFolderDelete()"><i18n>workspace.create.cancel.delete</i18n></button>
    </div>
</div>