<form ng-submit="createFolder()">
	<h2>
		<i18n>folder.new.title</i18n>
	</h2>
	<div class="row">
		<label class="two cell" translate content="workspace.name"></label>
		<input class="five cell" type="text" ng-model="newFolder.name" autofocus />
		<hr />
	</div>
	<div class="lightbox-buttons fluid">
		<button class="right-magnet" ng-disabled="!newFolder.name"><i18n>workspace.folder.create</i18n></button>
		<button class="cancel right-magnet" ng-click="template.close('lightbox')"><i18n>cancel</i18n></button>
	</div>
</form>