<div ng-if="canRenderUi" ng-switch="ctrl.step">

    <div ng-if="ctrl.step==='code'">
        <button type="button" class="btn btn-ghost-tertiary d-flex align-items-center" id="btnBack" ng-click="ctrl.step='input'">
            <svg class="icon-svg" width="20" height="20">
                <use href="/auth/public/icons/validate-icons.svg#arrowLeft"></use>
            </svg>
            <span class="ms-4">
                <i18n>validate-mail.step2.back</i18n>
            </span>
        </button>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-9 col-sm-12">
            <div class="mb-12">
                <img class="mx-auto" ng-if="ctrl.type === 'email'" src="/auth/public/img/validate-mail.svg" height="150"></img>
                <img class="mx-auto" ng-if="ctrl.type === 'sms'" src="/auth/public/img/validate-sms.svg" height="150"></img>
            </div>

            <div class="text-center">
                <h2 class="fw-bold">
                    <i18n ng-if="ctrl.type === 'email'">validate-mail.step1.title</i18n>
                    <i18n ng-if="ctrl.type === 'sms'">validate-sms.step1.title</i18n>
                </h2>
            </div>
        </div>
    </div>

    <div class="my-12" ng-switch-when="input">
        <div class="row justify-content-center">
            <div class="col-md-9 col-sm-12">
                <div class="mb-32 text-center">
                    <div ng-if="ctrl.force">
                        <i18n ng-if="ctrl.type === 'email'">validate-mail.step1.hint.force</i18n>
                        <i18n ng-if="ctrl.type === 'sms'">validate-sms.step1.hint.force</i18n>
                    </div>
                    <div ng-if="ctrl.force && (ctrl.isAdml || ctrl.isAdmc)">
                        <i18n ng-if="ctrl.type === 'email'">validate-mail.step1.hint.adml</i18n>
                        <i18n ng-if="ctrl.type === 'sms'">validate-sms.step1.hint.adml</i18n>
                    </div>
                    <div>
                        <i18n ng-if="ctrl.type === 'email'">validate-mail.step1.hint</i18n>
                        <i18n ng-if="ctrl.type === 'sms'">validate-sms.step1.hint</i18n>
                    </div>
                </div>

                <form novalidate autocomplete="off" name="formValidate" class="mx-auto col-sm-6 form-control-lg" ng-submit="onValidate('input')">
                    <label class="mb-8 fw-bold d-flex align-items-center" for="input-data">
                        <svg class="icon-svg" ng-if="ctrl.type === 'email'" width="20" height="20">
                            <use href="/auth/public/icons/validate-icons.svg#mail"></use>
                        </svg>
                        <svg class="icon-svg" ng-if="ctrl.type === 'sms'" width="20" height="20">
                            <use href="/auth/public/icons/validate-icons.svg#phone"></use>
                        </svg>
                        <span ng-if="ctrl.type === 'email'" class="align-middle ms-4" translate content="validate-mail.step1.form.mail"></span>
                        <span ng-if="ctrl.type === 'sms'" class="align-middle ms-4" translate content="validate-sms.step1.form.phone"></span>
                    </label>
                    <input type="email" id="input-data" style="background-color: white;" name="inputEmail"
                            ng-if="ctrl.type === 'email'"
                            ng-pattern="ctrl.acceptableEmailPattern"
                            ng-model="ctrl.emailAddress"
                            ng-class="ctrl.inputToBTCss(formValidate.inputEmail)"
                            i18n-placeholder="validate-mail.step1.form.placeholder" />

                    <input type="tel" id="input-data" style="background-color: white;" name="inputPhone"
                            data-intl-phone-input
                            ng-if="ctrl.type === 'sms'"
                            ng-model="ctrl.mobilePhone"
                            ng-class="ctrl.inputToBTCss(formValidate.inputPhone)" />

                    <div class="text-danger mt-8 mb-16">
                        <small>
                            <label for="input-data" ng-if="formValidate.inputEmail.$error.email && ctrl.type === 'email'">
                                <i18n>validate-mail.error.mail</i18n>
                            </label>
                            <label for="input-data" ng-if="formValidate.inputPhone.$invalid && ctrl.type === 'sms'">
                                <i18n>validate-sms.error.phone</i18n>
                            </label>
                        </small>
                        <small class="d-inline-block">
                            <label for="input-data" ng-if="formValidate.inputEmail.$error.pattern && ctrl.type === 'email'">
                                <i18n>validate-mail.error.same</i18n>
                            </label>
                            <label for="input-data" ng-if="ctrl.infos.mobileState.valid === ctrl.mobilePhone && ctrl.mobilePhone && ctrl.type === 'sms'">
                                <i18n>validate-sms.error.same</i18n>
                            </label>
                        </small>
                    </div>

                    <div class="text-center">
                        <div ng-show="ctrl.status==='wait'" class="text-primary mb-12">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary mx-auto d-flex align-items-center"
                                ng-if="ctrl.type === 'email'"
                                ng-disabled="!formValidate.$valid || ctrl.status==='wait' || !ctrl.emailAddress">
                            <span class="me-4">
                                <i18n>validate-mail.step1.btn</i18n>
                            </span>
                            <svg class="icon-svg" width="20" height="20">
                                <use href="/auth/public/icons/validate-icons.svg#chevronRight"></use>
                            </svg>
                        </button>

                        <button type="submit" class="btn btn-primary mx-auto d-flex align-items-center"
                                ng-if="ctrl.type === 'sms'"
                                ng-disabled="!formValidate.$valid || ctrl.status==='wait' || !ctrl.mobilePhone">
                            <span class="me-4">
                                <i18n>validate-sms.step1.btn</i18n>
                            </span>
                            <svg class="icon-svg" width="20" height="20">
                                <use href="/auth/public/icons/validate-icons.svg#chevronRight"></use>
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="my-12" ng-switch-when="code">
        <div class="row justify-content-center">
            <div class="col-md-9 col-sm-12">
                <div class="mb-32 text-center">
                    <div ng-if="ctrl.type === 'email'">
                        <i18n>validate-mail.step2.hint.paragraph1</i18n>
                        <span> [[ctrl.emailAddress]].</span>
                    </div>
                    <div ng-if="ctrl.type === 'sms'">
                        <i18n>validate-sms.step2.hint.paragraph1</i18n>
                        <span> [[ctrl.mobilePhone]].</span>
                    </div>
                    <div>
                        <i18n ng-if="ctrl.type === 'email'">validate-mail.step2.hint.paragraph2</i18n>
                        <i18n ng-if="ctrl.type === 'sms'">validate-sms.step2.hint.paragraph2</i18n>
                    </div>
                    <div>
                        <i18n ng-if="ctrl.type === 'email'">validate-mail.step2.hint.paragraph3</i18n>
                    </div>
                </div>

                <div class="text-center">
                    <form novalidate autocomplete="off" name="formCode" class="col-sm-6 mx-auto form-control-lg" ng-submit="onValidate('code')">
                        <label class="mb-8 row fw-bold" for="input-data">
                            <i18n ng-if="ctrl.type === 'email'">validate-mail.step2.form.code</i18n>
                            <i18n ng-if="ctrl.type === 'sms'">validate-sms.step2.form.code</i18n>
                        </label>
                        <input type="text" id="input-data" style="background-color: white;" name="inputCode" required
                                maxlength="6"
                                oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                                pattern="[0-9]{6}"
                                ng-model="ctrl.inputCode" 
                                ng-model-options="{ debounce: 500 }"
                                ng-change="onCodeChange(formCode)" class="form-control" />
                    </form>
                    <footer class="mt-16 mb-16">
                        <div ng-show="ctrl.status==='wait'" class="text-primary">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div ng-if="ctrl.status==='ok'" class="text-success">
                            <svg class="icon-svg mx-auto" width="20" height="20">
                                <use href="/auth/public/icons/validate-icons.svg#successOutline"></use>
                            </svg>
                            <div>
                                <i18n ng-if="ctrl.type === 'email'">validate-mail.success.paragraph1</i18n>
                                <i18n ng-if="ctrl.type === 'sms'">validate-sms.success.paragraph1</i18n>
                            </div>
                            <div ng-if="ctrl.redirect">
                                <i18n ng-if="ctrl.type === 'email'">validate-mail.success.paragraph2</i18n>
                                <i18n ng-if="ctrl.type === 'sms'">validate-sms.success.paragraph2</i18n>
                            </div>
                            <div ng-if="!ctrl.fullscreen">
                                <i18n ng-if="ctrl.type === 'email'">validate-mail.success.paragraph2.fullscreen</i18n>
                                <i18n ng-if="ctrl.type === 'sms'">validate-sms.success.paragraph2.fullscreen</i18n>
                            </div>
                        </div>
                        <div ng-if="ctrl.status==='ko'" class="text-danger">
                            <svg class="icon-svg mx-auto" width="20" height="20">
                                <use href="/auth/public/icons/validate-icons.svg#error"></use>
                            </svg>
                            <div><span translate content="[[ctrl.koStatusCause]]"></span></div>
                        </div>
                    </footer>
                </div>

                <div class="text-center" ng-if="ctrl.status!=='ok'">
                    <div class="mb-16">
                        <span>
                            <i18n ng-if="ctrl.type === 'email'">validate-mail.step2.hint.paragraph4</i18n>
                            <i18n ng-if="ctrl.type === 'sms'">validate-sms.step2.hint.paragraph4</i18n>
                        </span>
                    </div>

                    <div>
                        <button type="button" id="btnRenew" class="btn btn-ghost-tertiary mx-auto fw-bold d-flex align-items-center" ng-click="onCodeRenew()">
                            <svg class="icon-svg me-4" width="20" height="20">
                                <use href="/auth/public/icons/validate-icons.svg#redo"></use>
                            </svg>
                            <span class="align-items-center d-flex">
                                <i18n ng-if="ctrl.type === 'email'">validate-mail.step2.btn</i18n>
                                <i18n ng-if="ctrl.type === 'sms'">validate-sms.step2.btn</i18n>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>