.widget-panel {
  display: flex;
  flex-direction: column;
  gap: var(--primitive-spacer-12);
  border-radius: var(--primitive-border-radius-xl);
  padding: var(--primitive-spacer-12) var(--primitive-spacer-16) var(--primitive-spacer-16);
  background-color: var(--primitive-grey-100);
}

.widget-panel-body {
  display: flex;
  flex-direction: column;
}
