@font-face {
  font-family: 'entcore-editor';
  src: url('../font/entcore-editor.eot?14988590');
  src: url('../font/entcore-editor.eot?14988590#iefix') format('embedded-opentype'),
       url('../font/entcore-editor.woff2?14988590') format('woff2'),
       url('../font/entcore-editor.woff?14988590') format('woff'),
       url('../font/entcore-editor.ttf?14988590') format('truetype'),
       url('../font/entcore-editor.svg?14988590#entcore-editor') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'entcore-editor';
    src: url('../font/entcore-editor.svg?14988590#entcore-editor') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "entcore-editor";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-reply:before { content: '\e800'; } /* '' */
.icon-forward:before { content: '\e801'; } /* '' */
.icon-bold:before { content: '\e802'; } /* '' */
.icon-italic:before { content: '\e803'; } /* '' */
.icon-underline:before { content: '\e804'; } /* '' */
.icon-align-left:before { content: '\e805'; } /* '' */
.icon-align-center:before { content: '\e806'; } /* '' */
.icon-align-right:before { content: '\e807'; } /* '' */
.icon-align-justify:before { content: '\e808'; } /* '' */
.icon-list-bullet:before { content: '\e809'; } /* '' */
.icon-list-numbered:before { content: '\e80a'; } /* '' */
.icon-font:before { content: '\e80b'; } /* '' */
.icon-superscript:before { content: '\e80c'; } /* '' */
.icon-subscript:before { content: '\e80d'; } /* '' */
.icon-attach:before { content: '\e80e'; } /* '' */
.icon-music:before { content: '\e80f'; } /* '' */
.icon-video:before { content: '\e810'; } /* '' */
.icon-unlink:before { content: '\e811'; } /* '' */
.icon-link:before { content: '\e812'; } /* '' */
.icon-smile:before { content: '\e813'; } /* '' */
.icon-table:before { content: '\e814'; } /* '' */
.icon-code:before { content: '\e815'; } /* '' */
.icon-quote:before { content: '\e816'; } /* '' */
.icon-picture:before { content: '\e817'; } /* '' */
.icon-download:before { content: '\e818'; } /* '' */
.icon-fontsize:before { content: '\e819'; } /* '' */
.icon-header:before { content: '\e81a'; } /* '' */