.customize-content {
  margin: var(--primitive-spacer-16) var(--primitive-spacer-16)
    var(--primitive-spacer-16) var(--primitive-spacer-16);
}

.customize-back-button {
  margin-bottom: 10px;
}

.choice-button {
}

.choice-button.isSelected {
}

@media only screen and (min-width: 768px) {
  .customize-content {
    margin: var(--primitive-spacer-32) var(--primitive-spacer-32)
      var(--primitive-spacer-32) var(--primitive-spacer-64);
  }
  .customize-right {
    margin: var(--primitive-spacer-32) var(--primitive-spacer-64)
      var(--primitive-spacer-32) var(--primitive-spacer-0);
  }
}
