<ode-groups-communication *ngIf="user && userSendingCommunicationRules"
                    [title]="'user.communication.title' | translate:{firstName: user.firstName, lastName: user.lastName.toUpperCase()}"
                    [backButtonLabel]="'user.communication.back-to-user-details' | translate"
                    [sendingSectionTitle]="'user.communication.section.title.sending-rules'"
                    [receivingSectionTitle]="'user.communication.section.title.receiving-rules'"
                    [sendingSectionSendingColumnLabel]="'user.communication.groups-of-user' | translate"
                    [sendingSectionReceivingColumnLabel]="'user.communication.groups-that-user-can-communicate-with' | translate"
                    [receivingSectionSendingColumnLabel]="'user.communication.groups-that-can-communicate-with-user' | translate"
                    [receivingSectionReceivingColumnLabel]="'user.communication.groups-of-user' | translate"
                    [activeStructure]="activeStructure"
                    [manageableStructuresId]="manageableStructuresId"
                    [sendingCommunicationRules]="userSendingCommunicationRules"
                    [receivingCommunicationRules]="userReceivingCommunicationRules"
                    [addCommunicationPickableGroups]="addCommunicationPickableGroups"
                    [structures]="globalStore.structures.data"
                    (groupClose)="openUserDetails()"
                    (groupPickerStructureChange)="onGroupPickerStructureChange($event)">
</ode-groups-communication>
