<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="{{#static}}js/bootstrap.js{{/static}}"></script>
	</head>
	<body>
		<h1>{{name}} {{test}}</h1>
		<h1>{{#i18n}}admin.title{{/i18n}}</h1>
		<h2>{{#i18n}}admin.detail{{/i18n}}</h2>
		<form method="POST" action="data">
			<input type="text" name="query" value="START n=node(0) RETURN n" />
			<input type="text" name="aaa" value="qfslf slkfjs sdlfkj&é $(-è" />
			<input type="submit" value="test" />
		</form>
	</body>
</html>
