<html>
  <body>
    Bonjour {{name}},
    <br/>
    <br/>
    Nous avons le plaisir de vous annoncer que vous allez changer d'ENT pour la rentrée.
    <br/>
    Votre identifiant étant déjà utilisé sur votre nouvel espace, nous l'avons modifié :
    <br/>
    <br/>
    Votre nouvel identifiant : {{login}}
    <br/>
    <br/>
    <b>Nous vous invitons à conserver précieusement cette information.</b>
    <br/>
    <br/>
    Nous vous donnons rendez-vous à la rentrée pour vous connecter,
    <br/>
    Toutes les informations vous seront transmises directement par votre établissement.
    <br/>
    Très bel été,
    <br/>
    <br/>
    L'équipe Open Digital Education, éditeur de votre ENT
  </body>
</html>