{
  "name": "org.entcore~directory",
  "config": {
    "main": "org.entcore.directory.Directory",
    "auto-redeploy": false,
    "ssl": true,
    {% if ha is defined and ha and inventory_hostname_short is defined and inventory_hostname_short != 'jobs' and directoryInstance is defined %}
      "instances": {{ directoryInstance }},
    {% endif %}
    "csrf-token": {{ csrfToken | default('true') }},
    "wizard-path": "{{ directoryWizardPath | default('/tmp') }}",
    "timetable-path": "{{ directoryTimetablePath | default('/tmp') }}",
    "mode": "prod",
    "app-type" : "SYSTEM",
    "host": "https://{{ host }}",
    "port": 8003,
    "email": "{{fromEmail}}",
    "app-name": "Directory",
    "workspace-url": "localhost",
    "workspace-port": 8011,
    "workspace-prefix": "/workspace",
    "probes": [
      "org.entcore.common.http.health.Neo4jProbe",
      "org.entcore.common.http.health.MongoProbe",
      "org.entcore.common.http.health.RedisProbe"
    ],
    "activation-welcome-message": {{ activationWelcomeMessage | default('true') }},
    "createdUserEmail": {{ directoryCreatedUserEmail | default('false') }},
    "classDefaultRoles": {{ directoryClassDefaultRoles | default('false') }},
    "listUserMode": "{{ directoryListUserMode | default('mono') }}",
    "visible-check" : {{ directoryVisibleCheck | default('true') }},        
		{% if directoryTemplateHostnameConnection is defined %}
      "template-hostname-connection": "{{directoryTemplateHostnameConnection}}", 
    {% endif %} 
		{% if adminMassMessagingEnabled is defined and adminMassMessagingEnabled == 'true' %}
			"massMessagingDefaultSenderId" : "{{ directoryMassMessagingDefaultSenderId | default('') }}",
		{% endif %}
    "fileAnalyzer": {
      "enabled": {{ fileAnalyzerOn | default('true') }},
      "messaging": {
        "type": "redis",
        "stream": "xss-analyzer",
        "tags": ["xss-analyzer", "directory"],
        "metrics": {
          "enabled": true
        }
      }
    },
    "user-book-data": {
      {% if cloudflareAvatarsCache_url is defined %}
        "cloudflare": {
          "url": "{{ cloudflareAvatarsCache_url }}",
          "token": "{{ cloudflareAvatarsCache_token }}"
        },
      {% elif varnishAvatarsCache_url is defined %}
        "varnish": {
          "url": "{{ varnishAvatarsCache_url }}"
        },
      {% endif %}
      "default-theme": "{{ defaultTheme | default('default') }}",
      "default-avatar": "no-avatar.jpg",
      "default-mood": "default",
      "moods": ["default", "happy", "proud", "dreamy", "love", "tired", "angry", "worried", "sick", "joker", "sad"],
      "hobbies": [
        "sport",
        "cinema",
        "animals",
        "music",
        "places",
        "books"
      ]
    },
    {% if s3_avatars_uri is defined %}
      "s3avatars": {
        "uri": "{{ s3_avatars_uri }}",
        "accessKey": "{{ s3_avatars_accessKey }}",
        "secretKey": "{{ s3_avatars_secretKey }}",
        {% if s3_avatars_ssec is defined %}
          "ssec": "{{ s3_avatars_ssec }}",
        {% endif %}
        "region": "{{ s3_avatars_region }}",
        "bucket": "{{ s3_avatars_bucket }}",
        "keepAlive": {{ s3_avatars_keepAlive | default('true') }},
        "poolSize": {{ s3_avatars_poolSize | default(64) }},
        {% if s3_avatars_s3fallbacks3s3 is defined and s3_avatars_s3fallbacks3s3 %}
          "s3fallbacks3s3": {
            "uri": "{{ s3_avatars_s3fallbacks3s3_uri }}",
            "accessKey": "{{ s3_avatars_s3fallbacks3s3_accessKey }}",
            "secretKey": "{{ s3_avatars_s3fallbacks3s3_secretKey }}",
            "region": "{{ s3_avatars_s3fallbacks3s3_region }}",
            "bucket": "{{ s3_avatars_s3fallbacks3s3_bucket }}"
            {% if s3_avatars_s3fallbacks3s3_ssec is defined and s3_avatars_s3fallbacks3s3_ssec -%}
            ,"ssec": "{{ s3_avatars_s3fallbacks3s3_ssec }}"
            {%- endif %}
          },
        {% endif %}
        "antivirus": {
          "host": "{{ s3_antivirus_host }}",
          "port": {{ s3_antivirus_port }},
          "credential": "{{ (project_env ~ '-' ~ project_name ~ ':' ~ s3_antivirus_credential) | b64encode }}"
        }
      },
    {% endif %}
    "avatar-path":"/srv/avatars/",
    {% if inventory_hostname_short is defined and inventory_hostname_short == 'jobs' and remoteNodes is defined %}
      "remote-nodes": {{ remoteNodes }},
    {% endif %}
    {% if garAdminConf is defined %}"gar-config": {{ garAdminConf }},{% endif %}
    {% if garRaAssignmentPolicy is defined %}"gar-ra-assignment-policy": {{ garRaAssignmentPolicy }},{% endif %}
    {% if emailConfigDirectory is defined or emailConfigPgHost is defined -%}
      "emailConfig":
      {% if emailConfigDirectory is defined %}
        {{ emailConfigDirectory }}
      {% else %}
        {
          "email": "{{ fromEmail }}",
          "host": "https://{{ host }}",
          "type": "SendInBlue",
          "api-key": "{{ sendInBlueApiKey | default('') }}",
          "uri": "https://api.sendinblue.com:443",
          "split-recipients" : true,
          "ip": "{{ sendInBlueIP | default('') }}",
          "tracking-image": "sendInBlueTrackingImage | default('')",
          "postgresql": {
            "port": {{ emailConfigPgPort | default('5432')}},
            "host": "{{ emailConfigPgHost | default('')}}",
            "database": "{{ statsDB }}",
            "user": "{{ emailConfigPgUser }}",
            "password": "{{statsPGCluster_cred_pql_pf}}",
            "ssl-mode": "REQUIRE",
            "log-emails": {{ logEmails | default('false') }},
            "pool-size": {{ eventsPGPoolSizeDirectory | default(10) }}
          }
        },
      {% endif %}
    {% endif -%}
    "enable-manual-group-autolink": {{ adminEnableManualGroupAutoLink | default('false') }},
    "publicConf": {
      "feeders": [
        "CSV"
      ],
      "federatedAddress": {{ federatedAddress | default('{}') }},
      {% if directoryDisabledFederatedAdress is defined %}
        "disabledFederatedAdress": {{ directoryDisabledFederatedAdress }},
      {% endif %}
      "userPosition": {
        "restrictCRUDToADMC": {{ directoryRestrictCRUDToADMC | default('false') }}
      }
    }
  }
}