<ode-search-input [attr.placeholder]="searchPlaceholder | translate" (onChange)="inputChange.emit($event)"></ode-search-input>
<div class="toolbar">
  <ng-content select="[toolbar]"></ng-content>
</div>
<div class="list-wrapper"
    infiniteScroll
    [scrollWindow]="false"
    (scrolled)="scrolledDown.emit()"
    [infiniteScrollThrottle]="50">
  <ul>
    <li *ngFor="let item of model | filter: filters | filter: inputFilter | store:self:'storedElements' | orderBy: sort | slice: 0:limit"
        (click)="onSelect.emit(item)"
        [class.selected]="isSelected(item)"
        [class.disabled]="isDisabled(item)"
        [ngClass]="ngClass(item)"
        class="lct-list-item">
      <ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{$implicit: item}">
      </ng-template>
    </li>
  </ul>
  <ul *ngIf="storedElements && storedElements.length === 0">
    <li class="no-results">{{ noResultsLabel | translate }}</li>
  </ul>
</div>
