<!DOCTYPE html>
<html>
	<head>
		<title>One : Start Dev</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body>
		<h1>One : Dev Mode</h1>
		<h2>Test</h2>
		<form method="GET" action="test">
			<textarea name="query" >START n=node(0) RETURN n" </textarea>
			<input type="submit" value="test" />
		</form>
		<h2>Data</h2>
		<p>
			<a href="sync/data/dev"> charger les données de test </a>
		</p>
		<h2>Applications</h2>
		<ul>
			<li><a href="admin">Admin</a></li>
			<li><a href="directory">Annuaire</a></li>
			<li><a href="sync">Sync</a></li>
			<li><a href="AppRegistry">Applications (store)</a></li>
			<li><a href="History">Historique</a></li>
		</ul>
	</body>
</html>
