<!DOCTYPE html>
<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~
 -->

<html>
	<head>
		<title>One : Start Dev</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body>
		<h1>One : Dev Mode</h1>
		<h2>Test</h2>
		<h3>Neo4j Execute</h3>
		<form method="GET" action="test">
			<input type="hidden" name="action" value="execute" />
			<textarea name="query" >START n=node(0) RETURN n" </textarea>
			<input type="submit" value="execute" />
		</form>
		<h3>Neo4j BatchInsert</h3>
		<form method="GET" action="test">
			<input type="hidden" name="action" value="batch-insert" />
			<textarea name="query" cols="50" rows="20"></textarea>
			<input type="submit" value="batch insert" />
		</form>
		<h2>Applications</h2>
		<ul>
			<li><a href="admin">Admin</a></li>
			<li><a href="directory">Annuaire</a></li>
			<li><a href="sync">Sync</a></li>
			<li><a href="AppRegistry">Applications (store)</a></li>
			<li><a href="History">Historique</a></li>
		</ul>
	</body>
</html>
