<div>
  <h1 class="main-container"><i class="dashboard"></i><s5l>admin.title</s5l></h1>
  <div class="card-layout">
    <ode-quick-actions-card></ode-quick-actions-card>
    <ode-user-search-card *ngIf="!structureParent" [structure]="structure" class="align-start"></ode-user-search-card>
    <ode-adml-search-card *ngIf="structureParent"></ode-adml-search-card>
    <ode-services-card></ode-services-card>
    <ode-imports-exports-card [structure] ="structure"></ode-imports-exports-card>
  </div>
</div>
