//Warm tones
@orange: #FD841C;
@dark-orange: #EA791C;

//Cold tones
@grey-top-gradient: #fff;
@grey-bottom-gradient: #eee;
@light-grey-background: #FDFDFD;
@light-grey: #eee;
@medium-grey: #ccc;
@dark-grey: #C2C2C2;
@ultra-dark-grey: #333;
@ultra-light-grey: #F6F6F6;

@blue-top-gradient: #3789C3;
@blue-bottom-gradient: #43B9E7;
@medium-blue: #2F8CC9;
@solid-blue: #3889C1;
@light-blue: #EBF4F9;

//Buttons: active
@button-top-gradient: #3789C3;
@button-bottom-gradient: #43B9E7;

//Buttons: disabled
@disabled-button-top-gradient: #9F9F9F;
@disabled-button-bottom-gradient: #EAEAEA;

//legend colors
@green: #6fbd2c;
@purple: #a04ac5;
@pink: #fa4860;
@cyan: #50b9fa;
