.row {
  max-width: 960px;
  width: 100%;
  position: relative;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.cell {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
}
.right-magnet {
  float: right !important;
}
.one {
  width: 1;
}
@media screen and (min-width: 720px) {
  .one {
    width: 8.166666666666666%;
  }
}
@media screen and (max-width: 720px) {
  .one {
    width: 100%;
  }
}
.two {
  width: 1;
}
@media screen and (min-width: 720px) {
  .two {
    width: 16.333333333333332%;
  }
}
@media screen and (max-width: 720px) {
  .two {
    width: 100%;
  }
}
.three {
  width: 1;
}
@media screen and (min-width: 720px) {
  .three {
    width: 24.5%;
  }
}
@media screen and (max-width: 720px) {
  .three {
    width: 100%;
  }
}
.four {
  width: 1;
}
@media screen and (min-width: 720px) {
  .four {
    width: 32.666666666666664%;
  }
}
@media screen and (max-width: 720px) {
  .four {
    width: 100%;
  }
}
.five {
  width: 1;
}
@media screen and (min-width: 720px) {
  .five {
    width: 40.83333333333333%;
  }
}
@media screen and (max-width: 720px) {
  .five {
    width: 100%;
  }
}
.six {
  width: 1;
}
@media screen and (min-width: 720px) {
  .six {
    width: 49%;
  }
}
@media screen and (max-width: 720px) {
  .six {
    width: 100%;
  }
}
.seven {
  width: 1;
}
@media screen and (min-width: 720px) {
  .seven {
    width: 57.166666666666664%;
  }
}
@media screen and (max-width: 720px) {
  .seven {
    width: 100%;
  }
}
.eight {
  width: 1;
}
@media screen and (min-width: 720px) {
  .eight {
    width: 65.33333333333333%;
  }
}
@media screen and (max-width: 720px) {
  .eight {
    width: 100%;
  }
}
.nine {
  width: 1;
}
@media screen and (min-width: 720px) {
  .nine {
    width: 73.5%;
  }
}
@media screen and (max-width: 720px) {
  .nine {
    width: 100%;
  }
}
.ten {
  width: 1;
}
@media screen and (min-width: 720px) {
  .ten {
    width: 81.66666666666666%;
  }
}
@media screen and (max-width: 720px) {
  .ten {
    width: 100%;
  }
}
.eleven {
  width: 1;
}
@media screen and (min-width: 720px) {
  .eleven {
    width: 89.83333333333333%;
  }
}
@media screen and (max-width: 720px) {
  .eleven {
    width: 100%;
  }
}
.twelve {
  width: 1;
}
@media screen and (min-width: 720px) {
  .twelve {
    width: 98%;
  }
}
@media screen and (max-width: 720px) {
  .twelve {
    width: 100%;
  }
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
a,
button,
input[type=button],
input[type=submit] {
  cursor: pointer;
}
i {
  font-style: normal;
}
iframe {
  border: none;
  width: 100%;
  height: 100%;
  overflow: visible;
}
body.app {
  margin: 0;
}
nav.vertical {
  padding-right: 10px;
}
nav.vertical h1 {
  margin-top: 0;
}
nav.vertical ul li {
  display: block;
}
nav.vertical ul li a {
  display: block;
}
nav.vertical ul li a i {
  display: block;
  float: right;
  margin-top: 2px;
}
nav.vertical ul li ul {
  display: none;
}
nav.vertical ul li.selected ul {
  display: block;
}
.navbar {
  height: 40px;
}
.navbar img {
  float: left;
  display: block;
  vertical-align: top;
  margin: 6px;
}
.navbar .welcome-message {
  display: block;
  float: left;
  line-height: 30px;
  margin-top: 8px;
}
.navbar .account {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  float: right !important;
}
.navbar .account img {
  max-width: 100%;
}
.navbar .account i {
  margin-top: 3px;
}
nav.horizontal {
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 0px;
}
nav.horizontal a {
  display: inline-block;
  vertical-align: bottom;
}
.search {
  position: relative;
  margin-top: 5px;
  margin-right: 10px;
}
.search input {
  display: block;
  margin: 0;
  float: left;
}
.search input[type=text] {
  border: 1px solid #eee;
  border-right: 0;
}
.search input[type=submit] {
  border: 1px solid #eee;
  border-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.line em,
.line span {
  display: block;
  width: 100%;
  line-height: 35px;
  height: 35px;
  background: #fefefe;
}
.line em[contenteditable=true],
.line span[contenteditable=true] {
  background: #fff;
}
.list-view ul,
.list-view header,
.list-view h2 {
  display: none;
}
.list-view table {
  width: 100%;
}
.list-view table tr.overline {
  border-bottom: none;
}
.list-view table tr.underline {
  border-top: none;
  padding-bottom: 15px;
}
.list-view table tr.underline td {
  vertical-align: bottom;
}
.list-view table td h2 {
  clear: both;
  margin-top: 15px;
  margin-bottom: 0;
}
.list-view table td img {
  vertical-align: middle;
}
.icons-view table {
  display: none;
}
.icons-view li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  width: 1;
  margin: 10px;
  margin-left: 0;
  padding: 10px;
  list-style-type: none;
}
.icons-view li img {
  max-width: 100%;
}
@media screen and (min-width: 720px) {
  .icons-view li {
    width: 24.5%;
  }
}
@media screen and (max-width: 720px) {
  .icons-view li {
    width: 100%;
  }
}
.icons-view li img,
.icons-view li i {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  max-width: 135px;
  height: 135px;
}
.icons-view li input[type=checkbox] {
  position: absolute;
  left: 10px;
  top: 10px;
}
.icons-view li em {
  display: none;
}
.icons-view li a {
  display: block;
  text-align: center;
  margin: 10px;
  width: 100%;
  position: relative;
}
.icons-view li:nth-child(3n + 4) {
  clear: left;
}
.enhanced-select {
  position: relative;
  margin-top: 15px;
  z-index: 5;
}
.enhanced-select .option {
  width: 100%;
  height: 30px;
}
.enhanced-select .options-list {
  display: none;
  position: absolute;
  width: 100%;
}
.enhanced-select .option,
.enhanced-select .current {
  clear: both;
  cursor: pointer;
}
.enhanced-select span {
  display: block;
  line-height: 26px;
  float: left;
  padding-left: 15px;
}
.enhanced-select .current {
  padding-top: 10px;
  padding-bottom: 15px;
  height: 26px;
}
.enhanced-select .current i {
  vertical-align: middle;
}
section .contextual-buttons .action-buttons {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  width: 1;
  line-height: 50px;
  margin-bottom: 10px;
}
section .contextual-buttons .action-buttons img {
  max-width: 100%;
}
@media screen and (min-width: 720px) {
  section .contextual-buttons .action-buttons {
    width: 81.66666666666666%;
  }
}
@media screen and (max-width: 720px) {
  section .contextual-buttons .action-buttons {
    width: 100%;
  }
}
section .contextual-buttons .action-buttons button,
section .contextual-buttons .action-buttons a.button {
  vertical-align: top;
}
section .contextual-buttons .display-buttons {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  width: 1;
  float: right;
  text-align: right;
}
section .contextual-buttons .display-buttons img {
  max-width: 100%;
}
@media screen and (min-width: 720px) {
  section .contextual-buttons .display-buttons {
    width: 16.333333333333332%;
  }
}
@media screen and (max-width: 720px) {
  section .contextual-buttons .display-buttons {
    width: 100%;
  }
}
section .contextual-buttons .display-buttons i {
  float: right;
  cursor: pointer;
}
section .contextual-buttons article li {
  list-style-type: none;
}
.logo {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}
button {
  position: relative;
}
button span {
  display: block;
  margin-top: 2px;
  margin-left: 5px;
  float: left;
}
header h2 {
  width: 30%;
  display: inline-block;
  margin: 0;
}
.clear {
  clear: both;
}
.lightbox-window form {
  padding: 15px;
}
.lightbox-window form input,
.lightbox-window form label {
  display: block;
  float: left;
}
.lightbox-window form label {
  clear: left;
  width: 150px;
}
.text-container {
  padding: 10px;
}
.text-container h1 {
  margin-top: 1em;
}
.text-container article {
  margin-bottom: 15px;
}
.box {
  min-height: 100px;
}
.box .bottom-locked {
  position: absolute;
  bottom: 7px;
}
.box .avatar {
  padding: 5px;
}
.box .avatar img {
  margin-top: 5px;
}
.cell img {
  max-width: 100%;
}
dl dd {
  margin-left: 0;
}
dl dt {
  clear: left;
}
.mini-box .cell {
  height: 50px;
  line-height: 50px;
}
.mini-box .cell .avatar {
  padding: 5px;
}
.mini-box .cell img {
  vertical-align: middle;
}
.large-box {
  min-width: 300px;
  min-height: 150px;
}
.flowing {
  height: 100%;
  padding: 15px;
}
.flowing section,
.flowing div,
.flowing form {
  height: 100%;
}
.flowing thead {
  display: block;
}
.flowing tbody {
  overflow-y: auto;
  height: 200px;
  margin-bottom: 10px;
  display: block;
}
.flowing form {
  padding: 0;
}
.flowing .cancel-flow thead,
.flowing .cancel-flow tbody,
.flowing .cancel-flow table {
  display: table;
}
.flowing .cancel-flow section,
.flowing .cancel-flow div,
.flowing .cancel-flow form {
  height: auto;
}
td.icon {
  width: 25px !important;
  height: 25px !important;
}
td.text {
  min-width: 150px !important;
}
td.main-cell {
  width: 100% !important;
}
em[contenteditable=true] {
  display: block;
  border-bottom: 1px dashed;
  line-height: 35px;
}
div.hidden-content {
  height: 0px;
  width: 0px;
  overflow: hidden;
}
html,
body {
  margin: 0;
  height: 100%;
}
.container {
  height: 100%;
}
.container header.main {
  height: 150px;
  width: 100%;
  position: relative;
  z-index: 2;
}
.container .main.wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
  padding-top: 150px;
  position: absolute;
  top: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  background: none;
  padding-bottom: 15px;
}
.container section.main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  padding: 15px;
}
section.lightbox-backdrop {
  position: fixed;
  background: #222;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  opacity: 0.5;
  z-index: 10;
  display: none;
}
section.lightbox-window {
  position: fixed;
  z-index: 15;
  background: #fff;
  height: 300px;
  top: 0;
  left: 50%;
  right: 15%;
  display: none;
  border-radius: 5px;
  padding-bottom: 40px;
}
section.lightbox-window input[type=submit],
section.lightbox-window input[type=button] {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.close-lightbox {
  float: right;
  margin: 10px;
  cursor: pointer;
}
body.lightbox-body {
  background: #666;
}
body.lightbox-body header.lightbox-header {
  opacity: 0.3;
}
body.lightbox-body section.lightbox-main {
  background: rgba(255, 255, 255, 0.3);
}
@font-face {
  font-family: KGJune;
  src: url(../fonts/KGJuneBug.ttf);
}
@font-face {
  font-family: Satellite;
  src: url(../fonts/Satellite.otf);
}
i[role=new-mail] {
  height: 40px;
  width: 40px;
  background-image: url("../img/icons/new-mail.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  float: left;
  vertical-align: middle;
  color: #fff;
  font-size: 10px;
  padding-left: 28px;
  padding-top: 8px;
  background-position: 0px 0px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
i[role=send-mail] {
  height: 41px;
  width: 41px;
  background-image: url("../img/icons/send-mail.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=view-folder] {
  height: 41px;
  width: 41px;
  background-image: url("../img/icons/view-folder.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=view-book] {
  height: 41px;
  width: 41px;
  background-image: url("../img/icons/view-book.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=public] {
  height: 25px;
  width: 25px;
  background-image: url("../img/icons/public.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=prive] {
  height: 25px;
  width: 25px;
  background-image: url("../img/icons/prive.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=storage] {
  height: 25px;
  width: 25px;
  background-image: url("../img/icons/storage.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=orange-user] {
  height: 25px;
  width: 25px;
  background-image: url("../img/icons/orange-user.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=add] {
  height: 27px;
  width: 27px;
  background-image: url("../img/icons/add.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
  width: 15px;
}
i[role=close] {
  height: 15px;
  width: 15px;
  background-image: url("../img/icons/close.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=close-2x] {
  height: 30px;
  width: 30px;
  background-image: url("../img/icons/close-2x.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=notification] {
  height: 23px;
  width: 23px;
  background-image: url("../img/icons/notification.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=show-icons] {
  height: 37px;
  width: 37px;
  background-image: url("../img/icons/show-icons.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=show-details] {
  height: 37px;
  width: 37px;
  background-image: url("../img/icons/show-details.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=show-list] {
  height: 37px;
  width: 37px;
  background-image: url("../img/icons/show-list.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=show-icons].selected {
  height: 37px;
  width: 37px;
  background-image: url("../img/icons/show-icons-selected.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=show-details].selected {
  height: 37px;
  width: 37px;
  background-image: url("../img/icons/show-details-selected.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=show-list].selected {
  height: 37px;
  width: 37px;
  background-image: url("../img/icons/show-list-selected.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=configuration] {
  height: 37px;
  width: 37px;
  background-image: url("../img/icons/configuration.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=user] {
  height: 30px;
  width: 30px;
  background-image: url("../img/icons/user.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=shutdown] {
  height: 30px;
  width: 30px;
  background-image: url("../img/icons/shutdown.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=apps] {
  height: 27px;
  width: 27px;
  background-image: url("../img/icons/apps.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=workspace-large] {
  height: 135px;
  width: 135px;
  background-image: url("../img/icons/workspace-large.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=doc-large] {
  height: 135px;
  width: 135px;
  background-image: url("../img/icons/doc-large.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=xls-large] {
  height: 135px;
  width: 135px;
  background-image: url("../img/icons/xls-large.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=folder-large] {
  height: 135px;
  width: 135px;
  background-image: url("../img/icons/folder-large.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=doc] {
  height: 32px;
  width: 32px;
  background-image: url("../img/icons/doc.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=img] {
  height: 25px;
  width: 25px;
  background-image: url("../img/icons/img.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=xls] {
  height: 32px;
  width: 32px;
  background-image: url("../img/icons/xls.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=folder] {
  height: 32px;
  width: 32px;
  background-image: url("../img/icons/folder.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=link] {
  height: 32px;
  width: 32px;
  background-image: url("../img/icons/link.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=userbook] {
  height: 25px;
  width: 25px;
  background-image: url("../img/icons/userbook.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=angry-panda] {
  height: 50px;
  width: 50px;
  background-image: url("../img/icons/angry-panda.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=default-panda] {
  height: 50px;
  width: 50px;
  background-image: url("../img/icons/default-panda.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=dreamy-panda] {
  height: 50px;
  width: 50px;
  background-image: url("../img/icons/dreamy-panda.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=happy-panda] {
  height: 50px;
  width: 50px;
  background-image: url("../img/icons/happy-panda.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=joker-panda] {
  height: 50px;
  width: 50px;
  background-image: url("../img/icons/joker-panda.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=love-panda] {
  height: 50px;
  width: 50px;
  background-image: url("../img/icons/love-panda.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=proud-panda] {
  height: 50px;
  width: 50px;
  background-image: url("../img/icons/proud-panda.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=sad-panda] {
  height: 50px;
  width: 50px;
  background-image: url("../img/icons/sad-panda.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=sick-panda] {
  height: 50px;
  width: 50px;
  background-image: url("../img/icons/sick-panda.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=tired-panda] {
  height: 50px;
  width: 50px;
  background-image: url("../img/icons/tired-panda.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=worried-panda] {
  height: 50px;
  width: 50px;
  background-image: url("../img/icons/worried-panda.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
i[role=arrow-bottom] {
  height: 9px;
  width: 9px;
  background-image: url("../img/icons/arrow-bottom.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
.small-panda {
  width: 25px !important;
  height: 25px !important;
  background-size: 100% auto;
}
a.button {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 0px !important;
}
.small.button {
  line-height: 30px;
  height: 30px;
}
.small.button:hover {
  line-height: 40px;
  height: 40px;
}
input[type=text] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  line-height: 25px;
}
label {
  font-size: 16px;
  color: #333333;
  line-height: 30px;
}
input[type=button],
input[type=submit],
a.button,
button {
  background: -webkit-linear-gradient(#3789c3, #3ec0d0);
  background: -moz-linear-gradient(#3789c3, #3ec0d0);
  background: -o-linear-gradient(#3789c3, #3ec0d0);
  background: linear-gradient(#3789c3, #3ec0d0);
  -pie-background: linear-gradient(#3789c3, #3ec0d0);
  behavior: url(/assets/themes/panda/css/PIE.htc);
  color: #fff;
  font-family: KGJune;
  text-transform: uppercase;
  height: 40px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 5px;
  border-radius: 10px;
  font-size: 23px;
  border: 1px solid #eee;
  line-height: 40px;
  -o-transition: height 150ms ease;
  -moz-transition: height 150ms ease;
  -webkit-transition: height 150ms ease;
  transition: height 150ms ease;
}
input[type=button] i,
input[type=submit] i,
a.button i,
button i {
  margin-right: 5px;
  margin-top: 5px;
}
textarea {
  width: 100%;
  height: 130px;
}
input[type=button]:hover,
input[type=submit]:hover,
a.button:hover,
button:hover {
  background: #3889c1;
  height: 50px;
  line-height: 50px;
  -o-transition: height 150ms ease;
  -moz-transition: height 150ms ease;
  -webkit-transition: height 150ms ease;
  transition: height 150ms ease;
}
input[type=button][disabled],
input[type=submit][disabled],
a.button[disabled],
button[disabled] {
  background: -webkit-linear-gradient(#9f9f9f, #eaeaea);
  background: -moz-linear-gradient(#9f9f9f, #eaeaea);
  background: -o-linear-gradient(#9f9f9f, #eaeaea);
  background: linear-gradient(#9f9f9f, #eaeaea);
  -pie-background: linear-gradient(#9f9f9f, #eaeaea);
  behavior: url(/assets/themes/panda/css/PIE.htc);
  cursor: not-allowed;
}
input[type=button][disabled]:hover,
input[type=submit][disabled]:hover,
a.button[disabled]:hover,
button[disabled]:hover {
  height: 40px;
  line-height: 40px;
}
h1 {
  font-family: KGJune;
  text-transform: uppercase;
  color: #fd841c;
  font-size: 27px;
  margin-top: 0;
}
h4 {
  font-family: Arial;
  font-size: 14px;
  color: #2f8cc9;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: normal;
  cursor: pointer;
}
h2 {
  font-family: Arial;
  font-size: 20px;
  color: #2f8cc9;
}
a {
  font-size: 12px;
  color: #2f8cc9;
  text-decoration: none;
}
nav.vertical i {
  margin-right: 5px;
}
nav.vertical ul {
  padding-left: 0;
}
nav.vertical ul li a {
  background: -webkit-linear-gradient(#ffffff, #eeeeee);
  background: -moz-linear-gradient(#ffffff, #eeeeee);
  background: -o-linear-gradient(#ffffff, #eeeeee);
  background: linear-gradient(#ffffff, #eeeeee);
  -pie-background: linear-gradient(#ffffff, #eeeeee);
  behavior: url(/assets/themes/panda/css/PIE.htc);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 1em;
  border: 1px solid #eeeeee;
  margin: 5px;
  line-height: 20px;
  padding: 5px;
  -o-transition: padding 150ms ease;
  -moz-transition: padding 150ms ease;
  -webkit-transition: padding 150ms ease;
  transition: padding 150ms ease;
}
nav.vertical ul li ul {
  margin-left: 30px;
}
nav.vertical ul li ul a {
  background: #f6f6f6;
}
nav.vertical ul a.selected,
nav.vertical ul a:hover {
  background: #3889c1;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}
nav.vertical ul a:hover {
  padding-top: 10px;
  padding-bottom: 10px;
  -o-transition: padding 150ms ease;
  -moz-transition: padding 150ms ease;
  -webkit-transition: padding 150ms ease;
  transition: padding 150ms ease;
}
article.box {
  border: 1px solid #ccc;
}
article.box.selected {
  background: #2f8cc9;
}
article.box.selected h4 {
  color: #fff;
}
article.box.selected i[role=view-folder] {
  height: 41px;
  width: 41px;
  background-image: url("../img/icons/view-folder-white.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
article.box.selected i[role=view-book] {
  height: 41px;
  width: 41px;
  background-image: url("../img/icons/view-book-white.png");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  vertical-align: middle;
}
tr.selected td {
  font-weight: bold;
  color: #fff;
  background: #3889c1;
}
article {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #fdfdfd;
  border: 1px solid #cccccc;
}
article header,
article thead {
  background: -webkit-linear-gradient(#3789c3, #3ec0d0);
  background: -moz-linear-gradient(#3789c3, #3ec0d0);
  background: -o-linear-gradient(#3789c3, #3ec0d0);
  background: linear-gradient(#3789c3, #3ec0d0);
  -pie-background: linear-gradient(#3789c3, #3ec0d0);
  behavior: url(/assets/themes/panda/css/PIE.htc);
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-left-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  padding: 7px;
}
article header h2,
article thead h2,
article header th,
article thead th {
  font-size: 14px;
  text-align: left;
}
article header th,
article thead th {
  padding: 5px;
}
article em {
  color: #666;
}
article .line {
  border-bottom: 1px dashed #ccc;
}
.navbar {
  background: -webkit-linear-gradient(#ffffff, #eeeeee);
  background: -moz-linear-gradient(#ffffff, #eeeeee);
  background: -o-linear-gradient(#ffffff, #eeeeee);
  background: linear-gradient(#ffffff, #eeeeee);
  -pie-background: linear-gradient(#ffffff, #eeeeee);
  behavior: url(/assets/themes/panda/css/PIE.htc);
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.navbar .welcome-message {
  color: #2f8cc9;
  font-family: KGJune;
  font-size: 24px;
  padding-right: 10px;
}
nav.horizontal a {
  font-family: KGJune;
  text-transform: uppercase;
  background: #fd841c;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 23px;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -o-transition: background 150ms ease;
  -moz-transition: background 150ms ease;
  -webkit-transition: background 150ms ease;
  transition: background 150ms ease;
  -o-transition: padding 150ms ease;
  -moz-transition: padding 150ms ease;
  -webkit-transition: padding 150ms ease;
  transition: padding 150ms ease;
}
nav.horizontal a:hover {
  background: #ea791c;
  -o-transition: background 150ms ease;
  -moz-transition: background 150ms ease;
  -webkit-transition: background 150ms ease;
  transition: background 150ms ease;
  -o-transition: padding 150ms ease;
  -moz-transition: padding 150ms ease;
  -webkit-transition: padding 150ms ease;
  transition: padding 150ms ease;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo {
  background: url(../img/illustrations/logo.png);
  width: 245px;
  height: 85px;
}
.search input[type=submit] {
  height: 28px;
  font-size: 18px;
  padding-top: 4px;
  line-height: 1em;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search input[type=text] {
  padding: 5px;
  color: #888;
  padding-left: 27px;
  line-height: 14px;
  background: url(../img/icons/search.png) no-repeat 3px #ffffff;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.icons-view li a {
  text-decoration: none;
  color: #888;
  font-size: 1em;
}
.icons-view li a img {
  padding: 7px;
  border: 1px solid #CCC;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
table.monoline tbody tr:nth-child(even) {
  background: #ebf4f9;
}
table.monoline tbody tr:nth-child(odd) {
  background: #f6f6f6;
}
table {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border-collapse: collapse;
}
table thead tr {
  border: none;
}
table thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
table thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
table tbody tr:nth-child(4n+1),
table tbody tr:nth-child(4n+2) {
  background: #ebf4f9;
}
table tr {
  border-top: 1px solid #cccccc;
  background: transparent;
}
table tr td.container-cell {
  padding: 0px;
}
table tr td {
  padding: 5px;
  font-size: 12px;
}
table tr td em {
  font-size: 13px;
  color: #cccccc;
  padding-left: 10px;
}
table tr td h2 {
  font-size: 14px;
  background: #eee;
  border: 1px solid #ccc;
  font-weight: normal;
  padding: 5px;
  color: #000;
}
table tr td h2 i {
  cursor: pointer;
}
table tr td a {
  margin: 5px;
}
table tr td a.button {
  font-size: 1.3em;
}
table tr td .action-cell {
  margin-top: 20px;
}
table tr td ul {
  margin-top: 0px;
  marginl-eft: 0px;
  padding-left: 0px;
}
table tr td ul li {
  font-size: 12px;
  list-style-type: none;
  padding: 5px;
  background: #fafafa;
  width: 100%;
}
dl dd {
  line-height: 35px;
}
img[src=""] {
  display: none;
}
.editable {
  color: #666;
  font-style: italic;
}
.enhanced-select {
  background: #fefefe;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.enhanced-select .option,
.enhanced-select .current {
  padding-left: 20px;
  cursor: pointer;
  font-size: 14px;
}
.enhanced-select span {
  color: #333;
}
.enhanced-select .current {
  background-image: url(../img/icons/arrow-bottom.png);
  background-repeat: no-repeat;
  background-position: 5px 15px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -o-border-top-left-radius: 10px;
  -o-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.enhanced-select .options-list {
  border: 1px solid #ccc;
  background: #fff;
}
.enhanced-select .editing {
  background-color: #3889c1;
}
.enhanced-select .editing span {
  color: #fff;
}
