@import "../../../../public/css/app";
@import "elements";

//Fonts
@font-face {
	font-family: KGJune;
	src: url(../fonts/KGJuneBug.ttf);
}

@font-face {
	font-family: Satellite;
	src: url(../fonts/Satellite.otf);
}

body{
	cursor: default !important;
}

//Icons
i[role=new-mail]{
	.icon(new-mail, 40px);
	color: #fff;
	font-size: 10px;
	padding-left: 28px;
	padding-top: 8px;
	background-position: 0px 0px;
	cursor: pointer;
	.border-box;
}

//Icons
i[role=shared]{
	.icon(shared, 18px);
	background-position: center;
	display: block;
	position: absolute;
	bottom: -2px;
	right: -3px;
}

.toggle-panel{
	background: @ultra-light-grey;
	box-shadow: -6px 6px 15px rgba(20, 20, 20, 0.2);
	.rounded-corners-left(10px);
	.toggle{
		.text-container;
		h1{
			margin-top: 0;
		}
		h2{
			color: #000;
			font-family: KGJune;
			text-transform: uppercase;
			font-size: 27px;
		}
	}
}

.toggle-bottom{
	background: rgba(235, 244, 249, 0.8);
	box-shadow: 0px -2px 6px rgba(20, 20, 20, 0.2);
	.contextual-link{
		a{
			color: @orange !important;
		}

		position: absolute;
		right: 10px;
		top: 25px;
	}
}

.loading-panel{
	opacity: 0.9;
	background: #333;
	cursor: default;
	h1{
		text-transform: none;
		color: #ccc;
		text-align: center;
		font-size: 50px;
	}
	img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

i[role=send-mail]{
	.icon(send-mail, 41px);
}

i[role=view-folder]{
	.icon(view-folder, 41px);
}

i[role=view-book]{
	.icon(view-book, 41px);
}

i[role=public]{
	.icon(public, 25px);
	cursor: pointer;
}

i[role=prive]{
	.icon(prive, 25px);
	cursor: pointer;
}

i[role=storage]{
	 .icon(storage, 25px);
	margin-top: 1px;
	margin-right: 7px;
}

i[role=blog]{
	.icon(blog, 33px);
	margin-top: 1px;
}

i[role=orange-user]{
	.icon(orange-user, 25px);
	margin-right: 7px;
}

i[role=add]{
	.icon(add, 27px);
	width: 15px;
}

i[role=close]{
	.icon(close, 15px);
}

i[role=close-2x]{
	.icon(close-2x, 30px);
}

i[role=notification]{
	.icon(notification, 27px);
}

i[role=show-icons]{
	.icon(show-icons, 37px);
}

i[role=show-details]{
	.icon(show-details, 37px);
}

i[role=show-list]{
	.icon(show-list, 37px);
}

i[role=show-icons].selected{
	.icon(show-icons-selected, 37px);
}

i[role=show-details].selected{
	.icon(show-details-selected, 37px);
}

i[role=show-list].selected{
	.icon(show-list-selected, 37px);
}

i[role=configuration]{
	.icon(configuration, 37px);
	cursor: pointer;
}

i[role=user]{
	.icon(user, 30px);
}

i[role=shutdown]{
	.icon(shutdown, 30px);
}

i[role=apps]{
	.icon(apps, 27px);
	margin-right: 7px;
}

i[role=workspace-large]{
	.icon(workspace-large, 135px);
}

i[role=maxicours-large]{
	.icon(maxicours-large, 135px);
}

i[role=notes-large]{
	.icon(notes-large, 135px);
}

i[role=cahier-de-texte-large]{
	.icon(cahier-de-texte-large, 135px);
}

i[role=conversation-large]{
	.icon(conversation-large, 135px);
}

i[role=residence-artiste-large]{
	.icon(residence-artiste-large, 135px);
}

i[role=blog-large]{
	.icon(blog-large, 135px);
}

i[role=account-large]{
	.icon(account-large, 135px);
}

i[role=website-large]{
	.icon(website-large, 135px);
}

i[role=doc-large]{
	.icon(doc-large, 135px);
}

i[role=unknown-large]{
	.icon(unknown-large, 135px);
}

i[role=xls-large]{
	.icon(xls-large, 135px);
}

i[role=ppt-large]{
	.icon(ppt-large, 135px);
}

i[role=pdf-large]{
	.icon(pdf-large, 135px);
}

i[role=video-large]{
	.icon(video-large, 135px);
}

i[role=audio-large]{
	.icon(audio-large, 135px);
}

i[role=folder-large]{
	.icon(folder-large, 135px);
}

i[role=doc]{
	 .icon(doc, 32px);
}

i[role=unknown]{
	.icon(unknown, 25px);
}

i[role=img]{
	.icon(img, 25px);
}

i[role=xls]{
	.icon(xls, 32px);
}

i[role=video]{
	.icon(video, 32px);
}

i[role=pdf]{
	.icon(pdf, 32px);
}

i[role=ppt]{
	.icon(ppt, 32px);
}

i[role=audio]{
	.icon(audio, 32px);
}

i[role=folder]{
	.icon(folder, 32px);
}

i[role=link]{
	.icon(link, 32px);
}

i[role=userbook]{
	.icon(userbook, 25px);
	margin-top: 3px;
	margin-right: 7px;
}

i[role=angry-panda]{
	.icon(angry-panda, 50px);
}

i[role=default-panda]{
	.icon(default-panda-60px, 50px);
}

i[role=dreamy-panda]{
	.icon(dreamy-panda, 50px);
}

i[role=happy-panda]{
	.icon(happy-panda, 50px);
}

i[role=joker-panda]{
	.icon(joker-panda, 50px);
}

i[role=love-panda]{
	.icon(love-panda, 50px);
}

i[role=proud-panda]{
	.icon(proud-panda, 50px);
}

i[role=sad-panda]{
	.icon(sad-panda, 50px);
}

i[role=sick-panda]{
	.icon(sick-panda, 50px);
}

i[role=tired-panda]{
	.icon(tired-panda, 50px);
}

i[role=worried-panda]{
	.icon(worried-panda, 50px);
}

i[role=angry-panda].small-panda{
	.icon(angry-panda-small, 26px);
}

i[role=default-panda].small-panda{
	.icon(default-panda-small, 26px);
}

i[role=dreamy-panda].small-panda{
	.icon(dreamy-panda-small, 26px);
}

i[role=happy-panda].small-panda{
	.icon(happy-panda-small, 26px);
}

i[role=joker-panda].small-panda{
	.icon(joker-panda-small, 26px);
}

i[role=love-panda].small-panda{
	.icon(love-panda-small, 26px);
}

i[role=proud-panda].small-panda{
	.icon(proud-panda-small, 26px);
}

i[role=sad-panda].small-panda{
	.icon(sad-panda-small, 26px);
}

i[role=sick-panda].small-panda{
	.icon(sick-panda-small, 26px);
}

i[role=tired-panda].small-panda{
	.icon(tired-panda-small, 26px);
}

i[role=worried-panda].small-panda{
	.icon(worried-panda-small, 26px);
}

i[role=arrow-bottom]{
	.icon(arrow-bottom, 9px);
}

i[role=arrow-bottom]{
	.icon(arrow-bottom, 9px);
}

i[role=tools]{
	.icon(tools, 28px);
}

i[role=cancel]{
	.icon(cancel, 15px);
}

.warning{
	color: #c60c17;
	background: #FFE7E8;
	padding: 7px;
	font-size: 12px;
	text-align: center;
	.rounded-corners(10px);
}

.icons-tabs{
	li{
		border: 2px solid #fff;
		.rounded-corners-right(10px);
		background: @medium-blue;
		.run-transition(background);
		border-left: 0;
	}
	li:hover{
		background: #2c6f9b;
		.run-transition(background);
	}
	li.active{
		background: @orange;
		.run-transition(background);
	}
	li.active:hover{
		background: @dark-orange;
		.run-transition(background);
	}
}

a.button{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 0px !important;
}

.small.button{
	line-height: 30px;
	height: 30px;
}

.remove-fout{
	visibility: hidden
}

input[type=text], input[type=password]{
	.rounded-corners(5px);
	border: 1px solid #ccc;
	line-height: 25px;
	height: 25px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 3px;
}

label{
	font-size: 14px;
	color: @ultra-dark-grey;
	line-height: 25px;
}

input[type=button], input[type=submit], a.button, button{
	background: @blue-top-gradient;
	.vertical-gradient(@button-top-gradient, @button-bottom-gradient);
	color: #fff;
	font-family: KGJune;
	text-transform: uppercase;
	height: 40px;
	display: inline-block;
	.border-box;
	padding-bottom: 5px;
	border-radius: 10px;
	font-size: 23px;
	border: 1px solid #eee;
	line-height: 40px;
	i{
		margin-right: 5px;
		margin-top: 5px;
	}
}

textarea{
	width: 100%;
	height: 130px;
	border: 1px solid #CCC;
}

input[type=button]:hover, input[type=submit]:hover, a.button:hover, button:hover{
	background: @solid-blue;
}

input[type=button][disabled], input[type=submit][disabled], a.button[disabled], button[disabled]{
	.vertical-gradient(@disabled-button-top-gradient, @disabled-button-bottom-gradient);
	cursor: default;
}

input[type=button][disabled]:hover, input[type=submit][disabled]:hover, a.button[disabled]:hover, button[disabled]:hover{
	height: 40px;
	line-height: 40px;
}

h1, h1 a{
	font-family: KGJune;
	text-transform: uppercase;
	color: @orange;
	font-size: 27px;
	margin-top: 0;
	margin-bottom: 10px;
}



h2{
	font-family: Arial;
	font-size: 20px;
	color: @medium-blue;
}

a{
	font-size: 12px;
	color: @medium-blue;
	text-decoration: none;
}

hr.solid{
	border-bottom: 1px solid @medium-grey;
}

nav.vertical{
	h2{
		color: #000;
		text-transform: uppercase;
		font-size: 18px;
	}
	i{
		margin-right: 5px;
	}
	ul{
		margin-top: 0;
		width: 99%;
		padding-left: 0;

	ul.selected{
		.run-transition(all, 250ms, ease-in-out)
	}
	ul.closed{
		max-height: 0px;
		.run-transition(all);
		overflow: hidden;
	}
	li{
		padding: 0;
		em{
			color: @medium-grey;
		}
		em.active{
			color: #000;
		}
		em, span{
			background: @ultra-light-grey;
			.rounded-corners(10px);
			border: 1px solid @light-grey;
			display: block;
			margin: 5px;
			line-height: 20px;
			padding: 5px;
			a{
				display: inline-block;
				background: @solid-blue !important;
				width: 19px;
				padding: 0;
				margin: 0;
				text-align: center;
				height: 19px;
				color: white;
				margin-right: 5px;
				strong{
					color: #fff;
				}
			}
		}
		input{
			margin-left: 15px;
			height: 27px;
		}
		input[type=text]{
			margin-top: -5px;
			width: 90%;
		}
      a{
        .vertical-gradient(@grey-top-gradient, @grey-bottom-gradient);
        .rounded-corners(10px);

        font-size: 1em;
        border: 1px solid @light-grey;
        margin: 5px;
        line-height: 20px;
        padding: 5px;
		  padding-left: 10px;
        .run-transition(background);
		  color: #000;
      }

      ul{
			margin-left: 0;
			padding-left: 25px;
			.border-box;
			width: 100%;

        a{
          background: @ultra-light-grey;
        }
      }
    }

    a.selected, a:hover{
      background: @solid-blue;
      color: #fff;
    }
    a:hover{
      .run-transition(background);
    }
  }

}

.inline-editing{
	border: none !important;
	border-bottom: 1px solid #ccc !important;
	border-radius: 0 !important;
}

.select-file{
	input[type=text]{
		border: 1px solid #eee;
		border-right: 0;
		margin: 0;
		.border-box;
	}
	button, input[type=button]{
		.border-box;
		margin: 0;
		border: 1px solid #eee;
		border-left: 0;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		.rounded-corners-right(3px);
		line-height: 30px;
		height: 30px;
	}
}

.input-block{
	input[type=text]{
		border: 1px solid #eee;
		border-right: 0;
		margin: 0;
		height: 25px;
		line-height: 25px;
		.border-box;
	}
	input[type=submit], button{
		border: 1px solid #eee;
		border-left: 0;
		.rounded-corners(0);
		font-family: Arial;
		line-height: 25px;
		height: 25px;
		font-size: 16px;
		border: 0;
	}
}

.search{
	.input-block;
}

button.cancel, input[type=button].cancel, a.cancel{
	.vertical-gradient(#666, #888)
}

h3{
	color: @medium-blue;
	font-weight: normal;
	font-size: 18px;
}

h4{

}

.greyed-out{
	background: @ultra-light-grey;
}

.simple-text{
	display: inline !important;
	font-size: 12px !important;
	font-weight: normal;
	color: #000;
	font-family: Arial;
	background: none !important;
}

article.comment{
	background: @ultra-light-grey;
	em{
		display: inline;
		background: none;
	}
	em, a{
		font-size: 12px;
		line-height: 18px;
	}
}

.box{
	.rounded-corners(10px);
	h4, h3{
		color: @medium-blue;
	}
	h4{
		font-family: Arial;
		font-size: 14px;
		color: @medium-blue;
		margin-top: 10px;
		margin-bottom: 0px;
		font-weight: normal;
	}
}

article.box{
	border: 1px solid #ccc;
}

section.selected, article.selected{
	background: @medium-blue;
	color: #fff;
	h3,h4{
		color: #fff;
	}
	.rounded-corners(10px);
}

article.box.selected{

	h4{
		color: #fff;
	}

	i[role=view-folder]{
		.icon(view-folder-white, 41px);
	}

	i[role=view-book]{
		.icon(view-book-white, 41px);
	}
}

tr.selected{
	td{
		font-weight: bold;
		color: #fff;
		background: @solid-blue;
	}
}

article{
  .rounded-corners(10px);
  background: @light-grey-background;
  border: 1px solid @medium-grey;

  header, thead{
    .vertical-gradient(@blue-top-gradient, @blue-bottom-gradient);
    .rounded-corners-top(10px);
    color: #fff;
    padding: 7px;

		h2, th{
			font-size: 14px;
			text-align: left;
		}
		th{
			padding: 5px;
		}
	}

	em{
		color: #666;
		font-size: 14px;
	}
}

.line{
	border-bottom: 1px dashed #ccc;
}

.navbar{
  .vertical-gradient(@grey-top-gradient, @grey-bottom-gradient);
  .rounded-corners-bottom;

  .welcome-message{
    color: @medium-blue;
    font-family: KGJune;
    font-size: 24px;
    padding-right: 10px;
  }
}

nav.horizontal{
  a{
    font-family: KGJune;
    text-transform: uppercase;
    background: @orange;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 23px;
    text-decoration: none;

    .rounded-corners(10px);
    .run-transition(background);
  }
  a:hover{
    background: @dark-orange;
    .run-transition(background);
  }
}

h3{
	font-weight: normal;
	font-size: 18px;
	margin: 0;
}

.logo{
	background: url(../img/illustrations/logo.png) no-repeat;
	width: 245px;
	height: 85px;
	cursor: pointer;
}

.search{
	input[type=submit]{
		height: 28px;
		font-size: 18px;
		padding-top: 4px;
		line-height: 1em;
		.rounded-corners-right(5px)
  }
	input[type=text]{
		padding: 5px;
		color: #888;
		padding-left: 27px;
		line-height: 14px;
		background: url(../img/icons/search.png) no-repeat 3px #fff;
		.rounded-corners-left(5px)
	}
}

.photo-preview{
	background: #fff;
	border: 1px solid #ccc;
	padding: 4px;
	box-shadow: 2px 1px 2px rgba(100, 100, 100, 0.2);
	.run-transition(box-shadow);
}

.photo-preview:hover{
	box-shadow: 2px 1px 2px rgba(100, 100, 100, 1);
	.run-transition(box-shadow);
}

.badge{
	.rounded-corners(10px);
	background: @solid-blue;
	color: #fff;
	font-weight: bold;
	padding: 1px;
	display: inline-block;
	width: 15px;
	height: 15px;
	text-align: center;
	font-size: 12px;
}

.icons-view{
	a.img-container{
		height: 129px;
		padding: 7px;
		border: 1px solid #CCC;
		background: #fff;
		.rounded-corners(8px);
		.border-box;

		div{
			overflow: hidden;
			width: 100%;
			height: 100%;
		}
	}

	.element.selected{
		background: @light-blue;
		border: 1px solid #fff;
		box-shadow: #eee 0px 0px 0px 1px;
		border-radius: 5px;
	}

	.element a{
		text-decoration: none;
		color: #666;
		font-size: 16px;

		strong{
			color: @medium-blue;
			font-weight: normal;
			font-size: 14px;
		}

		i, img{
			opacity: 1;
		}

		i:hover, img:hover{
			opacity: 0.8;
		}
	}
}

table.monoline{
	tbody{
		tr:nth-child(even){
			background: @light-blue;
		}
		tr:nth-child(odd){
			background: @ultra-light-grey;
		}
	}
}

.user-content{
	white-space: pre-line;
}

em[contenteditable=true].multiline{
	min-height: 35px;
	height: auto;
}

textarea{
	font-family: Arial;
	font-size: 14px;
	overflow: visible;
	color: #666;
	font-size: 14px;
	max-width: 100%;
}

table{
	.rounded-corners(10px);
	border-collapse: collapse;

	thead{
		tr{
			border: none;
		}
		tr:first-child th:first-child{
			border-top-left-radius: 10px;
		}
		tr:first-child th:last-child{
			border-top-right-radius: 10px;
		}
	}
	tbody{
		.checked{
			background: @light-blue;
			.run-transition(background);
		}
		tr:last-child td:first-child{
			border-bottom-left-radius: 10px;
			overflow: hidden;
		}
		tr:last-child td:last-child{
			border-bottom-right-radius: 10px;
			overflow: hidden
		}
	}
	tr.new-element{
		font-weight: bold;
		background: @ultra-light-grey;
	}
	tr.new-element.checked{
		background: @light-blue;
	}
	.close-slide{
		max-height: 1px;
	}
	.open-slide{
		transition-property: all;
		transition-duration: .5s;
		transition-timing-function: cubic-bezier(0, 1, 0.3, 1);
	}
	tr{
		border-top: 1px solid @medium-grey;
		background: transparent;
		.run-transition(background);
		td.container-cell{
			padding: 0px;
		}
		td{
			padding: 5px;
			font-size: 12px;

			em.tag{
				font-size: 13px;
				color: @medium-grey;
				padding-left: 10px;
			}

			h2{
				font-size: 14px;
				background: @ultra-light-grey;
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				font-weight: normal;
				padding: 5px;
				color: #000;

				i{
					cursor: pointer;
				}
			}

			a{
				margin: 5px;
			}

			.comment{
				a{
					margin-left: 0;
				}
			}

			a.button{
				font-size: 1.3em;
			}

			.action-cell{
				margin-top: 20px;
			}

			ul{
				margin-top: 0px;
				marginl-eft: 0px;
				padding-left: 0px;

				li{
					font-size: 12px;
					list-style-type: none;
					padding: 5px;
					width: 100%;
				}
			}
		}
	}
}

.editor-container{
	border: 1px solid @light-grey;
	background: #fff;
}

em.low-importance{
	font-size: 12px !important;
	height: 16px;
	line-height: 16px;
	text-align: right;
}

dl{
	dd{
		line-height: 30px;
	}
}

img[src=""]{
	display: none;
}

.editable{
	color: #666;
	font-style: italic;
}

.enhanced-select{
	background: #fefefe;
	.rounded-corners(10px);
	border: 1px solid #ccc;

	.option i{
		float: none !important;
		margin-left: auto;
		margin-right: auto;
		width: 60px;
		height: 60px;
		background-size: 100% auto;
	}

	.option, .current{
		cursor: pointer;
	}
	span{
		color: #333;
		font-family: KGJune;
		font-size: 20px;
		clear: left;
		white-space: nowrap;
		text-align: center;
		width: 100%;
	}
	.current{
		background-image: url(../img/icons/arrow-bottom.png);
		background-repeat: no-repeat;
		background-position: 5px 15px;
		.rounded-corners-top(10px);
	}

	.options-list{

		border: 1px solid #ccc;
		background: #fff;
		box-shadow: @medium-blue 0px 0px 5px;
	}

	.editing{
		background-color: @solid-blue;
		span{
			color: #fff;
		}
	}
}

.enhanced-select.one-col{
	.option{
		.twelve
	}
}

.share{
	table{
		width: 100%;
	}
	tr:hover{
		background: @light-blue;
		border: 1px solid #ccc;
		td.drop-line{
			background: url(../img/icons/close.png) no-repeat center;
		}
	}
	td, th{
		width: 100px;
		text-align: center;

		input[type=checkbox]{
			display: none;
		}

		label:hover{
			.rounded-corners(5px);
			.run-transition(background);
		}

		label{
			cursor: pointer;
			float: none;
			display: block;
			.run-transition(background);

			span{
				display:inline-block;
				width:19px;
				height:19px;
				margin:-1px 4px 0 0;
				vertical-align:middle;
				cursor: pointer;
			}

			input[type=checkbox]:checked + span {
				background:url(../img/icons/checkbox-checked.png) no-repeat;
			}
		}
	}
	tr{
		border: 1px solid transparent;
		.rounded-corners(0px);
	}
	th{
		font-size: 14px;
		font-weight: normal;
		color: @solid-blue;
		padding-bottom: 5px;
	}
	td:first-child, th:first-child{
		width: 30%;
		text-align: left;
		padding-left: 15px;
	}

	.line{
		margin-bottom: 15px;
		padding-bottom: 15px;
	}

	h3{
		padding: 15px;
	}

	input[type=text]{
		margin-left: 15px;
		margin-bottom: 15px;
	}

	.block{
		padding: 15px;
	}

	.display-more{
		text-align: right;
		width: 100%;
		display: block;
		font-size: 15px;
		padding: 15px;
		.border-box;
	}
}



.birthday{
	background-image: url(../img/illustrations/birthdays-header.png);

	.content{
		.select-class{
			padding-right: 3px;
		}
		border-color: #e83314;
		background: #eee;

		.class-label{
			font-size: 12px;
			line-height: 29px;
			padding-left: 5px;
		}
		.select{
			margin-top: 4px;
			margin-bottom: 4px;
		}
	}

	nav.vertical{
		ul{
			li{
				a{
					.rounded-corners(0px);
					color: @medium-blue;

					.date{
						color: #666;

						h2, h4{
							margin: 0;
							color: #888;

							text-align: center;
						}

						h2{
							font-size: 25px;
						}

						h4{
							font-size: 12px;
							font-weight: normal;
						}
					}
				}
				a:hover{
					color: #fff;
					h2, h4{
						color: #fff;
					}
				}
			}

		}
	}

}

.select{
	padding-left: 18px;
	overflow: hidden;
	.border-box;
	border-radius: 10px;
	background: url(../img/icons/arrow-bottom.png) 7px no-repeat #FFF;
	height: 23px;

	select{
		width: 100%;
		border: none;
		right: -18px;
		position: absolute;
	}
}

.birthday.fr{
	background-image: url(../img/illustrations/birthdays-header-fr.png)
}

.calendar{
	background-image: url(../img/illustrations/calendar-header.png);

	.current-month-header{
		color: #FFF;
		font-family: Arial;
		font-weight: normal;
		font-size: 14px;
	}

	.current-day{
		h1{
			font-family: Arial;
			color: #000;
			font-size: 14px;
			text-align: center;
			font-weight: normal;
			margin-bottom: -10px;
			margin-top: 5px;
		}
		h2{
			font-family: Times New Roman;
			font-size: 60px;
			color: #b11f1f;
			margin: 0;
			text-align: center;
			font-weight: normal;
		}
		h3{
			font-family: Calibri;
			font-weight: 100;
			color: #666;
			font-size: 14px;
			background: url(../img/illustrations/calendar-separator.png) no-repeat center top;
			text-align: center;
			margin-top: -10px;
			padding-top: 6px;
		}
	}

	.content{
		border-color: #ccc;
		.day{
			color: #666;
			font-weight: bold;
			font-size: 10px;
			border-left: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
		}
		.day.today{
			color: #fff;
			background: #b11f1f;
		}
		.day.previous-month, .day.next-month{
			color: #CCC;
		}

	}
}

.line{
	em, span{
		font-size: 14px;
		background: #fefefe;
	}
	em[contenteditable=true], span[contenteditable=true]{
		background: #fff;
	}
	a{
		font-size: 16px;
	}
	p{
		font-size: 14px;
		margin: 0;
		a{
			font-size: 14px;
		}
	}
}

.autocomplete {
	em{
		color: #666;
		font-style: normal;
		display: block;
		padding: 3px;
		padding-left: 15px;
		border: 1px solid transparent;
	}
	em:hover{
		background: @light-blue;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
}

.filters{
	height: 40px;
	text-align: center;
	ul{
		margin-top: 10px;
		display: inline-block;
		padding-left: 0px;
	}
	li{
		vertical-align: top;
		line-height: 23px;
		i{
			background-size: contain;
			margin: 0 !important;
			margin-right: 3px !important;
			float: none !important;
			vertical-align: top !important;
			display: inline-block !important;
		}
		i[role=workspace]{
			.icon(workspace-small, 20px);
		}
		i[role=userbook]{
			.icon(user, 20px);
		}
		i[role=blog]{
			.icon(blog, 20px);
		}
		i[role=apps]{
			.icon(apps-small, 20px);
		}
		color: @medium-blue;
		font-size: 13px;
		padding-left: 10px;
		padding-right: 10px;
	}
	li.legend{
		color: #666;
	}
}

.humane-original-error{
	border: 3px solid #fff;
	font-family: KGJune;
	font-size: 30px;
	opacity: 1;
	cursor: pointer;
}

