<div class="container has-shadow">
  <h2>
    <s5l>management.structure.informations.general</s5l>
  </h2>
  <form #updateForm="ngForm" (ngSubmit)="updateStructure()">
    <ode-form-field label="management.structure.informations.name">
      <input
        type="text"
        [(ngModel)]="structName"
        name="name"
        required
        pattern=".*\S+.*"
        (blur)="structName = structName.trim()"
        #nameInput="ngModel"
      />
      <ode-form-errors [control]="nameInput"></ode-form-errors>
      <button
        type="button"
        class="cancel"
        (click)="resetManualName()"
        *ngIf="structure.manualName"
      >
        <s5l>management.structure.informations.name.reset</s5l>
      </button>
      <i class="fa is-info">
        <s5l class="info-label"
          >management.structure.informations.help.label</s5l
        >
      </i>
      <ode-message-sticker
        type="info"
        [messages]="['management.structure.informations.name.help']"
      >
      </ode-message-sticker>
    </ode-form-field>

    <ode-form-field label="management.structure.informations.id">
      <span>{{ structure.id }}</span>
    </ode-form-field>

    <!-- For ADMCs -->
    <div *ngIf="isADMC == true">
      <ode-form-field label="management.structure.informations.UAI">
        <input
          type="text"
          [(ngModel)]="structUAI"
          name="UAI"
          pattern="[0-9]{7}[A-Z]"
          #UAIInput="ngModel"
        />
      </ode-form-field>
      <ode-form-errors [control]="UAIInput"></ode-form-errors>
      <ode-form-field label="management.structure.informations.hasApp">
        <input
          type="checkbox"
          [(ngModel)]="structHasApp"
          name="hasApp"
          #hasAppInput="ngModel"
        />
      </ode-form-field>
      <ode-form-errors [control]="hasAppInput"></ode-form-errors>
      <ode-form-field label="management.structure.informations.enableMFA">
        <input
          type="checkbox"
          [(ngModel)]="structEnableMFA"
          name="ignoreMFA"
          #enableMFAInput="ngModel"
        />
      </ode-form-field>
      <ode-form-errors [control]="enableMFAInput"></ode-form-errors>
    </div>

    <!-- For ADMLs -->
    <div *ngIf="isADMC != true">
      <ode-form-field label="management.structure.informations.UAI">
        <span>{{ structure.UAI }}</span>
      </ode-form-field>
      <ode-form-field label="management.structure.informations.hasApp">
        <s5l *ngIf="structure.hasApp == true"
          >management.structure.informations.hasApp.true</s5l
        >
        <s5l *ngIf="structure.hasApp == false"
          >management.structure.informations.hasApp.false</s5l
        >
      </ode-form-field>
    </div>

    <ode-form-field label="management.structure.informations.sourceType">
      <span>
        <s5l *ngIf="structure.isSourceAutomatic"
          >management.structure.informations.sourceType.automatic</s5l
        >
        <s5l *ngIf="!structure.isSourceAutomatic"
          >management.structure.informations.sourceType.manual</s5l
        >
        <ode-message-sticker
          *ngIf="structure.isSourceAutomatic"
          gravity="right"
          type="info"
          [messages]="[
            'management.structure.informations.sourceType.automatic.help'
          ]"
        >
        </ode-message-sticker>
        <ode-message-sticker
          *ngIf="!structure.isSourceAutomatic"
          gravity="right"
          type="info"
          [messages]="[
            'management.structure.informations.sourceType.manual.help'
          ]"
        >
        </ode-message-sticker>
      </span>
    </ode-form-field>

    <div class="action">
      <button
        class="create confirm"
        [disabled]="updateForm.pristine || updateForm.invalid"
      >
        <s5l>management.structure.informations.update</s5l>
      </button>
    </div>
  </form>

  <div *ngIf="isADMC" class="structure-attachment">
    <ode-structure-attachment [currentStructure]="structure" [isADMC]="isADMC">
    </ode-structure-attachment>
  </div>
</div>

<div class="container has-shadow">
  <h2>
    <s5l>management.structure.informations.stats</s5l>
  </h2>
  <div class="profile-metrics">
    <div class="profile-column">
      <div class="profile-card">
        <div class="profile-number">{{ metrics.students.active }}</div>
        <div class="profile-label">
          <s5l>management.structure.informations.stats.students.active</s5l>
        </div>
      </div>
      <div class="profile-card">
        <div class="profile-number">{{ metrics.students.inactive }}</div>
        <div class="profile-label">
          <s5l>management.structure.informations.stats.students.inactive</s5l>
        </div>
      </div>
    </div>
    <div class="profile-column">
      <div class="profile-card">
        <div class="profile-number">{{ metrics.relatives.active }}</div>
        <div class="profile-label">
          <s5l>management.structure.informations.stats.relatives.active</s5l>
        </div>
      </div>
      <div class="profile-card">
        <div class="profile-number">{{ metrics.relatives.inactive }}</div>
        <div class="profile-label">
          <s5l>management.structure.informations.stats.relatives.inactive</s5l>
        </div>
      </div>
    </div>
    <div class="profile-column">
      <div class="profile-card">
        <div class="profile-number">{{ metrics.teachers.active }}</div>
        <div class="profile-label">
          <s5l>management.structure.informations.stats.teachers.active</s5l>
        </div>
      </div>
      <div class="profile-card">
        <div class="profile-number">{{ metrics.teachers.inactive }}</div>
        <div class="profile-label">
          <s5l>management.structure.informations.stats.teachers.inactive</s5l>
        </div>
      </div>
    </div>
    <div class="profile-column">
      <div class="profile-card">
        <div class="profile-number">{{ metrics.personnels.active }}</div>
        <div class="profile-label">
          <s5l>management.structure.informations.stats.personnels.active</s5l>
        </div>
      </div>
      <div class="profile-card">
        <div class="profile-number">{{ metrics.personnels.inactive }}</div>
        <div class="profile-label">
          <s5l>management.structure.informations.stats.personnels.inactive</s5l>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container has-shadow settings" *ngIf="isADMC == true">
  <h2>
    <s5l>management.structure.informations.duplication.setting</s5l>
  </h2>
  <form #settingsForm="ngForm" (ngSubmit)="duplicateSettings()">
    <div class="settings-bloc">
      <div>
        <h3>
          <s5l
            >management.structure.informations.duplication.setting.select</s5l
          >
        </h3>
        <ode-form-field
          label="management.structure.informations.duplication.setting.applications"
        >
          <input
            type="checkbox"
            name="applications"
            [(ngModel)]="settings.applications"
          />
        </ode-form-field>
        <ode-form-field
          label="management.structure.informations.duplication.setting.widgets"
        >
          <input
            type="checkbox"
            name="widgets"
            [(ngModel)]="settings.widgets"
          />
        </ode-form-field>
        <ode-form-field
          label="management.structure.informations.duplication.setting.distribution"
        >
          <input
            type="checkbox"
            name="distribution"
            [(ngModel)]="settings.distribution"
          />
        </ode-form-field>
        <ode-form-field
          label="management.structure.informations.duplication.setting.mobileapp"
        >
          <input
            type="checkbox"
            name="mobileapp"
            [(ngModel)]="settings.mobileapp"
          />
        </ode-form-field>
        <ode-form-field
          label="management.structure.informations.duplication.setting.education"
        >
          <input
            type="checkbox"
            name="education"
            [(ngModel)]="settings.education"
          />
        </ode-form-field>
      </div>
      <div>
        <h3>
          <s5l>management.structure.informations.duplication.setting.uai</s5l>
          <ode-message-sticker
            class="sticker"
            type="info"
            [messages]="[
              'management.structure.informations.duplication.setting.uai.tooltip'
            ]"
          >
          </ode-message-sticker>
        </h3>
        <textarea
          name="uaiList"
          [(ngModel)]="settings.uaiList"
          [attr.placeholder]="
            'management.structure.informations.duplication.setting.uai.placeholder'
              | translate
          "
        >
        </textarea>
      </div>
    </div>
    <div class="action">
      <button
        class="create confirm"
        [disabled]="!settings.canDuplicateSettings()"
      >
        <s5l
          >management.structure.informations.duplication.setting.uai.button</s5l
        >
      </button>
    </div>
  </form>
  <ode-lightbox-confirm
    [show]="showSettingsLightbox"
    [lightboxTitle]="settings.lightboxTitle"
    [disableConfirm]="!settings.lightboxCanValidate"
    (onCancel)="closeLightbox()"
    (onConfirm)="launchDuplication()"
  >
    <p>
      {{ settings.lightboxMessage }}
    </p>
    <ul>
      <li *ngFor="let struc of settings.lightboxList">
        {{ struc }}
      </li>
    </ul>
  </ode-lightbox-confirm>
</div>
