<div class="container has-shadow">
  <h2>
    <s5l>management.structure.informations.general</s5l>
  </h2>
  <form #updateForm="ngForm" (ngSubmit)="updateStructure()">
    <ode-form-field label="management.structure.informations.name">
      <input type="text"
            [(ngModel)]="structName"
            name="name"
            required
            pattern=".*\S+.*"
            (blur)="structName = structName.trim()"
            #nameInput="ngModel"
      >
      <ode-form-errors [control]="nameInput"></ode-form-errors>
      <button type="button" class="cancel" (click)="resetManualName()" *ngIf="structure.manualName">
        <s5l>management.structure.informations.name.reset</s5l>
      </button>
      <i class="fa is-info"><s5l class="info-label">management.structure.informations.help.label</s5l></i>
      <ode-message-sticker type="info" [messages]="['management.structure.informations.name.help']">
      </ode-message-sticker>
    </ode-form-field>

    <ode-form-field label="management.structure.informations.id">
      <span>{{structure.id}}</span>
    </ode-form-field>

    <!-- For ADMCs -->
    <div *ngIf="isADMC == true">
      <ode-form-field label="management.structure.informations.UAI">
        <input type="text"
          [(ngModel)]="structUAI"
          name="UAI"
          required
          pattern="[0-9]{7}[A-Z]"
          #UAIInput="ngModel"
        >
      </ode-form-field>
      <ode-form-errors [control]="UAIInput"></ode-form-errors>
      <ode-form-field label="management.structure.informations.hasApp">
        <input type="checkbox"
          [(ngModel)]="structHasApp"
          name="hasApp"
          #hasAppInput="ngModel"
        >
      </ode-form-field>
      <ode-form-errors [control]="hasAppInput"></ode-form-errors>
    </div>

    <!-- For ADMLs -->
    <div *ngIf="isADMC != true">
      <ode-form-field label="management.structure.informations.UAI">
        <span>{{structure.UAI}}</span>
      </ode-form-field>
      <ode-form-field label="management.structure.informations.hasApp">
        <s5l *ngIf="structure.hasApp == true">management.structure.informations.hasApp.true</s5l>
        <s5l *ngIf="structure.hasApp == false">management.structure.informations.hasApp.false</s5l>
      </ode-form-field>
    </div>

    <ode-form-field label="management.structure.informations.parents" *ngIf="structure.parents != null && structure.parents.length > 0">
      <ul class="actions-list">
        <li *ngFor="let parent of structure.parents">
          <span>{{ parent.name }}</span>
          <i class="fa fa-times action" (click)="detachParent(parent.id)" *ngIf="isADMC == true"
            [title]="'management.structure.informations.parents.detach' | translate">
          </i>
        </li>
      </ul>
    </ode-form-field>

    <div class="action">
      <button class="create confirm"
              [disabled]="updateForm.pristine || updateForm.invalid">
        <s5l>management.structure.informations.update</s5l>
      </button>
    </div>
  </form>
</div>
<div class="container has-shadow">
  <h2>
    <s5l>management.structure.informations.stats</s5l>
  </h2>
  <div class="profile-metrics">
    <div class="profile-column">
      <div class="profile-card">
        <div class="profile-number">{{metrics.students.active}}</div>
        <div class="profile-label"><s5l>management.structure.informations.stats.students.active</s5l></div>
      </div>
      <div class="profile-card">
        <div class="profile-number">{{metrics.students.inactive}}</div>
        <div class="profile-label"><s5l>management.structure.informations.stats.students.inactive</s5l></div>
      </div>
    </div>
    <div class="profile-column">
      <div class="profile-card">
        <div class="profile-number">{{metrics.relatives.active}}</div>
        <div class="profile-label"><s5l>management.structure.informations.stats.relatives.active</s5l></div>
      </div>
      <div class="profile-card">
        <div class="profile-number">{{metrics.relatives.inactive}}</div>
        <div class="profile-label"><s5l>management.structure.informations.stats.relatives.inactive</s5l></div>
      </div>
    </div>
    <div class="profile-column">
      <div class="profile-card">
        <div class="profile-number">{{metrics.teachers.active}}</div>
        <div class="profile-label"><s5l>management.structure.informations.stats.teachers.active</s5l></div>
      </div>
      <div class="profile-card">
        <div class="profile-number">{{metrics.teachers.inactive}}</div>
        <div class="profile-label"><s5l>management.structure.informations.stats.teachers.inactive</s5l></div>
      </div>
    </div>
    <div class="profile-column">
      <div class="profile-card">
        <div class="profile-number">{{metrics.personnels.active}}</div>
        <div class="profile-label"><s5l>management.structure.informations.stats.personnels.active</s5l></div>
      </div>
      <div class="profile-card">
        <div class="profile-number">{{metrics.personnels.inactive}}</div>
        <div class="profile-label"><s5l>management.structure.informations.stats.personnels.inactive</s5l></div>
      </div>
    </div>
  </div>
</div>