.wayf-partners {
  background: --primitives-white;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wayf-partners__placeholder {
  color: var(--primitives-grey-800);
  font-size: 0.875rem;
  margin: 0;
}
