.app-footer {
  background-color: var(--edifice-clients-crna-500);
  border-radius: var(--edifice-border-radius-2xl);
  padding: var(--edifice-spacer-24) var(--edifice-spacer-32);
  margin-top: var(--edifice-spacer-16);
  margin-bottom: var(--edifice-spacer-16);
}

.app-footer-brand {}

.app-footer .app-footer-brand-name {
  margin: 0;
  font-family: var(--edifice-font-family-urbanist);
  font-weight: var(--edifice-font-weight-bold);
  font-size: 2.2rem;
  line-height: var(--edifice-font-lineheight-xs);
  color: var(--edifice-white);
  white-space: nowrap;
}

.app-footer-brand-description {
  margin: 0;
  font-family: var(--edifice-font-family-arimo);
  font-weight: 400;
  font-size: var(--edifice-font-size-default);
  line-height: var(--edifice-font-lineheight-xs);
  color: var(--edifice-white);
}

.app-footer-brand-logo {
  width: 126px;
  height: 62px;
  object-fit: contain;
}

.app-footer-section {
  color: var(--edifice-white);
}

.app-footer .app-footer-section-title {
  margin: 0;
  font-family: var(--edifice-font-family-urbanist);
  font-weight: var(--edifice-font-weight-bold);
  font-size: var(--edifice-font-size-s);
  line-height: var(--edifice-font-lineheight-s);
  color: var(--edifice-white);
  white-space: nowrap;
}

.app-footer-link {
  font-family: var(--edifice-font-family-arimo);
  font-weight: 400;
  font-size: var(--edifice-font-size-default);
  line-height: var(--edifice-font-lineheight-xs);
  color: var(--edifice-white);
  text-decoration: none;
}

.app-footer-link:hover {
  text-decoration: underline;
  color: var(--edifice-white);
}
