.user-toolbar {
  padding: 15px;
}
.user-toolbar i {
  cursor: pointer;
}

.user-toolbar-searchLabel {
  font-size: .9em;
}

.search-input {
  display: flex;
}
.search-icon {
  padding-left: 0px;
}
.search-button {
  background: #ff8352;
  color: white;
}
.structures {
  color: darkgrey;
}