<h1><i class="apps"></i><i18n>portal.header.navigation.myapps</i18n></h1>
<div class="row">
	<nav class="list icons-view bookmarked-apps" dragdrop="addBookmark($item);">
		<div ng-if="bookmarkedApps.length === 0">
			<i18n>apps.drag</i18n>
		</div>
		<div class="list icons-view apps">
			<div class="element reduce-block-six" dragstart ng-model="application" ng-repeat="application in bookmarkedApps | filter: filterBookmark">
				<div class="container">
					<a href="[[application.address]]" target="[[application.target]]" draggable="false">
						<i class="[[application.icon]]" ng-if="application.icon.indexOf('/') === -1"></i>
						<img skin-src="[[application.icon]]" ng-if="application.icon.indexOf('/') !== -1" />
					</a>
				</div>
				<legend>
					<a href="[[application.address]]" target="[[application.target]]" translate content="[[application.displayName]]" draggable="false"></a>
				</legend>
			</div>
		</div>
	</nav>
</div>
<div class="row">
	<input type="search" ng-model="display.searchText" i18n-placeholder="search" class="twelve cell" autofocus />
</div>
<div class="row">
	<nav class="list icons-view" dragdrop="removeBookmark($item)">
		<div class="list icons-view apps">
			<div class="element reduce-block-six" dragstart ng-model="application" ng-repeat="application in applications | orderBy:order | filter:searchDisplayName">
				<div class="container" tooltip="[[application.displayName]]">
					<a href="[[application.address]]" target="[[application.target]]" draggable="false">
						<i class="[[application.icon]]" ng-if="application.icon.indexOf('/') === -1"></i>
						<img skin-src="[[application.icon]]" ng-if="application.icon.indexOf('/') !== -1" />
					</a>
				</div>
				<legend>
					<a href="[[application.address]]" target="[[application.target]]" translate content="[[application.displayName]]" draggable="false"></a>
				</legend>
			</div>
		</div>
	</nav>
</div>
