<div class="calendar">
	<h1 class="current-month-header">[[widget.today('MMMM')]]</h1>
	<div class="content">
		<div class="fluid five cell current-day">
			<h1>[[widget.today('dddd')]]</h1>
			<h2>[[widget.today('D')]]</h2>
			<h3>[[widget.getSeason()]]</h3>
		</div>
		<div class="seven fluid right-magnet">
			<div class="row">
				<div ng-repeat="day in widget.daysInWeek">[[day]]</div>
			</div>
			<div class="row">
				<div class="day cell previous-month" ng-repeat="prev in widget.previousMonth">[[widget.getDayInMonth(prev)]]</div>
				<div class="day cell current-month"
					 ng-repeat="day in widget.month"
					 ng-class="{ today: day.date() === widget.todayDate() }">
					[[widget.getDayInMonth(day)]]
				</div>
				<div class="day cell next-month" ng-repeat="next in widget.nextMonth">[[widget.getDayInMonth(next)]]</div>
			</div>
		</div>
	</div>
</div>