<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~t
-->

<!-- Theme 1D -->
<header class="no-2d navbar navbar-light bg-white">
    <a class="application__title d-desktop-none text-truncate" href="/welcome?token=[[rand]]">
        <i18n>portal.header.navigation.myapps</i18n>
    </a>
    
    <div class="d-mobile-none">
        <img ng-src="[[avatar]]" id="my-photo" />
        <span href="" translate key="welcome"></span>
    </div>
    
    <nav class="navigation">
        <div class="navigation__item">
            <span>
                <a 
                    href="/conversation/conversation" 
                    title="[[lang.translate('navbar.messages')]]" 
                    ng-if="me.hasWorkflow('org.entcore.conversation.controllers.ConversationController|view')"
                >
                    <i class="ic-conversation"><span class="new-mails" ng-if="nbNewMessages">[[nbNewMessages]]</span></i>
                </a>    
            </span>
        </div>
        
        <div class="navigation__item">
            <a href="/userbook/mon-compte" title="[[lang.translate('navbar.myaccount')]]">
                <i class="ic-avatar"></i>
            </a>
        </div>
        
        <div ng-if="currentLanguage == 'fr'" class="navigation__item">
            <a 
                href=""
                title="[[lang.translate('navbar.help')]]" 
                pulsar="{ index: 6, i18n: 'portal.pulsar.help', position: 'bottom center'}" 
            >
                <i18n>help.icon</i18n>
            </a>
        </div>
        
        <div class="navigation__item">
            <a href="" logout title="[[lang.translate('navbar.disconnect')]]">
                <i class="ic-disconnect"></i>
            </a>
        </div>
    </nav>
</header>

<div class="no-2d navigation--secondary">
    <a class="d-mobile-none" href="/timeline/timeline">
        <img class="logo" src="/assets/themes/[[skin.skin]]/img/illustrations/logo.png" alt="Logo de l'ENT">
        <span class="text-truncate d-desktop-none">
            <i18n>portal.header.navigation.myapps</i18n>
        </span>
    </a>
    
    <nav class="navigation">
        <a class="button" href="/timeline/timeline?token=[[rand]]">
          <i class="ic-notifications d-desktop-none"></i>
          <span class="d-mobile-none"><i18n>portal.header.navigation.whatsnew</i18n></span>
        </a>
        
        <a class="button" href="/userbook/annuaire?myClass&token=[[rand]]">
          <i class="ic-userbook d-desktop-none"></i> 
          <span class="d-mobile-none"><i18n>portal.header.navigation.classMembers</i18n></span>
        </a>
        
        <a class="button" href="/welcome?token=[[rand]]">
          <i class="ic-apps d-desktop-none"></i>
          <span class="d-mobile-none"><i18n>portal.header.navigation.myapps</i18n></span>
        </a>
      </nav>
</div>

<!-- Theme 2D -->
<header class="no-1d navbar navbar-dark bg-secondary">
    <a class="d-mobile-none" href="/timeline/timeline?token=[[rand]]">
        <img class="logo" src="/assets/themes/[[skin.skin]]/img/illustrations/logo.png" alt="Logo de l'ENT">
    </a>
    
    <a href="/welcome" class="application__title d-desktop-none text-truncate">
        <i18n>portal.header.navigation.myapps</i18n>
    </a>
    
    <nav class="navigation">
        <div class="navigation__item">
            <a href="/timeline/timeline" title="[[lang.translate('navbar.home')]]"><i class="ic-home"></i></a>
        </div>
        
        <div class="navigation__item" ng-if="me.hasWorkflow('net.atos.entng.community.controllers.CommunityController|view')">
            <a href="/community" class="zero-mobile" title="[[lang.translate('navbar.community')]]">
                <i class="ic-community"></i>
            </a>
        </div>
        
        <div class="navigation__item">
            <popover>
                <a 
                    href="/welcome"
                    title="[[lang.translate('navbar.applications')]]" 
                    pulsar="{ index: 3, i18n: 'portal.pulsar.apps', position: 'bottom center'}" 
                    ng-click="openApps($event)"
                    popover-opener
                >
                    <i class="ic-apps"></i>
                </a>
                
                <popover-content class="d-none">
                    <div class="content">
                        <div class="my-apps row">
                            <div ng-if="me.bookmarkedApps.length === 0">
                                <i18n>navbar.myapps.more</i18n>
                            </div>
                            <div class="bookmarked-app" ng-repeat="app in me.bookmarkedApps">
                                <a href="[[app.address]]" target="[[app.target]]" title="[[translatedDisplayName(app)]]">
                                    <i class="application [[app.icon]]" ng-if="app.icon.indexOf('/') === -1"></i>
                                    <img skin-src="[[app.icon]]" ng-if="app.icon.indexOf('/') !== -1" />
                                </a>
                            </div>
                        </div>
                        <div class="more">
                            <a href="/welcome"><i18n>plus</i18n></a>
                        </div>
                    </div>
                </popover-content>
            </popover>
        </div>
        
        <div class="navigation__item">
            <span ng-include="template.containers.portal.conversationUnread"></span>
        </div>
        
        <div class="navigation__item" ng-if="me.hasWorkflow('fr.openent.searchengine.controllers.SearchEngineController|view')">
            <popover class="searchengine">
                <a href="/searchengine" popover-opener ng-click="openApps($event)" title="[[lang.translate('navbar.search')]]">
                    <i class="ic-search"></i>
                </a>
                <popover-content class="searchPortal" ng-controller="SearchPortal">
                    <div class="content searchContent">
                        <div class="search-text row">
                            <input type="text" class="searchInput" name="mysearch" ng-model="mysearch"
                                ng-keyup="launchSearch($event);" />
                            <button class="searchButton" ng-click="launchSearch('link');">
                                <i18n>ok</i18n>
                            </button>
                        </div>
                    </div>
                </popover-content>
            </popover>
        </div>
        
        <div ng-if="currentLanguage == 'fr'" class="navigation__item">
            <a 
                href=""
                title="[[lang.translate('navbar.help')]]" 
                pulsar="{ index: 5, i18n: 'portal.pulsar.help', position: 'bottom center'}" 
            >
                <i18n>help.icon</i18n>
            </a>
        </div>
        
        <div class="navigation__item">
            <a 
                href="/userbook/mon-compte" 
                class="avatar" 
                title="[[lang.translate('navbar.myaccount')]]" 
                pulsar="{ index: 4, i18n: 'portal.pulsar.account', position: 'bottom center'}"
            >
                <img data-ng-src="[[avatar ? avatar+'?thumbnail=48x48' : '']]" id="my-photo" />
            </a>
        </div>
        
        <div class="navigation__item">
            <a href="" logout title="[[lang.translate('navbar.disconnect')]]">
                <i class="ic-disconnect"></i>
            </a>
        </div>
    </nav>
</header>

<main class="main" role="main">
    <div id="directory"></div>
    <div ng-transclude></div>
</main>

<xiti></xiti>
