<!--
 ~	Copyright © WebServices pour l'Éducation, 2014
 ~
 ~ This file is part of ENT Core. ENT Core is a versatile ENT engine based on the JVM.
 ~
 ~ This program is free software; you can redistribute it and/or modify
 ~ it under the terms of the GNU Affero General Public License as
 ~ published by the Free Software Foundation (version 3 of the License).
 ~
 ~ For the sake of explanation, any module that communicate over native
 ~ Web protocols, such as HTTP, with ENT Core is outside the scope of this
 ~ license and could be license under its own terms. This is merely considered
 ~ normal use of ENT Core, and does not fall under the heading of "covered work".
 ~
 ~ This program is distributed in the hope that it will be useful,
 ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
 ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 ~t
-->

<!-- Theme 1D -->
<header class="no-2d navbar navbar-light bg-white">
    <a class="application__title d-desktop-none text-truncate" href="/welcome?token=[[rand]]">
        <i18n>portal.header.navigation.myapps</i18n>
    </a>
    
    <div class="d-mobile-none">
        <img ng-src="[[avatar]]" id="my-photo" />
        <span href="" translate key="welcome"></span>
    </div>
    
    <nav class="navigation">
        <div class="navigation__item">
            <span>
                <a 
                    href="/conversation/conversation" 
                    title="[[lang.translate('navbar.messages')]]" 
                    ng-if="me.hasWorkflow('org.entcore.conversation.controllers.ConversationController|view')"
                >
                    <i class="ic-conversation"><span class="new-mails" ng-if="nbNewMessages">[[nbNewMessages]]</span></i>
                </a>    
            </span>
        </div>
        
        <div class="navigation__item">
            <a href="/userbook/mon-compte" title="[[lang.translate('navbar.myaccount')]]">
                <i class="ic-avatar"></i>
            </a>
        </div>
        
        <div ng-if="currentLanguage == 'fr'" class="navigation__item">
            <a 
                href=""
                title="[[lang.translate('navbar.help')]]" 
                aria-label="[[lang.translate('navbar.help')]]" 
                pulsar="{ index: 6, i18n: 'portal.pulsar.help', position: 'bottom center'}" 
            >
                <i18n>help.icon</i18n>
            </a>
        </div>
        
        <div class="navigation__item">
            <a href="" logout title="[[lang.translate('navbar.disconnect')]]">
                <i class="ic-disconnect"></i>
            </a>
        </div>
    </nav>
</header>

<div class="no-2d navigation--secondary">
    <a class="d-mobile-none" href="/timeline/timeline">
        <img class="logo" src="/assets/themes/[[skin.skin]]/img/illustrations/logo.png" alt="Logo de l'ENT">
        <span class="text-truncate d-desktop-none">
            <i18n>portal.header.navigation.myapps</i18n>
        </span>
    </a>
    
    <nav class="navigation">
        <a class="button" href="/timeline/timeline?token=[[rand]]">
          <i class="ic-notifications d-desktop-none"></i>
          <span class="d-mobile-none"><i18n>portal.header.navigation.whatsnew</i18n></span>
        </a>
        
        <a class="button" href="/userbook/annuaire?myClass&token=[[rand]]">
          <i class="ic-userbook d-desktop-none"></i> 
          <span class="d-mobile-none"><i18n>portal.header.navigation.classMembers</i18n></span>
        </a>
        
        <a class="button" href="/welcome?token=[[rand]]">
          <i class="ic-apps d-desktop-none"></i>
          <span class="d-mobile-none"><i18n>portal.header.navigation.myapps</i18n></span>
        </a>
      </nav>
</div>

<!-- Theme 2D -->
<header class="no-1d navbar sticky-top bg-secondary">
    <div class="container">
        <a class="navbar-brand d-mobile-none" href="/timeline/timeline?token=[[rand]]">
            <img class="logo" src="/assets/themes/[[skin.skin]]/img/illustrations/logo.png" alt="Logo de l'ENT">
        </a>

        <a href="/welcome" class="navbar-title d-desktop-none text-truncate">
            <i18n>navbar.applications</i18n>
        </a>

        <nav class="navbar-nav">
            <a href="/timeline/timeline" class="nav-link" i18n-title="navbar.home">
                <i class="ic-home" aria-hidden="true"></i>
                <span class="sr-only"><i18n>navbar.home</i18n></span>
            </a>

            <a href="/community" data-community class="nav-link d-none d-sm-inline-block" i18n-title="navbar.community"
                ng-if="me.hasWorkflow('net.atos.entng.community.controllers.CommunityController|view')">
                <i class="ic-community" aria-hidden="true"></i>
                <span class="sr-only"><i18n>navbar.community</i18n></span>
            </a>

            <popover
                title="[[lang.translate('navbar.applications')]]" 
                pulsar="{ index: 3, i18n: 'portal.pulsar.apps', position: 'bottom center'}" >
                <a href="/welcome" class="nav-link pe-mobile" i18n-title="navbar.applications"
                popover-opener>
                    <i class="ic-apps" aria-hidden="true"></i>
                    <span class="sr-only"><i18n>navbar.applications</i18n></span>
                </a>
                <popover-content class="widget">
                    <div class="widget-applications">
                        <div class="widget-body d-flex flex-wrap">
                            <div ng-if="me.bookmarkedApps.length === 0">
                                <i18n>navbar.myapps.more</i18n>
                            </div>
                            <div class="bookmarked-app" ng-repeat="app in me.bookmarkedApps">
                                <a connector-lightbox-trigger="app" href="[[app.address]]" target="[[app.target]]" title="[[translatedDisplayName(app)]]">
                                    <i class="application" ng-class="getIconClass(app)" ng-if="app.icon.indexOf('/') === -1"></i>
                                    <img ng-src="[[app.icon]]" ng-if="app.icon.indexOf('/') !== -1" />
                                </a>
                            </div>
                        </div>
                        <div class="widget-footer border-top border-ghost">
                            <div class="widget-footer-action">
                                <a class="link" href="/welcome"><i18n>plus</i18n></a>
                            </div>
                        </div>
                    </div>
                </popover-content>
            </popover>

            <div class="nav-link" ng-include="template.containers.portal.conversationUnread"></div>

            <popover class="nav-link d-none d-sm-inline-block"
                ng-if="me.hasWorkflow('fr.openent.searchengine.controllers.SearchEngineController|view')">
                <a
                    href="/searchengine" 
                    i18n-title="navbar.search"
                    popover-opener
                    class="pe-mobile">
                    <i class="ic-search" aria-hidden="true"></i>
                    <span class="sr-only"><i18n>navbar.search</i18n></span>
                </a>
                <popover-content class="widget searchPortal">
                    <div class="content searchContent">
                        <div class="search-text row">
                            <label class="sr-only" for="searchInput">mysearch</label>
                            <input type="text" class="searchInput" id="searchInput" name="mysearch" ng-model="mysearch"
                                ng-keyup="launchSearch($event);" />
                            <button class="searchButton" ng-click="launchSearch('link');">
                                <i18n>ok</i18n>
                            </button>
                        </div>
                    </div>
                </popover-content>
            </popover>

            <a href="#" i18n-title="navbar.help" class="nav-link" aria-label="navbar.help"
                pulsar="{ index:5, style:{zIndex:1021}, i18n:'portal.pulsar.help', position:'bottom center'}"
                ng-if="currentLanguage == 'fr'">
                <help></help><!-- i18n>help.icon</i18n -->
            </a>

            <a href="/userbook/mon-compte" i18n-title="navbar.myaccount" class="nav-link d-none d-sm-block"
                pulsar="{ index:4, style:{zIndex:1021}, i18n:'portal.pulsar.account', position:'bottom center'}">
                <img class="avatar" width="30" height="30" data-ng-src="[[avatar ? avatar+'?thumbnail=48x48' : '']]" alt="avatar" />
                <span class="sr-only"><i18n>navbar.myaccount</i18n></span>
            </a>

            <a href="#" class="nav-link d-none d-sm-inline-flex" logout i18n-title="navbar.disconnect">
                <i class="ic-disconnect" aria-hidden="true"></i>
                <span class="sr-only"><i18n>navbar.disconnect</i18n></span>
            </a>

            <div class="dropdown d-inline-block d-sm-none">
                <button id="dropdown-label" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <ul class="dropdown-menu dropdown-menu-end" data-bs-popper aria-labelledby="dropdown-label">
                  <li ng-if="me.hasWorkflow('fr.openent.searchengine.controllers.SearchEngineController|view')">
                    <a class="dropdown-item" href="/searchengine" i18n-title="navbar.search">
                        <i class="ic-search"></i>
                        &nbsp;<i18n>navbar.search</i18n>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/userbook/mon-compte" i18n-title="navbar.myaccount">
                        <img class="avatar" width="20" height="20" data-ng-src="[[avatar ? avatar+'?thumbnail=48x48' : '']]" alt="avatar" />
                        &nbsp;<i18n>navbar.myaccount</i18n>
                    </a>
                  </li>
                  <li data-community ng-if="me.hasWorkflow('net.atos.entng.community.controllers.CommunityController|view')">
                    <a class="dropdown-item" href="/community" i18n-title="navbar.community">
                        <i class="ic-community" aria-hidden="true"></i>
                        &nbsp;<i18n>navbar.community</i18n>
                    </a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item" href="" logout i18n-title="navbar.disconnect">
                        <i class="ic-disconnect"></i>
                        &nbsp;<i18n>navbar.disconnect</i18n>
                    </a>
                  </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<main class="container container-applications" role="main">
    <div id="directory"></div>
    <div ng-transclude></div>
</main>

<connector-lightbox></connector-lightbox>
<xiti></xiti>
